Repository biomejs/biome, changes with the labels that .github/labeler.yml gives for each.
All labels: A-Cli, A-Core, A-Project, A-Linter, A-Parser, A-Formatter, A-Editors, A-Diagnostic, A-Tooling, A-LSP, A-Changelog, L-Javascript, L-Json, L-CSS, L-HTML, L-Grit

.github/labeler.yml:

# See https://github.com/actions/labeler

A-Cli:
- changed-files:
  - any-glob-to-any-file:
    - crates/biome_cli/**
    - crates/biome_fs/**
    - crates/biome_console/**

A-Core:
- changed-files:
  - any-glob-to-any-file:
    - crates/biome_deserializer/**
    - crates/biome_fs/**
    - crates/biome_rowan/**
    - crates/biome_text_edit/**
    - crates/biome_text_size/**
    - crates/biome_suppression/**
    - crates/biome_markup/**

A-Project:
- changed-files:
  - any-glob-to-any-file:
    - crates/biome_service/**
    - crates/biome_configuration/**

A-Linter:
- changed-files:
  - any-glob-to-any-file:
    - crates/biome_analyze/**
    - crates/biome_*_analyze/**

A-Parser:
- changed-files:
  - any-glob-to-any-file:
    - crates/biome_parser/**
    - crates/biome_*_parser/**
    - crates/biome_*_syntax/**

A-Formatter:
- changed-files:
  - any-glob-to-any-file:
    - crates/biome_formatter/**
    - crates/biome_formatter_test/**
    - crates/biome_*_formatter/**

A-Editors:
- changed-files:
  - any-glob-to-any-file:
    - crates/editors/**

A-Diagnostic:
- changed-files:
  - any-glob-to-any-file:
    - crates/biome_diagnostics/**
    - crates/biome_diagnostics_categories/**
    - crates/biome_diagnostics_macros/**

A-Tooling:
- changed-files:
  - any-glob-to-any-file:
    - xtask/**
    - crates/biome_ungrammar/**

A-LSP:
- changed-files:
  - any-glob-to-any-file:
    - crates/biome_lsp/**

A-Changelog:
- changed-files:
  - any-glob-to-any-file:
    - CHANGELOG.md

L-Javascript:
- changed-files:
  - any-glob-to-any-file:
    - crates/biome_js_*/**

L-Json:
- changed-files:
  - any-glob-to-any-file:
    - crates/biome_json_*/**

L-CSS:
- changed-files:
  - any-glob-to-any-file:
    - crates/biome_css_*/**

L-HTML:
- changed-files:
  - any-glob-to-any-file:
    - crates/biome_html_*/**

L-Grit:
- changed-files:
  - any-glob-to-any-file:
    - crates/biome_grit_*/**

chore: remove unused equals
  crates/biome_text_size/src/range.rs
Labels: A-Core

done
  crates/biome_markdown_parser/src/lexer/mod.rs
  crates/biome_markdown_parser/src/lexer/tests.rs
  crates/biome_markdown_parser/src/syntax.rs
  crates/biome_markdown_parser/src/syntax/thematic_break_block.rs
  crates/biome_markdown_parser/src/token_source.rs
  crates/biome_markdown_parser/tests/md_test_suite/ok/thematic_break_block.md.snap
  crates/biome_markdown_syntax/src/generated/kind.rs
  xtask/codegen/src/markdown_kinds_src.rs
Labels: A-Parser, A-Tooling

losslessness test
  crates/biome_markdown_parser/src/lexer/mod.rs
Labels: A-Parser

format
  crates/biome_markdown_parser/src/lexer/mod.rs
Labels: A-Parser

fix: handle edge case
  crates/biome_css_semantic/src/semantic_model/model.rs
  crates/biome_text_size/src/range.rs
Labels: A-Core, L-CSS

WIP
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/migrate.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/process_file/lint.rs
  crates/biome_cli/src/lib.rs
Labels: A-Cli

chore: comment
  crates/biome_css_semantic/src/semantic_model/model.rs
Labels: L-CSS

done
  crates/biome_markdown_parser/src/lexer/mod.rs
  crates/biome_markdown_parser/src/lexer/tests.rs
  crates/biome_markdown_parser/src/syntax.rs
  crates/biome_markdown_parser/src/token_source.rs
Labels: A-Parser

fix: lint
  crates/biome_markdown_parser/src/syntax.rs
  crates/biome_markdown_parser/src/token_source.rs
Labels: A-Parser
