Repository biomejs/biome, changes with the labels that .github/labeler.yml gives for each.
All labels: A-Cli, A-Core, A-Project, A-Linter, A-Parser, A-Formatter, A-Editors, A-Diagnostic, A-Tooling, A-Website, A-LSP, A-Changelog, L-Javascript, L-Json, L-CSS

chore: rename rome_js_unicode_table to biome_js_unicode_table
  .gitattributes
  Cargo.toml
  crates/biome_css_parser/Cargo.toml
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_js_unicode_table/Cargo.toml
  crates/biome_js_unicode_table/src/bytes.rs
  crates/biome_js_unicode_table/src/lib.rs
  crates/biome_js_unicode_table/src/tables.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/analyzers/complexity/use_literal_keys.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_naming_convention.rs
  crates/rome_js_parser/Cargo.toml
  crates/rome_js_parser/src/lexer/mod.rs
  crates/rome_json_parser/Cargo.toml
  crates/rome_json_parser/src/lexer/mod.rs
  xtask/codegen/src/unicode.rs
Labels: A-Linter, A-Parser, A-Tooling, L-Javascript, L-Json

chore: format
  Cargo.lock
  Cargo.toml
  crates/biome_css_parser/Cargo.toml
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_parser/Cargo.toml
  crates/rome_json_parser/Cargo.toml
Labels: A-Linter, A-Parser, L-Javascript, L-Json

refactor: use for instead of recursive call
  crates/rome_js_analyze/src/analyzers/nursery/no_confusing_void_type.rs
  crates/rome_rowan/src/ast/mod.rs
Labels: A-Core, A-Linter, L-Javascript

chore: fix error on Test (windows-latest)
  crates/rome_cli/tests/commands/format.rs
Labels: A-Cli

feat(lint/noConfusingVoidType): add no-invalid-void-type (#184)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_confusing_void_type.rs
  crates/rome_js_analyze/tests/specs/nursery/noConfusingVoidType/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/noConfusingVoidType/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noConfusingVoidType/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/noConfusingVoidType/valid.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-confusing-void-type.md
Labels: A-Project, A-Linter, A-Diagnostic, A-Website, L-Javascript

chore: rename `rome_js_unicode_table` to `biome_js_unicode_table` biomejs#88 (#205)
  .gitattributes
  Cargo.lock
  Cargo.toml
  crates/biome_css_parser/Cargo.toml
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_js_unicode_table/Cargo.toml
  crates/biome_js_unicode_table/src/bytes.rs
  crates/biome_js_unicode_table/src/lib.rs
  crates/biome_js_unicode_table/src/tables.rs
  crates/rome_cli/tests/commands/format.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/analyzers/complexity/use_literal_keys.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_naming_convention.rs
  crates/rome_js_parser/Cargo.toml
  crates/rome_js_parser/src/lexer/mod.rs
  crates/rome_json_parser/Cargo.toml
  crates/rome_json_parser/src/lexer/mod.rs
  xtask/codegen/src/unicode.rs
Labels: A-Cli, A-Linter, A-Parser, A-Tooling, L-Javascript, L-Json

.github/labeler.yml:

# See https://github.com/actions/labeler

A-Cli:
  - crates/rome_cli/**
  - crates/rome_fs/**
  - crates/rome_console/**

A-Core:
  - crates/rome_deserializer/**
  - crates/rome_fs/**
  - crates/rome_rowan/**
  - crates/biome_text_edit/**
  - crates/biome_text_size/**
  - crates/biome_suppression/**
  - crates/biome_markup/**

A-Project:
  - crates/rome_service/**

A-Linter:
  - crates/biome_analyze/**
  - crates/rome_js_analyze/**
  - crates/rome_json_analyze/**

A-Parser:
  - crates/biome_parser/**
  - crates/rome_js_parser/**
  - crates/rome_js_syntax/**
  - crates/rome_json_parser/**
  - crates/rome_json_syntax/**
  - crates/biome_css_parser/**
  - crates/biome_css_syntax/**

A-Formatter:
  - crates/rome_formatter/**
  - crates/rome_formatter_test/**
  - crates/rome_js_formatter/**
  - crates/rome_json_formatter/**
  - crates/rome_css_formatter/**

A-Editors:
  - crates/editors/**

A-Diagnostic:
  - crates/rome_diagnostics/**
  - crates/rome_diagnostics_categories/**
  - crates/rome_diagnostics_macros/**

A-Tooling:
  - xtask/**

A-Website:
  - website/**

A-LSP:
  - crates/biome_lsp/**

A-Changelog:
  - CHANGELOG.md

L-Javascript:
  - crates/rome_js_*/**

L-Json:
  - crates/rome_json_*/**

L-CSS:
  - crates/rome_css_*/**
