Repository biomejs/biome, pull requests merged in 2023-11, with the labels that each got.

#646 Fix parsing `maxAllowedComplexity`
  crates/biome_js_analyze/src/analyzers/complexity/no_excessive_cognitive_complexity.rs
Labels: A-Linter, L-JavaScript

#626 feat: add `biome_project`
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/src/execute/process_file/lint.rs
  crates/biome_deserialize/src/json.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_json_analyze/src/lib.rs
  crates/biome_json_analyze/tests/spec_tests.rs
  crates/biome_json_syntax/src/syntax_node.rs
  crates/biome_lsp/src/server.rs
  crates/biome_migrate/src/lib.rs
  crates/biome_migrate/tests/spec_tests.rs
  crates/biome_migrate/tests/specs/migrations/indentSize/invalid.json.snap
  crates/biome_project/Cargo.toml
  crates/biome_project/src/diagnostics.rs
  crates/biome_project/src/lib.rs
  crates/biome_project/src/license/generated.rs
  crates/biome_project/src/license/mod.rs
  crates/biome_project/src/node_js_project/mod.rs
  crates/biome_project/src/node_js_project/package_json.rs
  crates/biome_project/tests/invalid/dependency_not_number.json
  crates/biome_project/tests/invalid/dependency_not_number.json.snap
  crates/biome_project/tests/invalid/incomplete_version.json
  crates/biome_project/tests/invalid/incomplete_version.json.snap
  crates/biome_project/tests/invalid/license_invalid.json
  crates/biome_project/tests/invalid/license_invalid.json.snap
  crates/biome_project/tests/invalid/lisence_not_string.json
  crates/biome_project/tests/invalid/lisence_not_string.json.snap
  crates/biome_project/tests/invalid/name.json
  crates/biome_project/tests/invalid/name.json.snap
  crates/biome_project/tests/invalid/name.snap
  crates/biome_project/tests/invalid/version.json
  crates/biome_project/tests/invalid/version.json.snap
  crates/biome_project/tests/manifest_spec_tests.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/lib.rs
  crates/biome_service/src/project_handlers/mod.rs
  crates/biome_service/src/project_handlers/node.rs
  crates/biome_service/src/project_handlers/unknown.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/client.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace_types.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_license.rs
  xtask/codegen/src/main.rs
  xtask/lintdoc/src/main.rs
Labels: A-CLI, A-Project, A-Linter, A-Parser, A-Tooling, A-LSP, L-JSON, A-Diagnostic

#648 fix(cli): error code for `format` command
  CHANGELOG.md
  CONTRIBUTING.md
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_format/format_json_when_allow_trailing_commas.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_jsonc_files.snap
  crates/biome_cli/tests/snapshots/main_commands_format/formatter_lint_warning.snap
  crates/biome_cli/tests/snapshots/main_commands_format/formatter_print.snap
  crates/biome_cli/tests/snapshots/main_commands_format/ignore_comments_error_when_allow_comments.snap
  crates/biome_cli/tests/snapshots/main_commands_format/ignores_unknown_file.snap
  crates/biome_cli/tests/snapshots/main_commands_format/max_diagnostics.snap
  crates/biome_cli/tests/snapshots/main_commands_format/max_diagnostics_default.snap
  crates/biome_cli/tests/snapshots/main_commands_format/print_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_format/treat_known_json_files_as_jsonc_files.snap
  justfile
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Website, A-Changelog

#624 fix/added-guide-to-explain-how-biome-behaves-with-new-files
  biome-behaviour.mdx
  packages/@biomejs/js-api/src/wasm.ts
  website/astro.config.ts
  website/package.json
  website/src/content/docs/reference/configuration.mdx
Labels: A-Website

#649 docs(website): add page that explains some biome's assumptions/behaviour
  crates/biome_service/src/file_handlers/mod.rs
  website/astro.config.ts
  website/package.json
  website/src/components/generated/DefaultConfiguration.mdx
  website/src/content/docs/guides/how-biome-works.mdx
  website/src/content/docs/reference/configuration.mdx
  xtask/codegen/src/generate_website.rs
Labels: A-Project, A-Tooling, A-Website

#652 docs(website): new guide for editors
  website/astro.config.ts
  website/package.json
  website/src/content/docs/guides/integrate-in-editor.mdx
Labels: A-Website

#655 fix: allow unused mapped key
  CHANGELOG.md
  crates/biome_js_analyze/src/semantic_analyzers/correctness/no_unused_variables.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidTypeParam.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidTypeParam.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validTypeParam.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validTypeParam.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#654 refactor(js_semantic): handle bindings with bogus names
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_semantic/src/semantic_model/builder.rs
Labels: L-JavaScript

#657 fix: handle infer in unions
  CHANGELOG.md
  crates/biome_js_analyze/src/semantic_analyzers/correctness/no_unused_variables.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidTypeParam.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidTypeParam.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validTypeParam.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validTypeParam.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#658 feat(cli): help with colours
  Cargo.lock
  crates/biome_cli/Cargo.toml
  crates/biome_cli/src/main.rs
Labels: A-CLI

#659 fix(lint/noUnusedImports): remove entire line of an unused import
  CHANGELOG.md
  crates/biome_js_analyze/src/utils/batch.rs
  crates/biome_js_analyze/tests/specs/nursery/noUnusedImports/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUnusedImports/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUnusedImports/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noUnusedImports/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/suspicious/noRedundantUseStrict/invalid.cjs.snap
  crates/biome_js_analyze/tests/specs/suspicious/noRedundantUseStrict/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noRedundantUseStrict/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/suspicious/noRedundantUseStrict/invalidClass.cjs.snap
  crates/biome_js_analyze/tests/specs/suspicious/noRedundantUseStrict/invalidFunction.cjs.snap
  crates/biome_js_analyze/tests/specs/suspicious/noRedundantUseStrict/invalidFunction.js.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-redundant-use-strict.md
  website/src/content/docs/linter/rules/no-unused-imports.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#665 docs(website): reworked the editor plugins section
  website/src/content/docs/guides/getting-started.mdx
  website/src/content/docs/guides/integrate-in-editor.mdx
Labels: A-Website

#672 refactor: small test infrastructure
  crates/biome_cli/tests/cases/biome_json_support.rs
  crates/biome_cli/tests/cases/included_files.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/ci.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/commands/init.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/commands/migrate.rs
  crates/biome_cli/tests/main.rs
Labels: A-CLI

#678 fix(cli): remove CLI options from the `lsp-proxy` command
  CHANGELOG.md
  CONTRIBUTING.md
  crates/biome_analyze/CONTRIBUTING.md
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/snapshots/main_commands_lsp_proxy/lsp_proxy_help.snap
  justfile
  website/astro.config.ts
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Linter, A-Website, A-Changelog

#686 fix(lint): use correct node for code action
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/a11y/no_blank_target.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#687 docs: replace deprecated `indentSize` with `indentWidth`
  website/src/content/docs/formatter/index.mdx
Labels: A-Website

#673 feat(css_parser): CSS Parser pseudo element selector #268
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/selector.rs
  crates/biome_css_parser/tests/css_test_suite/error/selector/attribute_selector.css
  crates/biome_css_parser/tests/css_test_suite/error/selector/attribute_selector.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_element.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_element_function_identifier.css
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_element_function_identifier.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_element_function_selector.css
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_element_function_selector.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/basic.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/cue-region.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/cue.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/highlight.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/part.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/presudo_complex.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/slotted.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Tooling, L-CSS

#685 feat(cli): add `--config-path` to `lsp-proxy` and `start` commands
  CHANGELOG.md
  crates/biome_cli/src/commands/daemon.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/src/main.rs
  crates/biome_cli/src/service/unix.rs
  crates/biome_cli/src/service/windows.rs
  crates/biome_cli/tests/main.rs
  crates/biome_cli/tests/snapshots/main_commands_lsp_proxy/lsp_proxy_help.snap
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/session.rs
  crates/biome_lsp/tests/server.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-LSP, A-Website, A-Changelog

#677 feat(cli): add --diagnostic-level option
  CHANGELOG.md
  crates/biome_cli/src/cli_options.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/cases/diagnostics.rs
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/snapshots/main_cases_diagnostics/logs_the_appropriate_messages_according_to_set_diagonstics_level.snap
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/migrate_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/rage_help.snap
  crates/biome_diagnostics/src/diagnostic.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Website, A-Diagnostic, A-Changelog

#690 chore: replace biomejs.dev/lint to biomejs.dev/linter
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-approximative-numeric-constant.md
  website/src/content/docs/linter/rules/no-empty-block-statements.md
  website/src/content/docs/linter/rules/no-empty-character-class-in-regex.md
  website/src/content/docs/linter/rules/no-interactive-element-to-noninteractive-role.md
  website/src/content/docs/linter/rules/no-invalid-new-builtin.md
  website/src/content/docs/linter/rules/no-misrefactored-shorthand-assign.md
  website/src/content/docs/linter/rules/no-this-in-static.md
  website/src/content/docs/linter/rules/no-unused-imports.md
  website/src/content/docs/linter/rules/no-useless-else.md
  website/src/content/docs/linter/rules/no-useless-lone-block-statements.md
  website/src/content/docs/linter/rules/use-aria-activedescendant-with-tabindex.md
  website/src/content/docs/linter/rules/use-as-const-assertion.md
  website/src/content/docs/linter/rules/use-collapsed-else-if.md
  website/src/content/docs/linter/rules/use-shorthand-assign.md
  xtask/codegen/src/generate_new_lintrule.rs
Labels: A-Tooling, A-Website, A-Diagnostic, A-Changelog

#694 chore(website): add coc-biome
  website/src/content/docs/guides/integrate-in-editor.mdx
Labels: A-Website

#695 feat(biome_js_parser): allow newline between the `static` and the class member name
  crates/biome_js_parser/src/syntax/class.rs
  crates/biome_js_parser/test_data/inline/ok/class_member_modifiers_no_asi.js
  crates/biome_js_parser/test_data/inline/ok/class_member_modifiers_no_asi.rast
Labels: A-Parser, L-JavaScript

#668 fix: `useNamingConvention` double capital camelCase diagnostic
  crates/biome_js_analyze/src/semantic_analyzers/style/use_naming_convention.rs
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidTopLevelVariable.ts
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidTopLevelVariable.ts.snap
  website/src/content/docs/linter/rules/use-naming-convention.md
Labels: A-Linter, A-Website, L-JavaScript

#693 fix(biome_console): fix printing emojis consisting of multiple codepoints
  CHANGELOG.md
  Cargo.lock
  crates/biome_console/Cargo.toml
  crates/biome_console/src/write/termcolor.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Website, A-Changelog

#614 fix(formatter): don't break before `in` keyword
  CHANGELOG.md
  crates/biome_js_formatter/src/ts/types/mapped_type.rs
  crates/biome_js_formatter/src/ts/types/union_type.rs
  crates/biome_js_formatter/tests/quick_test.rs
  crates/biome_js_formatter/tests/specs/prettier/typescript/prettier-ignore/mapped-types.ts
  crates/biome_js_formatter/tests/specs/prettier/typescript/prettier-ignore/mapped-types.ts.snap
  crates/biome_js_formatter/tests/specs/ts/type/mapped_type.ts
  crates/biome_js_formatter/tests/specs/ts/type/mapped_type.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Formatter, A-Website, L-JavaScript, A-Changelog

#585 feat(lint/noUnusedPrivateClassMember): add rule
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_unused_private_class_members.rs
  crates/biome_js_analyze/tests/specs/nursery/noUnusedPrivateClassMembers/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUnusedPrivateClassMembers/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUnusedPrivateClassMembers/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noUnusedPrivateClassMembers/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noUnusedPrivateClassMembers/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUnusedPrivateClassMembers/valid.js.snap
  crates/biome_js_syntax/src/identifier_ext.rs
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/tests/invalid/hooks_incorrect_options.json.snap
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-unused-private-class-members.md
Labels: A-Project, A-Linter, A-Parser, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#705 fix(lint): fix a false positive in `lint/correctness/noUnnecessaryContinue`
  crates/biome_js_analyze/src/analyzers/correctness/no_unnecessary_continue.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnnecessaryContinue/valid.js
  crates/biome_js_analyze/tests/specs/correctness/noUnnecessaryContinue/valid.js.snap
Labels: A-Linter, L-JavaScript

#699 feat(lint): implement useAwait
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/use_await.rs
  crates/biome_js_analyze/tests/specs/nursery/useAwait/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useAwait/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useAwait/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useAwait/valid.js.snap
  crates/biome_js_syntax/src/function_ext.rs
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/tests/invalid/hooks_incorrect_options.json.snap
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/use-await.md
Labels: A-Project, A-Linter, A-Parser, A-Website, L-JavaScript, A-Diagnostic

#553 feat(lint): new rule `useValidAriaRole`
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/aria_analyzers/nursery.rs
  crates/biome_js_analyze/src/aria_analyzers/nursery/use_valid_aria_role.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useValidAriaRole/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useValidAriaRole/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useValidAriaRole/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useValidAriaRole/valid.jsx.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/tests/invalid/hooks_incorrect_options.json.snap
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/use-valid-aria-role.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#599 feat(lint/noDefaultExport): add rule
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_default_export.rs
  crates/biome_js_analyze/tests/specs/nursery/noDefaultExport/invalid.json
  crates/biome_js_analyze/tests/specs/nursery/noDefaultExport/invalid.json.snap
  crates/biome_js_analyze/tests/specs/nursery/noDefaultExport/valid.cjs
  crates/biome_js_analyze/tests/specs/nursery/noDefaultExport/valid.cjs.snap
  crates/biome_js_analyze/tests/specs/nursery/noDefaultExport/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noDefaultExport/valid.js.snap
  crates/biome_js_syntax/src/identifier_ext.rs
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/tests/invalid/hooks_incorrect_options.json.snap
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-default-export.md
Labels: A-Project, A-Linter, A-Parser, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#707 feat(formatter): Parenthesize typeof type expressions in array and indexed access types
  crates/biome_js_formatter/src/ts/types/typeof_type.rs
  crates/biome_js_formatter/tests/specs/prettier/typescript/typeof/typeof.ts.snap
  crates/biome_js_formatter/tests/specs/ts/parenthesis.ts
  crates/biome_js_formatter/tests/specs/ts/parenthesis.ts.snap
Labels: A-Formatter, L-JavaScript

#715 feat(lint): Implement `noImplicitAnyLet`
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_implicit_any_let.rs
  crates/biome_js_analyze/tests/specs/nursery/noImplicitAnyLet/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noImplicitAnyLet/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noImplicitAnyLet/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noImplicitAnyLet/valid.ts.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/tests/invalid/hooks_incorrect_options.json.snap
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-implicit-any-let.md
  website/src/frontend-scripts/index.ts
  website/src/frontend-scripts/toc.ts
  website/src/playground/tabs/FormatterCodeTab.tsx
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#723 chore: fix typo in CHANGELOG.md
  CHANGELOG.md
  website/src/content/docs/internals/changelog.mdx
Labels: A-Website, A-Changelog

#719 challenge(formatter): predictable order of type parameter modifiers
  Cargo.lock
  crates/biome_js_formatter/Cargo.toml
  crates/biome_js_formatter/src/ts/lists/type_parameter_modifier_list.rs
  crates/biome_js_formatter/tests/specs/prettier/typescript/typeparams/const.ts.snap
  crates/biome_js_syntax/src/modifier_ext.rs
Labels: A-Parser, A-Formatter, L-JavaScript

#729 ffix(lint/noInferrableTypes): assume TypeScript unsafe null mode
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/style/no_inferrable_types.rs
  crates/biome_js_analyze/tests/specs/style/noInferrableTypes/invalid.ts
  crates/biome_js_analyze/tests/specs/style/noInferrableTypes/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/style/noInferrableTypes/valid.ts
  crates/biome_js_analyze/tests/specs/style/noInferrableTypes/valid.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#732 chore: add prettier compat report
  crates/biome_js_formatter/report.md
Labels: A-Formatter, L-JavaScript

#734 challenge(formatter): don't print empty import assertion
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/src/js/module/export_from_clause.rs
  crates/biome_js_formatter/src/js/module/export_named_from_clause.rs
  crates/biome_js_formatter/src/js/module/import_assertion.rs
  crates/biome_js_formatter/src/js/module/import_bare_clause.rs
  crates/biome_js_formatter/src/js/module/import_default_clause.rs
  crates/biome_js_formatter/src/js/module/import_named_clause.rs
  crates/biome_js_formatter/src/js/module/import_namespace_clause.rs
  crates/biome_js_formatter/tests/specs/prettier/js/import-assertions/bracket-spacing/empty.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/import-assertions/empty.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/import-attributes/bracket-spacing/empty.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/import-attributes/empty.js.snap
Labels: A-Formatter, L-JavaScript

#736 feat(formatter_test): add test option to report incompatible formatter test cases only
  .gitignore
  crates/biome_formatter_test/src/diff_report.rs
  crates/biome_js_formatter/report_incompatible.md
  crates/biome_js_formatter/tests/specs/prettier/README.md
Labels: A-Formatter, L-JavaScript

#733 challenge(formatter): fix self closing compatibility with Prettier
  crates/biome_js_formatter/src/jsx/lists/child_list.rs
  crates/biome_js_formatter/src/utils/jsx.rs
  crates/biome_js_formatter/tests/specs/jsx/self_closing.jsx
  crates/biome_js_formatter/tests/specs/jsx/self_closing.jsx.snap
Labels: A-Formatter, L-JavaScript

#738 challenge(formatter): add parens around instantiation expr when needed
  crates/biome_js_formatter/src/ts/expressions/instantiation_expression.rs
  crates/biome_js_formatter/tests/specs/prettier/typescript/instantiation-expression/property-access.ts
  crates/biome_js_formatter/tests/specs/prettier/typescript/instantiation-expression/property-access.ts.snap
Labels: A-Formatter, L-JavaScript

#743 challenge(formatter): fix arrow function expression needs parens
  crates/biome_js_formatter/src/js/expressions/object_expression.rs
  crates/biome_js_formatter/src/parentheses.rs
  crates/biome_js_formatter/tests/specs/prettier/js/arrows/arrow_function_expression.js.snap
Labels: A-Formatter, L-JavaScript

#749 challenge(formatter): no space after asserts without predicate
  crates/biome_js_formatter/src/ts/types/asserts_return_type.rs
  crates/biome_js_formatter/tests/specs/prettier/typescript/assert/index.ts.snap
Labels: A-Formatter, L-JavaScript

#748 challenge(formatter): fix default export expression parens
  crates/biome_js_formatter/src/js/expressions/call_expression.rs
  crates/biome_js_formatter/src/parentheses.rs
  crates/biome_js_formatter/src/ts/expressions/type_assertion_expression.rs
  crates/biome_js_formatter/tests/specs/prettier/js/export-default/binary_and_template.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/export-default/body.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/export-default/class_instance.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/export-default/function_tostring.js.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/as/export_default_as.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/export-default/function_as.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/satisfies-operators/export-default-as.ts.snap
Labels: A-Formatter, L-JavaScript

#708 feat(css_parser): CSS Parser pseudo class selector #268
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/parse_error.rs
  crates/biome_css_parser/src/syntax/selector.rs
  crates/biome_css_parser/src/syntax/selector/attribute.rs
  crates/biome_css_parser/src/syntax/selector/mod.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_element.rs
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_any.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_any.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_current.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_current.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_dir.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_dir.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_future.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_future.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_has.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_has.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_host.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_host.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_host_context.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_host_context.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_ident.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_ident.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_is.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_is.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_lang.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_lang.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_matches.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_matches.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_module.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_module.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_not.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_not.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_past.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_past.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_where.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_where.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/basic.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/cue-region.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/cue.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/escaped.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/presudo_complex.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_css_syntax/src/lib.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
  xtask/codegen/src/lib.rs
Labels: A-Parser, A-Tooling, L-CSS

#751 chore: update challenge reports
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
Labels: A-Formatter, L-JavaScript

#752 challenge(formatter): ignore embdedded languages and unstable syntaxes
  crates/biome_formatter_test/src/diff_report.rs
Labels: A-Formatter

#737 fix(project): behaviour of override.ignore and override.include
  CHANGELOG.md
  crates/biome_cli/tests/cases/overrides_formatter.rs
  crates/biome_cli/tests/cases/overrides_linter.rs
  crates/biome_cli/tests/cases/overrides_organize_imports.rs
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/does_handle_included_file.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/does_not_handle_ignored_file.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_linter/does_handle_included_file.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_linter/does_not_handle_ignored_file.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_linter/does_override_the_rules.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_organize_imports/does_handle_included_file.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_organize_imports/does_not_handle_ignored_file.snap
  crates/biome_service/src/settings.rs
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/reference/configuration.mdx
Labels: A-CLI, A-Project, A-Website, A-Changelog

#758 chore(challenge): update reports
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
Labels: A-Formatter, L-JavaScript

#757 challenge(formatter): Handle more unary and update expressions as simple arguments
  crates/biome_js_formatter/src/utils/member_chain/simple_argument.rs
  crates/biome_js_formatter/tests/specs/prettier/js/method-chain/13018.js.snap
Labels: A-Formatter, L-JavaScript

#760 challenge(formatter): remove trailing spaces after shebang
  crates/biome_js_formatter/src/utils/mod.rs
  crates/biome_js_formatter/tests/specs/js/module/interpreter-with-trailing-spaces.js
  crates/biome_js_formatter/tests/specs/js/module/interpreter-with-trailing-spaces.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/comments/trailing_space.js.snap
Labels: A-Formatter, L-JavaScript

#762 challenge(formatter): allow `require` to split lines
  crates/biome_js_formatter/src/js/expressions/call_arguments.rs
  crates/biome_js_formatter/tests/specs/prettier/js/require/require.js.snap
Labels: A-Formatter, L-JavaScript

#766 feat(css_parser): CSS Parser pseudo element selector #268
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/lexer/tests.rs
  crates/biome_css_parser/src/parser.rs
  crates/biome_css_parser/src/token_source.rs
  crates/biome_css_parser/tests/spec_test.rs
  xtask/bench/src/language.rs
Labels: A-Parser, A-Tooling, L-CSS

#761 feat(lint): add unsafe code fix to `useAriaActivedescendantWithTabindex
  crates/biome_js_analyze/src/aria_analyzers/nursery/use_aria_activedescendant_with_tabindex.rs
  crates/biome_js_analyze/tests/specs/nursery/useAriaActivedescendantWithTabindex/invalid.js.snap
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/use-aria-activedescendant-with-tabindex.md
Labels: A-Linter, A-Website, L-JavaScript

#767 challenge(formatter): format numeric properties and unquote exact floats
  Cargo.lock
  crates/biome_js_formatter/Cargo.toml
  crates/biome_js_formatter/src/js/objects/literal_member_name.rs
  crates/biome_js_formatter/src/utils/string_utils.rs
  crates/biome_js_formatter/tests/specs/js/module/object/numeric-property.js
  crates/biome_js_formatter/tests/specs/js/module/object/numeric-property.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/quote-props/objects.js.snap
  crates/biome_js_unicode_table/src/lib.rs
Labels: A-Formatter, L-JavaScript

#769 chore(challenge): update reports
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
Labels: A-Formatter, L-JavaScript

#768 challenge(formatter): quit hard line break if default clause has no consequent
  crates/biome_js_formatter/src/js/auxiliary/default_clause.rs
  crates/biome_js_formatter/tests/specs/prettier/js/switch/comments2.js.snap
Labels: A-Formatter, L-JavaScript

#770 challenge(formatter): add a block indent to dangling comments
  crates/biome_js_formatter/src/ts/types/tuple_type.rs
  crates/biome_js_formatter/tests/specs/prettier/typescript/tuple/dangling-comments.ts.snap
Labels: A-Formatter, L-JavaScript

#730 challenge(formatter): Attach comments to labels
  crates/biome_js_factory/src/generated/node_factory.rs
  crates/biome_js_factory/src/generated/syntax_factory.rs
  crates/biome_js_formatter/src/comments.rs
  crates/biome_js_formatter/src/generated.rs
  crates/biome_js_formatter/src/js/any/label.rs
  crates/biome_js_formatter/src/js/auxiliary/label.rs
  crates/biome_js_formatter/src/js/auxiliary/mod.rs
  crates/biome_js_formatter/src/js/statements/break_statement.rs
  crates/biome_js_formatter/src/js/statements/continue_statement.rs
  crates/biome_js_formatter/src/js/statements/labeled_statement.rs
  crates/biome_js_formatter/tests/specs/prettier/js/comments/break-continue-statements.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/for/continue-and-break-comment-1.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/for/continue-and-break-comment-without-blocks.js
  crates/biome_js_formatter/tests/specs/prettier/js/for/continue-and-break-comment-without-blocks.js.snap
  crates/biome_js_parser/src/syntax/stmt.rs
  crates/biome_js_parser/test_data/inline/err/break_stmt.rast
  crates/biome_js_parser/test_data/inline/err/continue_stmt.rast
  crates/biome_js_parser/test_data/inline/err/double_label.rast
  crates/biome_js_parser/test_data/inline/err/function_in_single_statement_context_strict.rast
  crates/biome_js_parser/test_data/inline/err/import_assertion_err.rast
  crates/biome_js_parser/test_data/inline/err/import_attribute_err.rast
  crates/biome_js_parser/test_data/inline/err/labelled_function_decl_in_single_statement_context.rast
  crates/biome_js_parser/test_data/inline/err/labelled_function_declaration_strict_mode.rast
  crates/biome_js_parser/test_data/inline/err/let_array_with_new_line.rast
  crates/biome_js_parser/test_data/inline/err/object_binding_pattern.rast
  crates/biome_js_parser/test_data/inline/ok/async_continue_stmt.rast
  crates/biome_js_parser/test_data/inline/ok/break_stmt.rast
  crates/biome_js_parser/test_data/inline/ok/continue_stmt.rast
  crates/biome_js_parser/test_data/inline/ok/do_while_stmt.rast
  crates/biome_js_parser/test_data/inline/ok/function_in_if_or_labelled_stmt_loose_mode.rast
  crates/biome_js_parser/test_data/inline/ok/labeled_statement.rast
  crates/biome_js_parser/test_data/inline/ok/labelled_function_declaration.rast
  crates/biome_js_parser/test_data/inline/ok/labelled_statement_in_single_statement_context.rast
  crates/biome_js_syntax/src/generated/kind.rs
  crates/biome_js_syntax/src/generated/macros.rs
  crates/biome_js_syntax/src/generated/nodes.rs
  crates/biome_js_syntax/src/generated/nodes_mut.rs
  crates/biome_js_syntax/src/stmt_ext.rs
  xtask/codegen/js.ungram
  xtask/codegen/src/kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-JavaScript

#772 challenge(formatter): check if the third member of test call expression is appropriate
  crates/biome_js_formatter/src/utils/test_call.rs
  crates/biome_js_formatter/tests/specs/prettier/js/test-declarations/test_declarations.js.snap
Labels: A-Formatter, L-JavaScript

#773 challenge(formatter): fix unnecessary indent to nested await
  crates/biome_js_formatter/src/js/expressions/await_expression.rs
  crates/biome_js_formatter/tests/specs/prettier/js/async/nested2.js.snap
Labels: A-Formatter, L-JavaScript

#781 chore: remove `FormatAnyJsLabel`
  crates/biome_js_formatter/src/js/any/label.rs
Labels: A-Formatter, L-JavaScript

#780 challenge(formatter): fix prettier differences in test declarations
  crates/biome_js_formatter/src/utils/member_chain/mod.rs
  crates/biome_js_formatter/tests/specs/prettier/js/test-declarations/test_declarations.js.snap
Labels: A-Formatter, L-JavaScript

#782 chore(challenge): update reports
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
Labels: A-Formatter, L-JavaScript

#776 challenge(formatter): assignment with await/yield do not break
  crates/biome_js_formatter/src/utils/assignment_like.rs
  crates/biome_js_formatter/tests/specs/prettier/js/assignment/discussion-15196.js.snap
Labels: A-Formatter, L-JavaScript

#774 challenge(formatter): respect prettier `Range` options
  crates/biome_formatter_test/src/prettier/prepare_tests.js
  crates/biome_js_formatter/tests/specs/prettier/README.md
  crates/biome_js_formatter/tests/specs/prettier/js/range/array.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/array.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/boundary-2.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/boundary-2.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/boundary-3.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/boundary-3.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/boundary.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/boundary.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/class-declaration.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/class-declaration.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/different-levels.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/different-levels.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/directive.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/directive.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/function-body.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/function-body.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/ignore-indentation.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/ignore-indentation.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/issue-7082.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/module-export1.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/module-export1.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/module-export2.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/module-export2.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/module-export3.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/module-export3.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/module-import.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/module-import.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/multiple-statements.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/multiple-statements.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/multiple-statements2.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/multiple-statements2.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/nested2.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/nested2.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/nested3.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/nested3.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/object-expression2.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/object-expression2.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/range-end.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/range-end.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/range-start.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/range-start.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/range.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/range.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/reversed-range.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/start-equals-end.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/range/start-equals-end.js.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/range/export-assignment.ts.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/range/export-assignment.ts.snap
Labels: A-Formatter, L-JavaScript

#788 fix(lint): fix false-positives for `aria-label` and report cases where the `role` is implicit in `noSvgWithoutTitle`
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/a11y/no_svg_without_title.rs
  crates/biome_js_analyze/tests/specs/a11y/noSvgWithoutTitle/invalid.jsx
  crates/biome_js_analyze/tests/specs/a11y/noSvgWithoutTitle/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/noSvgWithoutTitle/valid.jsx
  crates/biome_js_analyze/tests/specs/a11y/noSvgWithoutTitle/valid.jsx.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-svg-without-title.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#775 challenge(formatter): fix typescript/union/inlining
  crates/biome_js_formatter/src/ts/expressions/type_arguments.rs
  crates/biome_js_formatter/src/ts/types/union_type.rs
  crates/biome_js_formatter/src/utils/typescript.rs
  crates/biome_js_formatter/tests/specs/prettier/typescript/union/inlining.ts
  crates/biome_js_formatter/tests/specs/prettier/typescript/union/inlining.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/union/single-type/single-type.ts
  crates/biome_js_formatter/tests/specs/prettier/typescript/union/single-type/single-type.ts.snap
Labels: A-Formatter, L-JavaScript

#777 challenge(formatter): Handle special first-argument expansions in call arguments
  crates/biome_js_formatter/src/js/expressions/call_arguments.rs
  crates/biome_js_formatter/src/utils/member_chain/mod.rs
  crates/biome_js_formatter/src/utils/member_chain/simple_argument.rs
  crates/biome_js_formatter/tests/specs/prettier/js/call/first-argument-expansion/expression-2nd-arg.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/call/first-argument-expansion/issue-12892.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/call/first-argument-expansion/issue-2456.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/call/first-argument-expansion/issue-4401.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/call/first-argument-expansion/issue-5172.js.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/argument-expansion/argument_expansion.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/satisfies-operators/argument-expansion.ts.snap
Labels: A-Formatter, L-JavaScript

#790 challenge(formatter): highligh prettier reformat issue
  crates/biome_formatter_test/src/prettier/prepare_tests.js
  crates/biome_js_formatter/tests/specs/prettier/js/class-comment/misc.js.prettier-snap-original
  crates/biome_js_formatter/tests/specs/prettier/js/comments/return-statement.js.prettier-snap-original
  crates/biome_js_formatter/tests/specs/prettier/js/comments/tagged-template-literal.js.prettier-snap-original
  crates/biome_js_formatter/tests/specs/prettier/js/for/continue-and-break-comment-without-blocks.js.prettier-snap-original
  crates/biome_js_formatter/tests/specs/prettier/js/last-argument-expansion/embed.js.prettier-snap-original
  crates/biome_js_formatter/tests/specs/prettier/js/range/boundary.js.prettier-snap-original
  crates/biome_js_formatter/tests/specs/prettier/js/range/class-declaration.js.prettier-snap-original
  crates/biome_js_formatter/tests/specs/prettier/js/range/multiple-statements2.js.prettier-snap-original
  crates/biome_js_formatter/tests/specs/prettier/js/range/nested3.js.prettier-snap-original
  crates/biome_js_formatter/tests/specs/prettier/js/sequence-expression/parenthesized.js.prettier-snap-original
  crates/biome_js_formatter/tests/specs/prettier/typescript/compiler/contextualSignatureInstantiation2.ts.prettier-snap-original
  crates/biome_js_formatter/tests/specs/prettier/typescript/prettier-ignore/issue-14238.ts.prettier-snap-original
  crates/biome_js_formatter/tests/specs/prettier/typescript/prettier-ignore/mapped-types.ts.prettier-snap-original
  crates/biome_js_formatter/tests/specs/prettier/typescript/range/issue-4926.ts.prettier-snap-original
  crates/biome_js_formatter/tests/specs/prettier/typescript/satisfies-operators/comments-unstable.ts.prettier-snap-original
  crates/biome_js_formatter/tests/specs/prettier/typescript/typeparams/const.ts.prettier-snap-original
  crates/biome_js_formatter/tests/specs/prettier/typescript/union/consistent-with-flow/single-type.ts.prettier-snap-original
Labels: A-Formatter, L-JavaScript

#791 chore(challenge): fix invalid markdown in `report.md` and `report_incompatible.md`
  crates/biome_formatter_test/src/diff_report.rs
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
Labels: A-Formatter, L-JavaScript

#789 challenge(formatter): add parens to tail body for a chain of arrow functions
  crates/biome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/biome_js_formatter/tests/specs/prettier/js/arrows/currying-4.js.snap
Labels: A-Formatter, L-JavaScript

#792 chore(challenge): update reports
  crates/biome_formatter_test/src/diff_report.rs
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
Labels: A-Formatter, L-JavaScript

#793 challenge(formatter): Fix multi-expression template literal indention
  crates/biome_js_formatter/src/js/lists/template_element_list.rs
  crates/biome_js_formatter/tests/specs/prettier/js/template-literals/indention.js.snap
Labels: A-Formatter, L-JavaScript

#796 chore(challenge): refine reports
  crates/biome_formatter_test/src/diff_report.rs
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
Labels: A-Formatter, L-JavaScript

#795 refactor: rename some rome-ignore to biome-ignore
  crates/biome_formatter/src/comments.rs
  crates/biome_formatter/src/source_map.rs
  crates/biome_formatter_test/src/test_prettier_snapshot.rs
  crates/biome_js_formatter/src/utils/jsx.rs
Labels: A-Formatter, L-JavaScript

#794 challenge(formatter): fix typescript declarations and soft wrap index signatures
  crates/biome_js_formatter/src/comments.rs
  crates/biome_js_formatter/src/ts/auxiliary/index_signature_type_member.rs
  crates/biome_js_formatter/tests/specs/prettier/typescript/conformance/types/moduleDeclaration/kind-detection.ts
  crates/biome_js_formatter/tests/specs/prettier/typescript/conformance/types/moduleDeclaration/kind-detection.ts.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/conformance/types/moduleDeclaration/kind-detection.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/error-recovery/index-signature.ts.snap
Labels: A-Formatter, L-JavaScript

#804 challenge(formatter): arrows chain as arg
  crates/biome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/biome_js_formatter/tests/specs/prettier/js/arrows/chain-as-arg.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/arrows/chain-in-logical-expression.js.snap
Labels: A-Formatter, L-JavaScript

#806 challenge(formatter): disambiguate unary expr in instanceof and in expr
  crates/biome_js_formatter/src/js/expressions/unary_expression.rs
  crates/biome_js_formatter/tests/specs/prettier/js/binary-expressions/in_instanceof.js.snap
Labels: A-Formatter, L-JavaScript

#803 fix(linter): avoid causing noUselessLoneBlockStatements for try/catch
  crates/biome_js_analyze/src/analyzers/nursery/no_useless_lone_block_statements.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessLoneBlockStatements/valid.cjs
  crates/biome_js_analyze/tests/specs/nursery/noUselessLoneBlockStatements/valid.cjs.snap
Labels: A-Linter, L-JavaScript

#763 feat(css_parser): CSS Parser pseudo element selector #268
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/parse_error.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class.rs
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_an_plus_b.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_an_plus_b.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_basic.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_basic.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Tooling, L-CSS

#801 challenge(formatter): sloppy mode tests
  crates/biome_js_formatter/tests/prettier_tests.rs
  crates/biome_js_formatter/tests/specs/prettier/js/identifier/parentheses/const.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/sloppy-mode/function-declaration-in-if.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/sloppy-mode/function-declaration-in-while.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/with/indent.js.snap
Labels: A-Formatter, L-JavaScript

#802 challenge(formatter): `noInitializerWithDefinite` rule
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/syntax/correctness.rs
  crates/biome_js_analyze/src/syntax/correctness/no_initializer_with_definite.rs
  crates/biome_js_analyze/tests/specs/correctness/noInitializerWithDefinite/invalid.ts
  crates/biome_js_analyze/tests/specs/correctness/noInitializerWithDefinite/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noInitializerWithDefinite/valid.ts
  crates/biome_js_analyze/tests/specs/correctness/noInitializerWithDefinite/valid.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/definite/definite.ts.snap
  crates/biome_js_parser/src/syntax/stmt.rs
  crates/biome_js_parser/test_data/inline/err/ts_definite_variable_with_initializer.rast
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-Linter, A-Parser, A-Formatter, L-JavaScript, A-Diagnostic

#812 feat(css_parser): CSS Parser pseudo element selector #268
  crates/biome_css_parser/src/syntax/selector/pseudo_class.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_compound_selector.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_compound_selector_list.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_identifier.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_nth.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_relative_selector_list.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_selector.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_selector_list.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_value_list.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/identifier.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/mod.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_element.rs
  crates/biome_parser/src/lib.rs
Labels: A-Parser, L-CSS

#785 challenge(formatter): arrows comment
  crates/biome_js_formatter/src/comments.rs
  crates/biome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/biome_js_formatter/tests/specs/prettier/js/arrows/comment.js.snap
Labels: A-Formatter, L-JavaScript

#814 challenge(formatter): handle let variable name in non-strict mode
  crates/biome_js_formatter/src/js/assignments/identifier_assignment.rs
  crates/biome_js_formatter/src/js/expressions/identifier_expression.rs
  crates/biome_js_formatter/tests/prettier_tests.rs
  crates/biome_js_formatter/tests/specs/prettier/js/identifier/for-of/let.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/identifier/parentheses/let.js.snap
  crates/biome_js_syntax/src/assign_ext.rs
  crates/biome_js_syntax/src/lib.rs
Labels: A-Parser, A-Formatter, L-JavaScript

#815 chore(challenge): update reports
  crates/biome_formatter_test/src/diff_report.rs
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
Labels: A-Formatter, L-JavaScript

#816 challenge(formatter): indent nested conditional expressions
  crates/biome_js_formatter/src/utils/conditional.rs
  crates/biome_js_formatter/tests/specs/js/module/expression/conditional_expression.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/conditional/comments.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/conditional/new-ternary-examples.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/conditional/new-ternary-spec.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/conditional/postfix-ternary-regressions.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/ternaries/indent.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/ternaries/nested-in-condition.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/ternaries/nested.js.snap
  crates/biome_js_formatter/tests/specs/prettier/jsx/jsx/conditional-expression.js.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/conditional-types/comments.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/conditional-types/conditonal-types.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/conditional-types/infer-type.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/conditional-types/new-ternary-spec.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/keyword-types/conditional-types.ts.snap
  crates/biome_js_formatter/tests/specs/ts/type/conditional.ts.snap
Labels: A-Formatter, L-JavaScript

#756 challenge(formatter): handle line break and comments for array holes
  crates/biome_js_formatter/src/comments.rs
  crates/biome_js_formatter/tests/specs/prettier/js/arrays/numbers-with-holes.js.snap
Labels: A-Formatter, L-JavaScript

#819 feat: extract vscode extension to its own repository
  .gitattributes
  .github/workflows/release_lsp.yml
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
  CONTRIBUTING.md
  crates/biome_analyze/CONTRIBUTING.md
  editors/vscode/.gitignore
  editors/vscode/.vscodeignore
  editors/vscode/LICENSE-APACHE
  editors/vscode/LICENSE-MIT
  editors/vscode/README.md
  editors/vscode/biome_syntax_tree.tmGrammar.json
  editors/vscode/configuration_schema.json
  editors/vscode/icon.png
  editors/vscode/package.json
  editors/vscode/scripts/update-nightly-version.mjs
  editors/vscode/src/commands/index.ts
  editors/vscode/src/commands/syntaxTree.ts
  editors/vscode/src/commands/syntaxTreeDocument.ts
  editors/vscode/src/lsp_requests.ts
  editors/vscode/src/main.ts
  editors/vscode/src/session.ts
  editors/vscode/src/statusBar.ts
  editors/vscode/src/utils.ts
  editors/vscode/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  xtask/codegen/src/generate_schema.rs
  xtask/codegen/src/generate_website.rs
Labels: A-Linter, A-Editors, A-Tooling, A-LSP, A-Website

#800 fix(formatter): Fix bracket spacing option for single named imports
  crates/biome_js_formatter/src/js/module/import_named_clause.rs
  crates/biome_js_formatter/tests/specs/js/module/import/bracket-spacing/import_bracket_spacing.js
  crates/biome_js_formatter/tests/specs/js/module/import/bracket-spacing/import_bracket_spacing.js.snap
  crates/biome_js_formatter/tests/specs/ts/module/import_type/import_types.ts
  crates/biome_js_formatter/tests/specs/ts/module/import_type/import_types.ts.snap
  crates/biome_js_formatter/tests/specs/ts/module/import_type/options.json
Labels: A-Formatter, L-JavaScript

#824 fix(playground): set bracketSpacing
  website/src/playground/PlaygroundLoader.tsx
Labels: A-Website

#830 fix: `noSvgWithoutTitle` docs
  crates/biome_js_analyze/src/analyzers/a11y/no_svg_without_title.rs
  website/src/content/docs/linter/rules/no-svg-without-title.md
Labels: A-Linter, A-Website, L-JavaScript

#835 docs(website): replace `exclude` with `ignore`
  website/src/content/docs/reference/configuration.mdx
Labels: A-Website

#836 chore(challenge): add submission reports
  crates/biome_formatter_test/src/diff_report.rs
  crates/biome_js_formatter/report-challenge.md
  crates/biome_js_formatter/report-es2015.md
  crates/biome_js_formatter/report-es2024+.md
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
Labels: A-Formatter, L-JavaScript

#842 fix: avoid escape for jsx
  crates/biome_formatter/src/token/string.rs
  crates/biome_js_formatter/src/utils/string_utils.rs
  crates/biome_js_formatter/tests/specs/jsx/attribute_escape.jsx
  crates/biome_js_formatter/tests/specs/jsx/attribute_escape.jsx.snap
  crates/biome_json_formatter/src/format_string.rs
Labels: A-Formatter, L-JavaScript, L-JSON

#844 fix(`noUselessLoneBlockStatements`): ignore case and default clause
  crates/biome_js_analyze/src/analyzers/nursery/no_useless_lone_block_statements.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessLoneBlockStatements/valid.cjs
  crates/biome_js_analyze/tests/specs/nursery/noUselessLoneBlockStatements/valid.cjs.snap
Labels: A-Linter, L-JavaScript

#848 feat(js_formatter): es5 trailing comma revision
  crates/biome_js_formatter/src/ts/lists/tuple_type_element_list.rs
  crates/biome_js_formatter/src/ts/lists/type_parameter_list.rs
  crates/biome_js_formatter/tests/specs/ts/class/trailing_comma/class_trailing_comma.ts.snap
  crates/biome_js_formatter/tests/specs/ts/function/trailing_comma/function_trailing_comma.ts.snap
  crates/biome_js_formatter/tests/specs/ts/object/object_trailing_comma.ts.snap
  crates/biome_js_formatter/tests/specs/ts/type/trailing-comma/type_trailing_comma.ts.snap
Labels: A-Formatter, L-JavaScript

#855 chore: upgrade prettier to v3.1.0
  pnpm-lock.yaml
  website/package.json
Labels: A-Website

#858 fix(formatter): fix wrong Indentation for leading comments in empty statement
  crates/biome_js_formatter/src/js/statements/empty_statement.rs
  crates/biome_js_formatter/tests/specs/js/module/comments.js
  crates/biome_js_formatter/tests/specs/js/module/comments.js.snap
Labels: A-Formatter, L-JavaScript

#859 fix(matcher): fix wrongly ignored paths
  crates/biome_service/src/matcher/mod.rs
Labels: A-Project

#822 feat: `noAriaHiddenOnFocusable` rule
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/aria_analyzers/nursery.rs
  crates/biome_js_analyze/src/aria_analyzers/nursery/no_aria_hidden_on_focusable.rs
  crates/biome_js_analyze/tests/specs/nursery/noAriaHiddenOnFocusable/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noAriaHiddenOnFocusable/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noAriaHiddenOnFocusable/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noAriaHiddenOnFocusable/valid.jsx.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/tests/invalid/hooks_incorrect_options.json.snap
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-aria-hidden-on-focusable.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#845 fix(js_parser): desambigaute JSX and const type param of arrow function
  CHANGELOG.md
  crates/biome_js_parser/src/syntax/function.rs
  crates/biome_js_parser/test_data/inline/ok/jsx_type_arguments.jsx
  crates/biome_js_parser/test_data/inline/ok/jsx_type_arguments.rast
  crates/biome_js_parser/test_data/inline/ok/tsx_type_arguments.rast
  crates/biome_js_parser/test_data/inline/ok/tsx_type_arguments.tsx
  website/src/content/docs/internals/changelog.mdx
Labels: A-Parser, A-Website, L-JavaScript, A-Changelog

#864 chore: use the same `Prettier` version in Biome
  benchmark/package-lock.json
  benchmark/package.json
  benchmark/run.js
  crates/biome_formatter_test/src/prettier/package-lock.json
  pnpm-lock.yaml
  website/pnpm-lock.yaml
Labels: A-Formatter, A-Website

#866 docs: clarify `organizeImports` is opt-out
  website/src/content/docs/analyzer/index.mdx
Labels: A-Website

#839 feat(css_parser): CSS Parser pseudo element selector #268
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_identifier.rs
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_class/pseudo_class_function_identifier.css
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_class/pseudo_class_function_identifier.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_class/pseudo_class_identifier.css
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_class/pseudo_class_identifier.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/lib.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Tooling, L-CSS

#867 fix(lint/noUnusedVariables): don't report used param of arrow function without parens
  CHANGELOG.md
  crates/biome_js_analyze/src/semantic_analyzers/correctness/no_unused_variables.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validIssue861.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validIssue861.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#872 fix(js_formatter): disambiguate parametrized arrow functions and JSX elements
  CHANGELOG.md
  crates/biome_js_formatter/src/ts/lists/type_parameter_list.rs
  crates/biome_js_formatter/tests/prettier_tests.rs
  crates/biome_js_formatter/tests/specs/prettier/typescript/arrows/type_params.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/compiler/contextualSignatureInstantiation2.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/typeparams/const.ts.snap
  crates/biome_js_formatter/tests/specs/tsx/type_param.tsx
  crates/biome_js_formatter/tests/specs/tsx/type_param.tsx.snap
  crates/biome_js_syntax/src/file_source.rs
  website/src/content/docs/internals/changelog.mdx
  xtask/lintdoc/src/main.rs
Labels: A-Parser, A-Formatter, A-Tooling, A-Website, L-JavaScript, A-Changelog

#875 feat: add more ignored files
  crates/biome_fs/src/fs/os.rs
  website/src/content/docs/guides/how-biome-works.mdx
Labels: A-CLI, A-Core, A-Website

#876 fix(formatter): Line breaking after `extends` in type parameters
  crates/biome_js_formatter/src/ts/auxiliary/type_constraint_clause.rs
  crates/biome_js_formatter/tests/specs/prettier/typescript/typeparams/line-breaking-after-extends.ts.snap
Labels: A-Formatter, L-JavaScript

#877 challenge: update reports
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
Labels: A-Formatter, L-JavaScript

#889 chore: upgrade Rust to 1.74.0
  crates/biome_aria/src/macros.rs
  crates/biome_formatter/src/printed_tokens.rs
  rust-toolchain.toml
  xtask/codegen/src/parser_tests.rs
Labels: A-Formatter, A-Tooling

#888 docs: fix link to playground instrunctions
  crates/biome_js_formatter/src/lib.rs
Labels: A-Formatter, L-JavaScript

#890 docs: fix link to technical principals
  crates/biome_analyze/CONTRIBUTING.md
Labels: A-Linter

#886 fix: cargo build for publishing
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  crates/biome_analyze/Cargo.toml
  crates/biome_aria/Cargo.toml
  crates/biome_aria_metadata/Cargo.toml
  crates/biome_console/Cargo.toml
  crates/biome_control_flow/Cargo.toml
  crates/biome_css_factory/Cargo.toml
  crates/biome_css_parser/Cargo.toml
  crates/biome_css_syntax/Cargo.toml
  crates/biome_deserialize/Cargo.toml
  crates/biome_diagnostics/Cargo.toml
  crates/biome_diagnostics_categories/Cargo.toml
  crates/biome_diagnostics_macros/Cargo.toml
  crates/biome_formatter/Cargo.toml
  crates/biome_fs/Cargo.toml
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_factory/Cargo.toml
  crates/biome_js_formatter/Cargo.toml
  crates/biome_js_parser/Cargo.toml
  crates/biome_js_semantic/Cargo.toml
  crates/biome_js_syntax/Cargo.toml
  crates/biome_js_transform/Cargo.toml
  crates/biome_js_unicode_table/Cargo.toml
  crates/biome_json_analyze/Cargo.toml
  crates/biome_json_factory/Cargo.toml
  crates/biome_json_formatter/Cargo.toml
  crates/biome_json_parser/Cargo.toml
  crates/biome_json_syntax/Cargo.toml
  crates/biome_markup/Cargo.toml
  crates/biome_parser/Cargo.toml
  crates/biome_rowan/Cargo.toml
  crates/biome_suppression/Cargo.toml
  crates/biome_text_edit/Cargo.toml
  crates/biome_text_size/Cargo.toml
Labels: A-CLI, A-Core, A-Linter, A-Parser, A-Formatter, L-JavaScript, L-CSS, L-JSON, A-Diagnostic

#887 feat: i18n setup and some Japanese translation
  website/astro.config.ts
  website/src/content/docs/ja/index.mdx
Labels: A-Website

#891 fix: update the crate publishing order in scripts/publish-crates.sh
  Cargo.lock
  Cargo.toml
  crates/biome_analyze/Cargo.toml
  crates/biome_aria/Cargo.toml
  crates/biome_aria_metadata/Cargo.toml
  crates/biome_console/Cargo.toml
  crates/biome_control_flow/Cargo.toml
  crates/biome_css_factory/Cargo.toml
  crates/biome_css_parser/Cargo.toml
  crates/biome_css_syntax/Cargo.toml
  crates/biome_deserialize/Cargo.toml
  crates/biome_diagnostics/Cargo.toml
  crates/biome_diagnostics_categories/Cargo.toml
  crates/biome_diagnostics_macros/Cargo.toml
  crates/biome_formatter/Cargo.toml
  crates/biome_fs/Cargo.toml
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_factory/Cargo.toml
  crates/biome_js_formatter/Cargo.toml
  crates/biome_js_parser/Cargo.toml
  crates/biome_js_semantic/Cargo.toml
  crates/biome_js_syntax/Cargo.toml
  crates/biome_js_transform/Cargo.toml
  crates/biome_js_unicode_table/Cargo.toml
  crates/biome_json_analyze/Cargo.toml
  crates/biome_json_factory/Cargo.toml
  crates/biome_json_formatter/Cargo.toml
  crates/biome_json_parser/Cargo.toml
  crates/biome_json_syntax/Cargo.toml
  crates/biome_markup/Cargo.toml
  crates/biome_parser/Cargo.toml
  crates/biome_rowan/Cargo.toml
  crates/biome_suppression/Cargo.toml
  crates/biome_text_edit/Cargo.toml
  crates/biome_text_size/Cargo.toml
  scripts/publish-crates.sh
Labels: A-CLI, A-Core, A-Linter, A-Parser, A-Formatter, L-JavaScript, L-CSS, L-JSON, A-Diagnostic

#893 refactor(lint/noUselessTypeCOnstraint): add required trailing comma in arrow functions
  crates/biome_js_analyze/src/analyzers/complexity/no_useless_type_constraint.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessTypeConstraint/invalid.ts
  crates/biome_js_analyze/tests/specs/complexity/noUselessTypeConstraint/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessTypeConstraint/invalid.tsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessTypeConstraint/invalid.tsx.snap
Labels: A-Linter, L-JavaScript

#892 refactor(js_formatter): adjust mandatory trailing comma in arrow functions
  crates/biome_js_formatter/src/ts/lists/type_parameter_list.rs
  crates/biome_js_formatter/tests/specs/tsx/type_param.tsx
  crates/biome_js_formatter/tests/specs/tsx/type_param.tsx.snap
Labels: A-Formatter, L-JavaScript

#894 refactor(lint/noExplicitAny): ignore type constraint clauses
  crates/biome_js_analyze/src/analyzers/suspicious/no_explicit_any.rs
  crates/biome_js_analyze/tests/specs/suspicious/noExplicitAny/validTypeConstraints.ts
  crates/biome_js_analyze/tests/specs/suspicious/noExplicitAny/validTypeConstraints.ts.snap
  website/src/content/docs/linter/rules/no-explicit-any.md
Labels: A-Linter, A-Website, L-JavaScript

#898 challenge: update reports
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
Labels: A-Formatter, L-JavaScript

#897 fix(js_formatter): keep parens for some optional chains
  crates/biome_js_analyze/src/analyzers/correctness/no_unsafe_optional_chaining.rs
  crates/biome_js_formatter/src/js/expressions/computed_member_expression.rs
  crates/biome_js_formatter/src/js/expressions/static_member_expression.rs
  crates/biome_js_formatter/src/syntax_rewriter.rs
  crates/biome_js_formatter/tests/specs/prettier/js/chain-expression/test.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/optional-chaining/chaining.js.snap
  crates/biome_js_syntax/src/expr_ext.rs
Labels: A-Linter, A-Parser, A-Formatter, L-JavaScript

#900 doc(ja): translate `language-support` into Japanese
  website/src/content/docs/ja/internals/language-support.mdx
Labels: A-Website

#907 challenge: update reports
  crates/biome_formatter_test/src/diff_report.rs
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
Labels: A-Formatter, L-JavaScript

#899 feat(css_parser): CSS Parser namespace #268
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_parser/src/syntax/selector/attribute.rs
  crates/biome_css_parser/src/syntax/selector/mod.rs
  crates/biome_css_parser/tests/css_test_suite/error/selector/attribute_selector.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_element.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/attribute.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/attribute.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/complex.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_an_plus_b.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_any.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_basic.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_current.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_future.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_has.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_host_context.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_is.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_lang.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_matches.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_module.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_not.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_past.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_where.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/basic.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/cue-region.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/cue.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/escaped.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/highlight.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/part.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/presudo_complex.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/slotted.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/subselector.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/type.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/type.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/universal.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/universal.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Tooling, L-CSS

#915 fix: fix blog list not showing all posts
  website/src/components/PostsList.astro
Labels: A-Website

#917 fix(js_formatter): array printing and grouping in arrows
  crates/biome_formatter/src/printer/mod.rs
  crates/biome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/biome_js_formatter/tests/specs/prettier/js/arrays/issue-10159.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/arrows/currying-4.js.snap
Labels: A-Formatter, L-JavaScript

#925 fix(website): fix title tags
  website/astro.config.ts
  website/src/content/docs/index.mdx
Labels: A-Website

#929 fix: typo
  website/src/content/docs/ja/analyzer/index.mdx
Labels: A-Website

#930 doc(ja): translate `How Biome works` into Japanese
  website/src/content/docs/ja/guides/how-biome-works.mdx
Labels: A-Website

#906 doc(ja): translate `versioning` into Japanese
  website/src/content/docs/ja/internals/versioning.mdx
Labels: A-Website

#904 doc(ja): translate `Formatter` doc into Japanese
  website/src/content/docs/ja/formatter/index.mdx
Labels: A-Website

#903 doc(ja): translate `credits` into Japanese
  website/src/content/docs/ja/internals/credits.mdx
Labels: A-Website

#936 fix: typo
  website/src/content/docs/recipes/continuous-integration.mdx
Labels: A-Website

#940 docs(ja): translate `Getting Started` into Japanese
  website/src/content/docs/ja/guides/getting-started.mdx
Labels: A-Website

#945 docs(website): show sponsors on japanese document
  website/src/content/docs/ja/index.mdx
Labels: A-Website

#943 refactor(lint/noUselessElse): ignore else clauses of if that doesn't break
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/style/no_useless_else.rs
  crates/biome_js_analyze/src/utils/batch.rs
  crates/biome_js_analyze/tests/specs/style/noUselessElse/valid.js
  crates/biome_js_analyze/tests/specs/style/noUselessElse/valid.js.snap
  crates/biome_js_semantic/src/semantic_model/tests.rs
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-useless-else.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#948 fix(website): json schema for 1.4.0
  website/src/pages/schemas/1.4.0/schema.json.js
Labels: A-Website

#934 fix(js_formatter): Match Prettier's breaking strategy for ArrowChain layouts
  crates/biome_formatter/src/formatter.rs
  crates/biome_js_formatter/src/js/bindings/constructor_parameters.rs
  crates/biome_js_formatter/src/js/bindings/formal_parameter.rs
  crates/biome_js_formatter/src/js/bindings/parameters.rs
  crates/biome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/biome_js_formatter/src/js/expressions/call_arguments.rs
  crates/biome_js_formatter/src/js/lists/parameter_list.rs
  crates/biome_js_formatter/src/utils/object_pattern_like.rs
  crates/biome_js_formatter/tests/quick_test.rs
  crates/biome_js_formatter/tests/specs/prettier/js/arrows/curried.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/arrows/currying-2.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/last-argument-expansion/function-body-in-mode-break.js.snap
Labels: A-Formatter, L-JavaScript

#942 fix(lsp): do not process files across workspace
  CHANGELOG.md
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_format/ignore_comments_error_when_allow_comments.snap
  crates/biome_fs/src/fs/os.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/workspace.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Core, A-Project, A-Website, A-Changelog

#951 fix(js_formatter): Avoid double-printing the first leading comments in arrow chains
  crates/biome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/biome_js_formatter/tests/quick_test.rs
Labels: A-Formatter, L-JavaScript

#955 doc(ja): translate continuous-integration into Japanese
  website/src/content/docs/ja/recipes/continuous-integration.mdx
Labels: A-Website

#944 docs(ja): translate `Philosophy` into Japanese
  website/src/content/docs/ja/internals/philosophy.mdx
Labels: A-Website

#957 fix(lint/useSimpleNumberKeys): ignore comments
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/complexity/use_simple_number_keys.rs
  crates/biome_js_analyze/tests/specs/complexity/useSimpleNumberKeys/invalid.js
  crates/biome_js_analyze/tests/specs/complexity/useSimpleNumberKeys/invalid.js.snap
  crates/biome_js_analyze/tests/specs/complexity/useSimpleNumberKeys/valid.js
  crates/biome_js_analyze/tests/specs/complexity/useSimpleNumberKeys/valid.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#912 docs(ja): translate `Architecture` into Japanese
  website/src/content/docs/ja/internals/architecture.mdx
Labels: A-Website

#958 fix(js_semantic): add semantic scope to mapped types
  CHANGELOG.md
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/valid-mapped-types.ts
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/valid-mapped-types.ts.snap
  crates/biome_js_semantic/src/events.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#937 feat(website): Move blog to CC and fix RSS
  website/src/components/BlogPostInfo.astro
  website/src/components/PostsList.astro
  website/src/content/authors/core.json
  website/src/content/authors/ema.json
  website/src/content/authors/team.json
  website/src/content/blog/annoucing-biome.mdx
  website/src/content/blog/biome-v1.mdx
  website/src/content/blog/biome-wins-prettier-challenge.md
  website/src/content/config.ts
  website/src/content/docs/blog/index.mdx
  website/src/layouts/Blog.astro
  website/src/layouts/StarlightSplashLayout.astro
  website/src/pages/blog/[...slug].astro
  website/src/pages/blog/index.astro
  website/src/pages/feed.xml.js
Labels: A-Website

#950 feat(css_parser): CSS Parser charset #268
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/charset.rs
  crates/biome_css_parser/src/syntax/at_rule/mod.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/parse_error.rs
  crates/biome_css_parser/src/syntax/selector/attribute.rs
  crates/biome_css_parser/src/syntax/selector/mod.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_value_list.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/mod.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_charset_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_charset_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_charset.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_charset.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_css_syntax/src/lib.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Tooling, L-CSS

#971 feat(css_parser): CSS Parser counter style #268
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/counter_style.rs
  crates/biome_css_parser/src/syntax/at_rule/mod.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_counter_style_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_counter_style_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_counter_style.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_counter_style.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_js_unicode_table/src/tables.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Tooling, L-JavaScript, L-CSS

#968 feat(css_parser): CSS Parser pseudo class #268
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/counter_style.rs
  crates/biome_css_parser/src/syntax/at_rule/mod.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_compound_selector.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_compound_selector_list.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_identifier.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_nth.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_relative_selector_list.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_selector.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_selector_list.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_value_list.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_counter_style_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_counter_style_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_class/pseudo_class_function_compound_selector.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_class/pseudo_class_function_compound_selector_list.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_class/pseudo_class_function_identifier.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_class/pseudo_class_function_nth.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_class/pseudo_class_function_relative_selector_list.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_class/pseudo_class_function_selector.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_class/pseudo_class_function_selector_list.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_class/pseudo_class_function_value_list.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_counter_style.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_counter_style.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_an_plus_b.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_any.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_basic.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_current.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_dir.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_future.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_has.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_host.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_host_context.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_is.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_lang.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_matches.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_module.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_not.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_past.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_class/pseudo_class_where.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_js_unicode_table/src/tables.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Tooling, L-JavaScript, L-CSS

#973 feat(website): optimize blog images and fix meta/a11y
  website/astro.config.ts
  website/public/img/blog/announcing-biome/biome-logo-slogan.png
  website/src/assets/blog/announcing-biome/JsNation_2023.jpg
  website/src/assets/blog/prettier-challenge.png
  website/src/components/BlogPostInfo.astro
  website/src/content/blog/annoucing-biome.mdx
  website/src/content/blog/biome-v1.mdx
  website/src/content/blog/biome-wins-prettier-challenge.md
  website/src/content/config.ts
  website/src/layouts/Blog.astro
  website/src/layouts/StarlightSplashLayout.astro
  website/src/pages/blog/[...slug].astro
  website/src/pages/blog/index.astro
Labels: A-Website
