Repository biomejs/biome, pull requests merged in 2023-08, with the labels that each got.

#12 docs: update website to Biome
  .github/ISSUE_TEMPLATE/01_bug.yml
  editors/vscode/README.md
  pnpm-lock.yaml
  website/README.md
  website/astro.config.ts
  website/public/img/android-chrome-192x192.png
  website/public/img/android-chrome-512x512.png
  website/public/img/apple-touch-icon.png
  website/public/img/circle-indent-logo.png
  website/public/img/favicon-16x16.png
  website/public/img/favicon-32x32.png
  website/public/img/favicon.ico
  website/public/img/favicon.png
  website/public/img/favicon.svg
  website/public/img/pinned-logo.svg
  website/public/img/pinned-rome-logo.svg
  website/public/img/social-logo.png
  website/src/components/ExternalLinks.astro
  website/src/components/PackageManagerRomeCommand.astro
  website/src/components/cli-screenshots/init.md
  website/src/components/cli-screenshots/noUnreachable-example.md
  website/src/components/cli-screenshots/recover-list.md
  website/src/layouts/BaseLayout.astro
  website/src/pages/analyzer/index.mdx
  website/src/pages/cli.mdx
  website/src/pages/configuration.mdx
  website/src/pages/credits.mdx
  website/src/pages/formatter/index.mdx
  website/src/pages/guides/getting-started.mdx
  website/src/pages/index.astro
  website/src/pages/internals/architecture.mdx
  website/src/pages/internals/language_support.mdx
  website/src/pages/internals/philosophy.mdx
  website/src/pages/internals/versioning.mdx
  website/src/pages/linter/index.mdx
  website/src/pages/standalone-executable.mdx
  website/src/pages/vscode.mdx
  website/src/svg/biome-logo.svg
  website/src/svg/rome-logo.svg
Labels: A-Website

#14 chore: fix publisher and action publishing
  .github/workflows/release_cli.yml
  .github/workflows/release_js_api.yml
  .github/workflows/release_lsp.yml
  editors/vscode/README.md
  editors/vscode/package-lock.json
  editors/vscode/package.json
  website/src/pages/vscode.mdx
Labels: A-Website

#11 docs: update internal docs
  benchmark/README.md
  crates/rome_analyze/CONTRIBUTING.md
  crates/rome_analyze/README.md
  crates/rome_cli/README.md
  crates/rome_css_parser/README.md
  crates/rome_diagnostics/CONTRIBUTING.md
  crates/rome_diagnostics/README.md
  crates/rome_diagnostics_categories/README.md
  crates/rome_formatter/README.md
  crates/rome_js_factory/README.md
  crates/rome_js_formatter/README.md
  crates/rome_js_parser/README.md
  crates/rome_js_semantic/README.md
  crates/rome_js_syntax/README.md
  crates/rome_json_formatter/README.md
  crates/rome_json_parser/README.md
  crates/rome_service/README.md
  editors/helix/manual.md
  editors/vscode/README.md
  fuzz/README.md
  packages/@biomejs/js-api/README.md
  rfcs/002-runtime-api.md
  website/src/pages/vscode.mdx
  xtask/codegen/README.md
Labels: A-CLI, A-Project, A-Linter, A-Parser, A-Formatter, A-Tooling, A-Website, L-JavaScript, L-CSS, L-JSON, A-Diagnostic

#17 chore(website): remove Alumni
  website/src/pages/credits.mdx
Labels: A-Website

#1 feat(rome_js_analyze): useGetterReturn
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_getter_return.rs
  crates/rome_js_analyze/tests/specs/nursery/useGetterReturn/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/useGetterReturn/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useGetterReturn/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useGetterReturn/valid.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/useGetterReturn.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#20 fix(lint/useEnumInitailizers): ignore enum in ambient namespaces
  crates/rome_js_analyze/src/analyzers/style/use_enum_initializers.rs
  crates/rome_js_analyze/tests/specs/style/useEnumInitializers/invalid.ts
  crates/rome_js_analyze/tests/specs/style/useEnumInitializers/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/style/useEnumInitializers/valid.ts
  crates/rome_js_analyze/tests/specs/style/useEnumInitializers/valid.ts.snap
  crates/rome_js_syntax/src/declaration_ext.rs
  crates/rome_js_syntax/src/lib.rs
Labels: A-Linter, A-Parser, L-JavaScript

#24 fix(lint/noUnsafeDeclarationMerging): recoggnize ambient classes in ambient namespace
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_unsafe_declaration_merging.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnsafeDeclarationMerging/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/noUnsafeDeclarationMerging/valid.ts.snap
  crates/rome_js_syntax/src/declaration_ext.rs
Labels: A-Linter, A-Parser, L-JavaScript

#22 chore: start blog
  website/src/components/BlogPostInfo.astro
  website/src/components/NavigationSidebar.astro
  website/src/layouts/BaseLayout.astro
  website/src/layouts/Blog.astro
  website/src/layouts/Page.astro
  website/src/pages/blog/annoucing-biome.mdx
  website/src/pages/blog/biome-v1.mdx
  website/src/pages/blog/index.astro
  website/src/pages/feed.xml.js
  website/src/styles/_blog.scss
  website/src/styles/_card.scss
  website/src/styles/index.scss
  website/src/svg/rss.svg
Labels: A-Website

#26 refactor(lint/useGetterReturn): improve rule docs
  crates/rome_js_analyze/src/analyzers/nursery/use_getter_return.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/useGetterReturn.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript

#35 chore: better readme and code of conduct
  biome.json
  website/src/pages/blog/biome-v1.mdx
  website/src/pages/internals/changelog.mdx
  xtask/codegen/src/generate_website.rs
Labels: A-Tooling, A-Website

#36 refactor: avoid some cloning
  crates/rome_deserialize/src/json.rs
  crates/rome_js_analyze/src/analyzers/a11y/no_blank_target.rs
  crates/rome_js_analyze/src/analyzers/a11y/use_alt_text.rs
  crates/rome_js_analyze/src/analyzers/a11y/use_html_lang.rs
  crates/rome_js_analyze/src/analyzers/a11y/use_iframe_title.rs
  crates/rome_js_analyze/src/analyzers/a11y/use_key_with_mouse_events.rs
  crates/rome_js_analyze/src/analyzers/complexity/no_extra_boolean_cast.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_inner_declarations.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_switch_declarations.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_unreachable_super.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_unused_labels.rs
  crates/rome_js_analyze/src/analyzers/correctness/use_yield.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_constant_condition.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/rome_js_analyze/src/suppression_action.rs
  crates/rome_js_formatter/src/js/expressions/logical_expression.rs
  crates/rome_js_formatter/src/js/expressions/string_literal_expression.rs
  crates/rome_js_formatter/src/utils/string_utils.rs
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/jsx_ext.rs
Labels: A-Linter, A-Parser, A-Formatter, L-JavaScript

#25 feat(lint/noConstantCondition): allow `while(true)`
  CHANGELOG.md
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_constant_condition.rs
  crates/rome_js_analyze/tests/specs/nursery/noConstantCondition/invalid.jsonc
  crates/rome_js_analyze/tests/specs/nursery/noConstantCondition/invalid.jsonc.snap
  crates/rome_js_analyze/tests/specs/nursery/noConstantCondition/valid.jsonc
  crates/rome_js_analyze/tests/specs/nursery/noConstantCondition/valid.jsonc.snap
  website/src/pages/internals/changelog.mdx
  website/src/pages/lint/rules/noConstantCondition.md
Labels: A-Linter, A-Website, L-JavaScript

#23 feat(lint): noUselessThisAlias
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_this_alias.rs
  crates/rome_js_analyze/tests/specs/nursery/noUselessThisAlias/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/noUselessThisAlias/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessThisAlias/valid.js
  crates/rome_js_analyze/tests/specs/nursery/noUselessThisAlias/valid.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/pages/blog/biome-v1.mdx
  website/src/pages/internals/changelog.mdx
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noUselessThisAlias.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#62 fix(lsp): don't apply unsafe quick fixes on-save
  CHANGELOG.md
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/workspace.rs
  website/src/pages/internals/changelog.mdx
Labels: A-Project, A-LSP, A-Website

#64 docs(website): update supported version of JavaScript and TypeScript
  website/src/pages/internals/language_support.mdx
Labels: A-Website

#65 docs(website): fix typo
  website/src/pages/internals/versioning.mdx
Labels: A-Website

#67 docs(website): improve formatting, remove an erroneous link
  editors/vscode/README.md
  website/src/pages/analyzer/index.mdx
  website/src/pages/formatter/index.mdx
  website/src/pages/guides/getting-started.mdx
  website/src/pages/internals/philosophy.mdx
  website/src/pages/vscode.mdx
Labels: A-Website

#74 docs(CHANGELOG): update version
  CHANGELOG.md
  website/src/pages/internals/changelog.mdx
Labels: A-Website, A-Changelog

#78 Update biome-v1.mdx
  website/src/pages/blog/biome-v1.mdx
Labels: A-Website

#80 fix(vscode): enable and recognise JSONC files
  crates/rome_service/src/file_handlers/mod.rs
  editors/vscode/package.json
  editors/vscode/src/main.ts
Labels: A-Project

#84 blog: mention new features in first migration step
  website/src/pages/blog/annoucing-biome.mdx
Labels: A-Website

#82 fix(website): avatar overlapping with header nav
  website/src/styles/_blog.scss
Labels: A-Website

#70 fix(lint/useTemplate): preserve leading non-string addition
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/style/use_template.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/specs/style/useTemplate/invalid.js
  crates/rome_js_analyze/tests/specs/style/useTemplate/invalid.js.snap
  crates/rome_js_analyze/tests/specs/style/useTemplate/invalid.jsonc
  crates/rome_js_analyze/tests/specs/style/useTemplate/invalid.jsonc.snap
  crates/rome_js_analyze/tests/specs/style/useTemplate/valid.js
  crates/rome_js_analyze/tests/specs/style/useTemplate/valid.js.snap
  crates/rome_js_analyze/tests/specs/style/useTemplate/valid.jsonc
  crates/rome_js_analyze/tests/specs/style/useTemplate/valid.jsonc.snap
  crates/rome_js_factory/src/lib.rs
  crates/rome_js_factory/src/make.rs
  crates/rome_js_factory/src/utils.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/pages/internals/changelog.mdx
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/useTemplate.md
Labels: A-CLI, A-Project, A-Linter, A-Website, L-JavaScript, A-Changelog

#94 small typo fix
  crates/rome_js_analyze/tests/specs/correctness/organizeImports/groups.js
  crates/rome_js_analyze/tests/specs/correctness/organizeImports/groups.js.snap
  website/src/pages/analyzer/index.mdx
Labels: A-Linter, A-Website, L-JavaScript

#100 fix(lint/noDuplicateJsxProps): make the rule case-sensitive
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/suspicious/no_duplicate_jsx_props.rs
  crates/rome_js_analyze/tests/specs/suspicious/noDuplicateJsxProps/invalid.jsx
  crates/rome_js_analyze/tests/specs/suspicious/noDuplicateJsxProps/invalid.jsx.snap
  crates/rome_js_analyze/tests/specs/suspicious/noDuplicateJsxProps/valid.jsx
  crates/rome_js_analyze/tests/specs/suspicious/noDuplicateJsxProps/valid.jsx.snap
  website/src/pages/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog
