Repository biomejs/biome, pull requests merged in 2023-09, with the labels that each got.

#109 fix(lint/noUndeclaredVariables): recognize `Uppercase`
  CHANGELOG.md
  crates/rome_js_analyze/src/globals/browser.rs
  crates/rome_js_analyze/src/globals/node.rs
  crates/rome_js_analyze/src/globals/runtime.rs
  crates/rome_js_analyze/src/globals/typescript.rs
  crates/rome_js_analyze/tests/specs/correctness/noUndeclaredVariables/validTsGlobals.ts
  crates/rome_js_analyze/tests/specs/correctness/noUndeclaredVariables/validTsGlobals.ts.snap
  website/src/pages/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#110 docs: fix 'performance reason' typo everywhere left
  website/src/pages/configuration.mdx
  website/src/pages/linter/index.mdx
Labels: A-Website

#117 docs(website): fix broken links on getting-started
  website/src/content/docs/guides/getting-started.mdx
Labels: A-Website

#114 fix(lint/useTemplate): correctly handle comments
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/style/use_template.rs
  crates/rome_js_analyze/tests/specs/style/useTemplate/invalid.js
  crates/rome_js_analyze/tests/specs/style/useTemplate/invalid.js.snap
  website/astro.config.ts
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#122 docs/fix-analyzer-opt-in-reference
  website/src/content/docs/analyzer/index.mdx
Labels: A-Website

#123 refactor(utils): remove utils::to_camel_case
  crates/rome_js_analyze/src/utils.rs
  xtask/Cargo.toml
  xtask/bench/Cargo.toml
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_analyzer.rs
  xtask/contributors/Cargo.toml
  xtask/coverage/Cargo.toml
  xtask/libs_bench/Cargo.toml
  xtask/libs_bench/benches/to_camel_case.rs
  xtask/lintdoc/Cargo.toml
Labels: A-Linter, A-Tooling, L-JavaScript

#126 fix: docs typo
  website/src/content/docs/blog/biome-v1.mdx
Labels: A-Website

#127 fix(website): broken rule links on `biome-v1` blog page
  website/src/content/docs/blog/biome-v1.mdx
Labels: A-Website

#124 refactor(analyzer): avoid cloning and redundant checks
  crates/rome_js_analyze/src/analyzers/a11y/use_valid_anchor.rs
  crates/rome_js_analyze/src/analyzers/complexity/no_useless_constructor.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_invalid_constructor_super.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_unnecessary_continue.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_unsafe_optional_chaining.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_nonoctal_decimal_escape.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_getter_return.rs
  crates/rome_js_analyze/src/analyzers/suspicious/no_async_promise_executor.rs
  crates/rome_js_analyze/src/analyzers/suspicious/no_duplicate_case.rs
  crates/rome_js_analyze/src/analyzers/suspicious/no_duplicate_class_members.rs
  crates/rome_js_analyze/src/analyzers/suspicious/no_self_compare.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_children_prop.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_constant_condition.rs
  crates/rome_js_analyze/src/semantic_analyzers/security/no_dangerously_set_inner_html.rs
  crates/rome_js_analyze/src/semantic_analyzers/security/no_dangerously_set_inner_html_with_children.rs
  crates/rome_js_analyze/src/semantic_analyzers/suspicious/no_array_index_key.rs
  crates/rome_js_analyze/src/semantic_analyzers/suspicious/no_catch_assign.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_semantic/src/events.rs
Labels: A-Linter, L-JavaScript

#130 fix: restore "nursery end" comment in `categories.rs`
  crates/rome_diagnostics_categories/src/categories.rs
Labels: A-Diagnostic

#133 fix(website/playground): fix missing scroll
  website/src/styles/playground/_diagnostics.scss
Labels: A-Website

#142 fix(docs): a bunch of broken links, not all of them
  CHANGELOG.md
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_undeclared_variables.rs
  website/src/content/docs/formatter/index.mdx
  website/src/content/docs/guides/getting-started.mdx
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-undeclared-variables.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#140 fix: use `biome.json` instead
  crates/rome_cli/src/diagnostics.rs
  crates/rome_cli/tests/snapshots/main_cases_config_extends/extends_resolves_when_using_config_path.snap
  crates/rome_cli/tests/snapshots/main_commands_check/fs_files_ignore_symlink.snap
  crates/rome_cli/tests/snapshots/main_commands_format/custom_config_file_path.snap
  crates/rome_cli/tests/snapshots/main_commands_lint/fs_files_ignore_symlink.snap
  crates/rome_fs/src/fs.rs
  crates/rome_fs/src/lib.rs
  crates/rome_service/src/configuration/mod.rs
Labels: A-CLI, A-Core, A-Project

#144 feat: migrate `rome.json` to `biome.json`
  CHANGELOG.md
  crates/rome_cli/src/commands/migrate.rs
  crates/rome_cli/src/execute/migrate.rs
  crates/rome_cli/src/execute/mod.rs
  crates/rome_cli/tests/commands/migrate.rs
  crates/rome_cli/tests/snapshots/main_commands_migrate/emit_diagnostic_for_rome_json.snap
  crates/rome_cli/tests/snapshots/main_commands_migrate/should_create_biome_json_file.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Website, A-Changelog

#121 fix(lint/useExponentiationOperator): avoid incorrect code fixes
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/complexity/use_optional_chain.rs
  crates/rome_js_analyze/src/analyzers/complexity/use_simplified_logic_expression.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_arrow_function.rs
  crates/rome_js_analyze/src/analyzers/style/use_exponentiation_operator.rs
  crates/rome_js_analyze/src/analyzers/suspicious/no_unsafe_negation.rs
  crates/rome_js_analyze/tests/specs/style/useExponentiationOperator/invalid.js
  crates/rome_js_analyze/tests/specs/style/useExponentiationOperator/invalid.js.snap
  crates/rome_js_analyze/tests/specs/style/useExponentiationOperator/invalidAdjacentTokens.js.snap
  crates/rome_js_analyze/tests/specs/style/useExponentiationOperator/invalidBaseExpoentHigherPrecedence.js.snap
  crates/rome_js_analyze/tests/specs/style/useExponentiationOperator/invalidBaseExpoentLowerPrecedence.js.snap
  crates/rome_js_analyze/tests/specs/style/useExponentiationOperator/invalidClass.ts.snap
  crates/rome_js_analyze/tests/specs/style/useExponentiationOperator/invalidParentsWithHigherPrecedence.js.snap
  crates/rome_js_analyze/tests/specs/style/useExponentiationOperator/invalidParentsWithLowerPrecedence.js.snap
  crates/rome_js_analyze/tests/specs/style/useExponentiationOperator/invalidUnaryExpression.js.snap
  crates/rome_js_analyze/tests/specs/style/useExponentiationOperator/invalidWithComments.js
  crates/rome_js_analyze/tests/specs/style/useExponentiationOperator/invalidWithComments.js.snap
  crates/rome_js_analyze/tests/specs/style/useExponentiationOperator/invalidWithoutAutofix.js
  crates/rome_js_analyze/tests/specs/style/useExponentiationOperator/invalidWithoutAutofix.js.snap
  crates/rome_js_factory/src/make.rs
  crates/rome_js_syntax/src/expr_ext.rs
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/use-exponentiation-operator.md
Labels: A-Linter, A-Parser, A-Website, L-JavaScript, A-Changelog

#97 fix(lint/noUnreachableSuper): handle complex CFG
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/correctness/no_unreachable_super.rs
  crates/rome_js_analyze/src/control_flow.rs
  crates/rome_js_analyze/tests/specs/correctness/noUnreachableSuper/duplicateSuper.js
  crates/rome_js_analyze/tests/specs/correctness/noUnreachableSuper/duplicateSuper.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noUnreachableSuper/missingSuper.js
  crates/rome_js_analyze/tests/specs/correctness/noUnreachableSuper/missingSuper.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noUnreachableSuper/thisBeforeSuper.js
  crates/rome_js_analyze/tests/specs/correctness/noUnreachableSuper/thisBeforeSuper.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noUnreachableSuper/valid.js
  crates/rome_js_analyze/tests/specs/correctness/noUnreachableSuper/valid.js.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-unreachable-super.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#152 fix(lint/noCommaOperator): ignore update part of for loops
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/style/no_comma_operator.rs
  crates/rome_js_analyze/tests/specs/style/noCommaOperator/valid.jsonc
  crates/rome_js_analyze/tests/specs/style/noCommaOperator/valid.jsonc.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#150 fix(cli): correctly compute ignored files
  CHANGELOG.md
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/service/mod.rs
  crates/rome_cli/tests/cases/ignored_files.rs
  crates/rome_cli/tests/cases/mod.rs
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/snapshots/main_commands_check/ignores_file_inside_directory.snap
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/workspace/client.rs
  crates/rome_service/src/workspace/server.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  website/src/content/docs/internals/changelog.mdx
  xtask/codegen/src/generate_bindings.rs
Labels: A-CLI, A-Project, A-Tooling, A-LSP, A-Website, A-Changelog

#158 refactor(lint/noUselessConstructor): reduce false positives
  CHANGELOG.md
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/lint.rs
  crates/rome_cli/tests/snapshots/main_commands_check/check_stdin_apply_successfully.snap
  crates/rome_cli/tests/snapshots/main_commands_check/check_stdin_apply_unsafe_only_organize_imports.snap
  crates/rome_cli/tests/snapshots/main_commands_check/check_stdin_apply_unsafe_successfully.snap
  crates/rome_cli/tests/snapshots/main_commands_lint/check_stdin_apply_successfully.snap
  crates/rome_cli/tests/snapshots/main_commands_lint/check_stdin_apply_unsafe_successfully.snap
  crates/rome_js_analyze/src/analyzers/complexity/no_useless_constructor.rs
  crates/rome_js_analyze/tests/specs/complexity/noUselessConstructor/invalid.ts
  crates/rome_js_analyze/tests/specs/complexity/noUselessConstructor/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/complexity/noUselessConstructor/valid.jsonc.snap
  crates/rome_js_analyze/tests/specs/complexity/noUselessConstructor/validDecorator.js
  crates/rome_js_analyze/tests/specs/complexity/noUselessConstructor/validDecorator.js.snap
  crates/rome_js_analyze/tests/specs/complexity/noUselessConstructor/validDecorator.options.json
  crates/rome_js_syntax/src/parameter_ext.rs
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-useless-constructor.md
Labels: A-CLI, A-Linter, A-Parser, A-Website, L-JavaScript, L-JSON, A-Changelog

#163 feat: `biome-ignore` as suppression comment
  CHANGELOG.md
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/rule.rs
  crates/rome_cli/tests/snapshots/main_commands_check/deprecated_suppression_comment.snap
  crates/rome_cli/tests/snapshots/main_commands_lint/deprecated_suppression_comment.snap
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/specs/correctness/noUnreachable/SuppressionComments.js.snap
  crates/rome_js_analyze/tests/suppression/a11y/useKeyWithClickEvents/invalid.jsx.snap
  crates/rome_js_analyze/tests/suppression/correctness/noUndeclaredVariables/noUndeclaredVariables.ts.snap
  crates/rome_js_analyze/tests/suppression/correctness/noUnusedVariables/simple.js.snap
  crates/rome_js_analyze/tests/suppression/suspicious/noArrayIndexKey/noArrayIndexKey.jsx.snap
  crates/rome_js_analyze/tests/suppression/suspicious/noDoubleEquals/noDoubleEquals.js.snap
  crates/rome_js_analyze/tests/suppression/suspicious/noDoubleEquals/noDoubleEquals.jsx.snap
  crates/rome_js_syntax/src/suppression.rs
  crates/rome_lsp/tests/server.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  website/src/content/docs/internals/changelog.mdx
  website/src/playground/PlaygroundLoader.tsx
  website/src/playground/components/Tabs.tsx
  website/src/playground/tabs/ControlFlowTab.tsx
  website/src/playground/tabs/DiagnosticsConsoleTab.tsx
  website/src/playground/tabs/DiagnosticsListTab.tsx
  website/src/playground/tabs/SettingsTab.tsx
Labels: A-CLI, A-Linter, A-Parser, A-LSP, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#160 feat(lint): useCollapsedElseIf
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_collapsed_else_if.rs
  crates/rome_js_analyze/tests/specs/nursery/useCollapsedElseIf/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/useCollapsedElseIf/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useCollapsedElseIf/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useCollapsedElseIf/valid.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/use-collapsed-else-if.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#166 feat: create action for replacing outdated suppression comments
  CHANGELOG.md
  crates/rome_analyze/src/lib.rs
  crates/rome_cli/tests/snapshots/main_commands_check/deprecated_suppression_comment.snap
  crates/rome_cli/tests/snapshots/main_commands_lint/deprecated_suppression_comment.snap
  crates/rome_js_analyze/tests/specs/correctness/noUnreachable/SuppressionComments.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Linter, A-Website, L-JavaScript, A-Changelog

#155 release: 1.1.0
  CHANGELOG.md
  editors/vscode/package.json
  packages/@biomejs/biome/package.json
  website/src/content/docs/internals/changelog.mdx
  website/src/pages/schemas/1.1.0/schema.json.js
Labels: A-Website, A-Changelog

#171 docs: fix typo in CONTRIBUTING.md
  crates/rome_diagnostics/CONTRIBUTING.md
Labels: A-Diagnostic

#172 fix: fix website links
  website/src/content/docs/formatter/index.mdx
  website/src/content/docs/guides/manual-installation.mdx
Labels: A-Website

#169 feat: rename markup, test_utils... -> biome #88
  .cargo/config.toml
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  crates/biome_lsp/Cargo.toml
  crates/biome_lsp/src/capabilities.rs
  crates/biome_lsp/src/converters/from_proto.rs
  crates/biome_lsp/src/converters/line_index.rs
  crates/biome_lsp/src/converters/mod.rs
  crates/biome_lsp/src/converters/to_proto.rs
  crates/biome_lsp/src/diagnostics.rs
  crates/biome_lsp/src/documents.rs
  crates/biome_lsp/src/extension_settings.rs
  crates/biome_lsp/src/handlers.rs
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/src/handlers/formatting.rs
  crates/biome_lsp/src/handlers/rename.rs
  crates/biome_lsp/src/handlers/text_document.rs
  crates/biome_lsp/src/lib.rs
  crates/biome_lsp/src/requests/mod.rs
  crates/biome_lsp/src/requests/syntax_tree.rs
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/session.rs
  crates/biome_lsp/src/utils.rs
  crates/biome_lsp/tests/server.rs
  crates/biome_markup/Cargo.toml
  crates/biome_markup/README.md
  crates/biome_markup/src/lib.rs
  crates/biome_test_utils/Cargo.toml
  crates/biome_test_utils/src/lib.rs
  crates/rome_cli/Cargo.toml
  crates/rome_cli/README.md
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/service/unix.rs
  crates/rome_cli/src/service/windows.rs
  crates/rome_cli/tests/commands/rage.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/main_commands_rage/rage_ok.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_configuration.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_malformed_configuration.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_server_logs.snap
  crates/rome_cli/tests/snapshots/main_commands_version/version_full.snap
  crates/rome_console/Cargo.toml
  crates/rome_console/src/lib.rs
  crates/rome_console/src/write/termcolor.rs
  crates/rome_console/tests/macro.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_semantic/Cargo.toml
  crates/rome_js_transform/Cargo.toml
  crates/rome_js_transform/tests/spec_tests.rs
  crates/rome_json_analyze/Cargo.toml
  crates/rome_json_analyze/tests/spec_tests.rs
Labels: A-CLI, A-Linter, L-JavaScript, L-JSON

#173 docs: update 1.1.0 changelog entries
  CHANGELOG.md
  website/src/content/docs/internals/changelog.mdx
Labels: A-Website, A-Changelog

#179 release: 1.1.1
  .github/workflows/main.yml
  .github/workflows/pull_request.yml
  CHANGELOG.md
  Cargo.toml
  crates/rome_analyze/src/lib.rs
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/tests/snapshots/main_commands_check/deprecated_suppression_comment.snap
  crates/rome_cli/tests/snapshots/main_commands_lint/deprecated_suppression_comment.snap
  crates/rome_console/Cargo.toml
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_semantic/Cargo.toml
  crates/rome_js_transform/Cargo.toml
  crates/rome_json_analyze/Cargo.toml
  editors/vscode/package.json
  packages/@biomejs/biome/package.json
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Linter, A-Website, L-JavaScript, L-JSON, A-Changelog

#183 chore: rename rome_css_* to biome_css__*
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  crates/biome_css_factory/Cargo.toml
  crates/biome_css_factory/src/generated.rs
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_factory/src/lib.rs
  crates/biome_css_parser/Cargo.toml
  crates/biome_css_parser/LICENSE
  crates/biome_css_parser/README.md
  crates/biome_css_parser/ROME_LICENSE
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/lexer/tests.rs
  crates/biome_css_parser/src/lib.rs
  crates/biome_css_parser/src/parser.rs
  crates/biome_css_parser/src/prelude.rs
  crates/biome_css_parser/src/syntax.rs
  crates/biome_css_parser/src/token_source.rs
  crates/biome_css_parser/tests/css_test_suite/ok/empty.css
  crates/biome_css_parser/tests/css_test_suite/ok/empty.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_parser/tests/spec_tests.rs
  crates/biome_css_syntax/Cargo.toml
  crates/biome_css_syntax/src/generated.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_css_syntax/src/lib.rs
  crates/biome_css_syntax/src/syntax_node.rs
  packages/@biomejs/js-api/README.md
  xtask/codegen/src/generate_syntax_factory.rs
  xtask/codegen/src/lib.rs
Labels: A-Tooling

#186 release: 1.1.2
  CHANGELOG.md
  crates/rome_service/src/file_handlers/json.rs
  editors/vscode/package.json
  packages/@biomejs/biome/package.json
  website/src/content/docs/internals/changelog.mdx
Labels: A-Project, A-Website, A-Changelog

#170 chore: rename `rome_flags` to `biome_flags`, `rome_aria_metadata` to`biome_aria_metadata` and `rome_aria` to`biome_aria` biomejs#88
  Cargo.lock
  Cargo.toml
  crates/biome_aria/Cargo.toml
  crates/biome_aria/src/iso.rs
  crates/biome_aria/src/lib.rs
  crates/biome_aria/src/macros.rs
  crates/biome_aria/src/properties.rs
  crates/biome_aria/src/roles.rs
  crates/biome_aria_metadata/Cargo.toml
  crates/biome_aria_metadata/build.rs
  crates/biome_aria_metadata/src/lib.rs
  crates/biome_flags/Cargo.toml
  crates/biome_flags/src/lib.rs
  crates/rome_cli/Cargo.toml
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/aria_analyzers/nursery/no_noninteractive_tabindex.rs
  crates/rome_js_analyze/src/aria_analyzers/nursery/no_redundant_roles.rs
  crates/rome_js_analyze/src/aria_analyzers/nursery/use_aria_prop_types.rs
  crates/rome_js_analyze/src/aria_services.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_semantic/src/semantic_model/model.rs
  crates/rome_service/Cargo.toml
  crates/rome_service/src/configuration/linter/rules.rs
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI, A-Project, A-Linter, A-Tooling, L-JavaScript, L-JSON

#189 Updated the linter rules link
  xtask/lintdoc/src/main.rs
Labels: A-Tooling

#176 Update NumberOfRules.astro
  website/src/components/generated/NumberOfRules.astro
Labels: A-Website

#188 docs: add bun commands to getting started guide
  website/src/assets/svg/bun.svg
  website/src/components/PackageManagerCommand.astro
  website/src/components/PackageManagerRomeCommand.astro
  website/src/content/docs/guides/getting-started.mdx
Labels: A-Website

#194 fix: code generation
  Cargo.toml
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_lsp/Cargo.toml
  crates/biome_test_utils/Cargo.toml
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_syntax/src/generated/nodes.rs
  crates/rome_js_transform/Cargo.toml
  crates/rome_json_analyze/Cargo.toml
  crates/rome_json_syntax/src/generated/nodes.rs
  crates/rome_migrate/Cargo.toml
  crates/rome_service/Cargo.toml
  website/src/components/generated/NumberOfRules.astro
  xtask/bench/Cargo.toml
  xtask/codegen/Cargo.toml
  xtask/lintdoc/Cargo.toml
  xtask/src/lib.rs
Labels: A-Project, A-Linter, A-Parser, A-Tooling, A-LSP, A-Website, L-JavaScript, L-JSON

#28 refactor(lint/noFallthroughSwitchClause): use CFG
  CHANGELOG.md
  crates/rome_control_flow/src/builder.rs
  crates/rome_control_flow/src/lib.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_unreachable.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_unreachable_super.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_fallthrough_switch_clause.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_getter_return.rs
  crates/rome_js_analyze/tests/specs/nursery/noFallthroughSwitchClause/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/noFallthroughSwitchClause/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noFallthroughSwitchClause/valid.js
  crates/rome_js_analyze/tests/specs/nursery/noFallthroughSwitchClause/valid.js.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-fallthrough-switch-clause.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#184 feat(lint/noConfusingVoidType): add no-confusing-void-type
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_confusing_void_type.rs
  crates/rome_js_analyze/tests/specs/nursery/noConfusingVoidType/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/noConfusingVoidType/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noConfusingVoidType/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/noConfusingVoidType/valid.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-confusing-void-type.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#205 chore: rename `rome_js_unicode_table` to `biome_js_unicode_table` biomejs#88
  .gitattributes
  Cargo.lock
  Cargo.toml
  crates/biome_css_parser/Cargo.toml
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_js_unicode_table/Cargo.toml
  crates/biome_js_unicode_table/src/bytes.rs
  crates/biome_js_unicode_table/src/lib.rs
  crates/biome_js_unicode_table/src/tables.rs
  crates/rome_cli/tests/commands/format.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/analyzers/complexity/use_literal_keys.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_naming_convention.rs
  crates/rome_js_parser/Cargo.toml
  crates/rome_js_parser/src/lexer/mod.rs
  crates/rome_json_parser/Cargo.toml
  crates/rome_json_parser/src/lexer/mod.rs
  xtask/codegen/src/unicode.rs
Labels: A-CLI, A-Linter, A-Parser, A-Tooling, L-JavaScript, L-JSON

#203 fix useLiteralKeys bug with empty string key
  crates/biome_js_unicode_table/src/lib.rs
  crates/rome_js_analyze/tests/specs/complexity/useLiteralKeys/invalid.js
  crates/rome_js_analyze/tests/specs/complexity/useLiteralKeys/invalid.js.snap
  crates/rome_js_analyze/tests/specs/complexity/useLiteralKeys/invalid.ts
  crates/rome_js_analyze/tests/specs/complexity/useLiteralKeys/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/complexity/useLiteralKeys/valid.js
  crates/rome_js_analyze/tests/specs/complexity/useLiteralKeys/valid.js.snap
Labels: A-Linter, L-JavaScript

#214 fix(analyzer): useLiteralKeys removes optional chaining
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/complexity/use_literal_keys.rs
  crates/rome_js_analyze/tests/specs/complexity/useLiteralKeys/invalid.js
  crates/rome_js_analyze/tests/specs/complexity/useLiteralKeys/invalid.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#213 chore: update links displayed in `biome init`, the previous were broken
  crates/biome_cli/src/commands/init.rs
  crates/biome_cli/tests/snapshots/main_commands_init/creates_config_file.snap
  crates/biome_cli/tests/snapshots/main_commands_init/creates_config_file_when_rome_installed_via_package_manager.snap
Labels: A-CLI

#125 feat(lint/useIsNan): add code fix action
  crates/rome_js_analyze/src/semantic_analyzers/correctness/use_is_nan.rs
  crates/rome_js_analyze/tests/specs/correctness/useIsNan/invalid.js.snap
  website/src/content/docs/linter/rules/use-is-nan.md
Labels: A-Linter, A-Website, L-JavaScript

#226 Update configuration.mdx
  website/src/content/docs/reference/configuration.mdx
Labels: A-Website

#233 fix(lint/noConfusingVoidType): separate invalid examples
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_semantic/src/semantic_model/builder.rs
  crates/biome_js_semantic/src/semantic_model/model.rs
  crates/biome_js_semantic/src/semantic_model/reference.rs
  crates/biome_js_semantic/src/semantic_model/scope.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_confusing_void_type.rs
  website/src/content/docs/linter/rules/no-confusing-void-type.md
Labels: A-Linter, A-Website, L-JavaScript

#236 refactor(lint/noUselessConstructor): mark unsafe all code fixes
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/complexity/no_useless_constructor.rs
  crates/rome_js_analyze/tests/specs/complexity/noUselessConstructor/invalid.jsonc.snap
  crates/rome_js_analyze/tests/specs/complexity/noUselessConstructor/valid.jsonc.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-useless-constructor.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#232 fix(analyzer): useExhaustiveDependencies error when useState is on a new line #168
  CHANGELOG.md
  crates/rome_js_analyze/src/react/hooks.rs
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/newline.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/newline.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#228 fix(analyzer): noRedeclare breaks *.d.ts files
  CHANGELOG.md
  crates/biome_js_semantic/src/events.rs
  crates/biome_rowan/src/ast/batch.rs
  crates/rome_js_analyze/tests/specs/suspicious/noRedeclare/valid-modules.ts
  crates/rome_js_analyze/tests/specs/suspicious/noRedeclare/valid-modules.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Core, A-Linter, A-Website, L-JavaScript, A-Changelog

#238 docs: add section for Vue and Svelte
  website/.astro/types.d.ts
  website/.gitignore
  website/astro.config.ts
  website/package.json
  website/src/content/docs/internals/language-support.mdx
Labels: A-Website

#246 docs: rename rome to biome
  website/src/components/Contributors.astro
  website/src/components/PackageManagerBiomeCommand.astro
  website/src/content/docs/formatter/index.mdx
  website/src/content/docs/guides/getting-started.mdx
  website/src/content/docs/linter/index.mdx
  website/src/playground/CodeMirror.tsx
  website/src/playground/Playground.tsx
  website/src/playground/PlaygroundLoader.tsx
  website/src/playground/components/BiomeHeader.tsx
  website/src/playground/tabs/FormatterCodeTab.tsx
  website/src/playground/tabs/FormatterIrTab.tsx
  website/src/playground/tabs/ImportSortingTab.tsx
  website/src/playground/tabs/SyntaxTab.tsx
  website/src/playground/types.ts
  website/src/playground/utils.ts
  website/src/playground/workers/biomeWorker.ts
  website/src/styles/blog/_blog.scss
  website/src/styles/playground/index.scss
Labels: A-Website

#248 fix(biome-lsp): only filter quickactions when action category is 'quickfix.biome'
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/tests/server.rs
Labels: A-LSP

#204 chore: improve changelog generation
  .github/release.yml
  CHANGELOG.md
  CONTRIBUTING.md
  crates/biome_js_analyze/src/analyzers/nursery/no_confusing_void_type.rs
  crates/biome_js_analyze/src/analyzers/nursery/use_collapsed_else_if.rs
  justfile
  scripts/print-changelog.sh
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-confusing-void-type.md
  website/src/content/docs/linter/rules/use-collapsed-else-if.md
Labels: A-Linter, A-Website, L-JavaScript, L-JSON, A-Changelog

#260 fix(analyzer): lint/complexity/noUselessFragments removing assignment #258
  CHANGELOG.md
  crates/biome_js_analyze/src/semantic_analyzers/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/assigments.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/assigments.jsx.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#252 feat: control formatter by language
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_apply_different_formatting.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_apply_different_formatting_with_cli.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_not_format_js_files_if_disabled.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_not_format_json_files_if_disabled.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/check_help.snap
  crates/biome_deserialize/src/json.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_excessive_complexity.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_naming_convention.rs
  crates/biome_js_analyze/src/semantic_analyzers/style/no_restricted_globals.rs
  crates/biome_js_formatter/src/context.rs
  crates/biome_js_formatter/src/context/trailing_comma.rs
  crates/biome_service/src/configuration/formatter.rs
  crates/biome_service/src/configuration/javascript/formatter.rs
  crates/biome_service/src/configuration/javascript/mod.rs
  crates/biome_service/src/configuration/json.rs
  crates/biome_service/src/configuration/mod.rs
  crates/biome_service/src/configuration/parse/json/configuration.rs
  crates/biome_service/src/configuration/parse/json/files.rs
  crates/biome_service/src/configuration/parse/json/formatter.rs
  crates/biome_service/src/configuration/parse/json/javascript/formatter.rs
  crates/biome_service/src/configuration/parse/json/javascript/mod.rs
  crates/biome_service/src/configuration/parse/json/json_configuration.rs
  crates/biome_service/src/configuration/parse/json/json_impl/mod.rs
  crates/biome_service/src/configuration/parse/json/linter.rs
  crates/biome_service/src/configuration/parse/json/mod.rs
  crates/biome_service/src/configuration/parse/json/organize_imports.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/src/configuration/parse/json/vcs.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/tests/spec_tests.rs
  crates/biome_service/tests/valid/base_options_inside_javascript.json
  crates/biome_service/tests/valid/base_options_inside_json.json
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/internals/changelog.mdx
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI, A-Project, A-Linter, A-Formatter, A-Tooling, A-Website, L-JavaScript, A-Changelog

#265 fix(cli): `--errors-on-warnings` should work with `ci` command
  CHANGELOG.md
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/commands/ci.rs
  crates/biome_cli/tests/snapshots/main_commands_ci/does_error_with_only_warnings.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Website, A-Changelog

#256 fix(lint/noUnusedVariables): remove false positives
  CHANGELOG.md
  crates/biome_js_analyze/src/semantic_analyzers/correctness/no_unused_variables.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/definitionfile.d.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/inavlidSelfWrite.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/inavlidSelfWrite.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidClass.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidClass.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidEnum.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidEnum.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidInterface.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidInterface.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidMethodParameters.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidMethodParameters.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidRecursiveFunctions.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidRecursiveFunctions.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validClass.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validClass.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validEnum.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validEnum.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validForStatement.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validForStatement.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validFunctions.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validFunctions.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validInnerUsed.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validInnerUsed.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validVariables.tsx
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validVariables.tsx.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validWithSelfAssign.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validWithSelfAssign.js.snap
  crates/biome_js_syntax/src/declaration_ext.rs
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-unused-variables.md
Labels: A-Linter, A-Parser, A-Website, L-JavaScript, A-Changelog

#269 fix(lint/useLiteralKeys): emit correct AST for assignment expressions
  CHANGELOG.md
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/snapshots/main_commands_check/use_literal_keys_should_emit_correct_ast_issue_266.snap
  crates/biome_js_analyze/src/analyzers/complexity/use_literal_keys.rs
  crates/biome_js_analyze/src/lib.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Linter, A-Website, L-JavaScript, A-Changelog

#270 refactor(lint/noAssignInExpressions): remove code fix
  CHANGELOG.md
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_check/apply_unsafe_no_assign_in_expression.snap
  crates/biome_cli/tests/snapshots/main_commands_check/nursery_unstable.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/nursery_unstable.snap
  crates/biome_js_analyze/src/analyzers/suspicious/no_assign_in_expressions.rs
  crates/biome_js_analyze/tests/specs/suspicious/noAssignInExpressions/invalid.js.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-assign-in-expressions.md
Labels: A-CLI, A-Linter, A-Website, L-JavaScript, A-Changelog

#271 refactor(lint/noConfusingArrow): remove rule
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_confusing_arrow.rs
  crates/biome_js_analyze/tests/specs/nursery/noConfusingArrow/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noConfusingArrow/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noConfusingArrow/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noConfusingArrow/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-confusing-arrow.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#284 Conaclos/xstack/lint rule scripts
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  xtask/codegen/src/generate_new_lintrule.rs
  xtask/codegen/src/promote_rule.rs
Labels: A-Tooling, L-JavaScript, A-Diagnostic

#289 chore: update CHANGELOG mentions
  CHANGELOG.md
  website/src/content/docs/internals/changelog.mdx
Labels: A-Website, A-Changelog

#291 fix(useValidAriaValues): rule link
  crates/biome_diagnostics_categories/src/categories.rs
  website/src/content/docs/linter/rules/use-valid-aria-values.md
Labels: A-Website, A-Diagnostic

#292 fix: schema and formatter language application
  CHANGELOG.md
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_format/should_apply_different_indent_style.snap
  crates/biome_service/src/configuration/javascript/formatter.rs
  crates/biome_service/src/configuration/json.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  editors/vscode/configuration_schema.json
  editors/vscode/package.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  packages/@biomejs/biome/package.json
  website/src/content/docs/internals/changelog.mdx
  website/src/pages/schemas/1.2.1/schema.json.js
Labels: A-CLI, A-Project, A-Website, A-Changelog

#298 fix(formatter): suppress `default_constructed_unit_structs` on formatter generated code
  crates/biome_js_formatter/src/generated.rs
  crates/biome_json_formatter/src/generated.rs
  xtask/codegen/src/formatter.rs
Labels: A-Formatter, A-Tooling, L-JavaScript, L-JSON

#295 docs: documentation for new configuration fields
  website/src/content/docs/reference/configuration.mdx
Labels: A-Website

#299 fix(cli): correctly apply import sorting on --apply
  CHANGELOG.md
  crates/biome_cli/src/execute/process_file/organize_imports.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/snapshots/main_commands_check/different_all_rules.snap
  crates/biome_cli/tests/snapshots/main_commands_check/fs_error_dereferenced_symlink_unix.snap
  crates/biome_cli/tests/snapshots/main_commands_check/fs_error_infinite_symlink_expansion_unix.snap
  crates/biome_cli/tests/snapshots/main_commands_check/should_organize_imports_diff_on_check.snap
  crates/biome_cli/tests/snapshots/main_commands_check/shows_organize_imports_diff_on_check_apply.snap
  crates/biome_cli/tests/snapshots/main_commands_format/treats_typescript_json_like_jsonc.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/apply_unsafe_no_assign_in_expression.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_server_logs.snap
  editors/vscode/package.json
  packages/@biomejs/biome/package.json
  website/src/content/docs/analyzer/index.mdx
  website/src/content/docs/internals/changelog.mdx
  website/src/pages/schemas/1.2.2/schema.json.js
Labels: A-CLI, A-Website, A-Changelog

#215 feat(lint): `noMisleadingInstantiator`
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_misleading_instantiator.rs
  crates/biome_js_analyze/tests/specs/nursery/noMisleadingInstantiator/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noMisleadingInstantiator/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noMisleadingInstantiator/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noMisleadingInstantiator/valid.ts.snap
  crates/biome_js_syntax/src/expr_ext.rs
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-misleading-instantiator.md
Labels: A-Project, A-Linter, A-Parser, A-Website, L-JavaScript, L-JSON, A-Diagnostic, A-Changelog

#311 chore: upgrade prettier to v3 in website/playground
  pnpm-lock.yaml
  website/package.json
  website/src/playground/types.ts
  website/src/playground/workers/prettierWorker.ts
Labels: A-Website

#264 feat(analyzer): treat import sorting as a safe fix
  CHANGELOG.md
  crates/biome_cli/src/execute/process_file/organize_imports.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/snapshots/main_commands_check/shows_organize_imports_diff_on_check.snap
  crates/biome_js_analyze/src/assists/correctness.rs
  crates/biome_js_analyze/src/assists/correctness/flip_bin_exp.rs
  crates/biome_js_analyze/src/assists/correctness/inline_variable.rs
  crates/biome_js_analyze/src/utils.rs
  crates/biome_js_analyze/tests/specs/correctness/flipBinExp/flipBinExp.jsonc
  crates/biome_js_analyze/tests/specs/correctness/flipBinExp/flipBinExp.jsonc.snap
  crates/biome_js_analyze/tests/specs/correctness/inlineVariable/doNotInline.js
  crates/biome_js_analyze/tests/specs/correctness/inlineVariable/doNotInline.js.snap
  crates/biome_js_analyze/tests/specs/correctness/inlineVariable/recursiveInvalid.js
  crates/biome_js_analyze/tests/specs/correctness/inlineVariable/recursiveInvalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/inlineVariable/valid.js
  crates/biome_js_analyze/tests/specs/correctness/inlineVariable/valid.js.snap
  crates/biome_lsp/tests/server.rs
  crates/biome_service/src/configuration/organize_imports.rs
  crates/biome_service/src/settings.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Project, A-Linter, A-LSP, A-Website, L-JavaScript, A-Changelog

#309 fix: void error on type of a function declaration
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/nursery/no_confusing_void_type.rs
  crates/biome_js_analyze/tests/specs/nursery/noConfusingVoidType/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noConfusingVoidType/valid.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#316 fix(cli): fix ci tests
  crates/biome_cli/tests/snapshots/main_commands_check/should_organize_imports_diff_on_check.snap
Labels: A-CLI

#314 docs: add recommended rules to the docs
  website/src/components/generated/RecommendedRules.astro
  website/src/content/docs/linter/index.mdx
  website/src/content/docs/linter/rules/no-accumulating-spread.md
  website/src/content/docs/linter/rules/no-confusing-void-type.md
  website/src/content/docs/linter/rules/no-duplicate-json-keys.md
  website/src/content/docs/linter/rules/no-excessive-complexity.md
  website/src/content/docs/linter/rules/no-fallthrough-switch-clause.md
  website/src/content/docs/linter/rules/no-global-is-finite.md
  website/src/content/docs/linter/rules/no-global-is-nan.md
  website/src/content/docs/linter/rules/no-misleading-instantiator.md
  website/src/content/docs/linter/rules/no-void.md
  website/src/content/docs/linter/rules/use-arrow-function.md
  website/src/content/docs/linter/rules/use-collapsed-else-if.md
  website/src/content/docs/linter/rules/use-exhaustive-dependencies.md
  website/src/content/docs/linter/rules/use-grouped-type-import.md
  website/src/content/docs/linter/rules/use-hook-at-top-level.md
  website/src/content/docs/linter/rules/use-import-restrictions.md
  website/src/content/docs/linter/rules/use-is-array.md
  xtask/lintdoc/src/main.rs
Labels: A-Tooling, A-Website

#318 docs: new guide on how to use biome in big projects
  pnpm-lock.yaml
  website/astro.config.ts
  website/package.json
  website/src/content/docs/guides/big-projects.mdx
  website/src/content/docs/guides/getting-started.mdx
  website/src/content/docs/guides/manual-installation.mdx
  website/src/env.d.ts
  website/src/playground/PlaygroundLoader.tsx
  website/src/playground/tabs/FormatterCodeTab.tsx
  website/src/playground/tabs/ImportSortingTab.tsx
  website/src/playground/tabs/SettingsTab.tsx
  website/src/playground/utils.ts
  website/src/playground/workers/biomeWorker.ts
  website/src/playground/workers/prettierWorker.ts
Labels: A-Website

#307 feat: basic class selector parsing
  Cargo.lock
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_parser/Cargo.toml
  crates/biome_css_parser/src/syntax.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/tests/css_test_suite/error/css_unfinished_block.css
  crates/biome_css_parser/tests/css_test_suite/error/css_unfinished_block.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/class_selector.css
  crates/biome_css_parser/tests/css_test_suite/ok/class_selector.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_parser/tests/spec_tests.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_css_syntax/src/lib.rs
  crates/biome_rowan/src/ast/mod.rs
  crates/biome_test_utils/src/lib.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Core, A-Parser, A-Tooling, L-CSS

#308 feat(js_parser): better diagnostic for infer type #243
  .github/workflows/parser_conformance.yml
  CHANGELOG.md
  crates/biome_js_formatter/src/ts/types/infer_type.rs
  crates/biome_js_parser/src/syntax/class.rs
  crates/biome_js_parser/src/syntax/function.rs
  crates/biome_js_parser/src/syntax/jsx/mod.rs
  crates/biome_js_parser/src/syntax/object.rs
  crates/biome_js_parser/src/syntax/stmt.rs
  crates/biome_js_parser/src/syntax/typescript.rs
  crates/biome_js_parser/src/syntax/typescript/statement.rs
  crates/biome_js_parser/src/syntax/typescript/ts_parse_error.rs
  crates/biome_js_parser/src/syntax/typescript/types.rs
  crates/biome_js_parser/src/tests.rs
  crates/biome_js_parser/test_data/inline/err/ts_infer_type_not_allowed.rast
  crates/biome_js_parser/test_data/inline/err/ts_infer_type_not_allowed.ts
  crates/biome_js_parser/test_data/inline/ok/ts_conditional_type.rast
  crates/biome_js_parser/test_data/inline/ok/ts_conditional_type.ts
  crates/biome_js_parser/test_data/inline/ok/ts_infer_type_allowed.rast
  crates/biome_js_parser/test_data/inline/ok/ts_infer_type_allowed.ts
  crates/biome_js_parser/test_data/inline/ok/ts_inferred_type.rast
  crates/biome_js_parser/test_data/inline/ok/ts_inferred_type.ts
  website/src/content/docs/internals/changelog.mdx
Labels: A-Parser, A-Formatter, A-Website, L-JavaScript, A-Changelog

#323 fix(cli): lint command help
  CHANGELOG.md
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Website, A-Changelog

#324 fix: rome to biome on big-projects page
  website/astro.config.ts
  website/src/content/docs/guides/big-projects.mdx
Labels: A-Website

#325 fix(website): remove formatter options from biome lint
  website/src/content/docs/reference/cli.mdx
Labels: A-Website

#328 fix: code highlighting in playground
  pnpm-lock.yaml
  website/package.json
  website/pnpm-lock.yaml
Labels: A-Website

#338 refactor(formatter): Use OnceCell in Memoized
  CHANGELOG.md
  crates/biome_formatter/src/format_extensions.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-Formatter, A-Website, A-Changelog

#329 docs: add homebrew installation instructions
  website/src/content/docs/guides/manual-installation.mdx
Labels: A-Website

#363 chore: remove `atty`
  Cargo.lock
  Cargo.toml
  crates/biome_console/Cargo.toml
  crates/biome_console/src/lib.rs
  crates/biome_js_parser/src/lexer/highlight.rs
  xtask/coverage/Cargo.toml
  xtask/coverage/src/reporters.rs
Labels: A-CLI, A-Parser, A-Tooling, L-JavaScript

#331 feat(lint/noUselessElse): add rule
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_useless_else.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_is_array.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessElse/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessElse/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUselessElse/missed.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessElse/missed.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUselessElse/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessElse/valid.js.snap
  crates/biome_rowan/src/ast/mod.rs
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  editors/vscode/src/main.ts
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/astro.config.ts
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-useless-else.md
  website/src/frontend-scripts/toc.ts
  website/src/playground/Playground.tsx
  website/src/playground/tabs/FormatterCodeTab.tsx
  website/src/playground/utils.ts
  website/src/playground/workers/prettierWorker.ts
Labels: A-Core, A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#374 refactor(lint/noUselessLabel): make code fix safe
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/complexity/no_useless_label.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessLabel/invalid.jsonc.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-useless-label.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#350 fix(analyzer): False positive in rule noUndeclaredVariables #243
  CHANGELOG.md
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/infer.ts
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/infer.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/infer_incorrect.ts
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/infer_incorrect.ts.snap
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_semantic/src/semantic_model/scope.rs
  crates/biome_js_semantic/src/tests/infer.rs
  crates/biome_js_semantic/src/tests/mod.rs
  crates/biome_js_semantic/src/tests/scopes.rs
  crates/biome_js_syntax/src/type_ext.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Parser, A-Website, L-JavaScript, A-Changelog

#367 chore: improve diagnostic message for `noRedundantRoles`
  crates/biome_js_analyze/src/aria_analyzers/a11y/no_redundant_roles.rs
  crates/biome_js_analyze/tests/specs/a11y/noRedundantRoles/invalid.jsx.snap
  website/src/content/docs/linter/rules/no-redundant-roles.md
Labels: A-Linter, A-Website, L-JavaScript

#378 refactor(lint/noUselessTypeConstraint): make code fix safe
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/complexity/no_useless_type_constraint.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessTypeConstraint/invalid.ts
  crates/biome_js_analyze/tests/specs/complexity/noUselessTypeConstraint/invalid.ts.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-useless-type-constraint.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#385 fix(lint/noSelfAssign): correctly handle literals
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/correctness/no_self_assign.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/tests/specs/correctness/noSelfAssign/invalid.js
  crates/biome_js_analyze/tests/specs/correctness/noSelfAssign/invalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noSelfAssign/valid.js
  crates/biome_js_analyze/tests/specs/correctness/noSelfAssign/valid.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#388 test(lint): update snapshots
  crates/biome_js_analyze/tests/specs/correctness/noSelfAssign/invalid.js.snap
Labels: A-Linter, L-JavaScript

#384 fix(lint/noMultipleSpacesInRegularExpressionLiterals): correctly handle spaces followed by a quantifier
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/complexity/no_multiple_spaces_in_regular_expression_literals.rs
  crates/biome_js_analyze/tests/specs/complexity/noMultipleSpacesInRegularExpressionLiterals/invalid.jsonc
  crates/biome_js_analyze/tests/specs/complexity/noMultipleSpacesInRegularExpressionLiterals/invalid.jsonc.snap
  crates/biome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-multiple-spaces-in-regular-expression-literals.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Changelog

#375 feat(biome_js_analyze): `noInvalidNewBuiltin`
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/no_invalid_new_builtin.rs
  crates/biome_js_analyze/tests/specs/nursery/noInvalidNewBuiltin/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noInvalidNewBuiltin/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noInvalidNewBuiltin/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noInvalidNewBuiltin/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-invalid-new-builtin.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#393 refactor(lint/useEnumInitializers): make code fix safe
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/style/use_enum_initializers.rs
  crates/biome_js_analyze/tests/specs/style/useEnumInitializers/invalid.ts
  crates/biome_js_analyze/tests/specs/style/useEnumInitializers/invalid.ts.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/use-enum-initializers.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#399 refactor: enable more Clippy rules
  .cargo/config.toml
  crates/biome_js_analyze/src/analyzers/a11y/no_svg_without_title.rs
  crates/biome_js_formatter/src/js/bindings/parameters.rs
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_semantic/src/semantic_model/closure.rs
  xtask/codegen/src/formatter.rs
Labels: A-CLI, A-Linter, A-Formatter, A-Tooling, L-JavaScript

#387 refactor(lint/useConst): make code fix safe
  CHANGELOG.md
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_runs_linter_not_formatter_issue_3495.snap
  crates/biome_js_analyze/src/semantic_analyzers/style/no_var.rs
  crates/biome_js_analyze/src/semantic_analyzers/style/use_const.rs
  crates/biome_js_analyze/tests/specs/style/useConst/invalid.jsonc.snap
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_syntax/src/stmt_ext.rs
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/use-const.md
Labels: A-CLI, A-Linter, A-Parser, A-Website, L-JavaScript, A-Changelog

#405 refactor: enable more Clippy rules
  .cargo/config.toml
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_diagnostics/src/display.rs
  crates/biome_js_parser/src/lexer/mod.rs
  crates/biome_markup/src/lib.rs
Labels: A-Core, A-Parser, L-JavaScript, L-CSS, A-Diagnostic

#407 refactor(lint/noInvalidNewBuiltin): separate examples
  crates/biome_js_analyze/src/semantic_analyzers/nursery/no_invalid_new_builtin.rs
  website/src/content/docs/linter/rules/no-invalid-new-builtin.md
Labels: A-Linter, A-Website, L-JavaScript

#406 refactor(lint/useWhile): make code fix safe
  CHANGELOG.md
  crates/biome_cli/tests/snapshots/main_commands_check/lint_error.snap
  crates/biome_cli/tests/snapshots/main_commands_check/maximum_diagnostics.snap
  crates/biome_cli/tests/snapshots/main_commands_check/print_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_lint_error.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/print_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_error.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/maximum_diagnostics.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/print_verbose.snap
  crates/biome_js_analyze/src/analyzers/style/use_while.rs
  crates/biome_js_analyze/tests/specs/style/useWhile/invalid.js
  crates/biome_js_analyze/tests/specs/style/useWhile/invalid.js.snap
  crates/biome_js_analyze/tests/specs/style/useWhile/valid.js
  crates/biome_js_analyze/tests/specs/style/useWhile/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/use-while.md
Labels: A-CLI, A-Project, A-Linter, A-Website, L-JavaScript, A-Changelog

#415 feat(cli): use `BIOME_BINARY`, improve documentation
  CHANGELOG.md
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  packages/@biomejs/biome/bin/biome
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/reference/cli.mdx
Labels: A-CLI, A-Website, A-Changelog

#417 docs: add explanation how to break down import groups
  website/src/content/docs/analyzer/index.mdx
Labels: A-Website

#418 docs: improve documentation for `check` and `ci` commands
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  website/src/content/docs/formatter/index.mdx
  website/src/content/docs/linter/index.mdx
Labels: A-CLI, A-Website

#409 refactor(lint/noNegationElse): make code fix safe
  CHANGELOG.md
  crates/biome_cli/tests/snapshots/main_commands_check/upgrade_severity.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/upgrade_severity.snap
  crates/biome_js_analyze/src/analyzers/style/no_negation_else.rs
  crates/biome_js_analyze/tests/specs/style/noNegationElse/default.js
  crates/biome_js_analyze/tests/specs/style/noNegationElse/default.js.snap
  crates/biome_js_analyze/tests/specs/style/noNegationElse/invalid.js
  crates/biome_js_analyze/tests/specs/style/noNegationElse/invalid.js.snap
  crates/biome_js_analyze/tests/specs/style/noNegationElse/issue_2999.js
  crates/biome_js_analyze/tests/specs/style/noNegationElse/issue_2999.js.snap
  crates/biome_js_analyze/tests/specs/style/noNegationElse/issue_3141.js
  crates/biome_js_analyze/tests/specs/style/noNegationElse/issue_3141.js.snap
  crates/biome_js_analyze/tests/specs/style/noNegationElse/valid.js
  crates/biome_js_analyze/tests/specs/style/noNegationElse/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-negation-else.md
Labels: A-CLI, A-Project, A-Linter, A-Website, L-JavaScript, A-Changelog

#422 fix(lint/noMultipleSpacesInRegularExpressionLiterals): handle invalid range as regular chars
  crates/biome_js_analyze/src/analyzers/complexity/no_multiple_spaces_in_regular_expression_literals.rs
  crates/biome_js_analyze/tests/specs/complexity/noMultipleSpacesInRegularExpressionLiterals/invalid.jsonc
  crates/biome_js_analyze/tests/specs/complexity/noMultipleSpacesInRegularExpressionLiterals/invalid.jsonc.snap
Labels: A-Linter, L-JavaScript

#423 refactor(lint/useValidForDirection): remove rule's state
  crates/biome_js_analyze/src/analyzers/correctness/use_valid_for_direction.rs
Labels: A-Linter, L-JavaScript

#424 refactor(lint/noUnusedLabels): make code fix safe
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/complexity/no_useless_label.rs
  crates/biome_js_analyze/src/analyzers/correctness/no_unused_labels.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedLabels/invalid.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedLabels/invalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedLabels/valid.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedLabels/valid.js.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-unused-labels.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#425 feat(cli): add `--indent-width`, deprecate `--indent-size`
  CHANGELOG.md
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/configuration.rs
  crates/biome_cli/src/diagnostics.rs
  crates/biome_cli/tests/snapshots/main_cases_biome_json_support/formatter_biome_json.snap
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_check/deprecated_suppression_comment.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/applies_custom_configuration.snap
  crates/biome_cli/tests/snapshots/main_commands_format/applies_custom_configuration_over_config_file.snap
  crates/biome_cli/tests/snapshots/main_commands_format/applies_custom_configuration_over_config_file_issue_3175_v1.snap
  crates/biome_cli/tests/snapshots/main_commands_format/custom_config_file_path.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_with_configuration.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_apply_different_formatting.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_apply_different_formatting_with_cli.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_apply_different_indent_style.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_not_format_js_files_if_disabled.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_not_format_json_files_if_disabled.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/deprecated_suppression_comment.snap
  crates/biome_cli/tests/snapshots/main_configuration/correct_root.snap
  crates/biome_deserialize/src/diagnostics.rs
  crates/biome_deserialize/src/lib.rs
  crates/biome_diagnostics/src/display.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnreachable/SuppressionComments.js.snap
  crates/biome_service/src/configuration/formatter.rs
  crates/biome_service/src/configuration/javascript/formatter.rs
  crates/biome_service/src/configuration/json.rs
  crates/biome_service/src/configuration/parse/json/formatter.rs
  crates/biome_service/src/configuration/parse/json/javascript/formatter.rs
  crates/biome_service/src/configuration/parse/json/json_configuration.rs
  crates/biome_service/src/configuration/parse/json/json_impl/mod.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/tests/invalid/formatter_extraneous_field.json.snap
  crates/biome_service/tests/spec_tests.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  packages/@biomejs/js-api/tests/formatContent.test.ts
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/reference/configuration.mdx
Labels: A-CLI, A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#440 feat(lint/noEmptyCharacterClassInRegex): add rule
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_empty_character_class_in_regex.rs
  crates/biome_js_analyze/tests/specs/nursery/noEmptyCharacterClassInRegex/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noEmptyCharacterClassInRegex/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noEmptyCharacterClassInRegex/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noEmptyCharacterClassInRegex/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-empty-character-class-in-regex.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#442 refactor(lint/noAriaUnsupportedElements): improve diagnostic
  crates/biome_js_analyze/src/aria_analyzers/a11y/no_aria_unsupported_elements.rs
  crates/biome_js_analyze/tests/specs/a11y/noAriaUnsupportedElements/invalid.jsx.snap
  website/src/content/docs/linter/rules/no-aria-unsupported-elements.md
Labels: A-Linter, A-Website, L-JavaScript

#435 feat(cli): lift the check of `.git` folder
  CHANGELOG.md
  crates/biome_cli/src/vcs.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/ci.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_check/ignore_vcs_ignored_file.snap
  crates/biome_cli/tests/snapshots/main_commands_check/ignore_vcs_os_independent_parse.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ignore_vcs_ignored_file.snap
  crates/biome_cli/tests/snapshots/main_commands_format/ignore_vcs_ignored_file.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/ignore_vcs_ignored_file.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/ignore_vcs_os_independent_parse.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Website, A-Changelog

#411 feat(lint/useShorthandAssign): add rule
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/use_shorthand_assign.rs
  crates/biome_js_analyze/tests/specs/nursery/useShorthandAssign/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useShorthandAssign/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useShorthandAssign/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useShorthandAssign/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/use-shorthand-assign.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#447 docs: `npx biome` -> `npx @biomejs/biome`
  website/src/content/docs/reference/cli.mdx
Labels: A-Website

#446 chore: update website dependencies
  pnpm-lock.yaml
  website/package.json
  website/src/content/config.ts
Labels: A-Website

#438 feat(css_parser): CSS Parser #268
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/parse_error.rs
  crates/biome_css_parser/src/syntax/pattern.rs
  crates/biome_css_parser/tests/css_test_suite/error/pattern/invalid_selector.css
  crates/biome_css_parser/tests/css_test_suite/error/pattern/invalid_selector.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/pattern/missing_identifier.css
  crates/biome_css_parser/tests/css_test_suite/error/pattern/missing_identifier.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/pattern/traling_comma.css
  crates/biome_css_parser/tests/css_test_suite/error/pattern/traling_comma.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/pattern/class.css
  crates/biome_css_parser/tests/css_test_suite/ok/pattern/class.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/pattern/id.css
  crates/biome_css_parser/tests/css_test_suite/ok/pattern/id.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/pattern/type.css
  crates/biome_css_parser/tests/css_test_suite/ok/pattern/type.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/pattern/universal.css
  crates/biome_css_parser/tests/css_test_suite/ok/pattern/universal.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_parser/tests/spec_tests.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_js_unicode_table/src/tables.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Tooling, L-JavaScript, L-CSS

#428 feat(lint/noUnusedImports): add rule
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/react.rs
  crates/biome_js_analyze/src/semantic_analyzers/correctness/no_unused_variables.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/no_unused_imports.rs
  crates/biome_js_analyze/tests/specs/nursery/noUnusedImports/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUnusedImports/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUnusedImports/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noUnusedImports/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noUnusedImports/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noUnusedImports/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noUnusedImports/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUnusedImports/valid.js.snap
  crates/biome_js_syntax/src/identifier_ext.rs
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-unused-imports.md
Labels: A-Project, A-Linter, A-Parser, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#451 fix(lint/useShorthandAssign): fix replacement_expression order
  crates/biome_js_analyze/src/analyzers/nursery/use_shorthand_assign.rs
  crates/biome_js_analyze/tests/specs/nursery/useShorthandAssign/invalid.js.snap
  website/src/content/docs/linter/rules/use-shorthand-assign.md
Labels: A-Linter, A-Website, L-JavaScript

#452 fix(lint): handle malformed reegxes
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/nursery/no_empty_character_class_in_regex.rs
  crates/biome_js_analyze/src/analyzers/suspicious/no_control_characters_in_regex.rs
  crates/biome_js_formatter/src/utils/assignment_like.rs
  crates/biome_js_syntax/src/expr_ext.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Parser, A-Formatter, A-Website, L-JavaScript, A-Changelog

#439 docs: add documentation for `setup-biome`
  website/astro.config.ts
  website/src/content/docs/recipes/continuous-integration.mdx
Labels: A-Website

#416 fix(intellij): Use node interpreter to run commands
  .github/workflows/pull_request_intellij.yml
  .github/workflows/release_lsp.yml
  CHANGELOG.md
  CONTRIBUTING.md
  biome.json
  editors/intellij/.run/Run Qodana.run.xml
  editors/intellij/README.md
  editors/intellij/build.gradle.kts
  editors/intellij/qodana.yml
  editors/intellij/src/main/kotlin/com/github/biomejs/intellijbiome/BiomeUtils.kt
  editors/intellij/src/main/kotlin/com/github/biomejs/intellijbiome/formatter/BiomeFormatterProvider.kt
  editors/intellij/src/main/kotlin/com/github/biomejs/intellijbiome/listeners/BiomeConfigResolvedListener.kt
  editors/intellij/src/main/kotlin/com/github/biomejs/intellijbiome/lsp/BiomeLspServerSupportProvider.kt
  editors/intellij/src/main/kotlin/com/github/biomejs/intellijbiome/widgets/BiomeWidget.kt
  editors/intellij/src/main/kotlin/com/github/biomejs/intellijbiome/widgets/BiomeWidgetPresentation.kt
  editors/intellij/src/main/resources/META-INF/plugin.xml
  editors/intellij/src/main/resources/messages/BiomeBundle.properties
  editors/intellij/src/test/kotlin/com/github/biomejs/intellijbiome/BasicProjectNpmTest.kt
  editors/intellij/src/test/kotlin/com/github/biomejs/intellijbiome/MyPluginTest.kt
  editors/intellij/src/test/kotlin/com/github/biomejs/intellijbiome/pages/DialogFixture.kt
  editors/intellij/src/test/kotlin/com/github/biomejs/intellijbiome/pages/Editor.kt
  editors/intellij/src/test/kotlin/com/github/biomejs/intellijbiome/pages/IdeaFrame.kt
  editors/intellij/src/test/kotlin/com/github/biomejs/intellijbiome/pages/QuickFixFixture.kt
  editors/intellij/src/test/kotlin/com/github/biomejs/intellijbiome/pages/StatusBar.kt
  editors/intellij/src/test/kotlin/com/github/biomejs/intellijbiome/pages/WelcomeFrame.kt
  editors/intellij/src/test/kotlin/com/github/biomejs/intellijbiome/utils/RemoteRobotExtension.kt
  editors/intellij/src/test/kotlin/com/github/biomejs/intellijbiome/utils/StepsLogger.kt
  editors/intellij/src/test/testData/basic-project/index.js
  editors/intellij/src/test/testData/basic-project/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: A-Changelog
