Repository biomejs/biome, pull requests merged in 2023-10, with the labels that each got.

#462 refactor(lint/noUnusedVariables): report unused type params
  CHANGELOG.md
  crates/biome_js_analyze/src/semantic_analyzers/correctness/no_unused_variables.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/src/semantic_analyzers/style/use_naming_convention.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidTypeParam.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidTypeParam.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validTypeParam.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validTypeParam.ts.snap
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_syntax/src/binding_ext.rs
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-unused-variables.md
Labels: A-Linter, A-Parser, A-Website, L-JavaScript, A-Changelog

#437 feat(lint): useAsConstAssertion
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/use_as_const_assertion.rs
  crates/biome_js_analyze/tests/specs/nursery/useAsConstAssertion/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/useAsConstAssertion/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useAsConstAssertion/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useAsConstAssertion/valid.ts.snap
  crates/biome_js_syntax/src/expr_ext.rs
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/use-as-const-assertion.md
Labels: A-Project, A-Linter, A-Parser, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#468 fix(lint/noRedundantUseStrict): keep leading comments
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/suspicious/no_redundant_use_strict.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/no_unused_imports.rs
  crates/biome_js_analyze/src/utils/batch.rs
  crates/biome_js_analyze/tests/specs/suspicious/noRedundantUseStrict/invalid.cjs.snap
  crates/biome_js_analyze/tests/specs/suspicious/noRedundantUseStrict/invalid.js
  crates/biome_js_analyze/tests/specs/suspicious/noRedundantUseStrict/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noRedundantUseStrict/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/suspicious/noRedundantUseStrict/invalidClass.cjs.snap
  crates/biome_js_analyze/tests/specs/suspicious/noRedundantUseStrict/invalidFunction.cjs.snap
  crates/biome_js_analyze/tests/specs/suspicious/noRedundantUseStrict/invalidFunction.js.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-redundant-use-strict.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#465 refactor(biome_js_analyze): add browser globals
  crates/biome_js_analyze/src/globals/browser.rs
  crates/biome_js_analyze/src/globals/typescript.rs
Labels: A-Linter, L-JavaScript

#470 fix(playground): indent width is not being applied
  website/src/playground/workers/biomeWorker.ts
Labels: A-Website

#457 feat(cli): add `biome rage --daemon-logs` option
  CHANGELOG.md
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/rage.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/src/main.rs
  crates/biome_cli/tests/commands/rage.rs
  crates/biome_cli/tests/snapshots/main_commands_rage/rage_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_server_logs.snap
  crates/biome_lsp/src/server.rs
  website/src/content/docs/internals/changelog.mdx
  xtask/codegen/src/main.rs
Labels: A-CLI, A-Tooling, A-LSP, A-Website, A-Changelog

#444 chore: publish some crates and add add workflow for publish crates
  .github/workflows/release_crates.yml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  crates/biome_analyze/Cargo.toml
  crates/biome_aria/Cargo.toml
  crates/biome_aria_metadata/Cargo.toml
  crates/biome_console/Cargo.toml
  crates/biome_control_flow/Cargo.toml
  crates/biome_css_factory/Cargo.toml
  crates/biome_css_parser/Cargo.toml
  crates/biome_css_syntax/Cargo.toml
  crates/biome_deserialize/Cargo.toml
  crates/biome_diagnostics/Cargo.toml
  crates/biome_diagnostics_categories/Cargo.toml
  crates/biome_diagnostics_macros/Cargo.toml
  crates/biome_formatter/Cargo.toml
  crates/biome_fs/Cargo.toml
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_factory/Cargo.toml
  crates/biome_js_formatter/Cargo.toml
  crates/biome_js_parser/Cargo.toml
  crates/biome_js_parser/src/options.rs
  crates/biome_js_semantic/Cargo.toml
  crates/biome_js_syntax/Cargo.toml
  crates/biome_js_transform/Cargo.toml
  crates/biome_js_unicode_table/Cargo.toml
  crates/biome_json_analyze/Cargo.toml
  crates/biome_json_factory/Cargo.toml
  crates/biome_json_formatter/Cargo.toml
  crates/biome_json_parser/Cargo.toml
  crates/biome_json_syntax/Cargo.toml
  crates/biome_markup/Cargo.toml
  crates/biome_parser/Cargo.toml
  crates/biome_rowan/Cargo.toml
  crates/biome_service/src/lib.rs
  crates/biome_suppression/Cargo.toml
  crates/biome_text_edit/Cargo.toml
  crates/biome_text_size/Cargo.toml
  scripts/publish-crates.sh
  xtask/bench/Cargo.toml
  xtask/codegen/Cargo.toml
  xtask/coverage/Cargo.toml
  xtask/libs_bench/Cargo.toml
  xtask/lintdoc/Cargo.toml
Labels: A-CLI, A-Core, A-Project, A-Linter, A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-CSS, L-JSON, A-Diagnostic

#473 docs: fix biome schema version on configuration page
  website/src/content/docs/reference/configuration.mdx
Labels: A-Website

#478 feat(website): add mastodon official account
  website/astro.config.ts
Labels: A-Website

#474 fix(formatter/member-chain): regex formatting
  crates/biome_js_formatter/src/utils/member_chain/simple_argument.rs
  crates/biome_js_formatter/tests/specs/js/module/expression/member-chain/static_member_regex.js
  crates/biome_js_formatter/tests/specs/js/module/expression/member-chain/static_member_regex.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/method-chain/issue-11298.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/method-chain/issue-4125.js.snap
Labels: A-Formatter, L-JavaScript

#481 docs: better guidelines for documentation rules
  crates/biome_analyze/CONTRIBUTING.md
Labels: A-Linter

#480 refactor: use better data structure for `useValidAriaProps`
  crates/biome_js_analyze/src/aria_analyzers/a11y/use_valid_aria_props.rs
  crates/biome_js_analyze/tests/specs/a11y/useValidAriaProps/invalid.jsx
  crates/biome_js_analyze/tests/specs/a11y/useValidAriaProps/invalid.jsx.snap
  website/src/content/docs/linter/rules/use-valid-aria-props.md
Labels: A-Linter, A-Website, L-JavaScript

#476 feat(migrate): add migration for `indentWidth`
  Cargo.lock
  crates/biome_json_factory/src/lib.rs
  crates/biome_json_factory/src/make.rs
  crates/biome_migrate/Cargo.toml
  crates/biome_migrate/src/analyzers.rs
  crates/biome_migrate/src/analyzers/indent_size.rs
  crates/biome_migrate/src/analyzers/rule_set.rs
  crates/biome_migrate/src/lib.rs
  crates/biome_migrate/tests/spec_tests.rs
  crates/biome_migrate/tests/specs/migrations/indentSize/invalid.json
  crates/biome_migrate/tests/specs/migrations/indentSize/invalid.json.snap
Labels: L-JSON

#477 feat(core): cache file features, to avoid re-computation
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-Project

#485 fix(lint): unintended misprints in `noSvgWithoutTitle` and `useButtonType` lint messages
  crates/biome_js_analyze/src/analyzers/a11y/no_svg_without_title.rs
  crates/biome_js_analyze/src/semantic_analyzers/a11y/use_button_type.rs
  crates/biome_js_analyze/tests/specs/a11y/noSvgWithoutTitle/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/useButtonType/inJsx.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/useButtonType/inObject.js.snap
  crates/biome_js_analyze/tests/specs/a11y/useButtonType/withBindingInvalid.js.snap
  crates/biome_js_analyze/tests/specs/a11y/useButtonType/withDefaultNamespaceInvalid.js.snap
  crates/biome_js_analyze/tests/specs/a11y/useButtonType/withRenamedImportInvalid.js.snap
  website/src/content/docs/linter/rules/no-svg-without-title.md
  website/src/content/docs/linter/rules/use-button-type.md
Labels: A-Linter, A-Website, L-JavaScript

#460 feat(css_parser): CSS Parser #268
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/parse_error.rs
  crates/biome_css_parser/src/syntax/pattern.rs
  crates/biome_css_parser/src/syntax/selector.rs
  crates/biome_css_parser/tests/css_test_suite/error/css_unfinished_block.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/invalid_selector.css
  crates/biome_css_parser/tests/css_test_suite/error/selector/invalid_selector.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/missing_identifier.css
  crates/biome_css_parser/tests/css_test_suite/error/selector/missing_identifier.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/traling_comma.css
  crates/biome_css_parser/tests/css_test_suite/error/selector/traling_comma.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/class_selector.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/pattern/class.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/pattern/id.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/pattern/type.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/pattern/universal.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/class.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/class.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/id.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/id.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/subselector.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/subselector.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/type.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/type.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/universal.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/universal.css.snap
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_css_syntax/src/lib.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Tooling, L-CSS

#490 fix(playground): fix playground styles
  website/src/styles/_footer.scss
  website/src/styles/playground/_results.scss
  website/src/styles/playground/_tabs.scss
Labels: A-Website

#475 feat(project): add `include` field
  CHANGELOG.md
  crates/biome_cli/tests/cases/ignored_files.rs
  crates/biome_cli/tests/cases/included_files.rs
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/snapshots/main_cases_included_files/does_handle_if_included_in_formatter.snap
  crates/biome_cli/tests/snapshots/main_cases_included_files/does_handle_only_included_files.snap
  crates/biome_cli/tests/snapshots/main_cases_included_files/does_lint_included_files.snap
  crates/biome_cli/tests/snapshots/main_cases_included_files/does_not_handle_included_files_if_overridden_by_ignore.snap
  crates/biome_cli/tests/snapshots/main_cases_included_files/does_not_handle_included_files_if_overridden_by_ignore_formatter.snap
  crates/biome_cli/tests/snapshots/main_cases_included_files/does_not_handle_included_files_if_overridden_by_ignore_linter.snap
  crates/biome_cli/tests/snapshots/main_cases_included_files/does_not_handle_included_files_if_overridden_by_organize_imports.snap
  crates/biome_cli/tests/snapshots/main_cases_included_files/does_organize_imports_of_included_files.snap
  crates/biome_service/src/configuration/formatter.rs
  crates/biome_service/src/configuration/linter/mod.rs
  crates/biome_service/src/configuration/mod.rs
  crates/biome_service/src/configuration/organize_imports.rs
  crates/biome_service/src/configuration/parse/json/files.rs
  crates/biome_service/src/configuration/parse/json/formatter.rs
  crates/biome_service/src/configuration/parse/json/linter.rs
  crates/biome_service/src/configuration/parse/json/organize_imports.rs
  crates/biome_service/src/matcher/mod.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/tests/invalid/files_extraneous_field.json.snap
  crates/biome_service/tests/invalid/files_include_incorrect_type.json
  crates/biome_service/tests/invalid/files_include_incorrect_type.json.snap
  crates/biome_service/tests/invalid/formatter_extraneous_field.json.snap
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/reference/configuration.mdx
Labels: A-CLI, A-Project, A-Website, A-Changelog

#494 refactor(js_semantic): minor changes
  crates/biome_js_analyze/src/semantic_analyzers/style/no_restricted_globals.rs
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_semantic/src/tests/references.rs
Labels: A-Linter, L-JavaScript

#497 feat(css_parser): Add css bench parser
  Cargo.lock
  xtask/bench/Cargo.toml
  xtask/bench/src/language.rs
  xtask/bench/src/lib.rs
  xtask/bench/src/libs-css.txt
Labels: A-Tooling

#489 refactor(linter): UseAnchorContent code action
  crates/biome_js_analyze/src/analyzers/a11y/use_anchor_content.rs
  crates/biome_js_analyze/tests/specs/a11y/useAnchorContent/invalid.jsx.snap
  crates/biome_js_unicode_table/src/tables.rs
  website/src/content/docs/linter/rules/use-anchor-content.md
Labels: A-Linter, A-Website, L-JavaScript

#501 fix(css_parser): remove bench
  xtask/bench/src/lib.rs
  xtask/bench/src/libs-css.txt
Labels: A-Tooling

#506 refactor(organize_import): code cleanup
  crates/biome_js_analyze/src/assists/correctness/organize_imports.rs
  crates/biome_js_analyze/src/react.rs
  crates/biome_js_syntax/src/import_ext.rs
Labels: A-Linter, A-Parser, L-JavaScript

#503 feat(organize_imports): support `bun:`, `#`, absolute imports
  CHANGELOG.md
  crates/biome_js_analyze/src/assists/correctness/organize_imports.rs
  crates/biome_js_analyze/tests/specs/correctness/organizeImports/groups.js
  crates/biome_js_analyze/tests/specs/correctness/organizeImports/groups.js.snap
  website/src/content/docs/analyzer/index.mdx
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Linter, A-Website, L-JavaScript, A-Changelog

#508 chore: upgrade Rust to 1.73.0
  crates/biome_aria/src/roles.rs
  crates/biome_formatter/src/buffer.rs
  crates/biome_formatter/src/comments/builder.rs
  crates/biome_js_analyze/src/analyzers/style/use_block_statements.rs
  crates/biome_js_formatter/src/ts/declarations/interface_declaration.rs
  rust-toolchain.toml
  xtask/codegen/src/kinds_src.rs
  xtask/coverage/src/compare.rs
  xtask/lintdoc/src/main.rs
Labels: A-Linter, A-Formatter, A-Tooling, L-JavaScript

#488 feat(css_parser): CSS Parser #268
  Cargo.lock
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/lexer/tests.rs
  crates/biome_css_parser/src/parser.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/parse_error.rs
  crates/biome_css_parser/src/syntax/selector.rs
  crates/biome_css_parser/src/token_source.rs
  crates/biome_css_parser/tests/css_test_suite/error/selector/attribute_selector.css
  crates/biome_css_parser/tests/css_test_suite/error/selector/attribute_selector.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/class_selector_err.css
  crates/biome_css_parser/tests/css_test_suite/error/selector/class_selector_err.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/id_selector_err.css
  crates/biome_css_parser/tests/css_test_suite/error/selector/id_selector_err.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/attribute.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/attribute.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/complex.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/complex.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_css_syntax/src/lib.rs
  crates/biome_js_parser/src/lexer/mod.rs
  crates/biome_js_parser/src/lexer/tests.rs
  crates/biome_js_parser/src/lib.rs
  crates/biome_js_parser/src/parser.rs
  crates/biome_js_parser/src/rewrite.rs
  crates/biome_js_parser/src/syntax/expr.rs
  crates/biome_js_parser/src/syntax/jsx/mod.rs
  crates/biome_js_parser/src/syntax/typescript/types.rs
  crates/biome_js_parser/src/token_source.rs
  crates/biome_parser/Cargo.toml
  crates/biome_parser/src/lexer.rs
  crates/biome_parser/src/lib.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Tooling, L-JavaScript, L-CSS

#469 feat(lint/noMisrefactoredShorthandAssign): add rule
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_misrefactored_shorthand_assign.rs
  crates/biome_js_analyze/src/analyzers/nursery/use_shorthand_assign.rs
  crates/biome_js_analyze/src/utils.rs
  crates/biome_js_analyze/tests/specs/nursery/noMisrefactoredShorthandAssign/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noMisrefactoredShorthandAssign/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noMisrefactoredShorthandAssign/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noMisrefactoredShorthandAssign/valid.js.snap
  crates/biome_js_syntax/src/expr_ext.rs
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-misrefactored-shorthand-assign.md
Labels: A-Project, A-Linter, A-Parser, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#509 fix(website): fix 1.2.2 schema
  website/src/pages/schemas/1.2.2/schema.json.js
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_website.rs
Labels: A-Tooling, A-Website

#511 docs(website): fix dlx command
  website/src/components/PackageManagerBiomeCommand.astro
Labels: A-Website

#514 docs(website): fix schema (again)
  website/src/pages/schemas/1.2.2/schema.json.js
  xtask/codegen/src/generate_website.rs
Labels: A-Tooling, A-Website

#515 docs: better documentation for `stdin-file-path`
  crates/biome_cli/src/commands/mod.rs
Labels: A-CLI

#519 docs: various updates and fixes
  crates/biome_analyze/CONTRIBUTING.md
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/biome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/astro.config.ts
  website/src/content/docs/internals/architecture.mdx
  website/src/content/docs/linter/index.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/use-exhaustive-dependencies.md
  website/src/content/docs/reference/configuration.mdx
Labels: A-Project, A-Linter, A-Website, L-JavaScript

#525 docs: use `biomejs.dev` json schema
  crates/biome_cli/tests/commands/init.rs
  crates/biome_cli/tests/snapshots/main_commands_init/creates_config_file_when_biome_installed_via_package_manager.snap
  website/src/content/docs/guides/getting-started.mdx
Labels: A-CLI, A-Website

#517 feat(biome_js_analyze): add two recommended rules in eslint-plugin-jsx-a11y
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/aria_analyzers.rs
  crates/biome_js_analyze/src/aria_analyzers/nursery.rs
  crates/biome_js_analyze/src/aria_analyzers/nursery/no_interactive_element_to_noninteractive_role.rs
  crates/biome_js_analyze/src/aria_analyzers/nursery/use_aria_activedescendant_with_tabindex.rs
  crates/biome_js_analyze/tests/specs/nursery/noInteractiveElementToNoninteractiveRole/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noInteractiveElementToNoninteractiveRole/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noInteractiveElementToNoninteractiveRole/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noInteractiveElementToNoninteractiveRole/valid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useAriaActivedescendantWithTabindex/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useAriaActivedescendantWithTabindex/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useAriaActivedescendantWithTabindex/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useAriaActivedescendantWithTabindex/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-interactive-element-to-noninteractive-role.md
  website/src/content/docs/linter/rules/use-aria-activedescendant-with-tabindex.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#531 refactor(lint/noUselessLoneBlockStatements): add fix kind metadata
  crates/biome_js_analyze/src/analyzers/nursery/no_useless_lone_block_statements.rs
  website/src/content/docs/linter/rules/index.mdx
Labels: A-Linter, A-Website, L-JavaScript

#528 refactor(linter): noConstAssign code actions
  crates/biome_js_analyze/src/semantic_analyzers/correctness/no_const_assign.rs
  crates/biome_js_analyze/tests/specs/correctness/noConstAssign/invalid.js
  crates/biome_js_analyze/tests/specs/correctness/noConstAssign/invalid.js.snap
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-const-assign.md
Labels: A-Linter, A-Website, L-JavaScript

#533 chore(CHANGELOG): log missing contributions
  CHANGELOG.md
  website/src/content/docs/internals/changelog.mdx
Labels: A-Website, A-Changelog

#521 feat(lint/noEmptyBlockStatements): add rule
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_empty_block_statements.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noEmptyBlockStatements/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noEmptyBlockStatements/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noEmptyBlockStatements/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noEmptyBlockStatements/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noEmptyBlockStatements/valid.cjs
  crates/biome_js_analyze/tests/specs/nursery/noEmptyBlockStatements/valid.cjs.snap
  crates/biome_js_analyze/tests/specs/nursery/noEmptyBlockStatements/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noEmptyBlockStatements/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noEmptyBlockStatements/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noEmptyBlockStatements/valid.ts.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-empty-block-statements.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#534 Add deno to guides
  bun.lockb
  website/src/assets/svg/deno.svg
  website/src/components/PackageManagerBiomeCommand.astro
Labels: A-Website

#538 refactor: use rustc-hash
  Cargo.lock
  crates/biome_analyze/CONTRIBUTING.md
  crates/biome_analyze/src/options.rs
  crates/biome_analyze/src/services.rs
  crates/biome_aria/Cargo.toml
  crates/biome_aria/src/roles.rs
  crates/biome_cli/Cargo.toml
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/src/metrics.rs
  crates/biome_cli/src/reports/formatter.rs
  crates/biome_cli/src/reports/mod.rs
  crates/biome_control_flow/Cargo.toml
  crates/biome_control_flow/src/lib.rs
  crates/biome_formatter/src/format_element/document.rs
  crates/biome_fs/Cargo.toml
  crates/biome_fs/src/fs/memory.rs
  crates/biome_js_analyze/src/analyzers/correctness/no_nonoctal_decimal_escape.rs
  crates/biome_js_analyze/src/analyzers/suspicious/no_duplicate_class_members.rs
  crates/biome_js_analyze/src/analyzers/suspicious/no_duplicate_jsx_props.rs
  crates/biome_js_analyze/src/analyzers/suspicious/no_duplicate_object_keys.rs
  crates/biome_js_analyze/src/aria_services.rs
  crates/biome_js_analyze/src/react/hooks.rs
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/src/semantic_analyzers/suspicious/no_redeclare.rs
  crates/biome_js_analyze/src/syntax/correctness/no_duplicate_private_class_members.rs
  crates/biome_js_parser/Cargo.toml
  crates/biome_js_parser/src/state.rs
  crates/biome_js_parser/src/syntax/module.rs
  crates/biome_js_semantic/src/semantic_model.rs
  crates/biome_js_semantic/src/tests/assertions.rs
  crates/biome_json_analyze/Cargo.toml
  crates/biome_json_analyze/src/analyzers/nursery/no_duplicate_json_keys.rs
  crates/biome_lsp/Cargo.toml
  crates/biome_lsp/src/converters/line_index.rs
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/workspace_types.rs
Labels: A-CLI, A-Core, A-Project, A-Linter, A-Parser, A-Formatter, A-LSP, L-JavaScript, L-JSON

#539 feat(css_parser): CSS Parser pseudo element selector #268
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/parse_error.rs
  crates/biome_css_parser/src/syntax/selector.rs
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_element.css
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_element.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/basic.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/basic.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/cue-region.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/cue-region.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/cue.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/cue.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/escaped.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/escaped.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/highlight.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/highlight.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/part.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/part.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/slotted.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/slotted.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
  xtask/codegen/src/kinds_src.rs
Labels: A-Parser, A-Tooling, L-CSS

#543 fix(cli): return the original content to `stdout` if it didn't change
  CHANGELOG.md
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_stdin_returns_text_if_content_is_not_changed.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Website, A-Changelog

#545 Conaclos(js semantic): use range start as binding identifier
  crates/biome_js_semantic/src/semantic_model/builder.rs
  crates/biome_js_semantic/src/semantic_model/model.rs
Labels: L-JavaScript

#544 release: 1.3.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/biome_analyze/Cargo.toml
  crates/biome_aria/Cargo.toml
  crates/biome_cli/tests/cases/overrides_formatter.rs
  crates/biome_cli/tests/cases/overrides_linter.rs
  crates/biome_cli/tests/cases/overrides_organize_imports.rs
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/does_handle_included_file_and_disable_formatter.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_linter/does_handle_included_file_and_disable_linter.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_organize_imports/does_handle_included_file_and_disable_organize_imports.snap
  crates/biome_control_flow/Cargo.toml
  crates/biome_diagnostics_categories/Cargo.toml
  crates/biome_formatter/Cargo.toml
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_formatter/Cargo.toml
  crates/biome_js_semantic/Cargo.toml
  crates/biome_js_syntax/Cargo.toml
  crates/biome_json_analyze/Cargo.toml
  crates/biome_parser/Cargo.toml
  crates/biome_service/src/configuration/mod.rs
  crates/biome_service/src/configuration/overrides.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
  editors/intellij/gradle.properties
  editors/vscode/package.json
  packages/@biomejs/biome/package.json
  scripts/publish-crates.sh
  website/src/content/docs/guides/getting-started.mdx
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/reference/cli.mdx
  website/src/content/docs/reference/configuration.mdx
  website/src/pages/schemas/1.3.0/schema.json.js
Labels: A-CLI, A-Project, A-Linter, A-Parser, A-Formatter, A-Website, L-JavaScript, L-JSON, A-Diagnostic, A-Changelog

#549 fix(lint/noSelfAssign): don't panic
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/correctness/no_self_assign.rs
  crates/biome_js_analyze/tests/specs/correctness/noSelfAssign/issue548.js
  crates/biome_js_analyze/tests/specs/correctness/noSelfAssign/issue548.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#560 fix(cli): `rage` command should not print any logs around servers
  CHANGELOG.md
  crates/biome_cli/src/commands/rage.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI

#559 fix(project): correctly map `globals`
  CHANGELOG.md
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/ignore_configured_globals.snap
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/settings.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Project, A-Website, A-Changelog

#561 fix(docs): config file name
  website/src/content/docs/guides/big-projects.mdx
Labels: A-Website

#563 release: 1.3.1
  CHANGELOG.md
  bun.lockb
  editors/intellij/gradle.properties
  editors/vscode/package.json
  packages/@biomejs/biome/package.json
  website/src/components/Contributors.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/pages/schemas/1.3.1/schema.json.js
Labels: A-Website, A-Changelog

#566 fix(lint/noUnusedImports): handle typeof of an imported type
  CHANGELOG.md
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidtypeof.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidtypeof.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noUnusedImports/issue557.ts
  crates/biome_js_analyze/tests/specs/nursery/noUnusedImports/issue557.ts.snap
  crates/biome_js_semantic/src/events.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#573 chore: fix changelog release dates
  CHANGELOG.md
  website/src/content/docs/internals/changelog.mdx
Labels: A-Website, A-Changelog

#574 docs(changelog): fix changelog entry location
  CHANGELOG.md
  website/src/content/docs/internals/changelog.mdx
Labels: A-Website, A-Changelog

#583 docs(website): fix `useYield` source reference
  crates/biome_js_analyze/src/analyzers/correctness/use_yield.rs
  website/src/content/docs/linter/rules/use-yield.md
Labels: A-Linter, A-Website, L-JavaScript

#589 fix(noSelfAssign): remove erroneous logic
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/correctness/no_self_assign.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/tests/specs/correctness/noSelfAssign/valid.js
  crates/biome_js_analyze/tests/specs/correctness/noSelfAssign/valid.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#584 fix: check `elseClause` inside `noUselessLoneBlockStatements`
  crates/biome_js_analyze/src/analyzers/nursery/no_useless_lone_block_statements.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessLoneBlockStatements/validModule.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessLoneBlockStatements/validModule.js.snap
Labels: A-Linter, L-JavaScript

#588 docs(lint/useNamingConvention): type prop and method names in camelCase
  crates/biome_js_analyze/src/semantic_analyzers/style/use_naming_convention.rs
  website/src/content/docs/linter/rules/use-naming-convention.md
Labels: A-Linter, A-Website, L-JavaScript

#580 chore: fix hook linting message grammar
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/checkHooksImportedFromReact.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/customHook.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/extraDependenciesInvalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/missingDependenciesInvalid.js.snap
  website/src/content/docs/linter/rules/use-exhaustive-dependencies.md
Labels: A-Linter, A-Website, L-JavaScript

#593 fix(lint/noRedeclare): don't report type params of method signatures
  CHANGELOG.md
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/validMethodTypeParam.ts
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/validMethodTypeParam.ts.snap
  crates/biome_js_semantic/src/events.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#595 fix(biome_js_analyze): update noUselessFragments's action logic to avoid the panic
  CHANGELOG.md
  crates/biome_js_analyze/src/semantic_analyzers/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_459.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_459.jsx.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#602 fix(project): changed structure to correctly emit schema for overrides
  crates/biome_service/src/configuration/overrides.rs
  crates/biome_service/src/configuration/parse/json/overrides.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project

#612 refactor(linter-config): remove dead code and deduplicate code
  crates/biome_js_analyze/src/analyzers/complexity/no_excessive_cognitive_complexity.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_exhaustive_dependencies.rs
  crates/biome_service/src/configuration/parse/json/linter.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  xtask/codegen/src/generate_configuration.rs
Labels: A-Project, A-Linter, A-Tooling, L-JavaScript

#616 refactor(json_deserialize): improve `map_to_*` API
  crates/biome_deserialize/src/json.rs
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/src/semantic_analyzers/style/use_naming_convention.rs
  crates/biome_service/src/configuration/parse/json/configuration.rs
  crates/biome_service/src/configuration/parse/json/formatter.rs
  crates/biome_service/src/configuration/parse/json/javascript/formatter.rs
  crates/biome_service/src/configuration/parse/json/javascript/mod.rs
  crates/biome_service/src/configuration/parse/json/json_impl/mod.rs
  crates/biome_service/src/configuration/parse/json/linter.rs
  crates/biome_service/src/configuration/parse/json/overrides.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/src/configuration/parse/json/vcs.rs
  xtask/codegen/src/generate_configuration.rs
Labels: A-Project, A-Linter, A-Tooling, L-JavaScript

#619 feat(biome_js_parser): support RegExp v flag
  CHANGELOG.md
  crates/biome_js_parser/src/lexer/mod.rs
  crates/biome_js_parser/src/syntax/expr.rs
  crates/biome_js_parser/test_data/inline/ok/literals.js
  crates/biome_js_parser/test_data/inline/ok/literals.rast
  website/src/content/docs/internals/changelog.mdx
Labels: A-Parser, A-Website, L-JavaScript, A-Changelog

#611 fix(lint): fix `noConfusingVoidType` to accept generic types in a union type
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/suspicious/no_confusing_void_type.rs
  crates/biome_js_analyze/tests/specs/suspicious/noConfusingVoidType/invalid.ts
  crates/biome_js_analyze/tests/specs/suspicious/noConfusingVoidType/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/suspicious/noConfusingVoidType/valid.ts
  crates/biome_js_analyze/tests/specs/suspicious/noConfusingVoidType/valid.ts.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-confusing-void-type.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#366 feat(lint/noThisInStatic): add rule
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/no_this_in_static.rs
  crates/biome_js_analyze/src/semantic_analyzers/suspicious/no_class_assign.rs
  crates/biome_js_analyze/tests/specs/nursery/noThisInStatic/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noThisInStatic/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noThisInStatic/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noThisInStatic/valid.js.snap
  crates/biome_js_formatter/src/utils/format_class.rs
  crates/biome_js_syntax/src/union_ext.rs
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/tests/invalid/hooks_incorrect_options.json.snap
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-this-in-static.md
Labels: A-Project, A-Linter, A-Parser, A-Formatter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#622 fix(formatter): arrow function chain doesn't break
  CHANGELOG.md
  crates/biome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/biome_js_formatter/tests/specs/js/module/arrow/params.js
  crates/biome_js_formatter/tests/specs/js/module/arrow/params.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/arrows/issue-1389-curry.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Formatter, A-Website, L-JavaScript, A-Changelog

#618 refactor(json_deserailize): remove `visit_member_name`
  crates/biome_cli/tests/snapshots/main_configuration/incorrect_rule_name.snap
  crates/biome_deserialize/src/json.rs
  crates/biome_deserialize/src/visitor.rs
  crates/biome_js_analyze/src/analyzers/complexity/no_excessive_cognitive_complexity.rs
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/src/semantic_analyzers/style/no_restricted_globals.rs
  crates/biome_js_analyze/src/semantic_analyzers/style/use_naming_convention.rs
  crates/biome_js_formatter/src/context.rs
  crates/biome_js_formatter/src/context/trailing_comma.rs
  crates/biome_service/src/configuration/formatter.rs
  crates/biome_service/src/configuration/javascript/formatter.rs
  crates/biome_service/src/configuration/javascript/mod.rs
  crates/biome_service/src/configuration/json.rs
  crates/biome_service/src/configuration/linter/mod.rs
  crates/biome_service/src/configuration/mod.rs
  crates/biome_service/src/configuration/overrides.rs
  crates/biome_service/src/configuration/parse/json/configuration.rs
  crates/biome_service/src/configuration/parse/json/files.rs
  crates/biome_service/src/configuration/parse/json/formatter.rs
  crates/biome_service/src/configuration/parse/json/javascript/formatter.rs
  crates/biome_service/src/configuration/parse/json/javascript/mod.rs
  crates/biome_service/src/configuration/parse/json/json_impl/mod.rs
  crates/biome_service/src/configuration/parse/json/linter.rs
  crates/biome_service/src/configuration/parse/json/organize_imports.rs
  crates/biome_service/src/configuration/parse/json/overrides.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/src/configuration/parse/json/vcs.rs
  crates/biome_service/src/configuration/vcs.rs
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI, A-Project, A-Linter, A-Formatter, A-Tooling, L-JavaScript

#621 fix: bug with useContext/useSyncExternalStore (#609)
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/valid.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/valid.js.snap
  website/src/content/docs/linter/rules/use-exhaustive-dependencies.md
Labels: A-Linter, A-Website, L-JavaScript

#629 fix(biome_aria): add more a11y roles and fix get_role method
  CHANGELOG.md
  crates/biome_aria/src/roles.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-Website, A-Changelog

#600 feat(css_parser): CSS Parser pseudo element selector #268
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/selector.rs
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_element.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/basic.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/cue-region.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/cue.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/part.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/presudo_complex.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/presudo_complex.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/slotted.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Tooling, L-CSS

#634 fix(cli): start logger only when needed
  CHANGELOG.md
  crates/biome_cli/src/logging.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Website, A-Changelog

#631 fix(biome_js_parser): report error when using u and v flag at the same time
  crates/biome_js_parser/src/lexer/mod.rs
  crates/biome_js_parser/src/syntax/expr.rs
  crates/biome_js_parser/test_data/inline/err/regex.js
  crates/biome_js_parser/test_data/inline/err/regex.rast
Labels: A-Parser, L-JavaScript

#625 fix(core): overrides behaviour
  CHANGELOG.md
  crates/biome_cli/tests/cases/overrides_formatter.rs
  crates/biome_cli/tests/cases/overrides_linter.rs
  crates/biome_cli/tests/snap_test.rs
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/does_include_file_with_different_formatting_and_all_of_them.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_linter/does_include_file_with_different_linting_and_applies_all_of_them.snap
  crates/biome_js_formatter/src/context.rs
  crates/biome_json_formatter/src/context.rs
  crates/biome_service/src/configuration/javascript/formatter.rs
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/mod.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace/server.rs
  website/src/content/docs/internals/changelog.mdx
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI, A-Project, A-Formatter, A-Tooling, A-Website, L-JavaScript, L-JSON, A-Changelog

#635 release: 1.3.2
  CHANGELOG.md
  editors/intellij/gradle.properties
  editors/vscode/package.json
  packages/@biomejs/biome/package.json
  website/src/content/docs/internals/changelog.mdx
  website/src/pages/schemas/1.3.2/schema.json.js
Labels: A-Website, A-Changelog

#638 release: 1.3.3
  CHANGELOG.md
  packages/@biomejs/biome/package.json
  website/src/content/docs/internals/changelog.mdx
  website/src/pages/schemas/1.3.3/schema.json.js
Labels: A-Website, A-Changelog

#640 refactor(diagnostics): use `ParseDiagnostic` instead
  crates/biome_css_parser/src/syntax/parse_error.rs
  crates/biome_js_parser/src/syntax/assignment.rs
  crates/biome_js_parser/src/syntax/binding.rs
  crates/biome_js_parser/src/syntax/js_parse_error.rs
  crates/biome_js_parser/src/syntax/jsx/jsx_parse_errors.rs
  crates/biome_js_parser/src/syntax/module.rs
  crates/biome_js_parser/src/syntax/typescript/ts_parse_error.rs
  crates/biome_json_parser/src/syntax.rs
  crates/biome_parser/src/diagnostic.rs
  crates/biome_service/src/configuration/linter/rules.rs
Labels: A-Project, A-Parser, L-JavaScript, L-CSS, L-JSON
