Repository biomejs/biome, pull requests merged in 2023-12, with the labels that each got.

#988 Fixed sponsor link in Japanese version
  website/src/content/docs/ja/index.mdx
Labels: A-Website

#989 docs(website): update import sorting doc
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  website/src/content/docs/analyzer/index.mdx
  website/src/content/docs/ja/analyzer/index.mdx
Labels: A-CLI, A-Website

#993 refactor(lintdoc): add support for autolink and references
  xtask/lintdoc/src/main.rs
Labels: A-Tooling

#970 refactor: a11y rules code actions
  crates/biome_js_analyze/src/aria_analyzers/a11y/no_interactive_element_to_noninteractive_role.rs
  crates/biome_js_analyze/src/aria_analyzers/a11y/no_noninteractive_element_to_interactive_role.rs
  crates/biome_js_analyze/tests/specs/a11y/noInteractiveElementToNoninteractiveRole/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/noNoninteractiveElementToInteractiveRole/invalid.jsx.snap
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-interactive-element-to-noninteractive-role.md
  website/src/content/docs/linter/rules/no-noninteractive-element-to-interactive-role.md
Labels: A-Linter, A-Website, L-JavaScript

#997 docs: fix typo and improve readability in complexity/noBannedTypes rule
  crates/biome_js_analyze/src/semantic_analyzers/complexity/no_banned_types.rs
  website/src/content/docs/linter/rules/no-banned-types.md
Labels: A-Linter, A-Website, L-JavaScript

#980 chore: use `lints table` for workspace clippy settings
  .cargo/config.toml
  Cargo.toml
  crates/biome_analyze/Cargo.toml
  crates/biome_aria/Cargo.toml
  crates/biome_aria_metadata/Cargo.toml
  crates/biome_cli/Cargo.toml
  crates/biome_console/Cargo.toml
  crates/biome_control_flow/Cargo.toml
  crates/biome_css_factory/Cargo.toml
  crates/biome_css_parser/Cargo.toml
  crates/biome_css_syntax/Cargo.toml
  crates/biome_deserialize/Cargo.toml
  crates/biome_diagnostics/Cargo.toml
  crates/biome_diagnostics_categories/Cargo.toml
  crates/biome_diagnostics_macros/Cargo.toml
  crates/biome_flags/Cargo.toml
  crates/biome_formatter/Cargo.toml
  crates/biome_formatter_test/Cargo.toml
  crates/biome_fs/Cargo.toml
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_factory/Cargo.toml
  crates/biome_js_formatter/Cargo.toml
  crates/biome_js_parser/Cargo.toml
  crates/biome_js_semantic/Cargo.toml
  crates/biome_js_syntax/Cargo.toml
  crates/biome_js_transform/Cargo.toml
  crates/biome_js_unicode_table/Cargo.toml
  crates/biome_json_analyze/Cargo.toml
  crates/biome_json_factory/Cargo.toml
  crates/biome_json_formatter/Cargo.toml
  crates/biome_json_parser/Cargo.toml
  crates/biome_json_syntax/Cargo.toml
  crates/biome_lsp/Cargo.toml
  crates/biome_markup/Cargo.toml
  crates/biome_migrate/Cargo.toml
  crates/biome_parser/Cargo.toml
  crates/biome_project/Cargo.toml
  crates/biome_rowan/Cargo.toml
  crates/biome_service/Cargo.toml
  crates/biome_suppression/Cargo.toml
  crates/biome_test_utils/Cargo.toml
  crates/biome_text_edit/Cargo.toml
  crates/biome_text_size/Cargo.toml
  crates/biome_wasm/Cargo.toml
Labels: A-CLI, A-Core, A-Project, A-Linter, A-Parser, A-Formatter, A-LSP, L-JavaScript, L-CSS, L-JSON, A-Diagnostic

#994 fix(formatter): add break to ts constructor parameters with modifiers
  crates/biome_js_formatter/src/js/lists/parameter_list.rs
  crates/biome_js_formatter/tests/specs/prettier/typescript/class/parameter-properties.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/conformance/classes/constructorDeclarations/constructorParameters/constructorImplementationWithDefaultValues2.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/conformance/classes/constructorDeclarations/constructorParameters/constructorParameterProperties.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/conformance/classes/mixinClassesAnnotated.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/conformance/classes/mixinClassesAnonymous.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/conformance/internalModules/importDeclarations/exportImportAlias.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/conformance/internalModules/importDeclarations/importAliasIdentifiers.ts.snap
  crates/biome_js_formatter/tests/specs/ts/class/constructor_parameter.ts
  crates/biome_js_formatter/tests/specs/ts/class/constructor_parameter.ts.snap
Labels: A-Formatter, L-JavaScript

#1001 chore(formatter): ignore experimental syntaxes in JSX for reports
  crates/biome_formatter_test/src/diff_report.rs
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
Labels: A-Formatter, L-JavaScript

#1005 docs(website): add sublime text integration
  website/src/content/docs/guides/integrate-in-editor.mdx
Labels: A-Website

#1002 refactor(website): improve divergence notes
  website/src/content/docs/formatter/index.mdx
Labels: A-Website

#1003 fix(js_formatter): Allow function expressions to group and break as call arguments
  crates/biome_js_formatter/src/js/bindings/parameters.rs
  crates/biome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/biome_js_formatter/src/js/expressions/call_arguments.rs
  crates/biome_js_formatter/tests/quick_test.rs
  crates/biome_js_formatter/tests/specs/js/module/call_expression.js
  crates/biome_js_formatter/tests/specs/js/module/call_expression.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/arrows/issue-1389-curry.js.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/last-argument-expansion/forward-ref.tsx.snap
Labels: A-Formatter, L-JavaScript

#710 feat(lint/useForOf): add rule
  CHANGELOG.md
  crates/biome_analyze/CONTRIBUTING.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_for_of.rs
  crates/biome_js_analyze/tests/specs/nursery/useForOf/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useForOf/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useForOf/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useForOf/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/tests/invalid/hooks_incorrect_options.json.snap
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/use-for-of.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#1011 fix: routing bug fix
  website/src/content/docs/ja/index.mdx
Labels: A-Website

#1014 fix(lint/exhaustiveDeps): ignore TS typeof (#811)
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/valid.ts
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/valid.ts.snap
Labels: A-Linter, L-JavaScript

#1017 Update Twitter icon
  website/astro.config.ts
Labels: A-Website

#1013 translate `Manual installation` in japanese
  website/src/content/docs/ja/guides/manual-installation.mdx
Labels: A-Website

#1027 Fix code examples in prettier challenge blog post
  website/src/content/blog/biome-wins-prettier-challenge.md
Labels: A-Website

#1023 fix(js_formatter): Only parenthesize default-export function cast expressions
  crates/biome_js_formatter/src/ts/expressions/as_expression.rs
  crates/biome_js_formatter/tests/quick_test.rs
Labels: A-Formatter, L-JavaScript

#990 doc(zh-CN): Add support for Simplified Chinese language
  website/astro.config.ts
  website/src/content/docs/zh-cn/analyzer/index.mdx
  website/src/content/docs/zh-cn/formatter/index.mdx
  website/src/content/docs/zh-cn/guides/big-projects.mdx
  website/src/content/docs/zh-cn/guides/getting-started.mdx
  website/src/content/docs/zh-cn/guides/how-biome-works.mdx
  website/src/content/docs/zh-cn/guides/integrate-in-editor.mdx
  website/src/content/docs/zh-cn/guides/manual-installation.mdx
  website/src/content/docs/zh-cn/index.mdx
  website/src/content/docs/zh-cn/internals/architecture.mdx
  website/src/content/docs/zh-cn/internals/changelog.mdx
  website/src/content/docs/zh-cn/internals/credits.mdx
  website/src/content/docs/zh-cn/internals/language-support.mdx
  website/src/content/docs/zh-cn/internals/philosophy.mdx
  website/src/content/docs/zh-cn/internals/versioning.mdx
  website/src/content/docs/zh-cn/linter/index.mdx
  website/src/content/docs/zh-cn/recipes/continuous-integration.mdx
  website/src/content/docs/zh-cn/reference/configuration.mdx
  website/src/content/docs/zh-cn/reference/vscode.mdx
Labels: A-Website

#996 fix(lint/useExhaustiveDeps): handle hook source (#578)
  crates/biome_js_analyze/src/react/hooks.rs
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/missingDependenciesInvalid.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/missingDependenciesInvalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/valid.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/valid.js.snap
  website/src/content/docs/linter/rules/use-exhaustive-dependencies.md
Labels: A-Linter, A-Website, L-JavaScript

#681 feat(cli): Support GitHub Workflow Commands
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/process_file.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/snap_test.rs
  crates/biome_diagnostics/src/display.rs
  crates/biome_diagnostics/src/display/frame.rs
  crates/biome_diagnostics/src/display_github.rs
  crates/biome_diagnostics/src/lib.rs
Labels: A-CLI, A-Diagnostic

#909 feat(linter): noMisleadingCharacterClass
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/no_misleading_character_class.rs
  crates/biome_js_analyze/tests/specs/nursery/noMisleadingCharacterClass/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noMisleadingCharacterClass/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noMisleadingCharacterClass/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noMisleadingCharacterClass/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/tests/invalid/hooks_incorrect_options.json.snap
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-misleading-character-class.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#1043 add blog chinese translation links
  website/src/content/blog/annoucing-biome.mdx
  website/src/content/blog/biome-v1.mdx
  website/src/content/blog/biome-wins-prettier-challenge.md
Labels: A-Website

#670 feat(biome_js_analyze): `useShorthandFunctionType`
  Cargo.lock
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/use_shorthand_function_type.rs
  crates/biome_js_analyze/tests/specs/nursery/useShorthandFunctionType/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/useShorthandFunctionType/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useShorthandFunctionType/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useShorthandFunctionType/valid.ts.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/use-shorthand-function-type.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#1048 feat(website): remove language select outside docs
  website/astro.config.ts
  website/src/layouts/StarlightSplashLayout.astro
Labels: A-Website

#1022 docs(website): add Formatter Option Philosophy page
  website/astro.config.ts
  website/src/content/docs/formatter/option-philosophy.md
Labels: A-Website

#1025 docs: translate integrate-in-editor page into Japanese
  website/src/content/docs/ja/guides/integrate-in-editor.mdx
Labels: A-Website

#976 feat(css_parser):simple block
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/lexer/tests.rs
  crates/biome_css_parser/src/syntax/css_dimension.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/parse_error.rs
  crates/biome_css_parser/tests/css_test_suite/error/selector/invalid_selector.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/declaration_list.css
  crates/biome_css_parser/tests/css_test_suite/ok/declaration_list.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_js_unicode_table/src/tables.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Tooling, L-JavaScript, L-CSS

#1053 fix(js_parser): Illegal duplicate default export declarations
  crates/biome_js_parser/src/state.rs
  crates/biome_js_parser/src/syntax/module.rs
  crates/biome_js_parser/test_data/inline/ok/decorator_export_default_class_and_interface.rast
  crates/biome_js_parser/test_data/inline/ok/decorator_export_default_class_and_interface.ts
  crates/biome_js_parser/test_data/inline/ok/decorator_export_default_function_and_function_overload.rast
  crates/biome_js_parser/test_data/inline/ok/decorator_export_default_function_and_function_overload.ts
  crates/biome_js_parser/test_data/inline/ok/decorator_export_default_function_and_interface.rast
  crates/biome_js_parser/test_data/inline/ok/decorator_export_default_function_and_interface.ts
Labels: A-Parser, L-JavaScript

#1059 fix(lint/noEmptyInterface): allow empty interfaces in external module
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/suspicious/no_empty_interface.rs
  crates/biome_js_analyze/src/control_flow/visitor.rs
  crates/biome_js_analyze/src/semantic_analyzers/style/use_naming_convention.rs
  crates/biome_js_analyze/tests/specs/suspicious/noEmptyInterface/invalid.ts
  crates/biome_js_analyze/tests/specs/suspicious/noEmptyInterface/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/suspicious/noEmptyInterface/valid.ts
  crates/biome_js_analyze/tests/specs/suspicious/noEmptyInterface/valid.ts.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-empty-interface.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1062 fix(lint/noRedeclare): allow overloads
  CHANGELOG.md
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/valid-declaration-merging.ts
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/valid-declaration-merging.ts.snap
  crates/biome_js_syntax/src/binding_ext.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Parser, A-Website, L-JavaScript, A-Changelog

#1057 fix(js_formatter): fix SimpleArgument checks for call and member expressions
  crates/biome_js_formatter/src/js/expressions/call_arguments.rs
  crates/biome_js_formatter/src/utils/member_chain/simple_argument.rs
  crates/biome_js_formatter/tests/specs/js/module/call/simple_arguments.js
  crates/biome_js_formatter/tests/specs/js/module/call/simple_arguments.js.snap
Labels: A-Formatter, L-JavaScript

#986 feat(website): Introduction to textlint
  .github/workflows/ja-translation.yaml
  pnpm-lock.yaml
  website/.textlintrc.json
  website/package.json
  website/prh.yml
  website/src/content/docs/ja/formatter/index.mdx
  website/src/content/docs/ja/guides/big-projects.mdx
  website/src/content/docs/ja/guides/getting-started.mdx
  website/src/content/docs/ja/guides/how-biome-works.mdx
  website/src/content/docs/ja/guides/integrate-in-editor.mdx
  website/src/content/docs/ja/guides/manual-installation.mdx
  website/src/content/docs/ja/internals/architecture.mdx
  website/src/content/docs/ja/internals/versioning.mdx
  website/src/content/docs/ja/reference/vscode.mdx
Labels: A-CLI, A-Website, L-JavaScript, L-JSON

#1071 Fix typo
  website/src/content/docs/formatter/index.mdx
Labels: A-Website

#1078 docs(website): update CODEOWNERS and broken links
  .github/CODEOWNERS
  website/src/content/docs/ja/analyzer/index.mdx
Labels: A-Website

#1074 feat(website): add autolink headings back
  pnpm-lock.yaml
  website/astro.config.ts
  website/package.json
  website/src/styles/_markdown.scss
  website/src/styles/index.scss
Labels: A-Website

#1075 fix(js_formatter): fix JSX text wrapping and empty line handling
  crates/biome_js_formatter/src/jsx/lists/child_list.rs
  crates/biome_js_formatter/src/utils/jsx.rs
  crates/biome_js_formatter/tests/specs/jsx/text_children.jsx
  crates/biome_js_formatter/tests/specs/jsx/text_children.jsx.snap
  crates/biome_js_formatter/tests/specs/prettier/jsx/cursor/in-jsx-text.js.snap
  crates/biome_js_formatter/tests/specs/prettier/jsx/newlines/test.js.snap
  crates/biome_js_formatter/tests/specs/prettier/jsx/text-wrap/test.js.snap
Labels: A-Formatter, L-JavaScript

#1080 chore(js_formatter): update compat reports
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
Labels: A-Formatter, L-JavaScript

#1069 fix(lint/useExhaustiveDependencies): ignore missing deps declared out of component function scope
  CHANGELOG.md
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/extraDependenciesInvalid.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/extraDependenciesInvalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/valid.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/valid.js.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/use-exhaustive-dependencies.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1070 fix(lint/useSingleVarDeclarator): output valid code when declarators are on multilines
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/style/use_single_var_declarator.rs
  crates/biome_js_analyze/tests/specs/style/useSingleVarDeclarator/invalid.js
  crates/biome_js_analyze/tests/specs/style/useSingleVarDeclarator/invalid.js.snap
  crates/biome_js_analyze/tests/specs/style/useSingleVarDeclarator/valid.js
  crates/biome_js_analyze/tests/specs/style/useSingleVarDeclarator/valid.js.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/use-single-var-declarator.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1086 docs(website): add missing indentWidth for json
  website/src/content/docs/reference/configuration.mdx
Labels: A-Website

#1068 docs(website): portuguese translation
  website/astro.config.ts
  website/src/content/docs/pt-br/404.md
  website/src/content/docs/pt-br/analyzer/index.mdx
  website/src/content/docs/pt-br/formatter/index.mdx
  website/src/content/docs/pt-br/formatter/option-philosophy.md
  website/src/content/docs/pt-br/guides/big-projects.mdx
  website/src/content/docs/pt-br/guides/getting-started.mdx
  website/src/content/docs/pt-br/guides/how-biome-works.mdx
  website/src/content/docs/pt-br/guides/integrate-in-editor.mdx
  website/src/content/docs/pt-br/guides/manual-installation.mdx
  website/src/content/docs/pt-br/index.mdx
  website/src/content/docs/pt-br/internals/architecture.mdx
  website/src/content/docs/pt-br/internals/credits.mdx
  website/src/content/docs/pt-br/internals/language-support.mdx
  website/src/content/docs/pt-br/internals/philosophy.mdx
  website/src/content/docs/pt-br/internals/versioning.mdx
  website/src/content/docs/pt-br/linter/index.mdx
  website/src/content/docs/pt-br/recipes/continuous-integration.mdx
  website/src/content/docs/pt-br/reference/vscode.mdx
Labels: A-Website

#1098 docs(website): break down formatter in three pages
  website/astro.config.ts
  website/src/content/docs/formatter/differences-with-prettier.md
  website/src/content/docs/formatter/index.mdx
Labels: A-Website

#1104 feat(lsp): enable formatting on registering
  CHANGELOG.md
  crates/biome_lsp/src/capabilities.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-LSP, A-Website, A-Changelog

#1110 docs(pt-br): translated sidebar
  website/astro.config.ts
Labels: A-Website

#1113 fix(js_parser): handle edge cases for arrow expression in tenary
  CHANGELOG.md
  crates/biome_js_parser/src/syntax/expr.rs
  crates/biome_js_parser/test_data/inline/ok/arrow_expr_in_alternate.js
  crates/biome_js_parser/test_data/inline/ok/arrow_expr_in_alternate.rast
  crates/biome_js_parser/test_data/inline/ok/jsx_arrow_exrp_in_alternate.jsx
  crates/biome_js_parser/test_data/inline/ok/jsx_arrow_exrp_in_alternate.rast
  crates/biome_js_parser/test_data/inline/ok/ts_arrow_exrp_in_alternate.rast
  crates/biome_js_parser/test_data/inline/ok/ts_arrow_exrp_in_alternate.ts
  website/src/content/docs/internals/changelog.mdx
Labels: A-Parser, A-Website, L-JavaScript, A-Changelog

#1132 feat(website): add mobile support to navigation menu
  website/astro.config.ts
  website/src/components/ColorSchemeSwitcher.astro
  website/src/components/SiteTitle.astro
  website/src/layouts/StarlightSplashLayout.astro
  website/src/styles/_patches.scss
  website/src/styles/index.scss
Labels: A-Website

#1130 docs(ja): fix typos in Japanese doc
  website/src/content/docs/ja/analyzer/index.mdx
  website/src/content/docs/ja/guides/getting-started.mdx
  website/src/content/docs/ja/guides/manual-installation.mdx
Labels: A-Website

#1135 fix(js_formatter): fix array fill elements expanding from leading comments
  crates/biome_formatter/src/printer/mod.rs
  crates/biome_js_formatter/src/js/lists/array_element_list.rs
  crates/biome_js_formatter/src/jsx/lists/child_list.rs
  crates/biome_js_formatter/tests/quick_test.rs
  crates/biome_js_formatter/tests/specs/js/module/prettier-differences/fill-array-comments.js
  crates/biome_js_formatter/tests/specs/js/module/prettier-differences/fill-array-comments.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/arrays/numbers-negative.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/arrays/numbers-with-tricky-comments.js.snap
Labels: A-Formatter, L-JavaScript

#1122 docs(pt-br): completed translation of the guide section
  website/src/content/docs/pt-br/guides/big-projects.mdx
  website/src/content/docs/pt-br/guides/how-biome-works.mdx
  website/src/content/docs/pt-br/guides/integrate-in-editor.mdx
  website/src/content/docs/pt-br/guides/manual-installation.mdx
  website/src/content/docs/pt-br/internals/credits.mdx
  website/src/content/docs/pt-br/internals/language-support.mdx
Labels: A-Website

#1139 docs(website): translate philosophy to portuguese
  website/src/content/docs/pt-br/internals/philosophy.mdx
Labels: A-Website

#1140 [ doc ] added formatter.bracketSameLine and formatter.bracketSpacing …
  website/src/content/docs/reference/configuration.mdx
Labels: A-Website

#1141 fix(js_formatter): fix `propagate_expand` for interned elements with `best_fitting`
  crates/biome_formatter/src/format_element/document.rs
Labels: A-Formatter

#1146 docs(formatter): Explain divergence for typescript vs babel from Prettier
  website/src/content/docs/formatter/differences-with-prettier.md
Labels: A-Website

#1148 fix(js_formatter): match default clause block handling with case clauses
  crates/biome_js_formatter/src/js/auxiliary/case_clause.rs
  crates/biome_js_formatter/src/js/auxiliary/default_clause.rs
  crates/biome_js_formatter/tests/specs/js/module/statement/switch.js
  crates/biome_js_formatter/tests/specs/js/module/statement/switch.js.snap
Labels: A-Formatter, L-JavaScript

#1152 fix(js_formatter): fix binaryish and ts type handling for grouping call arguments
  crates/biome_js_formatter/src/js/expressions/call_arguments.rs
  crates/biome_js_formatter/tests/quick_test.rs
  crates/biome_js_formatter/tests/specs/js/module/call/simple_arguments.js
  crates/biome_js_formatter/tests/specs/js/module/call/simple_arguments.js.snap
Labels: A-Formatter, L-JavaScript

#1142 feat: `noUselessTernary` rule
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_useless_ternary.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessTernary/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessTernary/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUselessTernary/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessTernary/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/tests/invalid/hooks_incorrect_options.json.snap
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-useless-ternary.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#1149 docs(website): translate versioning to portuguese
  website/src/content/docs/pt-br/internals/versioning.mdx
Labels: A-Website

#1150 feat(website): Add Netlify badge
  website/astro.config.ts
  website/src/components/Netlify.astro
  website/src/components/starlight/Sidebar.astro
  website/src/components/starlight/SiteTitle.astro
  website/src/content/docs/index.mdx
Labels: A-Website

#1136 fix(js_formatter): refactor indention for arrow chains
  crates/biome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/biome_js_formatter/tests/specs/js/module/arrow/curried_indents.js
  crates/biome_js_formatter/tests/specs/js/module/arrow/curried_indents.js.snap
Labels: A-Formatter, L-JavaScript

#1160 fix(js_formatter): ensure interface call signatures match function formatting
  crates/biome_js_formatter/src/ts/auxiliary/call_signature_type_member.rs
  crates/biome_js_formatter/src/ts/auxiliary/construct_signature_type_member.rs
  crates/biome_js_formatter/tests/specs/prettier/typescript/function-type/consistent.ts.snap
Labels: A-Formatter, L-JavaScript

#1162 fix(js_formatter): fix some random indention inconsistencies
  crates/biome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/biome_js_formatter/src/utils/binary_like_expression.rs
  crates/biome_js_formatter/tests/specs/prettier/js/ternaries/func-call.js.snap
Labels: A-Formatter, L-JavaScript

#1164 chore(formatter): update compatibility reports
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
Labels: A-Formatter, L-JavaScript

#1168 fix(lint/useValidAriaProps): fix to not report `aria-atomic` as invalid
  CHANGELOG.md
  crates/biome_aria/src/properties.rs
  crates/biome_js_analyze/tests/specs/a11y/useValidAriaProps/valid.jsx
  crates/biome_js_analyze/tests/specs/a11y/useValidAriaProps/valid.jsx.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1166 docs(LICENSE-APACHE): fill copyright placeholder
  LICENSE-APACHE
  crates/biome_console/CODESPAN_LICENSE
  crates/biome_rowan/LICENSE-APACHE
  crates/biome_service/src/matcher/LICENSE-APACHE
  crates/biome_text_size/LICENSE-APACHE
  packages/@biomejs/backend-jsonrpc/LICENSE-APACHE
  packages/@biomejs/biome/LICENSE-APACHE
  packages/@biomejs/js-api/LICENSE-APACHE
Labels: A-CLI, A-Core, A-Project

#1175 docs: fix incorrect file name
  website/src/content/docs/analyzer/index.mdx
  website/src/content/docs/ja/analyzer/index.mdx
  website/src/content/docs/pt-br/analyzer/index.mdx
  website/src/content/docs/zh-cn/analyzer/index.mdx
Labels: A-Website

#1114 feat(css_parser): CSS parser container at rule #995
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/lexer/tests.rs
  crates/biome_css_parser/src/parser.rs
  crates/biome_css_parser/src/syntax/at_rule/container.rs
  crates/biome_css_parser/src/syntax/at_rule/mod.rs
  crates/biome_css_parser/src/syntax/css_dimension.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/selector/mod.rs
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_container.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_container.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_container_complex.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_container_complex.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/declaration_list.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_js_unicode_table/src/tables.rs
  crates/biome_parser/src/lib.rs
  xtask/bench/src/language.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Tooling, L-JavaScript, L-CSS

#1185 test(useShorthandFunctionType): add more test cases
  crates/biome_js_analyze/tests/specs/nursery/useShorthandFunctionType/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/useShorthandFunctionType/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useShorthandFunctionType/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useShorthandFunctionType/valid.ts.snap
Labels: A-Linter, L-JavaScript

#1179 refactor: `noNoninteractiveTabindex` code action
  crates/biome_js_analyze/src/aria_analyzers/a11y/no_noninteractive_tabindex.rs
  crates/biome_js_analyze/tests/specs/a11y/noNoninteractiveTabindex/invalid.jsx.snap
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-noninteractive-tabindex.md
Labels: A-Linter, A-Website, L-JavaScript

#1187 fix(js_formatter): account for escaped strings when computing layout for assignments
  CHANGELOG.md
  crates/biome_js_formatter/src/utils/assignment_like.rs
  crates/biome_js_formatter/tests/specs/js/module/assignment/assignment.js
  crates/biome_js_formatter/tests/specs/js/module/assignment/assignment.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/strings/escaped.js
  crates/biome_js_formatter/tests/specs/prettier/js/strings/escaped.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Formatter, A-Website, L-JavaScript, A-Changelog

#1196 chore: broken links in `credits.mdx`
  website/src/content/docs/internals/credits.mdx
Labels: A-Website

#1108 feat: Hero `Performance` component
  website/src/components/formatter/input.md
  website/src/components/formatter/output.md
  website/src/content/docs/index.mdx
  website/src/content/docs/pt-br/index.mdx
  website/src/content/docs/zh-cn/index.mdx
  website/src/playground/components/Progress.tsx
  website/src/styles/_overrides.scss
  website/src/styles/_performance.scss
  website/src/styles/_progress.scss
Labels: A-Website

#1181 docs(vscode.mdx): translate `vscode.mdx` to `pt-br`
  website/src/content/docs/pt-br/reference/vscode.mdx
Labels: A-Website

#1195 fix(js_formatter): handle nestling comments to support jsdoc overloads
  crates/biome_formatter/src/comments.rs
  crates/biome_formatter/src/trivia.rs
  crates/biome_js_formatter/src/comments.rs
  crates/biome_js_formatter/tests/specs/js/module/comments.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/comments/jsdoc-nestled-dangling.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/comments/jsdoc-nestled.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/comments/trailing-jsdocs.js.snap
  crates/biome_json_formatter/src/comments.rs
Labels: A-Formatter, L-JavaScript, L-JSON

#1212 fix(js_formatter): fix handling ts references from array types in argument grouping
  crates/biome_js_formatter/src/js/expressions/call_arguments.rs
  crates/biome_js_formatter/tests/specs/ts/simple_arguments.ts
  crates/biome_js_formatter/tests/specs/ts/simple_arguments.ts.snap
Labels: A-Formatter, L-JavaScript

#1219 refactor(lint/noUselessElse): keep else clause comments
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/style/no_useless_else.rs
  crates/biome_js_analyze/tests/specs/style/noUselessElse/invalid.js
  crates/biome_js_analyze/tests/specs/style/noUselessElse/invalid.js.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-useless-else.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1216 feat(migrate): add migration for the schema field
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_migrate/src/analyzers.rs
  crates/biome_migrate/src/analyzers/schema.rs
  crates/biome_migrate/src/lib.rs
  crates/biome_migrate/src/version_services.rs
  crates/biome_migrate/tests/spec_tests.rs
  crates/biome_migrate/tests/specs/migrations/schema/invalid.json
  crates/biome_migrate/tests/specs/migrations/schema/invalid.json.snap
  crates/biome_migrate/tests/specs/migrations/schema/valid.json
  crates/biome_migrate/tests/specs/migrations/schema/valid.json.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Website, A-Changelog

#1129 feat: add some additional test cases for the globalObject
  crates/biome_js_analyze/src/semantic_analyzers/nursery/no_misleading_character_class.rs
  crates/biome_js_analyze/tests/specs/nursery/noMisleadingCharacterClass/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noMisleadingCharacterClass/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noMisleadingCharacterClass/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noMisleadingCharacterClass/valid.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#1203 chore: governance and philosophy
  GOVERNANCE.md
  website/src/content/docs/internals/philosophy.mdx
Labels: A-Website

#1209 docs: translate internals/architecture.mdx to pt-br
  website/src/content/docs/pt-br/internals/architecture.mdx
Labels: A-Website

#1210 docs: translate `formatter/differences-with-prettier.md` to `pt-br`
  website/src/content/docs/pt-br/formatter/differences-with-prettier.md
Labels: A-Website

#1182 docs: update CONTRIBUTING.md with translations section
  CONTRIBUTING.md
  website/TRANSLATIONS.md
Labels: A-Website

#1244 fix(cli): fix traversal of relative paths as inputs
  crates/biome_cli/src/execute/traverse.rs
Labels: A-CLI

#1243 fix(lint/noEmptyInterface): ignore interfaces extending types in global declarations
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/suspicious/no_empty_interface.rs
  crates/biome_js_analyze/src/control_flow/visitor.rs
  crates/biome_js_analyze/tests/specs/suspicious/noEmptyInterface/valid.d.ts
  crates/biome_js_analyze/tests/specs/suspicious/noEmptyInterface/valid.d.ts.snap
  crates/biome_js_analyze/tests/specs/suspicious/noEmptyInterface/valid.ts
  crates/biome_js_analyze/tests/specs/suspicious/noEmptyInterface/valid.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Linter, A-Website, L-JavaScript, A-Changelog

#753 feat(biome_cli): add `--changed` option
  CHANGELOG.md
  crates/biome_cli/src/changed.rs
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_error_if_changed_flag_is_used_without_since_or_default_branch_config.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_error_if_since_arg_is_used_without_changed.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_not_process_ignored_file_even_if_its_changed.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_only_process_changed_file_if_its_included.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_only_processes_changed_files_when_changed_flag_is_set.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_process_changed_files_if_changed_flag_is_set_and_default_branch_is_configured.snap
  crates/biome_deserialize/src/string_set.rs
  crates/biome_fs/src/fs.rs
  crates/biome_fs/src/fs/memory.rs
  crates/biome_fs/src/fs/os.rs
  crates/biome_service/src/configuration/parse/json/vcs.rs
  crates/biome_service/src/configuration/vcs.rs
  editors/vscode/configuration_schema.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Core, A-Project, A-Website, A-Changelog

#1239 feat(parse/noTypeOnlyImportAttributes): report type-only imports/exports with attributes
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/syntax.rs
  crates/biome_js_analyze/src/syntax/nursery.rs
  crates/biome_js_analyze/src/syntax/nursery/no_type_only_import_attributes.rs
  crates/biome_js_analyze/tests/specs/nursery/noTypeOnlyImportAttributes/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noTypeOnlyImportAttributes/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noTypeOnlyImportAttributes/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noTypeOnlyImportAttributes/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noTypeOnlyImportAttributes/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noTypeOnlyImportAttributes/valid.ts.snap
  crates/biome_js_syntax/src/import_ext.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-Linter, A-Parser, L-JavaScript, A-Diagnostic

#1249 fix(cli): remove `ignore` from crawling, and fix regression
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  biome.json
  crates/biome_cli/Cargo.toml
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/migrate.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/cases/unknown_files.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/snapshots/main_cases_unknown_files/should_not_print_a_diagnostic_unknown_file_because_ignored.snap
  crates/biome_cli/tests/snapshots/main_cases_unknown_files/should_print_a_diagnostic_unknown_file.snap
  crates/biome_cli/tests/snapshots/main_commands_check/fs_files_ignore_symlink.snap
  crates/biome_cli/tests/snapshots/main_commands_check/unsupported_file.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/fs_files_ignore_symlink.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/unsupported_file.snap
  crates/biome_diagnostics/Cargo.toml
  crates/biome_diagnostics/src/adapters.rs
  crates/biome_fs/Cargo.toml
  crates/biome_fs/src/fs.rs
  crates/biome_fs/src/fs/memory.rs
  crates/biome_fs/src/fs/os.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/lib.rs
  crates/biome_service/src/snapshots/source_file_not_supported.snap
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
  website/src/content/docs/internals/changelog.mdx
  website/src/pages/.editorconfig
Labels: A-CLI, A-Core, A-Project, A-Website, A-Diagnostic, A-Changelog

#1240 fix(js_formatter): don't duplicate dangling comments for mapped types
  CHANGELOG.md
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_js_formatter/src/comments.rs
  crates/biome_js_formatter/src/ts/lists/union_type_variant_list.rs
  crates/biome_js_formatter/src/ts/types/mapped_type.rs
  crates/biome_js_formatter/tests/quick_test.rs
  crates/biome_js_formatter/tests/specs/prettier/typescript/mapped-type/break-mode/break-mode.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/mapped-type/issue-11098.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Formatter, A-Website, L-JavaScript, A-Changelog

#1121 feat(lint/noNodejsModules): add rule
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/globals/node.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/no_nodejs_modules.rs
  crates/biome_js_analyze/tests/specs/nursery/noNodejsModules/invalid-cjs.cjs
  crates/biome_js_analyze/tests/specs/nursery/noNodejsModules/invalid-cjs.cjs.snap
  crates/biome_js_analyze/tests/specs/nursery/noNodejsModules/invalid-esm.js
  crates/biome_js_analyze/tests/specs/nursery/noNodejsModules/invalid-esm.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript, A-Diagnostic

#1131 feat(analyzer): implement useNodeImportProtocol rule
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/use_node_import_protocol.rs
  crates/biome_js_analyze/src/globals/node.rs
  crates/biome_js_analyze/tests/specs/nursery/useNodeImportProtocol/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useNodeImportProtocol/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useNodeImportProtocol/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useNodeImportProtocol/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/tests/invalid/hooks_incorrect_options.json.snap
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/use-node-import-protocol.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#1252 feat(lint): stabilize `noNodejsModules` and `useNodeImportProtocol`
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/use_node_import_protocol.rs
  crates/biome_js_analyze/src/globals/node.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/no_nodejs_modules.rs
  crates/biome_js_analyze/tests/specs/nursery/noNodejsModules/invalid-cjs.cjs
  crates/biome_js_analyze/tests/specs/nursery/noNodejsModules/invalid-cjs.cjs.snap
  crates/biome_js_analyze/tests/specs/nursery/noNodejsModules/invalid-esm.js
  crates/biome_js_analyze/tests/specs/nursery/noNodejsModules/invalid-esm.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useNodeImportProtocol/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useNodeImportProtocol/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useNodeImportProtocol/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useNodeImportProtocol/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/tests/invalid/hooks_incorrect_options.json.snap
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-nodejs-modules.md
  website/src/content/docs/linter/rules/use-node-import-protocol.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#1258 feat(lint/noInvalidUseBeforeDeclaration): add rule
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/no_invalid_use_before_declaration.rs
  crates/biome_js_analyze/tests/specs/nursery/noInvalidUseBeforeDeclaration/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noInvalidUseBeforeDeclaration/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noInvalidUseBeforeDeclaration/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noInvalidUseBeforeDeclaration/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noInvalidUseBeforeDeclaration/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noInvalidUseBeforeDeclaration/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noInvalidUseBeforeDeclaration/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noInvalidUseBeforeDeclaration/valid.ts.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/tests/invalid/hooks_incorrect_options.json.snap
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-invalid-use-before-declaration.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#1266 website: move netlify badge to home
  website/src/components/Netlify.astro
  website/src/components/starlight/Sidebar.astro
  website/src/content/docs/index.mdx
Labels: A-Website

#1267 refcator(linter): don't require rule config to implement Bpaf's Parser trait
  Cargo.lock
  crates/biome_analyze/CONTRIBUTING.md
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_analyze/src/analyzers/complexity/no_excessive_cognitive_complexity.rs
  crates/biome_js_analyze/src/aria_analyzers/nursery/use_valid_aria_role.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/src/semantic_analyzers/style/no_restricted_globals.rs
  crates/biome_js_analyze/src/semantic_analyzers/style/use_naming_convention.rs
  crates/biome_service/src/configuration/linter/mod.rs
Labels: A-Project, A-Linter, L-JavaScript

#1215 feat: website installation section
  website/src/assets/svg/arrow-right.svg
  website/src/assets/svg/vscode-ext.png
  website/src/content/docs/index.mdx
  website/src/styles/_installation.scss
  website/src/styles/_performance.scss
  website/src/styles/_progress.scss
  website/src/styles/_sponsors.scss
Labels: A-Website

#1272 docs(website): fix italic text for ja docs
  website/src/content/docs/ja/linter/index.mdx
Labels: A-Website

#1264 feat(css_parser): support `@font-palette-values`
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/at_rule.rs
  crates/biome_css_formatter/src/css/statements/font_palette_values_at_rule.rs
  crates/biome_css_formatter/src/css/statements/mod.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/font_palette_values.rs
  crates/biome_css_parser/src/syntax/at_rule/mod.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_font_palette_values_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_font_palette_values_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_font_palette_values.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_font_palette_values.css.snap
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS

#1276 refactor: `useNodeImportProtocol` codefix
  crates/biome_js_analyze/src/analyzers/nursery/use_node_import_protocol.rs
  crates/biome_js_analyze/tests/specs/nursery/useNodeImportProtocol/invalid.js.snap
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/use-node-import-protocol.md
Labels: A-Linter, A-Website, L-JavaScript

#1277 docs: `noImportAssign` docs fix
  crates/biome_js_analyze/src/semantic_analyzers/suspicious/no_import_assign.rs
  website/src/content/docs/linter/rules/no-import-assign.md
Labels: A-Linter, A-Website, L-JavaScript

#1284 chore: update Prettier compatibility
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
  packages/@biomejs/biome/README.ja.md
  packages/@biomejs/biome/README.md
  packages/@biomejs/biome/README.pt-br.md
  packages/@biomejs/biome/README.zh-CN.md
Labels: A-Formatter, L-JavaScript

#1289 refactor(lint/noEmptyInterface): ignore empty interface that extends a type
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/suspicious/no_empty_interface.rs
  crates/biome_js_analyze/tests/specs/suspicious/noEmptyInterface/invalid.ts
  crates/biome_js_analyze/tests/specs/suspicious/noEmptyInterface/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/suspicious/noEmptyInterface/valid.d.ts
  crates/biome_js_analyze/tests/specs/suspicious/noEmptyInterface/valid.d.ts.snap
  crates/biome_js_analyze/tests/specs/suspicious/noEmptyInterface/valid.ts
  crates/biome_js_analyze/tests/specs/suspicious/noEmptyInterface/valid.ts.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-empty-interface.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1283 refactor(config): reduce size by 53%
  crates/biome_service/src/configuration/linter/mod.rs
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/overrides.rs
  crates/biome_service/src/configuration/parse/json/linter.rs
  xtask/codegen/src/generate_configuration.rs
Labels: A-Project, A-Tooling

#1238 feat: use user local data dir for lsp daemon files
  Cargo.lock
  crates/biome_cli/README.md
  crates/biome_cli/src/commands/daemon.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/src/service/unix.rs
  crates/biome_fs/Cargo.toml
  crates/biome_fs/src/dir.rs
  crates/biome_fs/src/lib.rs
  website/src/content/docs/guides/integrate-in-editor.mdx
Labels: A-CLI, A-Core, A-Website

#1288 fix(css_parser): CSS Parser: fix attribute selector and dimension
  crates/biome_css_formatter/tests/specs/css/units.css.snap
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/lexer/tests.rs
  crates/biome_css_parser/src/syntax/css_dimension.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_keyframes.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/declaration_list.css
  crates/biome_css_parser/tests/css_test_suite/ok/declaration_list.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/attribute.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_js_parser/src/lexer/mod.rs
  crates/biome_js_unicode_table/src/lib.rs
  crates/biome_json_parser/src/lexer/mod.rs
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-CSS, L-JSON

#1278 fix(project): keep parent configuration when computing overrides
  CHANGELOG.md
  crates/biome_cli/tests/cases/overrides_formatter.rs
  crates/biome_cli/tests/cases/overrides_linter.rs
  crates/biome_cli/tests/snap_test.rs
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/does_not_change_formatting_language_settings.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/does_not_change_formatting_settings.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_linter/does_not_change_linting_settings.snap
  crates/biome_service/src/configuration/overrides.rs
  crates/biome_service/src/settings.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Project, A-Website, A-Changelog

#1248 fix(cli): only count errors for max diagnostics
  crates/biome_cli/src/execute/process_file.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/snapshots/main_cases_diagnostics/logs_the_appropriate_messages_according_to_set_diagonstics_level.snap
Labels: A-CLI

#1296 feat(css_formatter): all the remaining at-rules
  crates/biome_css_formatter/src/css/auxiliary/keyframes_block.rs
  crates/biome_css_formatter/src/css/auxiliary/keyframes_item.rs
  crates/biome_css_formatter/src/css/lists/keyframes_item_list.rs
  crates/biome_css_formatter/src/css/lists/keyframes_selector_list.rs
  crates/biome_css_formatter/src/css/selectors/keyframes_ident_selector.rs
  crates/biome_css_formatter/src/css/selectors/keyframes_percentage_selector.rs
  crates/biome_css_formatter/src/css/statements/at_rule.rs
  crates/biome_css_formatter/src/css/statements/charset_at_rule.rs
  crates/biome_css_formatter/src/css/statements/color_profile_at_rule.rs
  crates/biome_css_formatter/src/css/statements/counter_style_at_rule.rs
  crates/biome_css_formatter/src/css/statements/font_face_at_rule.rs
  crates/biome_css_formatter/src/css/statements/font_palette_values_at_rule.rs
  crates/biome_css_formatter/src/css/statements/keyframes_at_rule.rs
  crates/biome_css_formatter/tests/quick_test.rs
  crates/biome_css_formatter/tests/specs/css/atrule/charset.css
  crates/biome_css_formatter/tests/specs/css/atrule/charset.css.snap
  crates/biome_css_formatter/tests/specs/css/atrule/color_profile.css
  crates/biome_css_formatter/tests/specs/css/atrule/color_profile.css.snap
  crates/biome_css_formatter/tests/specs/css/atrule/counter_style.css
  crates/biome_css_formatter/tests/specs/css/atrule/counter_style.css.snap
  crates/biome_css_formatter/tests/specs/css/atrule/font_face.css
  crates/biome_css_formatter/tests/specs/css/atrule/font_face.css.snap
  crates/biome_css_formatter/tests/specs/css/atrule/keyframes.css
  crates/biome_css_formatter/tests/specs/css/atrule/keyframes.css.snap
Labels: A-Formatter, L-CSS

#1291 feat(css_formatter): support for pseudo selectors
  crates/biome_css_formatter/src/css/auxiliary/nth_offset.rs
  crates/biome_css_formatter/src/css/auxiliary/rule.rs
  crates/biome_css_formatter/src/css/lists/compound_selector_list.rs
  crates/biome_css_formatter/src/css/lists/pseudo_value_list.rs
  crates/biome_css_formatter/src/css/lists/relative_selector_list.rs
  crates/biome_css_formatter/src/css/lists/selector_list.rs
  crates/biome_css_formatter/src/css/pseudo/pseudo_class_function_compound_selector_list.rs
  crates/biome_css_formatter/src/css/pseudo/pseudo_class_function_identifier.rs
  crates/biome_css_formatter/src/css/pseudo/pseudo_class_function_nth.rs
  crates/biome_css_formatter/src/css/pseudo/pseudo_class_function_relative_selector_list.rs
  crates/biome_css_formatter/src/css/pseudo/pseudo_class_function_selector_list.rs
  crates/biome_css_formatter/src/css/pseudo/pseudo_class_function_value_list.rs
  crates/biome_css_formatter/src/css/pseudo/pseudo_class_identifier.rs
  crates/biome_css_formatter/src/css/pseudo/pseudo_class_nth.rs
  crates/biome_css_formatter/src/css/pseudo/pseudo_class_nth_identifier.rs
  crates/biome_css_formatter/src/css/pseudo/pseudo_class_nth_number.rs
  crates/biome_css_formatter/src/css/pseudo/pseudo_element_function_identifier.rs
  crates/biome_css_formatter/src/css/pseudo/pseudo_element_identifier.rs
  crates/biome_css_formatter/src/css/selectors/complex_selector.rs
  crates/biome_css_formatter/src/css/selectors/pseudo_class_function_compound_selector.rs
  crates/biome_css_formatter/src/css/selectors/pseudo_class_function_selector.rs
  crates/biome_css_formatter/src/css/selectors/pseudo_class_nth_selector.rs
  crates/biome_css_formatter/src/css/selectors/pseudo_class_of_nth_selector.rs
  crates/biome_css_formatter/src/css/selectors/pseudo_class_selector.rs
  crates/biome_css_formatter/src/css/selectors/pseudo_element_function_selector.rs
  crates/biome_css_formatter/src/css/selectors/pseudo_element_selector.rs
  crates/biome_css_formatter/src/css/selectors/relative_selector.rs
  crates/biome_css_formatter/tests/quick_test.rs
  crates/biome_css_formatter/tests/specs/css/pseudo/is.css
  crates/biome_css_formatter/tests/specs/css/pseudo/is.css.snap
  crates/biome_css_formatter/tests/specs/css/pseudo/not.css
  crates/biome_css_formatter/tests/specs/css/pseudo/not.css.snap
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_class_function_compound_selector.css
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_class_function_compound_selector.css.snap
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_class_function_compound_selector_list.css
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_class_function_compound_selector_list.css.snap
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_class_function_nth.css
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_class_function_nth.css.snap
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_class_function_relative_selector_list.css
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_class_function_relative_selector_list.css.snap
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_class_function_selector.css
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_class_function_selector.css.snap
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_class_function_value_list.css
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_class_function_value_list.css.snap
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_class_identifier.css
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_class_identifier.css.snap
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_element_selector.css
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_element_selector.css.snap
  crates/biome_css_formatter/tests/specs/css/pseudo/where.css
  crates/biome_css_formatter/tests/specs/css/pseudo/where.css.snap
  crates/biome_css_formatter/tests/specs/css/selectors/complex_selector.css.snap
Labels: A-Formatter, L-CSS

#1306 docs: fix formatting issue
  website/src/content/docs/formatter/differences-with-prettier.md
Labels: A-Website

#1308 fix(css_formatter): syntax errors after parser refactoring
  crates/biome_css_formatter/src/css/pseudo/pseudo_class_function_compound_selector_list.rs
  crates/biome_css_formatter/src/css/pseudo/pseudo_class_function_relative_selector_list.rs
  crates/biome_css_formatter/src/css/pseudo/pseudo_class_function_selector_list.rs
  crates/biome_css_formatter/src/css/pseudo/pseudo_class_function_value_list.rs
  crates/biome_css_formatter/src/css/selectors/pseudo_class_of_nth_selector.rs
  crates/biome_css_formatter/src/css/statements/media_at_rule.rs
Labels: A-Formatter, L-CSS

#1299 fix(cli): diagnostic level
  crates/biome_cli/src/execute/process_file.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/cases/diagnostics.rs
  crates/biome_cli/tests/snapshots/main_cases_diagnostics/logs_the_appropriate_messages_according_to_set_diagnostics_level.snap
Labels: A-CLI

#1297 chore: use new logo in readme
  crates/biome_css_formatter/README.md
  crates/biome_css_parser/README.md
  crates/biome_formatter/README.md
  crates/biome_js_formatter/README.md
  crates/biome_js_parser/README.md
  crates/biome_json_formatter/README.md
  crates/biome_json_parser/README.md
  packages/@biomejs/biome/README.md
Labels: A-Parser, A-Formatter, L-JavaScript, L-CSS, L-JSON

#1305 docs: add caveat to `lint/complexity/noForEach`
  website/src/content/docs/linter/rules/no-for-each.md
Labels: A-Website

#1313 docs(CHANGELOG): improve and update
  CHANGELOG.md
  website/src/content/docs/internals/changelog.mdx
Labels: A-Website, A-Changelog

#1309 fix(css_formatter): don't preserve empty lines for selector lists
  crates/biome_css_formatter/src/css/lists/compound_selector_list.rs
  crates/biome_css_formatter/src/css/lists/declaration_list.rs
  crates/biome_css_formatter/src/css/lists/keyframes_item_list.rs
  crates/biome_css_formatter/src/css/lists/keyframes_selector_list.rs
  crates/biome_css_formatter/src/css/lists/parameter_list.rs
  crates/biome_css_formatter/src/css/lists/pseudo_value_list.rs
  crates/biome_css_formatter/src/css/lists/relative_selector_list.rs
  crates/biome_css_formatter/src/css/lists/rule_list.rs
  crates/biome_css_formatter/src/css/lists/selector_list.rs
  crates/biome_css_formatter/src/css/selectors/pseudo_class_nth_selector.rs
  crates/biome_css_formatter/tests/specs/css/atrule/keyframes.css.snap
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_class_function_compound_selector_list.css.snap
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_class_function_nth.css
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_class_function_nth.css.snap
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_class_function_value_list.css.snap
  crates/biome_css_formatter/tests/specs/css/pseudo/where.css.snap
Labels: A-Formatter, L-CSS

#1318 docs(lint/noForEach): add caveat in the source file
  crates/biome_js_analyze/src/analyzers/complexity/no_for_each.rs
  website/src/content/docs/linter/rules/no-for-each.md
Labels: A-Linter, A-Website, L-JavaScript

#1316 refactor(lint/noMultipleSpacesInRegularExpressionLiterals): make code fix safe
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/complexity/no_multiple_spaces_in_regular_expression_literals.rs
  crates/biome_js_analyze/tests/specs/complexity/noMultipleSpacesInRegularExpressionLiterals/invalid.jsonc.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-multiple-spaces-in-regular-expression-literals.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1321 feat(css_formatter): Always quote attribute matcher values
  crates/biome_css_formatter/src/css/auxiliary/attribute_matcher_value.rs
  crates/biome_css_formatter/src/lib.rs
  crates/biome_css_formatter/tests/specs/css/selectors/attribute_selector.css.snap
Labels: A-Formatter, L-CSS

#1323 fix(json_formatter): handle comments in empty arrays/objects
  crates/biome_json_formatter/src/comments.rs
  crates/biome_json_formatter/src/json/value/array_value.rs
  crates/biome_json_formatter/src/json/value/object_value.rs
  crates/biome_json_formatter/tests/specs/json/comments/empty_with_comments.json
  crates/biome_json_formatter/tests/specs/json/comments/empty_with_comments.json.snap
Labels: A-Formatter, L-JSON

#1314 feat(lint): implement `useNumberProperties`
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_number_properties.rs
  crates/biome_js_analyze/tests/specs/nursery/useNumberProperties/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useNumberProperties/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useNumberProperties/invalid_properties_value_shorthand.js
  crates/biome_js_analyze/tests/specs/nursery/useNumberProperties/invalid_properties_value_shorthand.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useNumberProperties/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useNumberProperties/valid.js.snap
  crates/biome_js_unicode_table/src/tables.rs
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/tests/invalid/hooks_incorrect_options.json.snap
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/use-number-properties.md
  website/src/playground/PlaygroundLoader.tsx
  website/src/playground/tabs/SettingsTab.tsx
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#1324 refactor(lint/useExponentiationOperator): preserve more comments in code fix
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/style/use_exponentiation_operator.rs
  crates/biome_js_analyze/tests/specs/style/useExponentiationOperator/invalidWithComments.js
  crates/biome_js_analyze/tests/specs/style/useExponentiationOperator/invalidWithComments.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1325 docs(website): use biome latest in ci example doc
  website/src/content/docs/ja/recipes/continuous-integration.mdx
  website/src/content/docs/pt-br/recipes/continuous-integration.mdx
  website/src/content/docs/recipes/continuous-integration.mdx
  website/src/content/docs/zh-cn/recipes/continuous-integration.mdx
Labels: A-Website

#1326 fix(lint/useGetterReturn): fix diagnostic
  crates/biome_js_analyze/src/analyzers/suspicious/use_getter_return.rs
  crates/biome_js_analyze/tests/specs/suspicious/useGetterReturn/invalid.js.snap
  website/src/content/docs/linter/rules/use-getter-return.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1319 feat(css_parser): CSS Parser: parse page at rule #1310
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/at_rule.rs
  crates/biome_css_formatter/src/css/any/declaration_or_at_rule.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/css/any/page_at_rule_block.rs
  crates/biome_css_formatter/src/css/any/page_at_rule_item.rs
  crates/biome_css_formatter/src/css/any/page_selector.rs
  crates/biome_css_formatter/src/css/any/page_selector_pseudo.rs
  crates/biome_css_formatter/src/css/auxiliary/declaration_or_at_rule_block.rs
  crates/biome_css_formatter/src/css/auxiliary/declaration_with_semicolon.rs
  crates/biome_css_formatter/src/css/auxiliary/mod.rs
  crates/biome_css_formatter/src/css/auxiliary/page_at_rule_block.rs
  crates/biome_css_formatter/src/css/auxiliary/page_selector_pseudo.rs
  crates/biome_css_formatter/src/css/bogus/bogus_page_selector_pseudo.rs
  crates/biome_css_formatter/src/css/bogus/mod.rs
  crates/biome_css_formatter/src/css/lists/declaration_or_at_rule_list.rs
  crates/biome_css_formatter/src/css/lists/mod.rs
  crates/biome_css_formatter/src/css/lists/page_at_rule_item_list.rs
  crates/biome_css_formatter/src/css/lists/page_selector_list.rs
  crates/biome_css_formatter/src/css/lists/page_selector_pseudo_list.rs
  crates/biome_css_formatter/src/css/selectors/mod.rs
  crates/biome_css_formatter/src/css/selectors/page_selector.rs
  crates/biome_css_formatter/src/css/statements/margin_at_rule.rs
  crates/biome_css_formatter/src/css/statements/mod.rs
  crates/biome_css_formatter/src/css/statements/page_at_rule.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/color_profile.rs
  crates/biome_css_parser/src/syntax/at_rule/container.rs
  crates/biome_css_parser/src/syntax/at_rule/counter_style.rs
  crates/biome_css_parser/src/syntax/at_rule/font_face.rs
  crates/biome_css_parser/src/syntax/at_rule/font_palette_values.rs
  crates/biome_css_parser/src/syntax/at_rule/keyframes.rs
  crates/biome_css_parser/src/syntax/at_rule/media.rs
  crates/biome_css_parser/src/syntax/at_rule/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/page.rs
  crates/biome_css_parser/src/syntax/at_rule/parse_error.rs
  crates/biome_css_parser/src/syntax/blocks.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/parse_error.rs
  crates/biome_css_parser/src/syntax/selector/mod.rs
  crates/biome_css_parser/tests/css_test_suite/error/selector/invalid_selector.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_page.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_page.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_page_complex.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_page_complex.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_css_syntax/src/lib.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS

#1329 feat(css_parser): CSS Parser: parse layer #1320
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/at_rule.rs
  crates/biome_css_formatter/src/css/any/layer.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/css/auxiliary/layer_declaration.rs
  crates/biome_css_formatter/src/css/auxiliary/layer_reference.rs
  crates/biome_css_formatter/src/css/auxiliary/mod.rs
  crates/biome_css_formatter/src/css/bogus/bogus_layer.rs
  crates/biome_css_formatter/src/css/bogus/mod.rs
  crates/biome_css_formatter/src/css/lists/layer_name_list.rs
  crates/biome_css_formatter/src/css/lists/layer_reference_list.rs
  crates/biome_css_formatter/src/css/lists/mod.rs
  crates/biome_css_formatter/src/css/statements/layer_at_rule.rs
  crates/biome_css_formatter/src/css/statements/mod.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/layer.rs
  crates/biome_css_parser/src/syntax/at_rule/mod.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_layer_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_layer_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_layer.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_layer.css.snap
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_css_syntax/src/lib.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS

#1331 feat(css_formatter): support @page and margin at-rules
  crates/biome_css_formatter/src/css/auxiliary/declaration_or_at_rule_block.rs
  crates/biome_css_formatter/src/css/auxiliary/declaration_with_semicolon.rs
  crates/biome_css_formatter/src/css/auxiliary/page_at_rule_block.rs
  crates/biome_css_formatter/src/css/auxiliary/page_selector_pseudo.rs
  crates/biome_css_formatter/src/css/lists/declaration_list.rs
  crates/biome_css_formatter/src/css/lists/declaration_or_at_rule_list.rs
  crates/biome_css_formatter/src/css/lists/page_at_rule_item_list.rs
  crates/biome_css_formatter/src/css/lists/page_selector_list.rs
  crates/biome_css_formatter/src/css/selectors/page_selector.rs
  crates/biome_css_formatter/src/css/statements/margin_at_rule.rs
  crates/biome_css_formatter/src/css/statements/page_at_rule.rs
  crates/biome_css_formatter/tests/specs/css/atrule/page.css
  crates/biome_css_formatter/tests/specs/css/atrule/page.css.snap
  crates/biome_css_formatter/tests/specs/css/atrule/page_complex.css
  crates/biome_css_formatter/tests/specs/css/atrule/page_complex.css.snap
Labels: A-Formatter, L-CSS

#1292 feat(css_parser): support calc linear url var function
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/expression.rs
  crates/biome_css_formatter/src/css/any/function.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/css/any/query_feature_value.rs
  crates/biome_css_formatter/src/css/any/url_value.rs
  crates/biome_css_formatter/src/css/any/value.rs
  crates/biome_css_formatter/src/css/auxiliary/any_function.rs
  crates/biome_css_formatter/src/css/auxiliary/binary_expression.rs
  crates/biome_css_formatter/src/css/auxiliary/color.rs
  crates/biome_css_formatter/src/css/auxiliary/list_of_component_values_expression.rs
  crates/biome_css_formatter/src/css/auxiliary/mod.rs
  crates/biome_css_formatter/src/css/auxiliary/parameter.rs
  crates/biome_css_formatter/src/css/auxiliary/parenthesized_expression.rs
  crates/biome_css_formatter/src/css/auxiliary/url_function.rs
  crates/biome_css_formatter/src/css/auxiliary/url_value_raw.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_formatter/tests/quick_test.rs
  crates/biome_css_formatter/tests/specs/css/atrule/container.css.snap
  crates/biome_css_formatter/tests/specs/css/functions.css.snap
  crates/biome_css_formatter/tests/specs/css/variables.css.snap
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/parse_error.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_keyframes.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_container.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_keyframe.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/declaration_list.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/function/calc.css
  crates/biome_css_parser/tests/css_test_suite/ok/function/calc.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/function/linear-gradient.css
  crates/biome_css_parser/tests/css_test_suite/ok/function/linear-gradient.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/function/unknow.css
  crates/biome_css_parser/tests/css_test_suite/ok/function/unknow.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/function/url.css
  crates/biome_css_parser/tests/css_test_suite/ok/function/url.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/function/var.css
  crates/biome_css_parser/tests/css_test_suite/ok/function/var.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-CSS

#1343 CSS Parser: parse scope at rule #1334
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/at_rule.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/css/any/scope_range.rs
  crates/biome_css_formatter/src/css/auxiliary/mod.rs
  crates/biome_css_formatter/src/css/auxiliary/scope_edge.rs
  crates/biome_css_formatter/src/css/auxiliary/scope_range_end.rs
  crates/biome_css_formatter/src/css/auxiliary/scope_range_interval.rs
  crates/biome_css_formatter/src/css/auxiliary/scope_range_start.rs
  crates/biome_css_formatter/src/css/bogus/bogus_scope_range.rs
  crates/biome_css_formatter/src/css/bogus/mod.rs
  crates/biome_css_formatter/src/css/statements/mod.rs
  crates/biome_css_formatter/src/css/statements/scope_at_rule.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/parse_error.rs
  crates/biome_css_parser/src/syntax/at_rule/scope.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/selector/mod.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_scope_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_scope_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_scope.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_scope.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_css_syntax/src/lib.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS

#1344 fix(linter/rules): change wrong `lint/rules` to `linter/rules` in the url
  crates/biome_diagnostics_categories/src/categories.rs
  website/src/content/blog/biome-wins-prettier-challenge.md
  website/src/content/docs/linter/rules/no-default-export.md
  website/src/content/docs/linter/rules/no-implicit-any-let.md
  website/src/content/docs/linter/rules/use-shorthand-function-type.md
  website/src/content/docs/linter/rules/use-valid-aria-role.md
Labels: A-Website, A-Diagnostic

#1332 feat(css_parser): CSS Parser: parse supports #1330
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/at_rule.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/css/any/supports_and_combinable_condition.rs
  crates/biome_css_formatter/src/css/any/supports_condition.rs
  crates/biome_css_formatter/src/css/any/supports_in_parens.rs
  crates/biome_css_formatter/src/css/any/supports_or_combinable_condition.rs
  crates/biome_css_formatter/src/css/auxiliary/mod.rs
  crates/biome_css_formatter/src/css/auxiliary/supports_and_condition.rs
  crates/biome_css_formatter/src/css/auxiliary/supports_condition_in_parens.rs
  crates/biome_css_formatter/src/css/auxiliary/supports_feature_declaration.rs
  crates/biome_css_formatter/src/css/auxiliary/supports_not_condition.rs
  crates/biome_css_formatter/src/css/auxiliary/supports_or_condition.rs
  crates/biome_css_formatter/src/css/selectors/mod.rs
  crates/biome_css_formatter/src/css/selectors/supports_feature_selector.rs
  crates/biome_css_formatter/src/css/statements/mod.rs
  crates/biome_css_formatter/src/css/statements/supports_at_rule.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/container.rs
  crates/biome_css_parser/src/syntax/at_rule/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/supports.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/selector/mod.rs
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_container_complex.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_container_complex.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_media_complex.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_media_complex.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_supports.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_supports.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_supports_complex.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_supports_complex.css.snap
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_js_unicode_table/src/tables.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-CSS

#1346 feat(css_formatter): format scope and layer at-rules
  crates/biome_css_formatter/src/css/auxiliary/layer_declaration.rs
  crates/biome_css_formatter/src/css/auxiliary/layer_reference.rs
  crates/biome_css_formatter/src/css/auxiliary/scope_edge.rs
  crates/biome_css_formatter/src/css/auxiliary/scope_range_end.rs
  crates/biome_css_formatter/src/css/auxiliary/scope_range_interval.rs
  crates/biome_css_formatter/src/css/auxiliary/scope_range_start.rs
  crates/biome_css_formatter/src/css/lists/layer_name_list.rs
  crates/biome_css_formatter/src/css/lists/layer_reference_list.rs
  crates/biome_css_formatter/src/css/statements/layer_at_rule.rs
  crates/biome_css_formatter/src/css/statements/scope_at_rule.rs
  crates/biome_css_formatter/tests/quick_test.rs
  crates/biome_css_formatter/tests/specs/css/atrule/layer.css
  crates/biome_css_formatter/tests/specs/css/atrule/layer.css.snap
  crates/biome_css_formatter/tests/specs/css/atrule/scope.css
  crates/biome_css_formatter/tests/specs/css/atrule/scope.css.snap
Labels: A-Formatter, L-CSS

#1348 feat(css_formatter): formatting support for supports at-rules
  crates/biome_css_formatter/src/css/auxiliary/supports_and_condition.rs
  crates/biome_css_formatter/src/css/auxiliary/supports_condition_in_parens.rs
  crates/biome_css_formatter/src/css/auxiliary/supports_feature_declaration.rs
  crates/biome_css_formatter/src/css/auxiliary/supports_not_condition.rs
  crates/biome_css_formatter/src/css/auxiliary/supports_or_condition.rs
  crates/biome_css_formatter/src/css/selectors/supports_feature_selector.rs
  crates/biome_css_formatter/src/css/statements/supports_at_rule.rs
  crates/biome_css_formatter/tests/specs/css/atrule/supports.css
  crates/biome_css_formatter/tests/specs/css/atrule/supports.css.snap
  crates/biome_css_formatter/tests/specs/css/atrule/supports_complex.css
  crates/biome_css_formatter/tests/specs/css/atrule/supports_complex.css.snap
Labels: A-Formatter, L-CSS

#1347 feat(css_formatter): format functions and binary expressions
  crates/biome_css_formatter/src/css/auxiliary/binary_expression.rs
  crates/biome_css_formatter/src/css/auxiliary/color.rs
  crates/biome_css_formatter/src/css/auxiliary/identifier.rs
  crates/biome_css_formatter/src/css/auxiliary/list_of_component_values_expression.rs
  crates/biome_css_formatter/src/css/auxiliary/parameter.rs
  crates/biome_css_formatter/src/css/auxiliary/parenthesized_expression.rs
  crates/biome_css_formatter/src/css/auxiliary/url_function.rs
  crates/biome_css_formatter/src/css/auxiliary/url_value_raw.rs
  crates/biome_css_formatter/src/lib.rs
  crates/biome_css_formatter/src/utils/mod.rs
  crates/biome_css_formatter/src/utils/string_utils.rs
  crates/biome_css_formatter/tests/quick_test.rs
  crates/biome_css_formatter/tests/specs/css/atrule/container.css.snap
  crates/biome_css_formatter/tests/specs/css/atrule/scope.css.snap
  crates/biome_css_formatter/tests/specs/css/atrule/supports.css.snap
  crates/biome_css_formatter/tests/specs/css/color/functional_colors.css
  crates/biome_css_formatter/tests/specs/css/color/functional_colors.css.snap
  crates/biome_css_formatter/tests/specs/css/color/hex_colors.css
  crates/biome_css_formatter/tests/specs/css/color/hex_colors.css.snap
  crates/biome_css_formatter/tests/specs/css/functions.css.snap
  crates/biome_css_formatter/tests/specs/css/url.css
  crates/biome_css_formatter/tests/specs/css/url.css.snap
  crates/biome_css_formatter/tests/specs/css/variables.css.snap
  justfile
Labels: A-Formatter, L-CSS

#1155 feat(cli): Add explain command that can render documentation for rules
  CHANGELOG.md
  Cargo.lock
  crates/biome_analyze/src/rule.rs
  crates/biome_cli/Cargo.toml
  crates/biome_cli/src/commands/explain.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/commands/explain.rs
  crates/biome_cli/tests/commands/mod.rs
  crates/biome_cli/tests/snapshots/main_commands_explain/explain_help.snap
  crates/biome_cli/tests/snapshots/main_commands_explain/explain_not_found.snap
  crates/biome_cli/tests/snapshots/main_commands_explain/explain_valid_rule.snap
  crates/biome_service/src/documentation/mod.rs
  crates/biome_service/src/lib.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Project, A-Linter, A-Website, A-Changelog

#1295 feat(rule): noThenProperty
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/no_then_property.rs
  crates/biome_js_analyze/tests/specs/nursery/noThenProperty/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noThenProperty/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noThenProperty/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noThenProperty/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/tests/invalid/hooks_incorrect_options.json.snap
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-then-property.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#1345 refactor(cli): diagnostics printing
  crates/biome_cli/src/execute/process_file/format.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/main.rs
  crates/biome_cli/tests/snapshots/main_reporter_json/reports_formatter_check_mode.snap
  crates/biome_cli/tests/snapshots/main_reporter_json/reports_formatter_write.snap
Labels: A-CLI

#1350 feat(js_parser, js_formatter): allow empty type parameters in type alias and interface declaration
  crates/biome_js_formatter/src/ts/bindings/type_parameters.rs
  crates/biome_js_formatter/src/ts/declarations/interface_declaration.rs
  crates/biome_js_formatter/src/utils/assignment_like.rs
  crates/biome_js_formatter/src/utils/format_class.rs
  crates/biome_js_formatter/tests/specs/prettier/typescript/error-recovery/generic.ts.snap
  crates/biome_js_formatter/tests/specs/ts/declaration/interface.ts
  crates/biome_js_formatter/tests/specs/ts/declaration/interface.ts.snap
  crates/biome_js_formatter/tests/specs/ts/expression/type_expression.ts
  crates/biome_js_formatter/tests/specs/ts/expression/type_expression.ts.snap
  crates/biome_js_parser/src/syntax/class.rs
  crates/biome_js_parser/src/syntax/object.rs
  crates/biome_js_parser/src/syntax/typescript/statement.rs
  crates/biome_js_parser/src/syntax/typescript/types.rs
  crates/biome_js_parser/test_data/inline/err/ts_class_type_parameters_errors.rast
  crates/biome_js_parser/test_data/inline/err/ts_class_type_parameters_errors.ts
  crates/biome_js_parser/test_data/inline/err/ts_construct_signature_member_err.rast
  crates/biome_js_parser/test_data/inline/err/ts_construct_signature_member_err.ts
  crates/biome_js_parser/test_data/inline/err/ts_constructor_type_err.rast
  crates/biome_js_parser/test_data/inline/err/ts_constructor_type_err.ts
  crates/biome_js_parser/test_data/inline/err/ts_constructor_type_parameters.rast
  crates/biome_js_parser/test_data/inline/err/ts_constructor_type_parameters.ts
  crates/biome_js_parser/test_data/inline/err/ts_function_type_err.rast
  crates/biome_js_parser/test_data/inline/err/ts_function_type_err.ts
  crates/biome_js_parser/test_data/inline/err/ts_getter_setter_type_parameters_errors.rast
  crates/biome_js_parser/test_data/inline/err/ts_getter_setter_type_parameters_errors.ts
  crates/biome_js_parser/test_data/inline/err/ts_method_object_member_body_error.rast
  crates/biome_js_parser/test_data/inline/err/ts_method_object_member_body_error.ts
  crates/biome_js_parser/test_data/inline/err/ts_object_getter_type_parameters.rast
  crates/biome_js_parser/test_data/inline/err/ts_object_getter_type_parameters.ts
  crates/biome_js_parser/test_data/inline/err/ts_object_setter_type_parameters.rast
  crates/biome_js_parser/test_data/inline/err/ts_object_setter_type_parameters.ts
  crates/biome_js_parser/test_data/inline/ok/ts_type_parameters.rast
  crates/biome_js_parser/test_data/inline/ok/ts_type_parameters.ts
  crates/biome_js_unicode_table/src/tables.rs
Labels: A-Parser, A-Formatter, L-JavaScript

#1352 fix(js_formatter): empty statement with comment inside arrow function body
  CHANGELOG.md
  crates/biome_js_formatter/src/js/expressions/call_arguments.rs
  crates/biome_js_formatter/tests/specs/prettier/typescript/typeparams/print-width-120/issue-7542.tsx
  crates/biome_js_formatter/tests/specs/prettier/typescript/typeparams/print-width-120/issue-7542.tsx.snap
  crates/biome_js_formatter/tests/specs/ts/call_expression.ts
  crates/biome_js_formatter/tests/specs/ts/call_expression.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Formatter, A-Website, L-JavaScript, A-Changelog

#1358 feat(project): show message when a file is protected
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/process_file.rs
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/cases/protected_files.rs
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_from_cli.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_from_cli_verbose.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_from_stdin_format.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_from_stdin_lint.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_from_stdin_verbose_format.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_from_stdin_verbose_lint.snap
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/snapshots/source_file_not_supported.snap
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
  package.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  website/src/content/docs/guides/how-biome-works.mdx
Labels: A-CLI, A-Project, A-Website

#1279 feat(website): Hero community section
  website/src/components/Community.astro
  website/src/content/docs/index.mdx
  website/src/content/docs/ja/index.mdx
  website/src/content/docs/pt-br/index.mdx
  website/src/content/docs/zh-cn/index.mdx
  website/src/styles/_community.scss
  website/src/styles/_installation.scss
  website/src/styles/_overrides.scss
  website/src/styles/_performance.scss
  website/src/styles/_progress.scss
  website/src/styles/_sponsors.scss
Labels: A-CLI, A-Website, L-JavaScript, L-JSON

#1357 fix(js_formatter): ensure flat conditional content is always written in `RemoveSoftLinesBuffer`
  CHANGELOG.md
  crates/biome_formatter/src/buffer.rs
  crates/biome_js_formatter/tests/specs/ts/parameters/issue-1356/options.json
  crates/biome_js_formatter/tests/specs/ts/parameters/issue-1356/parameter_type_annotation_semicolon.ts
  crates/biome_js_formatter/tests/specs/ts/parameters/issue-1356/parameter_type_annotation_semicolon.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Formatter, A-Website, L-JavaScript, A-Changelog

#1354 feat(css_formatter): automatically downcase all keywords and regular identifiers
  crates/biome_css_formatter/src/css/auxiliary/attribute_matcher_value.rs
  crates/biome_css_formatter/src/css/auxiliary/identifier.rs
  crates/biome_css_formatter/src/lib.rs
  crates/biome_css_formatter/tests/specs/css/atrule/container.css.snap
  crates/biome_css_formatter/tests/specs/css/atrule/layer.css.snap
  crates/biome_css_formatter/tests/specs/css/atrule/page.css.snap
  crates/biome_css_formatter/tests/specs/css/atrule/scope.css.snap
  crates/biome_css_formatter/tests/specs/css/atrule/supports.css.snap
  crates/biome_css_formatter/tests/specs/css/casing.css
  crates/biome_css_formatter/tests/specs/css/casing.css.snap
  crates/biome_json_formatter/src/lib.rs
Labels: A-Formatter, L-CSS, L-JSON

#1363 feat(css_formatter): support meaningful boundaries for range formatting
  crates/biome_css_formatter/src/lib.rs
  crates/biome_css_formatter/tests/specs/css/range/between_rules.css
  crates/biome_css_formatter/tests/specs/css/range/between_rules.css.snap
  crates/biome_css_formatter/tests/specs/css/range/keyframes.css
  crates/biome_css_formatter/tests/specs/css/range/keyframes.css.snap
  crates/biome_css_formatter/tests/specs/css/range/mid_value.css
  crates/biome_css_formatter/tests/specs/css/range/mid_value.css.snap
  crates/biome_css_formatter/tests/specs/css/range/selector_list.css
  crates/biome_css_formatter/tests/specs/css/range/selector_list.css.snap
  crates/biome_css_formatter/tests/specs/css/range/single_declaration.css
  crates/biome_css_formatter/tests/specs/css/range/single_declaration.css.snap
  crates/biome_css_formatter/tests/specs/css/range/single_rule.css
  crates/biome_css_formatter/tests/specs/css/range/single_rule.css.snap
  crates/biome_css_formatter/tests/specs/css/range/single_value.css
  crates/biome_css_formatter/tests/specs/css/range/single_value.css.snap
Labels: A-Formatter, L-CSS

#1364 chore: upgrade to rust 1.75.0
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_css_parser/src/prelude.rs
  crates/biome_js_formatter/src/parentheses.rs
  crates/biome_js_parser/src/tests.rs
  crates/biome_js_semantic/src/semantic_model.rs
  crates/biome_js_semantic/src/semantic_model/model.rs
  crates/biome_js_syntax/src/lib.rs
  crates/biome_js_syntax/src/stmt_ext.rs
  rust-toolchain.toml
  xtask/coverage/src/main.rs
  xtask/coverage/src/runner.rs
Labels: A-CLI, A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-CSS

#1366 ci: benchmark analyzer with codspeed
  .github/workflows/bench_analyzer.yml
  xtask/bench/Cargo.toml
  xtask/bench/benches/analyzer-libs-js.txt
  xtask/bench/benches/analyzer-libs-ts.txt
  xtask/bench/benches/analyzer.rs
  xtask/bench/src/lib.rs
Labels: A-Tooling

#1361 feat(css_parser): parse CSS-wide keywords and disallow their usage as needed
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/color_profile.rs
  crates/biome_css_parser/src/syntax/at_rule/container.rs
  crates/biome_css_parser/src/syntax/at_rule/counter_style.rs
  crates/biome_css_parser/src/syntax/at_rule/font_palette_values.rs
  crates/biome_css_parser/src/syntax/at_rule/keyframes.rs
  crates/biome_css_parser/src/syntax/at_rule/layer.rs
  crates/biome_css_parser/src/syntax/at_rule/page.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/parse_error.rs
  crates/biome_css_parser/src/syntax/selector/mod.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_container_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_container_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_counter_style_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_counter_style_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_font_palette_values_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_font_palette_values_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_keyframes.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_keyframes.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_container.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_container.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_layer.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_layer.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_page.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_page.css.snap
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/lib.rs
  xtask/codegen/src/css_kinds_src.rs
  xtask/codegen/src/generate_syntax_kinds.rs
Labels: A-Parser, A-Tooling, L-CSS

#1371 Parse recovery trait
  crates/biome_css_parser/src/syntax/at_rule/charset.rs
  crates/biome_css_parser/src/syntax/at_rule/color_profile.rs
  crates/biome_css_parser/src/syntax/at_rule/counter_style.rs
  crates/biome_css_parser/src/syntax/at_rule/font_palette_values.rs
  crates/biome_css_parser/src/syntax/at_rule/keyframes.rs
  crates/biome_css_parser/src/syntax/at_rule/layer.rs
  crates/biome_css_parser/src/syntax/at_rule/media.rs
  crates/biome_css_parser/src/syntax/at_rule/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/page.rs
  crates/biome_css_parser/src/syntax/at_rule/scope.rs
  crates/biome_css_parser/src/syntax/blocks.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/selector/attribute.rs
  crates/biome_css_parser/src/syntax/selector/mod.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_compound_selector_list.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_nth.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_relative_selector_list.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_selector_list.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_value_list.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_keyframes.css.snap
  crates/biome_js_parser/src/lib.rs
  crates/biome_js_parser/src/parser.rs
  crates/biome_js_parser/src/syntax/class.rs
  crates/biome_js_parser/src/syntax/expr.rs
  crates/biome_js_parser/src/syntax/function.rs
  crates/biome_js_parser/src/syntax/jsx/mod.rs
  crates/biome_js_parser/src/syntax/module.rs
  crates/biome_js_parser/src/syntax/object.rs
  crates/biome_js_parser/src/syntax/pattern.rs
  crates/biome_js_parser/src/syntax/stmt.rs
  crates/biome_js_parser/src/syntax/typescript/statement.rs
  crates/biome_js_parser/src/syntax/typescript/types.rs
  crates/biome_json_parser/src/syntax.rs
  crates/biome_parser/src/lib.rs
  crates/biome_parser/src/parse_recovery.rs
  crates/biome_parser/src/parsed_syntax.rs
Labels: A-Parser, L-JavaScript, L-CSS, L-JSON

#1376 docs(analyzer): update the link of snaphot testing
  crates/biome_analyze/CONTRIBUTING.md
Labels: A-Linter

#1118 feat: website rebrand
  website/astro.config.ts
  website/public/img/android-chrome-192x192.png
  website/public/img/android-chrome-512x512.png
  website/public/img/apple-touch-icon.png
  website/public/img/circle-indent-logo.svg
  website/public/img/favicon-16x16.png
  website/public/img/favicon-32x32.png
  website/public/img/favicon.svg
  website/public/img/logo-avatar.png
  website/public/img/og.png
  website/public/img/site.webmanifest
  website/public/img/social-logo.png
  website/src/assets/android-chrome-192x192.png
  website/src/assets/android-chrome-512x512.png
  website/src/assets/apple-touch-icon.png
  website/src/assets/biome-logo-slogan.svg
  website/src/assets/circle-indent-logo.svg
  website/src/assets/favicon-16x16.png
  website/src/assets/favicon-32x32.png
  website/src/assets/old-social-logo.png
  website/src/assets/site.webmanifest
  website/src/assets/svg/arrow-right.svg
  website/src/assets/svg/biome-logo.svg
  website/src/assets/svg/logo-dark-transparent.svg
  website/src/assets/svg/logo-light-transparent.svg
  website/src/assets/svg/logomark.svg
  website/src/assets/svg/slogan-dark-transparent.svg
  website/src/assets/svg/slogan-light-transparent.svg
  website/src/assets/svg/vscode-ext.png
  website/src/components/Community.astro
  website/src/components/formatter/input.md
  website/src/components/formatter/output.md
  website/src/components/starlight/Hero.astro
  website/src/content/authors/core.json
  website/src/content/authors/team.json
  website/src/content/blog/annoucing-biome.mdx
  website/src/content/blog/biome-v1.mdx
  website/src/content/docs/index.mdx
  website/src/content/docs/ja/index.mdx
  website/src/content/docs/pt-br/index.mdx
  website/src/content/docs/zh-cn/index.mdx
  website/src/frontend-scripts/hover.ts
  website/src/playground/components/Progress.tsx
  website/src/styles/_community.scss
  website/src/styles/_installation.scss
  website/src/styles/_overrides.scss
  website/src/styles/_performance.scss
  website/src/styles/_progress.scss
  website/src/styles/_sponsors.scss
  website/src/styles/playground/index.scss
Labels: A-Website

#1365 chore(lint/useShorthandFunctionType): ignore if node has inner comments
  crates/biome_js_analyze/src/analyzers/nursery/use_shorthand_function_type.rs
  crates/biome_js_analyze/tests/specs/nursery/useShorthandFunctionType/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useShorthandFunctionType/valid.ts.snap
Labels: A-Linter, L-JavaScript
