Repository biomejs/biome, pull requests merged in 2024-06, with the labels that each got.

#3031 fix(lint/useJsxKeyInIterable): fix a false positive when key is in the return statement, but not any variable declarations
  crates/biome_js_analyze/src/lint/correctness/use_jsx_key_in_iterable.rs
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/valid.jsx
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/valid.jsx.snap
Labels: A-Linter, L-JavaScript

#3035 fix(cli): `biome init` won't generate config file if `biome.jsonc` already exists
  CHANGELOG.md
  crates/biome_cli/tests/commands/init.rs
  crates/biome_cli/tests/snapshots/main_commands_init/does_not_create_config_file_if_json_exists.snap
  crates/biome_cli/tests/snapshots/main_commands_init/does_not_create_config_file_if_jsonc_exists.snap
  crates/biome_service/src/configuration.rs
Labels: A-CLI, A-Project, A-Changelog

#2959 refactor(noEvolvingAny): rename into noEvolvingTypes
  CHANGELOG.md
  crates/biome_cli/tests/snapshots/main_cases_reporter_github/reports_diagnostics_github_check_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_github/reports_diagnostics_github_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_github/reports_diagnostics_github_lint_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_junit/reports_diagnostics_junit_check_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_junit/reports_diagnostics_junit_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_junit/reports_diagnostics_junit_lint_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_check_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_lint_command.snap
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_evolving_types.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noEvolvingAny/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noEvolvingTypes/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noEvolvingTypes/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noEvolvingTypes/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noEvolvingTypes/valid.ts.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#3052 refactor(noUnusedTemplateLiteral): remove rule sources
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_js_analyze/src/lint/style/no_unused_template_literal.rs
Labels: A-CLI, A-Linter, L-JavaScript

#3053 refactor(useThrowOnlyError): fix sources
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_js_analyze/src/lint/nursery/use_throw_only_error.rs
Labels: A-CLI, A-Linter, L-JavaScript

#3059 fix(docs): incorrect snippets
  crates/biome_css_analyze/src/lint/nursery/no_empty_block.rs
  crates/biome_js_analyze/src/lint/nursery/use_adjacent_overload_signatures.rs
  crates/biome_js_analyze/src/lint/nursery/use_date_now.rs
  crates/biome_js_analyze/src/lint/nursery/use_import_extensions.rs
  crates/biome_js_analyze/src/lint/nursery/use_semantic_elements.rs
Labels: A-Linter, L-JavaScript, L-CSS

#3051 feat(grit): parse Grit literal snippets
  Cargo.lock
  crates/biome_diagnostics/src/display.rs
  crates/biome_grit_patterns/Cargo.toml
  crates/biome_grit_patterns/src/errors.rs
  crates/biome_grit_patterns/src/grit_analysis_ext.rs
  crates/biome_grit_patterns/src/grit_context.rs
  crates/biome_grit_patterns/src/grit_js_parser.rs
  crates/biome_grit_patterns/src/grit_node.rs
  crates/biome_grit_patterns/src/grit_node_patterns.rs
  crates/biome_grit_patterns/src/grit_query.rs
  crates/biome_grit_patterns/src/grit_target_language.rs
  crates/biome_grit_patterns/src/grit_target_node.rs
  crates/biome_grit_patterns/src/grit_tree.rs
  crates/biome_grit_patterns/src/lib.rs
  crates/biome_grit_patterns/src/pattern_compiler/literal_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/snippet_compiler.rs
  crates/biome_grit_patterns/src/source_location_ext.rs
  crates/biome_grit_patterns/tests/quick_test.rs
Labels: A-Diagnostic

#3062 chore: delete stale snapshots
  crates/biome_cli/tests/snapshots/main_commands_migrate/prettier_migrate.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/prettier_migrate_end_of_line.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/prettier_migrate_jsonc.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/prettier_migrate_no_file.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/prettier_migrate_with_ignore.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/prettier_migrate_write.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/prettier_migrate_write_biome_jsonc.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/prettier_migrate_write_with_ignore_file.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/prettier_migrate_yml_file.snap
  crates/biome_migrate/src/lib.rs
Labels: A-CLI, L-JavaScript

#3065 fix(noUnusedFunctionParameters): fix typo in documentation code example
  crates/biome_js_analyze/src/lint/nursery/no_unused_function_parameters.rs
Labels: A-Linter, L-JavaScript

#3044 feat(graphql_parser): parse enum extension
  crates/biome_graphql_factory/src/generated/node_factory.rs
  crates/biome_graphql_factory/src/generated/syntax_factory.rs
  crates/biome_graphql_parser/src/parser/definitions/enum.rs
  crates/biome_graphql_parser/src/parser/definitions/mod.rs
  crates/biome_graphql_parser/src/parser/parse_error.rs
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/enum_extension.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/enum_extension.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/interface_extension.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/object_extension.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/union_extension.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/enum_extension.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/enum_extension.graphql.snap
  crates/biome_graphql_syntax/src/generated/macros.rs
  crates/biome_graphql_syntax/src/generated/nodes.rs
  crates/biome_graphql_syntax/src/generated/nodes_mut.rs
  crates/biome_graphql_syntax/src/lib.rs
  xtask/codegen/graphql.ungram
Labels: A-Tooling

#3070 docs(useNamingConvention): fix conventions example
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
Labels: A-Linter, L-JavaScript

#3083 refactor: use --write instead of --apply in CLI advices
  crates/biome_cli/src/reporter/summary.rs
  crates/biome_diagnostics/examples/lint.rs
Labels: A-CLI, A-Diagnostic

#3074 fix(cli): prevent overwriting paths when using `--staged` or `--changed` options
  CHANGELOG.md
  crates/biome_cli/examples/text_reporter.rs
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/ci.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_check/should_error_if_unchanged_files_only_with_changed_flag.snap
  crates/biome_cli/tests/snapshots/main_commands_check/should_error_if_unstaged_files_only_with_staged_flag.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/should_error_if_unchanged_files_only_with_changed_flag.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_error_if_unchanged_files_only_with_changed_flag.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_error_if_unstaged_files_only_with_staged_flag.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_error_if_unchanged_files_only_with_changed_flag.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_error_if_unstaged_files_only_with_staged_flag.snap
Labels: A-CLI, A-Changelog

#3088 chore(ci): improve repository dispatch workflow
  .github/workflows/repository_dispatch.yml
Labels: A-Changelog

#3089 chore(ci): bump `actions/cache` version
  .github/workflows/repository_dispatch.yml
Labels: A-Changelog

#3090 fix(no-empty-block): accept comments inside blocks
  CHANGELOG.md
  crates/biome_css_analyze/src/lint/nursery/no_empty_block.rs
  crates/biome_css_analyze/tests/specs/nursery/noEmptyBlock/valid.css.snap
  crates/biome_css_syntax/src/stmt_ext.rs
Labels: A-Parser, L-CSS, A-Changelog

#3082 fix(css_formatter): fix CSS nesting whitespace after & trimmed #3061
  CHANGELOG.md
  crates/biome_css_formatter/tests/quick_test.rs
  crates/biome_css_formatter/tests/specs/css/nesting/nesting.css
  crates/biome_css_formatter/tests/specs/css/nesting/nesting.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/at-root.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/custom-media.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/custom-selector.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/debug.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/each.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/extend.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/for.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/function.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/include.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/media.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/mixin.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/return.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/supports.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/while.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/attribute/custom-selector.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/comments/selectors.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/front-matter/custom-parser.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/postcss-plugins/postcss-nesting.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/selector-list/selectors.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/yaml/comment_after.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/yaml/dirty.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/yaml/ignore.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/yaml/malformed-2.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/yaml/malformed.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/yaml/with_comments.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/yaml/without-newline-after.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/yaml/yaml.css.snap
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/selector/mod.rs
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_class/pseudo_class_function_compound_selector.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_class/pseudo_class_function_compound_selector_list.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_class/pseudo_class_function_relative_selector_list.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_class/pseudo_class_function_selector/enabled/pseudo_class_function_selector_enabled.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_class/pseudo_class_function_selector_list.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/nesting/nesting.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_rowan/src/syntax/token.rs
Labels: A-Core, A-Parser, A-Formatter, L-CSS, A-Changelog

#3096 fix(config): default value for indent_width
  CHANGELOG.md
  crates/biome_cli/src/commands/rage.rs
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/tests/cases/config_extends.rs
  crates/biome_cli/tests/snap_test.rs
  crates/biome_cli/tests/snapshots/main_commands_rage/with_formatter_configuration.snap
  crates/biome_configuration/src/css.rs
  crates/biome_configuration/src/editorconfig.rs
  crates/biome_configuration/src/formatter.rs
  crates/biome_configuration/src/javascript/formatter.rs
  crates/biome_configuration/src/json.rs
  crates/biome_configuration/src/linter/mod.rs
  crates/biome_configuration/src/overrides.rs
  crates/biome_css_formatter/src/context.rs
  crates/biome_css_formatter/tests/prettier_tests.rs
  crates/biome_css_formatter/tests/specs/css/quote_style/normalize_quotes.css.snap
  crates/biome_formatter/src/lib.rs
  crates/biome_formatter/src/printer/mod.rs
  crates/biome_formatter/src/printer/printer_options/mod.rs
  crates/biome_formatter_test/src/spec.rs
  crates/biome_formatter_test/src/test_prettier_snapshot.rs
  crates/biome_js_formatter/src/context.rs
  crates/biome_js_formatter/src/lib.rs
  crates/biome_js_formatter/src/utils/assignment_like.rs
  crates/biome_js_formatter/tests/prettier_tests.rs
  crates/biome_json_formatter/src/context.rs
  crates/biome_json_formatter/tests/language.rs
  crates/biome_json_formatter/tests/prettier_tests.rs
  crates/biome_service/src/settings.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Formatter, L-JavaScript, L-CSS, L-JSON, A-Changelog

#3095 fix: `use-adjacent-overload-signature` diagnostic
  crates/biome_js_analyze/tests/specs/nursery/useAdjacentOverloadSignatures/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/useAdjacentOverloadSignatures/invalid.ts.snap
Labels: A-Linter, L-JavaScript

#3102 chore(ci): change semver `pr` to `rev`
  .github/workflows/repository_dispatch.yml
Labels: A-Changelog

#3109 chore: fix JSON schema for biome config file
  packages/@biomejs/biome/configuration_schema.json
  xtask/codegen/src/generate_schema.rs
Labels: A-Tooling

#3111 fix(useLiteralKeys): don't report quoted member names
  CHANGELOG.md
  crates/biome_formatter/src/builders.rs
  crates/biome_js_analyze/src/lint/complexity/use_literal_keys.rs
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/invalid.js
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/invalid.js.snap
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/invalid.ts
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/valid.js
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/valid.js.snap
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/valid.ts
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/valid.ts.snap
Labels: A-Linter, A-Formatter, L-JavaScript, A-Changelog

#3116 fix(noEmptyInterface): ignore empty interfaces in ambient modules
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/suspicious/no_empty_interface.rs
  crates/biome_js_analyze/tests/specs/suspicious/noEmptyInterface/valid.d.ts
  crates/biome_js_analyze/tests/specs/suspicious/noEmptyInterface/valid.d.ts.snap
  crates/biome_js_analyze/tests/specs/suspicious/noEmptyInterface/valid.ts
  crates/biome_js_analyze/tests/specs/suspicious/noEmptyInterface/valid.ts.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3128 refactor(lint): add SonarJs and UnusedImports rule sources
  crates/biome_analyze/src/rule.rs
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_js_analyze/src/lint/correctness/no_unused_imports.rs
  crates/biome_js_analyze/src/lint/correctness/no_unused_variables.rs
  crates/biome_js_analyze/src/lint/style/use_while.rs
Labels: A-CLI, A-Linter, L-JavaScript

#3130 fix(css_formatter): fix CSS formatter converts variable declarations and function calls to lowercase #3068
  CHANGELOG.md
  crates/biome_css_formatter/src/comments.rs
  crates/biome_css_formatter/src/css/auxiliary/function.rs
  crates/biome_css_formatter/src/css/lists/layer_name_list.rs
  crates/biome_css_formatter/src/css/value/identifier.rs
  crates/biome_css_formatter/src/separated.rs
  crates/biome_css_formatter/tests/specs/css/atrule/import.css.snap
  crates/biome_css_formatter/tests/specs/css/atrule/layer.css
  crates/biome_css_formatter/tests/specs/css/atrule/layer.css.snap
  crates/biome_css_formatter/tests/specs/css/casing.css.snap
  crates/biome_css_formatter/tests/specs/css/properties/all.css
  crates/biome_css_formatter/tests/specs/css/properties/all.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/case/case.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/color/color-adjuster.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/loose/loose.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/parens/parens.css.snap
  crates/biome_css_parser/src/syntax/property/mod.rs
  crates/biome_css_parser/tests/css_test_suite/error/property/property_generic_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_container.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_container_complex.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_supports.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/declaration_list.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/function/calc.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/property/property_generic.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/values/url_value.css.snap
Labels: A-Parser, A-Formatter, L-CSS, A-Changelog

#3112 feat(graphql_parser): parse input object type extension
  crates/biome_graphql_factory/src/generated/node_factory.rs
  crates/biome_graphql_factory/src/generated/syntax_factory.rs
  crates/biome_graphql_parser/src/parser/definitions/input_object.rs
  crates/biome_graphql_parser/src/parser/definitions/mod.rs
  crates/biome_graphql_parser/src/parser/parse_error.rs
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/input_object_extension.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/input_object_extension.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/schema_extension.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/input_object_extension.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/input_object_extension.graphql.snap
  crates/biome_graphql_syntax/src/generated/kind.rs
  crates/biome_graphql_syntax/src/generated/macros.rs
  crates/biome_graphql_syntax/src/generated/nodes.rs
  crates/biome_graphql_syntax/src/generated/nodes_mut.rs
  crates/biome_graphql_syntax/src/lib.rs
  xtask/codegen/graphql.ungram
  xtask/codegen/src/graphql_kind_src.rs
Labels: A-Tooling

#3117 fix(css_parser): parse nested block
  CHANGELOG.md
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/conditional_block.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_formatter/tests/specs/css/nesting/conditional_at_rule.css
  crates/biome_css_formatter/tests/specs/css/nesting/conditional_at_rule.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/media.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/postcss-plugins/postcss-nested.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/postcss-plugins/postcss-nesting.css.snap
  crates/biome_css_parser/src/syntax/at_rule/container.rs
  crates/biome_css_parser/src/syntax/at_rule/layer.rs
  crates/biome_css_parser/src/syntax/at_rule/media.rs
  crates/biome_css_parser/src/syntax/at_rule/scope.rs
  crates/biome_css_parser/src/syntax/at_rule/supports.rs
  crates/biome_css_parser/src/syntax/block/conditional_block.rs
  crates/biome_css_parser/src/syntax/block/mod.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_container_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/conditional_at_rule_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/conditional_at_rule_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_document.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_layer.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_page_complex.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_starting_style.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_supports.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/nesting/conditional_at_rule.css
  crates/biome_css_parser/tests/css_test_suite/ok/nesting/conditional_at_rule.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/nesting/nesting.css
  crates/biome_css_parser/tests/css_test_suite/ok/nesting/nesting.css.snap
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS, A-Changelog

#3034 feat(biome_css_analyzer): implement selector-pseudo-class-no-unknown
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/src/keywords.rs
  crates/biome_css_analyze/src/lib.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_unknown_pseudo_class_selector.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/src/utils.rs
  crates/biome_css_analyze/tests/specs/nursery/noUnknownPseudoClassSelector/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownPseudoClassSelector/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noUnknownPseudoClassSelector/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownPseudoClassSelector/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, L-CSS, A-Diagnostic

#3136 feat(css_parser): implement css unknown at rule parsing
  CHANGELOG.md
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/at_rule.rs
  crates/biome_css_formatter/src/css/any/conditional_block.rs
  crates/biome_css_formatter/src/css/bogus/mod.rs
  crates/biome_css_formatter/src/css/bogus/unknown_at_rule_component_list.rs
  crates/biome_css_formatter/src/css/statements/mod.rs
  crates/biome_css_formatter/src/css/statements/unknown_block_at_rule.rs
  crates/biome_css_formatter/src/css/statements/unknown_value_at_rule.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_formatter/tests/specs/css/atrule/unknown.css
  crates/biome_css_formatter/tests/specs/css/atrule/unknown.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/at-root.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/custom-media.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/custom-selector.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/debug.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/each.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/extend.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/for.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/function.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/if-else.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/include.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/mixin.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/return.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/viewport.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/while.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/attribute/custom-selector.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atword/atword.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/case/case.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/case/custom-selectors.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/comments/at-rules.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/modules/modules.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/numbers/numbers.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/postcss-plugins/postcss-mixins.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/postcss-plugins/postcss-nesting.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/quotes/quotes.css.snap
  crates/biome_css_parser/src/syntax/at_rule/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/unknown.rs
  crates/biome_css_parser/src/syntax/at_rule/value.rs
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_unknown.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_unknown.css.snap
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_css_syntax/src/lib.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS, A-Changelog

#3150 ci: add check for rules docs
  .github/workflows/pull_request.yml
  Cargo.lock
  Cargo.toml
  justfile
  xtask/rules_check/Cargo.toml
  xtask/rules_check/src/lib.rs
  xtask/rules_check/src/main.rs
Labels: A-Tooling

#3152 ci: add check for rules docs
  xtask/rules_check/src/lib.rs
Labels: A-Tooling

#3151 fix(noUnusedVariables): don't report params in contructor types
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/no_unused_variables.rs
  crates/biome_js_analyze/src/lint/nursery/no_unused_function_parameters.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validType.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validType.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noUnusedFunctionParameters/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noUnusedFunctionParameters/valid.ts.snap
  crates/biome_js_syntax/src/binding_ext.rs
Labels: A-Linter, A-Parser, L-JavaScript, A-Changelog

#2930 feat(lint): display correspinding element
  CHANGELOG.md
  crates/biome_aria/src/macros.rs
  crates/biome_aria/src/roles.rs
  crates/biome_js_analyze/src/lint/nursery/use_semantic_elements.rs
  crates/biome_js_analyze/tests/specs/nursery/useSemanticElements/invalid.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3072 fix: improve hyperlink support in vs code
  CHANGELOG.md
  crates/biome_diagnostics/src/display.rs
Labels: A-Diagnostic, A-Changelog

#2958 feat(biome_css_analyzer): noShorthandPropertyOverrides
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/src/keywords.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_shorthand_property_overrides.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/src/utils.rs
  crates/biome_css_analyze/tests/specs/nursery/noShorthandPropertyOverrides/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noShorthandPropertyOverrides/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noShorthandPropertyOverrides/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noShorthandPropertyOverrides/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, L-CSS, A-Diagnostic

#3153 fix(css_formatter): fix CSS formatting for css values
  CHANGELOG.md
  crates/biome_css_formatter/src/css/auxiliary/bracketed_value.rs
  crates/biome_css_formatter/src/css/properties/composes_property.rs
  crates/biome_css_formatter/src/css/properties/value_at_rule_generic_property.rs
  crates/biome_css_formatter/src/utils/component_value_list.rs
  crates/biome_css_formatter/tests/quick_test.rs
  crates/biome_css_formatter/tests/specs/css/properties/grid.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/grid/grid.css.snap
Labels: A-Formatter, L-CSS, A-Changelog

#3156 fix(noStringCaseMismatch): ignore escape sequences
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/no_string_case_mismatch.rs
  crates/biome_js_analyze/tests/specs/correctness/noStringCaseMismatch/invalid.js
  crates/biome_js_analyze/tests/specs/correctness/noStringCaseMismatch/invalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noStringCaseMismatch/invalid.jsonc
  crates/biome_js_analyze/tests/specs/correctness/noStringCaseMismatch/invalid.jsonc.snap
  crates/biome_js_analyze/tests/specs/correctness/noStringCaseMismatch/valid.js
  crates/biome_js_analyze/tests/specs/correctness/noStringCaseMismatch/valid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noStringCaseMismatch/valid.jsonc
  crates/biome_js_analyze/tests/specs/correctness/noStringCaseMismatch/valid.jsonc.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3158 fix(ci): rule check error messages
  CHANGELOG.md
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/src/lint/nursery/no_unmatchable_anb_selector.rs
  crates/biome_css_analyze/tests/specs/nursery/noUnmatchableAnbSelector/invalid.css.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  xtask/rules_check/src/lib.rs
Labels: A-Project, A-Tooling, L-CSS, A-Changelog

#3140 fix(useHookAtTopLevel): recognize hook property in member expression calls
  CHANGELOG.md
  crates/biome_js_analyze/src/react/hooks.rs
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/customHook.js
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/customHook.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3163 docs: add entry for noShorthandPropertyOverrides to CHANGELOG.md
  CHANGELOG.md
Labels: A-Changelog

#3165 chore(ci): improve rules_check task
  crates/biome_json_parser/src/parser.rs
  xtask/rules_check/src/lib.rs
Labels: A-Parser, A-Tooling, L-JSON

#3168 chore: change `js` code blocks containing JSX elements to `jsx`
  crates/biome_js_analyze/src/lint/a11y/no_aria_hidden_on_focusable.rs
  crates/biome_js_analyze/src/lint/a11y/no_svg_without_title.rs
  crates/biome_js_analyze/src/lint/a11y/use_valid_aria_role.rs
  crates/biome_js_analyze/src/lint/correctness/no_children_prop.rs
  crates/biome_js_analyze/src/lint/correctness/use_jsx_key_in_iterable.rs
  crates/biome_js_analyze/src/lint/nursery/no_react_specific_props.rs
  crates/biome_js_analyze/src/lint/nursery/use_focusable_interactive.rs
  crates/biome_js_analyze/src/lint/style/use_fragment_syntax.rs
  crates/biome_js_analyze/src/lint/style/use_self_closing_elements.rs
  crates/biome_js_analyze/src/lint/suspicious/no_array_index_key.rs
  crates/biome_js_analyze/src/lint/suspicious/no_comment_text.rs
  crates/biome_js_analyze/src/lint/suspicious/no_duplicate_jsx_props.rs
  crates/biome_js_analyze/src/lint/suspicious/no_suspicious_semicolon_in_jsx.rs
Labels: A-Linter, L-JavaScript

#3125 feat(biome_js_analyzer): `noSubstr`
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_substr.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noSubstr/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noSubstr/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noSubstr/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noSubstr/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useTrimStartEnd/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#3170 fix(css_formatter): correctly resolve css format options
  CHANGELOG.md
  crates/biome_cli/src/commands/rage.rs
  crates/biome_cli/tests/snapshots/main_commands_rage/with_formatter_configuration.snap
  crates/biome_configuration/src/css.rs
  crates/biome_css_formatter/src/context.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/settings.rs
Labels: A-CLI, A-Project, A-Formatter, L-CSS, A-Changelog

#3162 chore(grit): implement Grit snippet bindings
  Cargo.lock
  crates/biome_grit_patterns/Cargo.toml
  crates/biome_grit_patterns/src/errors.rs
  crates/biome_grit_patterns/src/grit_binding.rs
  crates/biome_grit_patterns/src/grit_code_snippet.rs
  crates/biome_grit_patterns/src/grit_context.rs
  crates/biome_grit_patterns/src/grit_file.rs
  crates/biome_grit_patterns/src/grit_node_patterns.rs
  crates/biome_grit_patterns/src/grit_query.rs
  crates/biome_grit_patterns/src/grit_resolved_pattern.rs
  crates/biome_grit_patterns/src/grit_target_node.rs
  crates/biome_grit_patterns/src/lib.rs
  crates/biome_grit_patterns/src/pattern_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/snippet_compiler.rs
  crates/biome_grit_patterns/tests/quick_test.rs
  crates/biome_rowan/src/syntax/token.rs
Labels: A-Core

#3161 fix(linter): fix useDateNow false positive when new Date has arguments
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/nursery/use_date_now.rs
  crates/biome_js_analyze/tests/specs/nursery/useDateNow/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useDateNow/valid.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3171 docs(useImportType): add docs about TypeScript settings
  crates/biome_js_analyze/src/lint/style/use_import_type.rs
Labels: A-Linter, L-JavaScript

#3173 docs(noUndeclaredDependencies,useImportExtensions): add note about LSP configs
  crates/biome_js_analyze/src/lint/nursery/no_undeclared_dependencies.rs
  crates/biome_js_analyze/src/lint/nursery/use_import_extensions.rs
Labels: A-Linter, L-JavaScript

#3175 docs(no_undeclared_dependencies): follow up fix of #3173
  crates/biome_js_analyze/src/lint/nursery/no_undeclared_dependencies.rs
Labels: A-Linter, L-JavaScript

#3036 fix(formatter): escape double quotes when printing formatter IR
  crates/biome_formatter/src/format_element/document.rs
Labels: A-Formatter

#3118 fix(linter): useImportExtensions fix for `import '.'`
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/nursery/use_date_now.rs
  crates/biome_js_analyze/src/lint/nursery/use_import_extensions.rs
  crates/biome_js_analyze/tests/specs/nursery/useImportExtensions/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useImportExtensions/invalid.js.snap
  xtask/rules_check/src/lib.rs
Labels: A-Linter, A-Tooling, L-JavaScript, A-Changelog

#3143 feat(lint/useValidAutocomplete): add rule
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_valid_autocomplete.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useValidAutocomplete/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useValidAutocomplete/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useValidAutocomplete/invalid.options.json
  crates/biome_js_analyze/tests/specs/nursery/useValidAutocomplete/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useValidAutocomplete/valid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useValidAutocomplete/valid.options.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#3185 fix: remove unnecessary example
  crates/biome_js_analyze/src/lint/a11y/use_key_with_click_events.rs
Labels: A-Linter, L-JavaScript

#3183 fix(config): don't conceal a previous override with the base settings
  CHANGELOG.md
  crates/biome_cli/tests/cases/overrides_formatter.rs
  crates/biome_cli/tests/cases/overrides_linter.rs
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/does_not_conceal_previous_overrides.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/takes_last_formatter_enabled_into_account.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_linter/does_merge_all_overrides.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_linter/does_not_conceal_overrides_globals.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_linter/takes_last_linter_enabled_into_account.snap
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/settings.rs
Labels: A-CLI, A-Project, A-Changelog

#3193 fix(noUnknownProperty): prevent warning on CSS custom property
  CHANGELOG.md
  crates/biome_css_analyze/src/lint/nursery/no_unknown_property.rs
  crates/biome_css_analyze/tests/specs/nursery/noUnknownProperty/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownProperty/valid.css.snap
Labels: L-CSS, A-Changelog

#3198 fix(css_formatter): fix CSS extra whitespace added within :has #3192
  CHANGELOG.md
  crates/biome_css_formatter/src/css/selectors/relative_selector.rs
  crates/biome_css_formatter/tests/quick_test.rs
  crates/biome_css_formatter/tests/specs/css/selectors/pseudo_class/pseudo_class_has.css
  crates/biome_css_formatter/tests/specs/css/selectors/pseudo_class/pseudo_class_has.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/attribute/insensitive.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/attribute/quotes.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/attribute/spaces.css.snap
Labels: A-Formatter, L-CSS, A-Changelog

#3205 fix(lint/useJsxKeyInIterable): fix a false positive when key is in parenthesized return statement
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/use_jsx_key_in_iterable.rs
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/valid.jsx
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/valid.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3207 fix(migrate): properly handle rule removal and insertion
  CHANGELOG.md
  crates/biome_cli/src/commands/migrate.rs
  crates/biome_migrate/src/analyzers/nursery_rules.rs
  crates/biome_migrate/tests/specs/migrations/nurseryRules/existingGroupWithExistingRule.json
  crates/biome_migrate/tests/specs/migrations/nurseryRules/existingGroupWithExistingRule.json.snap
  crates/biome_migrate/tests/specs/migrations/nurseryRules/firstToExistingGroup.json
  crates/biome_migrate/tests/specs/migrations/nurseryRules/firstToExistingGroup.json.snap
  crates/biome_migrate/tests/specs/migrations/nurseryRules/lastToExistingGroup.json
  crates/biome_migrate/tests/specs/migrations/nurseryRules/lastToExistingGroup.json.snap
  crates/biome_migrate/tests/specs/migrations/nurseryRules/middleToExistingGroup.json
  crates/biome_migrate/tests/specs/migrations/nurseryRules/middleToExistingGroup.json.snap
  crates/biome_migrate/tests/specs/migrations/nurseryRules/singleToExistingGroup.json
  crates/biome_migrate/tests/specs/migrations/nurseryRules/singleToExistingGroup.json.snap
Labels: A-CLI, A-Changelog

#3210 fix(lint/useLiteralKeys): unescaped newline false positive
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/complexity/use_literal_keys.rs
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/invalid.js
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/invalid.js.snap
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/valid.js
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/valid.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3211 fix(cli): inject source code in diagnostics printed in `stdin`
  CHANGELOG.md
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/check_stdin_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/check_stdin_write_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/lint_stdin_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/check_stdin_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/check_stdin_write_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/lint_stdin_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/lint_stdin_write_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/check_stdin_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/check_stdin_write_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/lint_stdin_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/lint_stdin_write_successfully.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/check_stdin_shows_parse_diagnostics.snap
Labels: A-CLI, A-Changelog

#3222 chore: rust 1.79.0
  crates/biome_analyze/src/options.rs
  crates/biome_analyze/src/registry.rs
  crates/biome_analyze/src/signals.rs
  crates/biome_deserialize/src/impls.rs
  crates/biome_formatter/src/lib.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/sort_config.rs
  crates/biome_text_size/src/size.rs
  rust-toolchain.toml
  xtask/codegen/src/js_kinds_src.rs
Labels: A-Core, A-Linter, A-Formatter, A-Tooling, L-JavaScript

#3230 refactor(analyzer): use `enumflags2`
  Cargo.lock
  crates/biome_analyze/Cargo.toml
  crates/biome_analyze/src/categories.rs
  crates/biome_analyze/src/lib.rs
  crates/biome_cli/src/execute/process_file/format.rs
  crates/biome_cli/src/execute/process_file/lint.rs
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_grit_parser/Cargo.toml
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_transform/src/lib.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  xtask/bench/src/language.rs
Labels: A-CLI, A-Project, A-Linter, A-Tooling, A-LSP, L-JavaScript

#2911 feat(biome_css_analyzer): implement function-linear-gradient-no-nonstandard-direction
  Cargo.lock
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/Cargo.toml
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_invalid_direction_in_linear_gradient.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noInvalidDirectionInLinearGradient/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noInvalidDirectionInLinearGradient/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noInvalidDirectionInLinearGradient/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noInvalidDirectionInLinearGradient/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, L-CSS, A-Diagnostic

#3217 fix(lint/noUnknownProperty): ignore `composes` for noUnknownProperty
  CHANGELOG.md
  crates/biome_css_analyze/src/lint/nursery/no_unknown_property.rs
  crates/biome_css_analyze/tests/specs/nursery/noUnknownProperty/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownProperty/valid.css.snap
Labels: L-CSS, A-Changelog

#3233 chore: fix typo in comments
  crates/biome_js_analyze/src/lint/complexity/use_literal_keys.rs
Labels: A-Linter, L-JavaScript

#3234 fix(lint/useExhaustiveDependencies): false positives
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/exportDefaultClass.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/exportDefaultClass.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/recursiveComponents.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/recursiveComponents.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3237 fix(css_parser): fix CSS modules settings mapping
  CHANGELOG.md
  crates/biome_service/src/file_handlers/css.rs
Labels: A-Project, A-Changelog

#3239 chore: fix changelog links to nursery rules useErrorMessage and useThrowOnlyError
  CHANGELOG.md
Labels: A-Changelog

#3242 fix(javascript/vue): missing withDefaults macro
  CHANGELOG.md
  crates/biome_service/src/file_handlers/javascript.rs
Labels: A-Project, A-Changelog

#3244 fix(cli): correctly compute the color mode in `ci`
  CHANGELOG.md
  crates/biome_cli/src/main.rs
Labels: A-CLI, A-Changelog

#3243 release: v1.8.2
  CHANGELOG.md
  packages/@biomejs/biome/package.json
  packages/@biomejs/js-api/package.json
Labels: A-Changelog

#3218 feat(editorconfig): expand unknown globs into known globs
  crates/biome_configuration/src/diagnostics.rs
  crates/biome_configuration/src/editorconfig.rs
Labels: A-Project

#3248 chore(core): implement `pull_diagnostics` for graphql
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/tests/workspace.rs
Labels: A-Project

#3252 chore(linter): add a rule source of `noUnknownProperty`
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/src/lint/nursery/no_unknown_property.rs
Labels: A-Project, L-CSS

#3254 fix(css_formatter): fix CSS formatter converts custom identifiers to lowecase
  CHANGELOG.md
  crates/biome_css_formatter/src/css/auxiliary/function.rs
  crates/biome_css_formatter/src/css/lists/layer_name_list.rs
  crates/biome_css_formatter/src/css/value/identifier.rs
  crates/biome_css_formatter/src/separated.rs
  crates/biome_css_formatter/tests/specs/css/atrule/container.css.snap
  crates/biome_css_formatter/tests/specs/css/atrule/import.css.snap
  crates/biome_css_formatter/tests/specs/css/casing.css.snap
  crates/biome_css_formatter/tests/specs/css/properties/all.css.snap
  crates/biome_css_formatter/tests/specs/css/properties/border.css.snap
  crates/biome_css_formatter/tests/specs/css/properties/z-index.css.snap
  crates/biome_css_formatter/tests/specs/css/range/selector_list.css.snap
  crates/biome_css_formatter/tests/specs/css/range/single_value.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/page.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/supports.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/case/case.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/case/custom-selectors.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/color/color-adjuster.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/color/current-color.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/fill-value/fill.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/grid/grid.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/modules/modules.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/parens/parens.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/selector-list/selectors.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/units/values.css.snap
Labels: A-Formatter, L-CSS, A-Changelog

#3251 feat(css_parser): implement CSS unicode range
  CHANGELOG.md
  crates/biome_css_analyze/tests/specs/nursery/noUnknownUnit/invalid.css.snap
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/css/any/unicode_value.rs
  crates/biome_css_formatter/src/css/any/value.rs
  crates/biome_css_formatter/src/css/auxiliary/mod.rs
  crates/biome_css_formatter/src/css/auxiliary/unicode_codepoint.rs
  crates/biome_css_formatter/src/css/auxiliary/unicode_range.rs
  crates/biome_css_formatter/src/css/auxiliary/unicode_range_interval.rs
  crates/biome_css_formatter/src/css/auxiliary/unicode_range_wildcard.rs
  crates/biome_css_formatter/src/css/bogus/bogus_unicode_range_value.rs
  crates/biome_css_formatter/src/css/bogus/mod.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_formatter/tests/specs/css/properties/unicode_range.css
  crates/biome_css_formatter/tests/specs/css/properties/unicode_range.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/parens/parens.css.snap
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/parser.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/property/mod.rs
  crates/biome_css_parser/src/syntax/property/unicode_range.rs
  crates/biome_css_parser/tests/css_test_suite/error/property/unicode_range_error.css
  crates/biome_css_parser/tests/css_test_suite/error/property/unicode_range_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/property/unicode_range.css
  crates/biome_css_parser/tests/css_test_suite/ok/property/unicode_range.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_css_syntax/src/lib.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS, A-Changelog

#3257 fix(css_parser): fix constant crashes when editing css files #3256
  CHANGELOG.md
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/property/color.rs
  crates/biome_css_parser/src/syntax/property/mod.rs
  crates/biome_css_parser/tests/css_test_suite/error/property/color_error.css
  crates/biome_css_parser/tests/css_test_suite/error/property/color_error.css.snap
  crates/biome_css_parser/tests/spec_test.rs
Labels: A-Parser, L-CSS, A-Changelog

#3259 fix(migrate): suppress node warnings
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/node.rs
Labels: A-CLI, A-Changelog

#3208 feat: tailwind variant sorting
  Cargo.lock
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/class_info.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/class_lexer.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/presets.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/sort.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/sort_config.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/tailwind_preset.rs
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/sorted.jsx
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/sorted.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/unsorted.jsx
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/unsorted.jsx.snap
  packages/tailwindcss-config-analyzer/src/generate-tailwind-preset.ts
  packages/tailwindcss-config-analyzer/src/introspect.ts
  packages/tailwindcss-config-analyzer/src/sort-config.ts
  packages/tailwindcss-config-analyzer/src/tailwindcss-module-types.d.ts
  packages/tailwindcss-config-analyzer/src/types.ts
Labels: A-Linter, L-JavaScript

#3260 test(parse/json): add test for bug where overrides erroneously override special parsing options
  crates/biome_cli/tests/cases/overrides_formatter.rs
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/does_not_override_well_known_special_files_when_config_override_is_present.snap
Labels: A-CLI

#3245 docs(analyzer): improve contributing guide for rules with multiple signals
  crates/biome_analyze/CONTRIBUTING.md
Labels: A-Linter

#3276 chore(lint): initialise `biome_graphql_analyze`
  Cargo.lock
  Cargo.toml
  crates/biome_graphql_analyze/Cargo.toml
  crates/biome_graphql_analyze/src/lib.rs
  crates/biome_graphql_analyze/src/lint.rs
  crates/biome_graphql_analyze/src/lint/nursery.rs
  crates/biome_graphql_analyze/src/lint/nursery/use_dummy_rule.rs
  crates/biome_graphql_analyze/src/options.rs
  crates/biome_graphql_analyze/src/registry.rs
  crates/biome_graphql_analyze/src/suppression_action.rs
  crates/biome_graphql_analyze/tests/spec_tests.rs
  crates/biome_graphql_analyze/tests/specs/nursery/useDummyRule/valid.graphql
  crates/biome_graphql_analyze/tests/specs/nursery/useDummyRule/valid.graphql.snap
  justfile
  knope.toml
  xtask/codegen/src/generate_analyzer.rs
  xtask/codegen/src/generate_new_analyzer_rule.rs
Labels: A-Tooling

#3277 docs(useNamingConvention): add examples and improve explanations
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
Labels: A-Linter, L-JavaScript

#3280 fix(useConsistentArrayType): ignore `Array` in `extends`/`implements` clauses
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/style/use_consistent_array_type.rs
  crates/biome_js_analyze/src/lint/style/use_shorthand_array_type.rs
  crates/biome_js_analyze/tests/specs/style/useConsistentArrayType/valid.ts
  crates/biome_js_analyze/tests/specs/style/useConsistentArrayType/valid.ts.snap
  crates/biome_js_analyze/tests/specs/style/useShorthandArrayType/valid.ts
  crates/biome_js_analyze/tests/specs/style/useShorthandArrayType/valid.ts.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3281 fix(cli): disable colors when using the github reporter
  CHANGELOG.md
  crates/biome_cli/src/cli_options.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/main.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/migrate_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/rage_help.snap
  packages/tailwindcss-config-analyzer/src/generate-tailwind-preset.ts
Labels: A-CLI, A-Changelog

#3097 feat(noExportedImports): add lint rule
  CHANGELOG.md
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/correctness/no_nodejs_modules.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_exported_imports.rs
  crates/biome_js_analyze/src/lint/nursery/no_restricted_imports.rs
  crates/biome_js_analyze/src/lint/nursery/no_undeclared_dependencies.rs
  crates/biome_js_analyze/src/lint/nursery/use_import_extensions.rs
  crates/biome_js_analyze/src/lint/style/use_node_assert_strict.rs
  crates/biome_js_analyze/src/lint/style/use_nodejs_import_protocol.rs
  crates/biome_js_analyze/src/lint/suspicious/no_import_assign.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noExportedImports/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noExportedImports/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noExportedImports/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noExportedImports/valid.js.snap
  crates/biome_js_syntax/src/import_ext.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, A-Parser, L-JavaScript, A-Diagnostic, A-Changelog

#3272 refactor(parse/json): change fields in `JsonParserSettings` to `Option`
  crates/biome_json_parser/tests/spec_test.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/settings.rs
Labels: A-Project, A-Parser, L-JSON

#3285 fix(linter): `useNodejsImportProtocol` takes in dependencies in consideration
  CHANGELOG.md
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/style/use_nodejs_import_protocol.rs
  crates/biome_js_analyze/src/services/manifest.rs
  crates/biome_js_analyze/tests/specs/style/useNodejsImportProtocol/invalid.js.snap
  crates/biome_js_analyze/tests/specs/style/useNodejsImportProtocol/validDep.js
  crates/biome_js_analyze/tests/specs/style/useNodejsImportProtocol/validDep.js.snap
  crates/biome_js_analyze/tests/specs/style/useNodejsImportProtocol/validDep.package.json
  crates/biome_project/src/lib.rs
  crates/biome_project/src/node_js_project/mod.rs
  crates/biome_project/src/node_js_project/package_json.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#3258 feat(search-output-formatter): initialize search output formatter
  crates/biome_cli/src/execute/diagnostics.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/process_file/search.rs
  crates/biome_cli/src/reporter/terminal.rs
  crates/biome_diagnostics/src/display.rs
  crates/biome_diagnostics/src/display/frame.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-CLI, A-Project, A-Diagnostic

#3253 chore(grit): implement node-like compilers + fixes
  crates/biome_grit_patterns/src/errors.rs
  crates/biome_grit_patterns/src/grit_binding.rs
  crates/biome_grit_patterns/src/grit_context.rs
  crates/biome_grit_patterns/src/grit_node_patterns.rs
  crates/biome_grit_patterns/src/grit_query.rs
  crates/biome_grit_patterns/src/grit_resolved_pattern.rs
  crates/biome_grit_patterns/src/grit_target_language.rs
  crates/biome_grit_patterns/src/grit_target_language/js_target_language.rs
  crates/biome_grit_patterns/src/grit_target_node.rs
  crates/biome_grit_patterns/src/lib.rs
  crates/biome_grit_patterns/src/pattern_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/call_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/node_like_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/predicate_call_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/predicate_compiler.rs
  crates/biome_grit_patterns/tests/quick_test.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-Project

#3289 feat(graphql_analyze): useDeprecatedReason
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_graphql_analyze/src/lint/nursery.rs
  crates/biome_graphql_analyze/src/lint/nursery/use_deprecated_reason.rs
  crates/biome_graphql_analyze/src/lint/nursery/use_dummy_rule.rs
  crates/biome_graphql_analyze/src/options.rs
  crates/biome_graphql_analyze/tests/specs/nursery/useDeprecatedReason/invalid.graphql
  crates/biome_graphql_analyze/tests/specs/nursery/useDeprecatedReason/invalid.graphql.snap
  crates/biome_graphql_analyze/tests/specs/nursery/useDeprecatedReason/valid.graphql
  crates/biome_graphql_analyze/tests/specs/nursery/useDeprecatedReason/valid.graphql.snap
  crates/biome_graphql_analyze/tests/specs/nursery/useDummyRule/valid.graphql
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-Diagnostic, A-Changelog

#3295 feat: enable linting for graphql
  Cargo.lock
  crates/biome_analyze/src/diagnostics.rs
  crates/biome_analyze/src/lib.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/javascript.rs
Labels: A-Project, A-Linter, L-JavaScript

#3273 refactor(parse/css): change fields in `CssParserSettings` to `Option`
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/settings.rs
Labels: A-Project, A-Parser, L-CSS

#3300 fix(lint/use_arrow_function): add a trailing comma to single type parameter when JSX is enabled
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/complexity/use_arrow_function.rs
  crates/biome_js_analyze/tests/specs/complexity/useArrowFunction/invalid.tsx
  crates/biome_js_analyze/tests/specs/complexity/useArrowFunction/invalid.tsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3283 docs(useSortedClasses): tailwind variant sorting
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/class_info.rs
  crates/biome_unicode_table/src/tables.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#3301 chore: update codegen to include GraphQL
  Cargo.lock
  crates/biome_configuration/Cargo.toml
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_service/tests/workspace.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_configuration.rs
Labels: A-Project, A-Tooling

#3302 release: v1.8.3
  CHANGELOG.md
  packages/@biomejs/biome/package.json
  packages/@biomejs/js-api/package.json
  packages/tailwindcss-config-analyzer/src/generate-tailwind-preset.ts
Labels: A-Changelog

#3304 feat(linter): add suppression action for the css linter
  CHANGELOG.md
  crates/biome_css_analyze/src/suppression_action.rs
  crates/biome_css_analyze/tests/spec_tests.rs
  crates/biome_css_analyze/tests/suppression/nursery/noDuplicateFontNames/noDuplicateFontNames.css
  crates/biome_css_analyze/tests/suppression/nursery/noDuplicateFontNames/noDuplicateFontNames.css.snap
  crates/biome_css_analyze/tests/suppression/nursery/noEmptyBlock/noEmptyBlock.css
  crates/biome_css_analyze/tests/suppression/nursery/noEmptyBlock/noEmptyBlock.css.snap
Labels: L-CSS, A-Changelog

#3322 feat(graphql_formatter): format interfaces with comments
  crates/biome_graphql_formatter/src/comments.rs
  crates/biome_graphql_formatter/src/graphql/lists/directive_location_list.rs
  crates/biome_graphql_formatter/src/graphql/lists/implements_interface_list.rs
  crates/biome_graphql_formatter/src/lib.rs
  crates/biome_graphql_formatter/src/utils/list.rs
  crates/biome_graphql_formatter/src/utils/mod.rs
  crates/biome_graphql_formatter/tests/quick_test.rs
  crates/biome_graphql_formatter/tests/specs/prettier/graphql/comments/interfaces.graphql
  crates/biome_graphql_formatter/tests/specs/prettier/graphql/comments/interfaces.graphql.snap
  crates/biome_graphql_formatter/tests/specs/prettier/graphql/interface/separator-detection.graphql
  crates/biome_graphql_formatter/tests/specs/prettier/graphql/interface/separator-detection.graphql.snap
  crates/biome_graphql_formatter/tests/specs/prettier/graphql/prettier-ignore/prettier-ignore-comment.graphql.snap
  crates/biome_graphql_formatter/tests/specs/prettier/graphql/trailing-comma/trailing.graphql.snap
  crates/biome_suppression/src/lib.rs
Labels: A-Core

#3321 chore: fix typo in diagnostic comment
  crates/biome_js_analyze/src/lint/nursery/no_exported_imports.rs
  crates/biome_js_analyze/tests/specs/nursery/noExportedImports/invalid.js.snap
Labels: A-Linter, L-JavaScript
