Repository biomejs/biome, pull requests merged in 2024-11, with the labels that each got.

#4440 chore(linter): clean up lint rules and update correct version numbers
  crates/biome_css_analyze/src/lint/correctness/no_invalid_direction_in_linear_gradient.rs
  crates/biome_css_analyze/src/lint/correctness/no_invalid_grid_areas.rs
  crates/biome_css_analyze/src/lint/nursery/no_irregular_whitespace.rs
  crates/biome_js_analyze/src/lint/complexity/no_useless_lone_block_statements.rs
  crates/biome_js_analyze/src/lint/suspicious/no_misleading_character_class.rs
  crates/biome_js_analyze/src/lint/suspicious/no_then_property.rs
Labels: A-Linter, L-JavaScript, L-CSS

#4439 refactor: reduce dependency on indexmap
  .changeset/biome_migrate_eslint_rule_overriding.md
  Cargo.lock
  Cargo.toml
  crates/biome_analyze/src/options.rs
  crates/biome_cli/Cargo.toml
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_cli/src/execute/migrate/eslint_eslint.rs
  crates/biome_cli/src/execute/migrate/eslint_to_biome.rs
  crates/biome_cli/src/execute/migrate/ignorefile.rs
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintrcjson_extended_rules.snap
  crates/biome_configuration/Cargo.toml
  crates/biome_configuration/src/analyzer/assists/mod.rs
  crates/biome_configuration/src/analyzer/linter/mod.rs
  crates/biome_configuration/src/analyzer/mod.rs
  crates/biome_configuration/src/diagnostics.rs
  crates/biome_configuration/src/editorconfig.rs
  crates/biome_configuration/src/formatter.rs
  crates/biome_configuration/src/javascript/mod.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_configuration/src/organize_imports.rs
  crates/biome_configuration/src/overrides.rs
  crates/biome_deserialize/src/json.rs
  crates/biome_deserialize/src/merge.rs
  crates/biome_formatter/Cargo.toml
  crates/biome_fs/Cargo.toml
  crates/biome_service/Cargo.toml
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/settings.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  xtask/codegen/src/generate_migrate_eslint.rs
Labels: A-CLI, A-Core, A-Project, A-Linter, A-Formatter, A-Tooling, L-JavaScript, L-JSON

#4448 feat(grit): implement CSS plugins
  Cargo.lock
  crates/biome_analyze/src/analyzer_plugin.rs
  crates/biome_cli/Cargo.toml
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/search.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/commands/mod.rs
  crates/biome_cli/tests/commands/search.rs
  crates/biome_cli/tests/snapshots/main_commands_search/search_css_pattern.snap
  crates/biome_cli/tests/snapshots/main_commands_search/search_css_pattern_shorthand.snap
  crates/biome_cli/tests/snapshots/main_commands_search/search_js_pattern.snap
  crates/biome_css_analyze/Cargo.toml
  crates/biome_css_analyze/src/lib.rs
  crates/biome_css_analyze/tests/plugin/useLowercaseColors.css
  crates/biome_css_analyze/tests/plugin/useLowercaseColors.grit
  crates/biome_css_analyze/tests/plugin/useLowercaseColors.grit.snap
  crates/biome_css_analyze/tests/spec_tests.rs
  crates/biome_grit_patterns/Cargo.toml
  crates/biome_grit_patterns/src/grit_query.rs
  crates/biome_grit_patterns/src/grit_target_language.rs
  crates/biome_grit_patterns/src/grit_target_language/css_target_language.rs
  crates/biome_grit_patterns/src/grit_target_language/js_target_language.rs
  crates/biome_grit_patterns/src/lib.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_lsp/src/server.rs
  crates/biome_plugin_loader/src/analyzer_grit_plugin.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace_types.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  xtask/bench/benches/gritql_search.rs
  xtask/bench/src/language.rs
  xtask/rules_check/src/lib.rs
Labels: A-CLI, A-Project, A-Linter, A-Tooling, A-LSP, L-JavaScript, L-CSS, L-Grit

#4465 perf(useArrowFunction): avoid useless checks
  crates/biome_js_analyze/src/lint/complexity/use_arrow_function.rs
Labels: A-Linter, L-JavaScript

#4455 docs: add typescript-eslint rule source for `useArrayLiterals`
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_js_analyze/src/lint/correctness/use_array_literals.rs
Labels: A-CLI, A-Linter, L-JavaScript

#4378 feat(format/grit): add formatting for lists
  crates/biome_grit_formatter/src/grit/auxiliary/list.rs
  crates/biome_grit_formatter/src/grit/auxiliary/list_accessor.rs
  crates/biome_grit_formatter/src/grit/lists/list_pattern_list.rs
  crates/biome_grit_formatter/tests/specs/grit/patterns/list_pattern.grit
  crates/biome_grit_formatter/tests/specs/grit/patterns/list_pattern.grit.snap
Labels: A-Formatter, L-Grit

#4472 feat(grit): add formatting of more nodes
  crates/biome_grit_formatter/src/grit/auxiliary/sequential.rs
  crates/biome_grit_formatter/src/grit/patterns/pattern_and.rs
  crates/biome_grit_formatter/src/grit/patterns/pattern_contains.rs
  crates/biome_grit_formatter/src/grit/predicates/curly_predicate_list.rs
  crates/biome_grit_formatter/src/grit/predicates/predicate_any.rs
  crates/biome_grit_formatter/src/grit/predicates/predicate_call.rs
  crates/biome_grit_formatter/src/grit/value/backtick_snippet_literal.rs
  crates/biome_grit_formatter/src/grit/value/boolean_literal.rs
  crates/biome_grit_formatter/src/grit/value/code_snippet.rs
  crates/biome_grit_formatter/src/grit/value/double_literal.rs
  crates/biome_grit_formatter/src/grit/value/int_literal.rs
  crates/biome_grit_formatter/src/grit/value/negative_int_literal.rs
  crates/biome_grit_formatter/src/grit/value/raw_backtick_snippet_literal.rs
  crates/biome_grit_formatter/src/grit/value/regex_literal.rs
  crates/biome_grit_formatter/src/grit/value/snippet_regex_literal.rs
  crates/biome_grit_formatter/src/grit/value/string_literal.rs
  crates/biome_grit_formatter/src/grit/value/undefined_literal.rs
  crates/biome_grit_formatter/tests/specs/grit/patterns/contains.grit
  crates/biome_grit_formatter/tests/specs/grit/patterns/contains.grit.snap
  crates/biome_grit_formatter/tests/specs/grit/patterns/create_new_files.grit.snap
  crates/biome_grit_formatter/tests/specs/grit/patterns/list_pattern.grit.snap
  crates/biome_grit_formatter/tests/specs/grit/patterns/where_pattern.grit.snap
  crates/biome_grit_formatter/tests/specs/grit/predicates/assignment.grit.snap
  crates/biome_grit_formatter/tests/specs/grit/sequential.grit
  crates/biome_grit_formatter/tests/specs/grit/sequential.grit.snap
  crates/biome_grit_parser/tests/grit_test_suite/ok/pattern_after.grit
  crates/biome_grit_parser/tests/grit_test_suite/ok/pattern_after.grit.snap
  crates/biome_grit_parser/tests/grit_test_suite/ok/pattern_any.grit
  crates/biome_grit_parser/tests/grit_test_suite/ok/pattern_any.grit.snap
  crates/biome_grit_parser/tests/grit_test_suite/ok/pattern_end.grit
  crates/biome_grit_parser/tests/grit_test_suite/ok/pattern_end.grit.snap
  crates/biome_grit_parser/tests/grit_test_suite/ok/pattern_maybe.grit
  crates/biome_grit_parser/tests/grit_test_suite/ok/pattern_maybe.grit.snap
  crates/biome_grit_parser/tests/grit_test_suite/ok/sequential.grit
  crates/biome_grit_parser/tests/grit_test_suite/ok/sequential.grit.snap
  crates/biome_service/src/file_handlers/grit.rs
Labels: A-Project, A-Parser, A-Formatter, L-Grit

#4462 fix(js_formatter): format hook with 3 arguments
  crates/biome_js_formatter/src/js/expressions/call_arguments.rs
  crates/biome_js_formatter/tests/specs/js/module/expression/call_arguments.js
  crates/biome_js_formatter/tests/specs/js/module/expression/call_arguments.js.snap
Labels: A-Formatter, L-JavaScript

#4477 fix(grit): linting inside workspace
  crates/biome_service/src/file_handlers/grit.rs
  crates/biome_service/src/file_handlers/mod.rs
Labels: A-Project

#4478 refactor(noUnusedImports): report empty named imports
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/no_unused_imports.rs
  crates/biome_js_analyze/src/lint/style/use_import_type.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/invalid-import-namespace.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/invalid-unused-react.jsx.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/invalid.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/invalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/invalid.ts.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4471 feat(noUndeclaredVariables): add checkTypes option
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/no_undeclared_variables.rs
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/ignore-types.options.json
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/ignore-types.ts
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/ignore-types.ts.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript, A-Changelog

#4479 refactor(noUnusedImports): keep orphan comments
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/no_unused_imports.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/invalid-import-namespace.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/invalid-unused-react.jsx.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/invalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/invalid.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/invalid.ts.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4481 refactor(aria): move properties to aria-metdata
  Cargo.lock
  crates/biome_aria/src/lib.rs
  crates/biome_aria/src/macros.rs
  crates/biome_aria/src/properties.rs
  crates/biome_aria/src/roles.rs
  crates/biome_aria_metadata/build.rs
  crates/biome_aria_metadata/src/lib.rs
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/a11y/no_aria_unsupported_elements.rs
  crates/biome_js_analyze/src/lint/a11y/use_valid_aria_props.rs
  crates/biome_js_analyze/src/lint/a11y/use_valid_aria_values.rs
  crates/biome_js_analyze/src/services/aria.rs
  crates/biome_js_analyze/tests/specs/a11y/useValidAriaValues/invalid.jsx.snap
  crates/biome_js_formatter/tests/specs/prettier/js/break-calls/react.js.snap
Labels: A-Linter, A-Formatter, L-JavaScript

#4488 refactor(aria): generate role metadata
  crates/biome_aria/src/lib.rs
  crates/biome_aria/src/roles.rs
  crates/biome_aria_metadata/aria-data.json
  crates/biome_aria_metadata/build.rs
  crates/biome_aria_metadata/src/lib.rs
  crates/biome_js_analyze/src/lint/a11y/no_interactive_element_to_noninteractive_role.rs
  crates/biome_js_analyze/src/lint/a11y/no_noninteractive_element_to_interactive_role.rs
  crates/biome_js_analyze/src/lint/a11y/no_noninteractive_tabindex.rs
  crates/biome_js_analyze/src/lint/a11y/no_redundant_roles.rs
  crates/biome_js_analyze/src/lint/a11y/use_aria_props_for_role.rs
  crates/biome_js_analyze/src/lint/a11y/use_focusable_interactive.rs
  crates/biome_js_analyze/src/lint/a11y/use_valid_aria_role.rs
  crates/biome_js_analyze/src/lint/nursery/use_aria_props_supported_by_role.rs
  crates/biome_js_analyze/tests/specs/a11y/useAriaPropsForRole/invalid.jsx
  crates/biome_js_analyze/tests/specs/a11y/useAriaPropsForRole/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/useAriaPropsForRole/valid.jsx
  crates/biome_js_analyze/tests/specs/a11y/useAriaPropsForRole/valid.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/useValidAriaValues/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noStaticElementInteractions/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noStaticElementInteractions/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useAriaPropsSupportedByRole/deprecated.jsx
  crates/biome_js_analyze/tests/specs/nursery/useAriaPropsSupportedByRole/deprecated.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useAriaPropsSupportedByRole/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useAriaPropsSupportedByRole/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useAriaPropsSupportedByRole/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useAriaPropsSupportedByRole/valid.jsx.snap
Labels: A-Linter, L-JavaScript

#4454 refactor(js_parser): parser TsImportType align with TypeScript Parser
  CHANGELOG.md
  crates/biome_js_factory/src/generated/node_factory.rs
  crates/biome_js_factory/src/generated/syntax_factory.rs
  crates/biome_js_formatter/src/generated.rs
  crates/biome_js_formatter/src/ts/expressions/import_type_arguments.rs
  crates/biome_js_formatter/src/ts/expressions/mod.rs
  crates/biome_js_formatter/src/ts/module/import_type_assertion.rs
  crates/biome_js_formatter/src/ts/module/import_type_assertion_block.rs
  crates/biome_js_formatter/src/ts/module/mod.rs
  crates/biome_js_formatter/tests/quick_test.rs
  crates/biome_js_formatter/tests/specs/ts/type/import_type.ts
  crates/biome_js_formatter/tests/specs/ts/type/import_type.ts.snap
  crates/biome_js_formatter/tests/specs/ts/type/import_type_with_resolution_mode.ts.snap
  crates/biome_js_parser/src/syntax/module.rs
  crates/biome_js_parser/src/syntax/typescript/types.rs
  crates/biome_js_parser/tests/js_test_suite/error/import_type_error.ts
  crates/biome_js_parser/tests/js_test_suite/error/import_type_error.ts.snap
  crates/biome_js_parser/tests/js_test_suite/error/import_type_error2.ts
  crates/biome_js_parser/tests/js_test_suite/error/import_type_error2.ts.snap
  crates/biome_js_parser/tests/js_test_suite/ok/ts_import_type.ts.snap
  crates/biome_js_parser/tests/js_test_suite/ok/ts_import_type_arguments.ts
  crates/biome_js_parser/tests/js_test_suite/ok/ts_import_type_arguments.ts.snap
  crates/biome_js_parser/tests/js_test_suite/ok/ts_infer_type_allowed.ts.snap
  crates/biome_js_parser/tests/spec_test.rs
  crates/biome_js_syntax/src/generated/kind.rs
  crates/biome_js_syntax/src/generated/macros.rs
  crates/biome_js_syntax/src/generated/nodes.rs
  crates/biome_js_syntax/src/generated/nodes_mut.rs
  xtask/codegen/js.ungram
  xtask/codegen/src/js_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-JavaScript, A-Changelog

#4475 fix(js_analyze): skip `noAutofocus` check if eligible
  crates/biome_js_analyze/src/lint/a11y/no_autofocus.rs
  crates/biome_js_analyze/tests/quick_test.rs
  crates/biome_js_analyze/tests/specs/a11y/noAutofocus/invalid.jsx
  crates/biome_js_analyze/tests/specs/a11y/noAutofocus/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/noAutofocus/valid.jsx
  crates/biome_js_analyze/tests/specs/a11y/noAutofocus/valid.jsx.snap
Labels: A-Linter, L-JavaScript, S-Merge for next minor

#4492 fix(linter): improve diagnostic for `noConstructorReturn`
  crates/biome_js_analyze/src/lint/correctness/no_constructor_return.rs
  crates/biome_js_analyze/tests/specs/correctness/noConstructorReturn/invalid.js.snap
Labels: A-Linter, L-JavaScript

#4510 docs(linter): include advice on the singleton pattern with `noConstructorReturn`
  crates/biome_js_analyze/src/lint/correctness/no_constructor_return.rs
Labels: A-Linter, L-JavaScript

#4509 refactor: move `useImportRestrictions` into `noRestrictedImports`
  .changeset/the_rule_useimportrestrictions_has_been_moved_into_norestrictedimports.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_restricted_imports.rs
  crates/biome_js_analyze/src/lint/nursery/use_import_restrictions.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/invalidPackagePrivateImports.js
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/invalidPackagePrivateImports.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/invalidPackagePrivateImports.options.json
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/validPackagePrivateImports.js
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/validPackagePrivateImports.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/validPackagePrivateImports.options.json
  crates/biome_wasm/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript

#4452 feat(linter): add `noGlobalDirnameFilename`
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_global_dirname_filename.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noGlobalDirnameFilename/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noGlobalDirnameFilename/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noGlobalDirnameFilename/valid.cjs
  crates/biome_js_analyze/tests/specs/nursery/noGlobalDirnameFilename/valid.cjs.snap
  crates/biome_js_analyze/tests/specs/nursery/noGlobalDirnameFilename/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noGlobalDirnameFilename/valid.js.snap
  crates/biome_js_syntax/src/generated/kind.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  xtask/codegen/src/js_kinds_src.rs
Labels: A-CLI, A-Project, A-Linter, A-Parser, A-Tooling, L-JavaScript, A-Diagnostic, A-Changelog

#4513 refactor(js_syntax): minor clean up
  crates/biome_js_analyze/src/lint/a11y/no_access_key.rs
  crates/biome_js_analyze/src/lint/a11y/no_autofocus.rs
  crates/biome_js_analyze/src/lint/a11y/no_blank_target.rs
  crates/biome_js_analyze/src/lint/a11y/no_distracting_elements.rs
  crates/biome_js_analyze/src/lint/a11y/no_header_scope.rs
  crates/biome_js_analyze/src/lint/a11y/no_label_without_control.rs
  crates/biome_js_analyze/src/lint/a11y/no_redundant_alt.rs
  crates/biome_js_analyze/src/lint/a11y/no_svg_without_title.rs
  crates/biome_js_analyze/src/lint/a11y/use_alt_text.rs
  crates/biome_js_analyze/src/lint/a11y/use_anchor_content.rs
  crates/biome_js_analyze/src/lint/a11y/use_button_type.rs
  crates/biome_js_analyze/src/lint/a11y/use_heading_content.rs
  crates/biome_js_analyze/src/lint/a11y/use_html_lang.rs
  crates/biome_js_analyze/src/lint/a11y/use_iframe_title.rs
  crates/biome_js_analyze/src/lint/a11y/use_key_with_click_events.rs
  crates/biome_js_analyze/src/lint/a11y/use_media_caption.rs
  crates/biome_js_analyze/src/lint/a11y/use_semantic_elements.rs
  crates/biome_js_analyze/src/lint/a11y/use_valid_anchor.rs
  crates/biome_js_analyze/src/lint/correctness/no_void_elements_with_children.rs
  crates/biome_js_analyze/src/lint/nursery/no_head_element.rs
  crates/biome_js_analyze/src/lint/nursery/no_img_element.rs
  crates/biome_js_analyze/src/lint/nursery/use_google_font_display.rs
  crates/biome_js_analyze/src/lint/nursery/use_google_font_preconnect.rs
  crates/biome_js_analyze/src/lint/nursery/use_valid_autocomplete.rs
  crates/biome_js_analyze/src/lint/security/no_dangerously_set_inner_html_with_children.rs
  crates/biome_js_analyze/src/services/aria.rs
  crates/biome_js_syntax/src/jsx_ext.rs
  crates/biome_service/src/file_handlers/mod.rs
Labels: A-Project, A-Linter, A-Parser, L-JavaScript

#4516 refactor(useValidAutocomplete): use Ast query instead of Aria
  crates/biome_js_analyze/src/lint/nursery/use_valid_autocomplete.rs
Labels: A-Linter, L-JavaScript

#4521 refactor(aria): add AriaRole::from_roles
  crates/biome_aria/src/roles.rs
  crates/biome_aria_metadata/src/lib.rs
  crates/biome_js_analyze/src/lint/a11y/no_interactive_element_to_noninteractive_role.rs
  crates/biome_js_analyze/src/lint/a11y/no_noninteractive_element_to_interactive_role.rs
  crates/biome_js_analyze/src/lint/a11y/no_noninteractive_tabindex.rs
  crates/biome_js_analyze/src/lint/a11y/no_redundant_roles.rs
  crates/biome_js_analyze/src/lint/a11y/use_aria_props_for_role.rs
  crates/biome_js_analyze/src/lint/a11y/use_focusable_interactive.rs
  crates/biome_js_analyze/src/lint/a11y/use_semantic_elements.rs
  crates/biome_js_analyze/src/lint/a11y/use_valid_aria_role.rs
  crates/biome_js_analyze/src/lint/nursery/use_aria_props_supported_by_role.rs
Labels: A-Linter, L-JavaScript

#4525 feat(grit): add range formatting
  crates/biome_grit_formatter/src/lib.rs
  crates/biome_service/src/file_handlers/grit.rs
Labels: A-Project, A-Formatter, L-Grit

#4534 fix(useArrowFunction): preserve directives in the code fix
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/complexity/use_arrow_function.rs
  crates/biome_js_analyze/tests/specs/complexity/useArrowFunction/invalid.ts
  crates/biome_js_analyze/tests/specs/complexity/useArrowFunction/invalid.ts.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4535 feat(useExplicitType): implement support for methods and functions wi…
  crates/biome_js_analyze/src/lint/nursery/use_explicit_type.rs
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/valid.ts.snap
Labels: A-Linter, L-JavaScript

#4536 refactor(useValidTypeof): accept comparisons with variables
  CHANGELOG.md
  crates/biome_analyze/src/rule.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_css_analyze/src/lint/a11y/use_generic_font_names.rs
  crates/biome_css_analyze/src/lint/correctness/no_unknown_unit.rs
  crates/biome_css_analyze/src/lint/nursery/no_unknown_pseudo_element.rs
  crates/biome_js_analyze/src/lint/a11y/use_valid_aria_values.rs
  crates/biome_js_analyze/src/lint/suspicious/use_valid_typeof.rs
  crates/biome_js_analyze/tests/specs/suspicious/useValidTypeof/invalid.js
  crates/biome_js_analyze/tests/specs/suspicious/useValidTypeof/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/useValidTypeof/invalid.jsonc
  crates/biome_js_analyze/tests/specs/suspicious/useValidTypeof/invalid.jsonc.snap
  crates/biome_js_analyze/tests/specs/suspicious/useValidTypeof/valid.js
  crates/biome_js_analyze/tests/specs/suspicious/useValidTypeof/valid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/useValidTypeof/valid.jsonc
  crates/biome_js_analyze/tests/specs/suspicious/useValidTypeof/valid.jsonc.snap
Labels: A-Linter, L-JavaScript, L-CSS, A-Changelog

#4537 fix(css): reformat issue in comments between compound selectors
  CHANGELOG.md
  crates/biome_css_formatter/src/comments.rs
  crates/biome_css_formatter/tests/quick_test.rs
  crates/biome_css_formatter/tests/specs/css/issue_3229.css
  crates/biome_css_formatter/tests/specs/css/issue_3229.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/supports.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/bom/bom.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/comments/custom-properties.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/comments/selectors.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/front-matter/custom-parser.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/front-matter/empty.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/yaml/comment_after.css.snap
  crates/biome_formatter_test/src/check_reformat.rs
Labels: A-Formatter, L-CSS, A-Changelog

#4540 fix(json_parser): fix broken `JsonParserOptions::from(&JsonFileSource)` implementation
  crates/biome_json_parser/src/parser.rs
  crates/biome_json_syntax/src/file_source.rs
Labels: A-Parser, L-JSON

#4538 fix(migrate-eslint): load non-conventional shared config name
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Changelog

#4518 fix(formatter): don't move comments in grid-template
  CHANGELOG.md
  crates/biome_css_formatter/src/comments.rs
  crates/biome_css_formatter/tests/quick_test.rs
  crates/biome_css_formatter/tests/specs/css/properties/grid.css
  crates/biome_css_formatter/tests/specs/css/properties/grid.css.snap
Labels: A-Formatter, L-CSS, A-Changelog

#4543 fix(noUnknownPseudoClass): not error for pseudo class after webkit scrollbar element
  CHANGELOG.md
  crates/biome_css_analyze/src/lint/nursery/no_unknown_pseudo_class.rs
  crates/biome_css_analyze/tests/specs/nursery/noUnknownPseudoClass/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownPseudoClass/valid.css.snap
Labels: A-Linter, L-CSS, A-Changelog

#4546 refactor(js_syntax): add `TsDeclarationModule` node
  crates/biome_js_analyze/src/lint/nursery/no_irregular_whitespace.rs
  crates/biome_js_analyze/src/lint/nursery/use_adjacent_overload_signatures.rs
  crates/biome_js_analyze/src/lint/performance/no_barrel_file.rs
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/src/lint/suspicious/no_evolving_types.rs
  crates/biome_js_analyze/src/lint/suspicious/no_implicit_any_let.rs
  crates/biome_js_factory/src/generated/node_factory.rs
  crates/biome_js_factory/src/generated/syntax_factory.rs
  crates/biome_js_formatter/src/comments.rs
  crates/biome_js_formatter/src/generated.rs
  crates/biome_js_formatter/src/js/any/root.rs
  crates/biome_js_formatter/src/ts/auxiliary/declaration_module.rs
  crates/biome_js_formatter/src/ts/auxiliary/mod.rs
  crates/biome_js_parser/src/syntax/program.rs
  crates/biome_js_parser/tests/js_test_suite/ok/arguments_in_definition_file.d.ts.snap
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_syntax/src/generated/kind.rs
  crates/biome_js_syntax/src/generated/macros.rs
  crates/biome_js_syntax/src/generated/nodes.rs
  crates/biome_js_syntax/src/generated/nodes_mut.rs
  xtask/codegen/js.ungram
  xtask/codegen/src/js_kinds_src.rs
Labels: A-Linter, A-Parser, A-Formatter, A-Tooling, L-JavaScript

#4547 fix(noUndeclaredVariables): bind read in ambient context to import type
  CHANGELOG.md
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/validAmbientRead.d.ts
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/validAmbientRead.d.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/validAmbientRead.ts
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/validAmbientRead.ts.snap
  crates/biome_js_semantic/src/events.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#4542 feat(rules_check): validate the option examples for rules
  Cargo.lock
  crates/biome_analyze/CONTRIBUTING.md
  crates/biome_cli/tests/snapshots/main_commands_explain/explain_valid_rule.snap
  crates/biome_deserialize/README.md
  crates/biome_js_analyze/src/lint/a11y/no_blank_target.rs
  crates/biome_js_analyze/src/lint/a11y/no_label_without_control.rs
  crates/biome_js_analyze/src/lint/a11y/use_valid_aria_role.rs
  crates/biome_js_analyze/src/lint/complexity/no_excessive_cognitive_complexity.rs
  crates/biome_js_analyze/src/lint/correctness/no_undeclared_dependencies.rs
  crates/biome_js_analyze/src/lint/correctness/no_undeclared_variables.rs
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/src/lint/correctness/use_import_extensions.rs
  crates/biome_js_analyze/src/lint/nursery/no_restricted_imports.rs
  crates/biome_js_analyze/src/lint/nursery/no_restricted_types.rs
  crates/biome_js_analyze/src/lint/nursery/use_adjacent_overload_signatures.rs
  crates/biome_js_analyze/src/lint/nursery/use_component_export_only_modules.rs
  crates/biome_js_analyze/src/lint/nursery/use_consistent_member_accessibility.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes.rs
  crates/biome_js_analyze/src/lint/nursery/use_valid_autocomplete.rs
  crates/biome_js_analyze/src/lint/style/no_restricted_globals.rs
  crates/biome_js_analyze/src/lint/style/use_consistent_array_type.rs
  crates/biome_js_analyze/src/lint/style/use_filenaming_convention.rs
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/src/lint/suspicious/no_console.rs
  xtask/rules_check/Cargo.toml
  xtask/rules_check/src/lib.rs
Labels: A-CLI, A-Linter, A-Tooling, L-JavaScript, L-JSON

#4548 refactor: use `biome-ignore-all` for top level suppressions
  .changeset/new_top_level_suppression_for_the_analyzer.md
  Cargo.lock
  crates/biome_analyze/Cargo.toml
  crates/biome_analyze/src/diagnostics.rs
  crates/biome_analyze/src/lib.rs
  crates/biome_analyze/src/matcher.rs
  crates/biome_analyze/src/rule.rs
  crates/biome_analyze/src/suppression_action.rs
  crates/biome_cli/tests/cases/suppressions.rs
  crates/biome_cli/tests/snapshots/main_cases_suppressions/misplaced_top_level_suppression.snap
  crates/biome_cli/tests/snapshots/main_cases_suppressions/unused_suppression_after_top_level.snap
  crates/biome_css_analyze/src/lib.rs
  crates/biome_css_analyze/tests/suppression/suspicious/noDuplicateFontNames/noDuplicateFontNames.css.snap
  crates/biome_css_analyze/tests/suppression/suspicious/noEmptyBlock/noEmptyBlock.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_graphql_analyze/src/lib.rs
  crates/biome_graphql_analyze/tests/suppression/nursery/noDuplicatedFields/noDuplicatedFields.graphql.snap
  crates/biome_graphql_analyze/tests/suppression/nursery/useDeprecatedReason/useDeprecatedReason.graphql.snap
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/tests/suppression/a11y/useKeyWithClickEvents/invalid.jsx.snap
  crates/biome_js_analyze/tests/suppression/correctness/noUndeclaredVariables/noUndeclaredVariables.ts.snap
  crates/biome_js_analyze/tests/suppression/correctness/noUnusedVariables/simple.js.snap
  crates/biome_js_analyze/tests/suppression/suspicious/noArrayIndexKey/noArrayIndexKey.jsx.snap
  crates/biome_js_analyze/tests/suppression/suspicious/noAssignInExpressions/noAssignInExpressions.ts.snap
  crates/biome_js_analyze/tests/suppression/suspicious/noDoubleEquals/noDoubleEquals.js.snap
  crates/biome_js_analyze/tests/suppression/suspicious/noDoubleEquals/noDoubleEquals.jsx.snap
  crates/biome_js_analyze/tests/suppression/suspicious/noExplicitAny/noExplicitAny.ts.snap
  crates/biome_json_analyze/src/lib.rs
  crates/biome_suppression/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-CLI, A-Core, A-Linter, L-JavaScript, L-CSS, L-JSON, A-Diagnostic

#4571 fix(biome_js_analyze): use consistent code action markup for noAria*/useAria*
  crates/biome_js_analyze/src/lint/a11y/no_aria_hidden_on_focusable.rs
  crates/biome_js_analyze/src/lint/a11y/use_aria_activedescendant_with_tabindex.rs
Labels: A-Linter, L-JavaScript

#4570 fix(js_parser): unicode escape seq with multi-byte chars
  CHANGELOG.md
  crates/biome_js_parser/src/lexer/errors.rs
  crates/biome_js_parser/src/lexer/mod.rs
  crates/biome_js_parser/tests/js_test_suite/error/unicode_escape_unterminated.js
  crates/biome_js_parser/tests/js_test_suite/error/unicode_escape_unterminated.js.snap
  crates/biome_js_parser/tests/js_test_suite/error/unicode_escape_with_unicode_char.js
  crates/biome_js_parser/tests/js_test_suite/error/unicode_escape_with_unicode_char.js.snap
  crates/biome_js_parser/tests/js_test_suite/ok/unicode_escape_in_tagged_template.js
  crates/biome_js_parser/tests/js_test_suite/ok/unicode_escape_in_tagged_template.js.snap
Labels: A-Parser, L-JavaScript, A-Changelog

#4580 fix(js_semantic): scope for TsDeclarationModule
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_semantic/src/semantic_model/builder.rs
Labels: L-JavaScript

#4589 refactor(js_semantic): reduce BindingInfo size
  crates/biome_js_semantic/src/events.rs
Labels: L-JavaScript

#4590 refactor(noMisleadingCharacterClass): don't panic on malformed escape seq
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/suspicious/no_misleading_character_class.rs
  crates/biome_js_analyze/tests/specs/suspicious/noMisleadingCharacterClass/valid-malformed-ast.js
  crates/biome_js_analyze/tests/specs/suspicious/noMisleadingCharacterClass/valid-malformed-ast.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4578 fix(analyze/js): fix bindings in bogus imports not being detected as imports
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/issue4568.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/issue4568.js.snap
  crates/biome_js_semantic/src/semantic_model/import.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#4595 refactor(cli): don't consider files that don't end with the json extension as JSON files
  CHANGELOG.md
  crates/biome_cli/tests/cases/overrides_formatter.rs
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/allow_trailing_commas_on_well_known_files.snap
  crates/biome_json_syntax/src/file_source.rs
Labels: A-CLI, A-Parser, L-JSON, A-Changelog

#4599 refactor(biome_console): add blanket implementation of `biome_console::fmt::Display` for `Box<_>`
  crates/biome_console/src/fmt.rs
Labels: A-CLI

#4577 feat(biome_css_analyzer): update known css properties
  CHANGELOG.md
  crates/biome_css_analyze/src/keywords.rs
Labels: A-Linter, L-CSS, A-Changelog

#4597 fix(noUnusedImports): don't report used val imported as type in an external module
  CHANGELOG.md
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/valid-inner-imports.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/valid-inner-imports.ts.snap
  crates/biome_js_semantic/src/events.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#4601 fix(js_parser): don't panic on declare@
  CHANGELOG.md
  crates/biome_js_parser/src/syntax/js_parse_error.rs
  crates/biome_js_parser/src/syntax/typescript/statement.rs
  crates/biome_js_parser/tests/js_test_suite/error/ts_export_declare.ts
  crates/biome_js_parser/tests/js_test_suite/error/ts_export_declare.ts.snap
Labels: A-Parser, L-JavaScript, A-Changelog

#4572 docs(biome_js_analyze): improve biome_analyze/CONTRIBUTING.md
  crates/biome_analyze/CONTRIBUTING.md
Labels: A-Linter

#4523 refactor(aria): add abstractions for attribute lookup
  Cargo.lock
  crates/biome_aria/Cargo.toml
  crates/biome_aria/src/lib.rs
  crates/biome_aria/src/roles.rs
  crates/biome_js_analyze/src/lint/a11y/no_aria_hidden_on_focusable.rs
  crates/biome_js_analyze/src/lint/a11y/no_interactive_element_to_noninteractive_role.rs
  crates/biome_js_analyze/src/lint/a11y/no_noninteractive_element_to_interactive_role.rs
  crates/biome_js_analyze/src/lint/a11y/no_noninteractive_tabindex.rs
  crates/biome_js_analyze/src/lint/a11y/no_redundant_roles.rs
  crates/biome_js_analyze/src/lint/a11y/use_aria_activedescendant_with_tabindex.rs
  crates/biome_js_analyze/src/lint/a11y/use_focusable_interactive.rs
  crates/biome_js_analyze/src/lint/nursery/no_static_element_interactions.rs
  crates/biome_js_analyze/src/lint/nursery/use_aria_props_supported_by_role.rs
  crates/biome_js_analyze/src/services/aria.rs
  crates/biome_js_analyze/tests/specs/a11y/noRedundantRoles/invalid.jsx.snap
  crates/biome_js_syntax/Cargo.toml
  crates/biome_js_syntax/src/jsx_ext.rs
  crates/biome_js_syntax/src/static_value.rs
Labels: A-Linter, A-Parser, L-JavaScript

#4608 refactor(retsricted_glob): add `matches_directory_with_exceptions`
  crates/biome_js_analyze/src/utils/restricted_glob.rs
Labels: A-Linter, L-JavaScript

#4596 feat(noRestrictedImports): add import_names and allow_import_names settings
  crates/biome_js_analyze/src/lint/nursery/no_restricted_imports.rs
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/invalid.options.json
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/valid.options.json
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/valid.ts.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Linter, L-JavaScript

#4614 fix(css_formatter): don't wrap selector identation after css comments
  CHANGELOG.md
  crates/biome_css_formatter/src/css/lists/selector_list.rs
  crates/biome_css_formatter/src/css/selectors/complex_selector.rs
  crates/biome_css_formatter/tests/quick_test.rs
  crates/biome_css_formatter/tests/specs/css/issue_3229.css.snap
  crates/biome_css_formatter/tests/specs/css/selectors/selector_lists.css
  crates/biome_css_formatter/tests/specs/css/selectors/selector_lists.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/comments/selectors.css.snap
Labels: A-Formatter, L-JavaScript, L-CSS, A-Changelog

#4648 fix(noUselessFragments): fix result has invalid syntax when under JSX attribute
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/tests/quick_test.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_4553.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_4553.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4651 chore: extract `noPackagePrivateImports` rule
  .changeset/renamed_useimportrestrictions_to_nopackageprivateimports.md
  .changeset/the_rule_useimportrestrictions_has_been_moved_into_norestrictedimports.md
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_package_private_imports.rs
  crates/biome_js_analyze/src/lint/nursery/no_restricted_imports.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noPackagePrivateImports/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noPackagePrivateImports/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noPackagePrivateImports/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noPackagePrivateImports/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/invalidPackagePrivateImports.options.json
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/validPackagePrivateImports.options.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript, A-Diagnostic

#4609 feat(biome_glob): add dedicated crate for globs
  Cargo.lock
  Cargo.toml
  crates/biome_glob/Cargo.toml
  crates/biome_glob/src/lib.rs
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_analyze/src/assists/source/organize_imports.rs
  crates/biome_js_analyze/src/lint/correctness/no_undeclared_dependencies.rs
  crates/biome_js_analyze/src/utils.rs
  knope.toml
Labels: A-Linter, L-JavaScript

#4650 feat(linter): rule `noTsIgnore`
  .changeset/add_the_new_rule_notsignorehttps.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_ts_ignore.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noTsIgnore/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noTsIgnore/invalid.ts.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#4624 refactor: use `papaya` instead of DashMap for workspace documents
  Cargo.lock
  Cargo.toml
  crates/biome_service/Cargo.toml
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace/server.rs
  packages/@biomejs/wasm-web/package.json
Labels: A-Project

#4172 feat: useExportsLast
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_exports_last.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/invalid_multiline_export.js
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/invalid_multiline_export.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/invalid_multiple_separate_exports.js
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/invalid_multiple_separate_exports.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/invalid_named_export.js
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/invalid_named_export.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/invalid_re-export.js
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/invalid_re-export.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/valid_empty_file.js
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/valid_empty_file.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/valid_group_named_export.js
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/valid_group_named_export.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/valid_multiline_export.js
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/valid_multiline_export.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/valid_multiple_separate_exports.js
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/valid_multiple_separate_exports.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/valid_named_export.js
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/valid_named_export.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/valid_no_exports.js
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/valid_no_exports.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/valid_only_exports.js
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/valid_only_exports.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/valid_re-export.js
  crates/biome_js_analyze/tests/specs/nursery/useExportsLast/valid_re-export.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#4031 feat(linter): implement noLowerCaseEnum
  crates/biome_analyze/src/rule.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_graphql_analyze/src/lint/nursery.rs
  crates/biome_graphql_analyze/src/lint/nursery/use_naming_convention.rs
  crates/biome_graphql_analyze/src/options.rs
  crates/biome_graphql_analyze/tests/specs/nursery/useNamingConvention/invalid.graphql
  crates/biome_graphql_analyze/tests/specs/nursery/useNamingConvention/invalid.graphql.snap
  crates/biome_graphql_analyze/tests/specs/nursery/useNamingConvention/valid.graphql
  crates/biome_graphql_analyze/tests/specs/nursery/useNamingConvention/valid.graphql.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, A-Diagnostic
