Repository biomejs/biome, pull requests merged in 2024-10, with the labels that each got.

#4135 feat(useExhaustiveDependencies): add option to disable errors for unecessary dependencies
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/reportUnnecessaryDependencies.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/reportUnnecessaryDependencies.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/reportUnnecessaryDependencies.options.json
  crates/biome_service/tests/invalid/hooks_incorrect_options.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript

#4138 fix(lint): options for `noLabelWithoutControl` are optional
  CHANGELOG.md
  crates/biome_analyze/CONTRIBUTING.md
  crates/biome_js_analyze/src/lint/a11y/no_label_without_control.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript, A-Changelog

#4142 perf(linter): remove unneeded memory allocation for str
  crates/biome_css_analyze/src/lint/suspicious/no_shorthand_property_overrides.rs
  crates/biome_css_analyze/src/utils.rs
Labels: A-Linter, L-CSS

#4140 release: v1.9.3
  CHANGELOG.md
  aria-data-1-3-draft.json
  crates/biome_css_analyze/src/lint/nursery/no_descending_specificity.rs
  crates/biome_js_analyze/src/lint/nursery/no_nested_ternary.rs
  crates/biome_js_analyze/src/lint/nursery/no_octal_escape.rs
  crates/biome_js_analyze/src/lint/nursery/no_template_curly_in_string.rs
  crates/biome_js_analyze/src/lint/nursery/use_explicit_function_return_type.rs
  packages/@biomejs/biome/package.json
  packages/@biomejs/js-api/package.json
  packages/@biomejs/wasm-nodejs/package.json
Labels: A-Linter, L-JavaScript, L-CSS, A-Changelog

#4150 fix: add missing word
  crates/biome_js_analyze/src/lint/a11y/use_semantic_elements.rs
Labels: A-Linter, L-JavaScript

#4149 feat(useExhaustiveDependencies): add option to useExhaustiveDependencies to enable errors when the dependencies array is missing
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/reportMissingDependenciesArray.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/reportMissingDependenciesArray.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/reportMissingDependenciesArray.options.json
  crates/biome_service/tests/invalid/hooks_incorrect_options.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript, A-Changelog

#4157 chore: correct options name (ignoreNonDom) in the examples
  crates/biome_js_analyze/src/lint/a11y/use_valid_aria_role.rs
  crates/biome_js_analyze/src/lint/complexity/no_useless_this_alias.rs
Labels: A-Linter, L-JavaScript

#4167 docs: use code blocks to avoid rendering issue on the website
  crates/biome_js_analyze/src/lint/nursery/no_template_curly_in_string.rs
Labels: A-Linter, L-JavaScript

#4169 chore: change noBarrelFile language to js from ts
  crates/biome_js_analyze/src/lint/performance/no_barrel_file.rs
Labels: A-Linter, L-JavaScript

#4136 feat(lint): add `no-head-element` from `eslint-plugin-next`
  crates/biome_analyze/src/rule.rs
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_head_element.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noHeadElement/app/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noHeadElement/app/valid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noHeadElement/pages/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noHeadElement/pages/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noHeadElement/pages/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noHeadElement/pages/valid.jsx.snap
  crates/biome_test_utils/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#4186 fix(js): don't panic when escaping a string
  CHANGELOG.md
  crates/biome_js_factory/src/utils.rs
Labels: L-JavaScript, A-Changelog

#4175 fix(css_parser): accept more emoji
  CHANGELOG.md
  crates/biome_css_formatter/tests/specs/prettier/css/character-escaping/character_escaping.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/property/property-with-emoji.css
  crates/biome_css_parser/tests/css_test_suite/ok/property/property-with-emoji.css.snap
  crates/biome_unicode_table/src/lib.rs
Labels: A-Parser, A-Formatter, L-CSS, A-Changelog

#4155 feat(lint): add `noImgElement` rule
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_img_element.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noImgElement/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noImgElement/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noImgElement/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noImgElement/valid.jsx.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#2871 feat(linter): implement `noUnknownTypeSelector` rule
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_css_analyze/src/keywords.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_unknown_type_selector.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/src/utils.rs
  crates/biome_css_analyze/tests/specs/nursery/noUnknownTypeSelector/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownTypeSelector/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noUnknownTypeSelector/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownTypeSelector/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-CSS, A-Diagnostic

#4197 fix(linter): false positive
  CHANGELOG.md
  crates/biome_css_analyze/src/lint/nursery/no_missing_var_function.rs
  crates/biome_css_analyze/tests/specs/nursery/noMissingVarFunction/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noMissingVarFunction/valid.css.snap
Labels: A-Linter, L-CSS, A-Changelog

#4176 refactor(cli): use command runner to run predictable logic
  crates/biome_cli/src/changed.rs
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/lib.rs
Labels: A-CLI

#4198 refactor(cli): command runner
  crates/biome_analyze/src/rule.rs
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/migrate.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/search.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/snapshots/main_commands_check/fs_files_ignore_symlink.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_errors_for_all_disabled_checks.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/should_create_biome_json_file.snap
  crates/biome_css_analyze/src/utils.rs
Labels: A-CLI, A-Linter, L-CSS

#4199 fix(linter): `useSortedClasses` false positive
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes.rs
  crates/biome_js_analyze/tests/quick_test.rs
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/issue_4041.jsx
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/issue_4041.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4200 fix(analyze): improve diagnostic message for unused suppression comments
  CHANGELOG.md
  crates/biome_analyze/src/lib.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnreachable/SuppressionComments.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/ignoredDependencies.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4118 feat(noSecrets): refine the entropy computation to avoid some false positives
  crates/biome_analyze/src/rule.rs
  crates/biome_js_analyze/src/lint/nursery/no_secrets.rs
  crates/biome_js_analyze/tests/specs/nursery/noSecrets/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noSecrets/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noSecrets/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noSecrets/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript

#4174 feat(useExplicitFunctionReturnType): support typed function expressions
  crates/biome_js_analyze/src/lint/nursery/use_explicit_function_return_type.rs
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/valid.ts.snap
Labels: A-Linter, L-JavaScript

#4153 chore: deduplicate GritQL snippets
  .github/workflows/benchmark.yml
  crates/biome_grit_patterns/src/grit_target_language.rs
  crates/biome_grit_patterns/src/grit_target_node.rs
Labels: L-Grit

#4203 chore(grit): don't use `im::Vector` where we don't have to
  crates/biome_grit_patterns/src/grit_built_in_functions.rs
  crates/biome_grit_patterns/src/grit_resolved_pattern.rs
Labels: L-Grit

#4095 feat(format/grit): add basic formatting for where pattern
  Cargo.lock
  crates/biome_grit_formatter/Cargo.toml
  crates/biome_grit_formatter/src/context.rs
  crates/biome_grit_formatter/src/grit/lists/definition_list.rs
  crates/biome_grit_formatter/src/grit/lists/predicate_list.rs
  crates/biome_grit_formatter/src/grit/patterns/pattern_where.rs
  crates/biome_grit_formatter/src/grit/predicates/predicate_and.rs
  crates/biome_grit_formatter/tests/language.rs
  crates/biome_grit_formatter/tests/quick_test.rs
  crates/biome_grit_formatter/tests/specs/grit/patterns/if_pattern.grit
  crates/biome_grit_formatter/tests/specs/grit/patterns/if_pattern.grit.snap
  crates/biome_grit_formatter/tests/specs/grit/patterns/where_pattern.grit
  crates/biome_grit_formatter/tests/specs/grit/patterns/where_pattern.grit.snap
  crates/biome_service/src/file_handlers/grit.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/settings.rs
Labels: A-CLI, A-Project, A-Formatter, L-JavaScript, L-Grit

#4107 fix(linter): noUselessFragments deal html escapes under fragements wrong
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_4059.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_4059.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4209 fix(useExportType): remove useless inline type exports
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/src/lint/style/use_export_type.rs
  crates/biome_js_analyze/src/lint/style/use_import_type.rs
  crates/biome_js_analyze/tests/specs/style/useExportType/invalid.ts
  crates/biome_js_analyze/tests/specs/style/useExportType/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/style/useExportType/valid.ts
  crates/biome_js_analyze/tests/specs/style/useExportType/valid.ts.snap
  crates/biome_js_analyze/tests/specs/style/useImportType/invalid-combined.ts.snap
  crates/biome_js_analyze/tests/specs/style/useImportType/invalid-default-imports.ts.snap
  crates/biome_js_analyze/tests/specs/style/useImportType/invalid-named-imports.ts.snap
  crates/biome_js_analyze/tests/specs/style/useImportType/invalid-namesapce-imports.ts.snap
  crates/biome_js_analyze/tests/specs/style/useImportType/invalid-unused-react-types.tsx.snap
  crates/biome_js_analyze/tests/specs/style/useImportType/valid-unused-react-combined.tsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4184 feat(lint): add `noHeadImportInDocument` rule
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_head_import_in_document.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noHeadImportInDocument/app/_document.jsx
  crates/biome_js_analyze/tests/specs/nursery/noHeadImportInDocument/app/_document.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noHeadImportInDocument/pages/_document.jsx
  crates/biome_js_analyze/tests/specs/nursery/noHeadImportInDocument/pages/_document.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noHeadImportInDocument/pages/_document/index.jsx
  crates/biome_js_analyze/tests/specs/nursery/noHeadImportInDocument/pages/_document/index.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noHeadImportInDocument/pages/index.jsx
  crates/biome_js_analyze/tests/specs/nursery/noHeadImportInDocument/pages/index.jsx.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#4137 refactor(cli): better summary reporter
  CHANGELOG.md
  crates/biome_cli/src/reporter/summary.rs
  crates/biome_cli/tests/cases/reporter_summary.rs
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_check_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_format_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_lint_command.snap
  crates/biome_console/src/markup.rs
  crates/biome_diagnostics/src/advice.rs
  crates/biome_diagnostics/src/display.rs
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-CLI, A-Diagnostic, A-Changelog

#4222 docs(useNamingConvention): fix typo cas eof -> case of
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
Labels: A-Linter, L-JavaScript

#4120 feat(lint): add rule `useAtIndex`
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_at_index.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useAtIndex/invalid.jsonc
  crates/biome_js_analyze/tests/specs/nursery/useAtIndex/invalid.jsonc.snap
  crates/biome_js_analyze/tests/specs/nursery/useAtIndex/valid.jsonc
  crates/biome_js_analyze/tests/specs/nursery/useAtIndex/valid.jsonc.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#4229 fix(formatter): respect line width when printing multi-line strings
  CHANGELOG.md
  crates/biome_formatter/src/printer/mod.rs
  crates/biome_js_formatter/tests/specs/js/module/declarations/variable_declaration.js.snap
Labels: A-Formatter, L-JavaScript, A-Changelog

#4232 perf: upgrade Grit and remove `im` crate
  CHANGELOG.md
  Cargo.lock
  crates/biome_grit_patterns/Cargo.toml
  crates/biome_grit_patterns/src/grit_binding.rs
  crates/biome_grit_patterns/src/grit_built_in_functions.rs
  crates/biome_grit_patterns/src/grit_code_snippet.rs
  crates/biome_grit_patterns/src/grit_context.rs
  crates/biome_grit_patterns/src/grit_file.rs
  crates/biome_grit_patterns/src/grit_node.rs
  crates/biome_grit_patterns/src/grit_node_patterns.rs
  crates/biome_grit_patterns/src/grit_query.rs
  crates/biome_grit_patterns/src/grit_resolved_pattern.rs
  crates/biome_grit_patterns/src/grit_target_node.rs
  crates/biome_grit_patterns/src/pattern_compiler/accumulate_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/as_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/auto_wrap.rs
  crates/biome_grit_patterns/src/pattern_compiler/bubble_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/call_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/compilation_context.rs
  crates/biome_grit_patterns/src/pattern_compiler/log_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/not_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/pattern_definition_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/snippet_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/step_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/variable_compiler.rs
  crates/biome_grit_patterns/src/variables.rs
Labels: A-Changelog, L-Grit

#4204 feat(lint): add `noDocumentCookie` rule
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_document_cookie.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noDocumentCookie/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noDocumentCookie/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noDocumentCookie/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noDocumentCookie/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#4104 feat(linter): support useGuardForIn
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_guard_for_in.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useGuardForIn/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useGuardForIn/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useGuardForIn/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useGuardForIn/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#4237 fix(noUnusedFunctionParameters): ignore parameter in constructor types
  CHANGELOG.md
  crates/biome_js_analyze/tests/specs/correctness/noUnusedFunctionParameters/issue4227.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedFunctionParameters/issue4227.ts.snap
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_semantic/src/semantic_model/builder.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#4244 feat: remove support for rome.json
  .changeset/remove_support_for_romejson.md
  Cargo.lock
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/diagnostics.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/commands/migrate.rs
  crates/biome_cli/tests/snapshots/main_commands_check/fs_files_ignore_symlink.snap
  crates/biome_cli/tests/snapshots/main_commands_format/custom_config_file_path.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/emit_diagnostic_for_rome_json.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/should_create_biome_json_file.snap
  crates/biome_fs/src/fs.rs
  crates/biome_fs/src/lib.rs
  crates/biome_lsp/src/server.rs
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_wasm/Cargo.toml
  packages/@biomejs/cli-darwin-arm64/package.json
  packages/@biomejs/cli-darwin-x64/package.json
  packages/@biomejs/cli-linux-arm64-musl/package.json
  packages/@biomejs/cli-linux-arm64/package.json
  packages/@biomejs/cli-linux-x64-musl/package.json
  packages/@biomejs/cli-linux-x64/package.json
  packages/@biomejs/cli-win32-arm64/package.json
  packages/@biomejs/cli-win32-x64/package.json
  packages/@biomejs/wasm-bundler/package.json
  packages/@biomejs/wasm-nodejs/package.json
  packages/@biomejs/wasm-web/package.json
Labels: A-CLI, A-Core, A-Project, A-LSP

#4238 feat(format/grit): add formatting for predicate assignment and predicate and
  crates/biome_grit_formatter/src/grit/predicates/predicate_and.rs
  crates/biome_grit_formatter/src/grit/predicates/predicate_assignment.rs
  crates/biome_grit_formatter/tests/specs/grit/patterns/where_pattern.grit.snap
  crates/biome_grit_formatter/tests/specs/grit/predicates/assignment.grit
  crates/biome_grit_formatter/tests/specs/grit/predicates/assignment.grit.snap
Labels: A-Formatter, L-Grit

#4255 feat(lint): add variable assignment tracking to `noDocumentCookie` rule
  crates/biome_js_analyze/src/lint/nursery/no_document_cookie.rs
  crates/biome_js_analyze/tests/specs/nursery/noDocumentCookie/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noDocumentCookie/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noDocumentCookie/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noDocumentCookie/valid.js.snap
Labels: A-Linter, L-JavaScript

#4261 chore(linter): rename `useExplicitFunctionReturnType` to `useExplicit…
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_explicit_type.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/valid.d.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/valid.d.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/valid.ts.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#4260 fix(useFilenamingConvention): take export renaming into account
  CHANGELOG.md
  Cargo.lock
  crates/biome_js_analyze/src/lint/style/use_filenaming_convention.rs
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/Invalid_Renamed_Export.js
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/Invalid_Renamed_Export.js.snap
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/Valid_Renamed_Export.js
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/Valid_Renamed_Export.js.snap
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/Valid_Renamed_Export.snap
  crates/biome_js_semantic/Cargo.toml
  crates/biome_js_semantic/src/semantic_model/binding.rs
  crates/biome_js_semantic/src/semantic_model/builder.rs
  crates/biome_js_semantic/src/semantic_model/model.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#4265 feat(lint): add `noDocumentImportInPage` rule
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_document_import_in_page.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noDocumentImportInPage/app/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noDocumentImportInPage/app/valid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noDocumentImportInPage/pages/_document.jsx
  crates/biome_js_analyze/tests/specs/nursery/noDocumentImportInPage/pages/_document.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noDocumentImportInPage/pages/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noDocumentImportInPage/pages/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noDocumentImportInPage/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noDocumentImportInPage/valid.jsx.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#4283 fix(linter): noUnknownFunction support calc-size function
  CHANGELOG.md
  crates/biome_css_analyze/src/keywords.rs
  crates/biome_css_analyze/tests/specs/correctness/noUnknownFunction/valid.css
  crates/biome_css_analyze/tests/specs/correctness/noUnknownFunction/valid.css.snap
Labels: A-Linter, L-CSS, A-Changelog

#4029 feat(linter): implement `noDuplicateProperties`
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_duplicate_properties.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateProperties/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateProperties/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateProperties/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateProperties/valid.css.snap
  crates/biome_css_semantic/src/events.rs
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-CSS, A-Diagnostic

#4271 fix: reduce accepted values for options
  .changeset/reduced_accepted_values.md
  .changeset/reduced_accepted_values_for_js_options.md
  .changeset/reduced_accepted_values_of_options.md
  crates/biome_formatter/src/lib.rs
  crates/biome_js_formatter/src/context.rs
  crates/biome_js_formatter/src/context/trailing_commas.rs
Labels: A-Formatter, L-JavaScript

#4266 feat: remove `trailingComma` option
  .changeset/remove_trailingcomma.md
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/applies_custom_trailing_commas_overriding_the_deprecated_option.snap
  crates/biome_cli/tests/snapshots/main_commands_format/applies_custom_trailing_commas_using_the_deprecated_option.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_configuration/src/javascript/formatter.rs
  crates/biome_migrate/src/analyzers.rs
  crates/biome_migrate/src/analyzers/trailing_comma.rs
  crates/biome_migrate/tests/specs/migrations/trailingComma/invalid.json
  crates/biome_migrate/tests/specs/migrations/trailingComma/invalid.json.snap
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/tests/valid/deprecated_options_inside_javascript.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project

#4270 feat: remove `--indent-size`
  .changeset/remove_indentsize_option.md
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/diagnostics.rs
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/tests/cases/biome_json_support.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/configs.rs
  crates/biome_cli/tests/snapshots/main_cases_biome_json_support/formatter_biome_json.snap
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/applies_custom_configuration.snap
  crates/biome_cli/tests/snapshots/main_commands_format/applies_custom_configuration_over_config_file.snap
  crates/biome_cli/tests/snapshots/main_commands_format/applies_custom_configuration_over_config_file_issue_3175_v1.snap
  crates/biome_cli/tests/snapshots/main_commands_format/custom_config_file_path.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_with_configuration.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_apply_different_formatting.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_apply_different_formatting_with_cli.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_apply_different_indent_style.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_not_format_css_files_if_disabled.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_not_format_js_files_if_disabled.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_not_format_json_files_if_disabled.snap
  crates/biome_cli/tests/snapshots/main_configuration/correct_root.snap
  crates/biome_configuration/src/formatter.rs
  crates/biome_configuration/src/javascript/formatter.rs
  crates/biome_configuration/src/json.rs
  crates/biome_configuration/src/overrides.rs
  crates/biome_migrate/src/analyzers.rs
  crates/biome_migrate/src/analyzers/indent_size.rs
  crates/biome_migrate/tests/specs/migrations/indentSize/invalid.json
  crates/biome_migrate/tests/specs/migrations/indentSize/invalid.json.snap
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/settings.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project

#4289 feat: remove environment variable `BIOME_LOG_DIR`
  .changeset/remove_biome_log_dir.md
  crates/biome_cli/src/commands/daemon.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/commands/rage.rs
Labels: A-CLI

#4290 fix(linter): fix false-positve and improve the error of noDuplicateCustomProperties
  CHANGELOG.md
  crates/biome_css_analyze/src/lint/nursery/no_duplicate_custom_properties.rs
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateCustomProperties/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateCustomProperties/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateCustomProperties/valid.css.snap
Labels: A-Linter, L-CSS, A-Changelog

#4286 fix(lint): allow readonly modifier on indexParameter in `useNamingConvention`
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidIndexParameter.ts
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidIndexParameter.ts.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validIndexParameter.ts
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validIndexParameter.ts.snap
  crates/biome_js_syntax/src/modifier_ext.rs
Labels: A-Linter, A-Parser, L-JavaScript, A-Changelog

#4291 refactor: remove dead code
  crates/biome_configuration/src/javascript/mod.rs
Labels: A-Project

#4263 feat(linter): implement noUselessStringRaw
  CHANGELOG.md
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_useless_string_raw.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessStringRaw/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessStringRaw/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUselessStringRaw/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessStringRaw/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#4301 feat(biome_js_parser): support defer attribute in import statements
  CHANGELOG.md
  crates/biome_js_factory/src/generated/node_factory.rs
  crates/biome_js_factory/src/generated/syntax_factory.rs
  crates/biome_js_formatter/src/js/module/import_namespace_clause.rs
  crates/biome_js_formatter/tests/specs/js/module/import/import_defer_attribute.js
  crates/biome_js_formatter/tests/specs/js/module/import/import_defer_attribute.js.snap
  crates/biome_js_parser/src/lexer/mod.rs
  crates/biome_js_parser/src/syntax/module.rs
  crates/biome_js_parser/src/tests.rs
  crates/biome_js_parser/test_data/inline/err/import_err.rast
  crates/biome_js_parser/test_data/inline/ok/import_decl.rast
  crates/biome_js_parser/test_data/inline/ok/import_defer_clause.js
  crates/biome_js_parser/test_data/inline/ok/import_defer_clause.rast
  crates/biome_js_parser/test_data/inline/ok/ts_import_clause_types.rast
  crates/biome_js_syntax/src/generated/kind.rs
  crates/biome_js_syntax/src/generated/nodes.rs
  crates/biome_js_syntax/src/generated/nodes_mut.rs
  xtask/codegen/js.ungram
  xtask/codegen/src/js_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-JavaScript, A-Changelog

#4303 chore: add more test case for defer import parser
  CHANGELOG.md
  crates/biome_js_parser/src/syntax/module.rs
  crates/biome_js_parser/test_data/inline/err/import_defer_clause.js
  crates/biome_js_parser/test_data/inline/err/import_defer_clause.rast
Labels: A-Parser, L-JavaScript, A-Changelog

#4179 feat(lint): useCollapsedIf JS lint rule
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_collapsed_if.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useCollapsedIf/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useCollapsedIf/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useCollapsedIf/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useCollapsedIf/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#4287 fix(lint/noSuspiciousSemicolonInJsx): catch suspicious semicolon in fragment
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/suspicious/no_suspicious_semicolon_in_jsx.rs
  crates/biome_js_analyze/tests/specs/suspicious/noSuspiciousSemicolonInJsx/invalid.jsx
  crates/biome_js_analyze/tests/specs/suspicious/noSuspiciousSemicolonInJsx/invalid.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4300 fix(lint/noInteractiveElementToNoninteractiveRole): fix <source /> error case
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/a11y/no_interactive_element_to_noninteractive_role.rs
  crates/biome_js_analyze/tests/specs/a11y/noInteractiveElementToNoninteractiveRole/valid.jsx
  crates/biome_js_analyze/tests/specs/a11y/noInteractiveElementToNoninteractiveRole/valid.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4316 refactor(useFilenamingConvention): use the Cases bit flags for filename cases
  crates/biome_deserialize_macros/src/deserializable_derive.rs
  crates/biome_js_analyze/src/lint/style/use_filenaming_convention.rs
Labels: A-Linter, L-JavaScript

#4264 feat(lint): add `useGoogleFontDisplay` rule
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_google_font_display.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useGoogleFontDisplay/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useGoogleFontDisplay/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useGoogleFontDisplay/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useGoogleFontDisplay/valid.jsx.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#3462 feat(biome_js_parser): support ts resolution-mode import
  CHANGELOG.md
  crates/biome_js_factory/src/generated/node_factory.rs
  crates/biome_js_factory/src/generated/syntax_factory.rs
  crates/biome_js_formatter/src/ts/module/import_type.rs
  crates/biome_js_formatter/tests/specs/ts/type/import_type_with_resolution_mode.ts
  crates/biome_js_formatter/tests/specs/ts/type/import_type_with_resolution_mode.ts.snap
  crates/biome_js_parser/src/syntax/expr.rs
  crates/biome_js_parser/src/syntax/typescript/types.rs
  crates/biome_js_parser/src/tests.rs
  crates/biome_js_parser/test_data/inline/err/import_invalid_args.js
  crates/biome_js_parser/test_data/inline/err/import_invalid_args.rast
  crates/biome_js_parser/test_data/inline/ok/import_call.js
  crates/biome_js_parser/test_data/inline/ok/import_call.rast
  crates/biome_js_parser/test_data/inline/ok/ts_import_type.rast
  crates/biome_js_parser/test_data/inline/ok/ts_import_type.ts
  crates/biome_js_parser/test_data/inline/ok/ts_infer_type_allowed.rast
  crates/biome_js_syntax/src/generated/nodes.rs
  crates/biome_js_syntax/src/generated/nodes_mut.rs
  xtask/codegen/js.ungram
Labels: A-Parser, A-Formatter, A-Tooling, L-JavaScript, A-Changelog

#4320 release: v1.9.4
  CHANGELOG.md
  crates/biome_css_analyze/src/lint/nursery/no_duplicate_properties.rs
  crates/biome_css_analyze/src/lint/nursery/no_unknown_type_selector.rs
  crates/biome_js_analyze/src/lint/nursery/no_document_cookie.rs
  crates/biome_js_analyze/src/lint/nursery/no_document_import_in_page.rs
  crates/biome_js_analyze/src/lint/nursery/no_head_element.rs
  crates/biome_js_analyze/src/lint/nursery/no_head_import_in_document.rs
  crates/biome_js_analyze/src/lint/nursery/no_img_element.rs
  crates/biome_js_analyze/src/lint/nursery/no_useless_string_raw.rs
  crates/biome_js_analyze/src/lint/nursery/use_at_index.rs
  crates/biome_js_analyze/src/lint/nursery/use_collapsed_if.rs
  crates/biome_js_analyze/src/lint/nursery/use_google_font_display.rs
  crates/biome_js_analyze/src/lint/nursery/use_guard_for_in.rs
  crates/biome_js_factory/src/generated/node_factory.rs
  crates/biome_js_factory/src/generated/syntax_factory.rs
  crates/biome_js_formatter/src/js/module/import_namespace_clause.rs
  crates/biome_js_formatter/tests/specs/js/module/import/import_defer_attribute.js
  crates/biome_js_formatter/tests/specs/js/module/import/import_defer_attribute.js.snap
  crates/biome_js_parser/src/lexer/mod.rs
  crates/biome_js_parser/src/syntax/module.rs
  crates/biome_js_parser/src/tests.rs
  crates/biome_js_parser/test_data/inline/err/import_defer_clause.js
  crates/biome_js_parser/test_data/inline/err/import_defer_clause.rast
  crates/biome_js_parser/test_data/inline/err/import_err.rast
  crates/biome_js_parser/test_data/inline/ok/import_decl.rast
  crates/biome_js_parser/test_data/inline/ok/import_defer_clause.js
  crates/biome_js_parser/test_data/inline/ok/import_defer_clause.rast
  crates/biome_js_parser/test_data/inline/ok/ts_import_clause_types.rast
  crates/biome_js_syntax/src/generated/kind.rs
  crates/biome_js_syntax/src/generated/nodes.rs
  crates/biome_js_syntax/src/generated/nodes_mut.rs
  packages/@biomejs/biome/package.json
  xtask/codegen/js.ungram
  xtask/codegen/src/js_kinds_src.rs
Labels: A-Linter, A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-CSS, A-Changelog

#4100 feat(lint): add `noUselessUndefined`
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_useless_undefined.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessUndefined/invalid.json
  crates/biome_js_analyze/tests/specs/nursery/noUselessUndefined/invalid.json.snap
  crates/biome_js_analyze/tests/specs/nursery/noUselessUndefined/valid.json
  crates/biome_js_analyze/tests/specs/nursery/noUselessUndefined/valid.json.snap
  crates/biome_unicode_table/src/tables.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#4330 chore: remove useless conflict on CHANGELOG
  CHANGELOG.md
Labels: A-Changelog

#4312 feat(graphql_analyze): add suppression action for the GraphQL linter
  CHANGELOG.md
  crates/biome_graphql_analyze/src/suppression_action.rs
  crates/biome_graphql_analyze/tests/spec_tests.rs
  crates/biome_graphql_analyze/tests/suppression/nursery/noDuplicatedFields/noDuplicatedFields.graphql
  crates/biome_graphql_analyze/tests/suppression/nursery/noDuplicatedFields/noDuplicatedFields.graphql.snap
  crates/biome_graphql_analyze/tests/suppression/nursery/useDeprecatedReason/useDeprecatedReason.graphql
  crates/biome_graphql_analyze/tests/suppression/nursery/useDeprecatedReason/useDeprecatedReason.graphql.snap
Labels: A-Linter, A-Changelog, S-Merge for next minor

#4321 feat(useFilenamingConvention): add the match option
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_typescript.rs
  crates/biome_cli/src/execute/migrate/eslint_unicorn.rs
  crates/biome_js_analyze/src/lint/style/use_filenaming_convention.rs
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/src/utils.rs
  crates/biome_js_analyze/src/utils/restricted_regex.rs
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/%validMatch.options.json
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/%validMatch.ts
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/%validMatch.ts.snap
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/invalidMatch.js
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/invalidMatch.js.snap
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/invalidMatch.options.json
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/invalidMatchExtension.INVALID.js
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/invalidMatchExtension.INVALID.js.snap
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/invalidMatchExtension.INVALID.options.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Linter, L-JavaScript, A-Changelog, S-Merge for next minor

#4327 feat(format/grit): add logic for formatting with separators and other predicates
  crates/biome_grit_formatter/src/grit/auxiliary/like.rs
  crates/biome_grit_formatter/src/grit/lists/predicate_list.rs
  crates/biome_grit_formatter/src/grit/predicates/predicate_accumulate.rs
  crates/biome_grit_formatter/src/grit/predicates/predicate_match.rs
  crates/biome_grit_formatter/src/grit/predicates/predicate_rewrite.rs
  crates/biome_grit_formatter/src/lib.rs
  crates/biome_grit_formatter/src/prelude.rs
  crates/biome_grit_formatter/src/separated.rs
  crates/biome_grit_formatter/tests/specs/grit/patterns/create_new_files.grit
  crates/biome_grit_formatter/tests/specs/grit/patterns/create_new_files.grit.snap
Labels: A-Formatter, L-Grit

#4338 refactor(restricted-regex): accept non-capturing groups with flags
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/style/use_filenaming_convention.rs
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/src/utils/restricted_regex.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#4234 feat: plugin loader
  Cargo.lock
  Cargo.toml
  crates/biome_analyze/src/rule.rs
  crates/biome_configuration/src/diagnostics.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_configuration/src/plugins.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_fs/src/fs.rs
  crates/biome_grit_patterns/Cargo.toml
  crates/biome_js_analyze/src/lint/nursery/use_collapsed_if.rs
  crates/biome_parser/src/lib.rs
  crates/biome_plugin_loader/Cargo.toml
  crates/biome_plugin_loader/src/analyzer_grit_plugin.rs
  crates/biome_plugin_loader/src/analyzer_plugin.rs
  crates/biome_plugin_loader/src/diagnostics.rs
  crates/biome_plugin_loader/src/lib.rs
  crates/biome_plugin_loader/src/plugin_manifest.rs
  crates/biome_plugin_loader/src/snapshots/deserialization_error.snap
  crates/biome_plugin_loader/src/snapshots/load_plugin_with_wrong_rule_extension.snap
  crates/biome_plugin_loader/src/snapshots/load_plugin_with_wrong_version.snap
  crates/biome_plugin_loader/src/snapshots/load_plugin_without_manifest.snap
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_test_utils/src/lib.rs
  knope.toml
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Core, A-Project, A-Linter, A-Parser, L-JavaScript, A-Diagnostic, L-Grit

#4341 build: upgrade to rust 1.82.0
  crates/biome_formatter/src/macros.rs
  crates/biome_js_analyze/src/lint/correctness/no_flat_map_identity.rs
  crates/biome_suppression/src/lib.rs
  rust-toolchain.toml
Labels: A-Core, A-Linter, A-Formatter, L-JavaScript

#4008 feat: flag to suppress existing diagnostics
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/migrate.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/cases/suppressions.rs
  crates/biome_cli/tests/snapshots/main_cases_suppressions/err_when_both_write_and_suppress_are_passed.snap
  crates/biome_cli/tests/snapshots/main_cases_suppressions/suppress_multiple_ok.snap
  crates/biome_cli/tests/snapshots/main_cases_suppressions/suppress_ok.snap
  crates/biome_cli/tests/snapshots/main_cases_suppressions/suppress_only_ok.snap
  crates/biome_cli/tests/snapshots/main_cases_suppressions/suppress_skip_ok.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/workspace.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-CLI, A-Project, L-JavaScript, S-Merge for next minor

#3997 feat(lint/noPrototypeBuiltins): add code fix action and cover scenarios from `prefer-object-has-own`
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_js_analyze/src/lint/suspicious/no_prototype_builtins.rs
  crates/biome_js_analyze/tests/specs/suspicious/noPrototypeBuiltins/invalid.js
  crates/biome_js_analyze/tests/specs/suspicious/noPrototypeBuiltins/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noPrototypeBuiltins/valid.js
  crates/biome_js_analyze/tests/specs/suspicious/noPrototypeBuiltins/valid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noPrototypeBuiltins/validClass.js
  crates/biome_js_analyze/tests/specs/suspicious/noPrototypeBuiltins/validClass.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noPrototypeBuiltins/validNonGlobalObject.js
  crates/biome_js_analyze/tests/specs/suspicious/noPrototypeBuiltins/validNonGlobalObject.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noPrototypeBuiltins/validPrototype.js
  crates/biome_js_analyze/tests/specs/suspicious/noPrototypeBuiltins/validPrototype.js.snap
  crates/biome_js_semantic/src/semantic_model/scope.rs
  crates/biome_js_syntax/src/expr_ext.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, A-Parser, L-JavaScript, S-Merge for next minor

#4313 feat(organize_import): utilities for ordering import sources
  Cargo.lock
  crates/biome_css_analyze/src/lint/a11y/use_generic_font_names.rs
  crates/biome_css_analyze/src/lint/correctness/no_invalid_direction_in_linear_gradient.rs
  crates/biome_css_analyze/src/lint/correctness/no_unknown_property.rs
  crates/biome_css_analyze/src/lint/correctness/no_unknown_unit.rs
  crates/biome_css_analyze/src/lint/nursery/no_unknown_pseudo_class.rs
  crates/biome_css_analyze/src/lint/nursery/no_unknown_pseudo_element.rs
  crates/biome_css_analyze/src/lint/suspicious/no_duplicate_font_names.rs
  crates/biome_css_analyze/src/lint/suspicious/no_duplicate_selectors_keyframe_block.rs
  crates/biome_css_analyze/src/utils.rs
  crates/biome_css_formatter/src/lib.rs
  crates/biome_css_formatter/src/utils/component_value_list.rs
  crates/biome_css_formatter/src/utils/string_utils.rs
  crates/biome_formatter/src/token/number.rs
  crates/biome_js_analyze/src/assists/source/organize_imports.rs
  crates/biome_js_analyze/src/assists/source/organize_imports/util.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/a11y/no_redundant_alt.rs
  crates/biome_js_analyze/src/lint/a11y/no_svg_without_title.rs
  crates/biome_js_analyze/src/lint/a11y/use_key_with_click_events.rs
  crates/biome_js_analyze/src/lint/a11y/use_media_caption.rs
  crates/biome_js_analyze/src/lint/suspicious/use_valid_typeof.rs
  crates/biome_js_formatter/src/js/expressions/bigint_literal_expression.rs
  crates/biome_js_formatter/src/ts/types/bigint_literal_type.rs
  crates/biome_rowan/src/token_text.rs
  crates/biome_string_case/src/lib.rs
Labels: A-Core, A-Linter, A-Formatter, L-JavaScript, L-CSS

#4363 docs(useAtIndex): fix typo chatAt -> charAt
  crates/biome_js_analyze/src/lint/nursery/use_at_index.rs
Labels: A-Linter, L-JavaScript

#4360 feat(parser/js): remove assert syntax
  .changeset/removed_support_for_assert.md
  crates/biome_js_factory/src/generated/node_factory.rs
  crates/biome_js_factory/src/generated/syntax_factory.rs
  crates/biome_js_formatter/src/js/module/import_assertion.rs
  crates/biome_js_formatter/tests/specs/js/module/export/bracket-spacing/export_bracket_spacing.js
  crates/biome_js_formatter/tests/specs/js/module/export/bracket-spacing/export_bracket_spacing.js.snap
  crates/biome_js_formatter/tests/specs/js/module/export/from_clause.js
  crates/biome_js_formatter/tests/specs/js/module/export/from_clause.js.snap
  crates/biome_js_formatter/tests/specs/js/module/export/named_from_clause.js
  crates/biome_js_formatter/tests/specs/js/module/export/named_from_clause.js.snap
  crates/biome_js_formatter/tests/specs/js/module/import/bare_import.js
  crates/biome_js_formatter/tests/specs/js/module/import/bare_import.js.snap
  crates/biome_js_formatter/tests/specs/js/module/import/bracket-spacing/import_bracket_spacing.js
  crates/biome_js_formatter/tests/specs/js/module/import/bracket-spacing/import_bracket_spacing.js.snap
  crates/biome_js_formatter/tests/specs/js/module/import/default_import.js
  crates/biome_js_formatter/tests/specs/js/module/import/default_import.js.snap
  crates/biome_js_formatter/tests/specs/js/module/import/import_specifiers.js
  crates/biome_js_formatter/tests/specs/js/module/import/import_specifiers.js.snap
  crates/biome_js_formatter/tests/specs/js/module/string/quotePreserve/string.js
  crates/biome_js_formatter/tests/specs/js/module/string/quotePreserve/string.js.snap
  crates/biome_js_formatter/tests/specs/js/module/string/quoteSingle/string.js
  crates/biome_js_formatter/tests/specs/js/module/string/quoteSingle/string.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/babel-plugins/import-assertions-static.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/import-assertions/bracket-spacing/empty.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/import-assertions/bracket-spacing/re-export.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/import-assertions/bracket-spacing/static-import.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/import-assertions/empty.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/import-assertions/multi-types.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/import-assertions/non-type.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/import-assertions/re-export.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/import-assertions/static-import.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/import-assertions/without-from.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/import-attributes/keyword-detect.js.snap
  crates/biome_js_parser/src/syntax/module.rs
  crates/biome_js_parser/test_data/inline/err/import_assertion_err.rast
  crates/biome_js_parser/test_data/inline/err/import_attribute_err.js
  crates/biome_js_parser/test_data/inline/err/import_attribute_err.rast
  crates/biome_js_parser/test_data/inline/ok/export_from_clause.js
  crates/biome_js_parser/test_data/inline/ok/export_from_clause.rast
  crates/biome_js_parser/test_data/inline/ok/export_named_from_clause.js
  crates/biome_js_parser/test_data/inline/ok/export_named_from_clause.rast
  crates/biome_js_parser/test_data/inline/ok/import_assertion.js
  crates/biome_js_parser/test_data/inline/ok/import_assertion.rast
  crates/biome_js_parser/test_data/inline/ok/import_attribute.rast
  crates/biome_js_syntax/src/generated/nodes.rs
  crates/biome_js_syntax/src/generated/nodes_mut.rs
  xtask/codegen/js.ungram
Labels: A-Parser, A-Formatter, A-Tooling, L-JavaScript

#4364 fix(noTypeOnlyImportAttributes): ignore .cts files
  CHANGELOG.md
  crates/biome_js_analyze/src/syntax/correctness/no_initializer_with_definite.rs
  crates/biome_js_analyze/src/syntax/correctness/no_type_only_import_attributes.rs
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_js_analyze/tests/specs/correctness/noTypeOnlyImportAttributes/valid.cts
  crates/biome_js_analyze/tests/specs/correctness/noTypeOnlyImportAttributes/valid.cts.snap
  crates/biome_js_analyze/tests/specs/correctness/noTypeOnlyImportAttributes/valid_cjs.package.json
  crates/biome_js_syntax/src/file_source.rs
Labels: A-Linter, A-Parser, L-JavaScript, A-Changelog

#4324 fix(js_parser): allow a trailing comma in setters
  CHANGELOG.md
  crates/biome_grit_patterns/src/grit_target_language/js_target_language/constants.rs
  crates/biome_js_factory/src/generated/node_factory.rs
  crates/biome_js_factory/src/generated/syntax_factory.rs
  crates/biome_js_formatter/src/js/classes/setter_class_member.rs
  crates/biome_js_formatter/src/js/objects/setter_object_member.rs
  crates/biome_js_formatter/src/ts/auxiliary/setter_signature_type_member.rs
  crates/biome_js_formatter/src/ts/classes/setter_signature_class_member.rs
  crates/biome_js_formatter/tests/specs/js/module/object/getter_setter.js
  crates/biome_js_formatter/tests/specs/js/module/object/getter_setter.js.snap
  crates/biome_js_formatter/tests/specs/ts/decorators/class_members.ts
  crates/biome_js_formatter/tests/specs/ts/decorators/class_members.ts.snap
  crates/biome_js_formatter/tests/specs/ts/expression/type_member.ts
  crates/biome_js_formatter/tests/specs/ts/expression/type_member.ts.snap
  crates/biome_js_formatter/tests/specs/ts/no-semi/class.ts
  crates/biome_js_formatter/tests/specs/ts/no-semi/class.ts.snap
  crates/biome_js_parser/src/syntax/class.rs
  crates/biome_js_parser/src/syntax/object.rs
  crates/biome_js_parser/src/syntax/typescript/types.rs
  crates/biome_js_parser/test_data/inline/err/object_expr_setter.rast
  crates/biome_js_parser/test_data/inline/err/setter_class_member.rast
  crates/biome_js_parser/test_data/inline/err/setter_class_no_body.rast
  crates/biome_js_parser/test_data/inline/err/ts_abstract_member_ansi.rast
  crates/biome_js_parser/test_data/inline/err/ts_decorator_object.rast
  crates/biome_js_parser/test_data/inline/err/ts_decorator_on_class_setter.rast
  crates/biome_js_parser/test_data/inline/err/ts_decorator_setter_signature.rast
  crates/biome_js_parser/test_data/inline/err/ts_method_members_with_missing_body.rast
  crates/biome_js_parser/test_data/inline/ok/array_or_object_member_assignment.rast
  crates/biome_js_parser/test_data/inline/ok/decorator_class_member.rast
  crates/biome_js_parser/test_data/inline/ok/setter_class_member.js
  crates/biome_js_parser/test_data/inline/ok/setter_class_member.rast
  crates/biome_js_parser/test_data/inline/ok/setter_object_member.js
  crates/biome_js_parser/test_data/inline/ok/setter_object_member.rast
  crates/biome_js_parser/test_data/inline/ok/ts_abstract_classes.rast
  crates/biome_js_parser/test_data/inline/ok/ts_abstract_classes.ts
  crates/biome_js_parser/test_data/inline/ok/ts_decorated_class_members.rast
  crates/biome_js_parser/test_data/inline/ok/ts_decorator_on_class_setter.rast
  crates/biome_js_parser/test_data/inline/ok/ts_setter_signature_member.rast
  crates/biome_js_parser/test_data/inline/ok/ts_setter_signature_member.ts
  crates/biome_js_parser/test_data/inline/ok/typescript_members_can_have_no_body_in_ambient_context.rast
  crates/biome_js_syntax/src/generated/nodes.rs
  crates/biome_js_syntax/src/generated/nodes_mut.rs
  xtask/codegen/js.ungram
Labels: A-Parser, A-Formatter, A-Tooling, L-JavaScript, A-Changelog, L-Grit

#4350 fix(biome_css_parser): fixed css @document parser error
  CHANGELOG.md
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_parser/src/syntax/at_rule/document.rs
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_document.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_document.css.snap
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
Labels: A-Parser, A-Tooling, L-CSS, A-Changelog

#4315 feat(css_parser): allow multiple semicolons after declaration
  CHANGELOG.md
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/declaration_or_rule.rs
  crates/biome_css_formatter/src/css/auxiliary/empty_declaration.rs
  crates/biome_css_formatter/src/css/auxiliary/mod.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_formatter/tests/specs/css/declaration_list.css
  crates/biome_css_formatter/tests/specs/css/declaration_list.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/comments/custom-properties.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/comments/selectors.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/url/url.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/variables/apply-rule.css.snap
  crates/biome_css_parser/src/syntax/block/declaration_or_rule_list_block.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/tests/css_test_suite/ok/declaration_list.css
  crates/biome_css_parser/tests/css_test_suite/ok/declaration_list.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS, A-Changelog

#4294 feat: useExhaustiveDependencies not recommended
  .changeset/the_rule_useexhaustivedependencies_isnt_recommended_anymore.md
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
Labels: A-Project, A-Linter, L-JavaScript

#4374 fix(biome_css_parser): fix css parser cases
  CHANGELOG.md
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_parser/src/syntax/at_rule/document.rs
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_document.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_document.css.snap
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
Labels: A-Parser, A-Tooling, L-CSS, A-Changelog

#4382 docs(useFilenamingConvention): add `Since <version>` for the match option
  crates/biome_js_analyze/src/lint/style/use_filenaming_convention.rs
Labels: A-Linter, L-JavaScript

#4377 feat(restricted_glob): negated globs
  crates/biome_js_analyze/src/utils/restricted_glob.rs
Labels: A-Linter, L-JavaScript

#4368 feat(workspace): make types camel case
  .changeset/use_new_workspace_apis.md
  crates/biome_analyze/src/categories.rs
  crates/biome_css_syntax/src/file_source.rs
  crates/biome_diagnostics/src/suggestion.rs
  crates/biome_formatter/src/lib.rs
  crates/biome_fs/src/path.rs
  crates/biome_graphql_syntax/src/file_source.rs
  crates/biome_js_syntax/src/file_source.rs
  crates/biome_json_syntax/src/file_source.rs
  crates/biome_service/src/workspace.rs
  knope.toml
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/backend-jsonrpc/tests/workspace.test.mjs
  packages/@biomejs/js-api/src/index.ts
  packages/@biomejs/js-api/tests/lintContent.test.ts
  packages/@biomejs/js-api/tests/printDiagnostics.test.ts
  packages/@biomejs/wasm-nodejs/package.json
Labels: A-CLI, A-Core, A-Project, A-Linter, A-Parser, A-Formatter, L-JavaScript, L-CSS, L-JSON, A-Diagnostic

#4388 refactor(restricted_glob): add Eq impls
  crates/biome_js_analyze/src/utils/restricted_glob.rs
Labels: A-Linter, L-JavaScript

#4185 feat(lint): add `useGoogleFontPreconnect` rule
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_google_font_preconnect.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useGoogleFontPreconnect/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useGoogleFontPreconnect/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useGoogleFontPreconnect/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useGoogleFontPreconnect/valid.jsx.snap
  crates/biome_js_syntax/src/jsx_ext.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, A-Parser, L-JavaScript, A-Diagnostic

#4395 fix(lint): don’t recommend role="searchbox" suggestions for role="search"
  CHANGELOG.md
  crates/biome_aria/src/roles.rs
  crates/biome_js_analyze/tests/specs/a11y/useSemanticElements/invalid.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4397 chore: update code and diagnostics
  crates/biome_diagnostics/src/serde.rs
  packages/@biomejs/js-api/tests/__snapshots__/formatContent.test.ts.snap
Labels: A-Diagnostic

#4337 feat(graphql_analyze): useNamedOperation
  Cargo.lock
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_graphql_analyze/Cargo.toml
  crates/biome_graphql_analyze/src/lib.rs
  crates/biome_graphql_analyze/src/lint/nursery.rs
  crates/biome_graphql_analyze/src/lint/nursery/use_named_operation.rs
  crates/biome_graphql_analyze/src/options.rs
  crates/biome_graphql_analyze/tests/specs/nursery/useNamedOperation/invalid.graphql
  crates/biome_graphql_analyze/tests/specs/nursery/useNamedOperation/invalid.graphql.snap
  crates/biome_graphql_analyze/tests/specs/nursery/useNamedOperation/valid.graphql
  crates/biome_graphql_analyze/tests/specs/nursery/useNamedOperation/valid.graphql.snap
  crates/biome_graphql_factory/src/lib.rs
  crates/biome_graphql_factory/src/make.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, A-Diagnostic

#4387 refactor(biome_deserialize): add `indexmap` Cargo feature and remove StringSet
  .changeset/biome_deserialize_context.md
  .changeset/biome_deserialize_feature_gates.md
  .changeset/biome_deserialize_remove_stringset.md
  Cargo.lock
  crates/biome_cli/src/execute/migrate/eslint_to_biome.rs
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_configuration/Cargo.toml
  crates/biome_configuration/src/analyzer/assists/mod.rs
  crates/biome_configuration/src/analyzer/linter/mod.rs
  crates/biome_configuration/src/formatter.rs
  crates/biome_configuration/src/javascript/mod.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_configuration/src/organize_imports.rs
  crates/biome_configuration/src/overrides.rs
  crates/biome_css_analyze/Cargo.toml
  crates/biome_deserialize/Cargo.toml
  crates/biome_deserialize/src/diagnostics.rs
  crates/biome_deserialize/src/impls.rs
  crates/biome_deserialize/src/json.rs
  crates/biome_deserialize/src/lib.rs
  crates/biome_deserialize/src/merge.rs
  crates/biome_deserialize/src/string_set.rs
  crates/biome_deserialize_macros/src/partial_derive.rs
  crates/biome_formatter/Cargo.toml
  crates/biome_graphql_analyze/Cargo.toml
  crates/biome_js_analyze/Cargo.toml
  crates/biome_service/Cargo.toml
  crates/biome_service/src/settings.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, A-Formatter, L-JavaScript, L-CSS

#4398 fix(lsp): emit text edits when formatting
  crates/biome_lsp/src/handlers/formatting.rs
Labels: A-LSP

#4407 feat: move biome_lsp/converters to a separate crate
  Cargo.lock
  Cargo.toml
  crates/biome_lsp/Cargo.toml
  crates/biome_lsp/src/capabilities.rs
  crates/biome_lsp/src/documents.rs
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/src/handlers/formatting.rs
  crates/biome_lsp/src/handlers/rename.rs
  crates/biome_lsp/src/lib.rs
  crates/biome_lsp/src/session.rs
  crates/biome_lsp/src/utils.rs
  crates/biome_lsp_converters/Cargo.toml
  crates/biome_lsp_converters/README.md
  crates/biome_lsp_converters/src/from_proto.rs
  crates/biome_lsp_converters/src/lib.rs
  crates/biome_lsp_converters/src/line_index.rs
  crates/biome_lsp_converters/src/to_proto.rs
  knope.toml
Labels: A-LSP

#4409 chore(deps): remove once_cell crate
  Cargo.lock
  xtask/coverage/Cargo.toml
  xtask/coverage/src/js/test262.rs
Labels: A-Tooling

#4410 chore(deps): patch updates
  Cargo.lock
  crates/biome_aria_metadata/Cargo.toml
  crates/biome_console/Cargo.toml
  crates/biome_diagnostics/Cargo.toml
  crates/biome_lsp/Cargo.toml
  crates/biome_wasm/Cargo.toml
  xtask/codegen/Cargo.toml
  xtask/rules_check/Cargo.toml
Labels: A-CLI, A-Tooling, A-LSP, A-Diagnostic

#4411 chore(deps): update
  Cargo.lock
  crates/biome_cli/Cargo.toml
  crates/biome_wasm/Cargo.toml
Labels: A-CLI

#4418 refactor(useImportType,useExportType): ignore dts
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/style/use_export_type.rs
  crates/biome_js_analyze/src/lint/style/use_import_type.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#4420 chore: rename action to use the internal naming convention
  crates/biome_configuration/src/analyzer/assists/actions.rs
  crates/biome_js_analyze/src/assists/source.rs
  crates/biome_js_analyze/src/assists/source/use_sorted_attributes.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/source/useSortedAttributes/sorted.jsx
  crates/biome_js_analyze/tests/specs/source/useSortedAttributes/sorted.jsx.snap
  crates/biome_js_analyze/tests/specs/source/useSortedAttributes/unsorted.jsx
  crates/biome_js_analyze/tests/specs/source/useSortedAttributes/unsorted.jsx.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript

#4396 feat(linter): analyzer plugin
  Cargo.lock
  Cargo.toml
  crates/biome_analyze/Cargo.toml
  crates/biome_analyze/src/analyzer_plugin.rs
  crates/biome_analyze/src/lib.rs
  crates/biome_analyze/src/rule.rs
  crates/biome_diagnostics/src/advice.rs
  crates/biome_grit_patterns/Cargo.toml
  crates/biome_grit_patterns/src/grit_built_in_functions.rs
  crates/biome_grit_patterns/src/grit_context.rs
  crates/biome_grit_patterns/src/grit_query.rs
  crates/biome_grit_patterns/src/grit_resolved_pattern.rs
  crates/biome_grit_patterns/src/lib.rs
  crates/biome_grit_patterns/src/pattern_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/auto_wrap.rs
  crates/biome_grit_patterns/src/pattern_compiler/call_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/log_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/predicate_call_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/step_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/within_compiler.rs
  crates/biome_grit_patterns/tests/quick_test.rs
  crates/biome_grit_patterns/tests/spec_tests.rs
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/tests/plugin/preferObjectSpread.grit
  crates/biome_js_analyze/tests/plugin/preferObjectSpread.grit.snap
  crates/biome_js_analyze/tests/plugin/preferObjectSpread.js
  crates/biome_js_analyze/tests/quick_test.rs
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_plugin_loader/Cargo.toml
  crates/biome_plugin_loader/src/analyzer_grit_plugin.rs
  crates/biome_plugin_loader/src/diagnostics.rs
  crates/biome_plugin_loader/src/lib.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_test_utils/src/lib.rs
  xtask/bench/benches/gritql_search.rs
  xtask/bench/src/language.rs
  xtask/rules_check/src/lib.rs
Labels: A-Project, A-Linter, A-Tooling, L-JavaScript, A-Diagnostic, L-Grit

#4399 feat(grit): support `until` clause in `within` patterns
  crates/biome_grit_factory/src/generated/node_factory.rs
  crates/biome_grit_factory/src/generated/syntax_factory.rs
  crates/biome_grit_formatter/src/generated.rs
  crates/biome_grit_formatter/src/grit/patterns/mod.rs
  crates/biome_grit_formatter/src/grit/patterns/pattern_contains_until_clause.rs
  crates/biome_grit_formatter/src/grit/patterns/pattern_until_clause.rs
  crates/biome_grit_parser/src/parser/patterns.rs
  crates/biome_grit_parser/tests/grit_test_suite/ok/until_modifier.grit.snap
  crates/biome_grit_parser/tests/grit_test_suite/ok/within_clause.grit.snap
  crates/biome_grit_patterns/src/grit_target_language/js_target_language.rs
  crates/biome_grit_patterns/src/pattern_compiler/within_compiler.rs
  crates/biome_grit_patterns/tests/specs/ts/withinUntilClause.grit
  crates/biome_grit_patterns/tests/specs/ts/withinUntilClause.snap
  crates/biome_grit_patterns/tests/specs/ts/withinUntilClause.ts
  crates/biome_grit_syntax/src/generated/kind.rs
  crates/biome_grit_syntax/src/generated/macros.rs
  crates/biome_grit_syntax/src/generated/nodes.rs
  crates/biome_grit_syntax/src/generated/nodes_mut.rs
  xtask/codegen/gritql.ungram
  xtask/codegen/src/grit_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-Grit

#4404 fix(css_formatter): keep @charset double quote in single quote config
  CHANGELOG.md
  crates/biome_css_formatter/src/css/auxiliary/attribute_matcher_value.rs
  crates/biome_css_formatter/src/css/value/string.rs
  crates/biome_css_formatter/src/utils/string_utils.rs
  crates/biome_css_formatter/tests/quick_test.rs
  crates/biome_css_formatter/tests/specs/css/quote_style/normalize_quotes.css
  crates/biome_css_formatter/tests/specs/css/quote_style/normalize_quotes.css.snap
Labels: A-Formatter, L-CSS, A-Changelog

#4431 refactor: order lint rules in rage output
  crates/biome_analyze/src/lib.rs
  crates/biome_cli/src/commands/rage.rs
  crates/biome_cli/tests/snapshots/main_commands_rage/with_linter_configuration.snap
Labels: A-CLI, A-Linter

#4432 refactor(useFilenamingConvention): order suggested filenames
  crates/biome_js_analyze/src/lint/style/use_filenaming_convention.rs
Labels: A-Linter, L-JavaScript

#4434 refactor(lint,actions): avoid duplicated filters
  crates/biome_configuration/src/analyzer/assists/actions.rs
  crates/biome_service/src/file_handlers/mod.rs
  xtask/codegen/src/generate_configuration.rs
Labels: A-Project, A-Tooling

#4435 fix(migrate-eslint): corretcly handle scoped package with paths
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint.rs
Labels: A-CLI, A-Changelog

#4392 fix(css_formatter): don't indent CSS selector when leading comments before
  CHANGELOG.md
  crates/biome_css_formatter/src/css/lists/relative_selector_list.rs
  crates/biome_css_formatter/tests/specs/css/declaration_list.css
  crates/biome_css_formatter/tests/specs/css/declaration_list.css.snap
Labels: A-Formatter, L-CSS, A-Changelog

#4441 ci: fix errors and update snapshots
  crates/biome_deserialize/src/json.rs
  crates/biome_js_parser/tests/js_test_suite/error/import_assertion_err.js.snap
  crates/biome_js_parser/tests/js_test_suite/error/import_attribute_err.js.snap
  crates/biome_js_parser/tests/js_test_suite/ok/export_from_clause.js.snap
  crates/biome_js_parser/tests/js_test_suite/ok/export_named_from_clause.js.snap
  crates/biome_lsp/src/capabilities.rs
Labels: A-Parser, A-LSP, L-JavaScript
