Repository biomejs/biome, pull requests merged in 2024-08, with the labels that each got.

#3428 feat(biome_css_analyze): implement noIrregularWhitespaceCss
  CHANGELOG.md
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_irregular_whitespace_css.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noIrregularWhitespaceCss/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noIrregularWhitespaceCss/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noIrregularWhitespaceCss/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noIrregularWhitespaceCss/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, L-CSS, A-Diagnostic, A-Changelog

#3564 refactor(formatter): improve string normalization
  crates/biome_css_formatter/src/utils/string_utils.rs
  crates/biome_formatter/src/lib.rs
  crates/biome_formatter/src/token/string.rs
  crates/biome_js_formatter/src/utils/string_utils.rs
Labels: A-Formatter, L-JavaScript, L-CSS

#3565 fix(useNamingConvention): don't suggest empty fixes
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidStrictPascalCase.ts
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidStrictPascalCase.ts.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3570 fix(useNamingConvention): don't suggest renaming in global declaration files
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/no_unused_variables.rs
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/src/lint/suspicious/no_implicit_any_let.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalid.d.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalid.d.ts.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidGlobal.d.ts
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidGlobal.d.ts.snap
  crates/biome_js_semantic/src/semantic_model/model.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#3494 fix(cli): apply offsets for htmlish js file sources
  crates/biome_cli/src/execute/process_file/lint.rs
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/lint_astro_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/lint_vue_js_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/lint_vue_ts_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/vue_compiler_macros_as_globals.snap
  crates/biome_diagnostics/src/serde.rs
Labels: A-CLI, A-Diagnostic

#3563 refactor(cli): traversal
  CHANGELOG.md
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/process_file.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/src/reporter/mod.rs
  crates/biome_cli/src/reporter/terminal.rs
  crates/biome_cli/tests/snapshots/main_cases_diagnostics/max_diagnostics_verbose.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/does_not_conceal_previous_overrides.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_from_cli_verbose.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_linter_disabled_from_cli_verbose.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_ignored_file_from_cli_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_check/print_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_check/unsupported_file_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/print_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_format/print_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_format/treat_known_json_files_as_jsonc_files.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/print_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/unsupported_file_verbose.snap
  crates/biome_diagnostics/src/advice.rs
  crates/biome_fs/src/fs.rs
  crates/biome_fs/src/fs/memory.rs
  crates/biome_fs/src/fs/os.rs
  crates/biome_fs/src/lib.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-CLI, A-Core, A-Project, A-Diagnostic, A-Changelog

#3579 fix(lint/useNumberNamespace): show correct message for `Infinity` type
  crates/biome_js_analyze/src/lint/style/use_number_namespace.rs
  crates/biome_js_analyze/tests/specs/style/useNumberNamespace/invalid.js.snap
Labels: A-Linter, L-JavaScript

#3584 chore: upgrade to Rust 1.80.0
  Cargo.lock
  crates/biome_analyze/src/registry.rs
  crates/biome_cli/src/service/mod.rs
  crates/biome_configuration/Cargo.toml
  crates/biome_css_syntax/Cargo.toml
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_diagnostics/src/display/diff.rs
  crates/biome_formatter/src/buffer.rs
  crates/biome_formatter/src/format_element/document.rs
  crates/biome_formatter/src/lib.rs
  crates/biome_formatter/src/printer/mod.rs
  crates/biome_graphql_syntax/Cargo.toml
  crates/biome_graphql_syntax/src/generated/nodes.rs
  crates/biome_graphql_syntax/src/syntax_node.rs
  crates/biome_grit_syntax/Cargo.toml
  crates/biome_grit_syntax/src/generated/nodes.rs
  crates/biome_grit_syntax/src/syntax_node.rs
  crates/biome_html_syntax/Cargo.toml
  crates/biome_html_syntax/src/generated/nodes.rs
  crates/biome_js_analyze/src/lint/nursery/use_explicit_length_check.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/class_info.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/class_lexer.rs
  crates/biome_js_analyze/src/lint/suspicious/no_misleading_character_class.rs
  crates/biome_js_analyze/src/suppression_action.rs
  crates/biome_js_formatter/src/lib.rs
  crates/biome_js_formatter/src/utils/jsx.rs
  crates/biome_js_formatter/src/utils/member_chain/mod.rs
  crates/biome_js_formatter/src/utils/member_chain/simple_argument.rs
  crates/biome_js_syntax/Cargo.toml
  crates/biome_js_syntax/src/expr_ext.rs
  crates/biome_js_syntax/src/generated/nodes.rs
  crates/biome_json_syntax/Cargo.toml
  crates/biome_json_syntax/src/generated/nodes.rs
  crates/biome_parser/CONTRIBUTING.md
  crates/biome_parser/src/parsed_syntax.rs
  crates/biome_rowan/src/syntax/rewriter.rs
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/workspace.rs
  crates/biome_yaml_syntax/Cargo.toml
  crates/biome_yaml_syntax/src/generated/nodes.rs
  rust-toolchain.toml
  xtask/bench/src/lib.rs
  xtask/codegen/src/generate_nodes.rs
Labels: A-CLI, A-Core, A-Project, A-Linter, A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-CSS, L-JSON, A-Diagnostic

#3594 fix(cli): track diff diagnostics
  CHANGELOG.md
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/snapshots/main_cases_reporter_github/reports_diagnostics_github_check_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_github/reports_diagnostics_github_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_github/reports_diagnostics_github_format_command.snap
  crates/biome_cli/tests/snapshots/main_commands_format/print_json.snap
  crates/biome_cli/tests/snapshots/main_commands_format/print_json_pretty.snap
  crates/biome_diagnostics/src/display_github.rs
Labels: A-CLI, A-Diagnostic, A-Changelog

#3595 fix(grit): equivalence tests + minor fixes
  crates/biome_css_parser/tests/css_test_suite/ok/grit_metavariable/metavar.css
  crates/biome_css_parser/tests/css_test_suite/ok/grit_metavariable/metavar.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_grit_patterns/src/grit_binding.rs
  crates/biome_grit_patterns/src/grit_target_language.rs
  crates/biome_grit_patterns/src/pattern_compiler/snippet_compiler.rs
  crates/biome_grit_patterns/tests/quick_test.rs
  crates/biome_grit_patterns/tests/specs/ts/duplicateVariable.snap
  crates/biome_grit_patterns/tests/specs/ts/duplicateVariable.ts
  crates/biome_js_formatter/src/js/any/name.rs
  crates/biome_js_parser/src/syntax/expr.rs
  crates/biome_js_parser/test_data/inline/ok/metavar.rast
  crates/biome_js_parser/test_data/inline/ok/metavar.ts
  crates/biome_js_syntax/src/generated/nodes.rs
  crates/biome_js_syntax/src/identifier_ext.rs
  crates/biome_parser/src/lexer.rs
  xtask/codegen/js.ungram
Labels: A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-CSS

#3027 feat(cli): add gitlab report format
  CHANGELOG.md
  Cargo.lock
  crates/biome_cli/Cargo.toml
  crates/biome_cli/src/cli_options.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/reporter/gitlab.rs
  crates/biome_cli/src/reporter/mod.rs
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/cases/reporter_gitlab.rs
  crates/biome_cli/tests/snapshots/main_cases_reporter_gitlab/reports_diagnostics_gitlab_check_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_gitlab/reports_diagnostics_gitlab_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_gitlab/reports_diagnostics_gitlab_format_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_gitlab/reports_diagnostics_gitlab_lint_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_junit/reports_diagnostics_junit_check_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_junit/reports_diagnostics_junit_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_junit/reports_diagnostics_junit_lint_command.snap
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/migrate_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/rage_help.snap
  crates/biome_js_analyze/src/lint/suspicious/no_double_equals.rs
  crates/biome_lsp/tests/server.rs
Labels: A-CLI, A-Linter, A-LSP, L-JavaScript, A-Changelog

#3597 fix(core): don't create a new project when the configuration changes
  CHANGELOG.md
  crates/biome_cli/src/commands/mod.rs
  crates/biome_lsp/src/diagnostics.rs
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/src/handlers/rename.rs
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/client.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace_types.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-CLI, A-Project, A-LSP, A-Changelog

#3607 chore: ensure consistent naming for GitLab-related structs and types
  crates/biome_cli/src/reporter/gitlab.rs
Labels: A-CLI

#3604 feat(noUselessEscapeInRegex): add rule
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_useless_escape_in_regex.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInRegex/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInRegex/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInRegex/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInRegex/valid.js.snap
  crates/biome_parser/src/lexer.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  xtask/codegen/src/generate_new_analyzer_rule.rs
Labels: A-CLI, A-Project, A-Linter, A-Parser, A-Tooling, L-JavaScript, A-Diagnostic, A-Changelog

#3610 fix(noUselessEscapeInRegex): handle \9 backreference
  crates/biome_js_analyze/src/lint/nursery/no_useless_escape_in_regex.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInRegex/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInRegex/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInRegex/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInRegex/valid.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3546 feat(css_semantic): build semantic model for css
  .github/workflows/pull_request.yml
  Cargo.lock
  Cargo.toml
  crates/biome_css_semantic/Cargo.toml
  crates/biome_css_semantic/src/events.rs
  crates/biome_css_semantic/src/lib.rs
  crates/biome_css_semantic/src/semantic_model/builder.rs
  crates/biome_css_semantic/src/semantic_model/mod.rs
  crates/biome_css_semantic/src/semantic_model/model.rs
  knope.toml
Labels: L-CSS

#3611 refactor: remove `lazy_static`
  Cargo.lock
  Cargo.toml
  crates/biome_cli/Cargo.toml
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/metrics.rs
  crates/biome_cli/tests/snap_test.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_css_analyze/Cargo.toml
  crates/biome_css_analyze/src/lib.rs
  crates/biome_css_analyze/src/lint/nursery/no_invalid_direction_in_linear_gradient.rs
  crates/biome_css_analyze/tests/spec_tests.rs
  crates/biome_flags/src/lib.rs
  crates/biome_graphql_analyze/Cargo.toml
  crates/biome_graphql_analyze/src/lib.rs
  crates/biome_graphql_analyze/tests/spec_tests.rs
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes.rs
  crates/biome_js_analyze/src/lint/suspicious/no_comment_text.rs
  crates/biome_js_analyze/tests/quick_test.rs
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_js_transform/Cargo.toml
  crates/biome_js_transform/src/lib.rs
  crates/biome_js_transform/tests/spec_tests.rs
  crates/biome_json_analyze/Cargo.toml
  crates/biome_json_analyze/src/lib.rs
  crates/biome_json_analyze/tests/spec_tests.rs
  crates/biome_migrate/Cargo.toml
  crates/biome_migrate/src/lib.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/file_handlers/astro.rs
  crates/biome_service/src/file_handlers/svelte.rs
  crates/biome_service/src/file_handlers/vue.rs
  crates/biome_service/src/settings.rs
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, L-CSS, L-JSON

#3614 docs: remove the emtpty bullet on `biome_analyze/CONTRIBUTING.md`
  crates/biome_analyze/CONTRIBUTING.md
Labels: A-Linter

#3613 feat(linter): integrate css semantic model into the analyzer
  CHANGELOG.md
  Cargo.lock
  crates/biome_css_analyze/Cargo.toml
  crates/biome_css_analyze/src/lib.rs
  crates/biome_css_analyze/src/services/mod.rs
  crates/biome_css_analyze/src/services/semantic.rs
  crates/biome_css_semantic/src/semantic_model/mod.rs
Labels: L-CSS, A-Changelog

#3618 refactor: remove PlainIdentStyle
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_configuration/src/css.rs
  crates/biome_configuration/src/editorconfig.rs
  crates/biome_configuration/src/formatter.rs
  crates/biome_configuration/src/graphql.rs
  crates/biome_configuration/src/javascript/formatter.rs
  crates/biome_configuration/src/json.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_configuration/src/overrides.rs
  crates/biome_formatter/src/lib.rs
  crates/biome_service/src/settings.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Formatter

#3620 fix(noControlCharactersInRegex): handle \u correctly in Unicode-aware regexes
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/suspicious/no_control_characters_in_regex.rs
  crates/biome_js_analyze/src/utils.rs
  crates/biome_js_analyze/tests/specs/suspicious/noControlCharactersInRegex/invalid.js
  crates/biome_js_analyze/tests/specs/suspicious/noControlCharactersInRegex/invalid.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3621 feat(cli): better environment variables
  CHANGELOG.md
  Cargo.lock
  crates/biome_cli/Cargo.toml
  crates/biome_cli/src/commands/clean.rs
  crates/biome_cli/src/commands/daemon.rs
  crates/biome_cli/src/commands/explain.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/rage.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/src/service/unix.rs
  crates/biome_cli/src/service/windows.rs
  crates/biome_cli/tests/commands/rage.rs
  crates/biome_cli/tests/snapshots/main_commands_lsp_proxy/lsp_proxy_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/rage_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/rage_ok.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_configuration.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_formatter_configuration.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_jsonc_configuration.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_linter_configuration.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_malformed_configuration.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_server_logs.snap
  crates/biome_console/src/lib.rs
  crates/biome_console/src/utils.rs
  crates/biome_flags/Cargo.toml
  crates/biome_flags/src/lib.rs
Labels: A-CLI, A-Changelog

#3630 feat(css_semantic): handle @media and nested selectors correctly
  crates/biome_css_semantic/src/events.rs
  crates/biome_css_semantic/src/semantic_model/mod.rs
Labels: L-CSS

#3631 chore: fix the rule template
  xtask/codegen/src/generate_new_analyzer_rule.rs
Labels: A-Tooling

#3632 chore: fix typo in registry
  crates/biome_analyze/src/registry.rs
Labels: A-Linter

#3472 perf: perf templateLiteralSpace case
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/sort.rs
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/templateLiteralSpace.jsx
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/templateLiteralSpace.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3645 chore: rename rule
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_irregular_whitespace.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noIrregularWhitespace/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noIrregularWhitespace/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noIrregularWhitespace/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noIrregularWhitespace/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  xtask/rules_check/src/lib.rs
Labels: A-Project, A-Tooling, L-CSS, A-Diagnostic

#3582 fix(analyze): check if a fragment has only one child element using tokens.
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/fromImportNamespaceInvalid.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_3545.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_3545.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3652 feat(biome_rowan): make SyntaxSlots pub
  crates/biome_rowan/src/lib.rs
  crates/biome_rowan/src/syntax.rs
Labels: A-Core

#3654 fix(graphql_analyzer): use the correct macro to declare rule
  xtask/codegen/src/generate_new_analyzer_rule.rs
Labels: A-Tooling

#3655 chore: document options section in analyze contributions guide
  crates/biome_analyze/CONTRIBUTING.md
  packages/@biomejs/biome/README.md
Labels: A-Linter

#3658 fix(lint/sources): update sources renamed rules
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_css_analyze/src/lint/nursery/no_empty_block.rs
  crates/biome_js_analyze/src/lint/nursery/use_focusable_interactive.rs
  crates/biome_js_analyze/src/lint/nursery/use_throw_only_error.rs
  crates/biome_js_analyze/src/lint/suspicious/no_sparse_array.rs
Labels: A-CLI, A-Linter, L-JavaScript, L-CSS

#3625 feat(lint/noBlankTarget): add allowed domains option
  CHANGELOG.md
  crates/biome_cli/tests/snapshots/main_commands_explain/explain_valid_rule.snap
  crates/biome_js_analyze/src/lint/a11y/no_blank_target.rs
  crates/biome_js_analyze/tests/specs/a11y/noBlankTarget/allowDomains.jsx
  crates/biome_js_analyze/tests/specs/a11y/noBlankTarget/allowDomains.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/noBlankTarget/allowDomains.options.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Linter, L-JavaScript, A-Changelog

#3174 feat(lint/noUselessCatch): implement the `action` for `noUselessCatch`
  CHANGELOG.md
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_js_analyze/src/lint/complexity/no_useless_catch.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessCatch/invalid.js
  crates/biome_js_analyze/tests/specs/complexity/noUselessCatch/invalid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript, A-Changelog, S-Feature

#3665 fix(js_semantic): take strict mode into account to compute declaration scope
  CHANGELOG.md
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/invalid-non-strict-mode.cjs
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/invalid-non-strict-mode.cjs.snap
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/valid-function-strict-mode.cjs
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/valid-function-strict-mode.cjs.snap
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/valid-strict-mode.cjs
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/valid-strict-mode.cjs.snap
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_semantic/src/tests/functions.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#3667 fix(noControlCharactersInRegex): fixes and refactoring
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/suspicious/no_control_characters_in_regex.rs
  crates/biome_js_analyze/tests/specs/suspicious/noControlCharactersInRegex/invalid.js
  crates/biome_js_analyze/tests/specs/suspicious/noControlCharactersInRegex/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noControlCharactersInRegex/valid.js
  crates/biome_js_analyze/tests/specs/suspicious/noControlCharactersInRegex/valid.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3668 fix(noControlCharactersInRegex): fix code fix when unicode chars are present
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/complexity/no_multiple_spaces_in_regular_expression_literals.rs
  crates/biome_js_analyze/src/lint/correctness/no_empty_character_class_in_regex.rs
  crates/biome_js_analyze/tests/specs/complexity/noMultipleSpacesInRegularExpressionLiterals/invalid.jsonc
  crates/biome_js_analyze/tests/specs/complexity/noMultipleSpacesInRegularExpressionLiterals/invalid.jsonc.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3626 fix(lint/noStaticOnlyClass): prevent error on static classes that extend other classes
  crates/biome_js_analyze/src/lint/complexity/no_static_only_class.rs
  crates/biome_js_analyze/tests/specs/complexity/noStaticOnlyClass/valid.ts
  crates/biome_js_analyze/tests/specs/complexity/noStaticOnlyClass/valid.ts.snap
Labels: A-Linter, L-JavaScript

#3674 refactor(noNodejsModules): ignore type-only imports
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/no_nodejs_modules.rs
  crates/biome_js_analyze/tests/specs/correctness/noNodejsModules/valid.ts
  crates/biome_js_analyze/tests/specs/correctness/noNodejsModules/valid.ts.snap
  crates/biome_js_syntax/src/import_ext.rs
Labels: A-Linter, A-Parser, L-JavaScript, A-Changelog

#3671 fix(configuration): merge inherited overrides
  CHANGELOG.md
  crates/biome_cli/tests/cases/config_extends.rs
  crates/biome_cli/tests/commands/migrate_eslint.rs
  crates/biome_cli/tests/snapshots/main_cases_config_extends/extends_config_merge_overrides.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_merge_with_overrides.snap
  crates/biome_deserialize/src/merge.rs
  crates/biome_deserialize_macros/src/merge_derive.rs
Labels: A-CLI, A-Changelog

#3675 refactor(noNodejsModules): ignore package.json dependencies
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/no_nodejs_modules.rs
  crates/biome_js_analyze/tests/specs/correctness/noNodejsModules/valid-with-dep.js
  crates/biome_js_analyze/tests/specs/correctness/noNodejsModules/valid-with-dep.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noNodejsModules/valid-with-dep.package.json
Labels: A-Linter, L-JavaScript, A-Changelog

#3669 feat(lsp): deprecate `biome.rename` in favor of `biome.experimental.rename`
  crates/biome_lsp/src/extension_settings.rs
  crates/biome_lsp/src/server.rs
Labels: A-LSP

#3683 chore: update biome_js_analyze/lint/complexity/use_optional_chain to use js tag instead of ts
  crates/biome_js_analyze/src/lint/complexity/use_optional_chain.rs
Labels: A-Linter, L-JavaScript

#3684 fix(noUselessCatch): fix code action panics
  crates/biome_js_analyze/src/lint/complexity/no_useless_catch.rs
  crates/biome_js_analyze/src/services/control_flow/nodes/try_catch.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessCatch/invalid.js
  crates/biome_js_analyze/tests/specs/complexity/noUselessCatch/invalid.js.snap
  crates/biome_js_syntax/src/stmt_ext.rs
Labels: A-Linter, A-Parser, L-JavaScript

#3687 fix(noUselessEscapeInRegex): don't report unescaped range sep at the end of a class
  crates/biome_js_analyze/src/lint/nursery/no_useless_escape_in_regex.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInRegex/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInRegex/valid.js.snap
Labels: A-Linter, L-JavaScript

#3688 fix(noCommentText): don't report URIs
  crates/biome_js_analyze/src/lint/suspicious/no_comment_text.rs
  crates/biome_js_analyze/tests/specs/suspicious/noCommentText/invalid.tsx
  crates/biome_js_analyze/tests/specs/suspicious/noCommentText/invalid.tsx.snap
  crates/biome_js_analyze/tests/specs/suspicious/noCommentText/valid.tsx
  crates/biome_js_analyze/tests/specs/suspicious/noCommentText/valid.tsx.snap
Labels: A-Linter, L-JavaScript

#3692 fix(ci): missing codegen check
  .cargo/config.toml
  .github/workflows/pull_request.yml
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  justfile
Labels: A-CLI

#3693 fix(js_formatter): remove useless parens around infer type
  CHANGELOG.md
  crates/biome_js_formatter/src/ts/types/infer_type.rs
  crates/biome_js_syntax/src/parentheses/tstype.rs
Labels: A-Parser, A-Formatter, L-JavaScript, A-Changelog

#3701 fix(console): print `<br />` when having a newline
  crates/biome_console/src/write/html.rs
Labels: A-CLI

#3703 fix(console): regression for #3701
  crates/biome_console/src/write/html.rs
Labels: A-CLI

#3704 refactor: allow filtering nursery in --only and --skip
  CHANGELOG.md
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_nursery_group.snap
  crates/biome_configuration/src/analyzer/mod.rs
Labels: A-CLI, A-Project, A-Changelog

#3706 refactor(service): avoid string allocations and pass path instead of filename for wellknown files
  Cargo.lock
  crates/biome_css_formatter/Cargo.toml
  crates/biome_css_formatter/src/lib.rs
  crates/biome_css_formatter/src/utils/string_utils.rs
  crates/biome_css_syntax/src/file_source.rs
  crates/biome_formatter/Cargo.toml
  crates/biome_formatter/src/token/number.rs
  crates/biome_formatter/src/token/string.rs
  crates/biome_graphql_syntax/src/file_source.rs
  crates/biome_html_syntax/src/file_source.rs
  crates/biome_js_formatter/Cargo.toml
  crates/biome_js_formatter/benches/iai.rs
  crates/biome_js_formatter/src/js/expressions/bigint_literal_expression.rs
  crates/biome_js_formatter/src/ts/types/bigint_literal_type.rs
  crates/biome_js_formatter/src/utils/string_utils.rs
  crates/biome_js_syntax/src/file_source.rs
  crates/biome_json_syntax/src/file_source.rs
  crates/biome_rowan/src/file_source.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_string_case/src/lib.rs
  crates/biome_yaml_syntax/src/file_source.rs
Labels: A-Core, A-Project, A-Parser, A-Formatter, L-JavaScript, L-CSS, L-JSON

#3709 refactor(json): allow comments in `.json` files under `.vscode` and `.zed` dirs
  CHANGELOG.md
  crates/biome_cli/tests/cases/overrides_formatter.rs
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/allow_trailing_commas_on_well_known_files.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/disallow_comments_on_well_known_files.snap
  crates/biome_json_syntax/src/file_source.rs
  crates/biome_service/tests/workspace.rs
Labels: A-CLI, A-Project, A-Parser, L-JSON, A-Changelog

#3711 feat: adds an option to `HTML` printer for MDX
  crates/biome_console/src/write/html.rs
  crates/biome_wasm/src/utils.rs
Labels: A-CLI

#3702 feat(lint): add `ignoreNull` option to `noDoubleEquals` rule
  crates/biome_js_analyze/src/lint/suspicious/no_double_equals.rs
  crates/biome_js_analyze/tests/specs/suspicious/noDoubleEquals/invalidNoNull.js
  crates/biome_js_analyze/tests/specs/suspicious/noDoubleEquals/invalidNoNull.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noDoubleEquals/invalidNoNull.jsonc
  crates/biome_js_analyze/tests/specs/suspicious/noDoubleEquals/invalidNoNull.jsonc.snap
  crates/biome_js_analyze/tests/specs/suspicious/noDoubleEquals/invalidNoNull.jsx
  crates/biome_js_analyze/tests/specs/suspicious/noDoubleEquals/invalidNoNull.jsx.snap
  crates/biome_js_analyze/tests/specs/suspicious/noDoubleEquals/invalidNoNull.options.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript

#3720 chore: add `ignoreNull` option to `CHANGELOG`
  CHANGELOG.md
Labels: A-Changelog

#3722 refactor(diagnostics): indentation
  crates/biome_diagnostics/src/display.rs
  crates/biome_diagnostics/tests/disagnostics.rs
  crates/biome_diagnostics/tests/snapshots/html_mdx_print_diagnostic.snap
  crates/biome_diagnostics/tests/snapshots/html_mdx_print_diagnostic_with_escaped_indentation.snap
  crates/biome_diagnostics/tests/snapshots/html_print_diagnostic.snap
Labels: A-Diagnostic

#3644 feat(lint/useAriaPropsSupportedByRole): add rule
  crates/biome_aria/src/roles.rs
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_aria_props_supported_by_role.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useAriaPropsSupportedByRole/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useAriaPropsSupportedByRole/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useAriaPropsSupportedByRole/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useAriaPropsSupportedByRole/valid.jsx.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#3708 fix: `noAriaHiddenonFocusable` when using a JSX expression
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/a11y/no_aria_hidden_on_focusable.rs
  crates/biome_js_analyze/src/lint/a11y/no_noninteractive_tabindex.rs
  crates/biome_js_analyze/tests/specs/a11y/noAriaHiddenOnFocusable/valid.jsx
  crates/biome_js_analyze/tests/specs/a11y/noAriaHiddenOnFocusable/valid.jsx.snap
  crates/biome_js_syntax/src/expr_ext.rs
Labels: A-Linter, A-Parser, L-JavaScript, A-Changelog

#3724 refactor(noUndeclaredDependencies): support self package imports
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/nursery/no_undeclared_dependencies.rs
  crates/biome_js_analyze/src/services/manifest.rs
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/valid.package.json
Labels: A-Linter, L-JavaScript, A-Changelog

#3699 refactor(core): ordered paths, project manifest, tsconfig
  Cargo.lock
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/search.rs
  crates/biome_cli/src/execute/process_file.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/src/reporter/mod.rs
  crates/biome_cli/src/reporter/terminal.rs
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/allow_trailing_commas_on_well_known_files.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/does_not_conceal_previous_overrides.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_github/reports_diagnostics_github_check_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_github/reports_diagnostics_github_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_github/reports_diagnostics_github_format_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_github/reports_diagnostics_github_lint_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_gitlab/reports_diagnostics_gitlab_check_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_gitlab/reports_diagnostics_gitlab_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_gitlab/reports_diagnostics_gitlab_lint_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_junit/reports_diagnostics_junit_check_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_junit/reports_diagnostics_junit_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_junit/reports_diagnostics_junit_lint_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_check_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_format_command.snap
  crates/biome_cli/tests/snapshots/main_commands_format/treat_known_json_files_as_jsonc_files.snap
  crates/biome_fs/Cargo.toml
  crates/biome_fs/src/fs.rs
  crates/biome_fs/src/fs/memory.rs
  crates/biome_fs/src/fs/os.rs
  crates/biome_fs/src/lib.rs
  crates/biome_fs/src/path.rs
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/session.rs
  crates/biome_project/src/node_js_project/mod.rs
  crates/biome_project/src/node_js_project/tsconfig_json.rs
  crates/biome_project/tests/manifest/invalid/license_invalid.json
  crates/biome_project/tests/manifest/invalid/license_invalid.json.snap
  crates/biome_project/tests/manifest/invalid/license_not_string.json
  crates/biome_project/tests/manifest/invalid/license_not_string.json.snap
  crates/biome_project/tests/manifest/invalid/name.json
  crates/biome_project/tests/manifest/invalid/name.json.snap
  crates/biome_project/tests/manifest/invalid/name.snap
  crates/biome_project/tests/manifest_spec_tests.rs
  crates/biome_project/tests/tsconfig/invalid/tsconfig.invalid.baseUrl.json
  crates/biome_project/tests/tsconfig/invalid/tsconfig.invalid.baseUrl.json.snap
  crates/biome_project/tests/tsconfig/valid/tsconfig.valid.baseUrl.json
  crates/biome_project/tests/tsconfig/valid/tsconfig.valid.baseUrl.json.snap
  crates/biome_project/tests/tsconfig/valid/tsconfig.valid.paths.json
  crates/biome_project/tests/tsconfig/valid/tsconfig.valid.paths.json.snap
  crates/biome_service/src/dome.rs
  crates/biome_service/src/lib.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/client.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace_types.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-CLI, A-Core, A-Project, A-LSP

#3721 chore: unhide `search` command
  CHANGELOG.md
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/tests/snapshots/main_commands_explain/explain_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lsp_proxy/lsp_proxy_help.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/migrate_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/rage_help.snap
  crates/biome_service/src/diagnostics.rs
Labels: A-CLI, A-Project, A-Changelog

#3653 feat(js_analyze): add `lint/noEnum`
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_enum.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noEnum/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noEnum/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noEnum/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noEnum/valid.ts.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript, A-Diagnostic

#3728 fix: edge case in `noInteractiveToNonInteractiveRole` for `<canvas>`.
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/a11y/no_interactive_element_to_noninteractive_role.rs
  crates/biome_js_analyze/tests/specs/a11y/noInteractiveElementToNoninteractiveRole/valid.jsx
  crates/biome_js_analyze/tests/specs/a11y/noInteractiveElementToNoninteractiveRole/valid.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3468 fix: enable JSX parsing inside `.vue` files
  CHANGELOG.md
  crates/biome_js_syntax/src/file_source.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/file_handlers/svelte.rs
  crates/biome_service/src/file_handlers/vue.rs
Labels: A-Project, A-Parser, L-JavaScript, A-Changelog

#3657 feat(linter): make `noDuplicateJsonKeys` stable
  CHANGELOG.md
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_json_files.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/check_json_files.snap
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/suspicious/no_duplicate_object_keys.rs
  crates/biome_json_analyze/src/lint.rs
  crates/biome_json_analyze/src/lint/suspicious.rs
  crates/biome_json_analyze/src/lint/suspicious/no_duplicate_object_keys.rs
  crates/biome_json_analyze/src/options.rs
  crates/biome_json_analyze/tests/specs/suspicious/noDuplicateObjectKeys/invalid.json
  crates/biome_json_analyze/tests/specs/suspicious/noDuplicateObjectKeys/invalid.json.snap
  crates/biome_json_analyze/tests/specs/suspicious/noDuplicateObjectKeys/valid.json
  crates/biome_json_analyze/tests/specs/suspicious/noDuplicateObjectKeys/valid.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  xtask/codegen/src/promote_rule.rs
Labels: A-CLI, A-Project, A-Linter, A-Tooling, L-JavaScript, L-JSON, A-Diagnostic, A-Changelog

#3730 fix(docs): typo in `no_double_equals.rs`
  crates/biome_js_analyze/src/lint/suspicious/no_double_equals.rs
Labels: A-Linter, L-JavaScript

#3729 fix(core): enforce parsing options for `biome.jsonc`
  CHANGELOG.md
  crates/biome_service/src/file_handlers/json.rs
Labels: A-Project, A-Changelog

#3733 feat(core): enable CSS linting and formatting by default
  CHANGELOG.md
  crates/biome_cli/tests/cases/overrides_formatter.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_cases_handle_css_files/should_not_format_files_by_default.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_css_files/should_not_lint_files_by_default.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/does_include_file_with_different_languages.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_apply_different_formatting.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_formatter_configuration.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_linter_configuration.snap
  crates/biome_configuration/src/css.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/settings.rs
Labels: A-CLI, A-Project, A-Changelog

#3734 refactor(noUndeclaredVariables): recognize Svelte 5 runes
  CHANGELOG.md
  crates/biome_js_analyze/src/globals/javascript/language.rs
  crates/biome_js_analyze/src/globals/javascript/node.rs
  crates/biome_js_analyze/src/globals/javascript/web.rs
  crates/biome_js_analyze/src/globals/module/node.rs
  crates/biome_js_analyze/src/globals/typescript/language.rs
  crates/biome_js_analyze/src/globals/typescript/node.rs
  crates/biome_js_analyze/src/globals/typescript/web.rs
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/invalid.svelte.ts
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/invalid.svelte.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/valid.js
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/valid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/valid.options.json
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_test_utils/src/lib.rs
Labels: A-Project, A-Linter, L-JavaScript, A-Changelog

#3737 refactor: avoid UTF-8 validation of file extensions
  crates/biome_cli/src/execute/migrate/eslint.rs
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/src/execute/process_file/assists.rs
  crates/biome_cli/src/execute/process_file/format.rs
  crates/biome_cli/src/execute/process_file/lint.rs
  crates/biome_cli/src/execute/process_file/organize_imports.rs
  crates/biome_cli/src/execute/process_file/workspace_file.rs
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_fs/src/fs/os.rs
  crates/biome_fs/src/path.rs
  crates/biome_grit_patterns/src/grit_query.rs
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/src/handlers/formatting.rs
  crates/biome_lsp/src/session.rs
  crates/biome_project/tests/manifest_spec_tests.rs
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/tests/spec_tests.rs
  crates/tests_macros/src/lib.rs
Labels: A-CLI, A-Core, A-Project, A-Linter, A-LSP, L-JavaScript

#3736 fix(core): ser/de for `FileKind`
  Cargo.lock
  crates/biome_deserialize/src/json.rs
  crates/biome_fs/Cargo.toml
  crates/biome_fs/src/path.rs
Labels: A-CLI, A-Core

#3732 feat(linter): do not report directive in commonjs files
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/suspicious/no_redundant_use_strict.rs
  crates/biome_js_analyze/tests/specs/suspicious/noRedundantUseStrict/commonJsValid.js
  crates/biome_js_analyze/tests/specs/suspicious/noRedundantUseStrict/commonJsValid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noRedundantUseStrict/commonJsValid.package.json
  crates/biome_project/src/node_js_project/package_json.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#3731 feat(lsp): add codeActionKinds
  crates/biome_lsp/src/capabilities.rs
  crates/biome_lsp/tests/server.rs
Labels: A-LSP

#3536 feat(biome_js_analyzer): implement `useConsistentMemberAccessibility`
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_cli/src/execute/migrate/eslint_eslint.rs
  crates/biome_cli/src/execute/migrate/eslint_to_biome.rs
  crates/biome_cli/src/execute/migrate/eslint_typescript.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_consistent_member_accessibility.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useConsistentMemberAccessibility/invalidExplicit.options.json
  crates/biome_js_analyze/tests/specs/nursery/useConsistentMemberAccessibility/invalidExplicit.ts
  crates/biome_js_analyze/tests/specs/nursery/useConsistentMemberAccessibility/invalidExplicit.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentMemberAccessibility/invalidNoPublic.options.json
  crates/biome_js_analyze/tests/specs/nursery/useConsistentMemberAccessibility/invalidNoPublic.ts
  crates/biome_js_analyze/tests/specs/nursery/useConsistentMemberAccessibility/invalidNoPublic.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentMemberAccessibility/invalidNone.options.json
  crates/biome_js_analyze/tests/specs/nursery/useConsistentMemberAccessibility/invalidNone.ts
  crates/biome_js_analyze/tests/specs/nursery/useConsistentMemberAccessibility/invalidNone.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentMemberAccessibility/validExplicit.options.json
  crates/biome_js_analyze/tests/specs/nursery/useConsistentMemberAccessibility/validExplicit.ts
  crates/biome_js_analyze/tests/specs/nursery/useConsistentMemberAccessibility/validExplicit.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentMemberAccessibility/validNoPublic.options.json
  crates/biome_js_analyze/tests/specs/nursery/useConsistentMemberAccessibility/validNoPublic.ts
  crates/biome_js_analyze/tests/specs/nursery/useConsistentMemberAccessibility/validNoPublic.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentMemberAccessibility/validNone.options.json
  crates/biome_js_analyze/tests/specs/nursery/useConsistentMemberAccessibility/validNone.ts
  crates/biome_js_analyze/tests/specs/nursery/useConsistentMemberAccessibility/validNone.ts.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#3741 fix(lsp): update diagnostics only for supported files
  crates/biome_lsp/src/handlers/text_document.rs
  crates/biome_lsp/src/session.rs
Labels: A-LSP

#3744 chore(css_semantic): allow an empty at-property declation
  crates/biome_css_semantic/src/events.rs
  crates/biome_css_semantic/src/semantic_model/builder.rs
  crates/biome_css_semantic/src/semantic_model/mod.rs
  crates/biome_css_semantic/src/semantic_model/model.rs
Labels: L-CSS
