Repository biomejs/biome, pull requests merged in 2024-03, with the labels that each got.

#1944 fix(format): correctly apply trailing comma to formatting
  CHANGELOG.md
  Cargo.lock
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/src/execute/process_file/workspace_file.rs
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_format/applies_custom_bracket_same_line.snap
  crates/biome_cli/tests/snapshots/main_commands_format/applies_custom_jsx_quote_style.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_json_when_allow_trailing_commas.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_json_when_allow_trailing_commas_write.snap
  crates/biome_css_syntax/Cargo.toml
  crates/biome_css_syntax/src/file_source.rs
  crates/biome_js_parser/Cargo.toml
  crates/biome_js_syntax/Cargo.toml
  crates/biome_js_syntax/src/file_source.rs
  crates/biome_js_syntax/src/syntax_node.rs
  crates/biome_json_formatter/src/context.rs
  crates/biome_json_formatter/src/json/lists/array_element_list.rs
  crates/biome_json_formatter/src/json/lists/member_list.rs
  crates/biome_json_formatter/src/separated.rs
  crates/biome_json_syntax/Cargo.toml
  crates/biome_json_syntax/src/file_source.rs
  crates/biome_lsp/src/handlers/text_document.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/file_handlers/astro.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/file_handlers/svelte.rs
  crates/biome_service/src/file_handlers/unknown.rs
  crates/biome_service/src/file_handlers/vue.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/tests/workspace.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/js-api/tsconfig.json
  website/src/content/docs/internals/changelog.md
  website/tsconfig.json
Labels: A-CLI, A-Project, A-Parser, A-Formatter, A-LSP, A-Website, L-JavaScript, L-CSS, L-JSON, A-Changelog

#1957 docs: Fix indentation on code example
  website/src/content/docs/guides/big-projects.mdx
  website/src/content/docs/ja/guides/big-projects.mdx
Labels: A-Website

#1959 docs(zh-cn): update homepage
  website/src/content/docs/zh-cn/index.mdx
Labels: A-Website

#1955 chore: improve useValidAnchor doc
  crates/biome_js_analyze/src/analyzers/a11y/use_valid_anchor.rs
  website/src/content/docs/linter/rules/use-valid-anchor.md
Labels: A-Linter, A-Website, L-JavaScript

#1960 docs(ja): update homepage
  website/src/content/docs/ja/index.mdx
Labels: A-Website

#1954 fix(analyzer): allow constructor with default parameters in noUselessConstructor
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/complexity/no_useless_constructor.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessConstructor/valid.ts
  crates/biome_js_analyze/tests/specs/complexity/noUselessConstructor/valid.ts.snap
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/linter/rules/no-useless-constructor.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1934 fix(js_formatter): fix invalid formatting of long arrow function for AsNeeded arrow parens
  CHANGELOG.md
  crates/biome_js_formatter/src/js/bindings/formal_parameter.rs
  crates/biome_js_formatter/src/js/bindings/parameters.rs
  crates/biome_js_formatter/src/utils/object_pattern_like.rs
  crates/biome_js_formatter/tests/quick_test.rs
  crates/biome_js_formatter/tests/specs/ts/arrow/long_arrow_parentheses_with_line_break.ts
  crates/biome_js_formatter/tests/specs/ts/arrow/long_arrow_parentheses_with_line_break.ts.snap
  website/src/content/docs/internals/changelog.md
Labels: A-Formatter, A-Website, L-JavaScript, A-Changelog

#1963 chore: replace TypeScript ESLint with typescript-eslint
  packages/@biomejs/biome/README.ja.md
  packages/@biomejs/biome/README.md
  packages/@biomejs/biome/README.pt-br.md
  packages/@biomejs/biome/README.zh-CN.md
  website/src/content/docs/index.mdx
  website/src/content/docs/ja/index.mdx
  website/src/content/docs/pt-br/index.mdx
  website/src/content/docs/zh-cn/index.mdx
Labels: A-Website

#1962 docs(ja): Update `ja/index.mdx`
  website/src/content/docs/ja/index.mdx
Labels: A-Website

#1966 fix(lint/noExhaustiveDependencies): avoid getting the whole static member expression for the reference if the expression does not start with the reference
  CHANGELOG.md
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/issue1781.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/issue1781.js.snap
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1970 docs(ja): fix incorrect translation in manual-installation.mdx
  website/src/content/docs/ja/guides/manual-installation.mdx
Labels: A-Website

#1971 docs(zh-cn): Update sidebar items
  website/astro.config.ts
Labels: A-Website

#1973 fix(lint/useExhaustiveDependencies): lint React hooks from other sources
  CHANGELOG.md
  crates/biome_js_analyze/src/react/hooks.rs
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/issue1931.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/issue1931.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/issue1931.options.json
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/linter/rules/use-exhaustive-dependencies.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1976 chore: remove unnecessary comment
  crates/biome_js_analyze/src/analyzers/nursery/no_focused_tests.rs
Labels: A-Linter, L-JavaScript

#1961 feat(analyzer): infer quote from formatter
  CHANGELOG.md
  crates/biome_analyze/src/context.rs
  crates/biome_analyze/src/options.rs
  crates/biome_analyze/src/registry.rs
  crates/biome_analyze/src/signals.rs
  crates/biome_formatter/src/lib.rs
  crates/biome_js_analyze/src/analyzers/complexity/use_literal_keys.rs
  crates/biome_js_analyze/src/analyzers/correctness/no_string_case_mismatch.rs
  crates/biome_js_analyze/src/analyzers/style/no_unused_template_literal.rs
  crates/biome_js_analyze/src/analyzers/style/use_enum_initializers.rs
  crates/biome_js_analyze/src/analyzers/suspicious/use_valid_typeof.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_sorted_classes.rs
  crates/biome_js_analyze/tests/specs/style/useEnumInitializers/invalid2.options.json
  crates/biome_js_analyze/tests/specs/style/useEnumInitializers/invalid2.ts
  crates/biome_js_analyze/tests/specs/style/useEnumInitializers/invalid2.ts.snap
  crates/biome_js_factory/src/make.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_test_utils/src/lib.rs
  website/src/content/docs/internals/changelog.md
Labels: A-Project, A-Linter, A-Formatter, A-Website, L-JavaScript, A-Changelog

#1977 chore: update deps due to security advisories
  Cargo.lock
  Cargo.toml
  xtask/libs_bench/Cargo.toml
Labels: A-Tooling

#1980 fix: concurrency deadlock
  crates/biome_service/src/workspace/server.rs
Labels: A-Project

#1983 refactor(noUndeclaredDependencies): ignore imports with a protocol
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/nursery/no_undeclared_dependencies.rs
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/valid.js.snap
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/linter/rules/no-undeclared-dependencies.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1991 fix(playground): recognize typescript definition files by their file path
  CHANGELOG.md
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/tests/workspace.rs
  website/src/content/docs/internals/changelog.md
Labels: A-Project, A-Website, A-Changelog

#1951 Add GritQL grammar
  Cargo.lock
  Cargo.toml
  crates/biome_grit_factory/Cargo.toml
  crates/biome_grit_factory/src/generated.rs
  crates/biome_grit_factory/src/generated/node_factory.rs
  crates/biome_grit_factory/src/generated/syntax_factory.rs
  crates/biome_grit_factory/src/lib.rs
  crates/biome_grit_syntax/Cargo.toml
  crates/biome_grit_syntax/src/generated.rs
  crates/biome_grit_syntax/src/generated/kind.rs
  crates/biome_grit_syntax/src/generated/macros.rs
  crates/biome_grit_syntax/src/generated/nodes.rs
  crates/biome_grit_syntax/src/generated/nodes_mut.rs
  crates/biome_grit_syntax/src/lib.rs
  crates/biome_grit_syntax/src/syntax_node.rs
  crates/biome_json_factory/src/generated/node_factory.rs
  crates/biome_json_syntax/src/generated/nodes_mut.rs
  xtask/codegen/gritql.ungram
  xtask/codegen/json.ungram
  xtask/codegen/src/ast.rs
  xtask/codegen/src/formatter.rs
  xtask/codegen/src/generate_nodes.rs
  xtask/codegen/src/generate_syntax_factory.rs
  xtask/codegen/src/generate_syntax_kinds.rs
  xtask/codegen/src/grit_kinds_src.rs
  xtask/codegen/src/js_kinds_src.rs
  xtask/codegen/src/lib.rs
Labels: A-Parser, A-Tooling, L-JSON

#1997 feat(cli): add `--stdio` argument to `lsp-proxy` command
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/lib.rs
Labels: A-CLI

#1995 refactor: don't check dir and symlink against include
  CHANGELOG.md
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/ignore_file_in_subdir_in_symlinked_dir.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/include_files_in_subdir.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/include_files_in_symlinked_subdir.snap
  crates/biome_fs/src/fs/os.rs
  crates/biome_service/src/workspace/server.rs
  website/src/content/docs/guides/how-biome-works.mdx
  website/src/content/docs/internals/changelog.md
Labels: A-CLI, A-Core, A-Project, A-Website, A-Changelog

#2002 release: update crates
  Cargo.lock
  Cargo.toml
  crates/biome_analyze/Cargo.toml
  crates/biome_aria/Cargo.toml
  crates/biome_aria_metadata/Cargo.toml
  crates/biome_cli/Cargo.toml
  crates/biome_console/Cargo.toml
  crates/biome_control_flow/Cargo.toml
  crates/biome_css_analyze/Cargo.toml
  crates/biome_css_factory/Cargo.toml
  crates/biome_css_formatter/Cargo.toml
  crates/biome_css_parser/Cargo.toml
  crates/biome_css_syntax/Cargo.toml
  crates/biome_deserialize/Cargo.toml
  crates/biome_deserialize_macros/Cargo.toml
  crates/biome_diagnostics/Cargo.toml
  crates/biome_diagnostics_categories/Cargo.toml
  crates/biome_diagnostics_macros/Cargo.toml
  crates/biome_formatter/Cargo.toml
  crates/biome_fs/Cargo.toml
  crates/biome_grit_factory/Cargo.toml
  crates/biome_grit_syntax/Cargo.toml
  crates/biome_html_factory/Cargo.toml
  crates/biome_html_syntax/Cargo.toml
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_factory/Cargo.toml
  crates/biome_js_formatter/Cargo.toml
  crates/biome_js_parser/Cargo.toml
  crates/biome_js_semantic/Cargo.toml
  crates/biome_js_syntax/Cargo.toml
  crates/biome_js_transform/Cargo.toml
  crates/biome_json_analyze/Cargo.toml
  crates/biome_json_factory/Cargo.toml
  crates/biome_json_formatter/Cargo.toml
  crates/biome_json_parser/Cargo.toml
  crates/biome_json_syntax/Cargo.toml
  crates/biome_markup/Cargo.toml
  crates/biome_parser/Cargo.toml
  crates/biome_rowan/Cargo.toml
  crates/biome_suppression/Cargo.toml
  crates/biome_text_edit/Cargo.toml
  crates/biome_text_size/Cargo.toml
  crates/biome_unicode_table/Cargo.toml
  xtask/bench/Cargo.toml
Labels: A-CLI, A-Core, A-Linter, A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-CSS, L-JSON, A-Diagnostic

#2018 docs(website): remove nightly extension
  website/src/assets/vscode-extension.png
Labels: A-Website

#2020 fix(`useShorthandFunctionType`): generic interface type parameters
  crates/biome_js_analyze/src/analyzers/style/use_shorthand_function_type.rs
  crates/biome_js_analyze/tests/specs/style/useShorthandFunctionType/invalid.ts
  crates/biome_js_analyze/tests/specs/style/useShorthandFunctionType/invalid.ts.snap
Labels: A-Linter, L-JavaScript

#2006 fix(supicious/noDoubleEquals): fix typo
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/lint_vue_js_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/lint_vue_ts_files.snap
  crates/biome_js_analyze/src/analyzers/suspicious/no_double_equals.rs
  crates/biome_js_analyze/tests/specs/suspicious/noDoubleEquals/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noDoubleEquals/invalid.jsonc.snap
  crates/biome_js_analyze/tests/specs/suspicious/noDoubleEquals/invalid.jsx.snap
  crates/biome_js_analyze/tests/suppression/suspicious/noDoubleEquals/noDoubleEquals.js.snap
  crates/biome_js_analyze/tests/suppression/suspicious/noDoubleEquals/noDoubleEquals.jsx.snap
  website/src/content/docs/linter/rules/no-double-equals.md
Labels: A-CLI, A-Linter, A-Website, L-JavaScript

#2019 chore: remove repetitive words
  crates/biome_js_analyze/src/analyzers/correctness/no_unreachable.rs
  crates/biome_js_formatter/src/js/expressions/call_arguments.rs
  crates/biome_js_formatter/src/utils/assignment_like.rs
  crates/biome_js_formatter/src/utils/binary_like_expression.rs
  crates/biome_parser/src/parse_lists.rs
Labels: A-Linter, A-Parser, A-Formatter, L-JavaScript

#2025 fix(`overrides`): `json.formatter.trailingCommas` should work
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_format/format_json_trailing_commas_all.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_json_trailing_commas_none.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_json_trailing_commas_overrides_all.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_json_trailing_commas_overrides_none.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_formatter_configuration.snap
  crates/biome_json_formatter/src/context.rs
  crates/biome_json_formatter/tests/specs/json/array/empty_line.json.snap
  crates/biome_json_formatter/tests/specs/json/array/fill_layout.json.snap
  crates/biome_json_formatter/tests/specs/json/array/layout.json.snap
  crates/biome_json_formatter/tests/specs/json/array/multi_line.json.snap
  crates/biome_json_formatter/tests/specs/json/array/nested.json.snap
  crates/biome_json_formatter/tests/specs/json/array/one_per_line_layout.json.snap
  crates/biome_json_formatter/tests/specs/json/array/single_line.json.snap
  crates/biome_json_formatter/tests/specs/json/comments/empty_with_comments.json.snap
  crates/biome_json_formatter/tests/specs/json/comments/multiline.json.snap
  crates/biome_json_formatter/tests/specs/json/empty.json.snap
  crates/biome_json_formatter/tests/specs/json/number.json.snap
  crates/biome_json_formatter/tests/specs/json/object/complex.json.snap
  crates/biome_json_formatter/tests/specs/json/object/missing_value.json.snap
  crates/biome_json_formatter/tests/specs/json/object/multi_line.json.snap
  crates/biome_json_formatter/tests/specs/json/object/multi_line_long.json.snap
  crates/biome_json_formatter/tests/specs/json/object/one_line.json.snap
  crates/biome_json_formatter/tests/specs/json/object/one_line_long.json.snap
  crates/biome_json_formatter/tests/specs/json/object/string.json.snap
  crates/biome_json_formatter/tests/specs/json/smoke.json.snap
  crates/biome_json_formatter/tests/specs/json/undefined/utf8_bom_empty_object.json.snap
  crates/biome_service/src/configuration/overrides.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/settings.rs
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Formatter, L-JSON

#2023 docs: add description of exception for index usage
  crates/biome_js_analyze/src/analyzers/complexity/no_for_each.rs
  website/src/content/docs/linter/rules/no-for-each.md
Labels: A-Linter, A-Website, L-JavaScript

#2033 fix: typo v1.6.0 release month
  CHANGELOG.md
  website/src/content/docs/internals/changelog.md
Labels: A-Website, A-Changelog

#2030 fix(auto_search): `biome.jsonc` resolution
  crates/biome_cli/tests/commands/rage.rs
  crates/biome_cli/tests/snapshots/main_commands_rage/with_jsonc_configuration.snap
  crates/biome_fs/src/fs.rs
Labels: A-CLI, A-Core, L-JavaScript

#2042 docs: language creation
  pnpm-lock.yaml
  website/package.json
  xtask/codegen/README.md
  xtask/codegen/src/ast.rs
  xtask/codegen/src/formatter.rs
  xtask/codegen/src/generate_macros.rs
  xtask/codegen/src/generate_node_factory.rs
  xtask/codegen/src/generate_nodes.rs
  xtask/codegen/src/generate_nodes_mut.rs
  xtask/codegen/src/generate_syntax_factory.rs
  xtask/codegen/src/generate_syntax_kinds.rs
  xtask/codegen/src/js_kinds_src.rs
  xtask/codegen/src/kind_src.rs
  xtask/codegen/src/language_kind.rs
  xtask/codegen/src/lib.rs
Labels: A-Tooling, A-Website

#2035 fix(noUndeclaredDependencies): support imports of subpath exports
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/nursery/no_undeclared_dependencies.rs
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/valid.package.json
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Website, L-JavaScript, L-JSON, A-Changelog

#2050 release: crates
  Cargo.lock
  Cargo.toml
  crates/biome_analyze/Cargo.toml
  crates/biome_aria/Cargo.toml
  crates/biome_aria_metadata/Cargo.toml
  crates/biome_cli/Cargo.toml
  crates/biome_console/Cargo.toml
  crates/biome_control_flow/Cargo.toml
  crates/biome_css_analyze/Cargo.toml
  crates/biome_css_factory/Cargo.toml
  crates/biome_css_formatter/Cargo.toml
  crates/biome_css_parser/Cargo.toml
  crates/biome_css_syntax/Cargo.toml
  crates/biome_deserialize/Cargo.toml
  crates/biome_deserialize_macros/Cargo.toml
  crates/biome_diagnostics/Cargo.toml
  crates/biome_diagnostics_categories/Cargo.toml
  crates/biome_diagnostics_macros/Cargo.toml
  crates/biome_formatter/Cargo.toml
  crates/biome_fs/Cargo.toml
  crates/biome_grit_factory/Cargo.toml
  crates/biome_grit_syntax/Cargo.toml
  crates/biome_html_factory/Cargo.toml
  crates/biome_html_syntax/Cargo.toml
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_factory/Cargo.toml
  crates/biome_js_formatter/Cargo.toml
  crates/biome_js_parser/Cargo.toml
  crates/biome_js_semantic/Cargo.toml
  crates/biome_js_syntax/Cargo.toml
  crates/biome_js_transform/Cargo.toml
  crates/biome_json_analyze/Cargo.toml
  crates/biome_json_factory/Cargo.toml
  crates/biome_json_formatter/Cargo.toml
  crates/biome_json_parser/Cargo.toml
  crates/biome_json_syntax/Cargo.toml
  crates/biome_markup/Cargo.toml
  crates/biome_parser/Cargo.toml
  crates/biome_project/Cargo.toml
  crates/biome_rowan/Cargo.toml
  crates/biome_suppression/Cargo.toml
  crates/biome_text_edit/Cargo.toml
  crates/biome_text_size/Cargo.toml
  crates/biome_unicode_table/Cargo.toml
Labels: A-CLI, A-Core, A-Linter, A-Parser, A-Formatter, L-JavaScript, L-CSS, L-JSON, A-Diagnostic

#2051 docs(changelog): add a few changelog entries
  CHANGELOG.md
  website/src/content/docs/internals/changelog.md
Labels: A-Website, A-Changelog

#1938 feat(lint/noDoneCallback): add rule
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_done_callback.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noDoneCallback/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noDoneCallback/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noDoneCallback/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noDoneCallback/valid.js.snap
  crates/biome_js_syntax/src/expr_ext.rs
  crates/biome_service/src/configuration/linter/rules.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-done-callback.md
Labels: A-Project, A-Linter, A-Parser, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#2053 chore: remove unused deps
  Cargo.lock
  crates/biome_cli/Cargo.toml
  crates/biome_css_analyze/Cargo.toml
  crates/biome_deserialize/Cargo.toml
  crates/biome_fs/Cargo.toml
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_formatter/Cargo.toml
  crates/biome_js_parser/Cargo.toml
  crates/biome_js_transform/Cargo.toml
  crates/biome_lsp/Cargo.toml
  crates/biome_test_utils/Cargo.toml
  fuzz/Cargo.toml
  xtask/bench/Cargo.toml
  xtask/codegen/Cargo.toml
  xtask/contributors/Cargo.toml
  xtask/lintdoc/Cargo.toml
Labels: A-CLI, A-Core, A-Linter, A-Parser, A-Formatter, A-Tooling, A-LSP, L-JavaScript, L-CSS

#2057 fix(website): result tab panel height
  website/src/styles/playground/_results.scss
  website/src/styles/playground/_tabs.scss
Labels: A-Website

#2046 release: 1.6.1
  CHANGELOG.md
  crates/biome_cli/src/execute/process_file/lint.rs
  packages/@biomejs/biome/package.json
  website/src/content/docs/guides/getting-started.mdx
  website/src/content/docs/guides/how-biome-works.mdx
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/ja/guides/getting-started.mdx
  website/src/content/docs/pt-br/guides/getting-started.mdx
  website/src/content/docs/reference/configuration.mdx
  website/src/content/docs/zh-cn/guides/getting-started.mdx
  website/src/content/docs/zh-cn/reference/configuration.mdx
  website/src/pages/schemas/1.6.1/schema.json.js
Labels: A-CLI, A-Website, A-Changelog

#2058 refactor: add biome_string_case crate
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  crates/biome_deserialize_macros/Cargo.toml
  crates/biome_deserialize_macros/src/deserializable_derive.rs
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_analyze/src/analyzers/style/use_filenaming_convention.rs
  crates/biome_js_analyze/src/semantic_analyzers/style/use_naming_convention.rs
  crates/biome_js_analyze/src/utils.rs
  crates/biome_string_case/Cargo.toml
  crates/biome_string_case/src/lib.rs
  xtask/codegen/Cargo.toml
  xtask/codegen/src/ast.rs
  xtask/codegen/src/generate_analyzer.rs
  xtask/codegen/src/generate_bindings.rs
  xtask/codegen/src/generate_configuration.rs
  xtask/codegen/src/generate_macros.rs
  xtask/codegen/src/generate_new_lintrule.rs
  xtask/codegen/src/generate_node_factory.rs
  xtask/codegen/src/generate_nodes.rs
  xtask/codegen/src/generate_syntax_factory.rs
  xtask/codegen/src/generate_syntax_kinds.rs
  xtask/codegen/src/lib.rs
  xtask/lintdoc/Cargo.toml
  xtask/lintdoc/src/main.rs
  xtask/lintdoc/src/rules_sources.rs
Labels: A-Linter, A-Tooling, L-JavaScript

#2071 fix: typo v1.6.0 release month
  CHANGELOG.md
  website/src/content/docs/internals/changelog.md
Labels: A-Website, A-Changelog

#2068 docs: Update links in JA Getting Started to refer to JA pages
  website/src/content/docs/ja/guides/getting-started.mdx
Labels: A-Website

#2073 fix(tests_infra): `TIME_REGEX` for snapshot redaction
  crates/biome_cli/tests/snap_test.rs
Labels: A-CLI

#2076 fix(`useJsxKeyInIterable`): unwrap parenthesized expressions
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_jsx_key_in_iterable.rs
  crates/biome_js_analyze/tests/specs/nursery/useJsxKeyInIterable/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useJsxKeyInIterable/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useJsxKeyInIterable/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useJsxKeyInIterable/valid.jsx.snap
Labels: A-Linter, L-JavaScript

#2077 fix(tests_infra): `TIME_REGEX` for snapshot redaction
  crates/biome_cli/tests/snap_test.rs
Labels: A-CLI, A-Changelog

#2072 fix(configuration): enabled rules calculation
  CHANGELOG.md
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/top_level_all_down_level_empty.snap
  crates/biome_service/src/configuration/linter/rules.rs
  website/src/content/docs/internals/changelog.md
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI, A-Project, A-Tooling, A-Website, A-Changelog

#2078 fix(formatter): indent instead of align in conditionals
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/biome_js_formatter/src/utils/conditional.rs
  crates/biome_js_formatter/tests/specs/js/module/comments/nested_comments/nested_comments.js.snap
  crates/biome_js_formatter/tests/specs/js/module/expression/conditional_expression.js.snap
  crates/biome_js_formatter/tests/specs/ts/type/conditional.ts.snap
  website/src/content/docs/internals/changelog.md
  website/src/playground/Playground.tsx
  website/src/playground/workers/biomeWorker.ts
Labels: A-Formatter, A-Website, L-JavaScript, A-Changelog

#2065 chore: use knope for generation of changelogs (for crates)
  .cargo/config.toml
  .changeset/README.md
  .changeset/config.json
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  crates/biome_cli/tests/snapshots/main_commands_version/version_ok.snap
  justfile
  knope.toml
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_crate.rs
  xtask/codegen/src/generate_new_lintrule.rs
  xtask/codegen/src/language_kind.rs
  xtask/codegen/src/lib.rs
  xtask/codegen/src/main.rs
Labels: A-CLI, A-Tooling

#2040 feat(biome_js_analyze): noDuplicateElesIf
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_duplicate_else_if.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noDuplicateElseIf/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noDuplicateElseIf/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noDuplicateElseIf/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noDuplicateElseIf/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-duplicate-else-if.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#2069 chore: improve pnpm usage
  .gitattributes
  .github/workflows/ja-translation.yaml
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_js.yml
  .github/workflows/release_js_api.yml
  .github/workflows/runtime.yml
  CONTRIBUTING.md
  biome.json
  crates/biome_formatter_test/src/prettier/package.json
  netlify.toml
  package.json
  packages/@biomejs/backend-jsonrpc/package.json
  packages/@biomejs/backend-jsonrpc/pnpm-lock.yaml
  packages/@biomejs/js-api/package.json
  packages/@biomejs/js-api/pnpm-lock.yaml
  packages/@biomejs/js-api/vitest.config.ts
  packages/tailwindcss-config-analyzer/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  shared/package.json
  tmptest.js
  website/README.md
  website/package.json
Labels: A-Formatter, A-Website

#2096 chore(website): use new discord theme color
  website/src/content/docs/index.mdx
  website/src/styles/_overrides.scss
Labels: A-Website

#2099 chore: run biome on more than a few directories
  .github/workflows/ja-translation.yaml
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_js.yml
  .github/workflows/release_js_api.yml
  .github/workflows/runtime.yml
  .npmrc
  benchmark/bench.biome.json
  benchmark/bench.rome.json
  benchmark/dprint.json
  benchmark/package.json
  benchmark/run.js
  biome.json
  netlify.toml
  package.json
  packages/@biomejs/backend-jsonrpc/package.json
  packages/@biomejs/backend-jsonrpc/src/socket.ts
  packages/@biomejs/backend-jsonrpc/src/transport.ts
  packages/@biomejs/backend-jsonrpc/tests/transport.test.mjs
  packages/@biomejs/backend-jsonrpc/tests/workspace.test.mjs
  packages/@biomejs/backend-jsonrpc/tsconfig.json
  packages/@biomejs/biome/package.json
  packages/@biomejs/biome/scripts/generate-packages.mjs
  packages/@biomejs/biome/scripts/postinstall.js
  packages/@biomejs/biome/scripts/update-nightly-version.mjs
  website/README.md
Labels: A-Website

#2098 feat(css_formatting): add css formatting for the playground
  crates/biome_cli/Cargo.toml
  crates/biome_css_formatter/Cargo.toml
  crates/biome_css_formatter/src/lib.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_wasm/Cargo.toml
  pnpm-lock.yaml
  website/package.json
  website/src/playground/Playground.tsx
  website/src/playground/utils.ts
  website/src/playground/workers/biomeWorker.ts
  website/src/playground/workers/prettierWorker.ts
Labels: A-CLI, A-Project, A-Formatter, A-Website, L-CSS

#2101 Update usage commands for Yarn and PNPM
  website/src/components/PackageManagerBiomeCommand.astro
Labels: A-Website

#2089 docs: parser implementation guide
  crates/biome_control_flow/src/lib.rs
  crates/biome_parser/CONTRIBUTING.md
  crates/biome_parser/src/lexer.rs
  crates/biome_parser/src/lib.rs
  justfile
  xtask/codegen/README.md
Labels: A-Parser, A-Tooling

#2092 fix(js_semantic): add TS_QUALIFIED type for reference
  crates/biome_js_analyze/src/utils/rename.rs
  crates/biome_js_analyze/src/utils/tests.rs
  crates/biome_js_semantic/src/events.rs
Labels: A-Linter, L-JavaScript

#2107 feat(css_formatter): CssFontFeatureValuesAtRule formatting
  crates/biome_css_formatter/src/css/auxiliary/font_feature_values_item.rs
  crates/biome_css_formatter/src/css/lists/font_feature_values_item_list.rs
  crates/biome_css_formatter/src/css/statements/font_feature_values_at_rule.rs
  crates/biome_css_formatter/tests/specs/css/atrule/font_feature_values.css
  crates/biome_css_formatter/tests/specs/css/atrule/font_feature_values.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/font-feature-values.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/comments/at-rules.css.snap
  crates/biome_parser/CONTRIBUTING.md
  website/src/playground/workers/biomeWorker.ts
Labels: A-Parser, A-Formatter, A-Website, L-CSS

#2106 feat(css_formatter): CssDocumentAtRule formatting
  crates/biome_css_formatter/src/css/auxiliary/document_custom_matcher.rs
  crates/biome_css_formatter/src/css/lists/document_matcher_list.rs
  crates/biome_css_formatter/src/css/statements/document_at_rule.rs
  crates/biome_css_formatter/src/utils/block_like.rs
  crates/biome_css_formatter/tests/specs/css/atrule/document.css
  crates/biome_css_formatter/tests/specs/css/atrule/document.css.snap
Labels: A-Formatter, L-CSS

#2113 fix(noSuperWithoutExtends): detect class expressions
  CHANGELOG.md
  crates/biome_js_analyze/src/syntax/correctness/no_super_without_extends.rs
  crates/biome_js_analyze/tests/specs/correctness/noSuperWithoutExtends/valid.js
  crates/biome_js_analyze/tests/specs/correctness/noSuperWithoutExtends/valid.js.snap
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2116 fix: discrepancies on file source detection
  CHANGELOG.md
  crates/biome_cli/tests/cases/cts_files.rs
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/snapshots/main_cases_cts_files/should_allow_using_export_statements.snap
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_js_syntax/src/file_source.rs
  crates/biome_service/src/file_handlers/mod.rs
  website/src/content/docs/internals/changelog.md
Labels: A-CLI, A-Project, A-Linter, A-Parser, A-Website, L-JavaScript, A-Changelog

#2128 fix(noUndeclaredDependencies): false positives
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/nursery/no_undeclared_dependencies.rs
  crates/biome_js_analyze/src/manifest_services.rs
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/valid.d.ts
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/valid.d.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/valid.package.json
  crates/biome_project/src/node_js_project/package_json.rs
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2124 refactor: generic lexer
  Cargo.lock
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_js_parser/src/lexer/highlight.rs
  crates/biome_js_parser/src/lexer/mod.rs
  crates/biome_parser/CONTRIBUTING.md
  crates/biome_parser/Cargo.toml
  crates/biome_parser/src/lexer.rs
Labels: A-Parser, L-JavaScript, L-CSS

#2111 feat(biome_css_analyzer): initilize css linter infra
  Cargo.lock
  Cargo.toml
  crates/biome_css_analyze/src/analyzers/nursery.rs
  crates/biome_css_analyze/src/analyzers/nursery/no_color_invalid_hex.rs
  crates/biome_css_analyze/src/analyzers/nursery/noop.rs
  crates/biome_css_analyze/src/lib.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noColorInvalidHex/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noColorInvalidHex/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noColorInvalidHex/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noColorInvalidHex/valid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noop/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noop/valid.css
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/configuration/linter/rules.rs
  justfile
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_analyzer.rs
  xtask/codegen/src/generate_configuration.rs
  xtask/codegen/src/generate_new_css_lintrule.rs
  xtask/codegen/src/lib.rs
  xtask/codegen/src/main.rs
Labels: A-Project, A-Tooling, L-CSS, A-Diagnostic

#1956 feat(js-api): support applying lint fixes
  CHANGELOG.md
  packages/@biomejs/js-api/src/index.ts
  packages/@biomejs/js-api/tests/__snapshots__/lintContent.test.ts.snap
  packages/@biomejs/js-api/tests/lintContent.test.ts
  website/src/content/docs/internals/changelog.md
Labels: A-Website, A-Changelog

#2127 fix(lint/useOptionalChain): incorrect fix for optional chaining
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/complexity/use_optional_chain.rs
  crates/biome_js_analyze/tests/specs/complexity/useOptionalChain/complexLogicalAndCases.ts
  crates/biome_js_analyze/tests/specs/complexity/useOptionalChain/complexLogicalAndCases.ts.snap
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2130 chore: remove duplicated code
  Cargo.lock
  crates/biome_css_formatter/tests/specs/prettier/css/comments/prettier-ignore.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/yaml/ignore.css.snap
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_formatter/Cargo.toml
  crates/biome_js_formatter/src/comments.rs
  crates/biome_js_syntax/src/lib.rs
  crates/biome_js_syntax/src/suppression.rs
  crates/biome_suppression/src/lib.rs
Labels: A-Core, A-Linter, A-Parser, A-Formatter, L-JavaScript, L-CSS

#2133 chore(doc): set the CSS linter status to 'In Progress'
  website/src/content/docs/internals/language-support.mdx
  website/src/content/docs/ja/internals/language-support.mdx
  website/src/content/docs/pt-br/internals/language-support.mdx
  website/src/content/docs/zh-cn/internals/language-support.mdx
Labels: A-Website

#2137 refactor: reorganize and update globals
  CHANGELOG.md
  crates/biome_js_analyze/src/globals/javascript/language.rs
  crates/biome_js_analyze/src/globals/javascript/mod.rs
  crates/biome_js_analyze/src/globals/javascript/node.rs
  crates/biome_js_analyze/src/globals/javascript/web.rs
  crates/biome_js_analyze/src/globals/mod.rs
  crates/biome_js_analyze/src/globals/module/mod.rs
  crates/biome_js_analyze/src/globals/module/node.rs
  crates/biome_js_analyze/src/globals/typescript.rs
  crates/biome_js_analyze/src/globals/typescript/language.rs
  crates/biome_js_analyze/src/globals/typescript/mod.rs
  crates/biome_js_analyze/src/globals/typescript/node.rs
  crates/biome_js_analyze/src/globals/typescript/web.rs
  crates/biome_js_analyze/src/lint/correctness/no_undeclared_variables.rs
  crates/biome_js_analyze/src/lint/nursery/no_nodejs_modules.rs
  crates/biome_js_analyze/src/lint/style/use_nodejs_import_protocol.rs
  crates/biome_js_analyze/src/lint/suspicious/no_global_assign.rs
  crates/biome_js_analyze/src/lint/suspicious/no_shadow_restricted_names.rs
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/validWorkerGlobals.ts
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/validWorkerGlobals.ts.snap
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2141 fix(biome_service): `.jsonc` file source and parsing
  CHANGELOG.md
  crates/biome_json_syntax/src/file_source.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/tests/workspace.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  website/src/content/docs/internals/changelog.md
Labels: A-Project, A-Parser, A-Website, L-JSON, A-Changelog

#2144 docs(lint/style/useFilenamingConvention): fix example options
  crates/biome_js_analyze/src/lint/style/use_filenaming_convention.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/linter/rules/use-filenaming-convention.md
Labels: A-Linter, A-Website, L-JavaScript

#2150 refactor: json file source
  crates/biome_json_syntax/src/file_source.rs
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/tests/workspace.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  website/src/content/docs/guides/how-biome-works.mdx
Labels: A-Project, A-Parser, A-Website, L-JSON

#2147 fix(project): correctly ignore folders
  CHANGELOG.md
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/process_file.rs
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_check/should_show_formatter_diagnostics_for_files_ignored_by_linter.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_format_files_in_folders_ignored_by_linter.snap
  crates/biome_formatter_test/src/spec.rs
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/src/handlers/formatting.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  website/src/content/docs/internals/changelog.md
Labels: A-CLI, A-Project, A-Formatter, A-LSP, A-Website, A-Changelog

#2153 Chore: remove unused dependencies
  Cargo.lock
  Cargo.toml
  crates/biome_cli/Cargo.toml
  crates/biome_css_analyze/Cargo.toml
  crates/biome_css_formatter/Cargo.toml
  crates/biome_css_parser/Cargo.toml
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_formatter/Cargo.toml
  crates/biome_js_parser/Cargo.toml
  crates/biome_js_semantic/Cargo.toml
  crates/biome_js_syntax/Cargo.toml
  crates/biome_json_analyze/Cargo.toml
  crates/biome_json_formatter/Cargo.toml
  crates/biome_migrate/Cargo.toml
  crates/biome_rowan/Cargo.toml
  crates/biome_wasm/Cargo.toml
Labels: A-CLI, A-Core, A-Linter, A-Parser, A-Formatter, L-JavaScript, L-CSS, L-JSON

#2160 fix(lsp): correctly resolve `extends` configs
  CHANGELOG.md
  crates/biome_fs/src/fs.rs
  crates/biome_fs/src/fs/memory.rs
  crates/biome_fs/src/fs/os.rs
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/src/configuration/mod.rs
  website/src/content/docs/internals/changelog.md
Labels: A-CLI, A-Core, A-Project, A-LSP, A-Website, A-Changelog

#2145 fix: migrate prettier auto endofline to LF as it's the default
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/tests/commands/migrate.rs
  crates/biome_cli/tests/snapshots/main_commands_migrate/prettier_migrate_end_of_line.snap
  website/src/content/docs/internals/changelog.md
Labels: A-CLI, A-Website, A-Changelog

#2152 release: 1.6.2
  CHANGELOG.md
  packages/@biomejs/biome/package.json
  packages/@biomejs/js-api/package.json
  website/src/content/docs/guides/getting-started.mdx
  website/src/content/docs/guides/how-biome-works.mdx
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/ja/guides/getting-started.mdx
  website/src/content/docs/pt-br/guides/getting-started.mdx
  website/src/content/docs/reference/configuration.mdx
  website/src/content/docs/zh-cn/guides/getting-started.mdx
  website/src/content/docs/zh-cn/reference/configuration.mdx
  website/src/pages/schemas/1.6.2/schema.json.js
Labels: A-CLI, A-Website, L-JavaScript, L-JSON, A-Changelog

#2165 chore: reduce redundant lexer methods
  crates/biome_grit_parser/src/lexer/mod.rs
  crates/biome_js_parser/src/lexer/mod.rs
  crates/biome_parser/src/lexer.rs
Labels: A-Parser, L-JavaScript

#2112 feat(lint/noEvolvingAny): add rule
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_evolving_any.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noEvolvingAny/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noEvolvingAny/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noEvolvingAny/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noEvolvingAny/valid.ts.snap
  crates/biome_service/src/configuration/linter/rules.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-evolving-any.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#2169 fix(biome_fs): configuration resolution
  CHANGELOG.md
  crates/biome_cli/src/cli_options.rs
  crates/biome_cli/tests/cases/config_path.rs
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/snapshots/main_cases_config_path/set_config_path.snap
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/migrate_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/rage_help.snap
  crates/biome_fs/src/fs.rs
  crates/biome_service/src/configuration/mod.rs
  website/src/content/docs/internals/changelog.md
Labels: A-CLI, A-Core, A-Project, A-Website, A-Changelog

#2174 fix(website): control flow
  website/src/playground/tabs/ControlFlowTab.tsx
  website/src/styles/playground/_results.scss
Labels: A-Website

#2181 feat(css_formatter): CssPropertyAtRule formatting
  crates/biome_css_formatter/src/css/statements/property_at_rule.rs
  crates/biome_css_formatter/tests/specs/css/atrule/property.css
  crates/biome_css_formatter/tests/specs/css/atrule/property.css.snap
Labels: A-Formatter, L-CSS

#2182 feat(css_formatter): CssNamespaceAtRule formatting
  crates/biome_css_formatter/src/css/statements/namespace_at_rule.rs
  crates/biome_css_formatter/tests/specs/css/atrule/namespace.css
  crates/biome_css_formatter/tests/specs/css/atrule/namespace.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/namespaces.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/comments/at-rules.css.snap
Labels: A-Formatter, L-CSS

#2179 docs(guides/how-biome-works): remove dangling phrase
  website/src/content/docs/guides/how-biome-works.mdx
Labels: A-Website

#2185 fix(js_formatter): break long destructuring binding pattern
  CHANGELOG.md
  crates/biome_js_formatter/src/js/bindings/object_binding_pattern_property.rs
  crates/biome_js_formatter/tests/specs/js/module/binding/object_binding.js
  crates/biome_js_formatter/tests/specs/js/module/binding/object_binding.js.snap
  website/src/content/docs/internals/changelog.md
Labels: A-Formatter, A-Website, L-JavaScript, A-Changelog

#2186 fix(service): cached `JsFormatOptions` with overrides
  CHANGELOG.md
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_service/src/configuration/formatter.rs
  crates/biome_service/src/configuration/javascript/formatter.rs
  crates/biome_service/src/configuration/overrides.rs
  crates/biome_service/src/settings.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/reference/cli.mdx
  website/src/content/docs/reference/configuration.mdx
Labels: A-CLI, A-Project, A-Website, A-Changelog

#2178 fix(lsp): quick fix code actions
  CHANGELOG.md
  crates/biome_lsp/src/handlers/analysis.rs
  website/src/content/docs/internals/changelog.md
Labels: A-LSP, A-Website, A-Changelog

#2187 fix(codegen): new lint rule generation
  crates/biome_analyze/CONTRIBUTING.md
  xtask/codegen/src/generate_new_lintrule.rs
Labels: A-Linter, A-Tooling

#2193 fix(lsp): format range for Astro/Vue/Svelte files
  CHANGELOG.md
  crates/biome_analyze/src/lib.rs
  crates/biome_lsp/src/handlers/formatting.rs
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-LSP, A-Website, A-Changelog

#2176 docs(website): translate integrate-biome-with-your-vcs into Japanese
  website/astro.config.ts
  website/src/content/docs/guides/integrate-in-vcs.mdx
  website/src/content/docs/ja/guides/integrate-in-vcs.mdx
Labels: A-Website

#2194 chore: `search` command infra
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/search.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/process_file.rs
  crates/biome_cli/src/execute/process_file/search.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/src/lib.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/client.rs
  crates/biome_service/src/workspace/server.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-CLI, A-Project, A-Diagnostic

#2180 feat(css_formatter): CssImportAtRule formatting
  crates/biome_css_formatter/src/css/auxiliary/import_anonymous_layer.rs
  crates/biome_css_formatter/src/css/auxiliary/import_named_layer.rs
  crates/biome_css_formatter/src/css/auxiliary/import_supports.rs
  crates/biome_css_formatter/src/css/statements/import_at_rule.rs
  crates/biome_css_formatter/tests/specs/css/atrule/import.css
  crates/biome_css_formatter/tests/specs/css/atrule/import.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/import.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/comments/at-rules.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/inline-url/inline_url.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/quotes/quotes.css.snap
Labels: A-Formatter, L-CSS

#2207 chore: derive `Copy` on `LoggingKind` and `LoggingLevel`
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/migrate.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/search.rs
  crates/biome_cli/src/logging.rs
Labels: A-CLI

#2184 CSS parser parses sequence of custom idents for @font-feature-values #1743
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/custom_identifier.rs
  crates/biome_css_formatter/src/css/any/font_family_name.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/css/auxiliary/font_family_name.rs
  crates/biome_css_formatter/src/css/auxiliary/mod.rs
  crates/biome_css_formatter/src/css/bogus/bogus_custom_identifier.rs
  crates/biome_css_formatter/src/css/bogus/bogus_font_family_name.rs
  crates/biome_css_formatter/src/css/bogus/mod.rs
  crates/biome_css_formatter/src/css/lists/custom_identifier_list.rs
  crates/biome_css_formatter/src/css/lists/font_family_name_list.rs
  crates/biome_css_formatter/src/css/lists/mod.rs
  crates/biome_css_formatter/src/css/statements/font_feature_values_at_rule.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_formatter/tests/specs/css/atrule/font_feature_values.css
  crates/biome_css_formatter/tests/specs/css/atrule/font_feature_values.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/font-feature-values.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/comments/at-rules.css.snap
  crates/biome_css_parser/src/syntax/at_rule/font_feature_values.rs
  crates/biome_css_parser/src/syntax/at_rule/parse_error.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_font_feature_values_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_font_feature_values_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_font_feature_values.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_font_feature_values.css.snap
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS

#2139 docs(pt-br): Update pt-br/index.mdx
  website/src/content/docs/pt-br/index.mdx
Labels: A-Website

#2210 fix(docs): improve wording of docs for global Number rules
  crates/biome_js_analyze/src/lint/correctness/use_is_nan.rs
  crates/biome_js_analyze/src/lint/suspicious/no_global_is_finite.rs
  crates/biome_js_analyze/src/lint/suspicious/no_global_is_nan.rs
  website/src/content/docs/linter/rules/no-global-is-finite.md
  website/src/content/docs/linter/rules/no-global-is-nan.md
  website/src/content/docs/linter/rules/use-is-nan.md
Labels: A-Linter, A-Website, L-JavaScript

#2204 fix(config): group-level lint rules calculation
  CHANGELOG.md
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/group_level_disable_recommended_enable_specific.snap
  crates/biome_service/src/configuration/linter/rules.rs
  website/src/content/docs/internals/changelog.md
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI, A-Project, A-Tooling, A-Website, A-Changelog

#2214 fix(lint): rule noChildrenProp not valid under children in a new line
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/no_children_prop.rs
  crates/biome_js_analyze/tests/specs/correctness/noChildrenProp/noChildrenPropInvalid.jsx
  crates/biome_js_analyze/tests/specs/correctness/noChildrenProp/noChildrenPropInvalid.jsx.snap
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1949 Implement graphql grammar
  Cargo.lock
  Cargo.toml
  crates/biome_graphql_factory/Cargo.toml
  crates/biome_graphql_factory/src/generated.rs
  crates/biome_graphql_factory/src/generated/node_factory.rs
  crates/biome_graphql_factory/src/generated/syntax_factory.rs
  crates/biome_graphql_factory/src/lib.rs
  crates/biome_graphql_syntax/Cargo.toml
  crates/biome_graphql_syntax/src/generated.rs
  crates/biome_graphql_syntax/src/generated/kind.rs
  crates/biome_graphql_syntax/src/generated/macros.rs
  crates/biome_graphql_syntax/src/generated/nodes.rs
  crates/biome_graphql_syntax/src/generated/nodes_mut.rs
  crates/biome_graphql_syntax/src/lib.rs
  crates/biome_graphql_syntax/src/syntax_node.rs
  knope.toml
  xtask/codegen/graphql.ungram
  xtask/codegen/src/formatter.rs
  xtask/codegen/src/generate_nodes.rs
  xtask/codegen/src/generate_syntax_kinds.rs
  xtask/codegen/src/graphql_kind_src.rs
  xtask/codegen/src/js_kinds_src.rs
  xtask/codegen/src/language_kind.rs
  xtask/codegen/src/lib.rs
Labels: A-Tooling

#1935 feat(lint): rule `noMisplacedAssertion`
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/a11y/use_valid_aria_role.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_excessive_nested_test_suites.rs
  crates/biome_js_analyze/src/lint/nursery/no_misplaced_assertion.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/invalidImportedBun.js
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/invalidImportedBun.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/invalidImportedChai.js
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/invalidImportedChai.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/invalidImportedDeno.js
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/invalidImportedDeno.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/invalidImportedNode.js
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/invalidImportedNode.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/validBun.js
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/validBun.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/validDeno.js
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/validDeno.js.snap
  crates/biome_js_syntax/src/expr_ext.rs
  crates/biome_service/src/configuration/linter/rules.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-misplaced-assertion.md
  website/src/content/docs/linter/rules/use-valid-aria-role.md
Labels: A-Project, A-Linter, A-Parser, A-Website, L-JavaScript, A-Diagnostic

#2215 feat(lint): support literal names for `useSortedClasses`
  CHANGELOG.md
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/any_class_string_like.rs
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/codeOptionsSorted.jsx
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/codeOptionsSorted.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/codeOptionsUnsorted.jsx
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/codeOptionsUnsorted.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/sorted.jsx
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/sorted.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/unsorted.jsx
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/unsorted.jsx.snap
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2220 fix(lint): rename `noSemicolonInJsx` to `noSuspiciousSemicolonInJsx`
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_suspicious_semicolon_in_jsx.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noSuspiciousSemicolonInJsx/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noSuspiciousSemicolonInJsx/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noSuspiciousSemicolonInJsx/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noSuspiciousSemicolonInJsx/valid.jsx.snap
  crates/biome_service/src/configuration/linter/rules.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-suspicious-semicolon-in-jsx.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#2230 Fixed a typo in the docs
  website/src/content/docs/analyzer/index.mdx
Labels: A-Website

#2151 feat: css linter docs
  Cargo.lock
  crates/biome_css_analyze/src/lint/nursery/no_color_invalid_hex.rs
  crates/biome_service/src/configuration/linter/rules.rs
  justfile
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/assets/svg/css-icon.svg
  website/src/assets/svg/js-icon.svg
  website/src/assets/svg/json-icon.svg
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-color-invalid-hex.md
  xtask/codegen/src/generate_new_lintrule.rs
  xtask/lintdoc/Cargo.toml
  xtask/lintdoc/src/main.rs
Labels: A-Project, A-Tooling, A-Website, L-CSS

#2238 feat(parser): basic parsing for HTML parser
  Cargo.lock
  crates/biome_html_factory/src/generated/node_factory.rs
  crates/biome_html_factory/src/generated/syntax_factory.rs
  crates/biome_html_parser/Cargo.toml
  crates/biome_html_parser/src/lexer/mod.rs
  crates/biome_html_parser/src/lexer/tests.rs
  crates/biome_html_parser/src/syntax/mod.rs
  crates/biome_html_parser/src/syntax/parse_error.rs
  crates/biome_html_parser/src/token_source.rs
  crates/biome_html_parser/tests/html_specs/ok/attributes.html
  crates/biome_html_parser/tests/html_specs/ok/attributes.html.snap
  crates/biome_html_parser/tests/html_specs/ok/element.html
  crates/biome_html_parser/tests/html_specs/ok/element.html.snap
  crates/biome_html_parser/tests/html_specs/ok/ok.html
  crates/biome_html_parser/tests/html_specs/ok/ok.html.snap
  crates/biome_html_syntax/src/generated/kind.rs
  crates/biome_html_syntax/src/generated/nodes.rs
  crates/biome_html_syntax/src/generated/nodes_mut.rs
  crates/biome_unicode_table/src/lib.rs
  xtask/codegen/html.ungram
  xtask/codegen/src/html_kinds_src.rs
Labels: A-Tooling

#2236 refactor(website): create a dedicated page for import sorting
  website/astro.config.ts
  website/src/content/docs/analyzer/import-sorting.mdx
  website/src/content/docs/analyzer/index.mdx
  website/src/content/docs/formatter/differences-with-prettier.md
  website/src/content/docs/ja/analyzer/import-sorting.mdx
  website/src/content/docs/ja/analyzer/index.mdx
  website/src/content/docs/ja/formatter/differences-with-prettier.md
  website/src/content/docs/pt-br/analyzer/import-sorting.mdx
  website/src/content/docs/pt-br/analyzer/index.mdx
  website/src/content/docs/pt-br/formatter/differences-with-prettier.md
  website/src/content/docs/zh-cn/analyzer/import-sorting.mdx
  website/src/content/docs/zh-cn/analyzer/index.mdx
  website/src/content/docs/zh-cn/formatter/differences-with-prettier.md
Labels: A-Website

#2247 chore: fix typo in docs
  website/src/content/docs/analyzer/index.mdx
Labels: A-Website

#2249 fix(lint/a11y/use_button_type): skip the rule with spread attribute
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/a11y/use_button_type.rs
  crates/biome_js_analyze/tests/specs/a11y/useButtonType/inJsx.jsx
  crates/biome_js_analyze/tests/specs/a11y/useButtonType/inJsx.jsx.snap
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2250 fix(js_analyzer): binary expression utils
  CHANGELOG.md
  crates/biome_js_analyze/src/utils.rs
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog
