Repository biomejs/biome, pull requests merged in 2024-05, with the labels that each got.

#2662 fix(linter): fix typo in rule name. `useConsistentBuiltinInstatiation` to `useConsistentBuiltinInstantiation`
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/correctness/no_invalid_new_builtin.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_consistent_builtin_instantiation.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useConsistentBuiltinInstantiation/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useConsistentBuiltinInstantiation/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentBuiltinInstantiation/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useConsistentBuiltinInstantiation/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#2664 fix(lint/noRedeclare): don't panic on conditional types
  CHANGELOG.md
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/valid-conditional-type.ts
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/valid-conditional-type.ts.snap
  crates/biome_js_semantic/src/semantic_model/builder.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#2669 build(deps): update
  Cargo.lock
  Cargo.toml
  crates/biome_cli/Cargo.toml
  crates/biome_formatter_test/Cargo.toml
  crates/biome_grit_patterns/Cargo.toml
  crates/biome_grit_syntax/Cargo.toml
  crates/biome_js_formatter/Cargo.toml
  crates/biome_lsp/Cargo.toml
  crates/biome_text_size/Cargo.toml
  crates/biome_wasm/Cargo.toml
  xtask/Cargo.toml
  xtask/codegen/Cargo.toml
Labels: A-CLI, A-Core, A-Formatter, A-Tooling, A-LSP, L-JavaScript

#2673 build(deps): upgrade indexmap crate
  Cargo.lock
  Cargo.toml
  crates/biome_deserialize/src/string_set.rs
  crates/biome_formatter/src/printed_tokens.rs
Labels: A-Formatter

#2658 feat(biome_css_analyzer): implement noDuplicateAtImportRules
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_duplicate_at_import_rules.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateAtImportRules/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateAtImportRules/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateAtImportRules/invalidMedia.css
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateAtImportRules/invalidMedia.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateAtImportRules/invalidMultipleMedia.css
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateAtImportRules/invalidMultipleMedia.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateAtImportRules/invalidUrls.css
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateAtImportRules/invalidUrls.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateAtImportRules/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateAtImportRules/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, L-CSS, A-Diagnostic

#2655 feat(biome_css_analyzer): noUnknownSelectorPseudoElement
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/src/keywords.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_unknown_selector_pseudo_element.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/src/utils.rs
  crates/biome_css_analyze/tests/specs/nursery/noUnknownSelectorPseudoElement/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownSelectorPseudoElement/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noUnknownSelectorPseudoElement/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownSelectorPseudoElement/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, L-CSS, A-Diagnostic

#2691 chore: upgrade to rust 1.78
  Cargo.toml
  crates/biome_analyze/src/options.rs
  crates/biome_aria/src/roles.rs
  crates/biome_cli/src/execute/diagnostics.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_css_formatter/tests/prettier_tests.rs
  crates/biome_formatter/src/comments/map.rs
  crates/biome_formatter/src/printer/call_stack.rs
  crates/biome_formatter/src/printer/queue.rs
  crates/biome_formatter/src/printer/stack.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/class_info.rs
  crates/biome_js_parser/src/span.rs
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_semantic/src/tests/assertions.rs
  crates/biome_json_formatter/src/lib.rs
  crates/biome_json_formatter/tests/prettier_tests.rs
  crates/biome_rowan/src/ast/mod.rs
  crates/biome_service/src/file_handlers/astro.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/file_handlers/svelte.rs
  crates/biome_service/src/file_handlers/unknown.rs
  crates/biome_service/src/file_handlers/vue.rs
  rust-toolchain.toml
Labels: A-CLI, A-Core, A-Project, A-Linter, A-Parser, A-Formatter, L-JavaScript, L-CSS, L-JSON

#2688 fix(lint/useExportType): preserve leading comments
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/style/use_export_type.rs
  crates/biome_js_analyze/tests/specs/style/useExportType/invalid.ts
  crates/biome_js_analyze/tests/specs/style/useExportType/invalid.ts.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#2687 fix(lint/noBlankTarget): don't hang when applying the code fix
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/a11y/no_blank_target.rs
  crates/biome_js_analyze/src/lint/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/tests/specs/a11y/noBlankTarget/invalid.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#2694 chore(deps): upgrade oxc_resolver
  Cargo.lock
  Cargo.toml
  crates/biome_configuration/src/lib.rs
  crates/biome_fs/src/fs/os.rs
  xtask/contributors/Cargo.toml
  xtask/contributors/src/main.rs
Labels: A-CLI, A-Core, A-Project, A-Tooling

#2699 docs: better explanation of the directive `"use strict"`
  crates/biome_js_analyze/src/lint/suspicious/no_redundant_use_strict.rs
Labels: A-Linter, L-JavaScript

#2700 docs: add small note about `process.exit`
  crates/biome_js_analyze/src/lint/suspicious/no_fallthrough_switch_clause.rs
Labels: A-Linter, L-JavaScript

#2667 fix(lint/useJsxKeyInIterable): don't trigger `useJsxKeyInIterable` when iterating on non-jsx things
  crates/biome_js_analyze/src/lint/correctness/use_jsx_key_in_iterable.rs
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/valid.jsx
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/valid.jsx.snap
Labels: A-Linter, L-JavaScript

#2686 fix(cli): correctly lint HTML-ish piped from stdin
  CHANGELOG.md
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_cli/tests/cases/handle_astro_files.rs
  crates/biome_cli/tests/cases/handle_svelte_files.rs
  crates/biome_cli/tests/cases/handle_vue_files.rs
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/check_stdin_apply_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/check_stdin_apply_unsafe_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/check_stdin_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/format_stdin_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/format_stdin_write_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/lint_stdin_apply_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/lint_stdin_apply_unsafe_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/lint_stdin_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/check_stdin_apply_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/check_stdin_apply_unsafe_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/check_stdin_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/format_stdin_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/format_stdin_write_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/lint_stdin_apply_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/lint_stdin_apply_unsafe_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/lint_stdin_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/check_stdin_apply_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/check_stdin_apply_unsafe_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/check_stdin_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_stdin_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_stdin_write_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/lint_stdin_apply_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/lint_stdin_apply_unsafe_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/lint_stdin_successfully.snap
Labels: A-CLI, A-Changelog

#2707 fix(lint/noDuplicateAtImportRules): correctly handle both single- and double quotes
  crates/biome_css_analyze/src/lint/nursery/no_duplicate_at_import_rules.rs
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateAtImportRules/invalidQuotes.css
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateAtImportRules/invalidQuotes.css.snap
Labels: L-CSS

#2631 feat(linter): implement `useExplicitLengthCheck`
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/complexity/no_extra_boolean_cast.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_explicit_length_check.rs
  crates/biome_js_analyze/src/lint/suspicious/no_unsafe_negation.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useExplicitLengthCheck/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useExplicitLengthCheck/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useExplicitLengthCheck/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useExplicitLengthCheck/valid.js.snap
  crates/biome_js_syntax/src/expr_ext.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, A-Parser, L-JavaScript, A-Diagnostic, A-Changelog

#2706 feat(linter): implement `NoUnmatchableAnbSelector`
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_unmatchable_anb_selector.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noUnmatchableAnbSelector/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnmatchableAnbSelector/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noUnmatchableAnbSelector/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnmatchableAnbSelector/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, L-CSS, A-Diagnostic

#2713 fix(migrate-eslint): correctly resolve shared config @scope/eslint-config
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint.rs
Labels: A-CLI, A-Changelog

#2692 fix(noUnusedLabels,noConfusingLabels): ignore Svelte reactive statements
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/no_unused_labels.rs
  crates/biome_js_analyze/src/lint/suspicious/no_confusing_labels.rs
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedLabels/invalid.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedLabels/invalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedLabels/valid.svelte
  crates/biome_js_analyze/tests/specs/correctness/noUnusedLabels/valid.svelte.snap
  crates/biome_js_analyze/tests/specs/suspicious/noConfusingLabels/invalid.jsonc
  crates/biome_js_analyze/tests/specs/suspicious/noConfusingLabels/invalid.jsonc.snap
  crates/biome_js_analyze/tests/specs/suspicious/noConfusingLabels/valid.svelte
  crates/biome_js_analyze/tests/specs/suspicious/noConfusingLabels/valid.svelte.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#2721 refactor(lint/useExplicitLengthCheck): avoid some allocations and clone
  crates/biome_js_analyze/src/lint/nursery/use_explicit_length_check.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#2701 fix(lint/useJsxKeyInIterable): handle ternaries properly
  crates/biome_js_analyze/src/lint/correctness/use_jsx_key_in_iterable.rs
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/valid.jsx
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/valid.jsx.snap
Labels: A-Linter, L-JavaScript

#2735 fix(useExplicitLengthCheck): docs
  crates/biome_js_analyze/src/lint/nursery/use_explicit_length_check.rs
Labels: A-Linter, L-JavaScript

#2741 chore(changelog): add Unreleased section
  CHANGELOG.md
Labels: L-JavaScript, A-Changelog

#2726 feat(cli): execute commands without file paths
  CHANGELOG.md
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/ci.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_check/lint_error_without_file_paths.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/does_formatting_error_without_file_paths.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_without_file_paths.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/group_level_recommended_false_enable_specific.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_error_without_file_paths.snap
Labels: A-CLI, A-Changelog, S-Feature

#2720 feat: add `noUselessStringConcat` rule
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_useless_string_concat.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessStringConcat/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessStringConcat/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUselessStringConcat/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessStringConcat/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#2607 feat(lsp): workspaces
  CHANGELOG.md
  Cargo.lock
  crates/biome_configuration/src/lib.rs
  crates/biome_lsp/Cargo.toml
  crates/biome_lsp/src/handlers/text_document.rs
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/session.rs
  crates/biome_lsp/src/utils.rs
  crates/biome_lsp/tests/server.rs
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/client.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-Project, A-LSP, A-Changelog, S-Feature

#2746 chore: add Grit target node bindings
  Cargo.lock
  crates/biome_grit_patterns/Cargo.toml
  crates/biome_grit_patterns/src/grit_binding.rs
  crates/biome_grit_patterns/src/grit_context.rs
  crates/biome_grit_patterns/src/grit_node.rs
  crates/biome_grit_patterns/src/grit_node_patterns.rs
  crates/biome_grit_patterns/src/grit_target_language.rs
  crates/biome_grit_patterns/src/grit_target_language/js_target_language.rs
  crates/biome_grit_patterns/src/grit_target_node.rs
  crates/biome_grit_patterns/src/grit_tree.rs
  crates/biome_grit_patterns/src/lib.rs
  crates/biome_js_syntax/src/generated/kind.rs
  crates/biome_service/src/workspace/server.rs
  xtask/codegen/src/js_kinds_src.rs
Labels: A-Project, A-Parser, A-Tooling, L-JavaScript

#2727 refactor(parser): implement NthToken for T
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/token_source.rs
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/lib.rs
  crates/biome_graphql_parser/src/lexer/mod.rs
  crates/biome_graphql_parser/src/token_source.rs
  crates/biome_graphql_syntax/src/lib.rs
  crates/biome_grit_parser/src/lexer/mod.rs
  crates/biome_grit_syntax/src/lib.rs
  crates/biome_html_parser/src/lexer/mod.rs
  crates/biome_html_parser/src/token_source.rs
  crates/biome_html_syntax/src/lib.rs
  crates/biome_js_parser/src/lexer/mod.rs
  crates/biome_js_parser/src/lexer/tests.rs
  crates/biome_js_parser/src/token_source.rs
  crates/biome_js_syntax/src/lib.rs
  crates/biome_json_syntax/src/lib.rs
  crates/biome_parser/CONTRIBUTING.md
  crates/biome_parser/src/lexer.rs
  crates/biome_parser/src/lib.rs
  crates/biome_parser/src/token_source.rs
  crates/biome_rowan/src/raw_language.rs
  crates/biome_rowan/src/syntax.rs
  crates/biome_yaml_syntax/src/lib.rs
Labels: A-Core, A-Parser, L-JavaScript, L-CSS, L-JSON

#2729 fix(lint/useSingleCaseStatement): ignore `break` statements
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/style/use_single_case_statement.rs
  crates/biome_js_analyze/tests/specs/style/useSingleCaseStatement/valid.js
  crates/biome_js_analyze/tests/specs/style/useSingleCaseStatement/valid.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#2762 feat(bench): add CSS analyzer to the benchmarks
  Cargo.lock
  xtask/bench/Cargo.toml
  xtask/bench/benches/analyzer-libs-css.txt
  xtask/bench/benches/css_analyzer.rs
  xtask/bench/benches/js_analyzer.rs
  xtask/bench/src/language.rs
Labels: A-Tooling

#2755 feat(biome_css_analyzer): noUnknownProperty
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/src/keywords.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_unknown_property.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/src/utils.rs
  crates/biome_css_analyze/tests/specs/nursery/noUnknownProperty/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownProperty/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noUnknownProperty/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownProperty/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, L-CSS, A-Diagnostic

#2528 feat(cli): command `clean`
  .changeset/new_clean_command.md
  crates/biome_cli/src/commands/clean.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/rage.rs
  crates/biome_cli/src/lib.rs
Labels: A-CLI, S-Feature

#2769 feat(css_formatter): use format_number_token utils for css number
  crates/biome_css_formatter/src/css/value/number.rs
  crates/biome_css_formatter/tests/specs/css/color/functional_colors.css.snap
  crates/biome_css_formatter/tests/specs/css/number.css
  crates/biome_css_formatter/tests/specs/css/number.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/color/functional-syntax.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/color/whitespace-syntax.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/numbers/numbers.css.snap
Labels: A-Formatter, L-CSS

#2710 feat(biome_js_analyze): implement useFocusableInteractive
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_focusable_interactive.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useFocusableInteractive/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useFocusableInteractive/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useFocusableInteractive/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useFocusableInteractive/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#2791 chore: remove libs that panic
  Cargo.lock
  xtask/bench/Cargo.toml
  xtask/bench/benches/analyzer-libs-css.txt
  xtask/bench/src/lib.rs
Labels: A-Tooling

#2792 fix(css_parser): resolve CSS parsing issues
  crates/biome_css_formatter/tests/specs/css/color/functional_colors.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/grid/grid.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/numbers/numbers.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/parens/parens.css.snap
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/tests/css_test_suite/ok/function/rgb.css
  crates/biome_css_parser/tests/css_test_suite/ok/function/rgb.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/property/grid.css
  crates/biome_css_parser/tests/css_test_suite/ok/property/grid.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/values/number.css
  crates/biome_css_parser/tests/css_test_suite/ok/values/number.css.snap
Labels: A-Parser, A-Formatter, L-CSS

#2788 feat: support `lang="tsx"` for vue sfc
  CHANGELOG.md
  crates/biome_service/src/file_handlers/mod.rs
Labels: A-Project, A-Changelog

#2500 fix(js_formatter): avoid introducing linebreaks for single line string interpolations
  CHANGELOG.md
  crates/biome_formatter/src/buffer.rs
  crates/biome_js_formatter/src/js/auxiliary/template_element.rs
  crates/biome_js_formatter/src/js/lists/template_element_list.rs
  crates/biome_js_formatter/src/utils/test_each_template.rs
  crates/biome_js_formatter/tests/specs/js/module/expression/logical_expression.js.snap
  crates/biome_js_formatter/tests/specs/js/module/template/template.js
  crates/biome_js_formatter/tests/specs/js/module/template/template.js.snap
  crates/biome_js_formatter/tests/specs/jsx/element.jsx.snap
  crates/biome_js_formatter/tests/specs/prettier/js/chain-expression/issue-15785-3.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/multiparser-css/issue-5697.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/multiparser-html/lit-html.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/strings/template-literals.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/template-literals/expressions.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/template-literals/indention.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/template-literals/sequence-expressions.js.snap
  crates/biome_js_formatter/tests/specs/prettier/jsx/text-wrap/test.js.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/satisfies-operators/template-literal.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/template-literals/as-expression.ts.snap
  crates/biome_js_formatter/tests/specs/ts/type/template_type.ts.snap
Labels: A-Formatter, L-JavaScript, A-Changelog

#2495 feat(lint/useExhaustiveDependencies): detect dependencies that change on every render
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/unstableDependency.jsx
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/unstableDependency.jsx.snap
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog, S-Feature

#2747 fix(lint/useJsxKeyInIterable): handle fragments more comprehensively
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/use_jsx_key_in_iterable.rs
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/invalid.jsx
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/valid.jsx
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/valid.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#2717 feat(biome_css_analyzer): implement noInvalidPositionAtImportRule
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_invalid_position_at_import_rule.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/invalidBetweenImport.css
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/invalidBetweenImport.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/invalidMediaImport.css
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/invalidMediaImport.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/invalidMediaImportUpperCase.css
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/invalidMediaImportUpperCase.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/valid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/validCharset.css
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/validCharset.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/validCharsetComment.css
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/validCharsetComment.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/validCharsetMultipleImport.css
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/validCharsetMultipleImport.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/validComment.css
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/validComment.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/validLayerImport.css
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/validLayerImport.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/validMultipleImport.css
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/validMultipleImport.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/validNoImportant.css
  crates/biome_css_analyze/tests/specs/nursery/noInvalidPositionAtImportRule/validNoImportant.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, L-JavaScript, L-CSS, A-Diagnostic

#2751 feat(biome_css_analyzer): implement noUnknownMediaFeatureName
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/src/keywords.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_unknown_media_feature_name.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/src/utils.rs
  crates/biome_css_analyze/tests/specs/nursery/noUnknownMediaFeatureName/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownMediaFeatureName/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noUnknownMediaFeatureName/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownMediaFeatureName/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, L-CSS, A-Diagnostic

#2778 fix: resolve deadlocks by narrowing the scope of locks
  CHANGELOG.md
  crates/biome_service/src/workspace/server.rs
Labels: A-Project, A-Changelog

#2793 fix(lint/noExcessiveNestedTestSuites): don't alert if describe call is a member of some other object
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/complexity/no_excessive_nested_test_suites.rs
  crates/biome_js_analyze/tests/specs/complexity/noExcessiveNestedTestSuites/valid.js
  crates/biome_js_analyze/tests/specs/complexity/noExcessiveNestedTestSuites/valid.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#2666 feat(linter): implement useThrowNewError
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_consistent_builtin_instantiation.rs
  crates/biome_js_analyze/src/lint/nursery/use_throw_new_error.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useThrowNewError/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useThrowNewError/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useThrowNewError/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useThrowNewError/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#2813 feat(biome_analyze): make jsx_runtime optional inside the analyzer
  crates/biome_analyze/src/context.rs
  crates/biome_analyze/src/options.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_test_utils/src/lib.rs
Labels: A-Project, A-Linter

#2803 fix(lint/useJsxKeyInIterable): flag jsx in variable declarations
  crates/biome_js_analyze/src/lint/correctness/use_jsx_key_in_iterable.rs
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/invalid.jsx
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/valid.jsx
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/valid.jsx.snap
Labels: A-Linter, L-JavaScript

#2824 feat(analyze): serialize rule metadata
  crates/biome_analyze/src/rule.rs
Labels: A-Linter

#2814 fix(biome_graphql_parser): allow keyword to be used as identifier
  crates/biome_graphql_parser/src/parser/argument.rs
  crates/biome_graphql_parser/src/parser/definitions/enum.rs
  crates/biome_graphql_parser/src/parser/definitions/field.rs
  crates/biome_graphql_parser/src/parser/definitions/fragment.rs
  crates/biome_graphql_parser/src/parser/definitions/input_object.rs
  crates/biome_graphql_parser/src/parser/definitions/interface.rs
  crates/biome_graphql_parser/src/parser/definitions/mod.rs
  crates/biome_graphql_parser/src/parser/definitions/operation.rs
  crates/biome_graphql_parser/src/parser/definitions/union.rs
  crates/biome_graphql_parser/src/parser/mod.rs
  crates/biome_graphql_parser/src/parser/parse_error.rs
  crates/biome_graphql_parser/src/parser/value.rs
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/directive_definition.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/enum.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/enum.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/fragment.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/fragment.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/input_object.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/input_object.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/interface.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/object.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/union.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/union.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/err/operation.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/err/operation.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/err/selection_set.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/err/selection_set.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/err/type.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/err/type.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/err/value.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/err/value.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/directive_definition.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/directive_definition.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/enum.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/enum.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/fragment.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/fragment.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/input_object.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/input_object.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/interface.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/interface.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/object.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/object.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/scalar.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/scalar.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/schema.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/schema.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/union.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/union.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/directive.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/directive.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/operation.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/operation.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/type.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/type.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/value.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/value.graphql.snap
  crates/biome_parser/src/parse_lists.rs
Labels: A-Parser

#2836 feat(bench): add graphql parser
  Cargo.lock
  Cargo.toml
  xtask/bench/Cargo.toml
  xtask/bench/benches/graphql_parser.rs
  xtask/bench/benches/libs-graphql.txt
  xtask/bench/src/language.rs
Labels: A-Tooling

#2838 refactor(biome_fs): make `BiomePath::extension_as_str` not panic
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_fs/src/path.rs
Labels: A-CLI, A-Core

#2812 fix(js_semantic): import namespace handling
  CHANGELOG.md
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/invalidNamesapceReference.ts
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/invalidNamesapceReference.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/invalid-import-namespace.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/invalid-import-namespace.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validNamesapceExportType.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validNamesapceExportType.ts.snap
  crates/biome_js_analyze/tests/specs/style/useExportType/valid.ts
  crates/biome_js_analyze/tests/specs/style/useExportType/valid.ts.snap
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/invalid.ts
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/invalid.ts.snap
  crates/biome_js_semantic/src/events.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#2382 feat(migrate): migrate nursery rules
  .editorconfig
  Cargo.lock
  crates/biome_json_factory/src/make.rs
  crates/biome_migrate/Cargo.toml
  crates/biome_migrate/src/analyzers.rs
  crates/biome_migrate/src/analyzers/nursery_rules.rs
  crates/biome_migrate/tests/specs/migrations/nurseryRules/existingGroup.json
  crates/biome_migrate/tests/specs/migrations/nurseryRules/existingGroup.json.snap
  crates/biome_migrate/tests/specs/migrations/nurseryRules/noNewGroup.json
  crates/biome_migrate/tests/specs/migrations/nurseryRules/noNewGroup.json.snap
  crates/biome_migrate/tests/specs/migrations/nurseryRules/renamedRule.json
  crates/biome_migrate/tests/specs/migrations/nurseryRules/renamedRule.json.snap
  crates/biome_migrate/tests/specs/migrations/nurseryRules/renamedRuleAndNewRule.json
  crates/biome_migrate/tests/specs/migrations/nurseryRules/renamedRuleAndNewRule.json.snap
  crates/biome_rowan/src/ast/mutation.rs
  crates/biome_test_utils/src/lib.rs
Labels: A-Core, L-JSON

#2843 docs(useFilenamingConvention): how to ignore files
  crates/biome_js_analyze/src/lint/style/use_filenaming_convention.rs
Labels: A-Linter, L-JavaScript

#2848 chore: add graphql_parser bench to `Cargo.toml`
  xtask/bench/Cargo.toml
Labels: A-Tooling

#2868 fix(js_parser): accept `const` type param on `new` signatures
  CHANGELOG.md
  crates/biome_js_parser/src/syntax/typescript/types.rs
  crates/biome_js_parser/test_data/inline/ok/ts_construct_signature_member.rast
  crates/biome_js_parser/test_data/inline/ok/ts_construct_signature_member.ts
Labels: A-Parser, L-JavaScript, A-Changelog

#2870 fix(js_semantic): ignore `this` in JSX components
  CHANGELOG.md
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/validThis.tsx
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/validThis.tsx.snap
  crates/biome_js_semantic/src/events.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#2794 feat(lint): add new js lint: `useTopLevelRegex`
  CHANGELOG.md
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_top_level_regex.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useTopLevelRegex/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useTopLevelRegex/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useTopLevelRegex/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useTopLevelRegex/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#2820 refactor(biome_analyze): add `RuleAction::new`
  crates/biome_analyze/src/rule.rs
  crates/biome_js_analyze/src/assists/correctness/organize_imports.rs
Labels: A-Linter, L-JavaScript

#2873 fix(docs): noImplicitBoolean is inspired
  crates/biome_js_analyze/src/lint/style/no_implicit_boolean.rs
Labels: A-Linter, L-JavaScript

#2861 fix(lint/noExportsInTest): avoid mistakenly identifying files with in-source testing as test files
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/suspicious/no_exports_in_test.rs
  crates/biome_js_analyze/tests/specs/suspicious/noExportsInTest/in-source-testing.js
  crates/biome_js_analyze/tests/specs/suspicious/noExportsInTest/in-source-testing.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#2852 feat(biome_configuration): add helpers for parsing .editorconfig files
  Cargo.lock
  Cargo.toml
  crates/biome_configuration/Cargo.toml
  crates/biome_configuration/src/editorconfig.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_formatter/src/lib.rs
Labels: A-Project, A-Formatter

#2878 docs: update no_non_null_assertion.rs
  crates/biome_js_analyze/src/lint/style/no_non_null_assertion.rs
Labels: A-Linter, L-JavaScript

#2860 feat(cli/lint): add the `--rule` option
  CHANGELOG.md
  crates/biome_analyze/src/lib.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/process_file/format.rs
  crates/biome_cli/src/execute/process_file/lint.rs
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_rule_filter.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_rule_filter_group.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_rule_filter_group_disabled.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_rule_filter_group_with_disabled_rule.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_rule_filter_with_config.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_rule_filter_with_linter_disabled.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_rule_filter_with_recommened_disabled.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_rule_missing_group.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_rule_rule_doesnt_exist.snap
  crates/biome_configuration/src/linter/mod.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI, A-Project, A-Linter, A-Tooling, A-LSP, A-Changelog

#2883 fix(no-explicit-any): doc codeblock test
  crates/biome_js_analyze/src/lint/suspicious/no_explicit_any.rs
Labels: A-Linter, L-JavaScript

#2875 docs: fix incorrect bullet char + fix links
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
Labels: A-Linter, L-JavaScript

#2888 docs(cli): add details about the `--rule` option
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
Labels: A-CLI

#2885 refactor(biome_analyze): derive `Applicability` from `FixKind`
  crates/biome_analyze/src/rule.rs
  crates/biome_analyze/src/signals.rs
  crates/biome_js_analyze/src/assists/correctness/organize_imports.rs
  crates/biome_migrate/src/analyzers/nursery_rules.rs
Labels: A-Linter, L-JavaScript

#2823 fix(biome_service): add magic vue compiler macros to globals for vue single file components
  CHANGELOG.md
  crates/biome_cli/tests/cases/handle_vue_files.rs
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/vue_compiler_macros_as_globals.snap
  crates/biome_service/src/file_handlers/javascript.rs
Labels: A-CLI, A-Project, A-Changelog

#2891 chore(ci): fix nextest on windows
  .github/workflows/pull_request.yml
Labels: A-Changelog

#2892 feat(configuration): add the `fix` rule option
  CHANGELOG.md
  Cargo.lock
  crates/biome_analyze/Cargo.toml
  crates/biome_analyze/src/options.rs
  crates/biome_analyze/src/rule.rs
  crates/biome_analyze/src/signals.rs
  crates/biome_cli/src/commands/explain.rs
  crates/biome_cli/src/execute/migrate/eslint_to_biome.rs
  crates/biome_configuration/src/linter/mod.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidFixNone.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidFixNone.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidFixNone.options.json
  crates/biome_js_analyze/tests/specs/style/noUnusedTemplateLiteral/invalidFixSafe.js
  crates/biome_js_analyze/tests/specs/style/noUnusedTemplateLiteral/invalidFixSafe.js.snap
  crates/biome_js_analyze/tests/specs/style/noUnusedTemplateLiteral/invalidFixSafe.options.json
  crates/biome_js_analyze/tests/specs/style/useConst/invalidFixUnsafe.js
  crates/biome_js_analyze/tests/specs/style/useConst/invalidFixUnsafe.js.snap
  crates/biome_js_analyze/tests/specs/style/useConst/invalidFixUnsafe.options.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Changelog

#2893 refactor: use an unordered set for interned paths
  crates/biome_fs/src/interner.rs
Labels: A-CLI, A-Core

#2894 refactor(noConfusingVoidType): add code action and improve diagnostics
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/suspicious/no_confusing_void_type.rs
  crates/biome_js_analyze/tests/specs/suspicious/noConfusingVoidType/invalid.ts.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#2895 chore: fix typos in the `useNamingConvention` documentation
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
Labels: A-Linter, L-JavaScript

#2897 refactor(migrate/eslint): improve eslint ignore support
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint.rs
  crates/biome_cli/src/execute/migrate/eslint_eslint.rs
  crates/biome_cli/src/execute/migrate/eslint_to_biome.rs
  crates/biome_cli/src/execute/migrate/ignorefile.rs
  crates/biome_cli/tests/commands/migrate_eslint.rs
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslint_config_packagejson.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintignore_and_ignore_patterns.snap
Labels: A-CLI, A-Changelog

#2902 refactor(configuration): disallow `fix` field for unfixable rules
  crates/biome_cli/src/execute/migrate/eslint_to_biome.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_configuration/src/linter/mod.rs
  crates/biome_configuration/src/linter/rules.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI, A-Project, A-Tooling

#2903 chore: added CHANGELOG about css lint rules
  CHANGELOG.md
Labels: A-Changelog

#2790 feat: enable CSS linter and CSS formatter
  CHANGELOG.md
  crates/biome_cli/Cargo.toml
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/rage.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/cases/handle_css_files.rs
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_cases_handle_css_files/should_format_files_by_when_opt_in.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_css_files/should_format_write_files_by_when_opt_in.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_css_files/should_lint_files_by_when_enabled.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_css_files/should_not_format_files_by_default.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_css_files/should_not_lint_files_by_default.snap
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_apply_different_formatting.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_apply_different_formatting_with_cli.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_formatter_configuration.snap
  crates/biome_configuration/src/css.rs
  crates/biome_configuration/src/javascript/formatter.rs
  crates/biome_configuration/src/javascript/mod.rs
  crates/biome_configuration/src/json.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_css_analyze/src/lint/nursery/no_color_invalid_hex.rs
  crates/biome_css_analyze/tests/spec_tests.rs
  crates/biome_css_formatter/Cargo.toml
  crates/biome_css_formatter/src/lib.rs
  crates/biome_css_parser/src/parser.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_wasm/Cargo.toml
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Parser, A-Formatter, L-CSS, A-Changelog

#2904 fix(js_parser): do not crash when encountring `declare using`
  CHANGELOG.md
  crates/biome_js_parser/src/syntax/typescript/statement.rs
  crates/biome_js_parser/test_data/inline/err/ts_declare_using.rast
  crates/biome_js_parser/test_data/inline/err/ts_declare_using.ts
Labels: A-Parser, L-JavaScript, A-Changelog

#2905 refactor: improve diagnostic for too large files
  crates/biome_cli/tests/snapshots/main_commands_check/file_too_large.snap
  crates/biome_cli/tests/snapshots/main_commands_check/file_too_large_cli_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_check/file_too_large_config_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/file_too_large.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/file_too_large_cli_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/file_too_large_config_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_format/file_too_large.snap
  crates/biome_cli/tests/snapshots/main_commands_format/file_too_large_cli_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_format/file_too_large_config_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/file_too_large.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/file_too_large_cli_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/file_too_large_config_limit.snap
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/snapshots/file_too_large.snap
Labels: A-CLI, A-Project

#2816 feat(linter): implement useNumberToFixedDigitsArgument
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_number_to_fixed_digits_argument.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useNumberToFixedDigitsArgument/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useNumberToFixedDigitsArgument/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useNumberToFixedDigitsArgument/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useNumberToFixedDigitsArgument/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#2909 chore(linter): remove unused `NoColorInvalidHex`
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_color_invalid_hex.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noColorInvalidHex/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noColorInvalidHex/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noColorInvalidHex/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noColorInvalidHex/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, L-CSS, A-Diagnostic

#2912 fix(bench): json formatter benchmark suites
  xtask/bench/benches/json_formatter.rs
Labels: A-Tooling, A-Changelog

#2910 docs: improve analyze guide
  crates/biome_analyze/CONTRIBUTING.md
  crates/biome_analyze/src/lib.rs
Labels: A-Linter

#2913 docs: add more tips around the analyzer
  crates/biome_analyze/CONTRIBUTING.md
Labels: A-Linter

#2898 feat(cli): add `--write`, `--fix` and `--unsafe` options to fixable commands
  CHANGELOG.md
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/migrate.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/src/reporter/terminal.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/commands/migrate.rs
  crates/biome_cli/tests/commands/migrate_eslint.rs
  crates/biome_cli/tests/commands/migrate_prettier.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_check/fix_noop.snap
  crates/biome_cli/tests/snapshots/main_commands_check/fix_ok.snap
  crates/biome_cli/tests/snapshots/main_commands_check/fix_suggested_error.snap
  crates/biome_cli/tests/snapshots/main_commands_check/fix_unsafe_ok.snap
  crates/biome_cli/tests/snapshots/main_commands_check/fix_unsafe_with_error.snap
  crates/biome_cli/tests/snapshots/main_commands_check/write_noop.snap
  crates/biome_cli/tests/snapshots/main_commands_check/write_ok.snap
  crates/biome_cli/tests/snapshots/main_commands_check/write_suggested_error.snap
  crates/biome_cli/tests/snapshots/main_commands_check/write_unsafe_ok.snap
  crates/biome_cli/tests/snapshots/main_commands_check/write_unsafe_with_error.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/formatter_fix.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/fix_noop.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/fix_ok.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/fix_suggested.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/fix_suggested_error.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/fix_unsafe_with_error.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/migrate_help.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/should_suggest_error_incompatible_arguments.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintrcjson_fix.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_fix.snap
  crates/biome_service/src/workspace.rs
Labels: A-CLI, A-Project, A-Changelog

#2867 feat(lint): useSemanticElements
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_semantic_elements.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useSemanticElements/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useSemanticElements/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useSemanticElements/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useSemanticElements/valid.jsx.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#2884 feat(biome_service,biome_cli): resolve `.editorconfig` files and merge configuration
  Cargo.lock
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/tests/cases/editorconfig.rs
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_have_biome_override_editorconfig.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_use_editorconfig.snap
  crates/biome_configuration/src/diagnostics.rs
  crates/biome_configuration/src/editorconfig.rs
  crates/biome_diagnostics/Cargo.toml
  crates/biome_diagnostics/src/adapters.rs
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/diagnostics.rs
Labels: A-CLI, A-Project, A-Diagnostic

#2725 feat(linter): implement useImportExtensions
  CHANGELOG.md
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_import_extensions.rs
  crates/biome_js_analyze/src/lint/nursery/use_import_restrictions.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useImportExtensions/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useImportExtensions/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useImportExtensions/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useImportExtensions/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#2742 feat(cli): add diagnostic summary
  CHANGELOG.md
  crates/biome_cli/src/cli_options.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/reporter/mod.rs
  crates/biome_cli/src/reporter/summary.rs
  crates/biome_cli/src/reporter/terminal.rs
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/cases/reporter_summary.rs
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_check_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_format_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_lint_command.snap
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/migrate_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/rage_help.snap
  crates/biome_console/src/lib.rs
  crates/biome_console/src/markup.rs
  shared/package.json
Labels: A-CLI, A-Changelog

#2842 feat(biome_graphql_parser): parse schema extension
  crates/biome_graphql_factory/src/generated/node_factory.rs
  crates/biome_graphql_factory/src/generated/syntax_factory.rs
  crates/biome_graphql_parser/src/parser/definitions/mod.rs
  crates/biome_graphql_parser/src/parser/definitions/schema.rs
  crates/biome_graphql_parser/src/parser/parse_error.rs
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/schema.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/schema_extension.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/schema_extension.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/schema.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/schema_extension.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/schema_extension.graphql.snap
  crates/biome_graphql_syntax/src/generated/kind.rs
  crates/biome_graphql_syntax/src/generated/macros.rs
  crates/biome_graphql_syntax/src/generated/nodes.rs
  crates/biome_graphql_syntax/src/generated/nodes_mut.rs
  crates/biome_graphql_syntax/src/lib.rs
  xtask/codegen/graphql.ungram
  xtask/codegen/src/graphql_kind_src.rs
Labels: A-Tooling

#2922 refactor(diagnostics): change enum hierarchy for configuration diagnostics
  crates/biome_cli/src/commands/mod.rs
  crates/biome_configuration/src/diagnostics.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/settings.rs
Labels: A-CLI, A-Project

#2921 fix(useSortedClasses): keep trailing and leading spaces in code action
  CHANGELOG.md
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/sort.rs
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/templateLiteralSpace.jsx
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/templateLiteralSpace.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#2929 fix(no_prototyp_builtins): typo
  crates/biome_js_analyze/src/lint/suspicious/no_prototype_builtins.rs
Labels: A-Changelog

#2931 fix(no-danger): rule source typos
  crates/biome_js_analyze/src/lint/security/no_dangerously_set_inner_html.rs
  crates/biome_js_analyze/src/lint/security/no_dangerously_set_inner_html_with_children.rs
Labels: A-Linter, L-JavaScript

#2933 fix: resolve manifest in CI
  CHANGELOG.md
  crates/biome_cli/src/commands/ci.rs
Labels: A-CLI, A-Changelog

#2934 fix(noUnusedVariables): no longer panic
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/no_unused_variables.rs
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/issue_2886.ts
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/issue_2886.ts.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#2936 fix(workspace): pull code actions from overrides
  CHANGELOG.md
  crates/biome_lsp/tests/server.rs
  crates/biome_service/src/file_handlers/javascript.rs
Labels: A-Project, A-LSP, A-Changelog

#2926 refactor(lint/useTopLevelRegex): ignore regular expressions with the `g` and/or `y` flags
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_js_analyze/src/lint/nursery/use_top_level_regex.rs
  crates/biome_js_analyze/tests/specs/nursery/useTopLevelRegex/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useTopLevelRegex/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript

#2928 feat(biome_graphql_parser): parse object extension
  crates/biome_graphql_factory/src/generated/node_factory.rs
  crates/biome_graphql_factory/src/generated/syntax_factory.rs
  crates/biome_graphql_parser/src/parser/definitions/mod.rs
  crates/biome_graphql_parser/src/parser/definitions/object.rs
  crates/biome_graphql_parser/src/parser/definitions/scalar.rs
  crates/biome_graphql_parser/src/parser/definitions/schema.rs
  crates/biome_graphql_parser/src/parser/parse_error.rs
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/object_extension.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/object_extension.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/object_extension.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/object_extension.graphql.snap
  crates/biome_graphql_syntax/src/generated/kind.rs
  crates/biome_graphql_syntax/src/generated/macros.rs
  crates/biome_graphql_syntax/src/generated/nodes.rs
  crates/biome_graphql_syntax/src/generated/nodes_mut.rs
  crates/biome_graphql_syntax/src/lib.rs
  xtask/codegen/graphql.ungram
  xtask/codegen/src/graphql_kind_src.rs
Labels: A-Tooling

#2939 fix(workspace): remove caching of file features
  CHANGELOG.md
  crates/biome_service/src/workspace/server.rs
Labels: A-Project, A-Changelog

#2915 feat(linter): implement useThrowOnlyError
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_throw_only_error.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useThrowOnlyError/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useThrowOnlyError/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useThrowOnlyError/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useThrowOnlyError/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#2937 feat(lsp): pull diagnostics for CSS files
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/tests/server.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/javascript.rs
Labels: A-Project, A-LSP

#2853 feat: add `noYodaExpression` rule
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_yoda_expression.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noYodaExpression/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noYodaExpression/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noYodaExpression/invalidRange.js
  crates/biome_js_analyze/tests/specs/nursery/noYodaExpression/invalidRange.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noYodaExpression/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noYodaExpression/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noYodaExpression/validRange.js
  crates/biome_js_analyze/tests/specs/nursery/noYodaExpression/validRange.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#2944 refactor(migrate/eslint): propagate NodeJS error
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint.rs
Labels: A-CLI, A-Changelog

#2943 feat(cli): force colours when running `ci` command
  CHANGELOG.md
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/main.rs
  crates/biome_cli/tests/cases/editorconfig.rs
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_use_editorconfig.snap
  packages/@biomejs/js-api/src/index.ts
Labels: A-CLI, A-Changelog

#2945 chore(linter): rename `noCssEmptyBlock` -> `noEmptyBlock`
  crates/biome_cli/tests/snapshots/main_cases_handle_css_files/should_lint_files_by_when_enabled.snap
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_empty_block.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noCssEmptyBlock/disallowComment.css
  crates/biome_css_analyze/tests/specs/nursery/noCssEmptyBlock/disallowComment.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noCssEmptyBlock/disallowComment.options.json
  crates/biome_css_analyze/tests/specs/nursery/noCssEmptyBlock/valid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noEmptyBlock/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noEmptyBlock/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noEmptyBlock/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noEmptyBlock/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, L-CSS, A-Diagnostic

#2948 docs(useNamingConvention): add a note about the availability of `conventions` option
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#2508 feat(biome_js_analyzer): useAdjacentOverloadSignatures
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_adjacent_overload_signatures.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useAdjacentOverloadSignatures/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/useAdjacentOverloadSignatures/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useAdjacentOverloadSignatures/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useAdjacentOverloadSignatures/valid.ts.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#2955 refactor: make suppression action generic via trait
  Cargo.lock
  crates/biome_analyze/src/lib.rs
  crates/biome_analyze/src/matcher.rs
  crates/biome_analyze/src/registry.rs
  crates/biome_analyze/src/rule.rs
  crates/biome_analyze/src/signals.rs
  crates/biome_analyze/src/suppression_action.rs
  crates/biome_analyze/src/syntax.rs
  crates/biome_analyze/src/visitor.rs
  crates/biome_css_analyze/Cargo.toml
  crates/biome_css_analyze/src/lib.rs
  crates/biome_css_analyze/src/suppression_action.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/suppression_action.rs
  crates/biome_js_transform/src/lib.rs
  crates/biome_json_analyze/src/lib.rs
  crates/biome_json_analyze/src/suppression_action.rs
  crates/biome_migrate/src/lib.rs
Labels: A-Linter, L-JavaScript, L-CSS, L-JSON

#2964 fix(lint/noUndeclaredVariables): don't alert on `arguments` object in a function scope
  CHANGELOG.md
  crates/biome_cli/tests/snapshots/main_commands_check/top_level_all_down_level_not_all.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/top_level_all_true_group_level_all_false.snap
  crates/biome_cli/tests/snapshots/main_configuration/override_globals.snap
  crates/biome_js_analyze/src/lint/correctness/no_undeclared_variables.rs
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/arguments-object.js
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/arguments-object.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/infer_incorrect.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/invalidNamesapceReference.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/invalidTsInJs.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/invalidTypeValueWithSameName.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/noUndeclaredVariables.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/noUndeclaredVariables.ts.snap
  crates/biome_js_analyze/tests/suppression/correctness/noUndeclaredVariables/noUndeclaredVariables.ts.snap
Labels: A-CLI, A-Linter, L-JavaScript, A-Changelog

#2957 fix(formatter): don't let overrides erroneously enable formatter if unspecified
  crates/biome_cli/tests/cases/overrides_formatter.rs
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/complex_enable_disable_overrides.snap
  crates/biome_service/src/settings.rs
Labels: A-CLI, A-Project

#2947 feat(cli): add `--only` and `--skip` options
  CHANGELOG.md
  crates/biome_analyze/src/lib.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/process_file/format.rs
  crates/biome_cli/src/execute/process_file/lint.rs
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_group.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_group_skip_rule.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_group_with_disabled_rule.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_missing_group.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_multiple_rules.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_nursery_group.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_rule.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_rule_and_group.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_rule_doesnt_exist.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_rule_ignore_suppression_comments.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_rule_skip_group.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_rule_with_config.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_rule_with_linter_disabled.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_rule_with_recommended_disabled.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_skip_group.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_skip_rule.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_rule_filter_group_with_disabled_rule.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_skip_group_with_enabled_rule.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_skip_multiple_rules.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_skip_rule.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_skip_rule_and_group.snap
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/js-api/src/index.ts
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI, A-Project, A-Linter, A-Tooling, A-LSP, A-Changelog

#2969 chore(changelog): add entry for pr #2957
  CHANGELOG.md
Labels: A-Changelog

#2968 refactor(migrate/eslint): improve naming-convention migration
  crates/biome_cli/Cargo.toml
  crates/biome_cli/src/execute/migrate/eslint_to_biome.rs
  crates/biome_cli/src/execute/migrate/eslint_typescript.rs
  crates/biome_cli/tests/commands/migrate_eslint.rs
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintrcjson_rule_options.snap
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/src/utils/regex.rs
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/malformedSelector.js.snap
  crates/biome_js_syntax/src/modifier_ext.rs
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Linter, A-Parser, L-JavaScript

#2978 feat(linter): implement useErrorMessage
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_consistent_builtin_instantiation.rs
  crates/biome_js_analyze/src/lint/nursery/use_error_message.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useErrorMessage/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useErrorMessage/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useErrorMessage/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useErrorMessage/valid.js.snap
  crates/biome_js_syntax/src/expr_ext.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, A-Parser, L-JavaScript, A-Diagnostic, A-Changelog

#2985 feat(css_parser): add parsing css modules @value at rule
  Cargo.lock
  crates/biome_configuration/src/css.rs
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/at_rule.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/css/any/value_at_rule_clause.rs
  crates/biome_css_formatter/src/css/any/value_at_rule_import_source.rs
  crates/biome_css_formatter/src/css/any/value_at_rule_import_specifier.rs
  crates/biome_css_formatter/src/css/any/value_at_rule_property.rs
  crates/biome_css_formatter/src/css/auxiliary/mod.rs
  crates/biome_css_formatter/src/css/auxiliary/value_at_rule_declaration_clause.rs
  crates/biome_css_formatter/src/css/auxiliary/value_at_rule_import_clause.rs
  crates/biome_css_formatter/src/css/auxiliary/value_at_rule_import_specifier.rs
  crates/biome_css_formatter/src/css/auxiliary/value_at_rule_named_import_specifier.rs
  crates/biome_css_formatter/src/css/bogus/mod.rs
  crates/biome_css_formatter/src/css/bogus/value_at_rule_generic_value.rs
  crates/biome_css_formatter/src/css/lists/mod.rs
  crates/biome_css_formatter/src/css/lists/value_at_rule_import_specifier_list.rs
  crates/biome_css_formatter/src/css/lists/value_at_rule_property_list.rs
  crates/biome_css_formatter/src/css/properties/mod.rs
  crates/biome_css_formatter/src/css/properties/value_at_rule_generic_property.rs
  crates/biome_css_formatter/src/css/statements/mod.rs
  crates/biome_css_formatter/src/css/statements/value_at_rule.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_formatter/tests/language.rs
  crates/biome_css_formatter/tests/specs/prettier/css/modules/modules.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/units/values.css.snap
  crates/biome_css_parser/Cargo.toml
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/lexer/tests.rs
  crates/biome_css_parser/src/lib.rs
  crates/biome_css_parser/src/parser.rs
  crates/biome_css_parser/src/syntax/at_rule/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/value.rs
  crates/biome_css_parser/src/token_source.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/value/at_rule_value_disabled.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/value/at_rule_value_disabled.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/value/enabled/at_rule_value_error_enabled.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/value/enabled/at_rule_value_error_enabled.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/value/enabled/options.json
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/value/at_rule_value.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/value/at_rule_value.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/value/options.json
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/settings.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  xtask/bench/src/language.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Project, A-Parser, A-Formatter, A-Tooling, L-CSS

#2942 feat(biome_graphql_parser): parse interface type extension
  crates/biome_graphql_factory/src/generated/node_factory.rs
  crates/biome_graphql_factory/src/generated/syntax_factory.rs
  crates/biome_graphql_parser/src/parser/definitions/interface.rs
  crates/biome_graphql_parser/src/parser/definitions/mod.rs
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/interface_extension.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/interface_extension.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/interface_extension.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/interface_extension.graphql.snap
  crates/biome_graphql_syntax/src/generated/kind.rs
  crates/biome_graphql_syntax/src/generated/macros.rs
  crates/biome_graphql_syntax/src/generated/nodes.rs
  crates/biome_graphql_syntax/src/generated/nodes_mut.rs
  crates/biome_graphql_syntax/src/lib.rs
  xtask/codegen/graphql.ungram
  xtask/codegen/src/graphql_kind_src.rs
Labels: A-Tooling

#3002 refactor(js_semantic): ambient computed name can ref a variable imported as a type
  CHANGELOG.md
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/invalidTypeValueWithSameName.ts
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/invalidTypeValueWithSameName.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/valid-issue-2975.ts
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/valid-issue-2975.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidTypeValueSameNames.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidTypeValueSameNames.ts.snap
  crates/biome_js_semantic/src/events.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#3006 fix(biome_service): add Astro object to globals for .astro files
  CHANGELOG.md
  crates/biome_cli/tests/cases/handle_astro_files.rs
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/astro_global.snap
  crates/biome_service/src/file_handlers/javascript.rs
Labels: A-CLI, A-Project, A-Changelog

#2925 feat(linter): implement `useDateNow`
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_date_now.rs
  crates/biome_js_analyze/src/lint/nursery/use_explicit_length_check.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useDateNow/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useDateNow/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useDateNow/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useDateNow/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#3008 docs(noUselessConstructor): update outdated link to external docs
  crates/biome_js_analyze/src/lint/complexity/no_useless_constructor.rs
Labels: A-Linter, L-JavaScript

#3004 refactor(biome_js_analyze): use rustc_hash::FxHashSet; and reduce allocation
  crates/biome_js_analyze/src/lint/nursery/use_adjacent_overload_signatures.rs
  crates/biome_js_analyze/tests/specs/nursery/useAdjacentOverloadSignatures/invalid.ts.snap
Labels: A-Linter, L-JavaScript

#2989 feat(configuration): add support for `{a,b}` glob patterns, gated behind an internal flag
  crates/biome_service/src/matcher/pattern.rs
Labels: A-Project

#3007 fix(formatter): never format biome.json with trailing commas
  crates/biome_cli/tests/cases/biome_json_support.rs
  crates/biome_cli/tests/snapshots/main_cases_biome_json_support/always_disable_trailing_commas_biome_json.snap
  crates/biome_service/src/file_handlers/json.rs
Labels: A-CLI, A-Project

#3014 feat: allow `"info"` severity for analyzer rules
  CHANGELOG.md
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/configs.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/downgrade_severity_info.snap
  crates/biome_configuration/src/linter/mod.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Changelog

#2982 feat(lsp): improve DX when the configuration has syntax errors
  biome.json
  crates/biome_formatter_test/src/lib.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/src/file_handlers/astro.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/file_handlers/svelte.rs
  crates/biome_service/src/file_handlers/vue.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace/server.rs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  shared/biome.json
Labels: A-Project, A-Formatter, A-LSP

#3010 feat(biome_graphql_parser): parse union extension
  crates/biome_graphql_factory/src/generated/node_factory.rs
  crates/biome_graphql_factory/src/generated/syntax_factory.rs
  crates/biome_graphql_parser/src/parser/definitions/mod.rs
  crates/biome_graphql_parser/src/parser/definitions/union.rs
  crates/biome_graphql_parser/src/parser/parse_error.rs
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/union_extension.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/err/definitions/union_extension.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/union_extension.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/definitions/union_extension.graphql.snap
  crates/biome_graphql_syntax/src/generated/kind.rs
  crates/biome_graphql_syntax/src/generated/macros.rs
  crates/biome_graphql_syntax/src/generated/nodes.rs
  crates/biome_graphql_syntax/src/generated/nodes_mut.rs
  crates/biome_graphql_syntax/src/lib.rs
  xtask/codegen/graphql.ungram
  xtask/codegen/src/graphql_kind_src.rs
Labels: A-Tooling

#2946 feat(cli): rage now prints all enabled rules
  crates/biome_analyze/src/lib.rs
  crates/biome_cli/src/commands/rage.rs
  crates/biome_cli/tests/commands/rage.rs
  crates/biome_cli/tests/snapshots/main_commands_rage/with_linter_configuration.snap
  crates/biome_configuration/src/css.rs
  crates/biome_configuration/src/javascript/formatter.rs
  crates/biome_configuration/src/javascript/mod.rs
  crates/biome_configuration/src/json.rs
  crates/biome_configuration/src/lib.rs
Labels: A-CLI, A-Project, A-Linter

#3017 feat(css_parser): css modules composes
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/composes_import_source.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/css/any/property.rs
  crates/biome_css_formatter/src/css/auxiliary/composes_import_specifier.rs
  crates/biome_css_formatter/src/css/auxiliary/composes_property_value.rs
  crates/biome_css_formatter/src/css/auxiliary/mod.rs
  crates/biome_css_formatter/src/css/lists/composes_class_list.rs
  crates/biome_css_formatter/src/css/lists/mod.rs
  crates/biome_css_formatter/src/css/properties/composes_property.rs
  crates/biome_css_formatter/src/css/properties/mod.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_formatter/tests/specs/css/composes.css
  crates/biome_css_formatter/tests/specs/css/composes.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/composes/composes.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/modules/modules.css.snap
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/parser.rs
  crates/biome_css_parser/src/syntax/at_rule/keyframes.rs
  crates/biome_css_parser/src/syntax/at_rule/value.rs
  crates/biome_css_parser/src/syntax/css_modules.rs
  crates/biome_css_parser/src/syntax/property/mod.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_selector.rs
  crates/biome_css_parser/tests/css_test_suite/error/property/composes.enabled/composes_error_enabled.css
  crates/biome_css_parser/tests/css_test_suite/error/property/composes.enabled/composes_error_enabled.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/property/composes.enabled/options.json
  crates/biome_css_parser/tests/css_test_suite/error/property/composes/disabled/composes_error_disabled.css
  crates/biome_css_parser/tests/css_test_suite/error/property/composes/disabled/composes_error_disabled.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/property/composes/composes.css
  crates/biome_css_parser/tests/css_test_suite/ok/property/composes/composes.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/property/composes/options.json
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS

#3022 docs(bench): update docs of benchmark
  xtask/bench/README.md
Labels: A-Tooling

#2987 feat: add `noLabelWithoutControl` rule
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_label_without_control.rs
  crates/biome_js_analyze/src/lint/suspicious/no_control_characters_in_regex.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/src/utils.rs
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/invalidCustomInputComponents.jsx
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/invalidCustomInputComponents.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/invalidCustomInputComponents.options.json
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/invalidCustomLabelAttributes.jsx
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/invalidCustomLabelAttributes.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/invalidCustomLabelAttributes.options.json
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/invalidCustomLabelComponents.jsx
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/invalidCustomLabelComponents.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/invalidCustomLabelComponents.options.json
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/invalidCustomOptions.jsx
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/invalidCustomOptions.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/invalidCustomOptions.options.json
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/valid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/validCustomControlComponents.jsx
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/validCustomControlComponents.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/validCustomControlComponents.options.json
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/validCustomLabelAttributes.jsx
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/validCustomLabelAttributes.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/validCustomLabelAttributes.options.json
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/validCustomLabelComponents.jsx
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/validCustomLabelComponents.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/validCustomLabelComponents.options.json
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/validCustomOptions.jsx
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/validCustomOptions.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noLabelWithoutControl/validCustomOptions.options.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#3025 fix(js_formatter): correctly handle line terminators in JSX string
  CHANGELOG.md
  crates/biome_formatter/src/token/string.rs
  crates/biome_js_formatter/tests/specs/jsx/multiline_jsx_string/multiline_jsx_string.jsx
  crates/biome_js_formatter/tests/specs/jsx/multiline_jsx_string/multiline_jsx_string.jsx.snap
  crates/biome_js_formatter/tests/specs/jsx/multiline_jsx_string/options.json
Labels: A-Formatter, L-JavaScript, A-Changelog

#2991 feat(lint): implement duplicate dependency error
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/duplicateDependencies.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/duplicateDependencies.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#2899 feat(noUnusedFunctionParameters): add lint for unused function parameters, instead of using noUnusedVariables
  CHANGELOG.md
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/correctness/no_unused_variables.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_unused_function_parameters.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noUnusedFunctionParameters/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUnusedFunctionParameters/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUnusedFunctionParameters/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noUnusedFunctionParameters/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noUnusedFunctionParameters/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUnusedFunctionParameters/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#3029 feat(cli): add `github` and `junit` reporters
  CHANGELOG.md
  Cargo.lock
  crates/biome_cli/Cargo.toml
  crates/biome_cli/src/cli_options.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/reporter/github.rs
  crates/biome_cli/src/reporter/junit.rs
  crates/biome_cli/src/reporter/mod.rs
  crates/biome_cli/src/reporter/terminal.rs
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/cases/reporter_github.rs
  crates/biome_cli/tests/cases/reporter_junit.rs
  crates/biome_cli/tests/snap_test.rs
  crates/biome_cli/tests/snapshots/main_cases_reporter_github/reports_diagnostics_github_check_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_github/reports_diagnostics_github_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_github/reports_diagnostics_github_format_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_github/reports_diagnostics_github_lint_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_junit/reports_diagnostics_junit_check_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_junit/reports_diagnostics_junit_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_junit/reports_diagnostics_junit_format_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_junit/reports_diagnostics_junit_lint_command.snap
  crates/biome_diagnostics/src/display.rs
  crates/biome_diagnostics/src/display_github.rs
Labels: A-CLI, A-Diagnostic, A-Changelog

#3026 feat(analyzer): suppress individual dependencies
  CHANGELOG.md
  crates/biome_analyze/src/lib.rs
  crates/biome_analyze/src/matcher.rs
  crates/biome_analyze/src/registry.rs
  crates/biome_analyze/src/rule.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/quick_test.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/ignoredDependencies.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/ignoredDependencies.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/valid.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/valid.js.snap
  crates/biome_rowan/src/syntax_node_text.rs
  crates/biome_suppression/src/lib.rs
Labels: A-Core, A-Linter, L-JavaScript, A-Changelog
