Repository biomejs/biome, pull requests merged in 2024-01, with the labels that each got.

#1315 docs(pt-br): formatter section
  website/src/content/docs/pt-br/formatter/index.mdx
  website/src/content/docs/pt-br/formatter/option-philosophy.md
Labels: A-Website

#1398 fix(codegen,css_parser,css_formatter): rename `%` from remainder to percent in CSS
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_formatter/src/css/value/percentage.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_keyframes.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_keyframe.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_layer.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_scope.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/function/calc.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/function/linear-gradient.css.snap
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/src/kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS

#1399 refactor(lint/useNumberNamespace): improve rule
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_number_namespace.rs
  crates/biome_js_analyze/tests/specs/nursery/useNumberNamespace/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useNumberNamespace/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useNumberNamespace/invalid_properties_value_shorthand.js
  crates/biome_js_analyze/tests/specs/nursery/useNumberNamespace/invalid_properties_value_shorthand.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useNumberNamespace/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useNumberNamespace/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/tests/invalid/hooks_incorrect_options.json.snap
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/use-number-namespace.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#1395 doc(editors): how to use biome in `lsp-mode` for Emacs
  website/src/content/docs/guides/integrate-in-editor.mdx
Labels: A-Website

#1396 feat(css-parser): generic component value
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/generic_component_value.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/css/any/property.rs
  crates/biome_css_formatter/src/css/auxiliary/declaration.rs
  crates/biome_css_formatter/src/css/auxiliary/generic_delimiter.rs
  crates/biome_css_formatter/src/css/auxiliary/generic_property.rs
  crates/biome_css_formatter/src/css/auxiliary/mod.rs
  crates/biome_css_formatter/src/css/bogus/bogus_component_value.rs
  crates/biome_css_formatter/src/css/bogus/bogus_property.rs
  crates/biome_css_formatter/src/css/bogus/mod.rs
  crates/biome_css_formatter/src/css/lists/component_value_list.rs
  crates/biome_css_formatter/src/css/lists/generic_component_value_list.rs
  crates/biome_css_formatter/src/css/lists/mod.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_formatter/src/utils/component_value_list.rs
  crates/biome_css_formatter/src/utils/mod.rs
  crates/biome_css_formatter/tests/specs/css/atrule/font_face.css.snap
  crates/biome_css_parser/src/syntax/at_rule/layer.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/property/mod.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_keyframes.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_container.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_container_complex.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_keyframe.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_layer.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_media_complex.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_page.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_page_complex.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_scope.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_supports.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_supports_complex.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/declaration_list.css
  crates/biome_css_parser/tests/css_test_suite/ok/declaration_list.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/dimension.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/function/calc.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/function/linear-gradient.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/function/unknow.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/function/url.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/function/var.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_css_syntax/src/lib.rs
  crates/biome_parser/src/parse_lists.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS

#1404 chore: add test case for issue
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/commands/ci.rs
  crates/biome_cli/tests/snapshots/main_commands_ci/correctly_handles_ignored_and_not_ignored_files.snap
Labels: A-CLI

#1400 chore(css_formatter): create `NodeConcept::Property` to group property nodes
  crates/biome_css_formatter/src/css/auxiliary/mod.rs
  crates/biome_css_formatter/src/css/mod.rs
  crates/biome_css_formatter/src/css/properties/generic_property.rs
  crates/biome_css_formatter/src/css/properties/mod.rs
  crates/biome_css_formatter/src/css/pseudo/mod.rs
  crates/biome_css_formatter/src/css/pseudo/page_selector_pseudo.rs
  crates/biome_css_formatter/src/css/value/color.rs
  crates/biome_css_formatter/src/css/value/custom_identifier.rs
  crates/biome_css_formatter/src/css/value/dashed_identifier.rs
  crates/biome_css_formatter/src/css/value/identifier.rs
  crates/biome_css_formatter/src/css/value/mod.rs
  crates/biome_css_formatter/src/css/value/url_value_raw.rs
  crates/biome_css_formatter/src/generated.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/formatter.rs
Labels: A-Formatter, A-Tooling, L-CSS

#1412 docs: fixed indentation on code example
  website/src/content/docs/reference/configuration.mdx
Labels: A-Website

#1413 fix(lsp): correctly infer file source from un-named files
  CHANGELOG.md
  crates/biome_lsp/tests/server.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/workspace/server.rs
  justfile
  website/src/content/docs/internals/changelog.mdx
Labels: A-Project, A-LSP, A-Website, A-Changelog

#1417 feat(parser,css_parser): implement checkpoint rewinding
  crates/biome_css_parser/src/lib.rs
  crates/biome_css_parser/src/parser.rs
  crates/biome_css_parser/src/state.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/token_source.rs
  crates/biome_js_parser/src/lib.rs
  crates/biome_js_parser/src/parser.rs
  crates/biome_js_parser/src/parser/rewrite_parser.rs
  crates/biome_js_parser/src/state.rs
  crates/biome_js_parser/src/token_source.rs
  crates/biome_parser/src/token_source.rs
Labels: A-Parser, L-JavaScript, L-CSS

#1414 feat(lint/useFilenamingConvention): allow PascalCase in config
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/nursery/use_filenaming_convention.rs
  crates/biome_js_analyze/tests/specs/nursery/useFilenamingConvention/ValidPascalCase.js
  crates/biome_js_analyze/tests/specs/nursery/useFilenamingConvention/ValidPascalCase.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useFilenamingConvention/ValidPascalCase.options.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/use-filenaming-convention.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1410 feat(website): add Git Hooks recipe
  website/astro.config.ts
  website/src/content/docs/recipes/git-hooks.mdx
Labels: A-Website

#1393 fix(lint/useHookAtTopLevel): fix false positives, don't require hook config
  CHANGELOG.md
  crates/biome_deserialize/src/diagnostics.rs
  crates/biome_deserialize/src/lib.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/src/react/hooks.rs
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_hook_at_top_level.rs
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/deprecatedConfig.js
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/deprecatedConfig.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/deprecatedConfig.options.json
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/invalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/invalid.jsx
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/valid.js
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/valid.js.snap
  crates/biome_service/src/configuration/parse/json/css/mod.rs
  crates/biome_service/src/configuration/parse/json/formatter.rs
  crates/biome_service/src/configuration/parse/json/javascript/formatter.rs
  crates/biome_service/src/configuration/parse/json/json_impl/mod.rs
  crates/biome_service/src/configuration/parse/json/overrides.rs
  crates/biome_service/tests/invalid/hooks_deprecated.json
  crates/biome_service/tests/invalid/hooks_deprecated.json.snap
  crates/biome_service/tests/invalid/hooks_incorrect_options.json
  crates/biome_service/tests/invalid/hooks_incorrect_options.json.snap
  crates/biome_service/tests/spec_tests.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/use-hook-at-top-level.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Changelog

#1415 feat(cli): document daemon logs directory
  CHANGELOG.md
  crates/biome_cli/src/commands/daemon.rs
  crates/biome_cli/src/commands/explain.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/commands/explain.rs
  crates/biome_cli/tests/snap_test.rs
  crates/biome_cli/tests/snapshots/main_commands_explain/explain_help.snap
  crates/biome_cli/tests/snapshots/main_commands_explain/explain_logs.snap
  crates/biome_cli/tests/snapshots/main_commands_explain/explain_logs.snap.new
  crates/biome_service/src/documentation/mod.rs
  website/src/content/docs/guides/integrate-in-editor.mdx
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Project, A-Website, A-Changelog

#1133 feat(lint): implement a noGlobalEval rule
  CHANGELOG.md
  crates/biome_cli/tests/snapshots/main_commands_explain/explain_logs.snap
  crates/biome_cli/tests/snapshots/main_commands_explain/explain_logs.snap.new
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/no_global_eval.rs
  crates/biome_js_analyze/tests/specs/nursery/noGlobalEval/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noGlobalEval/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noGlobalEval/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noGlobalEval/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-global-eval.md
Labels: A-CLI, A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#1425 test(lint/noGlobalEval): address TODO
  crates/biome_js_analyze/tests/specs/nursery/noGlobalEval/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noGlobalEval/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noGlobalEval/validtest.cjs
  crates/biome_js_analyze/tests/specs/nursery/noGlobalEval/validtest.cjs.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#1423 feat(cli): remove the hardcoded limit of 200 printable diagnostics
  CHANGELOG.md
  crates/biome_cli/src/execute/mod.rs
  crates/biome_diagnostics/src/lib.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Website, A-Diagnostic, A-Changelog

#1426 fix(lint/noConfusingVoidType): accept `void` in type param lists
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/suspicious/no_confusing_void_type.rs
  crates/biome_js_analyze/tests/specs/suspicious/noConfusingVoidType/invalid.ts
  crates/biome_js_analyze/tests/specs/suspicious/noConfusingVoidType/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/suspicious/noConfusingVoidType/valid.ts
  crates/biome_js_analyze/tests/specs/suspicious/noConfusingVoidType/valid.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1431 docs(website): mark not released rules
  website/src/content/docs/linter/rules/no-global-eval.md
  website/src/content/docs/linter/rules/no-invalid-use-before-declaration.md
  website/src/content/docs/linter/rules/no-misleading-character-class.md
  website/src/content/docs/linter/rules/no-nodejs-modules.md
  website/src/content/docs/linter/rules/no-then-property.md
  website/src/content/docs/linter/rules/no-useless-ternary.md
  website/src/content/docs/linter/rules/use-consistent-array-type.md
  website/src/content/docs/linter/rules/use-export-type.md
  website/src/content/docs/linter/rules/use-filenaming-convention.md
  website/src/content/docs/linter/rules/use-for-of.md
  website/src/content/docs/linter/rules/use-nodejs-import-protocol.md
  website/src/content/docs/linter/rules/use-number-namespace.md
  website/src/content/docs/linter/rules/use-shorthand-function-type.md
  xtask/lintdoc/src/main.rs
Labels: A-Tooling, A-Website

#1433 fix(website): fix order of table header for rules
  website/src/content/docs/linter/rules/index.mdx
  xtask/lintdoc/src/main.rs
Labels: A-Tooling, A-Website

#1204 feat(lint/useImportType): add rule
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery/use_grouped_type_import.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_import_type.rs
  crates/biome_js_analyze/tests/specs/nursery/useImportType/invalid-combined.ts
  crates/biome_js_analyze/tests/specs/nursery/useImportType/invalid-combined.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useImportType/invalid-default-imports.ts
  crates/biome_js_analyze/tests/specs/nursery/useImportType/invalid-default-imports.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useImportType/invalid-named-imports.ts
  crates/biome_js_analyze/tests/specs/nursery/useImportType/invalid-named-imports.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useImportType/invalid-namesapce-imports.ts
  crates/biome_js_analyze/tests/specs/nursery/useImportType/invalid-namesapce-imports.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useImportType/valid-combined.ts
  crates/biome_js_analyze/tests/specs/nursery/useImportType/valid-combined.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useImportType/valid-default-imports.ts
  crates/biome_js_analyze/tests/specs/nursery/useImportType/valid-default-imports.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useImportType/valid-named-imports.ts
  crates/biome_js_analyze/tests/specs/nursery/useImportType/valid-named-imports.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useImportType/valid-namespace-imports.ts
  crates/biome_js_analyze/tests/specs/nursery/useImportType/valid-namespace-imports.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useImportType/valid-unused.ts
  crates/biome_js_analyze/tests/specs/nursery/useImportType/valid-unused.ts.snap
  crates/biome_js_syntax/src/identifier_ext.rs
  crates/biome_js_syntax/src/import_ext.rs
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  packages/@biomejs/js-api/src/index.ts
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/use-import-type.md
  website/src/playground/PlaygroundLoader.tsx
  website/src/playground/tabs/SettingsTab.tsx
  website/src/playground/workers/prettierWorker.ts
Labels: A-Project, A-Linter, A-Parser, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#1418 chore(ungrammar): fork ungrammar to get ready for adding new syntax
  Cargo.lock
  Cargo.toml
  crates/biome_ungrammar/Cargo.lock
  crates/biome_ungrammar/Cargo.toml
  crates/biome_ungrammar/LICENSE
  crates/biome_ungrammar/LICENSE-APACHE
  crates/biome_ungrammar/README.md
  crates/biome_ungrammar/src/error.rs
  crates/biome_ungrammar/src/lexer.rs
  crates/biome_ungrammar/src/lib.rs
  crates/biome_ungrammar/src/parser.rs
  crates/biome_ungrammar/ungrammar.ungram
  xtask/codegen/Cargo.toml
  xtask/codegen/src/ast.rs
Labels: A-Tooling

#1374 Fix missing word in use-exhaustive-dependencies.md
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_exhaustive_dependencies.rs
  website/src/content/docs/linter/rules/use-exhaustive-dependencies.md
Labels: A-Website

#1442 fix(docs): the documentation was outdated
  website/src/content/docs/reference/configuration.mdx
Labels: A-Website

#1378 Rename` biome_js_unicode_table` to `biome_unicode_table`
  .gitattributes
  Cargo.lock
  Cargo.toml
  crates/biome_css_parser/Cargo.toml
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_analyze/src/analyzers/complexity/use_literal_keys.rs
  crates/biome_js_analyze/src/semantic_analyzers/style/use_naming_convention.rs
  crates/biome_js_formatter/Cargo.toml
  crates/biome_js_formatter/src/utils/string_utils.rs
  crates/biome_js_parser/Cargo.toml
  crates/biome_js_parser/src/lexer/mod.rs
  crates/biome_json_parser/Cargo.toml
  crates/biome_json_parser/src/lexer/mod.rs
  crates/biome_unicode_table/Cargo.toml
  crates/biome_unicode_table/src/bytes.rs
  crates/biome_unicode_table/src/lib.rs
  crates/biome_unicode_table/src/tables.rs
  scripts/publish-crates.sh
  xtask/codegen/src/unicode.rs
Labels: A-Linter, A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-CSS, L-JSON

#1446 feat(css-parser): CSS Parser: parse import #1408
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/at_rule.rs
  crates/biome_css_formatter/src/css/any/import_layer.rs
  crates/biome_css_formatter/src/css/any/import_supports_condition.rs
  crates/biome_css_formatter/src/css/any/import_url.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/css/auxiliary/import_anonymous_layer.rs
  crates/biome_css_formatter/src/css/auxiliary/import_named_layer.rs
  crates/biome_css_formatter/src/css/auxiliary/import_supports.rs
  crates/biome_css_formatter/src/css/auxiliary/mod.rs
  crates/biome_css_formatter/src/css/statements/import_at_rule.rs
  crates/biome_css_formatter/src/css/statements/mod.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/color_profile.rs
  crates/biome_css_parser/src/syntax/at_rule/container.rs
  crates/biome_css_parser/src/syntax/at_rule/import.rs
  crates/biome_css_parser/src/syntax/at_rule/keyframes.rs
  crates/biome_css_parser/src/syntax/at_rule/layer.rs
  crates/biome_css_parser/src/syntax/at_rule/media.rs
  crates/biome_css_parser/src/syntax/at_rule/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/supports.rs
  crates/biome_css_parser/src/syntax/blocks.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/property/mod.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_keyframes.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_keyframes.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_keyframes_1.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_keyframes_1.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_import.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_import.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_unicode_table/src/tables.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-CSS

#1419 feat(css_parser,css_formatter): start parsing exact properties and values
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/all_property_value.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/css/any/property.rs
  crates/biome_css_formatter/src/css/any/z_index_property_value.rs
  crates/biome_css_formatter/src/css/auxiliary/auto.rs
  crates/biome_css_formatter/src/css/auxiliary/generic_delimiter.rs
  crates/biome_css_formatter/src/css/auxiliary/mod.rs
  crates/biome_css_formatter/src/css/auxiliary/unknown_property_value.rs
  crates/biome_css_formatter/src/css/auxiliary/wide_keyword.rs
  crates/biome_css_formatter/src/css/bogus/bogus_property_value.rs
  crates/biome_css_formatter/src/css/bogus/mod.rs
  crates/biome_css_formatter/src/css/properties/all_property.rs
  crates/biome_css_formatter/src/css/properties/mod.rs
  crates/biome_css_formatter/src/css/properties/z_index_property.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_formatter/tests/specs/css/atrule/font_face.css.snap
  crates/biome_css_formatter/tests/specs/css/properties/all.css
  crates/biome_css_formatter/tests/specs/css/properties/all.css.snap
  crates/biome_css_formatter/tests/specs/css/properties/custom.css
  crates/biome_css_formatter/tests/specs/css/properties/custom.css.snap
  crates/biome_css_formatter/tests/specs/css/properties/generic.css
  crates/biome_css_formatter/tests/specs/css/properties/generic.css.snap
  crates/biome_css_formatter/tests/specs/css/properties/z-index.css
  crates/biome_css_formatter/tests/specs/css/properties/z-index.css.snap
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/property/all.rs
  crates/biome_css_parser/src/syntax/property/mod.rs
  crates/biome_css_parser/src/syntax/property/z_index.rs
  crates/biome_css_parser/tests/css_test_suite/error/property/property_generic_error.css
  crates/biome_css_parser/tests/css_test_suite/error/property/property_generic_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/property/property_all.css
  crates/biome_css_parser/tests/css_test_suite/ok/property/property_all.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/property/property_generic.css
  crates/biome_css_parser/tests/css_test_suite/ok/property/property_generic.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/property/property_z-index.css
  crates/biome_css_parser/tests/css_test_suite/ok/property/property_z-index.css.snap
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_css_syntax/src/lib.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/ast.rs
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS

#1449 fix(js_formatter): fix invalid formatting of expanded bindings for AsNeeded arrow parens
  CHANGELOG.md
  crates/biome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/biome_js_formatter/tests/specs/js/module/arrow/assignment_binding_line_break.js
  crates/biome_js_formatter/tests/specs/js/module/arrow/assignment_binding_line_break.js.snap
  crates/biome_js_formatter/tests/specs/ts/arrow/parameter_default_binding_line_break.ts
  crates/biome_js_formatter/tests/specs/ts/arrow/parameter_default_binding_line_break.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Formatter, A-Website, L-JavaScript, A-Changelog

#1447 fix: JsNumberLiteralExpression::as_number ignore trivia
  crates/biome_js_analyze/tests/specs/style/useNumericLiterals/invalid.js.snap
  crates/biome_js_syntax/src/expr_ext.rs
Labels: A-Linter, A-Parser, L-JavaScript

#1377 feat(lint/noGlobalAssign): add rule
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/no_global_assign.rs
  crates/biome_js_analyze/tests/specs/nursery/noGlobalAssign/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noGlobalAssign/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noGlobalAssign/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noGlobalAssign/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-global-assign.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#1443 refactor(website): improve homepage
  website/src/components/linter/example.md
  website/src/content/docs/index.mdx
  website/src/playground/components/Progress.tsx
Labels: A-Website

#1441 fix(lint/useHookAtTopLevel): stricter checking for conditional hook calls
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_hook_at_top_level.rs
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/invalid.js
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/invalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/valid.js
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/valid.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#1448 feat(css_parser): Parse `border` exactly
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/border_property_value.rs
  crates/biome_css_formatter/src/css/any/line_width.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/css/any/property.rs
  crates/biome_css_formatter/src/css/auxiliary/border.rs
  crates/biome_css_formatter/src/css/auxiliary/line_style.rs
  crates/biome_css_formatter/src/css/auxiliary/line_width_keyword.rs
  crates/biome_css_formatter/src/css/auxiliary/mod.rs
  crates/biome_css_formatter/src/css/properties/border_property.rs
  crates/biome_css_formatter/src/css/properties/mod.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_formatter/tests/specs/css/range/mid_value.css
  crates/biome_css_formatter/tests/specs/css/range/mid_value.css.snap
  crates/biome_css_formatter/tests/specs/css/range/single_declaration.css
  crates/biome_css_formatter/tests/specs/css/range/single_declaration.css.snap
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/css_dimension.rs
  crates/biome_css_parser/src/syntax/property/border.rs
  crates/biome_css_parser/src/syntax/property/mod.rs
  crates/biome_css_parser/tests/css_test_suite/ok/property/property_border.css
  crates/biome_css_parser/tests/css_test_suite/ok/property/property_border.css.snap
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
  xtask/codegen/src/generate_nodes.rs
  xtask/codegen/src/generate_nodes_mut.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS

#1452 feat(codegen,css_formatter): autogenerate property formattting boilerplate
  xtask/codegen/src/formatter.rs
Labels: A-Tooling

#1206 fix(lint/useTemplate): correctly handles parenthesized expressions and respects type coercions
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/style/use_template.rs
  crates/biome_js_analyze/tests/specs/style/useTemplate/invalid.js
  crates/biome_js_analyze/tests/specs/style/useTemplate/invalid.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1457 fix(lint/useArrowFunction): handle fixes that needs parens
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/complexity/use_arrow_function.rs
  crates/biome_js_analyze/tests/specs/complexity/useArrowFunction/invalid.ts
  crates/biome_js_analyze/tests/specs/complexity/useArrowFunction/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/complexity/useArrowFunction/valid.ts
  crates/biome_js_analyze/tests/specs/complexity/useArrowFunction/valid.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1459 refactor(lint/noForEach): don't report forEach callback with 2+ parameters
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/complexity/no_for_each.rs
  crates/biome_js_analyze/tests/specs/complexity/noForEach/invalid.js
  crates/biome_js_analyze/tests/specs/complexity/noForEach/invalid.js.snap
  crates/biome_js_analyze/tests/specs/complexity/noForEach/valid.js
  crates/biome_js_analyze/tests/specs/complexity/noForEach/valid.js.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-for-each.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1451 feat(css-parser): CSS Parser: url value
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/css/any/url_modifier.rs
  crates/biome_css_formatter/src/css/auxiliary/url_function.rs
  crates/biome_css_formatter/src/css/bogus/bogus_url_modifier.rs
  crates/biome_css_formatter/src/css/bogus/mod.rs
  crates/biome_css_formatter/src/css/lists/mod.rs
  crates/biome_css_formatter/src/css/lists/url_modifier_list.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/import.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/value/mod.rs
  crates/biome_css_parser/src/syntax/value/parse_error.rs
  crates/biome_css_parser/src/syntax/value/url.rs
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_import.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/function/url.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/values/url_value.css
  crates/biome_css_parser/tests/css_test_suite/ok/values/url_value.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS

#1461 refcator(lint/noInvalidUseBeforeDeclaration): allow use before as a type
  crates/biome_js_analyze/src/semantic_analyzers/nursery/no_invalid_use_before_declaration.rs
  crates/biome_js_analyze/tests/specs/nursery/noInvalidUseBeforeDeclaration/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noInvalidUseBeforeDeclaration/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noInvalidUseBeforeDeclaration/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noInvalidUseBeforeDeclaration/valid.ts.snap
Labels: A-Linter, L-JavaScript

#1458 feat: add `noEmptyTypeParameters` rule
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/syntax/nursery.rs
  crates/biome_js_analyze/src/syntax/nursery/no_empty_type_parameters.rs
  crates/biome_js_analyze/tests/specs/nursery/noEmptyTypeParameters/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noEmptyTypeParameters/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noEmptyTypeParameters/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noEmptyTypeParameters/valid.ts.snap
  crates/biome_unicode_table/src/tables.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-Linter, L-JavaScript, A-Diagnostic

#1463 refactor(deserialize): allow setting name for root deserialized value
  crates/biome_deserialize/src/json.rs
  crates/biome_deserialize/src/lib.rs
  crates/biome_project/src/node_js_project/package_json.rs
  crates/biome_service/src/configuration/diagnostics.rs
  crates/biome_service/src/configuration/mod.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/tests/spec_tests.rs
  crates/biome_test_utils/src/lib.rs
Labels: A-Project, L-JSON

#1470 feat: update vscode extension image on website
  website/src/assets/svg/vscode-ext.png
  website/src/assets/vscode-extension.png
  website/src/styles/_installation.scss
Labels: A-Website

#1444 doc: add git-hook translation
  website/src/content/docs/recipes/git-hooks.mdx
  website/src/content/docs/zh-cn/recipes/git-hooks.mdx
Labels: A-Website, Lang-Chinese

#1472 feat(css-parser): CSS Parser: namespace at rule
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/at_rule.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/css/any/namespace_url.rs
  crates/biome_css_formatter/src/css/statements/mod.rs
  crates/biome_css_formatter/src/css/statements/namespace_at_rule.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/namespace.rs
  crates/biome_css_parser/src/syntax/at_rule/parse_error.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_namespace_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_namespace_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_namespace.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_namespace.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS

#1474 Fix typo in roadmap-2024.md
  website/src/content/blog/roadmap-2024.md
Labels: A-Website

#1031 docs: update language server setup info for Helix
  editors/helix/manual.md
Labels: A-Editors, A-Documentation

#1475 fix: Use the correct diagnostic level in advice
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_from_cli_verbose.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_from_stdin_verbose_format.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_from_stdin_verbose_lint.snap
  crates/biome_service/src/diagnostics.rs
Labels: A-CLI, A-Project

#1486 docs(website): add `<link rel=alternate>` to RSS feeds
  website/astro.config.ts
Labels: A-Website

#1490 fix(lint/useConsistentArrayType): correctly handle rule's option
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/style/use_consistent_array_type.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/style/useConsistentArrayType/invalidShorthand.options.json
  crates/biome_js_analyze/tests/specs/style/useConsistentArrayType/invalidShorthand.ts
  crates/biome_js_analyze/tests/specs/style/useConsistentArrayType/invalidShorthand.ts.snap
  crates/biome_js_analyze/tests/specs/style/useConsistentArrayType/validGeneric.options.json
  crates/biome_js_analyze/tests/specs/style/useConsistentArrayType/validGeneric.ts
  crates/biome_js_analyze/tests/specs/style/useConsistentArrayType/validGeneric.ts.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1492 fix(lint/useConsistentArrayType): move this unstable rule to nursery
  CHANGELOG.md
  crates/biome_cli/tests/snapshots/main_configuration/incorrect_rule_name.snap
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/use_consistent_array_type.rs
  crates/biome_js_analyze/src/analyzers/style.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useConsistentArrayType/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/useConsistentArrayType/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentArrayType/invalidShorthand.options.json
  crates/biome_js_analyze/tests/specs/nursery/useConsistentArrayType/invalidShorthand.ts
  crates/biome_js_analyze/tests/specs/nursery/useConsistentArrayType/invalidShorthand.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentArrayType/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useConsistentArrayType/valid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentArrayType/validGeneric.options.json
  crates/biome_js_analyze/tests/specs/nursery/useConsistentArrayType/validGeneric.ts
  crates/biome_js_analyze/tests/specs/nursery/useConsistentArrayType/validGeneric.ts.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/use-consistent-array-type.md
Labels: A-CLI, A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#1496 fix(lint/noUselessFragments): autofix causes syntax error
  CHANGELOG.md
  crates/biome_js_analyze/src/semantic_analyzers/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/assigments.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/componentFragment.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/componentFragment.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/fromImportInvalid.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/fromImportNamespaceInvalid.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/fromImportRenameInvalid.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_459.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_4639.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/noChildren.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/withChildren.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/withCommentsInvalid.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/withJsxElementInvalid.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/withJsxExpressionChildInvalid.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/withJsxTextInvalid.jsx.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-useless-fragments.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1505 fix(js_formatter): placement of comments inside default switch clause
  CHANGELOG.md
  crates/biome_js_formatter/src/comments.rs
  crates/biome_js_formatter/tests/specs/js/module/statement/switch_comment.js
  crates/biome_js_formatter/tests/specs/js/module/statement/switch_comment.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/switch/comments2.js
  crates/biome_js_formatter/tests/specs/prettier/js/switch/comments2.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Formatter, A-Website, L-JavaScript, A-Changelog

#1489 fix(cli): ignore files and directories from working directory
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  biome.json
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_check/fs_files_ignore_symlink.snap
  crates/biome_fs/src/fs/os.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/configuration/formatter.rs
  crates/biome_service/src/configuration/linter/mod.rs
  crates/biome_service/src/configuration/organize_imports.rs
  crates/biome_service/src/configuration/overrides.rs
  crates/biome_service/src/lib.rs
  crates/biome_service/src/matcher/LICENSE-APACHE
  crates/biome_service/src/matcher/LICENSE-MIT
  crates/biome_service/src/matcher/mod.rs
  crates/biome_service/src/matcher/pattern.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_test_utils/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  website/src/content/docs/guides/how-biome-works.mdx
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Core, A-Project, A-LSP, A-Website, A-Changelog

#1507 fix(lint/useArrowFunction): handle comma sequence in return position
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/complexity/use_arrow_function.rs
  crates/biome_js_analyze/tests/specs/complexity/useArrowFunction/invalid.ts
  crates/biome_js_analyze/tests/specs/complexity/useArrowFunction/invalid.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1506 release: 1.5.1
  CHANGELOG.md
  packages/@biomejs/biome/package.json
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/reference/cli.mdx
  website/src/pages/schemas/1.5.1/schema.json.js
Labels: A-Website, A-Changelog

#1497 refactor(lint/noConsoleLog): add code action
  CHANGELOG.md
  crates/biome_js_analyze/src/semantic_analyzers/suspicious/no_console_log.rs
  crates/biome_js_analyze/tests/specs/suspicious/noConsoleLog/invalid.js.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-console-log.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1509 fix(chaneglog): correctly place the last changelog entry
  CHANGELOG.md
  website/src/content/docs/internals/changelog.mdx
Labels: A-Website, A-Changelog

#1516 fix(cli): don't print loaded config on error
  crates/biome_cli/src/commands/mod.rs
Labels: A-CLI

#1520 docs(website): update `biomejs/setup-biome@v2`
  website/src/content/docs/ja/recipes/continuous-integration.mdx
  website/src/content/docs/pt-br/recipes/continuous-integration.mdx
  website/src/content/docs/recipes/continuous-integration.mdx
  website/src/content/docs/zh-cn/recipes/continuous-integration.mdx
Labels: A-Website

#1513 fix(cli): don't count verbose diagnostics
  CHANGELOG.md
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/cases/diagnostics.rs
  crates/biome_cli/tests/snapshots/main_cases_diagnostics/max_diagnostics.snap
  crates/biome_cli/tests/snapshots/main_cases_diagnostics/max_diagnostics_no_verbose.snap
  crates/biome_cli/tests/snapshots/main_cases_diagnostics/max_diagnostics_verbose.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Website, A-Changelog

#1523 fix(cli): don't handle CSS files
  CHANGELOG.md
  crates/biome_cli/tests/cases/overrides_formatter.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_format/should_apply_different_formatting.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_apply_different_formatting_with_cli.snap
  crates/biome_service/src/file_handlers/mod.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Project, A-Website, A-Changelog

#1485 fix(js_formatter): placements of line comments between function parentheses and body
  CHANGELOG.md
  crates/biome_js_formatter/src/comments.rs
  crates/biome_js_formatter/tests/specs/js/module/function/function_comments.js
  crates/biome_js_formatter/tests/specs/js/module/function/function_comments.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/comments/function/between-parentheses-and-function-body.js
  crates/biome_js_formatter/tests/specs/prettier/js/comments/function/between-parentheses-and-function-body.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Formatter, A-Website, L-JavaScript, A-Changelog

#1517 fix(lint/useHookAtTopLevel): fix nested components and hooks
  CHANGELOG.md
  crates/biome_js_analyze/src/react/hooks.rs
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_hook_at_top_level.rs
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/invalid.js
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/invalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/valid.js
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/valid.js.snap
  crates/biome_js_semantic/src/semantic_model/model.rs
  crates/biome_js_syntax/src/union_ext.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Parser, A-Website, L-JavaScript, A-Changelog

#1500 fix(js_formatter): ensure comments before `async` keyword are placed before it
  CHANGELOG.md
  crates/biome_js_formatter/src/comments.rs
  crates/biome_js_formatter/tests/specs/js/module/decorators/class_members_call_decorator.js.snap
  crates/biome_js_formatter/tests/specs/js/module/decorators/class_members_mixed.js.snap
  crates/biome_js_formatter/tests/specs/js/module/decorators/class_members_simple.js.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/decorators/decorators-comments.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Formatter, A-Website, L-JavaScript, A-Changelog

#1526 refactor(cli): some cleanup
  crates/biome_cli/src/cli_options.rs
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_wasm/Cargo.toml
Labels: A-CLI

#1527 fix(lint/useArrowFunction): enclose with parens when needed
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/complexity/use_arrow_function.rs
  crates/biome_js_analyze/tests/specs/complexity/useArrowFunction/invalid.ts
  crates/biome_js_analyze/tests/specs/complexity/useArrowFunction/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/complexity/useArrowFunction/valid.ts
  crates/biome_js_analyze/tests/specs/complexity/useArrowFunction/valid.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1529 docs(website): fix code snippets that take more space
  website/src/styles/_overrides.scss
Labels: A-Website

#1518 feat(css-parser): CSS Parser: parse starting-style at rule #1478
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/at_rule.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/css/any/starting_style_block.rs
  crates/biome_css_formatter/src/css/statements/mod.rs
  crates/biome_css_formatter/src/css/statements/starting_style_at_rule.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/state.rs
  crates/biome_css_parser/src/syntax/at_rule/keyframes.rs
  crates/biome_css_parser/src/syntax/at_rule/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/page.rs
  crates/biome_css_parser/src/syntax/at_rule/starting_style.rs
  crates/biome_css_parser/src/syntax/blocks.rs
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_starting_style.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_starting_style.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS

#1531 fix: the file `biome.json` can't be ignored
  CHANGELOG.md
  crates/biome_cli/tests/cases/biome_json_support.rs
  crates/biome_cli/tests/snapshots/main_cases_biome_json_support/biome_json_is_not_ignored.snap
  crates/biome_service/src/workspace/server.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Project, A-Website, A-Changelog

#1525 doc(website): upgrade doc for cn
  website/src/content/docs/zh-cn/guides/getting-started.mdx
  website/src/content/docs/zh-cn/guides/how-biome-works.mdx
  website/src/content/docs/zh-cn/guides/integrate-in-vcs.mdx
  website/src/content/docs/zh-cn/guides/manual-installation.mdx
  website/src/content/docs/zh-cn/internals/changelog.mdx
Labels: A-Website

#1503 docs(website): add git-hook Japanese translation
  website/src/content/docs/ja/recipes/git-hooks.mdx
Labels: A-Website

#1537 fix(js_formatter): ensure comments before `*` are placed before `*` in generators
  CHANGELOG.md
  crates/biome_js_formatter/src/comments.rs
  crates/biome_js_formatter/tests/specs/js/module/decorators/class_members_call_decorator.js.snap
  crates/biome_js_formatter/tests/specs/js/module/decorators/class_members_mixed.js.snap
  crates/biome_js_formatter/tests/specs/js/module/decorators/class_members_simple.js.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/decorators/decorators-comments.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Formatter, A-Website, L-JavaScript, A-Changelog

#1536 fix(website): fix dead links
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/a11y/no_blank_target.rs
  crates/biome_js_analyze/src/analyzers/complexity/no_excessive_cognitive_complexity.rs
  website/src/content/blog/biome-v1.mdx
  website/src/content/blog/biome-wins-prettier-challenge.md
  website/src/content/docs/guides/integrate-in-editor.mdx
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/ja/guides/integrate-in-editor.mdx
  website/src/content/docs/linter/rules/no-blank-target.md
  website/src/content/docs/linter/rules/no-excessive-cognitive-complexity.md
  website/src/content/docs/pt-br/guides/integrate-in-editor.mdx
  website/src/content/docs/zh-cn/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1539 fix(docs): update $schema url
  website/src/content/docs/guides/getting-started.mdx
  website/src/content/docs/ja/guides/getting-started.mdx
  website/src/content/docs/pt-br/guides/getting-started.mdx
  website/src/content/docs/reference/configuration.mdx
  website/src/content/docs/zh-cn/guides/getting-started.mdx
  website/src/content/docs/zh-cn/reference/configuration.mdx
Labels: A-Website

#1535 feat(css-parser): CSS Parser: parse document at rule #1303
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/at_rule.rs
  crates/biome_css_formatter/src/css/any/document_matcher.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/css/auxiliary/document_custom_matcher.rs
  crates/biome_css_formatter/src/css/auxiliary/mod.rs
  crates/biome_css_formatter/src/css/bogus/bogus_document_matcher.rs
  crates/biome_css_formatter/src/css/bogus/mod.rs
  crates/biome_css_formatter/src/css/lists/document_matcher_list.rs
  crates/biome_css_formatter/src/css/lists/mod.rs
  crates/biome_css_formatter/src/css/statements/document_at_rule.rs
  crates/biome_css_formatter/src/css/statements/mod.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/document.rs
  crates/biome_css_parser/src/syntax/at_rule/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/parse_error.rs
  crates/biome_css_parser/src/syntax/value/url.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_document_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_document_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_document.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_document.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_css_syntax/src/lib.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS

#1460 fix(project): config merging
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/cases/config_extends.rs
  crates/biome_cli/tests/snapshots/main_cases_config_extends/allows_reverting_fields_in_extended_config_to_default.snap
  crates/biome_cli/tests/snapshots/main_cases_config_extends/extends_config_ok_linter_not_formatter.snap
  crates/biome_cli/tests/snapshots/main_cases_config_extends/respects_unaffected_values_from_extended_config.snap
  crates/biome_deserialize/Cargo.toml
  crates/biome_deserialize/src/lib.rs
  crates/biome_deserialize/src/merge.rs
  crates/biome_deserialize/src/none_state.rs
  crates/biome_deserialize/src/string_set.rs
  crates/biome_deserialize_macros/Cargo.toml
  crates/biome_deserialize_macros/src/lib.rs
  crates/biome_deserialize_macros/src/merge_derive.rs
  crates/biome_deserialize_macros/src/none_state_derive.rs
  crates/biome_formatter/Cargo.toml
  crates/biome_formatter/src/lib.rs
  crates/biome_js_formatter/Cargo.toml
  crates/biome_js_formatter/src/context.rs
  crates/biome_js_formatter/src/context/trailing_comma.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/configuration/css.rs
  crates/biome_service/src/configuration/formatter.rs
  crates/biome_service/src/configuration/javascript/formatter.rs
  crates/biome_service/src/configuration/javascript/mod.rs
  crates/biome_service/src/configuration/json.rs
  crates/biome_service/src/configuration/linter/mod.rs
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/merge.rs
  crates/biome_service/src/configuration/mod.rs
  crates/biome_service/src/configuration/organize_imports.rs
  crates/biome_service/src/configuration/overrides.rs
  crates/biome_service/src/configuration/parse/json/configuration.rs
  crates/biome_service/src/configuration/parse/json/css/mod.rs
  crates/biome_service/src/configuration/parse/json/files.rs
  crates/biome_service/src/configuration/parse/json/formatter.rs
  crates/biome_service/src/configuration/parse/json/javascript/formatter.rs
  crates/biome_service/src/configuration/parse/json/javascript/mod.rs
  crates/biome_service/src/configuration/parse/json/json_impl/mod.rs
  crates/biome_service/src/configuration/parse/json/linter.rs
  crates/biome_service/src/configuration/parse/json/organize_imports.rs
  crates/biome_service/src/configuration/parse/json/overrides.rs
  crates/biome_service/src/configuration/parse/json/rules.rs
  crates/biome_service/src/configuration/parse/json/vcs.rs
  crates/biome_service/src/configuration/vcs.rs
  crates/biome_service/src/lib.rs
  crates/biome_service/src/settings.rs
  website/src/content/docs/internals/changelog.mdx
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI, A-Project, A-Formatter, A-Tooling, A-Website, L-JavaScript, A-Changelog

#1498 docs(pt-br): translated git hooks page
  website/astro.config.ts
  website/src/content/docs/pt-br/guides/integrate-in-vcs.mdx
  website/src/content/docs/pt-br/index.mdx
  website/src/content/docs/pt-br/recipes/git-hooks.mdx
Labels: A-Website

#1544 feat: HTML grammar
  Cargo.lock
  Cargo.toml
  crates/biome_html_factory/Cargo.toml
  crates/biome_html_factory/src/generated.rs
  crates/biome_html_factory/src/generated/node_factory.rs
  crates/biome_html_factory/src/generated/syntax_factory.rs
  crates/biome_html_factory/src/lib.rs
  crates/biome_html_factory/src/make.rs
  crates/biome_html_syntax/Cargo.toml
  crates/biome_html_syntax/src/file_source.rs
  crates/biome_html_syntax/src/generated.rs
  crates/biome_html_syntax/src/generated/kind.rs
  crates/biome_html_syntax/src/generated/macros.rs
  crates/biome_html_syntax/src/generated/nodes.rs
  crates/biome_html_syntax/src/generated/nodes_mut.rs
  crates/biome_html_syntax/src/lib.rs
  crates/biome_html_syntax/src/syntax_node.rs
  xtask/codegen/html.ungram
  xtask/codegen/src/ast.rs
  xtask/codegen/src/css_kinds_src.rs
  xtask/codegen/src/formatter.rs
  xtask/codegen/src/generate_macros.rs
  xtask/codegen/src/generate_node_factory.rs
  xtask/codegen/src/generate_nodes.rs
  xtask/codegen/src/generate_nodes_mut.rs
  xtask/codegen/src/generate_syntax_factory.rs
  xtask/codegen/src/generate_syntax_kinds.rs
  xtask/codegen/src/html_kinds_src.rs
  xtask/codegen/src/js_kinds_src.rs
  xtask/codegen/src/json_kinds_src.rs
  xtask/codegen/src/kind_src.rs
  xtask/codegen/src/lib.rs
Labels: A-Tooling

#1547 fix(js_formatter): fix #1511
  CHANGELOG.md
  crates/biome_formatter/src/buffer.rs
  crates/biome_js_formatter/tests/specs/ts/issue1511.ts
  crates/biome_js_formatter/tests/specs/ts/issue1511.ts.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/zh-cn/internals/changelog.mdx
Labels: A-Formatter, A-Website, L-JavaScript, A-Changelog

#1545 feat: foudations for migration from prettier
  crates/biome_cli/Cargo.toml
  crates/biome_cli/src/commands/migrate.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/lib.rs
  crates/biome_deserialize/README.md
  crates/biome_js_formatter/src/context.rs
Labels: A-CLI, A-Formatter, L-JavaScript

#1548 fix(config): don't ignore 'include' when 'ignore' is set
  CHANGELOG.md
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_format/does_not_format_ignored_file_in_included_directory.snap
  crates/biome_cli/tests/snapshots/main_commands_format/does_not_format_non_included_and_ignored_files.snap
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace/server.rs
  website/src/content/docs/guides/how-biome-works.mdx
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Project, A-Website, A-Changelog

#1552 refactor(cli): do not emit warnings for protected ignored files
  CHANGELOG.md
  crates/biome_cli/tests/cases/protected_files.rs
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_linter_disabled_from_cli_verbose.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_ignored_file_from_cli_verbose.snap
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Project, A-Website, A-Changelog

#1553 fix: trim a new line to avoid making the invalid autofix result
  CHANGELOG.md
  crates/biome_js_analyze/src/semantic_analyzers/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_1514.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_1514.jsx.snap
  crates/biome_unicode_table/src/tables.rs
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-useless-fragments.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1560 fix(config): apply global include/ignore before tools' include/ignore
  CHANGELOG.md
  crates/biome_cli/tests/cases/included_files.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_format/include_ignore_cascade.snap
  crates/biome_cli/tests/snapshots/main_commands_format/include_vcs_ignore_cascade.snap
  crates/biome_cli/tests/snapshots/main_commands_format/override_don_t_affect_ignored_files.snap
  crates/biome_cli/tests/snapshots/main_commands_format/vcs_absolute_path.snap
  crates/biome_service/src/configuration/formatter.rs
  crates/biome_service/src/configuration/linter/mod.rs
  crates/biome_service/src/configuration/organize_imports.rs
  crates/biome_service/src/configuration/overrides.rs
  crates/biome_service/src/matcher/mod.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace/server.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Project, A-Website, A-Changelog

#1562 release: 1.5.2
  CHANGELOG.md
  packages/@biomejs/biome/package.json
  website/src/content/docs/guides/getting-started.mdx
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/ja/guides/getting-started.mdx
  website/src/content/docs/pt-br/guides/getting-started.mdx
  website/src/content/docs/reference/configuration.mdx
  website/src/content/docs/zh-cn/guides/getting-started.mdx
  website/src/content/docs/zh-cn/reference/configuration.mdx
  website/src/pages/schemas/1.5.2/schema.json.js
Labels: A-Website, A-Changelog

#1566 chore(CHANGELOG): add Unreleased section and fix typo
  CHANGELOG.md
  website/src/content/docs/internals/changelog.mdx
Labels: A-Website, A-Changelog

#1567 feat(cli): file system prettier migration
  crates/biome_cli/fixtures/input.json
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/src/execute/process_file.rs
  crates/biome_cli/tests/commands/migrate.rs
  crates/biome_cli/tests/snapshots/main_commands_migrate/emit_diagnostic_for_rome_json.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/prettier_migrate.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/prettier_migrate_no_file.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/prettier_migrate_write.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/prettier_migrate_yml_file.snap
Labels: A-CLI

#1551 feat(linter): show dependency variable name by useExhaustiveDependencies
  CHANGELOG.md
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/checkHooksImportedFromReact.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/customHook.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/extraDependenciesInvalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/missingDependenciesInvalid.js.snap
  justfile
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/use-exhaustive-dependencies.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1453 feat(css_formatter): Formatting for `border` property
  crates/biome_css_formatter/src/css/auxiliary/border.rs
  crates/biome_css_formatter/src/css/auxiliary/line_style.rs
  crates/biome_css_formatter/src/css/auxiliary/line_width_keyword.rs
  crates/biome_css_formatter/src/css/properties/border_property.rs
  crates/biome_css_formatter/src/prelude.rs
  crates/biome_css_formatter/src/utils/mod.rs
  crates/biome_css_formatter/src/utils/properties.rs
  crates/biome_css_formatter/tests/quick_test.rs
  crates/biome_css_formatter/tests/specs/css/properties/border.css
  crates/biome_css_formatter/tests/specs/css/properties/border.css.snap
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_formatter/src/arguments.rs
  crates/biome_js_syntax/src/generated/nodes.rs
  crates/biome_json_syntax/src/generated/nodes.rs
  crates/biome_rowan/src/ast/mod.rs
  xtask/codegen/src/generate_nodes.rs
Labels: A-Core, A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-CSS, L-JSON

#1327 fix(exhaustiveDeps): perform nested capture check in a correct way
  crates/biome_html_syntax/src/generated/nodes.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/valid.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/valid.js.snap
Labels: A-Linter, L-JavaScript

#1581 fix(js_formatter): fix invalid formatting of nested multiline comments
  CHANGELOG.md
  crates/biome_js_formatter/src/comments.rs
  crates/biome_js_formatter/tests/specs/js/module/comments/nested_comments/nested_comments.js
  crates/biome_js_formatter/tests/specs/js/module/comments/nested_comments/nested_comments.js.snap
  crates/biome_js_formatter/tests/specs/js/module/comments/nested_comments/options.json
  website/src/content/docs/internals/changelog.mdx
Labels: A-Formatter, A-Website, L-JavaScript, A-Changelog

#1586 fix: `noArrayIndexKey` false negative in template literals
  CHANGELOG.md
  crates/biome_js_analyze/src/semantic_analyzers/suspicious/no_array_index_key.rs
  crates/biome_js_analyze/tests/specs/suspicious/noArrayIndexKey/invalid.jsx
  crates/biome_js_analyze/tests/specs/suspicious/noArrayIndexKey/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/suspicious/noArrayIndexKey/valid.jsx
  crates/biome_js_analyze/tests/specs/suspicious/noArrayIndexKey/valid.jsx.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-array-index-key.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1587 docs(website): fix lefthook pre-push recipe
  website/src/content/docs/recipes/git-hooks.mdx
Labels: A-Website

#1588 refactor(css_parser): Renamed 'CssSimpleFunction' to 'CssFunction'
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/function.rs
  crates/biome_css_formatter/src/css/any/supports_in_parens.rs
  crates/biome_css_formatter/src/css/any/url_modifier.rs
  crates/biome_css_formatter/src/css/auxiliary/function.rs
  crates/biome_css_formatter/src/css/auxiliary/mod.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_parser/src/syntax/at_rule/keyframes.rs
  crates/biome_css_parser/src/syntax/at_rule/supports.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/parse_error.rs
  crates/biome_css_parser/src/syntax/property/border.rs
  crates/biome_css_parser/src/syntax/value/dimension.rs
  crates/biome_css_parser/src/syntax/value/function.rs
  crates/biome_css_parser/src/syntax/value/mod.rs
  crates/biome_css_parser/src/syntax/value/parse_error.rs
  crates/biome_css_parser/src/syntax/value/url.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_keyframes.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/property/property_generic_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_container.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_keyframe.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_scope.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_supports.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/declaration_list.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/function/calc.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/function/linear-gradient.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/function/unknow.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/function/var.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/values/url_value.css.snap
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS

#1591 fix(formatter): apply line ending option
  CHANGELOG.md
  crates/biome_cli/tests/commands/format.rs
  crates/biome_formatter/src/printer/mod.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Project, A-Formatter, A-Website, A-Changelog

#1590 fix(lsp): register formatter dynamically if possible
  CHANGELOG.md
  crates/biome_lsp/src/capabilities.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-LSP, A-Website, A-Changelog

#1592 fix(linter): correctly handle multibyte chars in regexes
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/complexity/no_multiple_spaces_in_regular_expression_literals.rs
  crates/biome_js_analyze/src/analyzers/correctness/no_empty_character_class_in_regex.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/no_misleading_character_class.rs
  crates/biome_js_analyze/tests/specs/complexity/noMultipleSpacesInRegularExpressionLiterals/invalid.jsonc
  crates/biome_js_analyze/tests/specs/complexity/noMultipleSpacesInRegularExpressionLiterals/invalid.jsonc.snap
  crates/biome_js_analyze/tests/specs/complexity/noMultipleSpacesInRegularExpressionLiterals/valid.jsonc
  crates/biome_js_analyze/tests/specs/complexity/noMultipleSpacesInRegularExpressionLiterals/valid.jsonc.snap
  crates/biome_js_analyze/tests/specs/correctness/noEmptyCharacterClassInRegex/invalid.js
  crates/biome_js_analyze/tests/specs/correctness/noEmptyCharacterClassInRegex/invalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noEmptyCharacterClassInRegex/valid.js
  crates/biome_js_analyze/tests/specs/correctness/noEmptyCharacterClassInRegex/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noMisleadingCharacterClass/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noMisleadingCharacterClass/valid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noControlCharactersInRegex/valid.js
  crates/biome_js_analyze/tests/specs/suspicious/noControlCharactersInRegex/valid.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1583 docs(website): tables from source rules to Biome rules
  crates/biome_analyze/src/rule.rs
  website/astro.config.ts
  website/src/components/generated/Sources.md
  website/src/content/docs/linter/index.mdx
  website/src/content/docs/linter/rules-sources.mdx
  website/src/content/docs/linter/rules/index.mdx
  xtask/lintdoc/src/main.rs
  xtask/lintdoc/src/rules_sources.rs
Labels: A-Linter, A-Tooling, A-Website

#1593 fix(lint/useExhaustiveDependencies): do not panic on TS import equal
  CHANGELOG.md
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/issue1194.ts
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/issue1194.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1604 fix(docs): fix `biome_formatter::comments::following_token` example in rustdoc
  crates/biome_formatter/src/comments.rs
Labels: A-Formatter

#1603 fix(formatter): correctly handle comments at end of export/import list
  CHANGELOG.md
  crates/biome_js_formatter/src/comments.rs
  crates/biome_js_formatter/tests/specs/js/module/comments/import_exports.js
  crates/biome_js_formatter/tests/specs/js/module/comments/import_exports.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Formatter, A-Website, L-JavaScript, A-Changelog

#1612 docs: fix pre-commit sample version v0.1.0
  website/src/content/docs/ja/recipes/git-hooks.mdx
  website/src/content/docs/pt-br/recipes/git-hooks.mdx
  website/src/content/docs/recipes/git-hooks.mdx
  website/src/content/docs/zh-cn/recipes/git-hooks.mdx
Labels: A-Website

#1606 fix(linter): correctly override linter presets
  CHANGELOG.md
  crates/biome_cli/tests/cases/overrides_linter.rs
  crates/biome_cli/tests/snapshots/main_cases_overrides_linter/does_merge_all_overrides.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_linter/does_override_groupe_recommended.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_linter/does_override_recommended.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_linter/does_preserve_group_recommended_when_override_global_recommened.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_linter/does_preserve_individually_diabled_rules_in_overrides.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace/server.rs
  website/src/content/docs/internals/changelog.mdx
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI, A-Project, A-Tooling, A-Website, A-Changelog

#1615 fix(website): git hook shell scripts
  website/src/content/docs/recipes/git-hooks.mdx
Labels: A-Website

#1614 fix(config): don't include ignored files known to be jsonc files when ignoreUnknown is true
  CHANGELOG.md
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_format/don_t_format_ignored_known_jsonc_files.snap
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/workspace/server.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Project, A-Website, A-Changelog

#1616 fix(website): fix lint-staged glob pattern
  website/src/content/docs/recipes/git-hooks.mdx
Labels: A-Website

#1621 Update no_nodejs_modules.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_nodejs_modules.rs
  crates/biome_js_analyze/tests/specs/nursery/noNodejsModules/invalid-cjs.cjs.snap
  crates/biome_js_analyze/tests/specs/nursery/noNodejsModules/invalid-esm.js.snap
  website/src/content/docs/linter/rules/no-nodejs-modules.md
Labels: A-Linter, A-Website, L-JavaScript

#1625 fix(js_parser): Allow `const` in TsMethodSignatureTypeMember and TsCallSignatureTypeMember
  crates/biome_js_parser/src/syntax/typescript/types.rs
  crates/biome_js_parser/test_data/inline/ok/ts_call_signature_member.rast
  crates/biome_js_parser/test_data/inline/ok/ts_call_signature_member.ts
  crates/biome_js_parser/test_data/inline/ok/ts_property_or_method_signature_member.rast
  crates/biome_js_parser/test_data/inline/ok/ts_property_or_method_signature_member.ts
Labels: A-Parser, L-JavaScript

#1619 feat(css_parser): CSS parser to improve selector error handling
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/selector/attribute.rs
  crates/biome_css_parser/src/syntax/selector/mod.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_nth.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_relative_selector_list.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_selector_list.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_container_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_font_face_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/block/css_unfinished_block.css
  crates/biome_css_parser/tests/css_test_suite/error/block/css_unfinished_block.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/css_unfinished_block.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/selector.error.css
  crates/biome_css_parser/tests/css_test_suite/error/selector/selector.error.css.snap
  crates/biome_css_parser/tests/spec_test.rs
Labels: A-Parser, L-CSS

#1632 fix(website): rules sources page link
  website/src/content/docs/linter/index.mdx
Labels: A-Website

#1629 release: 1.5.3
  CHANGELOG.md
  packages/@biomejs/biome/package.json
  website/src/content/docs/guides/getting-started.mdx
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/ja/guides/getting-started.mdx
  website/src/content/docs/pt-br/guides/getting-started.mdx
  website/src/content/docs/reference/configuration.mdx
  website/src/content/docs/zh-cn/guides/getting-started.mdx
  website/src/content/docs/zh-cn/reference/configuration.mdx
  website/src/pages/schemas/1.5.3/schema.json.js
Labels: A-Website, A-Changelog

#1638 fix: remove unneeded semicolon in the autofix suggestion
  crates/biome_js_analyze/src/semantic_analyzers/complexity/no_useless_this_alias.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessThisAlias/invalid.js
  crates/biome_js_analyze/tests/specs/complexity/noUselessThisAlias/invalid.js.snap
  website/src/content/docs/linter/rules/no-useless-this-alias.md
Labels: A-Linter, A-Website, L-JavaScript

#1639 Update language-support.mdx
  website/src/content/docs/internals/language-support.mdx
Labels: A-Website

#1635 feat(linter): add rule `noSkippedTests`
  CHANGELOG.md
  Cargo.lock
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_focused_tests.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_skipped_tests.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/tests/specs/nursery/noFocusedTests/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noFocusedTests/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noFocusedTests/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noFocusedTests/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noSkippedTests/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noSkippedTests/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noSkippedTests/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noSkippedTests/valid.js.snap
  crates/biome_js_formatter/src/js/bindings/parameters.rs
  crates/biome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/biome_js_formatter/src/js/expressions/call_arguments.rs
  crates/biome_js_formatter/src/js/expressions/template_expression.rs
  crates/biome_js_formatter/src/utils/member_chain/mod.rs
  crates/biome_js_formatter/src/utils/mod.rs
  crates/biome_js_formatter/src/utils/test_call.rs
  crates/biome_js_syntax/Cargo.toml
  crates/biome_js_syntax/src/expr_ext.rs
  crates/biome_js_syntax/src/lib.rs
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-focused-tests.md
  website/src/content/docs/linter/rules/no-skipped-tests.md
  xtask/codegen/src/generate_new_lintrule.rs
Labels: A-Project, A-Linter, A-Parser, A-Formatter, A-Tooling, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#1645 fix(js_parser): correctly parse type arguments in expression
  CHANGELOG.md
  crates/biome_js_parser/src/syntax/typescript/types.rs
  crates/biome_js_parser/test_data/inline/ok/ts_type_arguments_like_expression.rast
  crates/biome_js_parser/test_data/inline/ok/ts_type_arguments_like_expression.ts
  website/src/content/docs/internals/changelog.mdx
Labels: A-Parser, A-Website, L-JavaScript, A-Changelog

#1647 fix(cli): don't processed deleted files with `--changed`
  CHANGELOG.md
  crates/biome_cli/src/execute/diagnostics.rs
  crates/biome_cli/src/execute/process_file.rs
  crates/biome_fs/src/fs/os.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Core, A-Website, A-Changelog

#1628 feat: `noUselessTernary` code fixes
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/nursery/no_useless_ternary.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessTernary/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessTernary/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUselessTernary/invalid_without_trivia.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessTernary/invalid_without_trivia.js.snap
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-useless-ternary.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1657 fix(website): json option key typo
  website/src/content/docs/reference/configuration.mdx
  website/src/content/docs/zh-cn/reference/configuration.mdx
Labels: A-Website

#1658 chore(linter): reduce string allocations
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_sorted_classes.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_sorted_classes/class_info.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_sorted_classes/presets.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_sorted_classes/sort_config.rs
Labels: A-Linter, L-JavaScript

#1585 docs(website): add third-party tool in continuous integration section
  website/src/content/docs/recipes/continuous-integration.mdx
Labels: A-Website

#1650 fix(linter): useEnumInitializers action with comment
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/style/use_enum_initializers.rs
  crates/biome_js_analyze/tests/specs/style/useEnumInitializers/invalid.ts
  crates/biome_js_analyze/tests/specs/style/useEnumInitializers/invalid.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1667 chore(linter): simplify visitor logic of `useSortedClasses`
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_sorted_classes.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_sorted_classes/any_class_string_like.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_sorted_classes/options.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_sorted_classes/sort.rs
Labels: A-Linter, L-JavaScript

#1670 docs(website): update third-party tool version in continuous integration section
  website/src/content/docs/recipes/continuous-integration.mdx
Labels: A-Website

#1671 fix(lint/useExhaustiveDependencies): handle dynamic computed property access correctly
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/valid.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/valid.js.snap
Labels: A-Linter, L-JavaScript

#1673 fix(cli): use biome instead of rome on pipe
  crates/biome_cli/src/service/windows.rs
Labels: A-CLI

#1675 refactor(rowan): use niching for Checkpoint
  crates/biome_rowan/src/tree_builder.rs
Labels: A-Core

#1676 docs(internal): fix typos and reword some sentences
  website/src/content/docs/internals/architecture.mdx
Labels: A-Website

#1666 fix(lint/useForOf): handle shorthand property
  CHANGELOG.md
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_for_of.rs
  crates/biome_js_analyze/tests/specs/nursery/useForOf/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useForOf/valid.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1680 fix(lsp): don't format ignored files
  CHANGELOG.md
  crates/biome_lsp/src/handlers/formatting.rs
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/session.rs
  crates/biome_lsp/tests/server.rs
  crates/biome_service/src/workspace/server.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-Project, A-LSP, A-Website, A-Changelog

#1681 docs(changelog): fix incorrect rule name (`noSortedClasses` => `useSortedClasses`)
  CHANGELOG.md
  website/src/content/docs/internals/changelog.mdx
Labels: A-Website, A-Changelog

#1669 fix: `noVar` ignores TsGlobalDeclaration
  CHANGELOG.md
  crates/biome_js_analyze/src/semantic_analyzers/style/no_var.rs
  crates/biome_js_analyze/tests/specs/style/noVar/validTsGlobalDeclaration.ts
  crates/biome_js_analyze/tests/specs/style/noVar/validTsGlobalDeclaration.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1682 refactor(biome_service): cleanup get_parse
  crates/biome_lsp/src/documents.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-Project, A-LSP, A-Changelog

#1683 refactor(website): remove underused glob pattern docs
  website/src/content/docs/guides/how-biome-works.mdx
Labels: A-Website

#1686 refactor(biome_service): move gitignore from matcher to files settings
  crates/biome_service/src/configuration/formatter.rs
  crates/biome_service/src/configuration/linter/mod.rs
  crates/biome_service/src/configuration/organize_imports.rs
  crates/biome_service/src/configuration/overrides.rs
  crates/biome_service/src/matcher/mod.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-Project, A-Changelog

#1685 fix(lint/useOptionalChain): unsafe fix incorrectly discards conditions in logical and chains
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/complexity/use_optional_chain.rs
  crates/biome_js_analyze/tests/specs/complexity/useOptionalChain/logicalAndCases6.js
  crates/biome_js_analyze/tests/specs/complexity/useOptionalChain/logicalAndCases6.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1687 fix(cli): check for ignored dir and symlinks
  CHANGELOG.md
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/fs_files_ignore_symlink.snap
  crates/biome_fs/src/fs.rs
  crates/biome_fs/src/fs/memory.rs
  crates/biome_fs/src/fs/os.rs
  crates/biome_fs/src/path.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Core, A-Website, A-Changelog

#1696 fix(js_formatter): fix formatting of multi-line member chain
  CHANGELOG.md
  crates/biome_js_formatter/src/utils/member_chain/chain_member.rs
  crates/biome_js_formatter/src/utils/member_chain/groups.rs
  crates/biome_js_formatter/src/utils/member_chain/mod.rs
  crates/biome_js_formatter/tests/specs/js/module/expression/member-chain/multi_line.js
  crates/biome_js_formatter/tests/specs/js/module/expression/member-chain/multi_line.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Formatter, A-Website, L-JavaScript, A-Changelog

#1690 chore(project): partial config macro
  crates/biome_cli/src/changed.rs
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/init.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_deserialize/src/lib.rs
  crates/biome_deserialize/src/merge.rs
  crates/biome_deserialize/src/none_state.rs
  crates/biome_deserialize/src/string_set.rs
  crates/biome_deserialize_macros/src/deserializable_derive.rs
  crates/biome_deserialize_macros/src/deserializable_derive/struct_attrs.rs
  crates/biome_deserialize_macros/src/lib.rs
  crates/biome_deserialize_macros/src/merge_derive.rs
  crates/biome_deserialize_macros/src/none_state_derive.rs
  crates/biome_deserialize_macros/src/partial_derive.rs
  crates/biome_deserialize_macros/src/partial_derive/attrs.rs
  crates/biome_service/src/configuration/css.rs
  crates/biome_service/src/configuration/diagnostics.rs
  crates/biome_service/src/configuration/formatter.rs
  crates/biome_service/src/configuration/javascript/formatter.rs
  crates/biome_service/src/configuration/javascript/mod.rs
  crates/biome_service/src/configuration/json.rs
  crates/biome_service/src/configuration/linter/mod.rs
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/configuration/mod.rs
  crates/biome_service/src/configuration/organize_imports.rs
  crates/biome_service/src/configuration/overrides.rs
  crates/biome_service/src/configuration/vcs.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/lib.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/tests/spec_tests.rs
  crates/biome_test_utils/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  packages/@biomejs/js-api/src/index.ts
  website/src/playground/workers/biomeWorker.ts
  xtask/codegen/src/generate_bindings.rs
  xtask/codegen/src/generate_configuration.rs
  xtask/codegen/src/generate_schema.rs
  xtask/codegen/src/generate_website.rs
Labels: A-CLI, A-Project, A-Tooling, A-Website

#1700 Fix overriding of globals
  CHANGELOG.md
  crates/biome_cli/tests/main.rs
  crates/biome_cli/tests/snapshots/main_configuration/override_globals.snap
  crates/biome_service/src/configuration/overrides.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/matcher/mod.rs
  crates/biome_service/src/settings.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Project, A-Website, A-Changelog

#1699 docs(website): fix formatter configuration to website page
  website/src/content/docs/reference/configuration.mdx
Labels: A-Website

#1694 feat(formatter): Format package.json #1668
  crates/biome_cli/tests/cases/diagnostics.rs
  crates/biome_cli/tests/cases/protected_files.rs
  crates/biome_cli/tests/snapshots/main_cases_diagnostics/max_diagnostics_verbose.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_from_cli.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_from_cli_verbose.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_from_stdin_verbose_format.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_from_stdin_verbose_lint.snap
  crates/biome_service/src/workspace.rs
Labels: A-CLI, A-Project

#1576 feat(cli): migrate `.prettierignore` file
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/tests/commands/migrate.rs
  crates/biome_cli/tests/snapshots/main_commands_migrate/prettier_migrate_with_ignore.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/prettier_migrate_write_with_ignore_file.snap
Labels: A-CLI

#1715 feat(js_analyzer): recognize the `NoInfer` utility type
  crates/biome_js_analyze/src/globals/typescript.rs
Labels: A-Linter, L-JavaScript

#1710 Swap order of words in "has implicitly" -> "implicitly has"
  crates/biome_js_analyze/src/analyzers/suspicious/no_implicit_any_let.rs
  crates/biome_js_analyze/tests/specs/suspicious/noImplicitAnyLet/invalid.ts.snap
  website/src/content/blog/biome-wins-prettier-challenge.md
  website/src/content/docs/linter/rules/no-implicit-any-let.md
Labels: A-Linter, A-Website, L-JavaScript

#1720 docs: change 'ecnontrar' to 'encontrar' word in pt-br lang
  website/src/content/docs/pt-br/guides/big-projects.mdx
Labels: A-Website
