Repository biomejs/biome, pull requests merged in 2024-07, with the labels that each got.

#3286 feat(analyzer): expose a method to retrieve a service on demand
  crates/biome_analyze/src/context.rs
Labels: A-Linter

#3306 feat(core): include turbo into well known jsonc
  CHANGELOG.md
  crates/biome_json_syntax/src/file_source.rs
  xtask/codegen/src/language_kind.rs
Labels: A-Parser, A-Tooling, L-JSON, A-Changelog, S-Feature

#3274 feat(biome_js_analyze): `useImportExtensions` - add `importMapping` options
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/nursery/use_import_extensions.rs
  crates/biome_js_analyze/tests/specs/nursery/useImportExtensions/invalidWithImportMappings.options.json
  crates/biome_js_analyze/tests/specs/nursery/useImportExtensions/invalidWithImportMappings.ts
  crates/biome_js_analyze/tests/specs/nursery/useImportExtensions/invalidWithImportMappings.ts.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript, A-Changelog

#3246 feat(editorconfig): reenable editorconfig support, add cli flag to disable it
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/tests/cases/editorconfig.rs
  crates/biome_cli/tests/cases/overrides_formatter.rs
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_use_editorconfig.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_use_editorconfig_enabled_from_biome_conf.snap
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_end_of_line.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_fix.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_jsonc.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_overrides.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_with_ignore.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_write.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_write_biome_jsonc.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_write_packagejson.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_write_with_ignore_file.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettierjson_migrate_write.snap
  crates/biome_configuration/src/diagnostics.rs
  crates/biome_configuration/src/editorconfig.rs
  crates/biome_configuration/src/formatter.rs
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/tests/invalid/formatter_extraneous_field.json.snap
  crates/biome_service/tests/invalid/formatter_quote_style.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project

#3159 fix(bench): better tracking for graphql benches
  xtask/bench/src/lib.rs
  xtask/bench/src/test_case.rs
Labels: A-Tooling

#3324 fix(lint): don't request alt text for elements hidden from assistive technologies
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/a11y/use_alt_text.rs
  crates/biome_js_analyze/tests/specs/a11y/useAltText/area.jsx
  crates/biome_js_analyze/tests/specs/a11y/useAltText/area.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/useAltText/img.jsx
  crates/biome_js_analyze/tests/specs/a11y/useAltText/img.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/useAltText/input.jsx
  crates/biome_js_analyze/tests/specs/a11y/useAltText/input.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/useAltText/object.jsx
  crates/biome_js_analyze/tests/specs/a11y/useAltText/object.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3338 fix(lint): prevent crash when applying `noUselessFragments` unsafe fixes
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_3149.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_3149.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3219 test(editorconfig): additional tests for editorconfig support
  crates/biome_cli/tests/cases/editorconfig.rs
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_apply_path_overrides.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_have_cli_override_editorconfig.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_use_editorconfig_check.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_use_editorconfig_check_enabled_from_biome_conf.snap
Labels: A-CLI

#3346 fix(lint/noExcessiveNestedTestSuites): more thoroughly check if describe call is an object member
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/complexity/no_excessive_nested_test_suites.rs
  crates/biome_js_analyze/tests/specs/complexity/noExcessiveNestedTestSuites/valid.js
  crates/biome_js_analyze/tests/specs/complexity/noExcessiveNestedTestSuites/valid.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3343 chore: add editorconfig support to changelog
  CHANGELOG.md
Labels: A-Changelog

#3241 feat(linter): noDynamicNamespaceImportAccess
  CHANGELOG.md
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_dynamic_namespace_import_access.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noDynamicNamespaceImportAccess/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noDynamicNamespaceImportAccess/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noDynamicNamespaceImportAccess/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noDynamicNamespaceImportAccess/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#3342 feat: support eslint config .eslintrc on migrate
  crates/biome_cli/src/execute/migrate/eslint.rs
  crates/biome_cli/tests/commands/migrate_eslint.rs
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintrc.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_no_eslint_config_packagejson.snap
Labels: A-CLI

#3347 feat(js_semantic): support enum member declaration and direct ref
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/complexity/use_literal_keys.rs
  crates/biome_js_analyze/src/lint/correctness/no_invalid_use_before_declaration.rs
  crates/biome_js_analyze/src/lint/correctness/no_unused_variables.rs
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/invalid.ts
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noInvalidUseBeforeDeclaration/invalid.ts
  crates/biome_js_analyze/tests/specs/correctness/noInvalidUseBeforeDeclaration/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/validEnumMemberRef.ts
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/validEnumMemberRef.ts.snap
  crates/biome_js_factory/src/generated/node_factory.rs
  crates/biome_js_factory/src/generated/syntax_factory.rs
  crates/biome_js_formatter/src/generated.rs
  crates/biome_js_formatter/src/js/classes/method_class_member.rs
  crates/biome_js_formatter/src/ts/any/enum_member_name.rs
  crates/biome_js_formatter/src/ts/any/mod.rs
  crates/biome_js_formatter/src/ts/mod.rs
  crates/biome_js_formatter/src/ts/objects/literal_enum_member_name.rs
  crates/biome_js_formatter/src/ts/objects/mod.rs
  crates/biome_js_formatter/src/utils/mod.rs
  crates/biome_js_formatter/src/utils/object.rs
  crates/biome_js_parser/src/syntax/typescript/statement.rs
  crates/biome_js_parser/test_data/inline/err/decorator_enum_export_default_declaration_clause.rast
  crates/biome_js_parser/test_data/inline/err/enum_decl_no_id.rast
  crates/biome_js_parser/test_data/inline/err/ts_export_default_enum.rast
  crates/biome_js_parser/test_data/inline/ok/ts_ambient_enum_statement.rast
  crates/biome_js_parser/test_data/inline/ok/ts_export_enum_declaration.rast
  crates/biome_js_parser/test_data/inline/ok/typescript_enum.rast
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_semantic/src/semantic_model/builder.rs
  crates/biome_js_syntax/src/binding_ext.rs
  crates/biome_js_syntax/src/expr_ext.rs
  crates/biome_js_syntax/src/generated/kind.rs
  crates/biome_js_syntax/src/generated/macros.rs
  crates/biome_js_syntax/src/generated/nodes.rs
  crates/biome_js_syntax/src/generated/nodes_mut.rs
  xtask/codegen/js.ungram
  xtask/codegen/src/js_kinds_src.rs
Labels: A-Linter, A-Parser, A-Formatter, A-Tooling, L-JavaScript, A-Changelog

#3356 refactor(useFilenamingConvention): accept filename in unicase
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/style/use_filenaming_convention.rs
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/_404.tsx
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/_404.tsx.snap
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/안녕하세요.js
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/안녕하세요.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3358 refactor(js_semantic): use u32 for scope id
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_semantic/src/semantic_model/builder.rs
  crates/biome_js_semantic/src/semantic_model/closure.rs
  crates/biome_js_semantic/src/semantic_model/model.rs
  crates/biome_js_semantic/src/semantic_model/scope.rs
  crates/biome_js_semantic/src/tests/assertions.rs
Labels: L-JavaScript

#3318 fix(css_parser): fix the CSS parser doesn't support nested selectors with pseudo-classes #3287
  CHANGELOG.md
  crates/biome_css_formatter/tests/specs/prettier/css/comments/custom-properties.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/comments/selectors.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/postcss-plugins/postcss-nested-props.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/variables/apply-rule.css.snap
  crates/biome_css_parser/src/parser.rs
  crates/biome_css_parser/src/syntax/block/declaration_or_rule_list_block.rs
  crates/biome_css_parser/src/syntax/block/mod.rs
  crates/biome_css_parser/tests/css_test_suite/ok/nesting/nesting_1.css
  crates/biome_css_parser/tests/css_test_suite/ok/nesting/nesting_1.css.snap
  crates/biome_css_parser/tests/spec_test.rs
Labels: A-Parser, A-Formatter, L-CSS, A-Changelog

#3350 feat: enable GraphQL linting
  CHANGELOG.md
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/rage.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/cases/graphql.rs
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/snapshots/main_cases_graphql/format_and_write_graphql_files.snap
  crates/biome_cli/tests/snapshots/main_cases_graphql/format_graphql_files.snap
  crates/biome_cli/tests/snapshots/main_cases_graphql/lint_single_rule.snap
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_linter_configuration.snap
  crates/biome_configuration/src/graphql.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_graphql_formatter/tests/spec_test.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/settings.rs
  crates/biome_wasm/Cargo.toml
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Changelog

#3308 feat(graphql_analyze): noDuplicatedFields
  crates/biome_analyze/src/rule.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_graphql_analyze/src/lint/nursery.rs
  crates/biome_graphql_analyze/src/lint/nursery/no_duplicated_fields.rs
  crates/biome_graphql_analyze/src/lint/nursery/use_deprecated_reason.rs
  crates/biome_graphql_analyze/src/options.rs
  crates/biome_graphql_analyze/tests/specs/nursery/noDuplicatedFields/invalid.graphql
  crates/biome_graphql_analyze/tests/specs/nursery/noDuplicatedFields/invalid.graphql.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, A-Diagnostic

#3381 ci: update GraphQL cli snapshot
  crates/biome_cli/tests/cases/graphql.rs
  crates/biome_cli/tests/snapshots/main_cases_graphql/lint_single_rule.snap
Labels: A-CLI

#3385 refactor(js_semantic): use trimmed range to identify scopes and bindings
  crates/biome_js_analyze/tests/specs/correctness/noInvalidUseBeforeDeclaration/invalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noInvalidUseBeforeDeclaration/invalidBindingPattern.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noGlobalAssign/invalid.js.snap
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_semantic/src/semantic_model/builder.rs
  crates/biome_js_semantic/src/semantic_model/closure.rs
  crates/biome_js_semantic/src/semantic_model/import.rs
  crates/biome_js_semantic/src/semantic_model/model.rs
  crates/biome_js_semantic/src/tests/assertions.rs
Labels: A-Linter, L-JavaScript

#3382 refactor(codegen): call kind src function instead
  xtask/codegen/src/generate_nodes.rs
Labels: A-Tooling

#3387 refactor(js_semantic): separate binding and scope nodes
  crates/biome_js_semantic/src/semantic_model/binding.rs
  crates/biome_js_semantic/src/semantic_model/builder.rs
  crates/biome_js_semantic/src/semantic_model/closure.rs
  crates/biome_js_semantic/src/semantic_model/globals.rs
  crates/biome_js_semantic/src/semantic_model/model.rs
  crates/biome_js_semantic/src/semantic_model/reference.rs
  crates/biome_js_semantic/src/semantic_model/scope.rs
Labels: L-JavaScript

#3388 refactor(js_semantic): remove dead code
  crates/biome_js_semantic/src/semantic_model/builder.rs
Labels: L-JavaScript

#3389 fix(codegen): create output directory if it doesn't exist
  xtask/codegen/src/lib.rs
Labels: A-Tooling

#3380 refactor(codegen): generate most functions on `LanguageKind` with a macro
  xtask/codegen/src/language_kind.rs
Labels: A-Tooling

#3288 chore(grit): add auto-wrap + integrate with `search` command
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_css_formatter/tests/language.rs
  crates/biome_css_parser/src/lib.rs
  crates/biome_diagnostics/src/location.rs
  crates/biome_graphql_parser/src/lib.rs
  crates/biome_grit_patterns/src/diagnostics.rs
  crates/biome_grit_patterns/src/errors.rs
  crates/biome_grit_patterns/src/grit_binding.rs
  crates/biome_grit_patterns/src/grit_context.rs
  crates/biome_grit_patterns/src/grit_js_parser.rs
  crates/biome_grit_patterns/src/grit_query.rs
  crates/biome_grit_patterns/src/grit_resolved_pattern.rs
  crates/biome_grit_patterns/src/grit_target_language.rs
  crates/biome_grit_patterns/src/lib.rs
  crates/biome_grit_patterns/src/pattern_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/accumulate_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/as_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/auto_wrap.rs
  crates/biome_grit_patterns/src/pattern_compiler/bubble_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/compilation_context.rs
  crates/biome_grit_patterns/src/pattern_compiler/container_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/equal_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/map_accessor_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/rewrite_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/snippet_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/variable_compiler.rs
  crates/biome_grit_patterns/src/variables.rs
  crates/biome_grit_patterns/tests/quick_test.rs
  crates/biome_js_formatter/tests/language.rs
  crates/biome_js_parser/src/parse.rs
  crates/biome_json_formatter/tests/language.rs
  crates/biome_json_parser/src/lib.rs
  crates/biome_parser/src/lib.rs
  crates/biome_rowan/src/syntax/node.rs
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/file_handlers/astro.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/file_handlers/svelte.rs
  crates/biome_service/src/file_handlers/vue.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-CLI, A-Core, A-Project, A-Parser, A-Formatter, L-JavaScript, L-CSS, L-JSON, A-Diagnostic

#3395 refactor(formatter_test): refactor `TestFormatLanguage` trait
  Cargo.lock
  crates/biome_css_formatter/Cargo.toml
  crates/biome_css_formatter/tests/language.rs
  crates/biome_css_formatter/tests/prettier_tests.rs
  crates/biome_css_formatter/tests/quick_test.rs
  crates/biome_css_formatter/tests/spec_test.rs
  crates/biome_formatter_test/src/check_reformat.rs
  crates/biome_formatter_test/src/lib.rs
  crates/biome_formatter_test/src/spec.rs
  crates/biome_formatter_test/src/test_prettier_snapshot.rs
  crates/biome_graphql_formatter/Cargo.toml
  crates/biome_graphql_formatter/tests/language.rs
  crates/biome_graphql_formatter/tests/prettier_tests.rs
  crates/biome_graphql_formatter/tests/quick_test.rs
  crates/biome_graphql_formatter/tests/spec_test.rs
  crates/biome_js_formatter/Cargo.toml
  crates/biome_js_formatter/tests/language.rs
  crates/biome_js_formatter/tests/prettier_tests.rs
  crates/biome_js_formatter/tests/quick_test.rs
  crates/biome_js_formatter/tests/spec_test.rs
  crates/biome_json_formatter/Cargo.toml
  crates/biome_json_formatter/tests/language.rs
  crates/biome_json_formatter/tests/prettier_tests.rs
  crates/biome_json_formatter/tests/quick_test.rs
  crates/biome_json_formatter/tests/spec_test.rs
Labels: A-Formatter, L-JavaScript, L-CSS, L-JSON

#3340 feat(css_parser): introduce grit metavariable
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/declaration_or_rule.rs
  crates/biome_css_formatter/src/css/any/media_query.rs
  crates/biome_css_formatter/src/css/any/selector.rs
  crates/biome_css_formatter/src/css/any/value.rs
  crates/biome_css_formatter/src/css/auxiliary/grit_metavariable.rs
  crates/biome_css_formatter/src/css/auxiliary/mod.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/parser.rs
  crates/biome_css_parser/src/syntax/at_rule/media.rs
  crates/biome_css_parser/src/syntax/block/declaration_or_rule_list_block.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/src/syntax/selector/mod.rs
  crates/biome_css_parser/tests/css_test_suite/ok/grit_metavariable/metavar.css
  crates/biome_css_parser/tests/css_test_suite/ok/grit_metavariable/metavar.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  crates/biome_service/src/file_handlers/css.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Project, A-Parser, A-Formatter, A-Tooling, L-CSS

#3370 feat(lint): add rule `useStrictMode`
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_strict_mode.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/invalid.package.json
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/valid.js.snap
  crates/biome_js_syntax/src/file_source.rs
  crates/biome_project/src/lib.rs
  crates/biome_project/src/node_js_project/mod.rs
  crates/biome_project/src/node_js_project/package_json.rs
  crates/biome_service/src/workspace/server.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, A-Parser, L-JavaScript, A-Diagnostic

#3404 refactor(js_semantic): use range start to identify the declaration in read/write
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_semantic/src/semantic_model/builder.rs
  crates/biome_js_semantic/src/tests/assertions.rs
  xtask/coverage/src/symbols/msts.rs
Labels: A-Tooling, L-JavaScript

#3408 refactor(js_semantic): wrap scope id for niche optimization and clarity
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_semantic/src/semantic_model/builder.rs
  crates/biome_js_semantic/src/semantic_model/closure.rs
  crates/biome_js_semantic/src/semantic_model/model.rs
  crates/biome_js_semantic/src/semantic_model/scope.rs
  crates/biome_js_semantic/src/tests/assertions.rs
Labels: L-JavaScript

#3412 refactor(js_analyze): improve restricted regex error meesages
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/src/utils/regex.rs
Labels: A-Linter, L-JavaScript

#3416 refactor(js_semantic): minor changes
  crates/biome_js_semantic/src/semantic_model/binding.rs
  crates/biome_js_semantic/src/semantic_model/builder.rs
  crates/biome_js_semantic/src/semantic_model/closure.rs
  crates/biome_js_semantic/src/semantic_model/model.rs
  crates/biome_js_semantic/src/semantic_model/reference.rs
  crates/biome_js_semantic/src/semantic_model/scope.rs
Labels: L-JavaScript

#3413 fix: fix typo in URL for noEvolvingTypes rule in diagnostics categories
  crates/biome_diagnostics_categories/src/categories.rs
Labels: A-Diagnostic

#3414 fix(deserialize): unescape JSON strings
  crates/biome_deserialize/src/impls.rs
  crates/biome_deserialize/src/json.rs
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidCustomRegexAnchor.js
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidCustomRegexAnchor.js.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidCustomRegexAnchor.options.json
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validCustomStyleDollarSuffix.js
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validCustomStyleDollarSuffix.js.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validCustomStyleDollarSuffix.options.json
Labels: A-Linter, L-JavaScript

#3333 feat: add `noIrregularWhitespace` rule
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics/src/display/frame.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_irregular_whitespace.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noIrregularWhitespace/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noIrregularWhitespace/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noIrregularWhitespace/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noIrregularWhitespace/valid.js.snap
  crates/biome_json_parser/tests/json_test_suite/err/array_spaces_vertical_tab_formfeed.json.snap
  crates/biome_json_parser/tests/json_test_suite/err/structure_UTF8_BOM_no_data.json.snap
  crates/biome_json_parser/tests/json_test_suite/err/structure_whitespace_formfeed.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, A-Parser, L-JavaScript, L-JSON, A-Diagnostic

#3417 refactor(js_semantic): reduce semantic data size and make some cleanup
  crates/biome_js_analyze/src/lint/correctness/no_invalid_use_before_declaration.rs
  crates/biome_js_analyze/src/lint/style/no_arguments.rs
  crates/biome_js_analyze/src/lint/style/use_for_of.rs
  crates/biome_js_analyze/src/lint/suspicious/no_global_assign.rs
  crates/biome_js_analyze/src/react/hooks.rs
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_semantic/src/semantic_model/binding.rs
  crates/biome_js_semantic/src/semantic_model/builder.rs
  crates/biome_js_semantic/src/semantic_model/closure.rs
  crates/biome_js_semantic/src/semantic_model/globals.rs
  crates/biome_js_semantic/src/semantic_model/model.rs
  crates/biome_js_semantic/src/semantic_model/reference.rs
  crates/biome_js_semantic/src/semantic_model/scope.rs
  crates/biome_js_semantic/src/tests/assertions.rs
Labels: A-Linter, L-JavaScript

#3420 fix(biome-css-parser): incorrect option name in hint when using `:global` in CSS module
  crates/biome_css_parser/src/syntax/at_rule/value.rs
  crates/biome_css_parser/src/syntax/css_modules.rs
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_selector.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_keyframes/disabled_css_module/at_rule_keyframe_disabled_css_modules.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/value/at_rule_value_disabled.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/property/composes/disabled/composes_error_disabled.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_class/pseudo_class_function_selector/disabled/pseudo_class_function_selector_disabled.css.snap
Labels: A-Parser, L-CSS

#3421 docs(js_semantic): update docs and comments
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_semantic/src/semantic_model/builder.rs
  crates/biome_js_semantic/src/semantic_model/model.rs
Labels: L-JavaScript

#3422 fix(js_parser): correctly parse break statements containing keywords
  CHANGELOG.md
  crates/biome_js_parser/src/syntax/stmt.rs
  crates/biome_js_parser/test_data/inline/ok/break_stmt.js
  crates/biome_js_parser/test_data/inline/ok/break_stmt.rast
Labels: A-Parser, L-JavaScript, A-Changelog

#3418 chore(changelog): add changelog entry about noIrregularWhitespace rule
  CHANGELOG.md
Labels: A-Changelog

#3400 feat(yaml): more comprehensive grammar
  crates/biome_yaml_factory/src/generated/node_factory.rs
  crates/biome_yaml_factory/src/generated/syntax_factory.rs
  crates/biome_yaml_syntax/src/generated/kind.rs
  crates/biome_yaml_syntax/src/generated/macros.rs
  crates/biome_yaml_syntax/src/generated/nodes.rs
  crates/biome_yaml_syntax/src/generated/nodes_mut.rs
  xtask/codegen/src/generate_syntax_kinds.rs
  xtask/codegen/src/js_kinds_src.rs
  xtask/codegen/src/yaml_kinds_src.rs
  xtask/codegen/yaml.ungram
Labels: A-Tooling

#3433 fix(css_parser): fix Parser is no longer progressing #3284
  crates/biome_css_parser/src/syntax/at_rule/media.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_media_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_media_error.css.snap
Labels: A-Parser, L-CSS

#3182 feat(lint): add `useConsistentCurlyBraces`
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_consistent_curly_braces.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useConsistentCurlyBraces/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useConsistentCurlyBraces/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentCurlyBraces/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useConsistentCurlyBraces/valid.jsx.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#2981 feat(lint/noStaticElementInteractions): add rule
  crates/biome_aria/src/roles.rs
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/a11y/no_aria_hidden_on_focusable.rs
  crates/biome_js_analyze/src/lint/a11y/no_interactive_element_to_noninteractive_role.rs
  crates/biome_js_analyze/src/lint/a11y/no_noninteractive_element_to_interactive_role.rs
  crates/biome_js_analyze/src/lint/a11y/no_noninteractive_tabindex.rs
  crates/biome_js_analyze/src/lint/a11y/no_redundant_roles.rs
  crates/biome_js_analyze/src/lint/a11y/use_aria_activedescendant_with_tabindex.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_static_element_interactions.rs
  crates/biome_js_analyze/src/lint/nursery/use_focusable_interactive.rs
  crates/biome_js_analyze/src/lint/nursery/use_semantic_elements.rs
  crates/biome_js_analyze/src/lint/nursery/use_valid_autocomplete.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/src/services/aria.rs
  crates/biome_js_analyze/tests/specs/nursery/noStaticElementInteractions/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noStaticElementInteractions/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noStaticElementInteractions/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noStaticElementInteractions/valid.jsx.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#3438 chore: tidy-up licenses
  LICENSE-MIT
  ROME_LICENSE
  crates/biome_css_parser/LICENSE
  crates/biome_css_parser/ROME_LICENSE
  crates/biome_diagnostics/LICENSE
  crates/biome_diagnostics/ROME_LICENSE
  crates/biome_diagnostics/RSLINT_LICENSE
  crates/biome_formatter/LICENSE
  crates/biome_formatter/ROME_LICENSE
  crates/biome_js_formatter/LICENSE
  crates/biome_js_formatter/ROME_LICENSE
  crates/biome_js_parser/LICENSE
  crates/biome_js_parser/ROME_LICENSE
  crates/biome_js_parser/RSLINT_LICENSE
  crates/biome_js_semantic/LICENSE
  crates/biome_js_semantic/ROME_LICENSE
  crates/biome_json_parser/LICENSE
  crates/biome_json_parser/ROME_LICENSE
  crates/biome_text_edit/LICENSE
  crates/biome_text_edit/ROME_LICENSE
  crates/biome_text_edit/RSLINT_LICENSE
  crates/biome_text_size/LICENSE
  crates/biome_text_size/LICENSE-MIT
  crates/biome_text_size/ROME_LICENSE
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: A-Core, A-Parser, A-Formatter, L-JavaScript, L-CSS, L-JSON, A-Diagnostic

#3431 refactor: replace `biome_rowan::*` type into biome type
  crates/biome_js_analyze/src/assists/correctness/organize_imports.rs
  crates/biome_js_analyze/src/lint/complexity/no_excessive_cognitive_complexity.rs
  crates/biome_js_analyze/src/lint/correctness/use_hook_at_top_level.rs
  crates/biome_js_analyze/src/lint/nursery/no_useless_undefined_initialization.rs
  crates/biome_js_analyze/src/lint/nursery/use_import_extensions.rs
  crates/biome_js_analyze/src/lint/suspicious/no_confusing_void_type.rs
  crates/biome_js_analyze/src/lint/suspicious/no_misleading_instantiator.rs
  crates/biome_js_analyze/src/react/hooks.rs
  crates/biome_js_analyze/src/services/semantic.rs
  crates/biome_js_formatter/src/syntax_rewriter.rs
  crates/biome_js_semantic/src/semantic_model/closure.rs
Labels: A-Linter, A-Formatter, L-JavaScript

#3453 fix(noExtraNonNullAssertion): don't report non-null assertion enclosed in parens
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/suspicious/no_extra_non_null_assertion.rs
  crates/biome_js_analyze/tests/specs/suspicious/noExtraNonNullAssertion/valid.ts
  crates/biome_js_analyze/tests/specs/suspicious/noExtraNonNullAssertion/valid.ts.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3451 fix(js_formatter): keep parens around infer in unions/intersections
  CHANGELOG.md
  crates/biome_js_formatter/src/ts/types/infer_type.rs
  crates/biome_js_formatter/tests/specs/ts/type/injfer_in_intersection.ts
  crates/biome_js_formatter/tests/specs/ts/type/injfer_in_intersection.ts.snap
  crates/biome_js_formatter/tests/specs/ts/type/injfer_in_union.ts
  crates/biome_js_formatter/tests/specs/ts/type/injfer_in_union.ts.snap
Labels: A-Formatter, L-JavaScript, A-Changelog

#3452 fix(lint/useConsistentCurlyBraces): specify correct language type
  crates/biome_js_analyze/src/lint/nursery/use_consistent_curly_braces.rs
Labels: A-Linter, L-JavaScript

#3458 chore: fix rules check snippet to emit an error code
  crates/biome_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/nursery/no_irregular_whitespace.rs
  crates/biome_js_analyze/tests/specs/nursery/noIrregularWhitespace/invalid.js.snap
  xtask/rules_check/Cargo.toml
  xtask/rules_check/src/lib.rs
Labels: A-Linter, A-Tooling, L-JavaScript

#3454 fix(js_analyze): handle shorthand property renaming
  crates/biome_js_analyze/src/utils/rename.rs
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidLocalVariable.js
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidLocalVariable.js.snap
Labels: A-Linter, L-JavaScript

#3459 fix(useAdjacentOverloadSignatures): don't report #private and public members with same name
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/nursery/use_adjacent_overload_signatures.rs
  crates/biome_js_analyze/src/lint/suspicious/no_misleading_instantiator.rs
  crates/biome_js_analyze/src/lint/suspicious/no_then_property.rs
  crates/biome_js_analyze/tests/specs/nursery/useAdjacentOverloadSignatures/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useAdjacentOverloadSignatures/valid.ts.snap
  crates/biome_js_analyze/tests/specs/suspicious/noMisleadingInstantiator/valid.ts
  crates/biome_js_analyze/tests/specs/suspicious/noMisleadingInstantiator/valid.ts.snap
  crates/biome_js_syntax/src/expr_ext.rs
Labels: A-Linter, A-Parser, L-JavaScript, A-Changelog

#3415 fix(lint/useHookAtTopLevel): don't flag jest function calls that look like hooks
  crates/biome_js_analyze/src/react/hooks.rs
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/valid.js
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/valid.js.snap
Labels: A-Linter, L-JavaScript

#3456 fix(grit): improved diagnostics
  crates/biome_grit_patterns/src/errors.rs
  crates/biome_grit_patterns/src/lib.rs
  crates/biome_grit_patterns/tests/spec_tests.rs
  crates/biome_grit_patterns/tests/specs/error/missingQuote.grit
  crates/biome_grit_patterns/tests/specs/error/missingQuote.snap
  crates/biome_grit_patterns/tests/specs/error/missingQuote.ts
  crates/biome_parser/src/diagnostic.rs
  crates/biome_service/src/diagnostics.rs
Labels: A-Project, A-Parser

#3293 feat: noValueAtRule css lint rule
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_value_at_rule.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/spec_tests.rs
  crates/biome_css_analyze/tests/specs/nursery/noValueAtRule/invalid.module.css
  crates/biome_css_analyze/tests/specs/nursery/noValueAtRule/invalid.module.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noValueAtRule/valid.module.css
  crates/biome_css_analyze/tests/specs/nursery/noValueAtRule/valid.module.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, L-JavaScript, L-CSS, L-JSON, A-Diagnostic

#3461 feat(cli): lift limit of max diagnostics
  CHANGELOG.md
  crates/biome_cli/src/cli_options.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/process_file/format.rs
  crates/biome_cli/src/execute/process_file/lint.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/cases/diagnostics.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/migrate_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/rage_help.snap
Labels: A-CLI, A-Changelog

#3473 fix(useNamingConvention): handle custom conventions on abstract classes
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validCustomStyleAbstractClass.options.json
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validCustomStyleAbstractClass.ts
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validCustomStyleAbstractClass.ts.snap
  crates/biome_js_syntax/src/modifier_ext.rs
Labels: A-Linter, A-Parser, L-JavaScript, A-Changelog

#3471 refactor(core): register syntax rules via visitor
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
Labels: A-Project

#3466 refactor(useFilenamingConvention): support dynamic route filenames
  CHANGELOG.md
  Cargo.lock
  crates/biome_js_analyze/src/lint/style/use_filenaming_convention.rs
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/(slug1).js
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/(slug1).js.snap
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/[...slug2].js
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/[...slug2].js.snap
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/[[...slug3]].js
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/[[...slug3]].js.snap
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/[slug4].js
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/[slug4].js.snap
  crates/biome_json_parser/tests/json_test_suite/err/number_0.3e_plus.json
  crates/biome_json_parser/tests/json_test_suite/err/number_0.3e_plus.json.snap
  crates/biome_json_parser/tests/json_test_suite/err/number_0_capital_E_plus.json
  crates/biome_json_parser/tests/json_test_suite/err/number_0_capital_E_plus.json.snap
  crates/biome_json_parser/tests/json_test_suite/err/number_0e+_missing_digit.json
  crates/biome_json_parser/tests/json_test_suite/err/number_0e+_missing_digit.json.snap
  crates/biome_json_parser/tests/json_test_suite/err/number_1.0e-_missing_digit.json.snap
  crates/biome_json_parser/tests/json_test_suite/err/number_1.0e_minus.json
  crates/biome_json_parser/tests/json_test_suite/err/number_1.0e_minus.json.snap
  crates/biome_json_parser/tests/json_test_suite/err/number_neg_NaN.json
  crates/biome_json_parser/tests/json_test_suite/err/number_neg_NaN.json.snap
  crates/biome_json_parser/tests/json_test_suite/err/number_p-lus_Inf.json.snap
  crates/biome_json_parser/tests/json_test_suite/err/number_plus_1.json
  crates/biome_json_parser/tests/json_test_suite/err/number_plus_1.json.snap
  crates/biome_json_parser/tests/json_test_suite/err/number_plus_Inf.json
  crates/biome_json_parser/tests/json_test_suite/err/number_plus_Inf.json.snap
  crates/tests_macros/Cargo.toml
  crates/tests_macros/src/lib.rs
Labels: A-Linter, A-Parser, L-JavaScript, L-JSON, A-Changelog

#3496 fix(lint): allow only/skip filter when --write is passed
  crates/biome_cli/src/execute/process_file/lint.rs
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_write.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_skip_write.snap
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-CLI, A-Project, A-LSP

#3446 fix: noCommentText does not work when any other text is a child(#3298)
  crates/biome_js_analyze/src/lint/suspicious/no_comment_text.rs
  crates/biome_js_analyze/tests/specs/suspicious/noCommentText/invalid.tsx
  crates/biome_js_analyze/tests/specs/suspicious/noCommentText/invalid.tsx.snap
  crates/biome_js_analyze/tests/specs/suspicious/noCommentText/valid.tsx
  crates/biome_js_analyze/tests/specs/suspicious/noCommentText/valid.tsx.snap
Labels: A-Linter, L-JavaScript

#3483 refactor(core): register rules using visitor pattern
  crates/biome_analyze/src/lib.rs
  crates/biome_configuration/src/linter/mod.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
Labels: A-Project, A-Linter

#3492 fix(js_formater): strip useless quotes
  crates/biome_js_formatter/src/js/module/import_assertion_entry.rs
  crates/biome_js_formatter/src/utils/string_utils.rs
  crates/biome_js_formatter/tests/specs/js/module/export/bracket-spacing/export_bracket_spacing.js.snap
  crates/biome_js_formatter/tests/specs/js/module/export/from_clause.js.snap
  crates/biome_js_formatter/tests/specs/js/module/export/named_from_clause.js.snap
  crates/biome_js_formatter/tests/specs/js/module/import/bare_import.js.snap
  crates/biome_js_formatter/tests/specs/js/module/import/bracket-spacing/import_bracket_spacing.js.snap
  crates/biome_js_formatter/tests/specs/js/module/import/default_import.js.snap
  crates/biome_js_formatter/tests/specs/js/module/string/quotePreserve/string.js.snap
  crates/biome_js_formatter/tests/specs/js/module/string/quoteSingle/string.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/import-attributes/quote-props/quoted-keys.js.snap
Labels: A-CLI, A-Formatter, L-JavaScript

#3509 refactor(cli_init): update generated config file
  CHANGELOG.md
  crates/biome_cli/src/commands/rage.rs
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/src/service/unix.rs
  crates/biome_cli/src/service/windows.rs
  crates/biome_cli/tests/commands/init.rs
  crates/biome_cli/tests/configs.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_init/creates_config_file.snap
  crates/biome_cli/tests/snapshots/main_commands_init/creates_config_file_when_biome_installed_via_package_manager.snap
  crates/biome_cli/tests/snapshots/main_commands_init/creates_config_jsonc_file.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_configuration/src/lib.rs
  crates/biome_configuration/src/vcs.rs
  crates/biome_lsp/src/server.rs
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/lib.rs
  crates/biome_service/src/workspace/client.rs
  crates/biome_service/tests/invalid/files_extraneous_field.json.snap
  crates/biome_service/tests/invalid/top_level_extraneous_field.json.snap
Labels: A-CLI, A-Project, A-LSP, A-Changelog

#3511 docs(changelog): document fix for `lint --write --only`
  CHANGELOG.md
Labels: A-Changelog

#3514 chore(js_formatter): update prettier compat reports
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
Labels: A-Formatter, L-JavaScript

#3520 refactor: consistently use `cast`, `cast_ref` and `try_cast`
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_graphql_syntax/src/generated/nodes.rs
  crates/biome_grit_syntax/src/generated/nodes.rs
  crates/biome_js_analyze/src/lint/a11y/no_noninteractive_tabindex.rs
  crates/biome_js_analyze/src/lint/a11y/no_positive_tabindex.rs
  crates/biome_js_analyze/src/lint/complexity/no_for_each.rs
  crates/biome_js_analyze/src/lint/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/src/lint/complexity/use_flat_map.rs
  crates/biome_js_analyze/src/lint/correctness/no_constant_condition.rs
  crates/biome_js_analyze/src/lint/correctness/no_constant_math_min_max_clamp.rs
  crates/biome_js_analyze/src/lint/correctness/no_flat_map_identity.rs
  crates/biome_js_analyze/src/lint/correctness/no_string_case_mismatch.rs
  crates/biome_js_analyze/src/lint/correctness/no_unused_private_class_members.rs
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/src/lint/correctness/use_hook_at_top_level.rs
  crates/biome_js_analyze/src/lint/correctness/use_is_nan.rs
  crates/biome_js_analyze/src/lint/correctness/use_jsx_key_in_iterable.rs
  crates/biome_js_analyze/src/lint/nursery/no_console.rs
  crates/biome_js_analyze/src/lint/nursery/no_label_without_control.rs
  crates/biome_js_analyze/src/lint/nursery/use_date_now.rs
  crates/biome_js_analyze/src/lint/nursery/use_top_level_regex.rs
  crates/biome_js_analyze/src/lint/performance/no_accumulating_spread.rs
  crates/biome_js_analyze/src/lint/performance/no_barrel_file.rs
  crates/biome_js_analyze/src/lint/style/use_exponentiation_operator.rs
  crates/biome_js_analyze/src/lint/style/use_numeric_literals.rs
  crates/biome_js_analyze/src/lint/style/use_shorthand_assign.rs
  crates/biome_js_analyze/src/lint/suspicious/no_array_index_key.rs
  crates/biome_js_analyze/src/lint/suspicious/no_console_log.rs
  crates/biome_js_analyze/src/lint/suspicious/no_control_characters_in_regex.rs
  crates/biome_js_analyze/src/lint/suspicious/no_duplicate_class_members.rs
  crates/biome_js_analyze/src/lint/suspicious/no_import_assign.rs
  crates/biome_js_analyze/src/lint/suspicious/no_misleading_character_class.rs
  crates/biome_js_analyze/src/lint/suspicious/no_misrefactored_shorthand_assign.rs
  crates/biome_js_analyze/src/lint/suspicious/no_prototype_builtins.rs
  crates/biome_js_analyze/src/lint/suspicious/no_redundant_use_strict.rs
  crates/biome_js_analyze/src/lint/suspicious/use_getter_return.rs
  crates/biome_js_analyze/src/react/hooks.rs
  crates/biome_js_analyze/src/syntax/correctness/no_super_without_extends.rs
  crates/biome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/biome_js_formatter/src/parentheses.rs
  crates/biome_js_formatter/src/utils/assignment_like.rs
  crates/biome_js_syntax/src/jsx_ext.rs
  crates/biome_rowan/src/ast/mod.rs
  xtask/codegen/src/generate_nodes.rs
Labels: A-Core, A-Linter, A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-CSS

#3521 refactor: remove try_cast_node
  crates/biome_js_analyze/src/lint/suspicious/no_exports_in_test.rs
  crates/biome_json_analyze/src/utils.rs
  crates/biome_rowan/src/ast/mod.rs
Labels: A-Core, A-Linter, L-JavaScript, L-JSON

#3527 docs: update contributing guidelines according to previous changes
  crates/biome_analyze/CONTRIBUTING.md
Labels: A-Linter

#3529 refactor(biome_deserialize): use `enumflags2`
  Cargo.lock
  crates/biome_cli/src/execute/migrate/eslint_eslint.rs
  crates/biome_configuration/src/linter/mod.rs
  crates/biome_configuration/src/parse/json/linter.rs
  crates/biome_deserialize/Cargo.toml
  crates/biome_deserialize/README.md
  crates/biome_deserialize/src/diagnostics.rs
  crates/biome_deserialize/src/impls.rs
  crates/biome_deserialize/src/json.rs
  crates/biome_deserialize/src/lib.rs
  crates/biome_deserialize_macros/src/deserializable_derive.rs
  crates/biome_js_analyze/src/lint/correctness/use_hook_at_top_level.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/options.rs
  crates/biome_js_analyze/src/react/hooks.rs
  crates/biome_project/src/node_js_project/package_json.rs
Labels: A-CLI, A-Project, A-Linter, L-JavaScript

#3534 fix(formatter): prevent line break when comment follows end of attributes, irrespective of bracketSameLine value
  crates/biome_js_formatter/src/jsx/tag/opening_element.rs
  crates/biome_js_formatter/tests/specs/jsx/bracket_same_line/bracket_same_line.jsx
  crates/biome_js_formatter/tests/specs/jsx/bracket_same_line/bracket_same_line.jsx.snap
Labels: A-Formatter, L-JavaScript

#3542 refactor(useExportType): don't report `export {}`
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/style/use_export_type.rs
  crates/biome_js_analyze/tests/specs/style/useExportType/invalid.ts
  crates/biome_js_analyze/tests/specs/style/useExportType/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/style/useExportType/valid.ts
  crates/biome_js_analyze/tests/specs/style/useExportType/valid.ts.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3547 fix: remove parens around exprs that don't need them in a decorator
  CHANGELOG.md
  crates/biome_formatter_test/src/diff_report.rs
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
  crates/biome_js_formatter/src/syntax_rewriter.rs
  crates/biome_js_formatter/tests/specs/prettier/js/decorators/member-expression.js.snap
Labels: A-Formatter, L-JavaScript, A-Changelog

#3552 fix(js_formatter): add parens to match Prettier
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
  crates/biome_js_formatter/tests/specs/prettier/typescript/conditional-types/parentheses.ts.snap
  crates/biome_js_formatter/tests/specs/prettier/typescript/type-arguments-bit-shift-left-like/1.ts.snap
  crates/biome_js_syntax/src/parentheses/expression.rs
  crates/biome_js_syntax/src/parentheses/tstype.rs
Labels: A-Parser, A-Formatter, L-JavaScript

#3553 chore(js_formatter): ignore files with only bogus nodes for generating prettier compat reports
  crates/biome_formatter_test/src/diff_report.rs
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
Labels: A-Formatter, L-JavaScript

#3558 fix(js_formatter): normalize keys then check if quotes are needed
  crates/biome_js_formatter/report.md
  crates/biome_js_formatter/report_incompatible.md
  crates/biome_js_formatter/src/utils/string_utils.rs
  crates/biome_js_formatter/tests/specs/prettier/js/quote-props/objects.js
  crates/biome_js_formatter/tests/specs/prettier/js/quote-props/objects.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/quote-props/objects.js.snap
Labels: A-Formatter, L-JavaScript
