Repository biomejs/biome, pull requests merged in 2024-02, with the labels that each got.

#1716 refactor(linter): improve numeric rules
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/correctness/no_precision_loss.rs
  crates/biome_js_analyze/src/analyzers/suspicious/no_approximative_numeric_constant.rs
  crates/biome_js_analyze/tests/specs/correctness/noPrecisionLoss/invalid.js
  crates/biome_js_analyze/tests/specs/correctness/noPrecisionLoss/invalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noPrecisionLoss/valid.js
  crates/biome_js_analyze/tests/specs/correctness/noPrecisionLoss/valid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noApproximativeNumericConstant/invalid.js
  crates/biome_js_analyze/tests/specs/suspicious/noApproximativeNumericConstant/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noApproximativeNumericConstant/valid.js
  crates/biome_js_analyze/tests/specs/suspicious/noApproximativeNumericConstant/valid.js.snap
  crates/biome_js_syntax/src/numbers.rs
  crates/biome_service/src/configuration/linter/rules.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-approximative-numeric-constant.md
  website/src/content/docs/linter/rules/no-precision-loss.md
Labels: A-Project, A-Linter, A-Parser, A-Website, L-JavaScript, A-Changelog

#1731 fix(js_parser): Correctly parse global declaration when the `global` token and the `{` token are not on the same line
  CHANGELOG.md
  crates/biome_js_parser/src/syntax/auxiliary.rs
  crates/biome_js_parser/src/syntax/stmt.rs
  crates/biome_js_parser/src/syntax/typescript/statement.rs
  crates/biome_js_parser/test_data/inline/ok/ts_global_declaration.rast
  crates/biome_js_parser/test_data/inline/ok/ts_global_declaration.ts
  website/src/content/docs/internals/changelog.mdx
Labels: A-Parser, A-Website, L-JavaScript, A-Changelog

#1732 Better diagnostics error when a user tries to format code that has parsing diagnostics.
  crates/biome_cli/tests/snapshots/main_commands_check/apply_bogus_argument.snap
  crates/biome_cli/tests/snapshots/main_commands_check/parse_error.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_parse_error.snap
  crates/biome_service/src/diagnostics.rs
Labels: A-CLI, A-Project

#1739 fix(website): fix typo on analyzer page
  website/src/content/docs/analyzer/index.mdx
Labels: A-Website

#1455 feat(css_parser): parse font_feature_values
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/at_rule.rs
  crates/biome_css_formatter/src/css/any/font_family_name.rs
  crates/biome_css_formatter/src/css/any/font_feature_values_block.rs
  crates/biome_css_formatter/src/css/any/font_feature_values_item.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/css/auxiliary/font_feature_values_block.rs
  crates/biome_css_formatter/src/css/auxiliary/font_feature_values_item.rs
  crates/biome_css_formatter/src/css/auxiliary/mod.rs
  crates/biome_css_formatter/src/css/bogus/bogus_font_feature_values_item.rs
  crates/biome_css_formatter/src/css/bogus/mod.rs
  crates/biome_css_formatter/src/css/lists/font_feature_values_item_list.rs
  crates/biome_css_formatter/src/css/lists/mod.rs
  crates/biome_css_formatter/src/css/statements/font_feature_values_at_rule.rs
  crates/biome_css_formatter/src/css/statements/mod.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/font_feature_values.rs
  crates/biome_css_parser/src/syntax/at_rule/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/parse_error.rs
  crates/biome_css_parser/src/syntax/mod.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_font_feature_values_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_font_feature_values_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_font_feature_values.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_font_feature_values.css.snap
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS

#1747 fix(analyzer/suppression): insert the existing leading whitespaces in action
  CHANGELOG.md
  crates/biome_js_analyze/src/suppression_action.rs
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_js_analyze/tests/suppression/correctness/noUndeclaredVariables/noUndeclaredVariables.ts.snap
  crates/biome_js_analyze/tests/suppression/correctness/noUnusedVariables/ts-module-export.ts.snap
  crates/biome_js_analyze/tests/suppression/suspicious/noArrayIndexKey/noArrayIndexKey.jsx.snap
  crates/biome_js_analyze/tests/suppression/suspicious/noAssignInExpressions/noAssignInExpressions.ts
  crates/biome_js_analyze/tests/suppression/suspicious/noAssignInExpressions/noAssignInExpressions.ts.snap
  crates/biome_js_analyze/tests/suppression/suspicious/noDoubleEquals/noDoubleEquals.jsx.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1746 feat(css_formatter): CSS nesting
  crates/biome_cli/tests/snapshots/main_commands_format/should_apply_different_formatting.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_apply_different_formatting_with_cli.snap
  crates/biome_css_formatter/src/css/auxiliary/declaration_with_semicolon.rs
  crates/biome_css_formatter/tests/specs/css/color/functional_colors.css.snap
  crates/biome_css_formatter/tests/specs/css/nesting/nesting.css
  crates/biome_css_formatter/tests/specs/css/nesting/nesting.css.snap
  crates/biome_service/src/file_handlers/mod.rs
Labels: A-CLI, A-Project, A-Formatter, L-CSS

#1733 fix(js_parser): correctly handle delete operands
  CHANGELOG.md
  crates/biome_js_formatter/tests/specs/js/module/expression/unary_expression.js
  crates/biome_js_formatter/tests/specs/js/module/expression/unary_expression.js.snap
  crates/biome_js_parser/src/syntax/expr.rs
  crates/biome_js_parser/test_data/inline/ok/unary_delete.js
  crates/biome_js_parser/test_data/inline/ok/unary_delete.rast
  website/src/content/docs/internals/changelog.mdx
Labels: A-Parser, A-Formatter, A-Website, L-JavaScript, A-Changelog

#1737 feat(cli): add prettier migrate sub command
  CHANGELOG.md
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/commands/migrate.rs
  crates/biome_cli/tests/snapshots/main_commands_migrate/migrate_help.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/prettier_migrate_write_with_ignore_file.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Website, A-Changelog

#1751 chore: fix typo
  CONTRIBUTING.md
  crates/biome_js_formatter/src/comments.rs
  website/README.md
  xtask/codegen/html.ungram
Labels: A-Formatter, A-Tooling, A-Website, L-JavaScript

#1759 fix(lint): pull syntax rules when pulling diagnostics
  CHANGELOG.md
  crates/biome_cli/src/execute/process_file/lint.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_syntax_rules.snap
  crates/biome_lsp/tests/server.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/workspace/server.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Project, A-LSP, A-Website, A-Changelog

#1761 feat(biome_js_analyze): noReExportAll
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/no_re_export_all.rs
  crates/biome_js_analyze/tests/specs/nursery/noReExportAll/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noReExportAll/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noReExportAll/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noReExportAll/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-re-export-all.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#1757 fix(lint/noNonNullAssertion): dont create an incorrect unsafe fix for `x[y.z!]`
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/style/no_non_null_assertion.rs
  crates/biome_js_analyze/tests/specs/style/noNonNullAssertion/invalid.ts
  crates/biome_js_analyze/tests/specs/style/noNonNullAssertion/invalid.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1718 feat(project): initial partial support for astro files
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/biome_cli/src/execute/process_file/format.rs
  crates/biome_cli/src/execute/process_file/workspace_file.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_format/format_astro_files.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_astro_files_write.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_empty_astro_files_write.snap
  crates/biome_service/Cargo.toml
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/file_handlers/astro.rs
  crates/biome_service/src/file_handlers/mod.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  website/src/components/ActiveLink.astro
  website/src/components/BlogPostInfo.astro
  website/src/components/Community.astro
  website/src/components/Contributors.astro
  website/src/components/InlineSVG.astro
  website/src/components/PackageManagerBiomeCommand.astro
  website/src/components/PostsList.astro
  website/src/components/Sponsors.astro
  website/src/components/starlight/Head.astro
  website/src/components/starlight/SiteTitle.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/layouts/Blog.astro
  website/src/layouts/StarlightSplashLayout.astro
  website/src/pages/blog/[...slug].astro
Labels: A-CLI, A-Project, A-Website, A-Changelog

#1723 feat(lint/noRestrictedImports): add rule
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_restricted_imports.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/invalid.options.json
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/valid.options.json
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/tests/invalid/hooks_missing_name.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-restricted-imports.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#1677 chore(lint/noImplicitAnyLet): reword diagnostic
  crates/biome_js_analyze/src/analyzers/suspicious/no_implicit_any_let.rs
  website/src/content/docs/linter/rules/no-implicit-any-let.md
Labels: A-Linter, L-JavaScript

#1530 feat(project): support `biome.jsonc`
  crates/biome_cli/src/commands/init.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/ci.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/commands/init.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/commands/migrate.rs
  crates/biome_cli/tests/configs.rs
  crates/biome_cli/tests/snap_test.rs
  crates/biome_cli/tests/snapshots/main_commands_check/no_lint_if_linter_is_disabled_when_run_apply_biome_jsonc.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_does_not_run_formatter_biome_jsonc.snap
  crates/biome_cli/tests/snapshots/main_commands_format/applies_configuration_from_biome_jsonc.snap
  crates/biome_cli/tests/snapshots/main_commands_init/creates_config_jsonc_file.snap
  crates/biome_cli/tests/snapshots/main_commands_init/init_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/no_lint_if_linter_is_disabled_when_run_apply_biome_jsonc.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/prettier_migrate_jsonc.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/prettier_migrate_write_biome_jsonc.snap
  crates/biome_fs/src/fs.rs
  crates/biome_fs/src/lib.rs
  crates/biome_lsp/src/server.rs
  crates/biome_service/src/configuration/mod.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/workspace/server.rs
  website/src/content/docs/guides/how-biome-works.mdx
Labels: A-CLI, A-Core, A-Project, A-LSP, A-Website

#1778 docs(reference/vscode): fix setting value
  website/src/content/docs/ja/reference/vscode.mdx
  website/src/content/docs/pt-br/reference/vscode.mdx
  website/src/content/docs/reference/vscode.mdx
  website/src/content/docs/zh-cn/reference/vscode.mdx
Labels: A-Website

#1771 feat(lint/noConsole): add rule
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/no_console.rs
  crates/biome_js_analyze/tests/specs/nursery/noConsole/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noConsole/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noConsole/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noConsole/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-console.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#1779 chore: upgrade to rust 1.76.0
  crates/biome_cli/src/diagnostics.rs
  crates/biome_diagnostics/tests/macros/location_eq.stderr
  crates/biome_formatter/src/printer/line_suffixes.rs
  crates/biome_js_formatter/src/utils/member_chain/groups.rs
  crates/biome_js_formatter/src/utils/member_chain/mod.rs
  crates/biome_rowan/src/arc.rs
  crates/biome_rowan/src/cursor/node.rs
  crates/biome_rowan/src/syntax/node.rs
  crates/biome_rowan/src/syntax_node_text.rs
  crates/biome_service/src/configuration/diagnostics.rs
  crates/biome_service/src/diagnostics.rs
  rust-toolchain.toml
Labels: A-CLI, A-Core, A-Project, A-Formatter, L-JavaScript, A-Diagnostic

#1722 feat(project): initial partial support for `.vue` files
  CHANGELOG.md
  crates/biome_cli/src/execute/process_file/format.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_format/format_empty_vue_js_files_write.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_empty_vue_ts_files_write.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_vue_explicit_js_files.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_vue_explicit_js_files_write.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_vue_implicit_js_files.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_vue_implicit_js_files_write.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_vue_js_files_write.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_vue_ts_files.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_vue_ts_files_write.snap
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/file_handlers/vue.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Project, A-Website, A-Changelog

#1783 docs(website): Add copy button for commands
  website/src/assets/svg/copy-icon.svg
  website/src/assets/svg/tick-icon.svg
  website/src/components/PackageManagerBiomeCommand.astro
  website/src/components/PackageManagerCommand.astro
  website/src/frontend-scripts/package-manager-commands.ts
  website/src/styles/_pre.scss
Labels: A-Website

#1789 fix(lint): `useAwait` ignores `for await...of`
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/nursery/use_await.rs
  crates/biome_js_analyze/tests/specs/nursery/useAwait/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useAwait/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useAwait/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useAwait/valid.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1796 feat(website): Custom Scroll Bar
  website/src/styles/_customScroll.scss
  website/src/styles/index.scss
Labels: A-Website

#1755 docs: fix `options` link for `useExhaustiveDependencies` linter rule
  crates/biome_js_analyze/src/semantic_analyzers/correctness/use_exhaustive_dependencies.rs
  website/src/content/docs/linter/rules/use-exhaustive-dependencies.md
Labels: A-Website

#1772 feat(project): resolve extends from `node_modules`
  .github/workflows/pull_request_js.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  biome.json
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_diagnostics/Cargo.toml
  crates/biome_diagnostics/src/adapters.rs
  crates/biome_fs/Cargo.toml
  crates/biome_fs/src/fs.rs
  crates/biome_fs/src/fs/memory.rs
  crates/biome_fs/src/fs/os.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/configuration/diagnostics.rs
  crates/biome_service/src/configuration/mod.rs
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/workspace/server.rs
  package.json
  pnpm-lock.yaml
  shared/biome.json
  shared/package.json
  website/src/content/docs/guides/how-biome-works.mdx
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/reference/configuration.mdx
Labels: A-CLI, A-Core, A-Project, A-Website, A-Diagnostic, A-Changelog

#1803 chore: update some deps
  Cargo.lock
  Cargo.toml
  crates/biome_cli/Cargo.toml
  crates/biome_fs/Cargo.toml
  xtask/codegen/Cargo.toml
  xtask/coverage/Cargo.toml
Labels: A-CLI, A-Core, A-Tooling

#1797 Refactored `_pre.scss` and made the copy command button sticky within its container.
  website/src/styles/_pre.scss
Labels: A-Website

#1790 feat: provide manifest to the analyzer
  CHANGELOG.md
  Cargo.lock
  crates/biome_analyze/src/signals.rs
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/no_unused_dependencies.snap
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_fs/src/fs.rs
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_undeclared_dependencies.rs
  crates/biome_js_analyze/src/aria_services.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/manifest_services.rs
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/invalid.package.json
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/valid.package.json
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/session.rs
  crates/biome_lsp/tests/server.rs
  crates/biome_project/src/node_js_project/mod.rs
  crates/biome_project/src/node_js_project/package_json.rs
  crates/biome_project/tests/invalid/dependency_not_number.json
  crates/biome_project/tests/invalid/dependency_not_number.json.snap
  crates/biome_project/tests/invalid/incomplete_version.json
  crates/biome_project/tests/invalid/incomplete_version.json.snap
  crates/biome_project/tests/invalid/version.json
  crates/biome_project/tests/invalid/version.json.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/lib.rs
  crates/biome_service/src/project_handlers/mod.rs
  crates/biome_service/src/project_handlers/node.rs
  crates/biome_service/src/project_handlers/unknown.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/client.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace_types.rs
  crates/biome_test_utils/Cargo.toml
  crates/biome_test_utils/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-undeclared-dependencies.md
  xtask/bench/src/language.rs
  xtask/lintdoc/src/main.rs
Labels: A-CLI, A-Core, A-Project, A-Linter, A-Tooling, A-LSP, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#1806 fix(lint/useNamingConvention): accept unicase characters
  CHANGELOG.md
  crates/biome_js_analyze/src/semantic_analyzers/style/use_naming_convention.rs
  crates/biome_js_analyze/src/utils/case.rs
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidSyllabary.js
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidSyllabary.js.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validSyllabary.js
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validSyllabary.js.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1807 chore(lint): cover more cases for noUndeclaredDependencies
  crates/biome_js_analyze/src/analyzers/nursery/no_nodejs_modules.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_restricted_imports.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_undeclared_dependencies.rs
  crates/biome_js_analyze/src/analyzers/nursery/use_nodejs_import_protocol.rs
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUndeclaredDependencies/valid.js.snap
  crates/biome_js_syntax/src/import_ext.rs
  crates/biome_js_syntax/src/lib.rs
Labels: A-Linter, A-Parser, L-JavaScript, A-Changelog

#1811 feat(lint/useNamingConvention): requireAscii and disallow consecutive delimiters
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/nursery/use_filenaming_convention.rs
  crates/biome_js_analyze/src/semantic_analyzers/style/use_naming_convention.rs
  crates/biome_js_analyze/src/utils/case.rs
  crates/biome_js_analyze/tests/specs/nursery/useFilenamingConvention/invalid-non-ascii-café.js
  crates/biome_js_analyze/tests/specs/nursery/useFilenamingConvention/invalid-non-ascii-café.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useFilenamingConvention/valid-non-ascii-café.js
  crates/biome_js_analyze/tests/specs/nursery/useFilenamingConvention/valid-non-ascii-café.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useFilenamingConvention/valid-non-ascii-café.options.json
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidNonAscii.js
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidNonAscii.js.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidSyllabary.options.json
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidTopLevelVariable.ts
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidTopLevelVariable.ts.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validNonAscii.js
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validNonAscii.js.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validNonAscii.options.json
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validSyllabary.options.json
  crates/biome_service/tests/invalid/naming_convention_incorrect_options.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/use-filenaming-convention.md
  website/src/content/docs/linter/rules/use-naming-convention.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Changelog

#1810 docs: translate "differences-with-prettier" and "option-philosophy" for Simplified Chinese
  website/src/content/docs/zh-cn/formatter/differences-with-prettier.md
  website/src/content/docs/zh-cn/formatter/option-philosophy.md
Labels: A-Website

#1815 feat(cli): make file in diagnostic clickable
  CHANGELOG.md
  crates/biome_diagnostics/src/display.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-Website, A-Diagnostic, A-Changelog

#1804 fix(cli): apply linter logic to CI command
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/commands/mod.rs
Labels: A-CLI

#1817 fix(core): allow invalid reference casting
  crates/biome_rowan/src/green/node.rs
  crates/biome_rowan/src/green/token.rs
Labels: A-Core

#1818 feat(lint): partial support for tagged templates
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_sorted_classes.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_sorted_classes/any_class_string_like.rs
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/codeOptionsUnsorted.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/unsorted.jsx
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/unsorted.jsx.snap
Labels: A-Linter, L-JavaScript

#1824 fix(lint/noConfusingVoidType): accept `void` as the extends type in conditional types
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/suspicious/no_confusing_void_type.rs
  crates/biome_js_analyze/tests/specs/suspicious/noConfusingVoidType/valid.ts
  crates/biome_js_analyze/tests/specs/suspicious/noConfusingVoidType/valid.ts.snap
  website/src/content/docs/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1828 docs: update vscode setting docs
  website/src/content/docs/analyzer/index.mdx
  website/src/content/docs/ja/analyzer/index.mdx
  website/src/content/docs/ja/reference/vscode.mdx
  website/src/content/docs/pt-br/analyzer/index.mdx
  website/src/content/docs/pt-br/reference/vscode.mdx
  website/src/content/docs/reference/vscode.mdx
  website/src/content/docs/zh-cn/analyzer/index.mdx
  website/src/content/docs/zh-cn/reference/vscode.mdx
Labels: A-Website

#1822 feat(lint/noNamespaceImport): add rule
  CHANGELOG.md
  crates/biome_analyze/src/rule.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_namespace_import.rs
  crates/biome_js_analyze/tests/specs/nursery/noNamespaceImport/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noNamespaceImport/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noNamespaceImport/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noNamespaceImport/valid.ts.snap
  crates/biome_service/src/configuration/linter/rules.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-namespace-import.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#1823 fix(documentation): add link to external article
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/complexity/no_static_only_class.rs
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/no-static-only-class.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1831 chore(lint/noReExportAll): add RuleSource and edit lint message
  crates/biome_js_analyze/src/semantic_analyzers/nursery/no_re_export_all.rs
  crates/biome_js_analyze/tests/specs/nursery/noReExportAll/invalid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-re-export-all.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript

#1832 docs(lint/useImportRestrictions): fix the rule source
  crates/biome_analyze/src/rule.rs
  crates/biome_js_analyze/src/analyzers/nursery/use_import_restrictions.rs
  website/src/content/docs/linter/rules/use-import-restrictions.md
Labels: A-Linter, A-Website, L-JavaScript

#1836 fix(website): show eslint-plugin-import-access link name
  crates/biome_js_analyze/src/analyzers/nursery/use_import_restrictions.rs
  website/src/content/docs/linter/rules/use-import-restrictions.md
Labels: A-Linter, A-Website, L-JavaScript

#1838 feat(css_parser): CSS Parser property at rule
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/at_rule.rs
  crates/biome_css_formatter/src/css/statements/mod.rs
  crates/biome_css_formatter/src/css/statements/property_at_rule.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/property.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_property_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_property_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_property.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_property.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS

#1837 feat: lint astro fromtmatter
  CHANGELOG.md
  crates/biome_cli/src/execute/process_file/format.rs
  crates/biome_cli/src/execute/process_file/lint.rs
  crates/biome_cli/src/execute/process_file/workspace_file.rs
  crates/biome_cli/tests/cases/handle_astro_files.rs
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/format_astro_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/format_astro_files_write.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/format_empty_astro_files_write.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/lint_and_fix_astro_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/lint_astro_files.snap
  crates/biome_js_syntax/src/file_source.rs
  crates/biome_rowan/src/file_source.rs
  crates/biome_service/src/file_handlers/astro.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/workspace/server.rs
  website/src/components/starlight/Head.astro
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Core, A-Project, A-Parser, A-Website, L-JavaScript, A-Changelog

#1839 feat(lint): add rule `useNodeAssertStrict`
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/use_node_assert_strict.rs
  crates/biome_js_analyze/tests/specs/nursery/useNodeAssertStrict/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useNodeAssertStrict/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useNodeAssertStrict/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useNodeAssertStrict/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/use-node-assert-strict.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#1844 docs: improve documentation of `--config-path`
  crates/biome_cli/src/cli_options.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/migrate_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/rage_help.snap
Labels: A-CLI

#1847 docs: Update website for --config-path disabling default resolution method
  website/src/content/docs/guides/how-biome-works.mdx
  website/src/content/docs/reference/cli.mdx
Labels: A-Website

#1840 feat(website): improve formatter performance progress bar
  website/src/content/docs/index.mdx
  website/src/content/docs/pt-br/index.mdx
  website/src/playground/components/Progress.tsx
Labels: A-Website

#1842 feat(linter): lint vue script blocks
  crates/biome_cli/src/execute/process_file/format.rs
  crates/biome_cli/src/execute/process_file/lint.rs
  crates/biome_cli/tests/cases/handle_vue_files.rs
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_empty_vue_js_files_write.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_empty_vue_ts_files_write.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_explicit_js_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_explicit_js_files_write.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_implicit_js_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_implicit_js_files_write.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_js_files_write.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_ts_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_ts_files_write.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/lint_vue_js_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/lint_vue_ts_files.snap
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/file_handlers/vue.rs
Labels: A-CLI, A-Project

#1850 fix: remove remaining semicolon from the autofix of noConsole/noConsoleLog
  crates/biome_js_analyze/src/semantic_analyzers/nursery/no_console.rs
  crates/biome_js_analyze/src/semantic_analyzers/suspicious/no_console_log.rs
  crates/biome_js_analyze/tests/specs/nursery/noConsole/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noConsole/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noConsoleLog/invalid.js
  crates/biome_js_analyze/tests/specs/suspicious/noConsoleLog/invalid.js.snap
Labels: A-Linter, L-JavaScript

#1855 fix(website): make playground's control flow graph scrollable
  website/src/styles/playground/_results.scss
Labels: A-Website

#1858 refactor(lint/noFocusedTests): report `fdescribe` and `fit`
  crates/biome_js_analyze/src/analyzers/nursery/no_focused_tests.rs
  crates/biome_js_analyze/tests/specs/nursery/noFocusedTests/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noFocusedTests/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noFocusedTests/valid.js.snap
Labels: A-Linter, L-JavaScript

#1853 feat(deserializable_macro): add `from` and `try_from` attributes
  crates/biome_deserialize_macros/src/deserializable_derive.rs
  crates/biome_deserialize_macros/src/deserializable_derive/container_attrs.rs
  crates/biome_deserialize_macros/src/deserializable_derive/enum_variant_attrs.rs
  crates/biome_deserialize_macros/src/deserializable_derive/struct_attrs.rs
  crates/biome_deserialize_macros/src/deserializable_derive/struct_field_attrs.rs
  crates/biome_deserialize_macros/src/lib.rs
Labels: L-JavaScript

#1854 refactor(website): Upgrade dependencies and use `StarlightPage` component
  pnpm-lock.yaml
  website/astro.config.ts
  website/package.json
  website/plugins/rehype-autolink.ts
  website/src/components/InlineSVG.astro
  website/src/layouts/StarlightSplashLayout.astro
  website/src/pages/blog/[...slug].astro
  website/src/pages/blog/index.astro
  website/src/pages/playground.astro
Labels: A-Website

#1857 perf(cli): reduce memory footprint of diagnostic printer
  crates/biome_cli/src/execute/process_file.rs
  crates/biome_cli/src/execute/process_file/lint.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
  packages/@biomejs/js-api/package.json
  packages/@biomejs/js-api/tests/__snapshots__/formatContent.test.ts.snap
  packages/@biomejs/js-api/tests/__snapshots__/lintContent.test.ts.snap
  packages/@biomejs/js-api/tests/__snapshots__/printDiagnostics.test.ts.snap
  packages/@biomejs/js-api/tests/formatContent.test.ts
  pnpm-lock.yaml
Labels: A-CLI, A-Project

#1864 refactor: `noFocusedTests` code fix
  crates/biome_js_analyze/src/analyzers/nursery/no_focused_tests.rs
  crates/biome_js_analyze/tests/specs/nursery/noFocusedTests/invalid.js.snap
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-focused-tests.md
Labels: A-Linter, A-Website, L-JavaScript

#1868 fix(website): generate RSS feed again
  website/src/pages/feed.xml.js
Labels: A-Website

#1866 Copy button with code component from starlight
  website/src/components/PackageManagerBiomeCommand.astro
  website/src/components/PackageManagerCommand.astro
  website/src/frontend-scripts/package-manager-commands.ts
  website/src/styles/_overrides.scss
  website/src/styles/_pre.scss
Labels: A-Website

#1870 fix(lint/useValidAnchor): fix progressively enhanced anchors are flagged
  crates/biome_js_analyze/src/analyzers/a11y/use_valid_anchor.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/tests/specs/a11y/useValidAnchor/invalid.jsx
  crates/biome_js_analyze/tests/specs/a11y/useValidAnchor/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/useValidAnchor/valid.jsx
  crates/biome_js_analyze/tests/specs/a11y/useValidAnchor/valid.jsx.snap
  website/src/content/docs/linter/rules/use-valid-anchor.md
Labels: A-Linter, A-Website, L-JavaScript

#1843 feat(cli): add `--formatter ` and `--linter` option to `biome rage`
  CHANGELOG.md
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/rage.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/commands/rage.rs
  crates/biome_cli/tests/snapshots/main_commands_rage/rage_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_formatter_configuration.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_linter_configuration.snap
  crates/biome_service/src/configuration/formatter.rs
  crates/biome_service/src/configuration/javascript/formatter.rs
  crates/biome_service/src/configuration/json.rs
  crates/biome_service/src/configuration/linter/mod.rs
  crates/biome_service/src/configuration/mod.rs
  website/src/content/docs/internals/changelog.mdx
Labels: A-CLI, A-Project, A-Website, A-Changelog

#1875 refactor(lint/noSkippedTests): unsafe code fix
  crates/biome_js_analyze/src/analyzers/nursery/no_skipped_tests.rs
  crates/biome_js_analyze/tests/specs/nursery/noSkippedTests/invalid.js.snap
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-skipped-tests.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1863 feat(lint/noDuplicateTestHooks): add rule
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_duplicate_test_hooks.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noDuplicateTestHooks/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noDuplicateTestHooks/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noDuplicateTestHooks/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noDuplicateTestHooks/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-duplicate-test-hooks.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#1869 perf: cache computed overrides
  crates/biome_service/src/configuration/overrides.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/matcher/mod.rs
  crates/biome_service/src/settings.rs
Labels: A-Project

#1865 feat(lsp): add support for astro, vue and svelte
  Cargo.lock
  Cargo.toml
  crates/biome_analyze/src/lib.rs
  crates/biome_analyze/src/syntax.rs
  crates/biome_cli/src/execute/process_file/format.rs
  crates/biome_cli/src/execute/process_file/lint.rs
  crates/biome_css_formatter/tests/language.rs
  crates/biome_css_syntax/src/file_source.rs
  crates/biome_html_syntax/src/file_source.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_formatter/tests/language.rs
  crates/biome_js_syntax/src/file_source.rs
  crates/biome_json_formatter/tests/language.rs
  crates/biome_json_syntax/src/file_source.rs
  crates/biome_lsp/Cargo.toml
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/src/handlers/formatting.rs
  crates/biome_lsp/src/handlers/rename.rs
  crates/biome_lsp/src/session.rs
  crates/biome_lsp/src/utils.rs
  crates/biome_parser/src/lib.rs
  crates/biome_rowan/src/file_source.rs
  crates/biome_rowan/src/lib.rs
  crates/biome_service/src/file_handlers/astro.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/file_handlers/svelte.rs
  crates/biome_service/src/file_handlers/vue.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-CLI, A-Core, A-Project, A-Linter, A-Parser, A-Formatter, A-LSP, L-JavaScript, L-CSS, L-JSON

#1888 fix(analyzer): virtual modules should come first
  CHANGELOG.md
  crates/biome_js_analyze/src/assists/correctness/organize_imports.rs
  crates/biome_js_analyze/tests/specs/correctness/organizeImports/groups.js.snap
  website/src/content/config.ts
  website/src/content/docs/analyzer/index.mdx
  website/src/content/docs/internals/changelog.mdx
  website/src/pages/feed.xml.js
  website/src/pages/og/[...path].ts
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1892 docs: update npm script to setup husky
  website/src/content/docs/ja/recipes/git-hooks.mdx
  website/src/content/docs/pt-br/recipes/git-hooks.mdx
  website/src/content/docs/recipes/git-hooks.mdx
  website/src/content/docs/zh-cn/recipes/git-hooks.mdx
Labels: A-Website

#1893 docs(recipes/git-hooks): fix inconsistency between translations
  website/src/content/docs/ja/recipes/git-hooks.mdx
Labels: A-Website

#1879 feat(js_analyzer): add `noExportsInTest` rule
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_exports_in_test.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noExportsInTest/invalid.cjs
  crates/biome_js_analyze/tests/specs/nursery/noExportsInTest/invalid.cjs.snap
  crates/biome_js_analyze/tests/specs/nursery/noExportsInTest/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noExportsInTest/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noExportsInTest/valid.cjs
  crates/biome_js_analyze/tests/specs/nursery/noExportsInTest/valid.cjs.snap
  crates/biome_js_analyze/tests/specs/nursery/noExportsInTest/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noExportsInTest/valid.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-exports-in-test.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#1894 feat(service): implement format_range and format_on_type for vue, astro and svelte files
  crates/biome_service/src/file_handlers/astro.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/svelte.rs
  crates/biome_service/src/file_handlers/vue.rs
Labels: A-Project

#1881 feat(lint/noSemicolonInJsx): add rule
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/no_semicolon_in_jsx.rs
  crates/biome_js_analyze/tests/specs/nursery/noSemicolonInJsx/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noSemicolonInJsx/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noSemicolonInJsx/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noSemicolonInJsx/valid.jsx.snap
  crates/biome_service/src/configuration/linter/rules.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-semicolon-in-jsx.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic

#1902 refactor(fs): replace `RomePath` to `BiomePath`
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/process_file.rs
  crates/biome_cli/src/execute/process_file/workspace_file.rs
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_formatter_test/src/spec.rs
  crates/biome_fs/src/fs.rs
  crates/biome_fs/src/fs/memory.rs
  crates/biome_fs/src/fs/os.rs
  crates/biome_fs/src/lib.rs
  crates/biome_fs/src/path.rs
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/src/handlers/formatting.rs
  crates/biome_lsp/src/handlers/rename.rs
  crates/biome_lsp/src/handlers/text_document.rs
  crates/biome_lsp/src/requests/syntax_tree.rs
  crates/biome_lsp/src/session.rs
  crates/biome_lsp/tests/server.rs
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/file_handlers/astro.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/file_handlers/svelte.rs
  crates/biome_service/src/file_handlers/vue.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/tests/workspace.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/js-api/src/index.ts
  website/src/playground/workers/biomeWorker.ts
Labels: A-CLI, A-Core, A-Project, A-Formatter, A-LSP, A-Website

#1897 feat: import sorting for astro, svelte and vue
  CHANGELOG.md
  crates/biome_analyze/src/syntax.rs
  crates/biome_cli/src/execute/process_file/format.rs
  crates/biome_cli/src/execute/process_file/organize_imports.rs
  crates/biome_cli/tests/cases/handle_astro_files.rs
  crates/biome_cli/tests/cases/handle_svelte_files.rs
  crates/biome_cli/tests/cases/handle_vue_files.rs
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/sorts_imports_check.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/sorts_imports_write.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/sorts_imports_check.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/sorts_imports_write.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/sorts_imports_check.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/sorts_imports_write.snap
  crates/biome_js_analyze/src/lib.rs
  crates/biome_service/src/file_handlers/astro.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/svelte.rs
  crates/biome_service/src/file_handlers/vue.rs
  website/src/components/BlogPostInfo.astro
  website/src/components/PackageManagerCommand.astro
  website/src/components/PostsList.astro
  website/src/components/starlight/Head.astro
  website/src/components/starlight/Hero.astro
  website/src/components/starlight/Sidebar.astro
  website/src/components/starlight/SiteTitle.astro
  website/src/content/docs/internals/changelog.mdx
  website/src/layouts/Blog.astro
  website/src/pages/blog/[...slug].astro
  website/src/pages/playground.astro
Labels: A-CLI, A-Project, A-Linter, A-Website, L-JavaScript, A-Changelog

#1908 docs: Fix minor typos in Git Hooks guide
  website/src/content/docs/recipes/git-hooks.mdx
Labels: A-Website

#1891 docs: remove unnecessary setup of scripts.postinstall for lefthook
  website/src/content/docs/ja/recipes/git-hooks.mdx
  website/src/content/docs/pt-br/recipes/git-hooks.mdx
  website/src/content/docs/recipes/git-hooks.mdx
  website/src/content/docs/zh-cn/recipes/git-hooks.mdx
Labels: A-Website

#1911 chore: emit an MD file instead of MDX for the changelog file
  website/src/content/docs/internals/changelog.md
  xtask/codegen/src/generate_website.rs
Labels: A-Tooling, A-Website

#1906 docs: update CHANGELOG
  CHANGELOG.md
  website/src/content/docs/internals/changelog.md
Labels: A-Website, A-Changelog

#1914 test: fix redaction regex for snapshots
  crates/biome_cli/tests/snap_test.rs
  crates/biome_cli/tests/snapshots/main_commands_rage/with_server_logs.snap
Labels: A-CLI

#1916 chore(website): add redirect
  website/_redirects
Labels: A-Website

#1917 refactor(lint/namimg-convention): turn off `requireAscii` to avoid breaking changes
  CHANGELOG.md
  crates/biome_js_analyze/src/analyzers/nursery/use_filenaming_convention.rs
  crates/biome_js_analyze/src/semantic_analyzers/style/use_naming_convention.rs
  crates/biome_js_analyze/tests/specs/nursery/useFilenamingConvention/invalid-non-ascii-café.options.json
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidNonAscii.options.json
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/linter/rules/use-filenaming-convention.md
  website/src/content/docs/linter/rules/use-naming-convention.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1921 feat(deserializable): add `unknown_fields` struct attribute
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/tests/snapshots/main_configuration/incorrect_rule_name.snap
  crates/biome_deserialize/src/diagnostics.rs
  crates/biome_deserialize_macros/src/deserializable_derive.rs
  crates/biome_deserialize_macros/src/deserializable_derive/container_attrs.rs
  crates/biome_deserialize_macros/src/lib.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/malformedOptions.js.snap
  crates/biome_service/src/configuration/linter/rules.rs
  crates/biome_service/tests/invalid/files_extraneous_field.json.snap
  crates/biome_service/tests/invalid/formatter_extraneous_field.json.snap
  crates/biome_service/tests/invalid/formatter_quote_style.json.snap
  crates/biome_service/tests/invalid/hooks_incorrect_options.json.snap
  crates/biome_service/tests/invalid/naming_convention_incorrect_options.json.snap
  crates/biome_service/tests/invalid/overrides/incorrect_key.json.snap
  crates/biome_service/tests/invalid/top_level_extraneous_field.json.snap
  packages/@biomejs/biome/configuration_schema.json
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI, A-Project, A-Linter, A-Tooling, L-JavaScript

#1923 feat(lint/noUnusedVariables): ignore unused rest spread siblings
  CHANGELOG.md
  crates/biome_js_analyze/src/semantic_analyzers/correctness/no_unused_variables.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validObjectDestructuring.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validObjectDestructuring.js.snap
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#1887 feat(lint/noNestTestSuites): add rule
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_duplicate_test_hooks.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_excessive_nested_test_suites.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_focused_tests.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_skipped_tests.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noExcessiveNestedTestSuites/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noExcessiveNestedTestSuites/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noExcessiveNestedTestSuites/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noExcessiveNestedTestSuites/valid.js.snap
  crates/biome_js_syntax/src/expr_ext.rs
  crates/biome_service/src/configuration/linter/rules.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-excessive-nested-test-suites.md
Labels: A-Project, A-Linter, A-Parser, A-Website, L-JavaScript, A-Diagnostic

#1930 fix: typo and more descriptive info
  website/src/content/docs/linter/rules/use-filenaming-convention.md
Labels: A-Website

#1913 feat(biome_js_analyze): useJsxKeyInIterable
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_jsx_key_in_iterable.rs
  crates/biome_js_analyze/tests/specs/nursery/useJsxKeyInIterable/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useJsxKeyInIterable/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useJsxKeyInIterable/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useJsxKeyInIterable/valid.jsx.snap
  crates/biome_service/src/configuration/linter/rules.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/use-filenaming-convention.md
  website/src/content/docs/linter/rules/use-jsx-key-in-iterable.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#1936 fix(lint/origanizeImports): use the correct export name to sort in the import clause
  CHANGELOG.md
  crates/biome_js_analyze/tests/specs/correctness/organizeImports/issue-1924.js
  crates/biome_js_analyze/tests/specs/correctness/organizeImports/issue-1924.js.snap
  crates/biome_js_analyze/tests/specs/correctness/organizeImports/namedSpecifiers.js
  crates/biome_js_analyze/tests/specs/correctness/organizeImports/namedSpecifiers.js.snap
  crates/biome_js_syntax/src/import_ext.rs
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Parser, A-Website, L-JavaScript, A-Changelog

#1912 feat(analyzer): implement noBarrelFile
  CHANGELOG.md
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/analyzers/nursery.rs
  crates/biome_js_analyze/src/analyzers/nursery/no_barrel_file.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noBarrelFile/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noBarrelFile/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noBarrelFile/invalid_default_named_alias_reexport.ts
  crates/biome_js_analyze/tests/specs/nursery/noBarrelFile/invalid_default_named_alias_reexport.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noBarrelFile/invalid_named_alias_reexport.ts
  crates/biome_js_analyze/tests/specs/nursery/noBarrelFile/invalid_named_alias_reexport.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noBarrelFile/invalid_named_reexprt.ts
  crates/biome_js_analyze/tests/specs/nursery/noBarrelFile/invalid_named_reexprt.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noBarrelFile/invalid_wild_alias_reexport.ts
  crates/biome_js_analyze/tests/specs/nursery/noBarrelFile/invalid_wild_alias_reexport.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noBarrelFile/invalid_wild_reexport.ts
  crates/biome_js_analyze/tests/specs/nursery/noBarrelFile/invalid_wild_reexport.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noBarrelFile/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noBarrelFile/valid.ts.snap
  crates/biome_service/src/configuration/linter/rules.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-barrel-file.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#1937 fix(lint/noRedeclare): Allow redeclaration of type parameters in different declarations
  CHANGELOG.md
  crates/biome_js_analyze/src/semantic_analyzers/suspicious/no_redeclare.rs
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/issue-1932.ts
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/issue-1932.ts.snap
  crates/biome_js_syntax/src/binding_ext.rs
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Parser, A-Website, L-JavaScript, A-Changelog

#1929 Fix/arrowfunction with conditional expression body
  CHANGELOG.md
  crates/biome_formatter/src/builders.rs
  crates/biome_formatter/src/format_element.rs
  crates/biome_formatter/src/format_element/document.rs
  crates/biome_formatter/src/printer/mod.rs
  crates/biome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/biome_js_formatter/tests/specs/prettier/js/arrows/issue-1805-with-body-conditional-expression.js
  crates/biome_js_formatter/tests/specs/prettier/js/arrows/issue-1805-with-body-conditional-expression.js.prettier-snap
  website/src/content/docs/internals/changelog.md
Labels: A-Formatter, A-Website, L-JavaScript, A-Changelog

#1940 fix: `use-consistent-array-type` lint rule url
  crates/biome_diagnostics_categories/src/categories.rs
  website/src/content/docs/linter/rules/use-consistent-array-type.md
Labels: A-Website, A-Diagnostic

#1884 Tailwind config analyzer package (initial version)
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_sorted_classes.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_sorted_classes/presets.rs
  crates/biome_js_analyze/src/semantic_analyzers/nursery/use_sorted_classes/tailwind_preset.rs
  justfile
  package.json
  packages/tailwindcss-config-analyzer/package.json
  packages/tailwindcss-config-analyzer/src/generate-tailwind-preset.ts
  packages/tailwindcss-config-analyzer/src/introspect.ts
  packages/tailwindcss-config-analyzer/src/sort-config.ts
  packages/tailwindcss-config-analyzer/src/tailwindcss-module-types.d.ts
  packages/tailwindcss-config-analyzer/src/types.ts
  packages/tailwindcss-config-analyzer/tsconfig.json
  pnpm-lock.yaml
Labels: A-Linter, L-JavaScript

#1946 docs: remove outdated `requireConfiguration` docs
  website/src/content/docs/ja/reference/vscode.mdx
  website/src/content/docs/pt-br/reference/vscode.mdx
  website/src/content/docs/reference/vscode.mdx
  website/src/content/docs/zh-cn/reference/vscode.mdx
Labels: A-Website
