Repository biomejs/biome, pull requests merged in 2024-09, with the labels that each got.

#3756 refactor(json): allow comments in jest.config.json
  CHANGELOG.md
  crates/biome_json_syntax/src/file_source.rs
Labels: A-Parser, L-JSON, A-Changelog

#3757 refactor(summary-reporter): order reported paths
  crates/biome_cli/src/reporter/summary.rs
Labels: A-CLI

#3747 feat(search): add matches number to summary
  crates/biome_cli/src/execute/process_file.rs
  crates/biome_cli/src/execute/process_file/search.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/src/reporter/mod.rs
  crates/biome_cli/src/reporter/terminal.rs
  crates/biome_cli/tests/snapshots/main_commands_check/print_json.snap
  crates/biome_cli/tests/snapshots/main_commands_check/print_json_pretty.snap
  crates/biome_cli/tests/snapshots/main_commands_format/print_json.snap
  crates/biome_cli/tests/snapshots/main_commands_format/print_json_pretty.snap
Labels: A-CLI

#3758 refactor(noRedeclare): ignore var named as function expression name
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/suspicious/no_redeclare.rs
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/valid.jsonc
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/valid.jsonc.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3746 feat(css_semantic): implement rule hierarchy tracking and enhance rule lookup
  crates/biome_css_semantic/src/semantic_model/builder.rs
  crates/biome_css_semantic/src/semantic_model/mod.rs
  crates/biome_css_semantic/src/semantic_model/model.rs
Labels: L-CSS

#3764 fix(useExhaustiveDependencies): make stableResult optional
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript

#3768 fix(useValidAriaValues): correctly check property types
  CHANGELOG.md
  crates/biome_aria/src/properties.rs
  crates/biome_js_analyze/src/lint/a11y/use_valid_aria_values.rs
  crates/biome_js_analyze/tests/specs/a11y/useValidAriaValues/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/useValidAriaValues/valid.jsx
  crates/biome_js_analyze/tests/specs/a11y/useValidAriaValues/valid.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3745 fix(css_parser): fix is at unicode range check
  crates/biome_css_parser/src/syntax/property/unicode_range.rs
  crates/biome_css_parser/tests/css_test_suite/ok/property/property_generic.css
  crates/biome_css_parser/tests/css_test_suite/ok/property/property_generic.css.snap
Labels: A-Parser, L-CSS

#3769 fix: don't panic in debug mode when encountring complex variable declaration
  crates/biome_js_parser/src/syntax/stmt.rs
Labels: A-Parser, L-JavaScript

#3585 feat(linter): implement noRestrictedTypes
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_restricted_types.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedTypes/invalidCustom.options.json
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedTypes/invalidCustom.ts
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedTypes/invalidCustom.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedTypes/validCustom.options.json
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedTypes/validCustom.ts
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedTypes/validCustom.ts.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#3774 perf(css_parser): avoid expensive check when parsing an id
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_js_parser/src/lexer/mod.rs
  crates/biome_json_parser/src/lexer/mod.rs
  crates/biome_unicode_table/src/bytes.rs
  crates/biome_unicode_table/src/lib.rs
Labels: A-Parser, L-JavaScript, L-CSS, L-JSON

#3767 fix: let aria-label be valid for useHeadingContent.
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/a11y/use_heading_content.rs
  crates/biome_js_analyze/tests/specs/a11y/useHeadingContent/invalid.jsx
  crates/biome_js_analyze/tests/specs/a11y/useHeadingContent/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/useHeadingContent/valid.jsx
  crates/biome_js_analyze/tests/specs/a11y/useHeadingContent/valid.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3772 chore(bench): pin bench libs
  xtask/bench/benches/analyzer-libs-css.txt
  xtask/bench/benches/analyzer-libs-js.txt
  xtask/bench/benches/analyzer-libs-ts.txt
  xtask/bench/benches/libs-css.txt
  xtask/bench/benches/libs-graphql.txt
  xtask/bench/benches/libs-json.txt
  xtask/bench/benches/libs-ts.txt
Labels: A-Tooling

#3773 feat(html): set up `biome_html_formatter`
  Cargo.lock
  crates/biome_html_formatter/Cargo.toml
  crates/biome_html_formatter/src/comments.rs
  crates/biome_html_formatter/src/context.rs
  crates/biome_html_formatter/src/cst.rs
  crates/biome_html_formatter/src/generated.rs
  crates/biome_html_formatter/src/html/any/attribute.rs
  crates/biome_html_formatter/src/html/any/element.rs
  crates/biome_html_formatter/src/html/any/mod.rs
  crates/biome_html_formatter/src/html/auxiliary/attribute.rs
  crates/biome_html_formatter/src/html/auxiliary/attribute_initializer_clause.rs
  crates/biome_html_formatter/src/html/auxiliary/closing_element.rs
  crates/biome_html_formatter/src/html/auxiliary/content.rs
  crates/biome_html_formatter/src/html/auxiliary/directive.rs
  crates/biome_html_formatter/src/html/auxiliary/element.rs
  crates/biome_html_formatter/src/html/auxiliary/mod.rs
  crates/biome_html_formatter/src/html/auxiliary/name.rs
  crates/biome_html_formatter/src/html/auxiliary/opening_element.rs
  crates/biome_html_formatter/src/html/auxiliary/root.rs
  crates/biome_html_formatter/src/html/auxiliary/self_closing_element.rs
  crates/biome_html_formatter/src/html/auxiliary/string.rs
  crates/biome_html_formatter/src/html/bogus/bogus.rs
  crates/biome_html_formatter/src/html/bogus/bogus_attribute.rs
  crates/biome_html_formatter/src/html/bogus/bogus_element.rs
  crates/biome_html_formatter/src/html/bogus/mod.rs
  crates/biome_html_formatter/src/html/lists/attribute_list.rs
  crates/biome_html_formatter/src/html/lists/element_list.rs
  crates/biome_html_formatter/src/html/lists/mod.rs
  crates/biome_html_formatter/src/html/mod.rs
  crates/biome_html_formatter/src/lib.rs
  crates/biome_html_formatter/src/prelude.rs
  xtask/codegen/src/formatter.rs
Labels: A-Tooling

#3776 fix(parser/html): fix parsing `html` keyword in doctype
  crates/biome_html_parser/src/lexer/mod.rs
  crates/biome_html_parser/src/lexer/tests.rs
  crates/biome_html_parser/src/syntax/mod.rs
  crates/biome_html_parser/tests/html_specs/ok/ok2.html
  crates/biome_html_parser/tests/html_specs/ok/ok2.html.snap
  xtask/codegen/html.ungram
Labels: A-Tooling

#3777 feat(format/html): add `quick_test` to formatter crate
  Cargo.lock
  Cargo.toml
  crates/biome_html_formatter/Cargo.toml
  crates/biome_html_formatter/src/context.rs
  crates/biome_html_formatter/src/lib.rs
  crates/biome_html_formatter/tests/language.rs
  crates/biome_html_formatter/tests/quick_test.rs
  crates/biome_html_parser/src/lib.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/file_handlers/html.rs
  crates/biome_service/src/file_handlers/mod.rs
Labels: A-Project

#3786 refactor(noConsole): add `allow` option
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_eslint.rs
  crates/biome_cli/src/execute/migrate/eslint_to_biome.rs
  crates/biome_js_analyze/src/lint/nursery/no_console.rs
  crates/biome_js_analyze/tests/specs/nursery/noConsole/allowlist.js
  crates/biome_js_analyze/tests/specs/nursery/noConsole/allowlist.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noConsole/allowlist.options.json
  crates/biome_js_analyze/tests/specs/nursery/noConsole/invalid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Linter, L-JavaScript, A-Changelog

#3785 refactor(biome_diagnostics): use enumflags2 for `DiagnosticTag`
  Cargo.lock
  crates/biome_diagnostics/Cargo.toml
  crates/biome_diagnostics/src/diagnostic.rs
Labels: A-Diagnostic

#3788 refactor(biome_js_parser/lexer): use enumflags2 for `RegexFlag`
  Cargo.lock
  crates/biome_js_parser/Cargo.toml
  crates/biome_js_parser/src/lexer/mod.rs
Labels: A-Parser, L-JavaScript

#3789 refactor(biome_js_parser/syntax): use enumflags2 for `TypeContext`
  crates/biome_js_parser/src/syntax/typescript/types.rs
Labels: A-Parser, L-JavaScript

#3793 fix(linter): fix rule `noFocusedTests` checking test call expressions
  CHANGELOG.md
  crates/biome_js_analyze/tests/specs/suspicious/noFocusedTests/invalid.js
  crates/biome_js_analyze/tests/specs/suspicious/noFocusedTests/invalid.js.snap
  crates/biome_js_syntax/src/expr_ext.rs
Labels: A-Linter, A-Parser, L-JavaScript, A-Changelog

#3796 refactor(biome_js_parser/syntax): use enumflags2 for `ModifierFlag`
  crates/biome_js_parser/src/syntax/class.rs
Labels: A-Parser, L-JavaScript

#3797 fix(grit): fix matching multiple args
  crates/biome_grit_patterns/src/grit_binding.rs
  crates/biome_grit_patterns/src/grit_node_patterns.rs
  crates/biome_grit_patterns/tests/specs/ts/functionToArrow.snap
  crates/biome_grit_patterns/tests/specs/ts/functionToArrow.ts
  crates/biome_js_analyze/src/lint/complexity/no_useless_constructor.rs
  crates/biome_js_analyze/src/lint/correctness/no_unused_private_class_members.rs
  crates/biome_js_analyze/src/lint/style/no_parameter_assign.rs
  crates/biome_js_formatter/src/js/any/formal_parameter.rs
  crates/biome_js_formatter/src/js/bindings/parameters.rs
  crates/biome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/biome_js_parser/src/syntax/function.rs
  crates/biome_js_syntax/src/generated/nodes.rs
  crates/biome_js_syntax/src/parameter_ext.rs
  xtask/codegen/js.ungram
Labels: A-Linter, A-Parser, A-Formatter, A-Tooling, L-JavaScript

#3800 refactor(biome_js_parser/state): use enumflags2 for `SignatureFlag ` and `ParsingContextFlag`
  crates/biome_js_parser/src/state.rs
Labels: A-Parser, L-JavaScript

#3799 refactor(biome_js_parser/syntax): use enumflags2 for `ExpressionContextFlag`
  crates/biome_js_parser/src/syntax/expr.rs
Labels: A-Parser, L-JavaScript

#3802 refactor(biome_parser): use enumflags2 for `TokenFlag ` and remove `bitflags`
  Cargo.lock
  Cargo.toml
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_parser/Cargo.toml
  crates/biome_parser/Cargo.toml
  crates/biome_parser/src/lexer.rs
Labels: A-Linter, A-Parser, L-JavaScript

#3801 docs(cli): update `--verbose` doc
  crates/biome_cli/src/cli_options.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/migrate_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/rage_help.snap
Labels: A-CLI

#3808 fix: clippy error with `cargo clippy --all-targets --all-features -- -D warning` command
  xtask/codegen/src/generate_configuration.rs
  xtask/codegen/src/generate_license.rs
Labels: A-Tooling

#3809 chore(linter): rename `useConsistentGridAreas` to `noInvalidGridAreas`
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_invalid_grid_areas.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noInvalidGridAreas/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noInvalidGridAreas/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noInvalidGridAreas/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noInvalidGridAreas/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, L-CSS, A-Diagnostic

#3810 fix(grit): fix matching function body
  crates/biome_grit_patterns/tests/specs/ts/functionToArrow.grit
  crates/biome_grit_patterns/tests/specs/ts/functionToArrow.snap
  crates/biome_grit_patterns/tests/specs/ts/functionToArrow.ts
  crates/biome_js_formatter/src/js/any/statement.rs
  crates/biome_js_parser/src/syntax/function.rs
  crates/biome_js_parser/src/syntax/stmt.rs
  crates/biome_js_parser/test_data/inline/ok/metavar.rast
  crates/biome_js_syntax/src/generated/nodes.rs
  xtask/codegen/js.ungram
Labels: A-Parser, A-Formatter, A-Tooling, L-JavaScript

#3818 chore(linter): rename some css linter rules
  CHANGELOG.md
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_css_analyze/src/lib.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_unknown_pseudo_class.rs
  crates/biome_css_analyze/src/lint/nursery/no_unknown_pseudo_element.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noUnknownPseudoClass/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownPseudoClass/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noUnknownPseudoClass/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownPseudoClass/valid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noUnknownPseudoElement/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownPseudoElement/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noUnknownPseudoElement/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownPseudoElement/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_graphql_analyze/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, L-CSS, A-Diagnostic, A-Changelog

#3807 test(parser/html): add a test for parsing a comment and fix parser snapshots marked with wrong language
  crates/biome_html_parser/tests/html_specs/ok/attributes.html.snap
  crates/biome_html_parser/tests/html_specs/ok/comment.html
  crates/biome_html_parser/tests/html_specs/ok/comment.html.snap
  crates/biome_html_parser/tests/html_specs/ok/element.html.snap
  crates/biome_html_parser/tests/html_specs/ok/element_list.html.snap
  crates/biome_html_parser/tests/html_specs/ok/ok.html.snap
  crates/biome_html_parser/tests/html_specs/ok/ok2.html.snap
  crates/biome_html_parser/tests/spec_test.rs
  crates/biome_html_parser/tests/spec_tests.rs
Labels: L-HTML

#2783 feat(biome_css_analyzer): `noDuplicateCustomProperties`
  CHANGELOG.md
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_duplicate_custom_properties.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateCustomProperties/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateCustomProperties/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateCustomProperties/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateCustomProperties/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, L-CSS, A-Diagnostic, A-Changelog

#3838 fix(linter): only emit diagnostics for grid area properties
  crates/biome_css_analyze/src/lint/nursery/no_invalid_grid_areas.rs
  crates/biome_css_analyze/tests/specs/nursery/noInvalidGridAreas/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noInvalidGridAreas/valid.css.snap
Labels: L-CSS

#3837 fix(linter): allow SVG elements with role="img"
  crates/biome_aria/src/roles.rs
  crates/biome_js_analyze/src/lint/a11y/no_interactive_element_to_noninteractive_role.rs
  crates/biome_js_analyze/src/lint/nursery/use_semantic_elements.rs
  crates/biome_js_analyze/tests/specs/nursery/useSemanticElements/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useSemanticElements/valid.jsx.snap
Labels: A-Linter, L-JavaScript

#3841 fix(search): fix num results
  crates/biome_cli/src/execute/process_file.rs
  crates/biome_cli/src/execute/process_file/search.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/src/reporter/terminal.rs
Labels: A-CLI

#3840 fix(parser/html): fix incorrect lexing of `<html>` elements
  crates/biome_html_parser/src/lexer/mod.rs
  crates/biome_html_parser/src/lexer/tests.rs
  crates/biome_html_parser/tests/html_specs/ok/hello-world.html
  crates/biome_html_parser/tests/html_specs/ok/hello-world.html.snap
  crates/biome_html_parser/tests/html_specs/ok/special-chars.html
  crates/biome_html_parser/tests/html_specs/ok/special-chars.html.snap
Labels: L-HTML

#3781 feat(format/html): impl non-verbatim formatting for directive and element tags
  crates/biome_html_formatter/src/html/auxiliary/closing_element.rs
  crates/biome_html_formatter/src/html/auxiliary/directive.rs
  crates/biome_html_formatter/src/html/auxiliary/element.rs
  crates/biome_html_formatter/src/html/auxiliary/name.rs
  crates/biome_html_formatter/src/html/auxiliary/opening_element.rs
  crates/biome_html_formatter/src/html/auxiliary/root.rs
  crates/biome_html_formatter/src/html/auxiliary/self_closing_element.rs
  crates/biome_html_formatter/src/prelude.rs
Labels: L-HTML

#3823 feat(linter): implement noSecrets
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_secrets.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noSecrets/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noSecrets/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noSecrets/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noSecrets/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#3821 feat(linter): implement noCommonJs
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_common_js.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noCommonJs/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noCommonJs/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noCommonJs/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noCommonJs/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#3806 fix(js_analyzer): don't flag duplicate hooks in describe.each for lint/suspicious/noDuplicateTestHooks
  crates/biome_js_analyze/src/lint/suspicious/no_duplicate_test_hooks.rs
  crates/biome_js_analyze/tests/specs/suspicious/noDuplicateTestHooks/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noDuplicateTestHooks/valid.js
  crates/biome_js_analyze/tests/specs/suspicious/noDuplicateTestHooks/valid.js.snap
Labels: A-Linter, L-JavaScript

#3798 test(format/html): set up test infrastructure
  Cargo.lock
  crates/biome_configuration/Cargo.toml
  crates/biome_html_formatter/Cargo.toml
  crates/biome_html_formatter/tests/prettier_tests.rs
  crates/biome_html_formatter/tests/spec_test.rs
  crates/biome_html_formatter/tests/spec_tests.rs
  crates/biome_html_formatter/tests/specs/example.html
  crates/biome_html_formatter/tests/specs/example.html.snap
  crates/biome_html_formatter/tests/specs/prettier/prepare_tests.js
  crates/biome_html_syntax/src/file_source.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/file_handlers/html.rs
  crates/biome_service/src/file_handlers/mod.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  xtask/rules_check/src/lib.rs
Labels: A-Project, A-Tooling, L-HTML

#3843 docs(analyze): add section for common mistakes
  crates/biome_analyze/CONTRIBUTING.md
Labels: A-Linter

#3842 fix(format/css): preserve expanded comma separated values
  crates/biome_css_formatter/src/utils/component_value_list.rs
  crates/biome_css_formatter/tests/specs/css/value_one_per_line.css
  crates/biome_css_formatter/tests/specs/css/value_one_per_line.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/url/url.css.snap
Labels: A-Formatter, L-CSS

#3819 feat(linter): make noRestrictedTypes common options simpler
  crates/biome_js_analyze/src/lint/nursery/no_restricted_types.rs
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedTypes/invalidCustom.options.json
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript

#3846 feat(parser/html): emit diagnostics for parsing errors
  crates/biome_html_parser/src/syntax/mod.rs
  crates/biome_html_parser/src/syntax/parse_error.rs
  crates/biome_html_parser/tests/html_specs/error/attributes/missing-initializer.html
  crates/biome_html_parser/tests/html_specs/error/attributes/missing-initializer.html.snap
  crates/biome_html_parser/tests/html_specs/error/element/missing-close-tag.html
  crates/biome_html_parser/tests/html_specs/error/element/missing-close-tag.html.snap
  crates/biome_html_parser/tests/html_specs/error/element/missing-element-name.html
  crates/biome_html_parser/tests/html_specs/error/element/missing-element-name.html.snap
  crates/biome_html_parser/tests/html_specs/ok/attributes/attributes.html
  crates/biome_html_parser/tests/html_specs/ok/attributes/attributes.html.snap
  crates/biome_html_parser/tests/html_specs/ok/attributes/multiline-attributes.html
  crates/biome_html_parser/tests/html_specs/ok/attributes/multiline-attributes.html.snap
Labels: L-HTML

#3847 refactor(changelog): add missing entries, order existing ones
  CHANGELOG.md
  crates/biome_css_analyze/src/lint/nursery/no_unknown_pseudo_class.rs
  crates/biome_js_analyze/src/lint/nursery/no_substr.rs
  crates/biome_js_analyze/src/lint/nursery/use_consistent_curly_braces.rs
Labels: A-Linter, L-JavaScript, L-CSS, A-Changelog

#3856 fix: optional ARIA properties for `role="separator"` in `useAriaPropsForRole`
  CHANGELOG.md
  crates/biome_aria/src/roles.rs
  crates/biome_js_analyze/tests/specs/a11y/useAriaPropsForRole/invalid.jsx
  crates/biome_js_analyze/tests/specs/a11y/useAriaPropsForRole/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/useAriaPropsForRole/valid.jsx
  crates/biome_js_analyze/tests/specs/a11y/useAriaPropsForRole/valid.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3855 chore: add additional debug logs for #3839
  crates/biome_service/src/file_handlers/mod.rs
Labels: A-Project

#3857 chore: fix docs comments
  crates/biome_js_formatter/src/js/bindings/constructor_parameters.rs
  crates/biome_js_formatter/src/js/classes/static_initialization_block_class_member.rs
  crates/biome_js_formatter/src/ts/lists/type_parameter_list.rs
Labels: A-Formatter, L-JavaScript

#3854 feat(parser/html): correctly parse void elements
  crates/biome_html_factory/src/generated/node_factory.rs
  crates/biome_html_parser/src/syntax/mod.rs
  crates/biome_html_parser/src/syntax/parse_error.rs
  crates/biome_html_parser/tests/html_specs/error/element/br-with-end.html
  crates/biome_html_parser/tests/html_specs/error/element/br-with-end.html.snap
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/br-in-span.html
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/br-in-span.html.snap
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/br.html
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/br.html.snap
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/meta.html
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/meta.html.snap
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/wbr.html
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/wbr.html.snap
  crates/biome_html_syntax/src/generated/nodes.rs
  crates/biome_html_syntax/src/generated/nodes_mut.rs
  crates/biome_html_syntax/src/lib.rs
  xtask/codegen/html.ungram
Labels: A-Parser, A-Tooling, L-HTML

#3866 fix: update eslint-plugin-solid docs position
  crates/biome_analyze/src/rule.rs
Labels: A-Linter

#3868 fix(aria): remove concept for alert like roles
  CHANGELOG.md
  crates/biome_aria/src/roles.rs
  crates/biome_js_analyze/tests/specs/a11y/useSemanticElements/invalid.jsx
  crates/biome_js_analyze/tests/specs/a11y/useSemanticElements/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/useSemanticElements/valid.jsx
  crates/biome_js_analyze/tests/specs/a11y/useSemanticElements/valid.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3869 docs(readme): add CSS and GraphQL
  packages/@biomejs/biome/README.md
Labels: A-Changelog

#3870 fix(editorconfig): fix editorconfig not being loaded when running `biome ci`
  CHANGELOG.md
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/tests/cases/editorconfig.rs
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_use_editorconfig_ci.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_use_editorconfig_ci_enabled_from_biome_conf.snap
Labels: A-CLI, A-Changelog

#3871 chore(ci): update pr labeler globs to require less maintainance
  .github/labeler.yml
Labels: A-Changelog

#3876 refactor(package.json): add more keywords
  packages/@biomejs/biome/package.json
Labels: A-Changelog

#3878 docs(changelog): fix typo
  CHANGELOG.md
Labels: A-Changelog

#3880 chore: add more logs for #3839
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-Project

#3884 docs: update snippet ignore file on `useFilenamingConvention` rule
  crates/biome_js_analyze/src/lint/style/use_filenaming_convention.rs
Labels: A-Linter, L-JavaScript

#3783 feat(format/html): attribute formatting
  crates/biome_html_formatter/src/html/auxiliary/attribute.rs
  crates/biome_html_formatter/src/html/auxiliary/attribute_initializer_clause.rs
  crates/biome_html_formatter/src/html/auxiliary/opening_element.rs
  crates/biome_html_formatter/src/html/auxiliary/self_closing_element.rs
  crates/biome_html_formatter/src/html/auxiliary/string.rs
  crates/biome_html_formatter/src/html/lists/attribute_list.rs
  crates/biome_html_formatter/tests/specs/attributes-break.html
  crates/biome_html_formatter/tests/specs/attributes-break.html.snap
  crates/biome_html_formatter/tests/specs/attributes-no-break.html
  crates/biome_html_formatter/tests/specs/attributes-no-break.html.snap
  crates/biome_html_formatter/tests/specs/attributes-self-closing.html
  crates/biome_html_formatter/tests/specs/attributes-self-closing.html.snap
  crates/biome_html_formatter/tests/specs/self-closing.html
  crates/biome_html_formatter/tests/specs/self-closing.html.snap
Labels: A-Formatter, L-HTML

#3825 feat(lint): add noProcessEnv
  CHANGELOG.md
  crates/biome_analyze/src/rule.rs
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/no_unused_dependencies.snap
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_process_env.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/invalidCustomInputComponents.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/invalidCustomLabelAttributes.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/invalidCustomLabelComponents.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/invalidCustomOptions.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/validCustomControlComponents.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/validCustomLabelAttributes.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/validCustomLabelComponents.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/validCustomOptions.jsx.snap
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/invalidWithImportMappings.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noProcessEnv/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noProcessEnv/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noProcessEnv/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noProcessEnv/valid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noConsole/allowlist.js.snap
  crates/biome_unicode_table/src/tables.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#3888 chore: add `noConsole` options documentation
  crates/biome_js_analyze/src/lint/suspicious/no_console.rs
Labels: A-Linter, L-JavaScript

#3891 chore: tweak `useConsistentArrayType` rule documentation
  crates/biome_js_analyze/src/lint/style/use_consistent_array_type.rs
Labels: A-Linter, L-JavaScript

#3893 fix(noUndeclaredDependencies): ignore invalid package names, bun import, and recognize Definitely Typed
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/no_undeclared_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredDependencies/valid.package.json
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredDependencies/valid.ts
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredDependencies/valid.ts.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3897 revert: "feat(lsp): add codeActionKinds"
  crates/biome_lsp/src/capabilities.rs
  crates/biome_lsp/tests/server.rs
Labels: A-LSP

#3900 release: v1.9.1
  CHANGELOG.md
  packages/@biomejs/biome/package.json
Labels: A-Changelog

#3901 chore: update biome version of rules
  crates/biome_js_analyze/src/lint/nursery/no_process_env.rs
Labels: A-Linter, L-JavaScript

#3885 feat(format/grit): grit formatter initial configuration
  Cargo.lock
  crates/biome_formatter/CONTRIBUTING.md
  crates/biome_grit_formatter/Cargo.toml
  crates/biome_grit_formatter/src/comments.rs
  crates/biome_grit_formatter/src/context.rs
  crates/biome_grit_formatter/src/cst.rs
  crates/biome_grit_formatter/src/lib.rs
  crates/biome_grit_formatter/src/prelude.rs
  crates/biome_unicode_table/src/tables.rs
Labels: A-Formatter

#3865 fix: re-implement #3856 to improve correctness
  crates/biome_aria/src/roles.rs
Labels: A-CLI

#3921 fix(cli): use correct list of evaluated paths
  CHANGELOG.md
  crates/biome_cli/src/execute/process_file/format.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/src/reporter/terminal.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/snapshots/main_commands_check/print_verbose_write.snap
Labels: A-CLI, A-Changelog

#3908 fix(parser/html): fix whitespace being lexed as html literal
  crates/biome_html_parser/src/lexer/mod.rs
  crates/biome_html_parser/src/lexer/tests.rs
  crates/biome_html_parser/src/syntax/mod.rs
  crates/biome_html_parser/src/token_source.rs
  crates/biome_html_parser/tests/html_specs/error/element/br-with-end.html.snap
  crates/biome_html_parser/tests/html_specs/error/element/missing-close-tag.html.snap
  crates/biome_html_parser/tests/html_specs/ok/attributes/multiline-attributes.html.snap
  crates/biome_html_parser/tests/html_specs/ok/element_list.html.snap
  crates/biome_html_parser/tests/html_specs/ok/hello-world.html.snap
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/meta.html.snap
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/wbr.html.snap
  crates/biome_html_parser/tests/html_specs/ok/special-chars.html.snap
Labels: A-Parser, L-HTML

#3922 fix(css_parser): accept U+FDCF and U+FFFD in identifiers
  CHANGELOG.md
  crates/biome_unicode_table/src/lib.rs
Labels: A-Changelog

#3907 fix(config): handle `unset` and `off` values in editorconfig files
  crates/biome_cli/tests/cases/editorconfig.rs
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_emit_diagnostics.snap
  crates/biome_configuration/src/diagnostics.rs
  crates/biome_configuration/src/editorconfig.rs
Labels: A-CLI, A-Project

#3925 fix: preserve other children in `useConsistentCurlyBraces`
  crates/biome_js_analyze/src/lint/nursery/use_consistent_curly_braces.rs
  crates/biome_js_analyze/tests/specs/nursery/useConsistentCurlyBraces/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useConsistentCurlyBraces/invalid.jsx.snap
Labels: A-Linter, L-JavaScript

#3948 fix(lsp): apply `.editorconfig` options
  CHANGELOG.md
  Cargo.lock
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_lsp/Cargo.toml
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/session.rs
Labels: A-CLI, A-Project, A-LSP, A-Changelog

#3947 fix(useStrictMode): check actual directives
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/nursery/use_strict_mode.rs
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/invalid-with-directive.cjs
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/invalid-with-directive.cjs.snap
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/valid-with-directive.cjs
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/valid-with-directive.cjs.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3953 test: fix outdated snapshot tests
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/invalidCustomInputComponents.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/invalidCustomInputComponents.options.json
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/invalidCustomLabelAttributes.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/invalidCustomLabelAttributes.options.json
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/invalidCustomLabelComponents.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/invalidCustomLabelComponents.options.json
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/invalidCustomOptions.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/invalidCustomOptions.options.json
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/validCustomControlComponents.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/validCustomControlComponents.options.json
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/validCustomLabelAttributes.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/validCustomLabelAttributes.options.json
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/validCustomLabelComponents.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/validCustomLabelComponents.options.json
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/validCustomOptions.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/validCustomOptions.options.json
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/malformedOptions.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/malformedOptions.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/malformedOptions.options.json
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/invalidWithImportMappings.options.json
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/invalidWithImportMappings.ts.snap
  crates/biome_js_analyze/tests/specs/suspicious/noConsole/allowlist.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noConsole/allowlist.options.json
Labels: A-Linter, L-JavaScript

#3954 fix(lsp): reduced the number of log files on disk
  CHANGELOG.md
  crates/biome_cli/src/commands/daemon.rs
Labels: A-CLI, A-Changelog

#3782 feat(format/html): port `JsxChildList` formatting to `HtmlElementList`
  crates/biome_html_formatter/src/comments.rs
  crates/biome_html_formatter/src/html/lists/element_list.rs
  crates/biome_html_formatter/src/lib.rs
  crates/biome_html_formatter/src/utils/children.rs
  crates/biome_html_formatter/src/utils/mod.rs
  crates/biome_html_formatter/tests/specs/long-content.html
  crates/biome_html_formatter/tests/specs/long-content.html.snap
  crates/biome_html_formatter/tests/specs/many-children.html
  crates/biome_html_formatter/tests/specs/many-children.html.snap
  crates/biome_js_formatter/src/jsx/lists/child_list.rs
  crates/biome_suppression/src/lib.rs
Labels: A-Core, A-Formatter, L-JavaScript, L-HTML

#3956 fix(useFilenamingConvention): don't suggest names with disallowed case
  CHANGELOG.md
  crates/biome_aria_metadata/build.rs
  crates/biome_js_analyze/src/lint/style/use_filenaming_convention.rs
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/0_start_with_digit.ts
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/0_start_with_digit.ts.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#3779 feat(linter): add noMissingVarFunction
  CHANGELOG.md
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/no_unused_dependencies.snap
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_missing_var_function.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noMissingVarFunction/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noMissingVarFunction/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noMissingVarFunction/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noMissingVarFunction/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, L-CSS, A-Diagnostic, A-Changelog

#3959 fix(parser/html): check void element names case insensitively
  crates/biome_html_parser/src/syntax/mod.rs
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/casing.html
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/casing.html.snap
Labels: A-Parser, L-HTML

#3960 fix(format/html): keep single quotes if string contains a double quote
  crates/biome_html_formatter/src/html/auxiliary/string.rs
  crates/biome_html_formatter/tests/spec_tests.rs
  crates/biome_html_formatter/tests/specs/attributes-single-quotes.html
  crates/biome_html_formatter/tests/specs/attributes-single-quotes.html.snap
Labels: A-Formatter, L-HTML

#3961 fix(format/html): fix doctype formatting
  crates/biome_html_formatter/src/html/auxiliary/directive.rs
Labels: A-Formatter, L-HTML

#3775 feat(markdown): support markdown grammar code generation
  Cargo.lock
  Cargo.toml
  crates/biome_markdown_factory/Cargo.toml
  crates/biome_markdown_factory/src/generated.rs
  crates/biome_markdown_factory/src/generated/node_factory.rs
  crates/biome_markdown_factory/src/generated/syntax_factory.rs
  crates/biome_markdown_factory/src/lib.rs
  crates/biome_markdown_factory/src/make.rs
  crates/biome_markdown_parser/Cargo.toml
  crates/biome_markdown_parser/src/lexer/mod.rs
  crates/biome_markdown_parser/src/lexer/tests.rs
  crates/biome_markdown_parser/src/lib.rs
  crates/biome_markdown_parser/src/parser.rs
  crates/biome_markdown_parser/src/syntax.rs
  crates/biome_markdown_parser/src/token_source.rs
  crates/biome_markdown_parser/tests/spec_test.rs
  crates/biome_markdown_syntax/Cargo.toml
  crates/biome_markdown_syntax/src/generated.rs
  crates/biome_markdown_syntax/src/generated/kind.rs
  crates/biome_markdown_syntax/src/generated/macros.rs
  crates/biome_markdown_syntax/src/generated/nodes.rs
  crates/biome_markdown_syntax/src/generated/nodes_mut.rs
  crates/biome_markdown_syntax/src/lib.rs
  crates/biome_markdown_syntax/src/syntax_node.rs
  xtask/codegen/markdown.ungram
  xtask/codegen/src/formatter.rs
  xtask/codegen/src/generate_syntax_kinds.rs
  xtask/codegen/src/language_kind.rs
  xtask/codegen/src/lib.rs
  xtask/codegen/src/markdown_kinds_src.rs
Labels: A-Parser, A-Tooling

#3951 feat(parser/html): lex and parse unquoted attribute values
  crates/biome_html_parser/src/lexer/mod.rs
  crates/biome_html_parser/src/lexer/tests.rs
  crates/biome_html_parser/src/syntax/mod.rs
  crates/biome_html_parser/src/token_source.rs
  crates/biome_html_parser/tests/html_specs/error/attributes/invalid-unqouted-value1.html
  crates/biome_html_parser/tests/html_specs/error/attributes/invalid-unqouted-value1.html.snap
  crates/biome_html_parser/tests/html_specs/error/attributes/invalid-unquoted-value2.html
  crates/biome_html_parser/tests/html_specs/error/attributes/invalid-unquoted-value2.html.snap
  crates/biome_html_parser/tests/html_specs/ok/attributes/attributes-unquoted.html
  crates/biome_html_parser/tests/html_specs/ok/attributes/attributes-unquoted.html.snap
Labels: A-Parser, L-HTML

#3962 feat(parser/html): parse doctype declarations
  crates/biome_html_parser/src/lexer/mod.rs
  crates/biome_html_parser/src/lexer/tests.rs
  crates/biome_html_parser/src/syntax/mod.rs
  crates/biome_html_parser/src/token_source.rs
  crates/biome_html_parser/tests/html_specs/ok/doctype/basic.html
  crates/biome_html_parser/tests/html_specs/ok/doctype/basic.html.snap
  crates/biome_html_parser/tests/html_specs/ok/doctype/long-legacy1.html
  crates/biome_html_parser/tests/html_specs/ok/doctype/long-legacy1.html.snap
  crates/biome_html_parser/tests/html_specs/ok/doctype/long-legacy2.html
  crates/biome_html_parser/tests/html_specs/ok/doctype/long-legacy2.html.snap
  crates/biome_html_parser/tests/html_specs/ok/doctype/long-legacy3.html
  crates/biome_html_parser/tests/html_specs/ok/doctype/long-legacy3.html.snap
  crates/biome_html_parser/tests/html_specs/ok/doctype/minimal.html
  crates/biome_html_parser/tests/html_specs/ok/doctype/minimal.html.snap
Labels: A-Parser, L-HTML

#3970 feat(parser/html): handle script and style tags
  crates/biome_html_parser/src/lexer/mod.rs
  crates/biome_html_parser/src/syntax/mod.rs
  crates/biome_html_parser/src/token_source.rs
  crates/biome_html_parser/tests/html_specs/ok/embedded-languages/script-basic.html
  crates/biome_html_parser/tests/html_specs/ok/embedded-languages/script-basic.html.snap
  crates/biome_html_parser/tests/html_specs/ok/embedded-languages/script-empty.html
  crates/biome_html_parser/tests/html_specs/ok/embedded-languages/script-empty.html.snap
  crates/biome_html_parser/tests/html_specs/ok/embedded-languages/script-in-string.html
  crates/biome_html_parser/tests/html_specs/ok/embedded-languages/script-in-string.html.snap
  crates/biome_html_parser/tests/html_specs/ok/embedded-languages/script-less-than.html
  crates/biome_html_parser/tests/html_specs/ok/embedded-languages/script-less-than.html.snap
Labels: A-Parser, L-HTML

#3971 fix(lsp): code actions capabilities
  CHANGELOG.md
  crates/biome_graphql_analyze/src/lint/nursery/use_deprecated_reason.rs
  crates/biome_lsp/src/capabilities.rs
Labels: A-Linter, A-LSP, A-Changelog

#3972 build: upgrade to Rust 1.81
  Cargo.toml
  crates/biome_analyze/src/context.rs
  crates/biome_cli/tests/snapshots/main_cases_diagnostics/max_diagnostics_verbose.snap
  crates/biome_console/src/write/termcolor.rs
  crates/biome_fs/src/path.rs
  crates/biome_grit_patterns/src/grit_node.rs
  crates/biome_grit_patterns/src/grit_target_node.rs
  crates/biome_js_analyze/src/lint/complexity/no_excessive_cognitive_complexity.rs
  crates/biome_js_analyze/src/lint/nursery/use_consistent_curly_braces.rs
  crates/biome_js_analyze/src/services/manifest.rs
  crates/biome_js_analyze/src/suppression_action.rs
  crates/biome_js_parser/src/syntax/expr.rs
  crates/biome_js_parser/src/syntax/typescript/types.rs
  crates/biome_js_syntax/src/expr_ext.rs
  crates/biome_rowan/src/ast/mod.rs
  crates/biome_rowan/src/cursor/node.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
  rust-toolchain.toml
  xtask/coverage/src/symbols/msts.rs
  xtask/rules_check/src/lib.rs
Labels: A-CLI, A-Core, A-Project, A-Linter, A-Parser, A-Tooling, L-JavaScript

#3967 feat(html): add `experimental-html` feature flag to enable html file handler
  .github/workflows/repository_dispatch.yml
  crates/biome_cli/Cargo.toml
  crates/biome_service/Cargo.toml
  crates/biome_service/src/file_handlers/html.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/settings.rs
  crates/biome_wasm/Cargo.toml
Labels: A-CLI, A-Project

#3980 fix(noLabelWithoutControl): accept expressions as label
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/a11y/no_label_without_control.rs
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/valid.jsx
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/valid.jsx.snap
  crates/biome_js_syntax/src/jsx_ext.rs
Labels: A-Linter, A-Parser, L-JavaScript, A-Changelog

#3989 chore: add Grit updates to CHANGELOG
  CHANGELOG.md
Labels: A-Changelog

#3991 chore: move Grit changes in CHANGELOG
  CHANGELOG.md
Labels: A-Changelog

#3974 release: v1.9.2
  CHANGELOG.md
  packages/@biomejs/biome/package.json
Labels: A-Changelog

#3979 test(format/html): reenable snapshot tests
  crates/biome_html_formatter/Cargo.toml
  crates/biome_html_formatter/tests/prettier_tests.rs
  crates/biome_html_formatter/tests/spec_test.rs
  crates/biome_html_formatter/tests/spec_tests.rs
  crates/biome_html_formatter/tests/specs/html/attributes/break.html
  crates/biome_html_formatter/tests/specs/html/attributes/break.html.snap
  crates/biome_html_formatter/tests/specs/html/attributes/no-break.html
  crates/biome_html_formatter/tests/specs/html/attributes/no-break.html.snap
  crates/biome_html_formatter/tests/specs/html/attributes/self-closing.html
  crates/biome_html_formatter/tests/specs/html/attributes/self-closing.html.snap
  crates/biome_html_formatter/tests/specs/html/attributes/single-quotes.html
  crates/biome_html_formatter/tests/specs/html/attributes/single-quotes.html.snap
  crates/biome_html_formatter/tests/specs/html/example.html
  crates/biome_html_formatter/tests/specs/html/example.html.snap
  crates/biome_html_formatter/tests/specs/html/long-content.html
  crates/biome_html_formatter/tests/specs/html/long-content.html.snap
  crates/biome_html_formatter/tests/specs/html/many-children.html
  crates/biome_html_formatter/tests/specs/html/many-children.html.snap
  crates/biome_html_formatter/tests/specs/html/self-closing.html
  crates/biome_html_formatter/tests/specs/html/self-closing.html.snap
Labels: A-CLI, A-Formatter, L-HTML

#3995 refactor(lint): set version field for new rules
  crates/biome_css_analyze/src/lint/nursery/no_missing_var_function.rs
  crates/biome_js_analyze/src/lint/nursery/use_component_export_only_modules.rs
Labels: A-Linter, L-JavaScript, L-CSS

#3999 docs: improve documentation of rule
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/src/lint/correctness/use_hook_at_top_level.rs
Labels: A-Linter, L-JavaScript

#3986 feat(linter): implement noOctalEscape
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_octal_escape.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noOctalEscape/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noOctalEscape/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noOctalEscape/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noOctalEscape/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#4003 feat(grit): implement GritQL log() function
  crates/biome_grit_patterns/src/grit_binding.rs
  crates/biome_grit_patterns/src/grit_query.rs
  crates/biome_grit_patterns/src/grit_target_node.rs
  crates/biome_grit_patterns/src/pattern_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/call_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/log_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/predicate_call_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/predicate_compiler.rs
  crates/biome_grit_patterns/src/pattern_compiler/snippet_compiler.rs
  crates/biome_grit_patterns/tests/quick_test.rs
  crates/biome_grit_patterns/tests/spec_tests.rs
  crates/biome_grit_patterns/tests/specs/ts/log.grit
  crates/biome_grit_patterns/tests/specs/ts/log.snap
  crates/biome_grit_patterns/tests/specs/ts/log.ts
  crates/biome_service/src/file_handlers/mod.rs
Labels: A-Project

#3985 fix(html/parser): support root element list
  crates/biome_html_factory/src/generated/node_factory.rs
  crates/biome_html_factory/src/generated/syntax_factory.rs
  crates/biome_html_formatter/src/html/auxiliary/root.rs
  crates/biome_html_formatter/src/html/lists/element_list.rs
  crates/biome_html_parser/src/syntax/mod.rs
  crates/biome_html_parser/tests/html_specs/error/attributes/invalid-unqouted-value1.html.snap
  crates/biome_html_parser/tests/html_specs/error/attributes/invalid-unquoted-value2.html.snap
  crates/biome_html_parser/tests/html_specs/error/attributes/missing-initializer.html.snap
  crates/biome_html_parser/tests/html_specs/error/element/br-with-end.html.snap
  crates/biome_html_parser/tests/html_specs/error/element/missing-close-tag.html.snap
  crates/biome_html_parser/tests/html_specs/error/element/missing-element-name.html.snap
  crates/biome_html_parser/tests/html_specs/ok/attributes/attributes-unquoted.html.snap
  crates/biome_html_parser/tests/html_specs/ok/attributes/attributes.html.snap
  crates/biome_html_parser/tests/html_specs/ok/attributes/multiline-attributes.html.snap
  crates/biome_html_parser/tests/html_specs/ok/comment.html.snap
  crates/biome_html_parser/tests/html_specs/ok/doctype/basic.html.snap
  crates/biome_html_parser/tests/html_specs/ok/doctype/long-legacy1.html.snap
  crates/biome_html_parser/tests/html_specs/ok/doctype/long-legacy2.html.snap
  crates/biome_html_parser/tests/html_specs/ok/doctype/long-legacy3.html.snap
  crates/biome_html_parser/tests/html_specs/ok/doctype/minimal.html.snap
  crates/biome_html_parser/tests/html_specs/ok/element.html.snap
  crates/biome_html_parser/tests/html_specs/ok/element_list.html.snap
  crates/biome_html_parser/tests/html_specs/ok/element_list2.html
  crates/biome_html_parser/tests/html_specs/ok/element_list2.html.snap
  crates/biome_html_parser/tests/html_specs/ok/embedded-languages/script-basic.html.snap
  crates/biome_html_parser/tests/html_specs/ok/embedded-languages/script-empty.html.snap
  crates/biome_html_parser/tests/html_specs/ok/embedded-languages/script-in-string.html.snap
  crates/biome_html_parser/tests/html_specs/ok/embedded-languages/script-less-than.html.snap
  crates/biome_html_parser/tests/html_specs/ok/hello-world.html.snap
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/br-in-span.html.snap
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/br.html.snap
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/casing.html.snap
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/meta.html.snap
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/wbr.html.snap
  crates/biome_html_parser/tests/html_specs/ok/ok.html.snap
  crates/biome_html_parser/tests/html_specs/ok/ok2.html.snap
  crates/biome_html_parser/tests/html_specs/ok/special-chars.html.snap
  crates/biome_html_syntax/src/generated/nodes.rs
  crates/biome_html_syntax/src/generated/nodes_mut.rs
  xtask/codegen/html.ungram
Labels: A-Parser, A-Formatter, A-Tooling, L-HTML

#3984 feat(html/formatter): self close tag add slash char
  crates/biome_html_formatter/src/html/auxiliary/self_closing_element.rs
  crates/biome_html_formatter/tests/specs/html/self-closing.html
  crates/biome_html_formatter/tests/specs/html/self-closing.html.snap
Labels: A-Formatter, L-HTML

#3892 feat: add additional `FeatureKind` entries for debug features
  Cargo.lock
  crates/biome_service/Cargo.toml
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace_types.rs
  crates/biome_wasm/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-Project

#4010 feat(formatter/html): add line break at the end of files
  crates/biome_html_formatter/src/html/auxiliary/root.rs
  crates/biome_html_formatter/tests/specs/html/attributes/break.html.snap
  crates/biome_html_formatter/tests/specs/html/attributes/no-break.html.snap
  crates/biome_html_formatter/tests/specs/html/attributes/self-closing.html.snap
  crates/biome_html_formatter/tests/specs/html/attributes/single-quotes.html.snap
  crates/biome_html_formatter/tests/specs/html/long-content.html.snap
  crates/biome_html_formatter/tests/specs/html/many-children.html.snap
  crates/biome_html_formatter/tests/specs/html/self-closing.html.snap
Labels: A-Formatter, L-HTML

#4015 chore(cli): replace PanicInfo -> PanicHookInfo
  crates/biome_cli/src/panic.rs
Labels: A-CLI

#3993 fix(graphql_formatter): panic in block comments with empty line
  CHANGELOG.md
  crates/biome_graphql_formatter/src/graphql/value/string_value.rs
  crates/biome_graphql_formatter/tests/specs/prettier/graphql/comments/fields.graphql
  crates/biome_graphql_formatter/tests/specs/prettier/graphql/comments/fields.graphql.prettier-snap
Labels: A-Formatter, A-Changelog

#4014 chore: enforce usage of to_ascii_lowercase_cow
  Cargo.lock
  clippy.toml
  crates/biome_css_syntax/Cargo.toml
  crates/biome_css_syntax/src/file_source.rs
  crates/biome_graphql_syntax/Cargo.toml
  crates/biome_graphql_syntax/src/file_source.rs
  crates/biome_html_syntax/Cargo.toml
  crates/biome_html_syntax/src/file_source.rs
  crates/biome_js_syntax/Cargo.toml
  crates/biome_js_syntax/src/file_source.rs
  crates/biome_json_syntax/Cargo.toml
  crates/biome_json_syntax/src/file_source.rs
  crates/biome_string_case/src/lib.rs
  crates/biome_yaml_syntax/Cargo.toml
  crates/biome_yaml_syntax/src/file_source.rs
Labels: A-Parser, L-JavaScript, L-CSS, L-JSON, L-HTML

#4016 chore: fix udeps failure
  Cargo.lock
  crates/biome_yaml_syntax/Cargo.toml
Labels: A-Parser

#3990 feat(linter): implement useExplicitFunctionReturnType
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_cli/tests/snapshots/main_commands_check/top_level_all_down_level_not_all.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/top_level_all_true_group_level_all_false.snap
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_explicit_function_return_type.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/valid.ts.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#4018 fix(parser/html): allow multi line attribute values
  crates/biome_html_parser/src/lexer/mod.rs
  crates/biome_html_parser/tests/html_specs/ok/attributes/multiline-attribute-value.html
  crates/biome_html_parser/tests/html_specs/ok/attributes/multiline-attribute-value.html.snap
Labels: A-Parser, L-HTML

#4027 feat(linter): support direct const assertions in useExplicitFunctionReturnType rule
  crates/biome_js_analyze/src/lint/nursery/use_explicit_function_return_type.rs
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/valid.ts.snap
Labels: A-Linter, L-JavaScript

#4028 feat(lsp): `noExcessiveCognitiveComplexity` diagnostic shows levels
  crates/biome_js_analyze/src/lint/complexity/no_excessive_cognitive_complexity.rs
  crates/biome_js_analyze/tests/specs/complexity/noExcessiveCognitiveComplexity/booleanOperators.js.snap
  crates/biome_js_analyze/tests/specs/complexity/noExcessiveCognitiveComplexity/booleanOperators2.js.snap
  crates/biome_js_analyze/tests/specs/complexity/noExcessiveCognitiveComplexity/complexEventHandler.ts.snap
  crates/biome_js_analyze/tests/specs/complexity/noExcessiveCognitiveComplexity/excessiveNesting.js.snap
  crates/biome_js_analyze/tests/specs/complexity/noExcessiveCognitiveComplexity/functionalChain.js.snap
  crates/biome_js_analyze/tests/specs/complexity/noExcessiveCognitiveComplexity/lambdas.js.snap
  crates/biome_js_analyze/tests/specs/complexity/noExcessiveCognitiveComplexity/nestedControlFlowStructures.js.snap
  crates/biome_js_analyze/tests/specs/complexity/noExcessiveCognitiveComplexity/simpleBranches.js.snap
  crates/biome_js_analyze/tests/specs/complexity/noExcessiveCognitiveComplexity/simpleBranches2.js.snap
  crates/biome_js_analyze/tests/specs/complexity/noExcessiveCognitiveComplexity/sumOfPrimes.js.snap
Labels: A-Linter, L-JavaScript

#4019 feat(html): implement debug features for html
  crates/biome_service/src/file_handlers/html.rs
Labels: A-Project, L-HTML

#4020 fix(parser/html): add `param` to void elements list
  crates/biome_html_parser/src/syntax/mod.rs
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/param.html
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/param.html.snap
Labels: A-Parser, L-HTML

#4017 feat(html): resolve format options
  crates/biome_html_formatter/src/context.rs
  crates/biome_html_formatter/tests/prettier_tests.rs
  crates/biome_html_formatter/tests/quick_test.rs
  crates/biome_html_formatter/tests/spec_test.rs
  crates/biome_service/src/file_handlers/html.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/settings.rs
Labels: A-Project, A-Formatter, L-HTML

#4036 feat(linter): support allow expressions
  crates/biome_js_analyze/src/lint/nursery/use_explicit_function_return_type.rs
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/valid.ts.snap
Labels: A-Linter, L-JavaScript

#3937 test(format/grit): add tests for grit formatter
  .github/workflows/repository_dispatch.yml
  Cargo.lock
  crates/biome_cli/Cargo.toml
  crates/biome_formatter/CONTRIBUTING.md
  crates/biome_grit_formatter/Cargo.toml
  crates/biome_grit_formatter/src/context.rs
  crates/biome_grit_formatter/src/lib.rs
  crates/biome_grit_formatter/tests/language.rs
  crates/biome_grit_formatter/tests/spec_test.rs
  crates/biome_grit_formatter/tests/spec_tests.rs
  crates/biome_grit_formatter/tests/specs/grit/file_node.grit
  crates/biome_grit_formatter/tests/specs/grit/file_node.grit.snap
  crates/biome_grit_parser/src/lib.rs
  crates/biome_grit_syntax/src/file_source.rs
  crates/biome_grit_syntax/src/lib.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/file_handlers/grit.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/settings.rs
  crates/biome_wasm/Cargo.toml
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  xtask/rules_check/src/lib.rs
Labels: A-CLI, A-Project, A-Parser, A-Formatter, A-Tooling, L-Grit

#4053 perf(grit): use `to_ascii_lowercase_cow`
  Cargo.lock
  crates/biome_grit_syntax/Cargo.toml
  crates/biome_grit_syntax/src/file_source.rs
Labels: A-Parser, L-Grit

#4044 perf(linter): performance improvement for css semantic model
  crates/biome_css_analyze/src/services/semantic.rs
  crates/biome_css_semantic/src/events.rs
  crates/biome_css_semantic/src/semantic_model/builder.rs
  crates/biome_css_semantic/src/semantic_model/mod.rs
  crates/biome_css_semantic/src/semantic_model/model.rs
  crates/biome_text_size/src/range.rs
Labels: A-Core, A-Linter, L-CSS

#4066 fix(linter): noUselessFragments fix creates invalid CST
  crates/biome_js_analyze/src/lint/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_3926.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_3926.jsx.snap
Labels: A-Linter, L-JavaScript

#4068 fix(noUnusedFunctionParameters): ignore params in obj pattern with a rest param
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/no_unused_function_parameters.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedFunctionParameters/invalid.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedFunctionParameters/invalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedFunctionParameters/valid.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedFunctionParameters/valid.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4056 refactor(parser/html): refactor comments to be nodes in the tree
  crates/biome_html_factory/src/generated/node_factory.rs
  crates/biome_html_factory/src/generated/syntax_factory.rs
  crates/biome_html_formatter/src/generated.rs
  crates/biome_html_formatter/src/html/any/element.rs
  crates/biome_html_formatter/src/html/auxiliary/comment.rs
  crates/biome_html_formatter/src/html/auxiliary/mod.rs
  crates/biome_html_parser/src/lexer/mod.rs
  crates/biome_html_parser/src/lexer/tests.rs
  crates/biome_html_parser/src/syntax/mod.rs
  crates/biome_html_parser/src/token_source.rs
  crates/biome_html_parser/tests/html_specs/ok/comment.html.snap
  crates/biome_html_syntax/src/generated/kind.rs
  crates/biome_html_syntax/src/generated/macros.rs
  crates/biome_html_syntax/src/generated/nodes.rs
  crates/biome_html_syntax/src/generated/nodes_mut.rs
  crates/biome_html_syntax/src/lib.rs
  crates/biome_parser/src/parsed_syntax.rs
  xtask/codegen/html.ungram
  xtask/codegen/src/html_kinds_src.rs
  xtask/codegen/src/js_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-HTML

#3982 feat(markdown/parser): support thematic break block parser
  Cargo.lock
  crates/biome_markdown_factory/src/generated/node_factory.rs
  crates/biome_markdown_factory/src/generated/syntax_factory.rs
  crates/biome_markdown_parser/Cargo.toml
  crates/biome_markdown_parser/src/lexer/mod.rs
  crates/biome_markdown_parser/src/lexer/tests.rs
  crates/biome_markdown_parser/src/lib.rs
  crates/biome_markdown_parser/src/parser.rs
  crates/biome_markdown_parser/src/syntax.rs
  crates/biome_markdown_parser/src/syntax/thematic_break_block.rs
  crates/biome_markdown_parser/src/token_source.rs
  crates/biome_markdown_parser/tests/md_test_suite/ok/thematic_break_block.md
  crates/biome_markdown_parser/tests/md_test_suite/ok/thematic_break_block.md.snap
  crates/biome_markdown_parser/tests/spec_test.rs
  crates/biome_markdown_parser/tests/spec_tests.rs
  crates/biome_markdown_syntax/src/generated/kind.rs
  crates/biome_markdown_syntax/src/generated/macros.rs
  crates/biome_markdown_syntax/src/generated/nodes.rs
  crates/biome_markdown_syntax/src/generated/nodes_mut.rs
  crates/biome_markdown_syntax/src/lib.rs
  crates/biome_markdown_syntax/src/syntax_node.rs
  crates/biome_ungrammar/src/lexer.rs
  xtask/codegen/markdown.ungram
  xtask/codegen/src/markdown_kinds_src.rs
Labels: A-Parser, A-Tooling

#4067 feat(linter): implement no-nested-ternary
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_nested_ternary.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noNestedTernary/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noNestedTernary/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noNestedTernary/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noNestedTernary/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#4057 fix(format/html): keep at most 1 empty line between elements
  crates/biome_html_formatter/src/html/lists/element_list.rs
  crates/biome_html_formatter/src/utils/children.rs
  crates/biome_html_formatter/tests/specs/html/elements/spacing/case0.html
  crates/biome_html_formatter/tests/specs/html/elements/spacing/case0.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/spacing/case1.html
  crates/biome_html_formatter/tests/specs/html/elements/spacing/case1.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/spacing/case2.html
  crates/biome_html_formatter/tests/specs/html/elements/spacing/case2.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/spacing/case3.html
  crates/biome_html_formatter/tests/specs/html/elements/spacing/case3.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/spacing/case4.html
  crates/biome_html_formatter/tests/specs/html/elements/spacing/case4.html.snap
  crates/biome_html_parser/src/lexer/tests.rs
Labels: A-Parser, A-Formatter, L-HTML

#4074 fix(useButtonType): don't report dynamically created button with valid type
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/a11y/use_button_type.rs
  crates/biome_js_analyze/src/react.rs
  crates/biome_js_analyze/tests/specs/a11y/useButtonType/inObject.js
  crates/biome_js_analyze/tests/specs/a11y/useButtonType/inObject.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4079 fix(useSemanticElements): examples
  crates/biome_js_analyze/src/lint/a11y/use_semantic_elements.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#4069 feat(linter): implement noTemplateCurlyInString
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_template_curly_in_string.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noTemplateCurlyInString/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noTemplateCurlyInString/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noTemplateCurlyInString/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noTemplateCurlyInString/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#4080 fix(schema): make optional the `options` JSON schema field
  packages/@biomejs/biome/configuration_schema.json
  xtask/codegen/src/generate_schema.rs
Labels: A-Tooling

#4084 feat(grit): implement disregarded snippet nodes
  .gitattributes
  crates/biome_grit_patterns/src/grit_node_patterns.rs
  crates/biome_grit_patterns/src/grit_target_language.rs
  crates/biome_grit_patterns/src/grit_target_language/js_target_language.rs
  crates/biome_grit_patterns/src/grit_target_language/js_target_language/constants.rs
  crates/biome_grit_patterns/src/pattern_compiler/snippet_compiler.rs
  crates/biome_grit_patterns/tests/specs/ts/asyncFunctionDoesntMatchNonAsync.grit
  crates/biome_grit_patterns/tests/specs/ts/asyncFunctionDoesntMatchNonAsync.snap
  crates/biome_grit_patterns/tests/specs/ts/asyncFunctionDoesntMatchNonAsync.ts
  crates/biome_grit_patterns/tests/specs/ts/functionMatchesAsync.grit
  crates/biome_grit_patterns/tests/specs/ts/functionMatchesAsync.snap
  crates/biome_grit_patterns/tests/specs/ts/functionMatchesAsync.ts
  crates/biome_grit_patterns/tests/specs/ts/typeAlias.grit
  crates/biome_grit_patterns/tests/specs/ts/typeAlias.snap
  crates/biome_grit_patterns/tests/specs/ts/typeAlias.ts
  xtask/codegen/src/ast.rs
  xtask/codegen/src/generate_target_language_constants.rs
  xtask/codegen/src/language_kind.rs
  xtask/codegen/src/lib.rs
Labels: A-Tooling, L-Grit

#4081 perf: iterate over bytes instead of chars where possible
  crates/biome_configuration/src/editorconfig.rs
  crates/biome_css_analyze/src/lint/correctness/no_invalid_direction_in_linear_gradient.rs
  crates/biome_css_analyze/src/lint/correctness/no_invalid_grid_areas.rs
  crates/biome_css_analyze/src/lint/suspicious/no_duplicate_font_names.rs
  crates/biome_diagnostics/src/display/frame.rs
  crates/biome_formatter/src/token/number.rs
  crates/biome_graphql_formatter/src/graphql/value/string_value.rs
  crates/biome_grit_patterns/src/grit_built_in_functions.rs
  crates/biome_html_formatter/src/utils/children.rs
  crates/biome_js_analyze/src/lint/complexity/no_multiple_spaces_in_regular_expression_literals.rs
  crates/biome_js_analyze/src/lint/complexity/use_simple_number_keys.rs
  crates/biome_js_analyze/src/lint/correctness/no_empty_character_class_in_regex.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/class_info.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/class_lexer.rs
  crates/biome_js_analyze/src/lint/style/no_unused_template_literal.rs
  crates/biome_js_analyze/src/lint/style/use_filenaming_convention.rs
  crates/biome_js_analyze/src/lint/style/use_nodejs_import_protocol.rs
  crates/biome_js_analyze/src/lint/suspicious/no_misleading_character_class.rs
  crates/biome_js_analyze/src/suppression_action.rs
  crates/biome_js_factory/src/make.rs
  crates/biome_js_factory/src/utils.rs
  crates/biome_js_formatter/src/js/expressions/regex_literal_expression.rs
  crates/biome_js_formatter/src/js/lists/template_element_list.rs
  crates/biome_js_formatter/src/utils/jsx.rs
  crates/biome_js_formatter/src/utils/member_chain/mod.rs
  crates/biome_js_formatter/src/utils/string_utils.rs
  crates/biome_js_parser/src/syntax/expr.rs
  crates/biome_js_parser/src/syntax/jsx/mod.rs
  crates/biome_js_semantic/src/tests/assertions.rs
  crates/biome_js_syntax/src/numbers.rs
  crates/biome_lsp/src/converters/mod.rs
  crates/biome_parser/src/diagnostic.rs
  crates/biome_ungrammar/src/lexer.rs
Labels: A-Project, A-Linter, A-Parser, A-Formatter, A-Tooling, A-LSP, L-JavaScript, L-CSS, A-Diagnostic, L-HTML, L-Grit

#4085 chore: update CHANGELOG.md
  CHANGELOG.md
Labels: A-Changelog

#4091 fix(noUselessEscapeInRegex): don't panic on regexes starting with an empty class
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/nursery/no_useless_escape_in_regex.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInRegex/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInRegex/valid.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4092 fix(noUndeclaredDependencies): ignore NodeJS modules
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/no_undeclared_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredDependencies/valid.ts
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredDependencies/valid.ts.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4090 fix(linter): apply `useExplicitFunctionReturnType` only to TypeScript…
  crates/biome_cli/tests/snapshots/main_commands_check/top_level_all_down_level_not_all.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/top_level_all_true_group_level_all_false.snap
  crates/biome_js_analyze/src/lint/nursery/use_explicit_function_return_type.rs
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/valid.d.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/valid.d.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/valid.js.snap
Labels: A-CLI, A-Linter, L-JavaScript, A-Changelog

#4094 fix(noMisleadingCharacterClass): ignore characters outside of char classes
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/suspicious/no_misleading_character_class.rs
  crates/biome_js_analyze/tests/specs/suspicious/noMisleadingCharacterClass/invalid.js
  crates/biome_js_analyze/tests/specs/suspicious/noMisleadingCharacterClass/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noMisleadingCharacterClass/valid.js
  crates/biome_js_analyze/tests/specs/suspicious/noMisleadingCharacterClass/valid.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4087 feat(biome_js_parser): forbid undefined as type name
  CHANGELOG.md
  crates/biome_js_parser/src/syntax/class.rs
  crates/biome_js_parser/src/syntax/typescript.rs
  crates/biome_js_parser/src/syntax/typescript/statement.rs
  crates/biome_js_parser/src/syntax/typescript/types.rs
  crates/biome_js_parser/test_data/inline/err/interface_cannot_be_reserved_world.rast
  crates/biome_js_parser/test_data/inline/err/interface_cannot_be_reserved_world.ts
  crates/biome_js_parser/test_data/inline/err/ts_class_name_reserved_as_type.rast
  crates/biome_js_parser/test_data/inline/err/ts_class_name_reserved_as_type.ts
  crates/biome_js_parser/test_data/inline/err/ts_type_alias_cannot_be_reserved_word.rast
  crates/biome_js_parser/test_data/inline/err/ts_type_alias_cannot_be_reserved_word.ts
Labels: A-Parser, L-JavaScript, A-Changelog

#4030 chore: to_lowercase -> to_lowercase_cow
  Cargo.lock
  clippy.toml
  crates/biome_css_analyze/Cargo.toml
  crates/biome_css_analyze/src/lint/a11y/use_generic_font_names.rs
  crates/biome_css_analyze/src/lint/correctness/no_invalid_direction_in_linear_gradient.rs
  crates/biome_css_analyze/src/lint/correctness/no_unknown_property.rs
  crates/biome_css_analyze/src/lint/correctness/no_unknown_unit.rs
  crates/biome_css_analyze/src/lint/nursery/no_unknown_pseudo_class.rs
  crates/biome_css_analyze/src/lint/nursery/no_unknown_pseudo_element.rs
  crates/biome_css_analyze/src/lint/suspicious/no_duplicate_at_import_rules.rs
  crates/biome_css_analyze/src/lint/suspicious/no_duplicate_font_names.rs
  crates/biome_css_analyze/src/lint/suspicious/no_duplicate_selectors_keyframe_block.rs
  crates/biome_css_analyze/src/lint/suspicious/no_shorthand_property_overrides.rs
  crates/biome_css_analyze/src/utils.rs
  crates/biome_css_formatter/src/lib.rs
  crates/biome_css_formatter/src/utils/component_value_list.rs
  crates/biome_css_formatter/src/utils/string_utils.rs
  crates/biome_css_syntax/src/file_source.rs
  crates/biome_formatter/src/token/number.rs
  crates/biome_graphql_analyze/Cargo.toml
  crates/biome_graphql_analyze/src/lint/nursery/no_duplicated_fields.rs
  crates/biome_graphql_syntax/src/file_source.rs
  crates/biome_grit_patterns/Cargo.toml
  crates/biome_grit_patterns/src/grit_built_in_functions.rs
  crates/biome_grit_syntax/src/file_source.rs
  crates/biome_html_syntax/src/file_source.rs
  crates/biome_js_analyze/src/lint/a11y/no_redundant_alt.rs
  crates/biome_js_analyze/src/lint/a11y/no_svg_without_title.rs
  crates/biome_js_analyze/src/lint/a11y/use_key_with_click_events.rs
  crates/biome_js_analyze/src/lint/a11y/use_media_caption.rs
  crates/biome_js_analyze/src/lint/correctness/no_string_case_mismatch.rs
  crates/biome_js_analyze/src/lint/suspicious/use_valid_typeof.rs
  crates/biome_js_formatter/src/js/expressions/bigint_literal_expression.rs
  crates/biome_js_formatter/src/ts/types/bigint_literal_type.rs
  crates/biome_js_syntax/src/file_source.rs
  crates/biome_json_syntax/src/file_source.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_string_case/src/lib.rs
  crates/biome_yaml_syntax/src/file_source.rs
  xtask/coverage/Cargo.toml
  xtask/coverage/src/lib.rs
  xtask/coverage/src/ts/ts_microsoft.rs
Labels: A-Project, A-Linter, A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-CSS, L-JSON, L-HTML, L-Grit

#4098 fix(lsp): correctly enable CSS on LSP
  CHANGELOG.md
  crates/biome_cli/src/commands/rage.rs
  crates/biome_configuration/src/graphql.rs
  crates/biome_configuration/src/json.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
Labels: A-CLI, A-Project, A-Changelog

#4106 docs: fix `isNan` to `isNaN`
  crates/biome_js_analyze/src/lint/style/use_number_namespace.rs
Labels: A-Linter, L-JavaScript

#4083 fix: updated query feature range interval format
  CHANGELOG.md
  crates/biome_css_formatter/src/css/auxiliary/query_feature_range_interval.rs
  crates/biome_css_formatter/tests/specs/css/atrule/container.css.snap
  crates/biome_css_formatter/tests/specs/css/atrule/page_complex.css.snap
  crates/biome_css_formatter/tests/specs/css/nesting/conditional_at_rule.css.snap
Labels: A-Formatter, L-CSS, A-Changelog

#4109 fix(cli): don't error in stdin, with `--write`
  CHANGELOG.md
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_stdin_returns_text_if_content_is_not_changed.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/check_stdin_shows_parse_diagnostics.snap
Labels: A-CLI, A-Changelog

#4108 fix(formatter): trim CSS raw values
  CHANGELOG.md
  crates/biome_css_formatter/src/css/value/url_value_raw.rs
  crates/biome_css_formatter/src/utils/component_value_list.rs
  crates/biome_css_formatter/tests/specs/css/atrule/import.css.snap
  crates/biome_css_formatter/tests/specs/css/url.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/inline-url/inline_url.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/url/url.css.snap
Labels: A-Formatter, L-CSS, A-Changelog

#4111 fix(js-api): update code
  CHANGELOG.md
  packages/@biomejs/js-api/src/index.ts
  packages/@biomejs/wasm-nodejs/package.json
  packages/aria-data/generate-aria-data.js
Labels: A-Changelog

#4112 fix(noMisleadingCharacterClass): properly handle escaping and improve diagnostics
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/suspicious/no_control_characters_in_regex.rs
  crates/biome_js_analyze/src/lint/suspicious/no_misleading_character_class.rs
  crates/biome_js_analyze/tests/specs/suspicious/noControlCharactersInRegex/valid.js
  crates/biome_js_analyze/tests/specs/suspicious/noControlCharactersInRegex/valid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noMisleadingCharacterClass/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noMisleadingCharacterClass/valid.js
  crates/biome_js_analyze/tests/specs/suspicious/noMisleadingCharacterClass/valid.js.snap
  crates/biome_text_size/src/range.rs
Labels: A-Core, A-Linter, L-JavaScript, A-Changelog

#4097 feat(biome_css_analyze): implement `noDescendingSpecificity`
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_descending_specificity.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noDescendingSpecificity/complex_selector.invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noDescendingSpecificity/complex_selector.invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noDescendingSpecificity/function_pseudo_selector.invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noDescendingSpecificity/function_pseudo_selector.invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noDescendingSpecificity/nested.invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noDescendingSpecificity/nested.invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noDescendingSpecificity/simple_pseudo_selector.invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noDescendingSpecificity/simple_pseudo_selector.invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noDescendingSpecificity/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noDescendingSpecificity/valid.css.snap
  crates/biome_css_semantic/src/events.rs
  crates/biome_css_semantic/src/semantic_model/builder.rs
  crates/biome_css_semantic/src/semantic_model/mod.rs
  crates/biome_css_semantic/src/semantic_model/model.rs
  crates/biome_css_semantic/src/semantic_model/specificity.rs
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-CSS, A-Diagnostic

#4117 feat(useExplicitFunctionReturnType): support higher-order function
  crates/biome_js_analyze/src/lint/nursery/use_explicit_function_return_type.rs
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitFunctionReturnType/valid.ts.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4145 chore: setup GritQL benchmark
  Cargo.lock
  xtask/bench/Cargo.toml
  xtask/bench/benches/gritql_search.rs
Labels: A-Tooling
