Repository biomejs/biome, pull requests merged in 2024-04, with the labels that each got.

#2264 fix(lint): useNamingConvention should't ignore jsx component name binding
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/src/utils/rename.rs
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validComponentName.js
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validComponentName.js.snap
  crates/biome_js_formatter/src/syntax_rewriter.rs
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Formatter, A-Website, L-JavaScript, A-Changelog

#2272 feat(parser): basic parsing element list with context bump
  crates/biome_html_factory/src/generated/node_factory.rs
  crates/biome_html_factory/src/generated/syntax_factory.rs
  crates/biome_html_parser/src/lexer/mod.rs
  crates/biome_html_parser/src/syntax/mod.rs
  crates/biome_html_parser/src/syntax/parse_error.rs
  crates/biome_html_parser/src/token_source.rs
  crates/biome_html_parser/tests/html_specs/ok/element_list.html
  crates/biome_html_parser/tests/html_specs/ok/element_list.html.snap
  crates/biome_html_syntax/src/generated/kind.rs
  crates/biome_html_syntax/src/generated/macros.rs
  crates/biome_html_syntax/src/generated/nodes.rs
  crates/biome_html_syntax/src/generated/nodes_mut.rs
  crates/biome_html_syntax/src/lib.rs
  xtask/codegen/html.ungram
  xtask/codegen/src/html_kinds_src.rs
Labels: A-Tooling

#2274 release: 1.6.4
  CHANGELOG.md
  packages/@biomejs/biome/package.json
  website/src/content/docs/guides/getting-started.mdx
  website/src/content/docs/guides/how-biome-works.mdx
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/ja/guides/getting-started.mdx
  website/src/content/docs/pt-br/guides/getting-started.mdx
  website/src/content/docs/reference/configuration.mdx
  website/src/content/docs/zh-cn/guides/getting-started.mdx
  website/src/content/docs/zh-cn/reference/configuration.mdx
  website/src/pages/schemas/1.6.4/schema.json.js
Labels: A-Website, A-Changelog

#2282 chore: derive `Diagnostic` on `enum`
  crates/biome_cli/src/diagnostics.rs
  crates/biome_diagnostics/CONTRIBUTING.md
  crates/biome_diagnostics/tests/macros/error_enum.rs
  crates/biome_diagnostics/tests/macros/error_enum.stderr
  crates/biome_diagnostics_macros/src/generate.rs
  crates/biome_diagnostics_macros/src/parse.rs
  crates/biome_service/src/configuration/diagnostics.rs
  crates/biome_service/src/diagnostics.rs
Labels: A-CLI, A-Project, A-Diagnostic

#2284 refactor(biome_deserialize): display parsing error source
  CHANGELOG.md
  crates/biome_cli/tests/snapshots/main_commands_migrate/prettier_migrate_yml_file.snap
  crates/biome_deserialize/src/json.rs
  crates/biome_service/src/configuration/snapshots/deserialization_error.snap
  website/src/content/docs/internals/changelog.md
Labels: A-CLI, A-Project, A-Website, A-Changelog

#2278 fix(lint_rules): false positives of several rules
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/nursery/no_nodejs_modules.rs
  crates/biome_js_analyze/src/lint/nursery/no_restricted_imports.rs
  crates/biome_js_analyze/src/lint/nursery/no_undeclared_dependencies.rs
  crates/biome_js_analyze/src/lint/nursery/use_node_assert_strict.rs
  crates/biome_js_analyze/src/lint/style/use_nodejs_import_protocol.rs
  crates/biome_js_analyze/tests/specs/nursery/noNodejsModules/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noNodejsModules/valid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/valid.options.json
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedImports/valid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useNodeAssertStrict/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useNodeAssertStrict/valid.ts.snap
  crates/biome_js_analyze/tests/specs/style/useNodejsImportProtocol/valid.ts
  crates/biome_js_analyze/tests/specs/style/useNodejsImportProtocol/valid.ts.snap
  crates/biome_js_syntax/src/import_ext.rs
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Parser, A-Website, L-JavaScript, A-Changelog

#2292 fix(cli): diagnostic severity level
  CHANGELOG.md
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/cases/diagnostics.rs
  crates/biome_cli/tests/snapshots/main_cases_config_extends/extends_config_ok_formatter_no_linter.snap
  crates/biome_cli/tests/snapshots/main_cases_config_extends/extends_config_ok_linter_not_formatter.snap
  crates/biome_cli/tests/snapshots/main_cases_config_extends/extends_resolves_when_using_config_path.snap
  crates/biome_cli/tests/snapshots/main_cases_config_path/set_config_path.snap
  crates/biome_cli/tests/snapshots/main_cases_diagnostics/diagnostic_level.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/format_astro_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/sorts_imports_check.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/sorts_imports_check.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_explicit_js_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_implicit_js_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_ts_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/sorts_imports_check.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_linter_disabled_from_cli_verbose.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_ignored_file_from_cli_verbose.snap
  crates/biome_cli/tests/snapshots/main_cases_unknown_files/should_not_print_a_diagnostic_unknown_file_because_ignored.snap
  crates/biome_cli/tests/snapshots/main_cases_unknown_files/should_print_a_diagnostic_unknown_file.snap
  crates/biome_cli/tests/snapshots/main_commands_check/all_rules.snap
  crates/biome_cli/tests/snapshots/main_commands_check/check_json_files.snap
  crates/biome_cli/tests/snapshots/main_commands_check/config_recommended_group.snap
  crates/biome_cli/tests/snapshots/main_commands_check/deprecated_suppression_comment.snap
  crates/biome_cli/tests/snapshots/main_commands_check/downgrade_severity.snap
  crates/biome_cli/tests/snapshots/main_commands_check/ignore_configured_globals.snap
  crates/biome_cli/tests/snapshots/main_commands_check/ignore_vcs_ignored_file.snap
  crates/biome_cli/tests/snapshots/main_commands_check/ignore_vcs_ignored_file_via_cli.snap
  crates/biome_cli/tests/snapshots/main_commands_check/ignore_vcs_os_independent_parse.snap
  crates/biome_cli/tests/snapshots/main_commands_check/ignores_unknown_file.snap
  crates/biome_cli/tests/snapshots/main_commands_check/lint_error.snap
  crates/biome_cli/tests/snapshots/main_commands_check/no_lint_if_linter_is_disabled.snap
  crates/biome_cli/tests/snapshots/main_commands_check/nursery_unstable.snap
  crates/biome_cli/tests/snapshots/main_commands_check/print_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_check/should_apply_correct_file_source.snap
  crates/biome_cli/tests/snapshots/main_commands_check/should_not_disable_recommended_rules_for_a_group.snap
  crates/biome_cli/tests/snapshots/main_commands_check/should_not_enable_all_recommended_rules.snap
  crates/biome_cli/tests/snapshots/main_commands_check/should_show_formatter_diagnostics_for_files_ignored_by_linter.snap
  crates/biome_cli/tests/snapshots/main_commands_check/shows_organize_imports_diff_on_check.snap
  crates/biome_cli/tests/snapshots/main_commands_check/top_level_all_down_level_not_all.snap
  crates/biome_cli/tests/snapshots/main_commands_check/top_level_not_all_down_level_all.snap
  crates/biome_cli/tests/snapshots/main_commands_check/upgrade_severity.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_json_when_allow_trailing_commas.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_jsonc_files.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_svelte_explicit_js_files.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_svelte_implicit_js_files.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_svelte_ts_files.snap
  crates/biome_cli/tests/snapshots/main_commands_format/formatter_lint_warning.snap
  crates/biome_cli/tests/snapshots/main_commands_format/formatter_print.snap
  crates/biome_cli/tests/snapshots/main_commands_format/ignore_comments_error_when_allow_comments.snap
  crates/biome_cli/tests/snapshots/main_commands_format/ignores_unknown_file.snap
  crates/biome_cli/tests/snapshots/main_commands_format/print_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_format/treat_known_json_files_as_jsonc_files.snap
  website/src/content/docs/internals/changelog.md
Labels: A-CLI, A-Website, A-Changelog

#2226 feat(css_formatter): ValueListLayout::SingleLine
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/utils/component_value_list.rs
  crates/biome_css_formatter/tests/quick_test.rs
  crates/biome_css_formatter/tests/specs/css/atrule/font_face.css.snap
  crates/biome_css_formatter/tests/specs/css/functions.css.snap
  crates/biome_css_formatter/tests/specs/css/properties/all.css
  crates/biome_css_formatter/tests/specs/css/properties/all.css.snap
  crates/biome_css_formatter/tests/specs/css/url.css.snap
  crates/biome_css_formatter/tests/specs/css/value_fill.css.snap
  crates/biome_css_formatter/tests/specs/css/variables.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/font-face.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/comments/declaration.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/composes/composes.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/fill-value/fill.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/grid/grid.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/indent/indent.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/parens/parens.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/trailing-comma/var-func.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/url/url.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_document_error.css.snap
  xtask/codegen/css.ungram
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS

#2297 Describe multi-root workspace limitation in docs
  website/src/content/docs/reference/vscode.mdx
Labels: A-Website

#2269 refactor(project): new crate biome_configuration
  .cargo/config.toml
  .gitattributes
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  crates/biome_cli/Cargo.toml
  crates/biome_cli/src/changed.rs
  crates/biome_cli/src/cli_options.rs
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/init.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/migrate.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/rage.rs
  crates/biome_cli/src/commands/search.rs
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_configuration/Cargo.toml
  crates/biome_configuration/src/css.rs
  crates/biome_configuration/src/diagnostics.rs
  crates/biome_configuration/src/formatter.rs
  crates/biome_configuration/src/generated.rs
  crates/biome_configuration/src/javascript/formatter.rs
  crates/biome_configuration/src/javascript/mod.rs
  crates/biome_configuration/src/json.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_configuration/src/linter/mod.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_configuration/src/organize_imports.rs
  crates/biome_configuration/src/overrides.rs
  crates/biome_configuration/src/parse/json/linter.rs
  crates/biome_configuration/src/snapshots/config_already_exists.snap
  crates/biome_configuration/src/snapshots/deserialization_error.snap
  crates/biome_configuration/src/snapshots/incorrect_pattern.snap
  crates/biome_configuration/src/snapshots/unknown_rule.snap
  crates/biome_configuration/src/vcs.rs
  crates/biome_formatter_test/Cargo.toml
  crates/biome_formatter_test/src/spec.rs
  crates/biome_lsp/Cargo.toml
  crates/biome_lsp/src/session.rs
  crates/biome_rowan/Cargo.toml
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/configuration/mod.rs
  crates/biome_service/src/configuration/overrides.rs
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/lib.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/tests/spec_tests.rs
  crates/biome_test_utils/Cargo.toml
  crates/biome_test_utils/src/lib.rs
  knope.toml
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_configuration.rs
  xtask/codegen/src/generate_schema.rs
  xtask/codegen/src/generate_website.rs
Labels: A-CLI, A-Core, A-Project, A-Formatter, A-Tooling, A-LSP

#2305 docs(lint/noDuplicateTestHooks): fix rule source
  crates/biome_js_analyze/src/lint/nursery/no_duplicate_test_hooks.rs
  website/src/content/docs/linter/rules/no-duplicate-test-hooks.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2306 feat(lint/noUnusedImports): add ignoreReact option
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/no_unused_imports.rs
  crates/biome_js_analyze/src/react.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/invalid-unused-react.jsx
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/invalid-unused-react.jsx.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/invalid-unused-react.options.json
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/valid-unused-react.jsx
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/valid-unused-react.jsx.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/valid-unused-react.options.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/linter/rules/no-unused-imports.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2271 feat: graphql lexer
  Cargo.lock
  crates/biome_graphql_factory/src/generated/node_factory.rs
  crates/biome_graphql_factory/src/generated/syntax_factory.rs
  crates/biome_graphql_parser/Cargo.toml
  crates/biome_graphql_parser/src/lexer/mod.rs
  crates/biome_graphql_parser/src/lexer/tests.rs
  crates/biome_graphql_parser/src/lib.rs
  crates/biome_graphql_parser/src/parser/definitions/mod.rs
  crates/biome_graphql_parser/src/parser/definitions/operation.rs
  crates/biome_graphql_parser/src/parser/directive.rs
  crates/biome_graphql_parser/src/parser/mod.rs
  crates/biome_graphql_parser/src/parser/parse_error.rs
  crates/biome_graphql_parser/src/token_source.rs
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/operation.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/operation.graphql.snap
  crates/biome_graphql_parser/tests/spec_test.rs
  crates/biome_graphql_parser/tests/spec_tests.rs
  crates/biome_graphql_syntax/src/generated/kind.rs
  crates/biome_graphql_syntax/src/generated/macros.rs
  crates/biome_graphql_syntax/src/generated/nodes.rs
  crates/biome_graphql_syntax/src/generated/nodes_mut.rs
  crates/biome_graphql_syntax/src/lib.rs
  crates/biome_graphql_syntax/src/syntax_node.rs
  xtask/codegen/graphql.ungram
  xtask/codegen/src/graphql_kind_src.rs
Labels: A-Tooling

#2318 docs: add warning around nested config
  website/src/content/docs/guides/big-projects.mdx
  website/src/content/docs/guides/how-biome-works.mdx
Labels: A-Website

#2319 fix(cli): skip files outside the current directory when using --changed
  CHANGELOG.md
  crates/biome_fs/src/fs/os.rs
  website/src/content/docs/internals/changelog.md
Labels: A-CLI, A-Core, A-Website, A-Changelog

#2105 feat(lint/useExhaustiveDependencies): support Preact
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/no_render_return_value.rs
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/src/react.rs
  crates/biome_js_analyze/tests/specs/correctness/noRenderReturnValue/invalidGlobal.tsx.snap
  crates/biome_js_analyze/tests/specs/correctness/noRenderReturnValue/invalidImport.tsx.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/missingDependenciesInvalid.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/missingDependenciesInvalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/preactHooks.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/preactHooks.js.snap
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/linter/rules/no-render-return-value.md
  website/src/content/docs/linter/rules/use-exhaustive-dependencies.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2321 Revert incorrectly merged changelog
  CHANGELOG.md
  website/src/content/docs/internals/changelog.md
Labels: A-Website, A-Changelog

#2294 fix(js_analyzer): add graphics-symbol role
  crates/biome_aria/src/roles.rs
  crates/biome_js_analyze/src/lint/a11y/no_svg_without_title.rs
  website/src/content/docs/linter/rules/no-svg-without-title.md
Labels: A-Linter, A-Website, L-JavaScript

#2320 feat(migrate-prettier): support js configs
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/src/execute/migrate/eslint.rs
  crates/biome_cli/src/execute/migrate/ignorefile.rs
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/tests/commands/migrate_prettier.rs
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_write_packagejson.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_yml_file.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettierjson_migrate_write.snap
  website/src/content/docs/internals/changelog.md
Labels: A-CLI, A-Website, A-Changelog

#2333 chore(ci): add update contributors workflow
  .github/workflows/update_contributors.yml
  xtask/contributors/src/main.rs
Labels: A-Tooling

#2331 fix(json-schema): remove field `options` for rules without options
  CHANGELOG.md
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/internals/changelog.md
  xtask/codegen/src/generate_schema.rs
Labels: A-CLI, A-Tooling, A-Website, A-Changelog

#2335 refactor(migrate-eslint): improve flat config migration
  crates/biome_cli/src/execute/migrate/eslint_to_biome.rs
Labels: A-CLI, A-Changelog

#2330 feat(migrate-prettier): support `overrides` field
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/tests/commands/migrate_prettier.rs
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_overrides.snap
  crates/biome_configuration/src/css.rs
  crates/biome_configuration/src/formatter.rs
  crates/biome_configuration/src/javascript/formatter.rs
  crates/biome_configuration/src/json.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_configuration/src/overrides.rs
  crates/biome_formatter/src/lib.rs
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/internals/changelog.md
Labels: A-CLI, A-Project, A-Formatter, A-Website, A-Changelog

#2340 fix(lint): `noSvgWithoutTitle` valid case to use `aria-hidden` correctly
  crates/biome_js_analyze/src/lint/a11y/no_svg_without_title.rs
  website/src/content/docs/linter/rules/no-svg-without-title.md
Labels: A-Linter, A-Website, L-JavaScript

#2328 fix(lint/useExhaustiveDependencies): unintended application of stable custom hook rules
  crates/biome_js_analyze/src/react/hooks.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/stableResultInvalid.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/stableResultInvalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/stableResultInvalid.options.json
Labels: A-Linter, L-JavaScript

#2349 chore(ci): remove bots from contributors
  xtask/contributors/src/main.rs
Labels: A-Tooling

#2342 refactor(lint/useFilenamingConvention): allow `+` prefix
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/style/use_filenaming_convention.rs
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/+in+valid.js
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/+in+valid.js.snap
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/+val_id.js
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/+val_id.js.snap
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/linter/rules/use-filenaming-convention.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2325 refactor(service): file source
  CHANGELOG.md
  crates/biome_css_syntax/src/file_source.rs
  crates/biome_html_syntax/src/file_source.rs
  crates/biome_js_syntax/src/file_source.rs
  crates/biome_json_syntax/src/file_source.rs
  crates/biome_rowan/src/file_source.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/tests/workspace.rs
  website/src/content/docs/guides/how-biome-works.mdx
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/internals/language-support.mdx
Labels: A-Core, A-Project, A-Parser, A-Website, L-JavaScript, L-CSS, L-JSON, A-Changelog

#2155 chore(use-number-namespace.md): fix typo
  crates/biome_js_analyze/src/lint/style/use_number_namespace.rs
  website/src/content/docs/linter/rules/use-number-namespace.md
Labels: A-Linter, A-Website, L-JavaScript

#2327 Add operation parsing rule for GraphQL parser
  crates/biome_graphql_factory/src/generated/node_factory.rs
  crates/biome_graphql_factory/src/generated/syntax_factory.rs
  crates/biome_graphql_parser/src/lexer/mod.rs
  crates/biome_graphql_parser/src/lexer/tests.rs
  crates/biome_graphql_parser/src/parser/argument.rs
  crates/biome_graphql_parser/src/parser/definitions/operation.rs
  crates/biome_graphql_parser/src/parser/directive.rs
  crates/biome_graphql_parser/src/parser/mod.rs
  crates/biome_graphql_parser/src/parser/parse_error.rs
  crates/biome_graphql_parser/src/parser/type.rs
  crates/biome_graphql_parser/src/parser/value.rs
  crates/biome_graphql_parser/src/parser/variable.rs
  crates/biome_graphql_parser/tests/graphql_test_suite/err/operation.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/err/operation.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/directive.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/directive.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/operation.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/operation.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/selection_set.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/selection_set.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/type.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/type.graphql.snap
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/value.graphql
  crates/biome_graphql_parser/tests/graphql_test_suite/ok/value.graphql.snap
  crates/biome_graphql_syntax/src/generated/macros.rs
  crates/biome_graphql_syntax/src/generated/nodes.rs
  crates/biome_graphql_syntax/src/generated/nodes_mut.rs
  crates/biome_graphql_syntax/src/lib.rs
  xtask/codegen/graphql.ungram
Labels: A-Tooling

#2376 fix(service): allow JSX syntax for `javascript` language id
  CHANGELOG.md
  crates/biome_js_syntax/src/file_source.rs
  crates/biome_lsp/tests/server.rs
  website/src/content/docs/internals/changelog.md
Labels: A-Parser, A-LSP, A-Website, L-JavaScript, A-Changelog

#2368 refactor(useNamingConvention): accept `PascalCase` for variable names
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidFunctionParameter.js
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidFunctionParameter.js.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidLocalVariable.js
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidLocalVariable.js.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidTopLevelVariable.ts.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validComponentName.js.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validFunctionParameter.js
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validFunctionParameter.js.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validLocalVariable.js
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validLocalVariable.js.snap
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/linter/rules/use-naming-convention.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2377 fix(lint/useExhaustiveDependencies): don't report recursive calls as missing dependencies
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/valid.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/valid.js.snap
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2378 chore: update rule version
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/nursery/no_done_callback.rs
  crates/biome_js_analyze/src/lint/nursery/no_duplicate_else_if.rs
  crates/biome_js_analyze/src/lint/nursery/no_evolving_any.rs
  crates/biome_js_analyze/src/lint/nursery/no_misplaced_assertion.rs
  crates/biome_js_analyze/src/lint/nursery/no_suspicious_semicolon_in_jsx.rs
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/linter/rules/no-done-callback.md
  website/src/content/docs/linter/rules/no-duplicate-else-if.md
  website/src/content/docs/linter/rules/no-evolving-any.md
  website/src/content/docs/linter/rules/no-misplaced-assertion.md
  website/src/content/docs/linter/rules/no-suspicious-semicolon-in-jsx.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2381 fix(lint/useExhaustiveDependencies): fix missing dependency from function declaration
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/missingDependenciesInvalid.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/missingDependenciesInvalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/valid.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/valid.js.snap
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2380 fix(service): script block detection in `.svelte` and `.vue` files with `CRLF`s
  CHANGELOG.md
  crates/biome_cli/tests/cases/handle_astro_files.rs
  crates/biome_cli/tests/cases/handle_svelte_files.rs
  crates/biome_cli/tests/cases/handle_vue_files.rs
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/format_astro_carriage_return_line_feed_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/format_svelte_carriage_return_line_feed_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_carriage_return_line_feed_files.snap
  crates/biome_service/src/file_handlers/svelte.rs
  crates/biome_service/src/file_handlers/vue.rs
  website/src/content/docs/internals/changelog.md
Labels: A-CLI, A-Project, A-Website, A-Changelog

#2379 docs(website): Getting Started and Formatter improvements
  website/src/content/docs/formatter/index.mdx
  website/src/content/docs/guides/getting-started.mdx
  website/src/content/docs/ja/formatter/index.mdx
  website/src/content/docs/ja/guides/getting-started.mdx
  website/src/content/docs/pt-br/formatter/index.mdx
  website/src/content/docs/pt-br/guides/getting-started.mdx
  website/src/content/docs/zh-cn/formatter/index.mdx
  website/src/content/docs/zh-cn/guides/getting-started.mdx
Labels: A-Website

#2386 fix(lint/useNamingConvention): ignore object destructuring
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidLocalVariable.js
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidLocalVariable.js.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validDestructuredObjectMember.js
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validDestructuredObjectMember.js.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validExports.js
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validExports.js.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validImports.js
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validImports.js.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validLocalVariable.js
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validLocalVariable.js.snap
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2363 chore(website): add `yaml` & `graphql` to language support & sync table rows
  website/src/content/docs/internals/language-support.mdx
  website/src/content/docs/ja/internals/language-support.mdx
  website/src/content/docs/pt-br/internals/language-support.mdx
  website/src/content/docs/zh-cn/internals/language-support.mdx
Labels: A-Website

#2134 fix(formatter): dedent logic inconsistent with prettier where the indent-style is space and the indent-width is not 2.
  CHANGELOG.md
  crates/biome_formatter/src/builders.rs
  crates/biome_formatter/src/format_element/document.rs
  crates/biome_formatter/src/format_element/tag.rs
  crates/biome_formatter/src/printer/call_stack.rs
  crates/biome_formatter/src/printer/mod.rs
  crates/biome_js_formatter/tests/specs/js/module/expression/nested_conditional_expression/nested_conditional_expression.js
  crates/biome_js_formatter/tests/specs/js/module/expression/nested_conditional_expression/nested_conditional_expression.js.snap
  crates/biome_js_formatter/tests/specs/js/module/expression/nested_conditional_expression/options.json
  crates/biome_js_formatter/tests/specs/ts/union/nested_union/nested_union.ts
  crates/biome_js_formatter/tests/specs/ts/union/nested_union/nested_union.ts.snap
  crates/biome_js_formatter/tests/specs/ts/union/nested_union/options.json
  website/src/content/docs/internals/changelog.md
Labels: A-CLI, A-Formatter, A-Website, L-JavaScript, A-Changelog

#2392 fix(cli): skip traversing `fifo` or `socket` files
  CHANGELOG.md
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_fs/src/fs.rs
  crates/biome_fs/src/fs/memory.rs
  crates/biome_fs/src/fs/os.rs
  website/src/content/docs/internals/changelog.md
Labels: A-CLI, A-Core, A-Website, A-Changelog

#2358 fix(js_formatter): correctly handle comments placement for jsx spread expression
  CHANGELOG.md
  crates/biome_js_formatter/src/jsx/attribute/spread_attribute.rs
  crates/biome_js_formatter/src/jsx/auxiliary/spread_child.rs
  crates/biome_js_formatter/src/utils/format_node_without_comments.rs
  crates/biome_js_formatter/src/utils/mod.rs
  crates/biome_js_formatter/tests/specs/jsx/comments.jsx
  crates/biome_js_formatter/tests/specs/jsx/comments.jsx.snap
  crates/biome_js_formatter/tests/specs/prettier/jsx/spread/attribute.js.snap
  crates/biome_js_formatter/tests/specs/prettier/jsx/spread/child.js.snap
  website/src/content/docs/internals/changelog.md
Labels: A-Formatter, A-Website, L-JavaScript, A-Changelog

#2393 fix(configuration): `.jsonc` config deserialization in `extends`
  CHANGELOG.md
  crates/biome_fs/src/fs.rs
  crates/biome_service/src/configuration.rs
  crates/biome_service/tests/spec_tests.rs
  crates/biome_service/tests/valid/extends_jsonc_m.json
  crates/biome_service/tests/valid/extends_jsonc_s.jsonc
  website/src/content/docs/internals/changelog.md
Labels: A-CLI, A-Core, A-Project, A-Website, A-Changelog

#2397 refactor: replace `ignoreReact` with `jsxRuntime` setting
  CHANGELOG.md
  crates/biome_analyze/src/context.rs
  crates/biome_analyze/src/options.rs
  crates/biome_analyze/src/registry.rs
  crates/biome_analyze/src/signals.rs
  crates/biome_configuration/src/javascript/mod.rs
  crates/biome_js_analyze/src/lint/correctness/no_unused_imports.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/invalid-unused-react.options.json
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/valid-unused-react.options.json
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/settings.rs
  crates/biome_test_utils/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/linter/rules/no-unused-imports.md
  website/src/content/docs/reference/configuration.mdx
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Changelog

#2400 docs: fix the broken link in analyzer/index.mdx
  website/src/content/docs/ja/analyzer/index.mdx
  website/src/content/docs/pt-br/analyzer/index.mdx
  website/src/content/docs/zh-cn/analyzer/index.mdx
Labels: A-Website

#2401 fix(project): fix JSON schema for stable hook options
  CHANGELOG.md
  crates/biome_js_analyze/src/react/hooks.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2398 fix(lint/useImportType): respect `jsxRuntime`
  CHANGELOG.md
  crates/biome_analyze/src/context.rs
  crates/biome_js_analyze/src/lint/correctness/no_unused_imports.rs
  crates/biome_js_analyze/src/lint/style/use_import_type.rs
  crates/biome_js_analyze/tests/specs/style/useImportType/invalid-unused-react-types.options.json
  crates/biome_js_analyze/tests/specs/style/useImportType/invalid-unused-react-types.tsx
  crates/biome_js_analyze/tests/specs/style/useImportType/invalid-unused-react-types.tsx.snap
  crates/biome_js_analyze/tests/specs/style/useImportType/valid-unused-react-types.options.json
  crates/biome_js_analyze/tests/specs/style/useImportType/valid-unused-react-types.tsx
  crates/biome_js_analyze/tests/specs/style/useImportType/valid-unused-react-types.tsx.snap
  crates/biome_js_analyze/tests/specs/style/useImportType/valid-unused-react.options.json
  crates/biome_js_analyze/tests/specs/style/useImportType/valid-unused-react.tsx
  crates/biome_js_analyze/tests/specs/style/useImportType/valid-unused-react.tsx.snap
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/linter/rules/use-import-type.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2399 feat(css_formatter): Incorrect spacing around `CssGenericDelimiter` elements.
  crates/biome_css_formatter/src/utils/component_value_list.rs
  crates/biome_css_formatter/tests/specs/css/atrule/font_face.css.snap
  crates/biome_css_formatter/tests/specs/css/declaration_list.css
  crates/biome_css_formatter/tests/specs/css/declaration_list.css.snap
  crates/biome_css_formatter/tests/specs/css/properties/all.css.snap
  crates/biome_css_formatter/tests/specs/css/properties/border.css.snap
  crates/biome_css_formatter/tests/specs/css/properties/custom.css.snap
  crates/biome_css_formatter/tests/specs/css/properties/generic.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/font-face.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/comments/declaration.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/fill-value/fill.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/indent/indent.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/modules/modules.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/url/url.css.snap
Labels: A-Formatter, L-CSS

#2308 feat(biome_css_analyze): implement `noDuplicateFontNames`
  crates/biome_analyze/src/rule.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/src/keywords.rs
  crates/biome_css_analyze/src/lib.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_duplicate_font_names.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/src/utils.rs
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateFontNames/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateFontNames/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateFontNames/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateFontNames/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  justfile
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-duplicate-font-names.md
Labels: A-Project, A-Linter, A-Website, L-CSS, A-Diagnostic

#2402 fix(parser): fix Unicode surrogate char in escape sequence
  CHANGELOG.md
  crates/biome_js_parser/src/lexer/mod.rs
  crates/biome_js_parser/src/lexer/tests.rs
  website/src/content/docs/internals/changelog.md
Labels: A-Parser, A-Website, L-JavaScript, A-Changelog

#2275 chore: add Grit patterns crate
  Cargo.lock
  Cargo.toml
  crates/biome_cli/src/commands/search.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/process_file/search.rs
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_grit_patterns/Cargo.toml
  crates/biome_grit_patterns/src/errors.rs
  crates/biome_grit_patterns/src/lib.rs
  crates/biome_grit_patterns/src/parse.rs
  crates/biome_grit_patterns/src/pattern.rs
  crates/biome_parser/src/diagnostic.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/client.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-CLI, A-Project, A-Parser

#2364 feat(cli): JSON reporter
  CHANGELOG.md
  crates/biome_cli/examples/text_reporter.rs
  crates/biome_cli/src/cli_options.rs
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/search.rs
  crates/biome_cli/src/diagnostics.rs
  crates/biome_cli/src/execute/diagnostics.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/src/reporter/json.rs
  crates/biome_cli/src/reporter/mod.rs
  crates/biome_cli/src/reporter/terminal.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_check/print_json.snap
  crates/biome_cli/tests/snapshots/main_commands_check/print_json_pretty.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/print_json.snap
  crates/biome_cli/tests/snapshots/main_commands_format/print_json_pretty.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/emit_diagnostic_for_rome_json.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/migrate_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/rage_help.snap
  crates/biome_console/src/lib.rs
  crates/biome_diagnostics/Cargo.toml
  crates/biome_diagnostics/src/adapters.rs
  crates/biome_diagnostics/src/advice.rs
  crates/biome_diagnostics/src/serde.rs
  crates/biome_service/src/diagnostics.rs
  crates/biome_text_edit/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  website/src/content/docs/internals/changelog.md
Labels: A-CLI, A-Core, A-Project, A-Website, A-Diagnostic, A-Changelog

#2300 feat(cli): add --staged flag
  CHANGELOG.md
  crates/biome_cli/src/changed.rs
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_error_if_changed_flag_and_staged_flag_are_active_at_the_same_time.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_not_process_ignored_file_even_if_its_staged.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_only_process_staged_file_if_its_included.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_only_processes_staged_files_when_staged_flag_is_set.snap
  crates/biome_fs/src/fs.rs
  crates/biome_fs/src/fs/memory.rs
  crates/biome_fs/src/fs/os.rs
  website/src/content/docs/internals/changelog.md
Labels: A-CLI, A-Core, A-Website, A-Changelog

#2417 chore: use `--reporter` option
  CHANGELOG.md
  crates/biome_cli/src/cli_options.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/migrate_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/rage_help.snap
  website/src/content/docs/internals/changelog.md
Labels: A-CLI, A-Website, A-Changelog

#2426 refactor(noReExportAll): don't report type re-export
  crates/biome_js_analyze/src/lint/nursery/no_re_export_all.rs
  crates/biome_js_analyze/tests/specs/nursery/noReExportAll/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noReExportAll/valid.ts.snap
  website/src/content/docs/linter/rules/no-re-export-all.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2419 feat(cli): support passing file path to `--config-path` and `BIOME_CONFIG_PATH`
  CHANGELOG.md
  crates/biome_cli/src/cli_options.rs
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/migrate.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/rage.rs
  crates/biome_cli/src/commands/search.rs
  crates/biome_cli/src/logging.rs
  crates/biome_cli/tests/cases/config_path.rs
  crates/biome_cli/tests/snap_test.rs
  crates/biome_cli/tests/snapshots/main_cases_config_extends/extends_should_raise_an_error_for_unresolved_configuration.snap
  crates/biome_cli/tests/snapshots/main_cases_config_extends/extends_should_raise_an_error_for_unresolved_configuration_and_show_verbose.snap
  crates/biome_cli/tests/snapshots/main_cases_config_path/set_config_path_to_directory.snap
  crates/biome_cli/tests/snapshots/main_cases_config_path/set_config_path_to_file.snap
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_does_not_run_formatter_biome_jsonc.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/invalid_config_file_path.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lsp_proxy/lsp_proxy_help.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/migrate_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/rage_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_jsonc_configuration.snap
  crates/biome_configuration/src/lib.rs
  crates/biome_fs/src/fs.rs
  crates/biome_fs/src/fs/memory.rs
  crates/biome_fs/src/fs/os.rs
  crates/biome_js_analyze/src/react.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/snapshots/cant_read_directory.snap
  crates/biome_service/src/snapshots/cant_read_file.snap
  website/src/content/docs/guides/how-biome-works.mdx
  website/src/content/docs/internals/changelog.md
Labels: A-CLI, A-Core, A-Project, A-Linter, A-LSP, A-Website, L-JavaScript, A-Changelog

#2429 docs: update useForOf to include a relevant example
  crates/biome_js_analyze/src/lint/style/use_for_of.rs
  website/src/content/docs/linter/rules/use-for-of.md
Labels: A-Linter, A-Website, L-JavaScript

#2433 ci: fix codegen
  website/src/content/docs/linter/rules/use-for-of.md
Labels: A-Website, A-Changelog

#2432 feat(migrate-prettier): support shorthand for overrides.files
  crates/biome_cli/src/execute/migrate/eslint_eslint.rs
  crates/biome_cli/src/execute/migrate/eslint_typescript.rs
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/tests/commands/migrate_eslint.rs
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintrcjson_rule_options.snap
Labels: A-CLI

#2441 refactor(useLiteralKeys): ignore __proto__ computed property
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/complexity/use_literal_keys.rs
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/invalid.js
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/invalid.js.snap
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/valid.js
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/valid.js.snap
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2440 refactor: resolve lintdoc warnings
  crates/biome_cli/src/execute/mod.rs
  crates/biome_configuration/src/javascript/mod.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/src/lint/nursery/no_color_invalid_hex.rs
  crates/biome_js_analyze/src/globals/javascript/language.rs
  crates/biome_js_analyze/src/globals/javascript/node.rs
  crates/biome_js_analyze/src/globals/javascript/web.rs
  crates/biome_js_analyze/src/globals/module/node.rs
  crates/biome_js_analyze/src/globals/typescript/language.rs
  crates/biome_js_analyze/src/globals/typescript/node.rs
  crates/biome_js_analyze/src/globals/typescript/web.rs
  crates/biome_js_analyze/src/lint/correctness/no_void_elements_with_children.rs
  crates/biome_js_parser/src/lib.rs
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_semantic/src/semantic_model/builder.rs
  crates/biome_js_semantic/src/semantic_model/model.rs
  crates/biome_js_syntax/src/expr_ext.rs
  crates/biome_js_syntax/src/function_ext.rs
  crates/biome_js_syntax/src/lib.rs
  crates/biome_parser/CONTRIBUTING.md
  crates/biome_parser/src/lib.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
  justfile
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-color-invalid-hex.md
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI, A-Project, A-Linter, A-Parser, A-Tooling, A-Website, L-JavaScript, L-CSS

#2437 docs: suggest biome migrate commands after biome init
  crates/biome_cli/src/commands/init.rs
  crates/biome_cli/tests/snapshots/main_commands_init/creates_config_file.snap
  crates/biome_cli/tests/snapshots/main_commands_init/creates_config_file_when_biome_installed_via_package_manager.snap
  crates/biome_cli/tests/snapshots/main_commands_init/creates_config_jsonc_file.snap
Labels: A-CLI

#2444 docs(useImportType): add caveat section
  crates/biome_js_analyze/src/lint/style/use_import_type.rs
  website/src/content/docs/linter/rules/use-import-type.md
Labels: A-Linter, A-Website, L-JavaScript

#2404 feat(biome_js_analyze): noConstantMathMinMaxClamp
  CHANGELOG.md
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_constant_math_min_max_clamp.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noConstantMathMinMaxClamp/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noConstantMathMinMaxClamp/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noConstantMathMinMaxClamp/invalid.jsonc.snap
  crates/biome_js_analyze/tests/specs/nursery/noConstantMathMinMaxClamp/valid-shadowing.js
  crates/biome_js_analyze/tests/specs/nursery/noConstantMathMinMaxClamp/valid-shadowing.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noConstantMathMinMaxClamp/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noConstantMathMinMaxClamp/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/linter/rules/index.mdx
  website/src/content/docs/linter/rules/no-constant-math-min-max-clamp.md
Labels: A-Project, A-Linter, A-Website, L-JavaScript, A-Diagnostic, A-Changelog

#2445 fix: a few typos
  CHANGELOG.md
  crates/biome_analyze/src/rule.rs
  crates/biome_js_analyze/src/lint/correctness/no_unused_variables.rs
  crates/biome_js_analyze/src/lint/style/no_namespace.rs
  crates/biome_js_analyze/tests/specs/style/noNamespace/invalid.ts.snap
  website/src/components/generated/Sources.md
  website/src/content/blog/biome-v1-6.mdx
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/linter/rules-sources.mdx
  website/src/content/docs/linter/rules/no-constant-math-min-max-clamp.md
  website/src/content/docs/linter/rules/no-namespace.md
  website/src/content/docs/zh-cn/internals/changelog.mdx
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2446 refactor(codegen): reduce Git conflicts using slices instead of arrays
  crates/biome_configuration/src/generated.rs
  crates/biome_configuration/src/linter/rules.rs
  xtask/codegen/src/generate_configuration.rs
Labels: A-Project, A-Tooling

#2423 chore: update xtask/bench readme
  xtask/bench/README.md
Labels: A-Tooling

#2457 fix(analyzer): script block detection in `vue` and `svelte` files
  CHANGELOG.md
  crates/biome_cli/tests/cases/handle_vue_files.rs
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_generic_component_files.snap
  crates/biome_service/src/file_handlers/svelte.rs
  crates/biome_service/src/file_handlers/vue.rs
  website/src/content/docs/internals/changelog.md
Labels: A-CLI, A-Project, A-Website, A-Changelog

#2453 fix(lint): `noMisplacedAssertion` should not report valid method calls
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/nursery/no_misplaced_assertion.rs
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/validMethodCalls.js
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/validMethodCalls.js.snap
  crates/biome_js_syntax/src/expr_ext.rs
  website/src/content/docs/internals/changelog.md
  website/src/content/docs/linter/rules/no-misplaced-assertion.md
Labels: A-Linter, A-Parser, A-Website, L-JavaScript, A-Changelog

#2464 fix(lint/noBarrelFile): rule source
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_js_analyze/src/lint/performance/no_barrel_file.rs
  website/src/content/docs/linter/rules-sources.mdx
  website/src/content/docs/linter/rules/no-barrel-file.md
Labels: A-CLI, A-Linter, A-Website, L-JavaScript

#2477 docs: fix missing punctuation and typo
  website/src/content/blog/biome-v1-7.md
Labels: A-Website

#2478 chore(changelog); add Unreleased section
  CHANGELOG.md
  website/src/content/docs/internals/changelog.md
Labels: A-Website, A-Changelog

#2479 fix: missing "--apply" option in the command example
  website/src/content/docs/guides/getting-started.mdx
  website/src/content/docs/ja/guides/getting-started.mdx
  website/src/content/docs/pt-br/guides/getting-started.mdx
  website/src/content/docs/zh-cn/guides/getting-started.mdx
Labels: A-Website

#2480 chore: tidy up dependencies
  Cargo.lock
  Cargo.toml
  crates/biome_cli/Cargo.toml
  crates/biome_deserialize_macros/Cargo.toml
  crates/biome_diagnostics_macros/Cargo.toml
  crates/biome_formatter_test/Cargo.toml
  crates/biome_markup/Cargo.toml
  crates/biome_rowan/Cargo.toml
  crates/biome_rowan/src/green/node_cache.rs
  crates/biome_test_utils/Cargo.toml
  crates/biome_text_edit/Cargo.toml
  crates/tests_macros/Cargo.toml
  fuzz/Cargo.toml
  xtask/codegen/Cargo.toml
  xtask/contributors/Cargo.toml
  xtask/coverage/Cargo.toml
Labels: A-CLI, A-Core, A-Formatter, A-Tooling, A-Diagnostic

#2483 fix(lint/useImportType): `jsxRuntime` wasn't respected in combined import statement
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/style/use_import_type.rs
  crates/biome_js_analyze/tests/specs/style/useImportType/valid-unused-react-combined.options.json
  crates/biome_js_analyze/tests/specs/style/useImportType/valid-unused-react-combined.tsx
  crates/biome_js_analyze/tests/specs/style/useImportType/valid-unused-react-combined.tsx.snap
  website/src/content/docs/internals/changelog.md
Labels: A-Linter, A-Website, L-JavaScript, A-Changelog

#2486 chore: fix some typos in comments
  crates/biome_cli/src/service/mod.rs
  crates/biome_console/src/write/termcolor.rs
  xtask/README.md
  xtask/codegen/src/formatter.rs
Labels: A-CLI, A-Tooling

#2428 feat: start working on yaml support
  Cargo.lock
  Cargo.toml
  crates/biome_yaml_factory/Cargo.toml
  crates/biome_yaml_factory/src/generated.rs
  crates/biome_yaml_factory/src/generated/node_factory.rs
  crates/biome_yaml_factory/src/generated/syntax_factory.rs
  crates/biome_yaml_factory/src/lib.rs
  crates/biome_yaml_factory/src/make.rs
  crates/biome_yaml_parser/Cargo.toml
  crates/biome_yaml_parser/readme.md
  crates/biome_yaml_parser/src/lexer/mod.rs
  crates/biome_yaml_parser/src/lib.rs
  crates/biome_yaml_syntax/Cargo.toml
  crates/biome_yaml_syntax/src/generated.rs
  crates/biome_yaml_syntax/src/generated/kind.rs
  crates/biome_yaml_syntax/src/generated/macros.rs
  crates/biome_yaml_syntax/src/generated/nodes.rs
  crates/biome_yaml_syntax/src/generated/nodes_mut.rs
  crates/biome_yaml_syntax/src/lib.rs
  crates/biome_yaml_syntax/src/syntax_node.rs
  xtask/codegen/src/formatter.rs
  xtask/codegen/src/generate_nodes.rs
  xtask/codegen/src/generate_syntax_kinds.rs
  xtask/codegen/src/language_kind.rs
  xtask/codegen/src/lib.rs
  xtask/codegen/src/yaml_kinds_src.rs
  xtask/codegen/yaml.ungram
Labels: A-Tooling

#2484 chore: prepare knope
  .github/workflows/prepare_release.yml
  Cargo.lock
  crates/biome_html_parser/Cargo.toml
  justfile
  knope.toml
  taplo.toml
  xtask/codegen/src/generate_crate.rs
Labels: A-Tooling

#2496 fix: reverts hashbrown, which causes issues when compiling to WASM
  .github/renovate.json
  Cargo.lock
  crates/biome_rowan/Cargo.toml
  crates/biome_rowan/src/green/node_cache.rs
Labels: A-Core

#2503 fix(linter): name of typescript-eslint
  .cargo/config.toml
  .github/workflows/pull_request.yml
  crates/biome_analyze/src/rule.rs
Labels: A-Linter

#2504 fix(js_formatter): add parentheses for the return expression that has leading multiline comments.
  CHANGELOG.md
  crates/biome_js_formatter/src/js/statements/return_statement.rs
  crates/biome_js_formatter/tests/specs/js/module/statement/return.js
  crates/biome_js_formatter/tests/specs/js/module/statement/return.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/comments/return-statement.js
  crates/biome_js_formatter/tests/specs/prettier/js/comments/return-statement.js.snap
  website/src/content/docs/internals/changelog.md
Labels: A-Formatter, A-Website, L-JavaScript, A-Changelog

#2507 fix(lsp): forward workspace errors to client console
  CHANGELOG.md
  crates/biome_formatter/src/diagnostics.rs
  crates/biome_lsp/src/diagnostics.rs
  crates/biome_lsp/src/server.rs
Labels: A-Formatter, A-LSP, A-Changelog

#2510 refactor(js_syntax): remove TsNameWithTypeArguments
  crates/biome_js_factory/src/generated/node_factory.rs
  crates/biome_js_factory/src/generated/syntax_factory.rs
  crates/biome_js_formatter/src/format.rs
  crates/biome_js_formatter/src/generated.rs
  crates/biome_js_formatter/src/ts/expressions/mod.rs
  crates/biome_js_formatter/src/ts/expressions/name_with_type_arguments.rs
  crates/biome_js_parser/src/syntax/typescript.rs
  crates/biome_js_parser/src/syntax/typescript/types.rs
  crates/biome_js_parser/test_data/inline/err/class_decl_no_id.rast
  crates/biome_js_parser/test_data/inline/err/class_extends_err.rast
  crates/biome_js_parser/test_data/inline/err/class_implements.rast
  crates/biome_js_parser/test_data/inline/err/ts_class_heritage_clause_errors.rast
  crates/biome_js_parser/test_data/inline/err/ts_extends_trailing_comma.rast
  crates/biome_js_parser/test_data/inline/err/ts_interface_heritage_clause_error.rast
  crates/biome_js_parser/test_data/inline/ok/ts_interface_extends_clause.rast
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_syntax/src/generated/kind.rs
  crates/biome_js_syntax/src/generated/macros.rs
  crates/biome_js_syntax/src/generated/nodes.rs
  crates/biome_js_syntax/src/generated/nodes_mut.rs
  crates/biome_js_syntax/src/identifier_ext.rs
  xtask/codegen/js.ungram
  xtask/codegen/src/js_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-JavaScript

#2513 feat(biome_css_analyzer): noCssEmptyBlock
  Cargo.lock
  crates/biome_configuration/Cargo.toml
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/Cargo.toml
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_css_empty_block.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noCssEmptyBlock/disallowComment.css
  crates/biome_css_analyze/tests/specs/nursery/noCssEmptyBlock/disallowComment.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noCssEmptyBlock/disallowComment.options.json
  crates/biome_css_analyze/tests/specs/nursery/noCssEmptyBlock/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noCssEmptyBlock/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noCssEmptyBlock/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noCssEmptyBlock/valid.css.snap
  crates/biome_css_syntax/src/lib.rs
  crates/biome_css_syntax/src/stmt_ext.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_service/src/configuration.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Parser, L-CSS, A-Diagnostic

#2520 fix(linter): fix edge case in `noUselessFragments`
  CHANGELOG.md
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_2460.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_2460.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#2521 feat(linter): allow to call `expect` inside `waitFor`
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/nursery/no_misplaced_assertion.rs
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/valid.js.snap
  crates/biome_js_syntax/src/expr_ext.rs
Labels: A-Linter, A-Parser, L-JavaScript, A-Changelog

#2522 chore: added how to create new css lint rule
  crates/biome_analyze/CONTRIBUTING.md
Labels: A-Linter

#2525 fix(linter): correctly compute duplicate entries
  CHANGELOG.md
  Cargo.toml
  crates/biome_json_analyze/Cargo.toml
  crates/biome_json_analyze/src/lib.rs
  crates/biome_json_analyze/src/lint/nursery/no_duplicate_json_keys.rs
  crates/biome_json_analyze/tests/specs/nursery/noDuplicateJsonKeys/invalid.json
  crates/biome_json_analyze/tests/specs/nursery/noDuplicateJsonKeys/invalid.json.snap
Labels: A-Linter, L-JSON, A-Changelog

#2531 refactor(css_formatter): implement FormatCssBlockLike
  crates/biome_css_formatter/src/css/auxiliary/declaration_block.rs
  crates/biome_css_formatter/src/css/auxiliary/declaration_or_at_rule_block.rs
  crates/biome_css_formatter/src/css/auxiliary/declaration_or_rule_block.rs
  crates/biome_css_formatter/src/css/auxiliary/font_feature_values_block.rs
  crates/biome_css_formatter/src/css/auxiliary/keyframes_block.rs
  crates/biome_css_formatter/src/css/auxiliary/page_at_rule_block.rs
  crates/biome_css_formatter/src/css/auxiliary/rule_block.rs
  crates/biome_css_formatter/src/utils/block_like.rs
Labels: A-Formatter, L-CSS

#2534 feat(biome_css_analyze): keyframe-block-no-duplicate-selectors
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_duplicate_selectors_keyframe_block.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateSelectorsKeyframeBlock/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateSelectorsKeyframeBlock/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateSelectorsKeyframeBlock/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateSelectorsKeyframeBlock/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, L-CSS, A-Diagnostic

#2545 fix(biome_css_analyzer): update lint error messages
  crates/biome_css_analyze/src/lint/nursery/no_duplicate_font_names.rs
  crates/biome_css_analyze/src/lint/nursery/no_duplicate_selectors_keyframe_block.rs
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateFontNames/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateSelectorsKeyframeBlock/invalid.css.snap
Labels: L-CSS

#2542 feat(biome_css_analyze): noImportantInKeyframe
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_important_in_keyframe.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noImportantInKeyframe/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noImportantInKeyframe/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noImportantInKeyframe/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noImportantInKeyframe/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, L-CSS, A-Diagnostic

#2555 fix(js_formatter): correctly format dangling comments of continue statement
  CHANGELOG.md
  crates/biome_js_formatter/src/js/statements/continue_statement.rs
  crates/biome_js_formatter/tests/specs/js/module/statement/continue_stmt.js
  crates/biome_js_formatter/tests/specs/js/module/statement/continue_stmt.js.snap
Labels: A-Formatter, L-JavaScript, A-Changelog

#2558 chore: release 1.7.1
  CHANGELOG.md
  packages/@biomejs/biome/package.json
Labels: A-Changelog

#2560 docs: fix typo in biome analyze contribution document
  crates/biome_analyze/CONTRIBUTING.md
Labels: A-Linter

#2561 build(deps): remove 'case' dependency
  Cargo.lock
  crates/biome_aria_metadata/Cargo.toml
  crates/biome_aria_metadata/build.rs
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_new_lintrule.rs
  xtask/codegen/src/promote_rule.rs
Labels: A-Tooling

#2562 build(xstask): remove deps `fs_extra` and `filetime`
  Cargo.lock
  xtask/codegen/Cargo.toml
  xtask/codegen/src/parser_tests.rs
  xtask/codegen/src/promote_rule.rs
Labels: A-Tooling

#2563 fix(organizeImport): ignorer side effect imports
  CHANGELOG.md
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_stdin_apply_unsafe_only_organize_imports.snap
  crates/biome_cli/tests/snapshots/main_commands_check/check_stdin_apply_unsafe_successfully.snap
  crates/biome_js_analyze/src/assists/correctness/organize_imports.rs
  crates/biome_js_analyze/tests/specs/correctness/organizeImports/side-effect-imports.js
  crates/biome_js_analyze/tests/specs/correctness/organizeImports/side-effect-imports.js.snap
Labels: A-CLI, A-Linter, L-JavaScript, A-Changelog

#2307 docs: Add more useImportType examples to docs
  crates/biome_js_analyze/src/lint/style/use_import_type.rs
Labels: A-Linter, A-Website, L-JavaScript

#2568 fix(configuration_schema): rename some fields to camelCase in the `configuration_schema.json`
  crates/biome_configuration/src/javascript/mod.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project

#2566 fix(js_formatter): correctly handle placement of comments inside named import clause
  CHANGELOG.md
  crates/biome_js_formatter/src/comments.rs
  crates/biome_js_formatter/tests/specs/js/module/import/named_import_clause.js
  crates/biome_js_formatter/tests/specs/js/module/import/named_import_clause.js.snap
Labels: A-Formatter, L-JavaScript, A-Changelog

#2569 fix: rename some fileds to camelCase in the `configuration_schema`
  crates/biome_configuration/src/javascript/mod.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-Project

#2535 feat(biome_css_analyzer): noUnknownUnit
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_unknown_unit.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noUnknownUnit/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownUnit/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noUnknownUnit/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownUnit/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, L-CSS, A-Diagnostic

#2578 fix(formatter): prevent comments from being eaten by formatter
  CHANGELOG.md
  crates/biome_formatter/src/comments/builder.rs
  crates/biome_js_formatter/tests/specs/prettier/typescript/union/comments.ts.snap
Labels: A-Formatter, L-JavaScript, A-Changelog

#2579 chore: fix some typos in comments
  crates/biome_rowan/src/ast/batch.rs
Labels: A-Core

#2540 feat(linter): add useConsistentNewBuiltin
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/complexity/use_regex_literals.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_consistent_new_builtin.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useConsistentNewBuiltin/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useConsistentNewBuiltin/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentNewBuiltin/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useConsistentNewBuiltin/valid.js.snap
  crates/biome_js_syntax/src/expr_ext.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, A-Parser, L-JavaScript, A-Diagnostic

#2583 fix(migrate-eslint): handle cyclic references
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/node.rs
Labels: A-CLI, A-Changelog

#2588 fix(migrate-eslint): remove cyclic references of configs
  crates/biome_cli/src/execute/migrate/node.rs
Labels: A-CLI

#2584 fix(lint/useConst): handle reads before assignment and improve docs
  CHANGELOG.md
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_runs_linter_not_formatter_issue_3495.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/correctly_handles_ignored_and_not_ignored_files.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/include_files_in_subdir.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/include_files_in_symlinked_subdir.snap
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_js_analyze/src/lint/style/use_const.rs
  crates/biome_js_analyze/tests/specs/style/useConst/invalid.jsonc.snap
  crates/biome_js_analyze/tests/specs/style/useConst/valid.jsonc
  crates/biome_js_analyze/tests/specs/style/useConst/valid.jsonc.snap
  justfile
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Changelog

#2600 fix(lint/useTemplate): correctly escape characters
  CHANGELOG.md
  crates/biome_js_analyze/tests/specs/style/useTemplate/invalidIssue2580.js
  crates/biome_js_analyze/tests/specs/style/useTemplate/invalidIssue2580.js.snap
  crates/biome_js_factory/src/utils.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#2601 fix(lint/useShorthandFunctionType): add parens when needed
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/style/use_shorthand_function_type.rs
  crates/biome_js_analyze/tests/specs/style/useShorthandFunctionType/invalid.ts
  crates/biome_js_analyze/tests/specs/style/useShorthandFunctionType/invalid.ts.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#2594 fix: regression of latest refactor
  crates/biome_formatter_test/src/spec.rs
  crates/biome_service/tests/workspace.rs
  packages/@biomejs/backend-jsonrpc/tests/workspace.test.mjs
Labels: A-Project, A-Formatter

#2602 fix(organizeImports): add space where needed
  CHANGELOG.md
  crates/biome_js_analyze/src/assists/correctness/organize_imports.rs
  crates/biome_js_analyze/tests/specs/correctness/organizeImports/space.ts
  crates/biome_js_analyze/tests/specs/correctness/organizeImports/space.ts.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#2541 feat(biome_js_analyze): useArrayLiterals
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_array_literals.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useArrayLiterals/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useArrayLiterals/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useArrayLiterals/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useArrayLiterals/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#2591 feat: no useless undefined initialization
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_useless_undefined_initialization.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessUndefinedInitialization/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessUndefinedInitialization/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUselessUndefinedInitialization/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessUndefinedInitialization/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#2609 fix(lint/noRedundantAlt): rule source
  crates/biome_js_analyze/src/lint/a11y/no_redundant_alt.rs
Labels: A-Linter, L-JavaScript

#2605 feat: add `useDefaultSwitchClause` rule
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_default_switch_clause.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useDefaultSwitchClause/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useDefaultSwitchClause/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useDefaultSwitchClause/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useDefaultSwitchClause/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#2615 fix(lint/noRedeclare): handle function and call overloads
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/suspicious/no_redeclare.rs
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/invalid.jsonc.snap
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/invalid.ts
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/valid-declaration-merging.ts
  crates/biome_js_analyze/tests/specs/suspicious/noRedeclare/valid-declaration-merging.ts.snap
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_semantic/src/semantic_model/builder.rs
  crates/biome_js_syntax/src/binding_ext.rs
Labels: A-Linter, A-Parser, L-JavaScript, A-Changelog

#2619 fix(js_semantic_model): handle bogus conditional type
  CHANGELOG.md
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/unusedInferBogusConditional.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/unusedInferBogusConditional.ts.snap
  crates/biome_js_semantic/src/events.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#2628 fix(js_formatter): correctly format nested union type
  CHANGELOG.md
  crates/biome_js_formatter/src/ts/types/union_type.rs
  crates/biome_js_formatter/src/utils/assignment_like.rs
  crates/biome_js_formatter/tests/specs/prettier/typescript/union/consistent-with-flow/single-type.ts
  crates/biome_js_formatter/tests/specs/prettier/typescript/union/consistent-with-flow/single-type.ts.snap
  crates/biome_js_formatter/tests/specs/ts/type/union_type.ts
  crates/biome_js_formatter/tests/specs/ts/type/union_type.ts.snap
Labels: A-Formatter, L-JavaScript, A-Changelog

#2632 refactor: use TriviaPiece factory functions in more places
  crates/biome_analyze/src/matcher.rs
  crates/biome_js_analyze/src/ast_utils.rs
  crates/biome_js_analyze/src/lint/style/use_consistent_array_type.rs
  crates/biome_js_analyze/src/lint/style/use_shorthand_array_type.rs
  crates/biome_js_factory/src/make.rs
  crates/biome_rowan/src/cursor/trivia.rs
Labels: A-Core, A-Linter, L-JavaScript

#2647 fix: `noUndeclaredVariables` no longer errors on `this` in JSX tags
  CHANGELOG.md
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/thisInJsx.jsx
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/thisInJsx.jsx.snap
  crates/biome_js_parser/src/syntax/jsx/mod.rs
Labels: A-Linter, A-Parser, L-JavaScript, A-Changelog

#2648 fix(lint/noUndeclaredVariables): don't report variable-only/type-only exports
  CHANGELOG.md
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/validExportDefaultInAmbientModule.ts
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/validExportDefaultInAmbientModule.ts.snap
  crates/biome_js_semantic/src/events.rs
Labels: A-Linter, L-JavaScript, A-Changelog

#2649 fix: handle missing quote followed by a newline
  CHANGELOG.md
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_grit_parser/src/lexer/mod.rs
  crates/biome_html_parser/src/lexer/mod.rs
  crates/biome_js_parser/src/lexer/mod.rs
  crates/biome_js_parser/test_data/inline/err/literals.rast
  crates/biome_js_parser/test_data/inline/err/unterminated_string.jsx
  crates/biome_js_parser/test_data/inline/err/unterminated_string.rast
  crates/biome_json_formatter/tests/specs/prettier/json/json/json5.json.snap
  crates/biome_json_parser/src/lexer/mod.rs
  crates/biome_json_parser/tests/json_test_suite/err/issue2606.json
  crates/biome_json_parser/tests/json_test_suite/err/issue2606.json.snap
  crates/biome_json_parser/tests/json_test_suite/err/string_unescaped_newline.json.snap
  crates/biome_json_parser/tests/json_test_suite/err/structure_open_object_with_key_open_string.json.snap
Labels: A-Parser, A-Formatter, L-JavaScript, L-CSS, L-JSON, A-Changelog

#2650 fix(snippet): should emit only one diagnostic
  crates/biome_js_analyze/src/lint/nursery/no_useless_undefined_initialization.rs
Labels: A-Linter, L-JavaScript

#2586 chore: add infrastructure for Grit engine
  Cargo.lock
  Cargo.toml
  crates/biome_grit_patterns/Cargo.toml
  crates/biome_grit_patterns/src/grit_binding.rs
  crates/biome_grit_patterns/src/grit_code_snippet.rs
  crates/biome_grit_patterns/src/grit_context.rs
  crates/biome_grit_patterns/src/grit_file.rs
  crates/biome_grit_patterns/src/grit_language.rs
  crates/biome_grit_patterns/src/grit_node.rs
  crates/biome_grit_patterns/src/grit_node_patterns.rs
  crates/biome_grit_patterns/src/grit_tree.rs
  crates/biome_grit_patterns/src/lib.rs
  crates/biome_grit_patterns/src/parse.rs
  crates/biome_grit_patterns/src/pattern.rs
  crates/biome_grit_patterns/src/resolved_pattern.rs
  crates/biome_service/Cargo.toml
Labels: A-Project

#2653 docs: fix typos in biome_rowan batch mutation
  crates/biome_rowan/src/ast/batch.rs
Labels: A-Core

#2629 fix(lint): rule `noMisplacedAssertion`
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/nursery/no_misplaced_assertion.rs
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noMisplacedAssertion/valid.js.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#2654 ci: accept prefix 'revert:' in PR titles
  .github/workflows/pull_request_title_lint.yaml
  CONTRIBUTING.md
Labels: A-Changelog

#2657 build(deps): update
  Cargo.lock
  Cargo.toml
  crates/biome_aria_metadata/Cargo.toml
  crates/biome_cli/Cargo.toml
  crates/biome_console/Cargo.toml
  crates/biome_diagnostics/Cargo.toml
  crates/biome_formatter/Cargo.toml
  crates/biome_formatter_test/Cargo.toml
  crates/biome_fs/Cargo.toml
  crates/biome_grit_syntax/Cargo.toml
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_formatter/Cargo.toml
  crates/biome_js_parser/Cargo.toml
  crates/biome_js_semantic/Cargo.toml
  crates/biome_lsp/Cargo.toml
  crates/biome_rowan/Cargo.toml
  crates/biome_rowan/src/arc.rs
  crates/biome_test_utils/Cargo.toml
  crates/tests_macros/Cargo.toml
  xtask/bench/Cargo.toml
  xtask/codegen/Cargo.toml
  xtask/contributors/Cargo.toml
  xtask/coverage/Cargo.toml
  xtask/libs_bench/Cargo.toml
Labels: A-CLI, A-Core, A-Linter, A-Parser, A-Formatter, A-Tooling, A-LSP, L-JavaScript, A-Diagnostic

#2651 release: v1.7.2
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/correctness/no_invalid_new_builtin.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_react_specific_props.rs
  crates/biome_js_analyze/src/lint/nursery/no_useless_undefined_initialization.rs
  crates/biome_js_analyze/src/lint/nursery/use_array_literals.rs
  crates/biome_js_analyze/src/lint/nursery/use_consistent_builtin_instatiation.rs
  crates/biome_js_analyze/src/lint/nursery/use_default_switch_clause.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/thisInJsx.jsx
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/thisInJsx.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentBuiltinInstatiation/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useConsistentBuiltinInstatiation/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentBuiltinInstatiation/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useConsistentBuiltinInstatiation/valid.js.snap
  crates/biome_js_parser/src/syntax/jsx/mod.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  packages/@biomejs/biome/package.json
Labels: A-CLI, A-Project, A-Linter, A-Parser, L-JavaScript, A-Diagnostic, A-Changelog
