Repository biomejs/biome, pull requests merged in 2024-12, with the labels that each got.

#4649 feat(analyzer): range suppressions
  Cargo.lock
  crates/biome_analyze/Cargo.toml
  crates/biome_analyze/src/diagnostics.rs
  crates/biome_analyze/src/lib.rs
  crates/biome_analyze/src/suppressions.rs
  crates/biome_cli/tests/cases/suppressions.rs
  crates/biome_cli/tests/snapshots/main_cases_suppressions/misplaced_top_level_suppression.snap
  crates/biome_cli/tests/snapshots/main_cases_suppressions/unused_range_suppression.snap
  crates/biome_js_analyze/src/lib.rs
  crates/biome_suppression/src/lib.rs
Labels: A-CLI, A-Core, A-Linter, L-JavaScript

#4669 chore: use `papaya` in `PathInterner`
  Cargo.lock
  Cargo.toml
  crates/biome_fs/Cargo.toml
  crates/biome_fs/src/interner.rs
Labels: A-CLI, A-Core

#4664 refactor: remove the `all` option
  .changeset/remove_the_option_all_from_the_linter.md
  crates/biome_cli/src/commands/rage.rs
  crates/biome_cli/tests/cases/config_extends.rs
  crates/biome_cli/tests/cases/handle_css_files.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_cases_assists/assist_emit_diagnostic.snap
  crates/biome_cli/tests/snapshots/main_cases_assists/assist_writes.snap
  crates/biome_cli/tests/snapshots/main_cases_config_extends/extends_config_ok_linter_not_formatter.snap
  crates/biome_cli/tests/snapshots/main_cases_config_path/set_config_path.snap
  crates/biome_cli/tests/snapshots/main_cases_diagnostics/max_diagnostics.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_css_files/should_lint_files_by_when_enabled.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_css_files/should_not_lint_files_by_default.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_js_files_write.snap
  crates/biome_cli/tests/snapshots/main_cases_included_files/does_handle_if_included_in_formatter.snap
  crates/biome_cli/tests/snapshots/main_cases_included_files/does_lint_included_files.snap
  crates/biome_cli/tests/snapshots/main_cases_included_files/does_organize_imports_of_included_files.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/does_include_file_with_different_languages_and_files.snap
  crates/biome_cli/tests/snapshots/main_commands_check/all_rules.snap
  crates/biome_cli/tests/snapshots/main_commands_check/max_diagnostics.snap
  crates/biome_cli/tests/snapshots/main_commands_check/max_diagnostics_default.snap
  crates/biome_cli/tests/snapshots/main_commands_check/top_level_all_down_level_not_all.snap
  crates/biome_cli/tests/snapshots/main_commands_check/top_level_not_all_down_level_all.snap
  crates/biome_cli/tests/snapshots/main_commands_format/applies_custom_css_quote_style.snap
  crates/biome_cli/tests/snapshots/main_commands_format/does_not_format_non_included_and_ignored_files.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/fs_files_ignore_symlink.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/max_diagnostics.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/max_diagnostics_default.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/no_unused_dependencies.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/top_level_all_false_group_level_all_true.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/top_level_all_true.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/top_level_all_true_group_level_all_false.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/top_level_all_true_group_level_empty.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/top_level_recommended_true_group_level_all_false.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/eslint_migrate.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_linter_configuration.snap
  crates/biome_cli/tests/snapshots/main_configuration/incorrect_rule_name.snap
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_migrate/src/analyzers.rs
  crates/biome_migrate/src/analyzers/all.rs
  crates/biome_migrate/tests/specs/migrations/all/group_level.json
  crates/biome_migrate/tests/specs/migrations/all/group_level.json.snap
  crates/biome_migrate/tests/specs/migrations/all/top_level.json
  crates/biome_migrate/tests/specs/migrations/all/top_level.json.snap
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI, A-Project, A-Tooling

#4681 refactor: cleaned up workspaceError enum in biome_service/diagnostics.rs
  crates/biome_service/src/diagnostics.rs
Labels: A-Project

#4693 fix(noLabelWithoutControl): add button tags in default input components
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/a11y/no_label_without_control.rs
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/valid.jsx
  crates/biome_js_analyze/tests/specs/a11y/noLabelWithoutControl/valid.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4687 refactor: get rule severity from metadata severity
  crates/biome_cli/tests/snapshots/main_cases_graphql/lint_single_rule.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_rule_with_config.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_rule_with_recommended_disabled.snap
  crates/biome_configuration/src/analyzer/assist/actions.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/tests/invalid/recommended_and_all.json
  crates/biome_service/tests/invalid/recommended_and_all.json.snap
  crates/biome_service/tests/invalid/recommended_and_all_in_group.json
  crates/biome_service/tests/invalid/recommended_and_all_in_group.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI, A-Project, A-Tooling

#4691 chore: add some comments for selector list formatted
  crates/biome_css_formatter/src/css/lists/selector_list.rs
  crates/biome_css_formatter/src/css/selectors/complex_selector.rs
Labels: A-Formatter, L-CSS

#4689 feat(linter): add NoUnknownAtRule
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_unknown_at_rule.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noUnknownAtRule/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownAtRule/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noUnknownAtRule/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownAtRule/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-CSS, A-Diagnostic

#4682 refactor: add `Workspace` scanner
  Cargo.lock
  Cargo.toml
  biome.json
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/process_file/workspace_file.rs
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/snap_test.rs
  crates/biome_cli/tests/snapshots/main_cases_diagnostics/max_diagnostics_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_check/print_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_check/print_verbose_write.snap
  crates/biome_cli/tests/snapshots/main_commands_check/unsupported_file_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/print_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/print_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/unsupported_file_verbose.snap
  crates/biome_fs/src/interner.rs
  crates/biome_lsp/src/handlers/text_document.rs
  crates/biome_lsp/src/server.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/lib.rs
  crates/biome_service/src/scanner.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/client.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/tests/workspace.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/backend-jsonrpc/tests/workspace.test.mjs
  packages/@biomejs/js-api/src/index.ts
Labels: A-CLI, A-Core, A-Project, A-LSP

#4696 chore: drop `slotmap` and simplify locking
  Cargo.lock
  Cargo.toml
  crates/biome_service/Cargo.toml
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/lib.rs
  crates/biome_service/src/matcher/mod.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  xtask/rules_check/src/lib.rs
Labels: A-Project, A-Tooling

#4692 fix(linter): useSortedClasses false positive #3394
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/sort.rs
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/issue_3394.jsx
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/issue_3394.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4729 feat(format/html): opt out of formatting for `pre`, `script` and `style` tags
  crates/biome_formatter/src/format_element/tag.rs
  crates/biome_formatter/src/prelude.rs
  crates/biome_formatter/src/verbatim.rs
  crates/biome_html_formatter/src/html/auxiliary/element.rs
  crates/biome_html_formatter/src/prelude.rs
  crates/biome_html_formatter/tests/specs/html/elements/pre.html
  crates/biome_html_formatter/tests/specs/html/elements/pre.html.snap
Labels: A-Formatter, L-HTML

#4724 fix(analyzer): don't use organize imports implicitly
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/snapshots/main_cases_diagnostics/diagnostic_level.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/sorts_imports_check.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/sorts_imports_check.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/sorts_imports_check.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_check_command.snap
  crates/biome_cli/tests/snapshots/main_commands_check/applies_organize_imports_bug_4552.snap
  crates/biome_cli/tests/snapshots/main_commands_check/dont_applies_organize_imports_for_ignored_file.snap
  crates/biome_cli/tests/snapshots/main_commands_check/shows_organize_imports_diff_on_check.snap
  crates/biome_lsp/tests/server.rs
  crates/biome_service/src/file_handlers/mod.rs
Labels: A-CLI, A-Project, A-LSP

#4735 refactor: protect scanned files against closing by LSP
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/process_file/workspace_file.rs
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_fs/src/path.rs
  crates/biome_lsp/src/handlers/text_document.rs
  crates/biome_lsp/src/server.rs
  crates/biome_service/src/lib.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/tests/workspace.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-CLI, A-Core, A-Project, A-LSP

#4749 fix(migrate-eslint): allow null in file lists
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_eslint.rs
  crates/biome_cli/src/execute/migrate/eslint_to_biome.rs
  crates/biome_cli/tests/commands/migrate_eslint.rs
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_merge_with_overrides.snap
  crates/biome_deserialize/src/impls.rs
Labels: A-CLI, A-Changelog

#4731 feat(lint): add `noUnwantedPolyfillio`
  .changeset/add_the_new_rule_nounwantedpolyfillio.md
  CHANGELOG.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_unwanted_polyfillio.rs
  crates/biome_js_analyze/src/nextjs.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noUnwantedPolyfillio/invalid-next-script.jsx
  crates/biome_js_analyze/tests/specs/nursery/noUnwantedPolyfillio/invalid-next-script.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noUnwantedPolyfillio/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noUnwantedPolyfillio/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noUnwantedPolyfillio/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noUnwantedPolyfillio/valid.jsx.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, A-Changelog

#4524 feat: implement `useParseIntRadix` - `eslint/radix` (#3932)
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_parse_int_radix.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useParseIntRadix/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useParseIntRadix/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useParseIntRadix/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useParseIntRadix/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#4738 refactor: track too large files inside workspace server
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/tests/workspace.rs
Labels: A-Project

#4699 feat(linter): support class sorting for `tw.div`
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/any_class_string_like.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/codeOptionsSorted.options.json
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/codeOptionsUnsorted.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/codeOptionsUnsorted.options.json
  crates/biome_js_syntax/src/jsx_ext.rs
Labels: A-Linter, A-Parser, L-JavaScript, A-Changelog

#4758 docs(noRestrictedImports): update version notice
  crates/biome_js_analyze/src/lint/nursery/no_restricted_imports.rs
Labels: A-Linter, L-JavaScript

#4771 fix(json): treat `tsconfig.*.json` files as well known, allow comments and trailing comments by default
  .changeset/tsconfigjson_files_will_now_be_treated_the_same_as_tsconfigjson_files.md
  crates/biome_json_syntax/src/file_source.rs
Labels: A-Parser, L-JSON

#4772 perf: use `AppendOnlyVec` for `file_sources`
  Cargo.lock
  crates/biome_service/Cargo.toml
  crates/biome_service/src/workspace/server.rs
Labels: A-Project

#4774 ci: fix formatting
  crates/biome_js_analyze/src/lint/nursery/no_restricted_imports.rs
Labels: A-Linter, L-JavaScript

#4766 refactor: remove deprecated rules
  .changeset/remove_deprecaterd_rules.md
  .changeset/the_rule_noconsolelog_has_been_removed.md
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/suspicious.rs
  crates/biome_js_analyze/src/lint/suspicious/no_console_log.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/suspicious/noConsoleLog/invalid.js
  crates/biome_js_analyze/tests/specs/suspicious/noConsoleLog/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noConsoleLog/valid.js
  crates/biome_js_analyze/tests/specs/suspicious/noConsoleLog/valid.js.snap
  crates/biome_migrate/src/analyzers.rs
  crates/biome_migrate/src/analyzers/deleted_rules.rs
  crates/biome_migrate/src/rule_mover.rs
  crates/biome_migrate/tests/specs/migrations/deletedRules/invalid.json
  crates/biome_migrate/tests/specs/migrations/deletedRules/invalid.json.snap
  crates/biome_migrate/tests/specs/migrations/deletedRules/invalid.version.txt
  crates/biome_migrate/tests/specs/migrations/deletedRules/invalid_with_level.json
  crates/biome_migrate/tests/specs/migrations/deletedRules/invalid_with_level.json.snap
  crates/biome_migrate/tests/specs/migrations/deletedRules/invalid_with_level.version.txt
  crates/biome_migrate/tests/specs/migrations/noVar/invalid.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/empty.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_linter.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_rules.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_style_rule.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_styles.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript, A-Diagnostic

#4763 fix(noUselessFragments): fix Infinite loop case
  CHANGELOG.md
  crates/biome_js_analyze/src/lint/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_4208.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_4208.jsx.snap
Labels: A-Linter, L-JavaScript, A-Changelog

#4793 feat(css_parser): parse @position-try and @view-transition at-rules
  crates/biome_css_analyze/tests/specs/nursery/noUnknownAtRule/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noUnknownAtRule/valid.css.snap
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/at_rule.rs
  crates/biome_css_formatter/src/css/statements/mod.rs
  crates/biome_css_formatter/src/css/statements/position_try_at_rule.rs
  crates/biome_css_formatter/src/css/statements/view_transition_at_rule.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_parser/src/lexer/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/position_try.rs
  crates/biome_css_parser/src/syntax/at_rule/view_transition.rs
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_position_try.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_position_try.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_view_transition.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_view_transition.css.snap
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Linter, A-Parser, A-Formatter, A-Tooling, L-CSS

#4800 fix(biome_diagnostics_categories): fix incorrect URLs for linter rules
  crates/biome_diagnostics_categories/src/categories.rs
Labels: A-Diagnostic

#4790 feat(html): plumbing for new HTML options, make `bracket_same_line` global
  Cargo.lock
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_end_of_line.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_fix.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_jsonc.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_overrides.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_with_ignore.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_write.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_write_biome_jsonc.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_write_packagejson.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_write_with_ignore_file.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettierjson_migrate_write.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_formatter_configuration.snap
  crates/biome_configuration/src/formatter.rs
  crates/biome_configuration/src/javascript/formatter.rs
  crates/biome_configuration/src/overrides.rs
  crates/biome_configuration/tests/invalid/formatter_extraneous_field.json.snap
  crates/biome_configuration/tests/invalid/formatter_quote_style.json.snap
  crates/biome_css_formatter/src/context.rs
  crates/biome_formatter/src/format_element/document.rs
  crates/biome_formatter/src/lib.rs
  crates/biome_graphql_formatter/src/context.rs
  crates/biome_grit_formatter/src/context.rs
  crates/biome_html_formatter/Cargo.toml
  crates/biome_html_formatter/src/context.rs
  crates/biome_html_formatter/tests/specs/html/attributes/break.html.snap
  crates/biome_html_formatter/tests/specs/html/attributes/no-break.html.snap
  crates/biome_html_formatter/tests/specs/html/attributes/self-closing.html.snap
  crates/biome_html_formatter/tests/specs/html/attributes/single-quotes.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/pre.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/spacing/case0.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/spacing/case1.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/spacing/case2.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/spacing/case3.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/spacing/case4.html.snap
  crates/biome_html_formatter/tests/specs/html/example.html.snap
  crates/biome_html_formatter/tests/specs/html/long-content.html.snap
  crates/biome_html_formatter/tests/specs/html/many-children.html.snap
  crates/biome_html_formatter/tests/specs/html/self-closing.html.snap
  crates/biome_js_formatter/src/context.rs
  crates/biome_json_formatter/src/context.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/file_handlers/html.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/settings.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Formatter, L-JavaScript, L-CSS, L-JSON, L-HTML, L-Grit

#4801 refactor: cargo features
  Cargo.lock
  Cargo.toml
  crates/biome_analyze/Cargo.toml
  crates/biome_analyze/src/categories.rs
  crates/biome_analyze/src/rule.rs
  crates/biome_configuration/Cargo.toml
  crates/biome_console/Cargo.toml
  crates/biome_console/src/markup.rs
  crates/biome_diagnostics/Cargo.toml
  crates/biome_diagnostics_categories/Cargo.toml
  crates/biome_diagnostics_categories/build.rs
  crates/biome_fs/Cargo.toml
  crates/biome_fs/src/path.rs
  crates/biome_glob/Cargo.toml
  crates/biome_glob/src/lib.rs
  crates/biome_grit_patterns/Cargo.toml
  crates/biome_grit_patterns/src/grit_target_language.rs
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_formatter/Cargo.toml
  crates/biome_js_formatter/src/context.rs
  crates/biome_js_formatter/src/context/trailing_commas.rs
  crates/biome_js_parser/Cargo.toml
  crates/biome_js_parser/src/options.rs
  crates/biome_json_formatter/Cargo.toml
  crates/biome_json_formatter/src/context.rs
  crates/biome_rowan/Cargo.toml
  crates/biome_service/Cargo.toml
  crates/biome_text_edit/Cargo.toml
  crates/biome_text_edit/src/lib.rs
  crates/biome_text_size/Cargo.toml
  crates/biome_text_size/src/lib.rs
Labels: A-CLI, A-Core, A-Project, A-Linter, A-Parser, A-Formatter, L-JavaScript, L-JSON, A-Diagnostic, L-Grit

#4815 docs: redact incorrect docs
  crates/biome_js_analyze/src/lint/correctness/no_unused_variables.rs
Labels: A-Linter, L-JavaScript

#4814 feat(cli): better header in diagnostics
  Cargo.lock
  Cargo.toml
  crates/biome_cli/Cargo.toml
  crates/biome_cli/src/commands/rage.rs
  crates/biome_cli/src/service/unix.rs
  crates/biome_cli/src/service/windows.rs
  crates/biome_cli/tests/snapshots/main_commands_rage/with_formatter_configuration.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_linter_configuration.snap
  crates/biome_console/src/lib.rs
  crates/biome_console/src/utils.rs
  crates/biome_diagnostics/Cargo.toml
  crates/biome_diagnostics/src/display.rs
  crates/biome_formatter/src/lib.rs
Labels: A-CLI, A-Formatter, A-Diagnostic

#4810 fix(css_semantic): semantic event for css supports at-rule
  CHANGELOG.md
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateProperties/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateProperties/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateProperties/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noDuplicateProperties/valid.css.snap
  crates/biome_css_semantic/src/events.rs
Labels: A-Linter, L-CSS, A-Changelog
