Repository biomejs/biome, pull requests merged in 2025-10, with the labels that each got.

#7623 docs: fix correct graphql references
  crates/biome_analyze/src/rule.rs
  crates/biome_graphql_analyze/src/lint/style/use_graphql_naming_convention.rs
Labels: A-Linter

#7642 chore: upgrade to rust 1.90.0
  crates/biome_css_parser/src/syntax/at_rule/keyframes.rs
  crates/biome_json_formatter/tests/language.rs
  rust-toolchain.toml
Labels: A-Parser, A-Formatter, L-CSS, L-JSON

#7599 feat: add 'auto' mode to lineEndings
  .changeset/warm-insects-dress.md
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_configuration/src/css.rs
  crates/biome_configuration/src/formatter.rs
  crates/biome_configuration/src/generated/domain_selector.rs
  crates/biome_configuration/src/graphql.rs
  crates/biome_configuration/src/html.rs
  crates/biome_configuration/src/javascript/formatter.rs
  crates/biome_configuration/src/json.rs
  crates/biome_configuration/src/overrides.rs
  crates/biome_formatter/src/lib.rs
  crates/biome_formatter/src/printer/mod.rs
  crates/biome_formatter_test/src/spec.rs
  crates/biome_grit_patterns/src/grit_target_language/css_target_language/generated_mappings.rs
  crates/biome_js_formatter/tests/specs/js/module/line-ending/auto/line_ending.js
  crates/biome_js_formatter/tests/specs/js/module/line-ending/auto/line_ending.js.snap
  crates/biome_js_formatter/tests/specs/js/module/line-ending/auto/options.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Formatter, L-JavaScript, L-Grit

#7678 fix: replace domains polyfill.io to Cloudflare
  crates/biome_js_analyze/src/lint/performance/no_unwanted_polyfillio.rs
Labels: A-Linter, L-JavaScript

#7670 feat(core): apply code fixes in snippets
  Cargo.lock
  crates/biome_cli/tests/cases/html.rs
  crates/biome_cli/tests/snapshots/main_cases_html/should_apply_fixes_to_embedded_languages.snap
  crates/biome_cli/tests/snapshots/main_cases_html/should_pull_diagnostics_from_embedded_languages_when_linting.snap
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_configuration/src/generated/domain_selector.rs
  crates/biome_html_syntax/src/element_ext.rs
  crates/biome_html_syntax/src/file_source.rs
  crates/biome_parser/src/lib.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/file_handlers/astro.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/grit.rs
  crates/biome_service/src/file_handlers/html.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/file_handlers/svelte.rs
  crates/biome_service/src/file_handlers/vue.rs
  crates/biome_service/src/workspace/document.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-CLI, A-Project, A-Parser, L-HTML

#7685 fix(css_analyze): handle CSS Modules pseudo-class 'local' in NoUnknownPseudoClass rule (#6981)
  .changeset/big-pans-begin.md
  crates/biome_css_analyze/src/keywords.rs
  crates/biome_css_analyze/src/lint/correctness/no_unknown_pseudo_class.rs
  crates/biome_css_analyze/src/utils.rs
  crates/biome_css_analyze/tests/spec_tests.rs
  crates/biome_css_analyze/tests/specs/correctness/noUnknownPseudoClass/validGlobal.css
  crates/biome_css_analyze/tests/specs/correctness/noUnknownPseudoClass/validGlobal.css.snap
Labels: A-Linter, L-CSS

#7699 fix: incorrect logic for CSS fix all
  crates/biome_service/src/file_handlers/css.rs
Labels: A-Project

#6356 feat(reporter): add checkstyle
  .changeset/light-women-live.md
  crates/biome_cli/src/cli_options.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/reporter/checkstyle.rs
  crates/biome_cli/src/reporter/mod.rs
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/cases/reporter_checkstyle.rs
  crates/biome_cli/tests/snapshots/main_cases_reporter_checkstyle/reports_diagnostics_checkstyle_check_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_checkstyle/reports_diagnostics_checkstyle_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_checkstyle/reports_diagnostics_checkstyle_format_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_checkstyle/reports_diagnostics_checkstyle_lint_command.snap
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/migrate_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/rage_help.snap
Labels: A-CLI
