Repository biomejs/biome, pull requests merged in 2025-09, with the labels that each got.

#7358 fix(noDescendingSpecificity): compute nested selectors
  .changeset/beige-groups-wonder.md
  Cargo.lock
  crates/biome_css_analyze/src/lint/style/no_descending_specificity.rs
  crates/biome_css_analyze/tests/specs/style/noDescendingSpecificity/complex_selector.invalid.css
  crates/biome_css_analyze/tests/specs/style/noDescendingSpecificity/complex_selector.invalid.css.snap
  crates/biome_css_analyze/tests/specs/style/noDescendingSpecificity/function_pseudo_selector.invalid.css
  crates/biome_css_analyze/tests/specs/style/noDescendingSpecificity/function_pseudo_selector.invalid.css.snap
  crates/biome_css_analyze/tests/specs/style/noDescendingSpecificity/nested.invalid.css
  crates/biome_css_analyze/tests/specs/style/noDescendingSpecificity/nested.invalid.css.snap
  crates/biome_css_analyze/tests/specs/style/noDescendingSpecificity/simple_pseudo_selector.invalid.css
  crates/biome_css_analyze/tests/specs/style/noDescendingSpecificity/simple_pseudo_selector.invalid.css.snap
  crates/biome_css_analyze/tests/specs/style/noDescendingSpecificity/valid_issue_7085.css
  crates/biome_css_analyze/tests/specs/style/noDescendingSpecificity/valid_issue_7085.css.snap
  crates/biome_css_semantic/Cargo.toml
  crates/biome_css_semantic/src/events.rs
  crates/biome_css_semantic/src/format_semantic_model.rs
  crates/biome_css_semantic/src/lib.rs
  crates/biome_css_semantic/src/semantic_model/builder.rs
  crates/biome_css_semantic/src/semantic_model/mod.rs
  crates/biome_css_semantic/src/semantic_model/model.rs
  crates/biome_css_semantic/src/semantic_model/specificity.rs
  crates/biome_css_syntax/Cargo.toml
  crates/biome_css_syntax/src/lib.rs
  crates/biome_css_syntax/src/selector_ext.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/file_handlers/css.rs
Labels: A-Project, A-Linter, A-Parser, L-CSS

#7311 feat(biome_js_analyze): add `noUselessCatchBinding`
  .changeset/pink-coats-jog.md
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_useless_catch_binding.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessCatchBinding/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessCatchBinding/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUselessCatchBinding/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noUselessCatchBinding/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noUselessCatchBinding/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessCatchBinding/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUselessCatchBinding/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noUselessCatchBinding/valid.ts.snap
  crates/biome_rule_options/src/lib.rs
  crates/biome_rule_options/src/no_useless_catch_binding.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript, A-Diagnostic

#7373 feat(lint/vue): implement `useVueMultiWordComponentNames`
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/frameworks/vue/vue_component.rs
  crates/biome_js_analyze/src/frameworks/vue/vue_component/component_name.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_vue_data_object_declaration.rs
  crates/biome_js_analyze/src/lint/nursery/no_vue_reserved_keys.rs
  crates/biome_js_analyze/src/lint/nursery/no_vue_reserved_props.rs
  crates/biome_js_analyze/src/lint/nursery/use_vue_multi_word_component_names.rs
  crates/biome_js_analyze/tests/specs/nursery/useVueMultiWordComponentNames/ValidPascalCase.vue
  crates/biome_js_analyze/tests/specs/nursery/useVueMultiWordComponentNames/ValidPascalCase.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/useVueMultiWordComponentNames/invalid-has-name.vue
  crates/biome_js_analyze/tests/specs/nursery/useVueMultiWordComponentNames/invalid-has-name.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/useVueMultiWordComponentNames/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useVueMultiWordComponentNames/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useVueMultiWordComponentNames/invalid.vue
  crates/biome_js_analyze/tests/specs/nursery/useVueMultiWordComponentNames/invalid.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/useVueMultiWordComponentNames/valid-kebab-case.vue
  crates/biome_js_analyze/tests/specs/nursery/useVueMultiWordComponentNames/valid-kebab-case.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/useVueMultiWordComponentNames/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useVueMultiWordComponentNames/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useVueMultiWordComponentNames/with-ignore/options.json
  crates/biome_js_analyze/tests/specs/nursery/useVueMultiWordComponentNames/with-ignore/valid-ignored.js
  crates/biome_js_analyze/tests/specs/nursery/useVueMultiWordComponentNames/with-ignore/valid-ignored.js.snap
  crates/biome_rule_options/src/lib.rs
  crates/biome_rule_options/src/use_vue_multi_word_component_names.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#7387 fix(useOptionalChain): support Yoda expressions
  .changeset/big-keys-play.md
  crates/biome_js_analyze/src/lint/complexity/use_optional_chain.rs
  crates/biome_js_analyze/tests/specs/complexity/useOptionalChain/yoda_expressions_logicalAndCases3.js
  crates/biome_js_analyze/tests/specs/complexity/useOptionalChain/yoda_expressions_logicalAndCases3.js.snap
  crates/biome_js_analyze/tests/specs/complexity/useOptionalChain/yoda_expressions_logicalAndCases4.js
  crates/biome_js_analyze/tests/specs/complexity/useOptionalChain/yoda_expressions_logicalAndCases4.js.snap
  crates/biome_js_analyze/tests/specs/complexity/useOptionalChain/yoda_expressions_logicalAndCases5.js
  crates/biome_js_analyze/tests/specs/complexity/useOptionalChain/yoda_expressions_logicalAndCases5.js.snap
  crates/biome_js_analyze/tests/specs/complexity/useOptionalChain/yoda_expressions_logicalAndCases6.jsx
  crates/biome_js_analyze/tests/specs/complexity/useOptionalChain/yoda_expressions_logicalAndCases6.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/useOptionalChain/yoda_expressions_validCases.ts
  crates/biome_js_analyze/tests/specs/complexity/useOptionalChain/yoda_expressions_validCases.ts.snap
  crates/biome_js_syntax/src/expr_ext.rs
Labels: A-Linter, A-Parser, L-JavaScript

#7393 fix(core): improve inference with conditionals
  crates/biome_analyze/src/options.rs
  crates/biome_js_type_info/src/conditionals.rs
  crates/biome_js_type_info/src/helpers.rs
  crates/biome_js_type_info/src/lib.rs
  crates/biome_js_type_info/src/type.rs
  crates/biome_js_type_info/tests/conditionals.rs
  crates/biome_js_type_info/tests/snapshots/test_reference_to_falsy_subset_of.snap
  crates/biome_module_graph/tests/spec_tests.rs
Labels: A-Project, A-Linter, L-JavaScript, A-Type-Inference

#7369 refactor(analyze): integrate plugin as a syntax visitor
  .changeset/fresh-terms-carry.md
  Cargo.lock
  crates/biome_analyze/src/analyzer_plugin.rs
  crates/biome_analyze/src/lib.rs
  crates/biome_analyze/src/matcher.rs
  crates/biome_analyze/src/registry.rs
  crates/biome_analyze/src/suppressions.rs
  crates/biome_css_analyze/src/lib.rs
  crates/biome_css_analyze/tests/plugin/useLowercaseColorsSuppression.css
  crates/biome_css_analyze/tests/plugin/useLowercaseColorsSuppression.grit
  crates/biome_css_analyze/tests/plugin/useLowercaseColorsSuppression.grit.snap
  crates/biome_grit_patterns/src/grit_query.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/tests/plugin/preferObjectSpreadSuppression.grit.snap
  crates/biome_js_analyze/tests/plugin/preferObjectSpreadSuppressionAll.grit.snap
  crates/biome_plugin_loader/Cargo.toml
  crates/biome_plugin_loader/src/analyzer_grit_plugin.rs
  crates/biome_plugin_loader/src/analyzer_js_plugin.rs
  crates/biome_rowan/src/lib.rs
  crates/biome_rowan/src/syntax.rs
  crates/biome_rowan/src/syntax/node.rs
  crates/biome_service/src/snapshots/biome_service__workspace__tests__plugins_are_loaded_and_used_during_analysis.snap
  crates/biome_service/src/snapshots/biome_service__workspace__tests__plugins_may_use_invalid_span.snap
Labels: A-Core, A-Project, A-Linter, L-JavaScript, L-CSS, L-Grit

#7275 fix(cli): files in ignored folders are now correctly ignored
  .changeset/ancient-ancestors-ascent.md
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/cases/included_files.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_cases_included_files/does_not_handle_files_in_ignored_folder.snap
  crates/biome_service/src/projects.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-CLI, A-Project

#7142 feat(analyse/json): add `noDuplicateDependencies` rule
  .changeset/seven-bats-write.md
  crates/biome_analyze/src/rule.rs
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_json_analyze/src/lint.rs
  crates/biome_json_analyze/src/lint/nursery.rs
  crates/biome_json_analyze/src/lint/nursery/no_duplicate_dependencies.rs
  crates/biome_json_analyze/tests/specs/nursery/noDuplicateDependencies/invalid/bundleDependencies/package.json
  crates/biome_json_analyze/tests/specs/nursery/noDuplicateDependencies/invalid/bundleDependencies/package.json.snap
  crates/biome_json_analyze/tests/specs/nursery/noDuplicateDependencies/invalid/dependencies-devDependencies/package.json
  crates/biome_json_analyze/tests/specs/nursery/noDuplicateDependencies/invalid/dependencies-devDependencies/package.json.snap
  crates/biome_json_analyze/tests/specs/nursery/noDuplicateDependencies/invalid/dependencies-optionalDependencies/package.json
  crates/biome_json_analyze/tests/specs/nursery/noDuplicateDependencies/invalid/dependencies-optionalDependencies/package.json.snap
  crates/biome_json_analyze/tests/specs/nursery/noDuplicateDependencies/invalid/dependencies-peerDependencies/package.json
  crates/biome_json_analyze/tests/specs/nursery/noDuplicateDependencies/invalid/dependencies-peerDependencies/package.json.snap
  crates/biome_json_analyze/tests/specs/nursery/noDuplicateDependencies/invalid/dependencies/package.json
  crates/biome_json_analyze/tests/specs/nursery/noDuplicateDependencies/invalid/dependencies/package.json.snap
  crates/biome_json_analyze/tests/specs/nursery/noDuplicateDependencies/invalid/optionalDependencies-peerDependencies/package.json
  crates/biome_json_analyze/tests/specs/nursery/noDuplicateDependencies/invalid/optionalDependencies-peerDependencies/package.json.snap
  crates/biome_json_analyze/tests/specs/nursery/noDuplicateDependencies/valid/optionalDependencies-devDependencies/package.json
  crates/biome_json_analyze/tests/specs/nursery/noDuplicateDependencies/valid/optionalDependencies-devDependencies/package.json.snap
  crates/biome_json_analyze/tests/specs/nursery/noDuplicateDependencies/valid/peerDependencies-devDependencies/package.json
  crates/biome_json_analyze/tests/specs/nursery/noDuplicateDependencies/valid/peerDependencies-devDependencies/package.json.snap
  crates/biome_rule_options/src/lib.rs
  crates/biome_rule_options/src/no_duplicate_dependencies.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JSON, A-Diagnostic

#7419 fix(noUnusedPrivateClassMembers): ignore all TS `private` members if a `this[computed]` is found
  .changeset/little-heads-divide.md
  crates/biome_js_analyze/src/lint/correctness/no_unused_private_class_members.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedPrivateClassMembers/invalid_dynamic_access.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedPrivateClassMembers/invalid_dynamic_access.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedPrivateClassMembers/valid_dynamic_access.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedPrivateClassMembers/valid_dynamic_access.ts.snap
Labels: A-Linter, L-JavaScript

#7392 feat(cli): --skip/--only with domains
  .changeset/wet-results-talk.md
  crates/biome_analyze/src/rule.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/scan_kind.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/tests/cases/linter_domains.rs
  crates/biome_cli/tests/snapshots/main_cases_linter_domains/should_disable_domain_via_cli.snap
  crates/biome_cli/tests/snapshots/main_cases_linter_domains/should_enable_domain_via_cli.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_rule_doesnt_exist.snap
  crates/biome_configuration/src/analyzer/mod.rs
  crates/biome_configuration/src/generated.rs
  crates/biome_configuration/src/generated/domain_selector.rs
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/src/server.tests.rs
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace.tests.rs
  crates/biome_service/src/workspace/server.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI, A-Project, A-Linter, A-Tooling, A-LSP

#7418 fix(lsp): project loading
  .changeset/rich-beds-clap.md
  crates/biome_configuration/src/lib.rs
  crates/biome_lsp/src/handlers/text_document.rs
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/session.rs
Labels: A-Project, A-LSP

#7412 chore: fix rule version metadata, add script to automate it
  .github/workflows/autofix.yml
  CONTRIBUTING.md
  crates/biome_js_analyze/src/lint/nursery/no_useless_catch_binding.rs
  crates/biome_js_analyze/src/lint/nursery/use_consistent_arrow_return.rs
  crates/biome_js_analyze/src/lint/nursery/use_vue_multi_word_component_names.rs
  crates/biome_json_analyze/src/lint/suspicious/no_biome_first_exception.rs
  crates/biome_json_analyze/src/lint/suspicious/use_biome_ignore_folder.rs
  scripts/update-next-version.sh
Labels: A-Linter, L-JavaScript, L-JSON

#7424 refactor(noUnusedPrivateClassMembers): avoid some allocations
  crates/biome_js_analyze/src/lint/correctness/no_unused_private_class_members.rs
Labels: A-Linter, L-JavaScript

#7248 feat(linter): add rule `noJsxLiterals`
  .changeset/nine-turkeys-dig.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_jsx_literals.rs
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/invalidAllowedStrings.jsx
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/invalidAllowedStrings.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/invalidAllowedStrings.options.json
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/invalidNoStrings.jsx
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/invalidNoStrings.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/invalidNoStrings.options.json
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/invalidNoStringsAllowedStrings.jsx
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/invalidNoStringsAllowedStrings.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/invalidNoStringsAllowedStrings.options.json
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/valid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/validAllowedStrings.jsx
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/validAllowedStrings.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/validAllowedStrings.options.json
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/validIgnoreProps.jsx
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/validIgnoreProps.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/validIgnoreProps.options.json
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/validNoStringWithAllowedStrings.jsx
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/validNoStringWithAllowedStrings.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noJsxLiterals/validNoStringWithAllowedStrings.options.json
  crates/biome_rule_options/src/lib.rs
  crates/biome_rule_options/src/no_jsx_literals.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#7447 feat(grit): match JS object members using spread metavariable `$...`
  .changeset/fast-parts-argue.md
  crates/biome_grit_patterns/src/pattern_compiler/snippet_compiler.rs
  crates/biome_grit_patterns/tests/specs/ts/spreadMetavariable.grit
  crates/biome_grit_patterns/tests/specs/ts/spreadMetavariable.snap
  crates/biome_grit_patterns/tests/specs/ts/spreadMetavariable.ts
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/src/lint/suspicious/no_duplicate_object_keys.rs
  crates/biome_js_formatter/src/js/any/object_member.rs
  crates/biome_js_parser/src/syntax/object.rs
  crates/biome_js_syntax/src/expr_ext.rs
  crates/biome_js_syntax/src/generated/nodes.rs
  crates/biome_js_type_info/src/local_inference.rs
  xtask/codegen/js.ungram
Labels: A-Linter, A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-Grit, A-Type-Inference

#7453 fix(core): support arrays as alias targets
  .changeset/aliased-alleys-align.md
  crates/biome_resolver/src/lib.rs
  crates/biome_resolver/tests/fixtures/resolver_cases_6/package.json
  crates/biome_resolver/tests/fixtures/resolver_cases_6/src/lib/a.tsx
  crates/biome_resolver/tests/fixtures/resolver_cases_6/src/lib/b.ts
  crates/biome_resolver/tests/fixtures/resolver_cases_6/src/lib/c/index.ts
  crates/biome_resolver/tests/fixtures/resolver_cases_6/src/lib/d.js
  crates/biome_resolver/tests/spec_tests.rs
Labels: A-Resolver

#6710 feat(core): implement support for index signatures
  .changeset/infinite-indices-infer.md
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/03_invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/03_invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/03b_invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/03b_invalid.ts.snap
  crates/biome_js_type_info/src/flattening/expressions.rs
  crates/biome_js_type_info/src/format_type_info.rs
  crates/biome_js_type_info/src/helpers.rs
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_js_type_info/src/resolver.rs
  crates/biome_js_type_info/src/type.rs
  crates/biome_js_type_info/src/type_data.rs
  crates/biome_module_graph/tests/snapshots/test_resolve_recursive_looking_country_info.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_recursive_looking_vfile.snap
  crates/biome_module_graph/tests/spec_tests.rs
  crates/biome_resolver/tests/fixtures/resolver_cases_3/src/components/Foo.ts
  crates/biome_resolver/tests/fixtures/resolver_cases_3/tsconfig.json
Labels: A-Project, A-Linter, L-JavaScript, A-Type-Inference, A-Resolver

#7459 chore(rules_check): remove file name titles from noImportCycles lint …
  crates/biome_js_analyze/src/lint/nursery/no_import_cycles.rs
Labels: A-Linter, L-JavaScript

#7498 fix(lint/useExhaustiveDependencies): correctly fix the dependency list from a shorthand object member
  .changeset/brave-camels-sin.md
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/issue6893.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/issue6893.js.snap
Labels: A-Linter, L-JavaScript

#7428 feat(biome-js-analyze): class member references service
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/style/use_readonly_class_properties.rs
  crates/biome_js_analyze/src/services/mod.rs
  crates/biome_js_analyze/src/services/semantic_class.rs
Labels: A-Linter, L-JavaScript

#7510 feat(grit): allow matching native Biome AST nodes
  .changeset/fruity-towns-repair.md
  crates/biome_grit_patterns/src/grit_target_language/css_target_language.rs
  crates/biome_grit_patterns/src/grit_target_language/css_target_language/generated_mappings.rs
  crates/biome_grit_patterns/src/grit_target_language/js_target_language.rs
  crates/biome_grit_patterns/src/grit_target_language/js_target_language/generated_mappings.rs
  crates/biome_grit_patterns/tests/specs/css/biomeCompatibility.css
  crates/biome_grit_patterns/tests/specs/css/biomeCompatibility.grit
  crates/biome_grit_patterns/tests/specs/css/biomeCompatibility.snap
  crates/biome_grit_patterns/tests/specs/ts/treeSitterCompatibility.grit
  crates/biome_grit_patterns/tests/specs/ts/treeSitterCompatibility.snap
  crates/biome_grit_patterns/tests/specs/ts/treeSitterCompatibility.ts
  xtask/codegen/src/ast.rs
  xtask/codegen/src/generate_grit_mappings.rs
  xtask/codegen/src/js_kinds_src.rs
  xtask/codegen/src/lib.rs
Labels: A-Tooling, L-Grit

#7488 feat: add react library aliases
  .changeset/new-signs-tie.md
  crates/biome_js_analyze/src/react.rs
Labels: A-Linter, L-JavaScript

#7541 chore: introduce ruledoc utils
  Cargo.lock
  Cargo.toml
  crates/biome_js_analyze/src/assist/source/use_sorted_keys.rs
  crates/biome_ruledoc_utils/Cargo.toml
  crates/biome_ruledoc_utils/src/codeblock.rs
  crates/biome_ruledoc_utils/src/lib.rs
  crates/biome_test_utils/src/lib.rs
  xtask/rules_check/Cargo.toml
  xtask/rules_check/src/lib.rs
Labels: A-Linter, A-Tooling, L-JavaScript

#7548 feat(lint): move some rules to the `react` domain
  .changeset/crazy-steaks-mix.md
  .changeset/seven-beans-cough.md
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_configuration/src/generated/domain_selector.rs
  crates/biome_js_analyze/src/lint/correctness/no_children_prop.rs
  crates/biome_js_analyze/src/lint/correctness/no_react_prop_assignments.rs
  crates/biome_js_analyze/src/lint/security/no_dangerously_set_inner_html.rs
  crates/biome_js_analyze/src/lint/security/no_dangerously_set_inner_html_with_children.rs
  crates/biome_js_analyze/src/lint/style/use_component_export_only_modules.rs
  crates/biome_js_analyze/src/lint/suspicious/no_array_index_key.rs
  crates/biome_service/src/file_handlers/mod.rs
Labels: A-Project, A-Linter, L-JavaScript

#7509 feat(lint): add `noReactForwardRef` rule
  .changeset/calm-stars-rhyme.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_react_forward_ref.rs
  crates/biome_js_analyze/tests/specs/nursery/noReactForwardRef/invalid-named-import.jsx
  crates/biome_js_analyze/tests/specs/nursery/noReactForwardRef/invalid-named-import.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noReactForwardRef/invalid-named-import.tsx
  crates/biome_js_analyze/tests/specs/nursery/noReactForwardRef/invalid-named-import.tsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noReactForwardRef/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noReactForwardRef/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noReactForwardRef/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noReactForwardRef/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noReactForwardRef/invalid.tsx
  crates/biome_js_analyze/tests/specs/nursery/noReactForwardRef/invalid.tsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noReactForwardRef/react18/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noReactForwardRef/react18/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noReactForwardRef/react18/valid.package.json
  crates/biome_js_analyze/tests/specs/nursery/noReactForwardRef/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noReactForwardRef/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noReactForwardRef/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noReactForwardRef/valid.jsx.snap
  crates/biome_js_factory/src/make.rs
  crates/biome_rule_options/src/lib.rs
  crates/biome_rule_options/src/no_react_forward_ref.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#7574 fix: set correct string for diagnostic
  .changeset/gold-moments-move.md
  crates/biome_js_analyze/src/lint/performance/use_solid_for_component.rs
  crates/biome_js_analyze/tests/specs/performance/useSolidForComponent/invalid.tsx.snap
Labels: A-Linter, L-JavaScript

#7571 feat: implemented embedded JSON parsing
  Cargo.lock
  crates/biome_formatter/src/lib.rs
  crates/biome_html_formatter/src/html/auxiliary/element.rs
  crates/biome_html_formatter/src/html/auxiliary/embedded_content.rs
  crates/biome_html_parser/tests/spec_tests.rs
  crates/biome_html_syntax/Cargo.toml
  crates/biome_html_syntax/src/attr_ext.rs
  crates/biome_html_syntax/src/element_ext.rs
  crates/biome_html_syntax/src/lib.rs
  crates/biome_html_syntax/src/script_type.rs
  crates/biome_json_formatter/src/lib.rs
  crates/biome_json_parser/src/lib.rs
  crates/biome_json_syntax/src/syntax_node.rs
  crates/biome_service/src/file_handlers/html.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/document.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace/server.tests.rs
Labels: A-Project, A-Parser, A-Formatter, L-JSON, L-HTML

#7564 fix(lint/suspicious/useIterableCallbackReturn): single-expression void arrow function
  .changeset/vast-waves-write.md
  crates/biome_js_analyze/src/lint/suspicious/use_iterable_callback_return.rs
  crates/biome_js_analyze/tests/specs/suspicious/useIterableCallbackReturn/invalid.js
  crates/biome_js_analyze/tests/specs/suspicious/useIterableCallbackReturn/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/useIterableCallbackReturn/valid.js
  crates/biome_js_analyze/tests/specs/suspicious/useIterableCallbackReturn/valid.js.snap
Labels: A-Linter, L-JavaScript

#7593 perf: only query settings once
  .changeset/max-managers-mandate.md
  crates/biome_service/src/projects.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-Project

#7581 fix(noDuplicateProperties): false positives in `@container` and `@starting-style` at-rules
  .changeset/thin-cases-dig.md
  crates/biome_css_analyze/tests/specs/suspicious/noDuplicateProperties/invalid.css
  crates/biome_css_analyze/tests/specs/suspicious/noDuplicateProperties/invalid.css.snap
  crates/biome_css_analyze/tests/specs/suspicious/noDuplicateProperties/valid.css
  crates/biome_css_analyze/tests/specs/suspicious/noDuplicateProperties/valid.css.snap
  crates/biome_css_semantic/src/events.rs
  crates/biome_css_semantic/src/semantic_model/model.rs
Labels: A-Linter, L-CSS

#7269 fix(lint/complexity/noUselessFragments): address inconsistencies against ESLint behavior with fragments only containing text.
  .changeset/all-experts-join.md
  crates/biome_js_analyze/src/lint/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/assignments.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_1514.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_459.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_6648.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_6648.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/withJsxTextInvalid.jsx.snap
Labels: A-Linter, L-JavaScript

#7543 feat(biome-js-analyze): add is_meaningful_read to semantic class reads
  crates/biome_js_analyze/src/services/semantic_class.rs
Labels: A-Linter, L-JavaScript

#7522 docs: extra rule sources
  .changeset/major-onions-change.md
  crates/biome_analyze/src/rule.rs
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_js_analyze/src/lint/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/src/lint/correctness/no_nested_component_definitions.rs
  crates/biome_js_analyze/src/lint/nursery/no_react_forward_ref.rs
Labels: A-CLI, A-Linter, L-JavaScript
