Repository biomejs/biome, pull requests merged in 2025-07, with the labels that each got.

#6652 feat(core): offset parsing
  crates/biome_css_parser/src/lib.rs
  crates/biome_graphql_parser/src/lib.rs
  crates/biome_js_parser/src/lib.rs
  crates/biome_js_parser/src/parse.rs
  crates/biome_json_parser/src/lib.rs
  crates/biome_parser/src/prelude.rs
  crates/biome_parser/src/tree_sink.rs
  crates/biome_rowan/src/lib.rs
  crates/biome_rowan/src/syntax.rs
  crates/biome_rowan/src/syntax/node.rs
  crates/biome_rowan/src/syntax/token.rs
  crates/biome_service/src/file_handlers/html.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/document.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace/server.tests.rs
Labels: A-Core, A-Project, A-Parser, L-JavaScript, L-CSS, L-JSON

#6663 fix(formatter): void elements with slash
  .changeset/old-rice-feel.md
  crates/biome_html_formatter/src/html/auxiliary/self_closing_element.rs
  crates/biome_html_formatter/tests/specs/html/attributes/self-closing.html.snap
  crates/biome_html_formatter/tests/specs/html/attributes/single-quotes.html.snap
  crates/biome_html_formatter/tests/specs/html/self-closing/never.html
  crates/biome_html_formatter/tests/specs/html/self-closing/never.html.snap
  crates/biome_html_syntax/src/element_ext.rs
Labels: A-Parser, A-Formatter, L-HTML

#6672 fix(biome-js-analyze): move no_secrets options inside biome-rules-opt…
  crates/biome_js_analyze/src/lint/nursery/no_secrets.rs
  crates/biome_rule_options/src/no_secrets.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript

#6673 fix(format/html): fix mangling of embedded language tags if `whitespaceSensitivity` is `strict`
  .changeset/clean-pumas-care.md
  crates/biome_html_formatter/src/html/auxiliary/element.rs
  crates/biome_html_formatter/tests/specs/html/embedded/strict-whitespace-sensitivity/options.json
  crates/biome_html_formatter/tests/specs/html/embedded/strict-whitespace-sensitivity/sensitive-style.html
  crates/biome_html_formatter/tests/specs/html/embedded/strict-whitespace-sensitivity/sensitive-style.html.snap
Labels: A-Formatter, L-HTML

#6683 fix(formatter): trailing commas in json files
  .changeset/loud-seals-fry.md
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_format/format_json_trailing_commas_all.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_json_trailing_commas_overrides_all.snap
  crates/biome_json_formatter/src/context.rs
  crates/biome_json_formatter/src/json/lists/array_element_list.rs
  crates/biome_json_formatter/src/json/lists/member_list.rs
  crates/biome_json_formatter/tests/language.rs
  crates/biome_json_formatter/tests/specs/json/trailing_comma_never/classic.json.snap
  crates/biome_json_formatter/tests/specs/prettier/json/json/array.json.snap
  crates/biome_json_formatter/tests/specs/prettier/json/json/json5.json.snap
  crates/biome_json_formatter/tests/specs/prettier/json/json5-as-json-with-trailing-commas/nested-quotes.json.snap
  crates/biome_json_formatter/tests/specs/prettier/json/range/cross-object-2.json.snap
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Formatter, L-JSON

#6678 feat: make enum can be transform in scope
  crates/biome_js_transform/src/transformers/ts_enum.rs
  crates/biome_js_transform/tests/specs/transformEnum/index.ts
  crates/biome_js_transform/tests/specs/transformEnum/index.ts.snap
Labels: L-JavaScript

#6671 fix(biome-js-analyze): useReadonlyClassProperties check class getters…
  .changeset/fix_use_readonly_class_properties_to__flag_mutation_in_class_getter.md
  crates/biome_js_analyze/src/lint/nursery/use_readonly_class_properties.rs
  crates/biome_js_analyze/tests/specs/nursery/useReadonlyClassProperties/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useReadonlyClassProperties/valid.ts.snap
Labels: A-Linter, L-JavaScript

#6405 feat(biome_js_analyse): added new option to rule to ignore unused function parameters
  .changeset/no_unused_function_parameters_add_option_ignore_rest_siblings.md
  crates/biome_js_analyze/src/lint/correctness/no_unused_function_parameters.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedFunctionParameters/invalid.ignoreRestSiblingsFalse.options.json
  crates/biome_js_analyze/tests/specs/correctness/noUnusedFunctionParameters/invalid.ignoreRestSiblingsFalse.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedFunctionParameters/invalid.ignoreRestSiblingsFalse.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedFunctionParameters/invalid.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedFunctionParameters/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedFunctionParameters/valid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedFunctionParameters/valid.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedFunctionParameters/valid.ts.snap
  crates/biome_rule_options/src/no_unused_function_parameters.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript, S-Feature

#6662 fix(core): ignore nested configs
  .changeset/nested-nettles-neglect.md
  crates/biome_cli/src/execute/process_file.rs
  crates/biome_cli/src/execute/process_file/check.rs
  crates/biome_cli/tests/cases/monorepo.rs
  crates/biome_cli/tests/snapshots/main_cases_monorepo/should_find_settings_when_targeting_nested_dir.snap
  crates/biome_cli/tests/snapshots/main_cases_monorepo/should_find_settings_when_targeting_parent_of_nested_dir.snap
  crates/biome_cli/tests/snapshots/main_cases_monorepo/should_ignore_nested_configuration_in_ignored_directory.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/include_files_in_symlinked_subdir.snap
  crates/biome_css_formatter/tests/language.rs
  crates/biome_fs/src/path.rs
  crates/biome_graphql_formatter/tests/language.rs
  crates/biome_grit_formatter/tests/language.rs
  crates/biome_html_formatter/tests/language.rs
  crates/biome_js_formatter/tests/language.rs
  crates/biome_json_formatter/tests/language.rs
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/file_handlers/astro.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/grit.rs
  crates/biome_service/src/file_handlers/html.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/javascript.tests.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/file_handlers/svelte.rs
  crates/biome_service/src/file_handlers/vue.rs
  crates/biome_service/src/projects.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/settings.tests.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_test_utils/src/lib.rs
  xtask/rules_check/src/lib.rs
Labels: A-CLI, A-Core, A-Project, A-Formatter, A-Tooling, L-JavaScript, L-CSS, L-JSON, L-HTML, L-Grit

#6696 fix(lint/noImplicitCoercion): false positive for `1 / value`
  .changeset/long-glasses-know.md
  crates/biome_js_analyze/src/lint/nursery/no_implicit_coercion.rs
  crates/biome_js_analyze/tests/specs/nursery/noImplicitCoercion/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noImplicitCoercion/valid.js.snap
Labels: A-Linter, L-JavaScript

#6700 fix(css_formatter): correct spacing in container style queries
  .changeset/sixty-things-pump.md
  crates/biome_css_formatter/src/css/auxiliary/container_style_query_in_parens.rs
  crates/biome_css_formatter/tests/specs/css/atrule/container.css.snap
  crates/biome_css_parser/src/syntax/at_rule/container/mod.rs
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_container.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_container.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_container_complex.css.snap
Labels: A-Parser, A-Formatter, L-CSS

#6650 fix(biome_analyze): stop squashing multiple line suppression comments.
  .changeset/salty-tigers-slide.md
  crates/biome_analyze/src/lib.rs
  crates/biome_analyze/src/suppressions.rs
  crates/biome_js_analyze/tests/multiple_rules/suppressions.jsx
  crates/biome_js_analyze/tests/multiple_rules/suppressions.jsx.snap
  crates/biome_js_analyze/tests/multiple_rules/suppressions.ts
  crates/biome_js_analyze/tests/multiple_rules/suppressions.ts.snap
  crates/biome_js_analyze/tests/spec_tests.rs
Labels: A-Linter, L-JavaScript

#6709 fix(noShadow): fix a false positive related to function parameters inside type definitions
  .changeset/spicy-lizards-enjoy.md
  crates/biome_js_analyze/src/lint/nursery/no_shadow.rs
  crates/biome_js_analyze/tests/specs/nursery/noShadow/valid-func-in-type.ts
  crates/biome_js_analyze/tests/specs/nursery/noShadow/valid-func-in-type.ts.snap
Labels: A-Linter, L-JavaScript

#6711 fix(biome_js_analyze): correct text range of suppression reason
  .changeset/dry-frogs-push.md
  crates/biome_analyze/src/lib.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/ignore.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/ignore.jsx.snap
  crates/biome_js_analyze/tests/specs/suspicious/noDoubleEquals/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noDoubleEquals/suppression.js
  crates/biome_js_analyze/tests/specs/suspicious/noDoubleEquals/suppression.js.snap
  crates/biome_suppression/src/lib.rs
Labels: A-Core, A-Linter, L-JavaScript

#6718 fix(service): biome/file_features still should return a map instead of an array
  crates/biome_cli/src/execute/process_file.rs
  crates/biome_cli/src/execute/process_file/check.rs
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_formatter_test/src/spec.rs
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/src/handlers/formatting.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/src/projects.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace_types.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-CLI, A-Project, A-Formatter, A-LSP

#6413 fix(lint/complexity/useDateNow): improve error message
  .changeset/bumpy-pots-share.md
  crates/biome_js_analyze/src/lint/complexity/use_date_now.rs
  crates/biome_js_analyze/tests/specs/complexity/useDateNow/invalid.js.snap
Labels: A-Linter, L-JavaScript

#6651 docs: update analyzer contribution guide
  crates/biome_analyze/CONTRIBUTING.md
Labels: A-Linter

#6720 feat(linter): add $ to organize imports :ALIAS: group
  .changeset/whole-parks-grab.md
  crates/biome_js_analyze/src/assist/source/organize_imports.rs
  crates/biome_js_analyze/tests/specs/source/organizeImports/unsorted-alias.js
  crates/biome_js_analyze/tests/specs/source/organizeImports/unsorted-alias.js.snap
  crates/biome_rule_options/src/organize_imports/import_source.rs
Labels: A-Linter, L-JavaScript

#6679 fix(biome-service): override all formatter options with user configured overrides
  .changeset/many-weeks-lose.md
  crates/biome_cli/tests/cases/overrides_formatter.rs
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/overrides_javascript_formatting_options.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/overrides_json_formatting_options.snap
  crates/biome_service/src/settings.rs
Labels: A-CLI, A-Project

#6746 chore: remove style rule migration
  .changeset/muddy-migrations-melt.md
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_migrate_aws_config.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_migrate_issue_5465.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_migrate_nested_config.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_ariakit.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_knip.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/migrate_config_up_to_date.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/should_migrate_nested_files.snap
  crates/biome_migrate/src/analyzers.rs
  crates/biome_migrate/src/analyzers/style_rules.rs
  crates/biome_migrate/tests/specs/migrations/styleRules/empty.json
  crates/biome_migrate/tests/specs/migrations/styleRules/empty.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/notRecommended.json
  crates/biome_migrate/tests/specs/migrations/styleRules/notRecommended.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/realCase.json
  crates/biome_migrate/tests/specs/migrations/styleRules/realCase.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/valid.json
  crates/biome_migrate/tests/specs/migrations/styleRules/valid.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/valid_existing_not_related_group.json
  crates/biome_migrate/tests/specs/migrations/styleRules/valid_existing_not_related_group.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_linter.json
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_linter.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_rules.json
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_rules.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_style_rule.json
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_style_rule.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_styles.json
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_styles.json.snap
Labels: A-CLI

#6732 perf(biome_package): improve performance of biome_package
  .changeset/package_json_parse_improve.md
  .github/workflows/benchmark.yml
  crates/biome_package/src/node_js_package/package_json.rs
  crates/biome_resolver/src/lib.rs
Labels: A-Project, L-JavaScript, A-Resolver

#6752 fix(core): .gitignore is discovered in more scenarios
  .changeset/ignored-iguanodons-ignite.md
  crates/biome_cli/tests/cases/vcs_ignored_files.rs
  crates/biome_cli/tests/snapshots/main_cases_vcs_ignored_files/use_root_gitignore_when_running_from_subdirectory.snap
  crates/biome_fs/src/path.rs
  crates/biome_service/src/workspace/scanner.rs
Labels: A-CLI, A-Core, A-Project

#6717 fix(lint/noUselessFragments): apply the same logic for shorthand fragments and Fragment elements
  .changeset/mighty-tables-grab.md
  crates/biome_js_analyze/src/lint/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/assigments.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/assigments.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/componentFragment.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/componentFragment.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_3668.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_3668.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_3926.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_3926.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_4059.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_4059.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_4639.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_4639.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_6391.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_6391.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_6508.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_6508.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/valid.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/valid.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/withJsxElementInvalid.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/withJsxElementInvalid.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/withJsxExpressionChildValid.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/withJsxExpressionChildValid.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/withJsxTextInvalid.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/withJsxTextInvalid.jsx.snap
Labels: A-Linter, L-JavaScript

#6758 fix(grit): match bare imports
  .changeset/bare-beasts-bark.md
  crates/biome_grit_patterns/tests/specs/ts/bareImport.grit
  crates/biome_grit_patterns/tests/specs/ts/bareImport.snap
  crates/biome_grit_patterns/tests/specs/ts/bareImport.ts
  crates/biome_js_parser/src/syntax/module.rs
Labels: A-Parser, L-JavaScript, L-Grit

#6753 fix(cli): improve error messages when given incompatible arguments
  .changeset/itchy-bananas-retire.md
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/diagnostics.rs
  crates/biome_cli/tests/snapshots/main_cases_suppressions/err_when_both_write_and_suppress_are_passed.snap
  crates/biome_cli/tests/snapshots/main_commands_check/fix_suggested_error.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/fix_suggested_error.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_error_if_changed_flag_and_staged_flag_are_active_at_the_same_time.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_error_if_since_arg_is_used_without_changed.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/should_suggest_error_incompatible_arguments.snap
Labels: A-CLI

#6756 fix(noUnusedImports): formally make an exception for type augmentation imports
  .changeset/five-dodos-promise.md
  crates/biome_js_analyze/src/lint/correctness/no_unused_imports.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/valid-type-augmentation.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/valid-type-augmentation.ts.snap
Labels: A-Linter, L-JavaScript

#6760 perf(biome_package): updated incorrect generic passed to deserialize_…
  .changeset/tsconfig_json_parse_update_incorrect_generic.md
  crates/biome_package/benches/tsconfig_json.rs
Labels: A-Project

#6769 chore: set versions for new rules
  crates/biome_js_analyze/src/lint/nursery/no_implicit_coercion.rs
  crates/biome_js_analyze/src/lint/nursery/no_magic_numbers.rs
  crates/biome_js_analyze/src/lint/nursery/no_misused_promises.rs
  crates/biome_js_analyze/src/lint/nursery/no_unassigned_variables.rs
  crates/biome_js_analyze/src/lint/nursery/use_readonly_class_properties.rs
  crates/biome_js_analyze/src/lint/nursery/use_unified_type_signature.rs
  crates/biome_js_analyze/src/lint/suspicious/no_alert.rs
Labels: A-Linter, L-JavaScript

#6761 fix(noFocusedTests): fix `fit` false positive
  .changeset/serious-mangos-relate.md
  crates/biome_js_analyze/tests/specs/suspicious/noFocusedTests/valid.js
  crates/biome_js_analyze/tests/specs/suspicious/noFocusedTests/valid.js.snap
  crates/biome_js_syntax/src/expr_ext.rs
Labels: A-Linter, A-Parser, L-JavaScript

#6731 feat(cli): enhanced summary reporter
  .changeset/seven-trains-lie.md
  crates/biome_cli/examples/text_reporter.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/reporter/github.rs
  crates/biome_cli/src/reporter/gitlab.rs
  crates/biome_cli/src/reporter/json.rs
  crates/biome_cli/src/reporter/junit.rs
  crates/biome_cli/src/reporter/mod.rs
  crates/biome_cli/src/reporter/summary.rs
  crates/biome_cli/src/reporter/terminal.rs
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_check_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_check_verbose_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_format_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_lint_command.snap
  crates/biome_diagnostics/src/display.rs
Labels: A-CLI, A-Diagnostic

#6804 fix(core): correctly identify sync callbacks inside async functions
  .changeset/sync-sinuses-stutter.md
  crates/biome_js_analyze/src/ast_utils.rs
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalidSyncCallbackInsideAsyncFn.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalidSyncCallbackInsideAsyncFn.ts.snap
Labels: A-Linter, L-JavaScript

#6818 fix(core): do not update the opened document when change observed by the watcher
  .changeset/stupid-socks-visit.md
  crates/biome_service/src/workspace/server.rs
Labels: A-Project

#6825 ci: add a job for linting markdown files
  .changeset/lovely-moments-join.md
  .github/workflows/pull_request_markdown.yml
  .markdownlint.json
  CHANGELOG_v1.md
  crates/biome_analyze/CONTRIBUTING.md
  crates/biome_css_formatter/tests/specs/prettier/README.md
  crates/biome_graphql_formatter/tests/specs/prettier/README.md
  crates/biome_js_formatter/tests/specs/prettier/README.md
  crates/biome_js_type_info/CONTRIBUTING.md
  crates/biome_json_formatter/tests/specs/prettier/README.md
  crates/biome_parser/CONTRIBUTING.md
  crates/biome_ungrammar/README.md
  packages/@biomejs/biome/CHANGELOG.md
  packages/@biomejs/biome/README.zh-TW.md
Labels: A-Linter, A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-CSS, L-JSON, A-Type-Inference

#6823 perf: faster function parameters in inference
  .changeset/faster-functions-fumble.md
  crates/biome_js_analyze/src/lint/nursery/no_misused_promises.rs
  crates/biome_js_type_info/src/flattening/expressions.rs
  crates/biome_js_type_info/src/format_type_info.rs
  crates/biome_js_type_info/src/globals.rs
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_direct_promise_instance.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_of_destructured_interface_field.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_from_direct_promise_instance.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_function_with_destructured_arguments.snap
  crates/biome_module_graph/benches/module_graph.rs
  crates/biome_module_graph/benches/next_font_google.d.ts
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/tests/snapshots/test_resolve_export_type_referencing_imported_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_export_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_generic_mapped_value.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_generic_return_value.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_generic_return_value_with_multiple_modules.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_imported_promise_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_reexported_promise_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_recursive_looking_country_info.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_recursive_looking_vfile.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_type_of_destructured_field_of_intersection_of_interfaces.snap
  crates/biome_service/src/snapshots/biome_service__workspace__tests__debug_type_info.snap
Labels: A-Project, A-Linter, L-JavaScript, A-Type-Inference

#6840 fix(css_parser): support a list of identifiers in ::part() pseudo-element selector
  .changeset/public-dingos-wear.md
  crates/biome_css_analyze/src/lint/correctness/no_unknown_pseudo_element.rs
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/pseudo_element.rs
  crates/biome_css_formatter/src/css/lists/mod.rs
  crates/biome_css_formatter/src/css/lists/pseudo_element_function_parameter_list.rs
  crates/biome_css_formatter/src/css/pseudo/mod.rs
  crates/biome_css_formatter/src/css/pseudo/pseudo_element_function.rs
  crates/biome_css_formatter/src/css/pseudo/pseudo_element_function_custom_identifier.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_element_selector.css
  crates/biome_css_formatter/tests/specs/css/pseudo/pseudo_element_selector.css.snap
  crates/biome_css_parser/src/syntax/selector/pseudo_element.rs
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_element.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_element_function_identifier.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/basic.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/highlight.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/part.css
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/part.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/selector/pseudo_element/presudo_complex.css.snap
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Linter, A-Parser, A-Formatter, A-Tooling, L-CSS

#6794 fix(biome_js_analyze): fixed noInvalidUseBeforeDeclaration false positives
  .changeset/fix_no_invalid_use_before_declaration_missed_case.md
  crates/biome_js_analyze/src/services/control_flow/visitor.rs
  crates/biome_js_analyze/tests/specs/correctness/noInvalidUseBeforeDeclaration/valid.ts
  crates/biome_js_analyze/tests/specs/correctness/noInvalidUseBeforeDeclaration/valid.ts.snap
Labels: A-Linter, L-JavaScript

#6864 docs(noImportCycles): add note about computation cost
  crates/biome_js_analyze/src/lint/nursery/no_import_cycles.rs
Labels: A-Linter, L-JavaScript

#6884 perf: optimise `noImportCycles`
  .changeset/cyclic-checks-charge.md
  Cargo.lock
  crates/biome_js_analyze/src/lint/nursery/no_import_cycles.rs
  crates/biome_module_graph/Cargo.toml
  crates/biome_module_graph/src/js_module_info.rs
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/tests/snapshots/test_export_const_type_declaration_with_namespace.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_export_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_exports.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_merged_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_multiple_reexports.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_recursive_looking_country_info.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_recursive_looking_vfile.snap
  crates/biome_module_graph/tests/spec_tests.rs
Labels: A-Project, A-Linter, L-JavaScript

#6879 refactor(css_parser): flatten AnyCssDeclarationWithSemicolon (#6912)
  .changeset/chilly-lions-rule.md
  crates/biome_css_analyze/src/assist/source/use_sorted_properties.rs
  crates/biome_css_analyze/src/lint/correctness/no_invalid_grid_areas.rs
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/declaration.rs
  crates/biome_css_formatter/src/css/any/declaration_or_at_rule.rs
  crates/biome_css_formatter/src/css/any/declaration_or_rule.rs
  crates/biome_css_formatter/src/css/any/declaration_with_semicolon.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/css/any/page_at_rule_item.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/stmt_ext.rs
  crates/biome_js_formatter/tests/specs/prettier/.DS_Store
  xtask/codegen/css.ungram
Labels: A-Linter, A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-CSS

#6855 feat(biome_js_analyze): added support for call expressions arguments
  .changeset/use_readonly_class_properties_add_js_arguments.md
  crates/biome_js_analyze/src/lint/nursery/use_readonly_class_properties.rs
  crates/biome_js_analyze/tests/specs/nursery/useReadonlyClassProperties/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useReadonlyClassProperties/valid.ts.snap
Labels: A-Linter, L-JavaScript

#6844 fix(biome_analyze): restore support for multiple consecutive suppression comments with rule instances.
  .changeset/silent-suits-judge.md
  crates/biome_analyze/src/lib.rs
  crates/biome_analyze/src/suppressions.rs
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/invalidSuppressions.jsx
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/invalidSuppressions.jsx.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/validSuppressions.jsx
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/validSuppressions.jsx.snap
Labels: A-Linter, L-JavaScript

#6842 refactor: make Watcher aware of `ScanKind`
  crates/biome_lsp/src/server.tests.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace/watcher.rs
  crates/biome_service/src/workspace/watcher.tests.rs
  crates/biome_service/src/workspace_watcher.rs
Labels: A-Project, A-LSP

#6901 fix(core): fix type inference of `this`
  .changeset/tiny-this-trembles.md
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/18_invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/18_invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noMisusedPromises/issue6777Valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noMisusedPromises/issue6777Valid.ts.snap
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_module_graph/tests/snapshots/test_resolve_type_of_property_with_getter.snap.new
Labels: A-Project, A-Linter, L-JavaScript, A-Type-Inference

#6903 fix(linter): fix false positive with `.d.ts` files in `useImportExtensions`
  .changeset/damned-definitions-differ.md
  crates/biome_js_analyze/src/lint/correctness/use_import_extensions.rs
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/sub/generated/index.d.ts
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/sub/generated/index.d.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/sub/generated/index.js
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/sub/generated/index.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/valid.js
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/valid.js.snap
Labels: A-Linter, L-JavaScript

#6727 feat(yaml_parser): parse block sequence
  crates/biome_yaml_factory/src/generated/node_factory.rs
  crates/biome_yaml_factory/src/generated/syntax_factory.rs
  crates/biome_yaml_parser/src/lexer/mod.rs
  crates/biome_yaml_parser/src/lexer/tests/block.rs
  crates/biome_yaml_parser/src/lexer/tests/flow.rs
  crates/biome_yaml_parser/src/parser/block.rs
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/explicit_block_mapping.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/explicit_block_mapping.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/explicit_block_mapping_with_compact_mapping.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/explicit_block_mapping_with_compact_mapping.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/explicit_block_mapping_with_empty_value.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/explicit_block_mapping_with_empty_value.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/explicit_block_mapping_with_empty_value_and_mapping_as_key.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/explicit_block_mapping_with_empty_value_and_mapping_as_key.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/implicit_block_mapping_empty_value.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/implicit_block_mapping_empty_value.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/nested_implicit_block_mapping.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/nested_implicit_block_mapping.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/simple_block_mapping.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/simple_block_mapping.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/simple_block_mapping_separated_by_trivia.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/simple_block_mapping_separated_by_trivia.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/sequence/map_nested_in_sequence.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/sequence/map_nested_in_sequence.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/sequence/nested_block_sequence.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/sequence/nested_block_sequence.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/sequence/sequence_nested_in_map.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/sequence/sequence_nested_in_map.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/sequence/simple_block_sequence.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/sequence/simple_block_sequence.yaml.snap
  crates/biome_yaml_syntax/src/generated/macros.rs
  crates/biome_yaml_syntax/src/generated/nodes.rs
  crates/biome_yaml_syntax/src/generated/nodes_mut.rs
  xtask/codegen/yaml.ungram
Labels: A-Parser, A-Tooling

#6723 feat(linter): add `excludedComponents` option to `useUniqueElementIds`
  .changeset/vast-tables-dance.md
  crates/biome_js_analyze/src/lint/nursery/use_unique_element_ids.rs
  crates/biome_js_analyze/src/react/components.rs
  crates/biome_js_analyze/tests/specs/nursery/useUniqueElementIds/allowlist.jsx
  crates/biome_js_analyze/tests/specs/nursery/useUniqueElementIds/allowlist.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useUniqueElementIds/allowlist.options.json
  crates/biome_js_analyze/tests/specs/nursery/useUniqueElementIds/badAllowlist.jsx
  crates/biome_js_analyze/tests/specs/nursery/useUniqueElementIds/badAllowlist.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useUniqueElementIds/badAllowlist.options.json
  crates/biome_rule_options/src/use_unique_element_ids.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript

#6916 docs: explain how to document options
  crates/biome_analyze/CONTRIBUTING.md
Labels: A-Linter

#6924 fix(lsp): update diagnostics on watched files
  .changeset/modern-ghosts-cough.md
  crates/biome_lsp/src/server.rs
Labels: A-LSP

#6947 fix: typo `perfer-for` → `prefer-for`
  .changeset/eleven-years-act.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_js_analyze/src/lint/nursery/use_for_component.rs
Labels: A-CLI, A-Linter, L-JavaScript

#6944 fix(biome_js_analyze): ignore `as const` and similar wrappers in `noMagicNumbers` rule
  .changeset/crazy-moments-sniff.md
  crates/biome_js_analyze/src/lint/nursery/no_magic_numbers.rs
  crates/biome_js_analyze/tests/specs/nursery/noMagicNumbers/valid.tsx
  crates/biome_js_analyze/tests/specs/nursery/noMagicNumbers/valid.tsx.snap
Labels: A-Linter, L-JavaScript

#6943 fix: typo `@vitest/eslint-plugin` source url
  .changeset/eleven-clouds-slide.md
  crates/biome_analyze/src/rule.rs
Labels: A-Linter

#6946 perf: shrink `Text`
  .github/workflows/benchmark.yml
  crates/biome_deserialize/src/json.rs
  crates/biome_js_analyze/src/lint/correctness/no_private_imports.rs
  crates/biome_js_analyze/src/lint/nursery/no_unresolved_imports.rs
  crates/biome_js_analyze/src/lint/nursery/use_readonly_class_properties.rs
  crates/biome_js_syntax/src/unescape.rs
  crates/biome_js_type_info/src/flattening/conditionals.rs
  crates/biome_js_type_info/src/flattening/intersections.rs
  crates/biome_js_type_info/src/globals.rs
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_js_type_info/src/type_info/literal.rs
  crates/biome_js_type_info/tests/type_info.rs
  crates/biome_json_value/src/json_value.rs
  crates/biome_module_graph/src/format_module_graph.rs
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/src/js_module_info/module_resolver.rs
  crates/biome_module_graph/tests/snapshots/test_export_const_type_declaration_with_namespace.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_exports.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_merged_namespace_with_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_recursive_looking_country_info.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_recursive_looking_vfile.snap
  crates/biome_module_graph/tests/spec_tests.rs
  crates/biome_rowan/src/syntax_node_text.rs
  crates/biome_rowan/src/text.rs
  crates/biome_rowan/src/token_text.rs
  crates/biome_text_size/src/range.rs
Labels: A-Core, A-Project, A-Linter, A-Parser, L-JavaScript, L-JSON, A-Type-Inference

#6938 feat(biome-js-analyze): expanded support for useReadonlyClassProperties to cover async class methods too
  .changeset/use_readonly_class_properties_add_async_await_method_check.md
  crates/biome_js_analyze/src/lint/nursery/use_readonly_class_properties.rs
  crates/biome_js_analyze/tests/specs/nursery/useReadonlyClassProperties/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useReadonlyClassProperties/valid.ts.snap
Labels: A-Linter, L-JavaScript

#6961 feat(yaml_parser): parse flow constructs
  crates/biome_yaml_factory/src/generated/node_factory.rs
  crates/biome_yaml_factory/src/generated/syntax_factory.rs
  crates/biome_yaml_parser/src/parser/block.rs
  crates/biome_yaml_parser/src/parser/flow.rs
  crates/biome_yaml_parser/src/parser/parse_error.rs
  crates/biome_yaml_parser/tests/yaml_test_suite/err/block/multi_line_flow_collection_broken_out_of_parent_block.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/err/block/multi_line_flow_collection_broken_out_of_parent_block.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/err/block/multi_line_plain_token_broken_out_parent_flow.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/err/block/multi_line_plain_token_broken_out_parent_flow.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/err/flow/empty_mapping_entry.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/err/flow/empty_mapping_entry.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/err/flow/mapping_missing_closing_bracket.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/err/flow/mapping_missing_closing_bracket.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/err/flow/missing_closing_double_quoted.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/err/flow/missing_closing_double_quoted.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/err/flow/missing_closing_single_quoted.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/err/flow/missing_closing_single_quoted.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/err/flow/sequence_missing_closing_bracket.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/err/flow/sequence_missing_closing_bracket.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/explicit_block_mapping.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/explicit_block_mapping_with_compact_mapping.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/explicit_block_mapping_with_empty_value.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/explicit_block_mapping_with_empty_value_and_mapping_as_key.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/implicit_block_mapping_empty_value.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/nested_implicit_block_mapping.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/nested_implicit_block_mapping.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/simple_block_mapping.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/simple_block_mapping.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/simple_block_mapping_separated_by_trivia.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/sequence/map_nested_in_sequence.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/sequence/sequence_nested_in_map.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/sequence/simple_block_sequence.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/sequence/simple_block_sequence.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/flow/double_quote.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/flow/double_quote.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/flow/explicit_mapping.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/flow/explicit_mapping.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/flow/nested_mapping.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/flow/nested_mapping.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/flow/simple_mapping.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/flow/simple_mapping.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/flow/simple_sequence.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/flow/simple_sequence.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/flow/single_quote.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/flow/single_quote.yaml.snap
  crates/biome_yaml_syntax/src/generated/kind.rs
  crates/biome_yaml_syntax/src/generated/macros.rs
  crates/biome_yaml_syntax/src/generated/nodes.rs
  crates/biome_yaml_syntax/src/generated/nodes_mut.rs
  crates/biome_yaml_syntax/src/lib.rs
  xtask/codegen/src/yaml_kinds_src.rs
  xtask/codegen/yaml.ungram
Labels: A-Parser, A-Tooling

#6978 feat(parse): add tailwind grammar
  Cargo.lock
  Cargo.toml
  crates/biome_tailwind_factory/Cargo.toml
  crates/biome_tailwind_factory/src/generated.rs
  crates/biome_tailwind_factory/src/generated/node_factory.rs
  crates/biome_tailwind_factory/src/generated/syntax_factory.rs
  crates/biome_tailwind_factory/src/lib.rs
  crates/biome_tailwind_factory/src/make.rs
  crates/biome_tailwind_syntax/Cargo.toml
  crates/biome_tailwind_syntax/src/generated.rs
  crates/biome_tailwind_syntax/src/generated/kind.rs
  crates/biome_tailwind_syntax/src/generated/macros.rs
  crates/biome_tailwind_syntax/src/generated/nodes.rs
  crates/biome_tailwind_syntax/src/generated/nodes_mut.rs
  crates/biome_tailwind_syntax/src/lib.rs
  crates/biome_tailwind_syntax/src/syntax_node.rs
  xtask/codegen/src/ast.rs
  xtask/codegen/src/formatter.rs
  xtask/codegen/src/generate_syntax_kinds.rs
  xtask/codegen/src/language_kind.rs
  xtask/codegen/src/lib.rs
  xtask/codegen/src/tailwind_kinds_src.rs
  xtask/codegen/tailwind.ungram
Labels: A-Parser, A-Tooling

#5506 feat(noRestrictedImports): add the patterns option
  .changeset/better-adults-roll.md
  Cargo.lock
  crates/biome_js_analyze/src/lint/style/no_restricted_imports.rs
  crates/biome_js_analyze/tests/specs/style/noRestrictedImports/invalid.js
  crates/biome_js_analyze/tests/specs/style/noRestrictedImports/invalid.js.snap
  crates/biome_js_analyze/tests/specs/style/noRestrictedImports/invalid.options.json
  crates/biome_js_analyze/tests/specs/style/noRestrictedImports/invalid.ts
  crates/biome_js_analyze/tests/specs/style/noRestrictedImports/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/style/noRestrictedImports/valid.js
  crates/biome_js_analyze/tests/specs/style/noRestrictedImports/valid.js.snap
  crates/biome_js_analyze/tests/specs/style/noRestrictedImports/valid.options.json
  crates/biome_js_analyze/tests/specs/style/noRestrictedImports/valid.ts
  crates/biome_js_analyze/tests/specs/style/noRestrictedImports/valid.ts.snap
  crates/biome_rule_options/Cargo.toml
  crates/biome_rule_options/src/no_restricted_imports.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript

#6506 feat: support configureable sorting mode for imports, keys and attributes
  .changeset/fancy-trains-happen.md
  crates/biome_analyze/src/utils.rs
  crates/biome_js_analyze/src/assist/source/organize_imports.rs
  crates/biome_js_analyze/src/assist/source/organize_imports/specifiers_attributes.rs
  crates/biome_js_analyze/src/assist/source/use_sorted_attributes.rs
  crates/biome_js_analyze/src/assist/source/use_sorted_keys.rs
  crates/biome_js_analyze/tests/specs/source/organizeImports/custom-sort-lexicographic.js
  crates/biome_js_analyze/tests/specs/source/organizeImports/custom-sort-lexicographic.js.snap
  crates/biome_js_analyze/tests/specs/source/organizeImports/custom-sort-lexicographic.options.json
  crates/biome_js_analyze/tests/specs/source/organizeImports/custom-sort-natural.js
  crates/biome_js_analyze/tests/specs/source/organizeImports/custom-sort-natural.js.snap
  crates/biome_js_analyze/tests/specs/source/organizeImports/custom-sort-natural.options.json
  crates/biome_js_analyze/tests/specs/source/useSortedAttributes/sorted-lexicographic.jsx
  crates/biome_js_analyze/tests/specs/source/useSortedAttributes/sorted-lexicographic.jsx.snap
  crates/biome_js_analyze/tests/specs/source/useSortedAttributes/sorted-lexicographic.options.json
  crates/biome_js_analyze/tests/specs/source/useSortedAttributes/sorted-natural.jsx
  crates/biome_js_analyze/tests/specs/source/useSortedAttributes/sorted-natural.jsx.snap
  crates/biome_js_analyze/tests/specs/source/useSortedAttributes/sorted-natural.options.json
  crates/biome_js_analyze/tests/specs/source/useSortedKeys/sorted-lexicographic.js
  crates/biome_js_analyze/tests/specs/source/useSortedKeys/sorted-lexicographic.js.snap
  crates/biome_js_analyze/tests/specs/source/useSortedKeys/sorted-lexicographic.options.json
  crates/biome_js_analyze/tests/specs/source/useSortedKeys/sorted-natural.js
  crates/biome_js_analyze/tests/specs/source/useSortedKeys/sorted-natural.js.snap
  crates/biome_js_analyze/tests/specs/source/useSortedKeys/sorted-natural.options.json
  crates/biome_json_analyze/src/assist/source/use_sorted_keys.rs
  crates/biome_json_analyze/tests/spec_tests.rs
  crates/biome_json_analyze/tests/specs/source/useSortedKeys/sorted-lexicographic.json
  crates/biome_json_analyze/tests/specs/source/useSortedKeys/sorted-lexicographic.json.snap
  crates/biome_json_analyze/tests/specs/source/useSortedKeys/sorted-lexicographic.options.json
  crates/biome_json_analyze/tests/specs/source/useSortedKeys/sorted-natural.json
  crates/biome_json_analyze/tests/specs/source/useSortedKeys/sorted-natural.json.snap
  crates/biome_json_analyze/tests/specs/source/useSortedKeys/sorted-natural.options.json
  crates/biome_rule_options/src/organize_imports.rs
  crates/biome_rule_options/src/shared/mod.rs
  crates/biome_rule_options/src/shared/sort_order.rs
  crates/biome_rule_options/src/use_sorted_attributes.rs
  crates/biome_rule_options/src/use_sorted_keys.rs
  crates/biome_string_case/src/comparable_token.rs
  crates/biome_string_case/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript, L-JSON

#6990 fix: update documentation URL for `noUnknownPseudoClass`
  .changeset/fast-bottles-guess.md
  crates/biome_diagnostics_categories/src/categories.rs
Labels: A-Diagnostic

#6979 fix(lint/useSortedClasses): remove leading and trailing whitespaces
  .changeset/khaki-bears-kiss.md
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/sort.rs
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/whitespace.jsx
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/whitespace.jsx.snap
Labels: A-Linter, L-JavaScript

#6896 feat(wasm): expose new functions
  .changeset/six-corners-lay.md
  Cargo.lock
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/src/handlers/formatting.rs
  crates/biome_lsp/src/handlers/text_document.rs
  crates/biome_lsp/src/requests/syntax_tree.rs
  crates/biome_module_graph/Cargo.toml
  crates/biome_module_graph/src/js_module_info.rs
  crates/biome_module_graph/src/lib.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/snapshots/biome_service__workspace__tests__debug_module_graph.snap
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace.tests.rs
  crates/biome_service/src/workspace/client.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace_types.rs
  crates/biome_wasm/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-CLI, A-Project, A-LSP, L-JavaScript, L-JSON

#7002 refactor(formatter): specialised verbatim formatting
  crates/biome_css_formatter/src/css/auxiliary/metavariable.rs
  crates/biome_css_formatter/src/css/auxiliary/value_at_rule_declaration_clause.rs
  crates/biome_css_formatter/src/lib.rs
  crates/biome_css_formatter/src/prelude.rs
  crates/biome_css_formatter/src/verbatim.rs
  crates/biome_css_formatter/tests/specs/css/atrule/value.css.snap
  crates/biome_formatter/src/lib.rs
  crates/biome_formatter/src/prelude.rs
  crates/biome_graphql_formatter/src/lib.rs
  crates/biome_graphql_formatter/src/prelude.rs
  crates/biome_graphql_formatter/src/verbatim.rs
  crates/biome_grit_formatter/src/lib.rs
  crates/biome_grit_formatter/src/prelude.rs
  crates/biome_grit_formatter/src/verbatim.rs
  crates/biome_html_formatter/src/html/auxiliary/comment.rs
  crates/biome_html_formatter/src/html/auxiliary/content.rs
  crates/biome_html_formatter/src/lib.rs
  crates/biome_html_formatter/src/prelude.rs
  crates/biome_html_formatter/src/svelte/auxiliary/text_expression.rs
  crates/biome_html_formatter/src/verbatim.rs
  crates/biome_js_formatter/src/js/auxiliary/metavariable.rs
  crates/biome_js_formatter/src/jsx/auxiliary/text.rs
  crates/biome_js_formatter/src/lib.rs
  crates/biome_js_formatter/src/prelude.rs
  crates/biome_js_formatter/src/ts/lists/union_type_variant_list.rs
  crates/biome_js_formatter/src/utils/assignment_like.rs
  crates/biome_js_formatter/src/verbatim.rs
  crates/biome_json_formatter/src/json/auxiliary/root.rs
  crates/biome_json_formatter/src/lib.rs
  crates/biome_json_formatter/src/prelude.rs
  crates/biome_json_formatter/src/verbatim.rs
Labels: A-Formatter, L-JavaScript, L-CSS, L-JSON, L-HTML, L-Grit

#7005 feat(wasm): expose Workspace::scan_project_folder
  .changeset/six-corners-lay.md
  Cargo.lock
  Cargo.toml
  crates/biome_service/Cargo.toml
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace_types.rs
  crates/biome_wasm/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-Project

#7014 fix(migrate): transfer comments to the separator
  .changeset/grumpy-crews-sneeze.md
  crates/biome_analyze/src/utils.rs
  crates/biome_migrate/tests/specs/migrations/ruleMover/issue6516.jsonc
  crates/biome_migrate/tests/specs/migrations/ruleMover/issue6516.jsonc.snap
Labels: A-Linter

#7010 test(biome-js-analyze): add tests to cover tests to cover ??=, ||=, &&=
  crates/biome_js_analyze/tests/specs/nursery/useReadonlyClassProperties/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/useReadonlyClassProperties/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useReadonlyClassProperties/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useReadonlyClassProperties/valid.ts.snap
Labels: A-Linter, L-JavaScript

#6923 feat(qwik): add domain setup and enable some pre-existing rules
  .changeset/ripe-eyes-fix.md
  crates/biome_analyze/src/rule.rs
  crates/biome_configuration/tests/invalid/domains.json.snap
  crates/biome_js_analyze/src/lint/correctness/use_jsx_key_in_iterable.rs
  crates/biome_js_analyze/src/lint/suspicious/no_react_specific_props.rs
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/invalid.jsx
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/valid.jsx
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/valid.jsx.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, L-JSON

#7000 fix(lint/noUnassignedVariables): handle JSX ref attribute assignments
  .changeset/five-ghosts-wave.md
  crates/biome_js_analyze/tests/specs/nursery/noUnassignedVariables/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noUnassignedVariables/valid.jsx.snap
  crates/biome_js_semantic/src/events.rs
Labels: A-Linter, L-JavaScript

#7044 fix(lint): `useSemanticElements` self-closing elements
  .changeset/floppy-dragons-yell.md
  crates/biome_js_analyze/src/lint/a11y/use_semantic_elements.rs
  crates/biome_js_analyze/tests/specs/a11y/useSemanticElements/invalid.jsx
  crates/biome_js_analyze/tests/specs/a11y/useSemanticElements/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/useSemanticElements/invalid_self_closing.jsx
  crates/biome_js_analyze/tests/specs/a11y/useSemanticElements/invalid_self_closing.jsx.snap
Labels: A-Linter, L-JavaScript

#7057 feat(lint): implement `noVueReservedKeys` rule
  .changeset/bitter-places-post.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/frameworks/vue/vue_component.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_vue_reserved_keys.rs
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-async-data.vue
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-async-data.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-computed.vue
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-computed.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-data-arrow-function.vue
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-data-arrow-function.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-data-function.vue
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-data-function.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-data-method.vue
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-data-method.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-data-object.vue
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-data-object.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-data-short-arrow-function.vue
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-data-short-arrow-function.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-define-props-object.vue
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-define-props-object.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-methods.vue
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-methods.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-props-array.vue
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-props-array.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-props-object.vue
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-props-object.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-setup-interface.vue
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-setup-interface.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-setup-type-alias.vue
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-setup-type-alias.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-type-inline.vue
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/invalid-type-inline.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/valid-data-arrow-function.vue
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/valid-data-arrow-function.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/valid-data-method.vue
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/valid-data-method.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/valid-data-short-arrow-function.vue
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/valid-data-short-arrow-function.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/valid-props-object.vue
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/valid-props-object.vue.snap
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/valid-setup-data.vue
  crates/biome_js_analyze/tests/specs/nursery/noVueReservedKeys/valid-setup-data.vue.snap
  crates/biome_rule_options/src/lib.rs
  crates/biome_rule_options/src/no_vue_reserved_keys.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, D-Vue

#7055 feat(analyze/js): add useReactFunctionComponents rule
  .changeset/long-socks-rhyme.md
  crates/biome_analyze/src/rule.rs
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_react_function_components.rs
  crates/biome_js_analyze/src/react/components.rs
  crates/biome_js_analyze/tests/specs/nursery/useReactFunctionComponents/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useReactFunctionComponents/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useReactFunctionComponents/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useReactFunctionComponents/valid.jsx.snap
  crates/biome_rule_options/src/lib.rs
  crates/biome_rule_options/src/use_react_function_components.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic, D-React

#7058 docs(analyze): about "Services"
  crates/biome_analyze/CONTRIBUTING.md
Labels: A-Linter

#6887 feat(qwik): add few new lint rules
  .changeset/clever-colts-drive.md
  .changeset/cuddly-trees-create.md
  .changeset/floppy-drinks-sink.md
  .changeset/tall-cups-stick.md
  crates/biome_analyze/src/rule.rs
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_configuration/tests/invalid/domains.json.snap
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_qwik_use_visible_task.rs
  crates/biome_js_analyze/src/lint/nursery/use_anchor_href.rs
  crates/biome_js_analyze/src/lint/nursery/use_image_size.rs
  crates/biome_js_analyze/src/lint/nursery/use_qwik_classlist.rs
  crates/biome_js_analyze/tests/specs/nursery/noQwikUseVisibleTask/noQwikUseVisibleTask/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noQwikUseVisibleTask/noQwikUseVisibleTask/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noQwikUseVisibleTask/noQwikUseVisibleTask/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noQwikUseVisibleTask/noQwikUseVisibleTask/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useAnchorHref/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useAnchorHref/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useAnchorHref/valid-2.jsx
  crates/biome_js_analyze/tests/specs/nursery/useAnchorHref/valid-2.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useAnchorHref/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useAnchorHref/valid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useImageSize/invalid-2.jsx
  crates/biome_js_analyze/tests/specs/nursery/useImageSize/invalid-2.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useImageSize/invalid-3.jsx
  crates/biome_js_analyze/tests/specs/nursery/useImageSize/invalid-3.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useImageSize/invalid-4.jsx
  crates/biome_js_analyze/tests/specs/nursery/useImageSize/invalid-4.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useImageSize/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useImageSize/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useImageSize/valid-2.jsx
  crates/biome_js_analyze/tests/specs/nursery/useImageSize/valid-2.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useImageSize/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useImageSize/valid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useQwikClasslist/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useQwikClasslist/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useQwikClasslist/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useQwikClasslist/valid.jsx.snap
  crates/biome_rule_options/src/lib.rs
  crates/biome_rule_options/src/no_qwik_use_visible_task.rs
  crates/biome_rule_options/src/use_anchor_href.rs
  crates/biome_rule_options/src/use_image_size.rs
  crates/biome_rule_options/src/use_qwik_classlist.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic
