Repository biomejs/biome, pull requests merged in 2025-08, with the labels that each got.

#7087 chore(lint): add version to the released rules
  crates/biome_js_analyze/src/lint/nursery/no_vue_reserved_keys.rs
  crates/biome_js_analyze/src/lint/nursery/no_vue_reserved_props.rs
  crates/biome_js_analyze/src/lint/nursery/use_react_function_components.rs
  crates/biome_json_analyze/src/lint/nursery/no_quickfix_biome.rs
Labels: A-Linter, L-JavaScript, L-JSON

#7053 feat(analyze/js): added rule for `@typescript-eslint/consistent-type-definitions`
  .changeset/use-consistent-type-definitions.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_consistent_type_definitions.rs
  crates/biome_js_analyze/tests/specs/nursery/useConsistentTypeDefinitions/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/useConsistentTypeDefinitions/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentTypeDefinitions/invalidType.options.json
  crates/biome_js_analyze/tests/specs/nursery/useConsistentTypeDefinitions/invalidType.ts
  crates/biome_js_analyze/tests/specs/nursery/useConsistentTypeDefinitions/invalidType.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentTypeDefinitions/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useConsistentTypeDefinitions/valid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentTypeDefinitions/validType.options.json
  crates/biome_js_analyze/tests/specs/nursery/useConsistentTypeDefinitions/validType.ts
  crates/biome_js_analyze/tests/specs/nursery/useConsistentTypeDefinitions/validType.ts.snap
  crates/biome_rule_options/src/lib.rs
  crates/biome_rule_options/src/use_consistent_type_definitions.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#7099 fix(core): consider extended configs for scan kind
  .changeset/skating-scanner-skips.md
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/linter_enables_project_domain_based_on_extended_config.snap
  crates/biome_formatter_test/src/spec.rs
  crates/biome_lsp/src/handlers/text_document.rs
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/server.tests.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace.tests.rs
  crates/biome_service/src/workspace/scanner.tests.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace/server.tests.rs
  crates/biome_service/src/workspace/watcher.tests.rs
  crates/biome_service/tests/spec_tests.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/js-api/src/wasm.ts
Labels: A-CLI, A-Project, A-Formatter, A-LSP

#7100 feat(analyse/js): add `noNonNullAssertedOptionalChain` rule
  .changeset/large-islands-tease.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_non_null_asserted_optional_chain.rs
  crates/biome_js_analyze/tests/specs/nursery/noNonNullAssertedOptionalChain/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noNonNullAssertedOptionalChain/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noNonNullAssertedOptionalChain/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noNonNullAssertedOptionalChain/valid.ts.snap
  crates/biome_rule_options/src/lib.rs
  crates/biome_rule_options/src/no_non_null_asserted_optional_chain.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#7106 fix(core): return type inference no longer picks up nested returns
  .changeset/returned-raisins-reciprocate.md
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/issue6985Valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/issue6985Valid.ts.snap
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_module_graph/tests/snapshots/test_resolve_type_of_this_in_class_wrong_scope.snap
  crates/biome_rowan/src/syntax/node.rs
Labels: A-Core, A-Project, A-Linter, L-JavaScript, A-Type-Inference

#7102 fix(lint/noUnusedPrivateClassMembers): handle class members declared in constructor parameters correctly
  .changeset/rotten-knives-brush.md
  crates/biome_js_analyze/src/lint/correctness/no_unused_private_class_members.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedPrivateClassMembers/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedPrivateClassMembers/invalid_issue_7101.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedPrivateClassMembers/invalid_issue_7101.ts.snap
  crates/biome_lsp/src/server.tests.rs
Labels: A-Linter, A-LSP, L-JavaScript

#7136 fix: revive wasm build
  crates/biome_service/src/scanner.rs
Labels: A-Project

#7129 fix: remove option, combobox, listbox from semantic element suggestions
  .changeset/new-shrimps-reply.md
  crates/biome_js_analyze/src/lint/a11y/use_semantic_elements.rs
  crates/biome_js_analyze/tests/specs/a11y/useSemanticElements/invalid.jsx
  crates/biome_js_analyze/tests/specs/a11y/useSemanticElements/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/useSemanticElements/invalid_self_closing.jsx
  crates/biome_js_analyze/tests/specs/a11y/useSemanticElements/invalid_self_closing.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/useSemanticElements/valid.jsx
  crates/biome_js_analyze/tests/specs/a11y/useSemanticElements/valid.jsx.snap
Labels: A-Linter, L-JavaScript

#7017 feat(lint): add `ignoreTypes` option to the `noImportCycles` rule
  .changeset/shaky-experts-sit.md
  crates/biome_js_analyze/src/lint/correctness/no_private_imports.rs
  crates/biome_js_analyze/src/lint/correctness/use_import_extensions.rs
  crates/biome_js_analyze/src/lint/nursery/no_import_cycles.rs
  crates/biome_js_analyze/src/lint/nursery/no_unresolved_imports.rs
  crates/biome_js_analyze/tests/specs/nursery/noImportCycles/ignoreTypes/a.ts
  crates/biome_js_analyze/tests/specs/nursery/noImportCycles/ignoreTypes/a.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noImportCycles/ignoreTypes/b.ts
  crates/biome_js_analyze/tests/specs/nursery/noImportCycles/ignoreTypes/b.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noImportCycles/ignoreTypes/c.ts
  crates/biome_js_analyze/tests/specs/nursery/noImportCycles/ignoreTypes/c.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noImportCycles/includeTypes.options.json
  crates/biome_js_analyze/tests/specs/nursery/noImportCycles/includeTypes.ts
  crates/biome_js_analyze/tests/specs/nursery/noImportCycles/includeTypes.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noImportCycles/types.ts
  crates/biome_js_analyze/tests/specs/nursery/noImportCycles/types.ts.snap
  crates/biome_module_graph/src/js_module_info.rs
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/src/js_module_info/module_resolver.rs
  crates/biome_module_graph/src/js_module_info/visitor.rs
  crates/biome_module_graph/src/lib.rs
  crates/biome_module_graph/tests/spec_tests.rs
  crates/biome_rule_options/src/no_import_cycles.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript

#7146 docs: remove the mention of a fix
  crates/biome_js_analyze/src/lint/style/use_consistent_member_accessibility.rs
Labels: A-Linter, L-JavaScript

#7124 feat(analyze/js): add `useMaxParams`
  .changeset/cruel-grapes-say.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_max_params.rs
  crates/biome_js_analyze/tests/specs/nursery/useMaxParams/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useMaxParams/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useMaxParams/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/useMaxParams/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useMaxParams/invalidCustomMax.js
  crates/biome_js_analyze/tests/specs/nursery/useMaxParams/invalidCustomMax.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useMaxParams/invalidCustomMax.options.json
  crates/biome_js_analyze/tests/specs/nursery/useMaxParams/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useMaxParams/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useMaxParams/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useMaxParams/valid.ts.snap
  crates/biome_rule_options/src/lib.rs
  crates/biome_rule_options/src/use_max_params.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#7081 feat(analyze/js): add `noNextAsyncClientComponent` rule in Next domain
  .changeset/shaggy-keys-camp.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_next_async_client_component.rs
  crates/biome_js_analyze/tests/specs/nursery/noNextAsyncClientComponent/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noNextAsyncClientComponent/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noNextAsyncClientComponent/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noNextAsyncClientComponent/valid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noNextAsyncClientComponent/validClient.jsx
  crates/biome_js_analyze/tests/specs/nursery/noNextAsyncClientComponent/validClient.jsx.snap
  crates/biome_rule_options/src/lib.rs
  crates/biome_rule_options/src/no_next_async_client_component.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#7163 refactor(test): make generated snapshot tests have module stucture that matches folder structure
  crates/biome_css_parser/tests/spec_tests.rs
  crates/tests_macros/src/lib.rs
Labels: A-Parser, L-CSS

#7161 fix(core): included files in nested configurations
  .changeset/fluffy-lies-drum.md
  crates/biome_cli/tests/cases/monorepo.rs
  crates/biome_cli/tests/snapshots/main_cases_monorepo/should_ignore_linter_nested_file.snap
  crates/biome_service/src/projects.rs
Labels: A-CLI, A-Project

#7156 fix(linter): false positive for `noDuplicateFontNames`
  .changeset/beige-geckos-heal.md
  crates/biome_css_analyze/src/fonts.rs
  crates/biome_css_analyze/src/lib.rs
  crates/biome_css_analyze/src/lint/a11y/use_generic_font_names.rs
  crates/biome_css_analyze/src/lint/correctness/no_unknown_function.rs
  crates/biome_css_analyze/src/lint/suspicious/no_duplicate_font_names.rs
  crates/biome_css_analyze/src/utils.rs
  crates/biome_css_analyze/tests/quick_test.rs
  crates/biome_css_analyze/tests/specs/suspicious/noDuplicateFontNames/invalid.css
  crates/biome_css_analyze/tests/specs/suspicious/noDuplicateFontNames/invalid.css.snap
  crates/biome_css_analyze/tests/specs/suspicious/noDuplicateFontNames/valid.css
  crates/biome_css_analyze/tests/specs/suspicious/noDuplicateFontNames/valid.css.snap
  crates/biome_css_analyze/tests/suppression/suspicious/noDuplicateFontNames/noDuplicateFontNames.css.snap
  crates/biome_css_syntax/src/lib.rs
  crates/biome_css_syntax/src/string_ext.rs
Labels: A-Linter, A-Parser, L-CSS

#7068 feat(parse/tailwind): handle most basenames with dashes
  crates/biome_tailwind_parser/src/lexer/mod.rs
  crates/biome_tailwind_parser/tests/tailwind_specs/ok/brackets/gradient.txt
  crates/biome_tailwind_parser/tests/tailwind_specs/ok/brackets/gradient.txt.snap
  crates/biome_tailwind_parser/tests/tailwind_specs/ok/simple/base-has-dash-0.txt
  crates/biome_tailwind_parser/tests/tailwind_specs/ok/simple/base-has-dash-0.txt.snap
  crates/biome_tailwind_parser/tests/tailwind_specs/ok/simple/base-has-dash-1.txt
  crates/biome_tailwind_parser/tests/tailwind_specs/ok/simple/base-has-dash-1.txt.snap
  crates/biome_tailwind_parser/tests/tailwind_specs/ok/simple/base-has-dash-2.txt
  crates/biome_tailwind_parser/tests/tailwind_specs/ok/simple/base-has-dash-2.txt.snap
  crates/biome_tailwind_parser/tests/tailwind_specs/ok/stress/stress-2.txt.snap
  crates/biome_tailwind_syntax/src/lib.rs
  crates/biome_tailwind_syntax/src/metadata.rs
Labels: A-Parser

#7086 feat(parser/tailwind): support arbitrary candidates
  crates/biome_tailwind_parser/src/lexer/mod.rs
  crates/biome_tailwind_parser/src/syntax/mod.rs
  crates/biome_tailwind_parser/src/token_source.rs
  crates/biome_tailwind_parser/tests/tailwind_specs/error/arbitrary-candidate/missing-property.txt
  crates/biome_tailwind_parser/tests/tailwind_specs/error/arbitrary-candidate/missing-property.txt.snap
  crates/biome_tailwind_parser/tests/tailwind_specs/error/arbitrary-candidate/missing-value-in-arbitrary.txt
  crates/biome_tailwind_parser/tests/tailwind_specs/error/arbitrary-candidate/missing-value-in-arbitrary.txt.snap
  crates/biome_tailwind_parser/tests/tailwind_specs/ok/candidates/arbitrary-candidate-0.txt
  crates/biome_tailwind_parser/tests/tailwind_specs/ok/candidates/arbitrary-candidate-0.txt.snap
  crates/biome_tailwind_parser/tests/tailwind_specs/ok/candidates/arbitrary-candidate-1.txt
  crates/biome_tailwind_parser/tests/tailwind_specs/ok/candidates/arbitrary-candidate-1.txt.snap
  crates/biome_tailwind_parser/tests/tailwind_specs/ok/candidates/arbitrary-candidate-2.txt
  crates/biome_tailwind_parser/tests/tailwind_specs/ok/candidates/arbitrary-candidate-2.txt.snap
  crates/biome_tailwind_parser/tests/tailwind_specs/ok/candidates/arbitrary-candidate-3.txt
  crates/biome_tailwind_parser/tests/tailwind_specs/ok/candidates/arbitrary-candidate-3.txt.snap
Labels: A-Parser

#7168 fix(yaml_parser): tokens out of order
  crates/biome_yaml_parser/src/lexer/mod.rs
  crates/biome_yaml_parser/src/lexer/tests/block.rs
  crates/biome_yaml_parser/src/parser/block.rs
  crates/biome_yaml_parser/tests/yaml_test_suite/err/block/mapping_followed_plain.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/err/block/mapping_followed_plain.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/err/block/mapping_key_contains_multiple_values.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/err/block/mapping_key_contains_multiple_values.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/err/block/mapping_missing_colon.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/err/block/mapping_missing_colon.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/err/block/multi_line_flow_collection_broken_out_of_parent_block.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/err/block/multi_line_plain_token_broken_out_parent_flow.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/err/block/plain_followed_mapping.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/err/block/plain_followed_mapping.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/err/block/plain_separated_by_comments.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/err/block/plain_separated_by_comments.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/err/block/sequence_follow_by_map.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/err/block/sequence_follow_by_map.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/err/flow/plain_start_with_indicator.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/err/flow/plain_start_with_indicator.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/explicit_block_mapping_with_compact_mapping.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/explicit_block_mapping_with_empty_value_and_mapping_as_key.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/nested_implicit_block_mapping.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/mapping/simple_block_mapping_separated_by_trivia.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/sequence/map_nested_in_sequence.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/sequence/nested_block_sequence.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/sequence/nested_block_sequence.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/sequence/sequence_nested_in_map.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/sequence/sequence_with_trailing_trivia.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/sequence/sequence_with_trailing_trivia.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/sequence/simple_block_sequence.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/flow/flow_with_trailing_trivia.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/flow/flow_with_trailing_trivia.yaml.snap
Labels: A-Parser

#7186 chore: fix typos `messsage` → `message`
  crates/biome_configuration/src/diagnostics.rs
Labels: A-Project

#7185 chore: fix typos in biome_cli crates
  crates/biome_cli/src/execute/migrate/ignorefile.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/service/mod.rs
  crates/biome_cli/tests/cases/overrides_linter.rs
  crates/biome_cli/tests/snapshots/main_cases_overrides_linter/does_preserve_group_recommended_when_override_global_recommended.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_linter/does_preserve_individually_disabled_rules_in_overrides.snap
Labels: A-CLI

#7187 chore: fix typos in biome css analyze crates
  crates/biome_css_analyze/src/keywords.rs
  crates/biome_css_analyze/tests/specs/source/useSortedProperties/invalid.css
  crates/biome_css_analyze/tests/specs/source/useSortedProperties/invalid.css.snap
  crates/biome_css_analyze/tests/specs/source/useSortedProperties/valid.css
  crates/biome_css_analyze/tests/specs/source/useSortedProperties/valid.css.snap
Labels: A-Linter, L-CSS

#7201 feat(useConst): don't report uninit variables read befroe to be written
  .changeset/tired-results-knock.md
  crates/biome_js_analyze/src/lint/style/use_const.rs
  crates/biome_js_analyze/tests/specs/style/useConst/invalid.jsonc.snap
Labels: A-Linter, L-JavaScript

#7118 feat(core): add support for `.graphqls` files
  .changeset/legal-mugs-care.md
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_format/can_format_graphphs_files.snap
  crates/biome_graphql_syntax/src/file_source.rs
Labels: A-CLI, A-Parser, L-JavaScript, L-JSON

#7207 chore: fix typos in biome formatter and grit crates
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_deserialize_macros/src/lib.rs
  crates/biome_formatter/src/builders.rs
  crates/biome_formatter/src/comments/map.rs
  crates/biome_formatter/src/lib.rs
  crates/biome_formatter/src/source_map.rs
  crates/biome_formatter_test/src/prettier/prepare_tests.js
  crates/biome_graphql_formatter/src/verbatim.rs
  crates/biome_grit_formatter/src/verbatim.rs
  crates/biome_grit_parser/src/lexer/mod.rs
  crates/biome_grit_parser/src/parser/parse_error.rs
  crates/biome_grit_parser/tests/grit_test_suite/err/incorrect_string_prefix.grit.snap
  crates/biome_grit_parser/tests/grit_test_suite/err/invalid_node_argument.grit.snap
  crates/biome_html_parser/src/token_source.rs
  crates/biome_js_analyze/src/lint/style/use_for_of.rs
  crates/biome_js_formatter/src/verbatim.rs
  crates/biome_json_formatter/src/verbatim.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, A-Parser, A-Formatter, L-JavaScript, L-JSON, L-HTML, L-Grit

#7213 chore: fix typos in biome js formatter crate
  crates/biome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/biome_js_formatter/src/jsx/tag/element.rs
  crates/biome_js_formatter/tests/specs/js/module/statement/continue_stmt.js
  crates/biome_js_formatter/tests/specs/js/module/statement/continue_stmt.js.snap
  crates/biome_js_formatter/tests/specs/js/module/statement/if_else.js
  crates/biome_js_formatter/tests/specs/js/module/statement/if_else.js.snap
  crates/biome_js_formatter/tests/specs/js/module/statement/return.js
  crates/biome_js_formatter/tests/specs/js/module/statement/return.js.snap
  crates/biome_js_formatter/tests/specs/js/module/string/quotePreserve/directives.js
  crates/biome_js_formatter/tests/specs/js/module/string/quotePreserve/directives.js.snap
  crates/biome_js_formatter/tests/specs/js/module/string/quoteSingle/directives.js
  crates/biome_js_formatter/tests/specs/js/module/string/quoteSingle/directives.js.snap
  crates/biome_js_formatter/tests/specs/jsx/element.jsx
  crates/biome_js_formatter/tests/specs/jsx/element.jsx.snap
  crates/biome_js_formatter/tests/specs/ts/class/assignment_layout.ts
  crates/biome_js_formatter/tests/specs/ts/class/assignment_layout.ts.snap
  crates/biome_js_formatter/tests/specs/ts/type/union_type.ts
  crates/biome_js_formatter/tests/specs/ts/type/union_type.ts.snap
Labels: A-Formatter, L-JavaScript

#7216 chore: fix various typos across codebase
  GOVERNANCE.md
  packages/@biomejs/biome/CHANGELOG.md
  packages/@biomejs/js-api/tests/lintContent.test.ts
  packages/@biomejs/js-api/tests/nodejs.test.ts
  xtask/codegen/css.ungram
  xtask/rules_check/src/lib.rs
Labels: A-Tooling

#7234 fix: correct error message in useIndexOf rule
  .changeset/slimy-zoos-search.md
  crates/biome_js_analyze/src/lint/complexity/use_index_of.rs
  crates/biome_js_analyze/tests/specs/complexity/useIndexOf/invalid.js.snap
Labels: A-Linter, L-JavaScript

#7270 fix(core): resolve issue with rest params in type inference
  .changeset/resting-rhinos-reverberate.md
  crates/biome_js_analyze/src/services/typed.rs
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_js_type_info/src/type_data.rs
  crates/biome_js_type_info/src/type_store.rs
  crates/biome_module_graph/benches/module_graph.rs
  crates/biome_module_graph/src/js_module_info.rs
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/src/js_module_info/module_resolver.rs
  crates/biome_module_graph/tests/fixtures/RedisCommander_stripped.d.ts
  crates/biome_module_graph/tests/snapshots/test_resolve_export_type_referencing_imported_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_imported_promise_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_reexported_promise_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_recursive_looking_vfile.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_type_of_destructured_field_of_intersection_of_interfaces.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_type_of_this_in_class_assign.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_type_of_this_in_class_export.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_type_of_this_in_class_plain.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_type_of_this_in_object.snap
  crates/biome_module_graph/tests/spec_tests.rs
Labels: A-Project, A-Linter, L-JavaScript, A-Type-Inference

#7272 docs(lint): improve noUndeclaredDependencies
  crates/biome_js_analyze/src/lint/correctness/no_undeclared_dependencies.rs
Labels: A-Linter, L-JavaScript

#7285 feat(grit): add JSX node name mappings for GritQL patterns
  .changeset/cyan-jars-shake.md
  crates/biome_grit_patterns/src/grit_target_language/js_target_language.rs
  crates/biome_grit_patterns/tests/specs/tsx/jsx_nodes.grit
  crates/biome_grit_patterns/tests/specs/tsx/jsx_nodes.snap
  crates/biome_grit_patterns/tests/specs/tsx/jsx_nodes.tsx
Labels: L-Grit

#7015 feat(biome-js-analyzer): adds class member analyzer to extract mutated properties in a class
  crates/biome_js_analyze/src/class_member_references.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/style/use_readonly_class_properties.rs
Labels: A-CLI, A-Linter, L-JavaScript, L-JSON

#7317 fix(noDuplicateObjectKeys): correct grammatical error in JSON diagnostic message
  crates/biome_cli/tests/snapshots/main_commands_check/check_json_files.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/check_json_files.snap
  crates/biome_json_analyze/src/lint/suspicious/no_duplicate_object_keys.rs
  crates/biome_json_analyze/tests/specs/suspicious/noDuplicateObjectKeys/invalid.json.snap
Labels: A-CLI, A-Linter, L-JSON

#7330 feat: indentation for vue and svelte files
  .changeset/dull-drinks-switch.md
  crates/biome_cli/tests/cases/handle_svelte_files.rs
  crates/biome_cli/tests/cases/handle_vue_files.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/format_astro_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/format_astro_files_write.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_astro_files/format_stdin_write_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/check_stdin_write_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/check_stdin_write_unsafe_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/format_stdin_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/format_stdin_write_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/format_svelte_carriage_return_line_feed_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/format_svelte_ts_context_module_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_svelte_files/format_svelte_ts_context_module_files_write.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/check_stdin_write_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/check_stdin_write_unsafe_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_stdin_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_stdin_write_successfully.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_carriage_return_line_feed_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_explicit_js_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_explicit_js_files_write.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_generic_component_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_implicit_js_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_implicit_js_files_write.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_ts_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/format_vue_ts_files_write.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_svelte_explicit_js_files.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_svelte_explicit_js_files_write.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_svelte_implicit_js_files.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_svelte_implicit_js_files_write.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_svelte_ts_files.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_svelte_ts_files_write.snap
  crates/biome_formatter/src/printer/mod.rs
  crates/biome_service/src/file_handlers/svelte.rs
  crates/biome_service/src/file_handlers/vue.rs
Labels: A-CLI, A-Project, A-Formatter

#7300 feat: execute JS plugin in the Boa engine
  .github/workflows/main.yml
  .github/workflows/preview.yml
  .github/workflows/pull_request.yml
  Cargo.lock
  Cargo.toml
  biome.json
  crates/biome_cli/Cargo.toml
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_runtime/Cargo.toml
  crates/biome_js_runtime/src/context.rs
  crates/biome_js_runtime/src/lib.rs
  crates/biome_js_runtime/src/module_loader.rs
  crates/biome_js_runtime/src/plugin_api.rs
  crates/biome_plugin_loader/Cargo.toml
  crates/biome_plugin_loader/src/analyzer_js_plugin.rs
  crates/biome_plugin_loader/src/diagnostics.rs
  crates/biome_plugin_loader/src/lib.rs
  crates/biome_plugin_loader/src/snapshots/evaluate_in_worker_threads.snap
  crates/biome_plugin_loader/src/thread_local.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/workspace/server.rs
  package.json
  packages/@biomejs/plugin-api/LICENSE-APACHE
  packages/@biomejs/plugin-api/LICENSE-MIT
  packages/@biomejs/plugin-api/index.d.ts
  packages/@biomejs/plugin-api/index.js
  packages/@biomejs/plugin-api/package.json
  plugins/plugin.js
  pnpm-lock.yaml
Labels: A-CLI, A-Project, A-Linter, L-JavaScript

#7288 fix(format): honor jsxEverywhere setting in variant-specific formatter rules
  .changeset/keep-jsxeverywhere-variant.md
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/javascript.tests.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace/server.tests.rs
Labels: A-Project

#7315 fix(biome-js-analyze): add tests for useReadonlyClassProperties
  .changeset/use_readonly_class_properties_nested_assignment_fix.md
  crates/biome_js_analyze/tests/specs/style/useReadonlyClassProperties/valid.ts
  crates/biome_js_analyze/tests/specs/style/useReadonlyClassProperties/valid.ts.snap
Labels: A-Linter, L-JavaScript

#7349 fix(css/formatter): formatting of single value lists
  .changeset/plenty-actors-think.md
  crates/biome_css_formatter/src/utils/component_value_list.rs
  crates/biome_css_formatter/tests/specs/css/issue_4298.css
  crates/biome_css_formatter/tests/specs/css/issue_4298.css.snap
Labels: A-Formatter, L-CSS

#7350 fix(formatter): patch ID_Continue to omit U+30FB and U+FF65 added in Unicode 15.1
  .changeset/clever-worlds-heal.md
  crates/biome_js_formatter/tests/specs/js/module/object/property_key.js
  crates/biome_js_formatter/tests/specs/js/module/object/property_key.js.snap
  crates/biome_unicode_table/src/lib.rs
Labels: A-Formatter, L-JavaScript

#7359 feat(core): add force-ignore syntax to `files.includes`
  .changeset/forced-files-forget.md
  biome.json
  crates/biome_cli/tests/cases/included_files.rs
  crates/biome_cli/tests/snapshots/main_cases_included_files/does_not_handle_files_inside_force_ignored_folders.snap
  crates/biome_cli/tests/snapshots/main_cases_included_files/does_not_handle_included_files_if_overridden_by_forced_ignore.snap
  crates/biome_configuration/src/lib.rs
  crates/biome_configuration/tests/invalid/experimental_scanner_ignores.json
  crates/biome_configuration/tests/invalid/experimental_scanner_ignores.json.snap
  crates/biome_glob/src/lib.rs
  crates/biome_module_graph/src/js_module_info/diagnostics.rs
  crates/biome_service/src/projects.rs
  crates/biome_service/src/scanner/workspace_scanner_bridge.tests.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/snapshots/module_diagnostic.snap
  crates/biome_service/src/workspace/server.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project
