Repository biomejs/biome, pull requests merged in 2025-03, with the labels that each got.

#5220 chore: update useForComponent diagnostic note
  crates/biome_js_analyze/src/lint/nursery/use_for_component.rs
  crates/biome_js_analyze/tests/specs/nursery/useForComponent/invalid.tsx.snap
Labels: A-Linter, L-JavaScript

#5225 build: upgrade toolchain to Rust 1.85.0
  crates/biome_analyze/src/lib.rs
  crates/biome_grit_patterns/src/pattern_compiler/call_compiler.rs
  crates/biome_js_analyze/src/lint/a11y/use_alt_text.rs
  crates/biome_js_analyze/src/lint/a11y/use_anchor_content.rs
  crates/biome_js_analyze/src/lint/a11y/use_heading_content.rs
  crates/biome_js_analyze/src/lint/a11y/use_html_lang.rs
  crates/biome_js_analyze/src/lint/a11y/use_iframe_title.rs
  crates/biome_js_analyze/src/lint/a11y/use_valid_anchor.rs
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/src/lint/nursery/no_constant_binary_expression.rs
  crates/biome_js_analyze/src/lint/nursery/no_static_element_interactions.rs
  crates/biome_js_analyze/src/lint/style/use_self_closing_elements.rs
  crates/biome_js_analyze/src/lint/suspicious/no_prototype_builtins.rs
  crates/biome_js_formatter/src/comments.rs
  crates/biome_js_formatter/src/js/expressions/call_arguments.rs
  crates/biome_js_formatter/src/utils/conditional.rs
  crates/biome_js_syntax/src/jsx_ext.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/settings.rs
  crates/biome_string_case/src/lib.rs
  rust-toolchain.toml
  xtask/coverage/src/js/test262.rs
Labels: A-Project, A-Linter, A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-Grit

#5200 feat(core): workspace watcher
  Cargo.lock
  crates/biome_cli/src/commands/daemon.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/process_file/workspace_file.rs
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_cli/tests/main.rs
  crates/biome_fs/src/fs.rs
  crates/biome_fs/src/fs/os.rs
  crates/biome_lsp/Cargo.toml
  crates/biome_lsp/src/handlers/text_document.rs
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/server.tests.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/CONTRIBUTING.md
  crates/biome_service/Cargo.toml
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/lib.rs
  crates/biome_service/src/projects.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace.tests.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace/server.tests.rs
  crates/biome_service/src/workspace/watcher.rs
  crates/biome_service/src/workspace/watcher.tests.rs
  crates/biome_service/src/workspace_watcher.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/backend-jsonrpc/tests/workspace.test.mjs
  packages/@biomejs/js-api/src/index.ts
Labels: A-CLI, A-Core, A-Project, A-LSP

#5223 fix: add missing unsafe blocks and unsafe keyword on extern blocks
  Cargo.toml
  crates/biome_cli/tests/commands/rage.rs
  crates/biome_formatter_test/src/diff_report.rs
  crates/biome_js_parser/src/lexer/mod.rs
  crates/biome_rowan/src/arc.rs
  crates/biome_rowan/src/green/node.rs
  crates/biome_rowan/src/green/node_cache.rs
  crates/biome_rowan/src/green/token.rs
  crates/biome_rowan/src/green/trivia.rs
  crates/biome_test_utils/src/lib.rs
  xtask/src/glue.rs
Labels: A-CLI, A-Core, A-Parser, A-Formatter, A-Tooling, L-JavaScript

#5226 refactor(js_analyze): remove support for dynamic regexes
  .changeset/empty-readers-rule.md
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_js_analyze/src/lint/suspicious/no_control_characters_in_regex.rs
  crates/biome_js_analyze/src/lint/suspicious/no_misleading_character_class.rs
  crates/biome_js_analyze/tests/specs/suspicious/noControlCharactersInRegex/invalid.js
  crates/biome_js_analyze/tests/specs/suspicious/noControlCharactersInRegex/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noMisleadingCharacterClass/invalid.js
  crates/biome_js_analyze/tests/specs/suspicious/noMisleadingCharacterClass/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noMisleadingCharacterClass/valid.js
  crates/biome_js_analyze/tests/specs/suspicious/noMisleadingCharacterClass/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript

#5221 fix: remove usages of gen reserved keyword
  Cargo.lock
  Cargo.toml
  crates/biome_analyze/src/categories.rs
  crates/biome_configuration/src/analyzer/mod.rs
  crates/biome_configuration/src/bool.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_configuration/src/overrides.rs
  crates/biome_diagnostics/src/display/backtrace.rs
  crates/biome_diagnostics/src/serde.rs
  crates/biome_diagnostics_categories/build.rs
  crates/biome_fs/src/path.rs
  crates/biome_glob/src/editorconfig.rs
  crates/biome_glob/src/lib.rs
  crates/biome_grit_patterns/src/grit_built_in_functions.rs
  crates/biome_grit_patterns/src/grit_target_language.rs
  crates/biome_js_analyze/src/lint/correctness/no_undeclared_dependencies.rs
  crates/biome_js_analyze/src/lint/style/use_filenaming_convention.rs
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/src/react/hooks.rs
  crates/biome_js_analyze/src/utils/restricted_regex.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace_types.rs
  crates/biome_text_size/src/schemars_impls.rs
  crates/biome_wasm/build.rs
  crates/tests_macros/src/lib.rs
  xtask/codegen/src/generate_bindings.rs
Labels: A-CLI, A-Core, A-Project, A-Linter, A-Tooling, L-JavaScript, A-Diagnostic, L-Grit

#5228 refactor(formatter): preserve useless escapes
  .changeset/preserve-useless-escapes.md
  crates/biome_formatter/src/token/string.rs
  crates/biome_js_formatter/src/utils/string_utils.rs
  crates/biome_js_formatter/tests/specs/prettier/js/quote-props/objects.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/quotes/strings.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/strings/non-octal-eight-and-nine.js.prettier-snap
  crates/biome_json_formatter/src/format_string.rs
  crates/biome_json_formatter/tests/specs/json/object/string.json.snap
  crates/biome_json_formatter/tests/specs/prettier/json/json/pass1.json.prettier-snap
  crates/biome_json_formatter/tests/specs/prettier/json/json/pass1.json.snap
Labels: A-Formatter, L-JavaScript, L-JSON

#5222 fix: add missing `use<>` to RPIT's
  Cargo.toml
  crates/biome_formatter/src/comments.rs
  crates/biome_grit_patterns/src/grit_target_node.rs
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/src/react/hooks.rs
  crates/biome_js_semantic/src/semantic_model/closure.rs
  crates/biome_js_semantic/src/semantic_model/scope.rs
  crates/biome_js_syntax/src/expr_ext.rs
  crates/biome_rowan/src/cursor/element.rs
  crates/biome_rowan/src/cursor/node.rs
  crates/biome_rowan/src/cursor/token.rs
  crates/biome_rowan/src/syntax/element.rs
  crates/biome_rowan/src/syntax/node.rs
  crates/biome_rowan/src/syntax/token.rs
  crates/biome_rowan/src/syntax_node_text.rs
  xtask/codegen/src/generate_analyzer.rs
Labels: A-Core, A-Linter, A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-Grit

#5224 build: upgrade to Rust 2024 edition
  Cargo.toml
  crates/biome_css_semantic/src/semantic_model/model.rs
  crates/biome_formatter/src/macros.rs
  crates/biome_js_analyze/src/lint/suspicious/no_misleading_character_class.rs
  crates/biome_wasm/Cargo.toml
  fuzz/Cargo.toml
  rustfmt.toml
  xtask/Cargo.toml
  xtask/bench/Cargo.toml
  xtask/codegen/Cargo.toml
  xtask/coverage/Cargo.toml
  xtask/libs_bench/Cargo.toml
  xtask/rules_check/Cargo.toml
Labels: A-CLI, A-Linter, A-Formatter, A-Tooling, L-JavaScript, L-CSS

#5229 feat(js/noUselessEscapeInString): add lint rule
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_useless_escape_in_regex.rs
  crates/biome_js_analyze/src/lint/nursery/no_useless_escape_in_string.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInRegex/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInString/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInString/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInString/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInString/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInString/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInString/valid.jsx.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript, A-Diagnostic

#5237 refactor(formatter): preserve useless escaped quotes and single quotes in CSS charset
  crates/biome_css_formatter/src/utils/string_utils.rs
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/charset.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/quotes/quotes.css.prettier-snap
  crates/biome_css_formatter/tests/specs/prettier/css/quotes/quotes.css.snap
  crates/biome_formatter/src/lib.rs
  crates/biome_formatter/src/token/string.rs
  crates/biome_js_formatter/src/utils/string_utils.rs
  crates/biome_js_formatter/tests/specs/js/module/assignment/assignment.js.snap
  crates/biome_js_formatter/tests/specs/js/module/string/quotePreserve/string.js.snap
  crates/biome_js_formatter/tests/specs/js/module/string/quoteSingle/string.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/quotes/strings.js
  crates/biome_js_formatter/tests/specs/prettier/js/quotes/strings.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/quotes/strings.js.prettier-snap-original
  crates/biome_js_formatter/tests/specs/prettier/js/strings/escaped.js.prettier-snap
  crates/biome_js_formatter/tests/specs/prettier/js/strings/escaped.js.snap
  crates/biome_js_formatter/tests/specs/prettier/js/strings/strings.js.prettier-snap
  crates/biome_json_formatter/src/format_string.rs
  crates/biome_json_formatter/src/json/auxiliary/member_name.rs
  crates/biome_json_formatter/src/json/value/string_value.rs
  crates/biome_json_formatter/src/lib.rs
Labels: A-Formatter, L-JavaScript, L-CSS, L-JSON

#5241 fix(noUselessEscapeInString): use text_trimmed instead of text
  crates/biome_css_analyze/src/lint/nursery/no_useless_escape_in_string.rs
  crates/biome_css_analyze/tests/specs/nursery/noUselessEscapeInString/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noUselessEscapeInString/invalid.css.snap
  crates/biome_js_analyze/src/lint/nursery/no_useless_escape_in_string.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInString/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInString/invalid.js.snap
Labels: A-Linter, L-JavaScript, L-CSS

#5246 fix(js/linter): use text_trimmed instead of text
  crates/biome_js_analyze/src/lint/complexity/no_useless_catch.rs
  crates/biome_js_analyze/src/lint/correctness/no_nonoctal_decimal_escape.rs
  crates/biome_js_analyze/src/lint/nursery/no_floating_promises.rs
  crates/biome_js_analyze/src/lint/nursery/no_secrets.rs
  crates/biome_js_analyze/src/lint/nursery/no_template_curly_in_string.rs
  crates/biome_js_analyze/src/lint/nursery/no_useless_string_raw.rs
  crates/biome_js_analyze/src/lint/nursery/use_parse_int_radix.rs
  crates/biome_js_analyze/src/lint/style/no_shouty_constants.rs
  crates/biome_js_analyze/src/lint/style/no_unused_template_literal.rs
  crates/biome_js_analyze/src/lint/style/use_for_of.rs
  crates/biome_js_analyze/src/lint/suspicious/no_misleading_character_class.rs
  crates/biome_js_analyze/src/lint/suspicious/no_misplaced_assertion.rs
  crates/biome_js_analyze/src/lint/suspicious/no_suspicious_semicolon_in_jsx.rs
  crates/biome_js_analyze/src/lint/suspicious/no_then_property.rs
  crates/biome_js_analyze/tests/specs/style/noShoutyConstants/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noMisleadingCharacterClass/invalid.js.snap
Labels: A-Linter, L-JavaScript

#5239 refactor: better handling for the lifetime extension issue
  crates/biome_formatter/src/builders.rs
  crates/biome_formatter/src/macros.rs
Labels: A-Formatter

#5230 feat(lint): add `allowLabels` option to `suspicious/noConfusingLabels`
  .changeset/four-doors-raise.md
  crates/biome_js_analyze/src/lint/suspicious/no_confusing_labels.rs
  crates/biome_js_analyze/tests/specs/suspicious/noConfusingLabels/allowedLabel.js
  crates/biome_js_analyze/tests/specs/suspicious/noConfusingLabels/allowedLabel.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noConfusingLabels/allowedLabel.options.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript

#5259 feat(xtask): check rustfmt version in codegen
  xtask/src/lib.rs
Labels: A-Tooling

#5243 refactor(noOctalEscape): fixes and improvements
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_js_analyze/src/lint/nursery/no_octal_escape.rs
  crates/biome_js_analyze/src/lint/nursery/no_useless_escape_in_string.rs
  crates/biome_js_analyze/tests/specs/nursery/noOctalEscape/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noOctalEscape/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noOctalEscape/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noOctalEscape/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript

#5264 fix: organizeImports and internal service language
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_ariakit.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_knip.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_sentry.snap
  crates/biome_migrate/src/analyzers/organize_imports.rs
  crates/biome_migrate/tests/specs/migrations/organizeImports/invalid.json.snap
  crates/biome_migrate/tests/specs/migrations/organizeImports/invalid2.json
  crates/biome_migrate/tests/specs/migrations/organizeImports/invalid2.json.snap
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/grit.rs
  crates/biome_service/src/file_handlers/html.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/settings.tests.rs
  xtask/rules_check/src/lib.rs
Labels: A-CLI, A-Project, A-Tooling

#5267 refactor(parse/html): split `HtmlName` into `HtmlTagName` and `HtmlAttributeName`
  crates/biome_html_factory/src/generated/node_factory.rs
  crates/biome_html_factory/src/generated/syntax_factory.rs
  crates/biome_html_formatter/src/generated.rs
  crates/biome_html_formatter/src/html/auxiliary/attribute_name.rs
  crates/biome_html_formatter/src/html/auxiliary/mod.rs
  crates/biome_html_formatter/src/html/auxiliary/name.rs
  crates/biome_html_formatter/src/html/auxiliary/tag_name.rs
  crates/biome_html_formatter/src/utils/metadata.rs
  crates/biome_html_parser/src/syntax/mod.rs
  crates/biome_html_parser/tests/html_specs/error/attributes/invalid-unqouted-value1.html.snap
  crates/biome_html_parser/tests/html_specs/error/attributes/invalid-unquoted-value2.html.snap
  crates/biome_html_parser/tests/html_specs/error/attributes/missing-initializer.html.snap
  crates/biome_html_parser/tests/html_specs/error/element/br-with-end.html.snap
  crates/biome_html_parser/tests/html_specs/error/element/child-no-tag-name.html.snap
  crates/biome_html_parser/tests/html_specs/error/element/missing-close-tag-2.html.snap
  crates/biome_html_parser/tests/html_specs/error/element/missing-close-tag.html.snap
  crates/biome_html_parser/tests/html_specs/ok/attributes/attributes-unquoted.html.snap
  crates/biome_html_parser/tests/html_specs/ok/attributes/attributes.html.snap
  crates/biome_html_parser/tests/html_specs/ok/attributes/multiline-attribute-value.html.snap
  crates/biome_html_parser/tests/html_specs/ok/attributes/multiline-attributes.html.snap
  crates/biome_html_parser/tests/html_specs/ok/element.html.snap
  crates/biome_html_parser/tests/html_specs/ok/element_list.html.snap
  crates/biome_html_parser/tests/html_specs/ok/element_list2.html.snap
  crates/biome_html_parser/tests/html_specs/ok/embedded-languages/script-basic.html.snap
  crates/biome_html_parser/tests/html_specs/ok/embedded-languages/script-empty.html.snap
  crates/biome_html_parser/tests/html_specs/ok/embedded-languages/script-in-string.html.snap
  crates/biome_html_parser/tests/html_specs/ok/embedded-languages/script-less-than.html.snap
  crates/biome_html_parser/tests/html_specs/ok/hello-world.html.snap
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/br-in-span.html.snap
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/br.html.snap
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/casing.html.snap
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/meta.html.snap
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/param.html.snap
  crates/biome_html_parser/tests/html_specs/ok/no-end-tags/wbr.html.snap
  crates/biome_html_parser/tests/html_specs/ok/quote-in-child.html.snap
  crates/biome_html_parser/tests/html_specs/ok/special-chars.html.snap
  crates/biome_html_syntax/src/generated/kind.rs
  crates/biome_html_syntax/src/generated/macros.rs
  crates/biome_html_syntax/src/generated/nodes.rs
  crates/biome_html_syntax/src/generated/nodes_mut.rs
  xtask/codegen/html.ungram
  xtask/codegen/src/html_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-HTML

#5209 fix(js_parser): allow metavariables to be placed in more locations
  crates/biome_grit_patterns/src/pattern_compiler/snippet_compiler.rs
  crates/biome_grit_patterns/tests/specs/tsx/jsx.grit
  crates/biome_grit_patterns/tests/specs/tsx/jsx.snap
  crates/biome_grit_patterns/tests/specs/tsx/jsx.tsx
  crates/biome_js_analyze/src/assist/source/use_sorted_attributes.rs
  crates/biome_js_analyze/src/lint/a11y/no_label_without_control.rs
  crates/biome_js_analyze/src/lint/a11y/use_key_with_click_events.rs
  crates/biome_js_analyze/src/lint/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/src/lint/nursery/use_google_font_preconnect.rs
  crates/biome_js_analyze/src/lint/style/use_fragment_syntax.rs
  crates/biome_js_formatter/src/jsx/any/attribute.rs
  crates/biome_js_formatter/src/jsx/any/child.rs
  crates/biome_js_formatter/src/jsx/any/element_name.rs
  crates/biome_js_formatter/src/jsx/tag/opening_element.rs
  crates/biome_js_parser/src/lexer/mod.rs
  crates/biome_js_parser/src/syntax/jsx/mod.rs
  crates/biome_js_parser/tests/js_test_suite/ok/metavar.tsx
  crates/biome_js_parser/tests/js_test_suite/ok/metavar.tsx.snap
  crates/biome_js_syntax/src/generated/nodes.rs
  crates/biome_js_syntax/src/jsx_ext.rs
  xtask/codegen/js.ungram
Labels: A-Linter, A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-Grit

#5269 refactor(noNonoctalDecimalEscape): check member name
  crates/biome_js_analyze/src/lint/correctness/no_nonoctal_decimal_escape.rs
  crates/biome_js_analyze/src/lint/nursery/no_octal_escape.rs
  crates/biome_js_analyze/tests/specs/correctness/noNonoctalDecimalEscape/invalid.js
  crates/biome_js_analyze/tests/specs/correctness/noNonoctalDecimalEscape/invalid.js.snap
Labels: A-Linter, L-JavaScript

#5268 fix(lsp): order of code actions
  .changeset/pretty-buttons-taste.md
  crates/biome_analyze/src/categories.rs
  crates/biome_analyze/src/rule.rs
  crates/biome_lsp/src/capabilities.rs
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/src/server.tests.rs
Labels: A-Linter, A-LSP

#5275 chore: stabilise tests on macOS
  crates/biome_cli/src/commands/daemon.rs
  crates/biome_lsp/src/server.tests.rs
  crates/biome_service/src/workspace_watcher.rs
Labels: A-CLI, A-Project, A-LSP

#5234 fix(biome_js_analyze): false positive for range operator in regular expression
  .changeset/olive-pets-arrive.md
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/suspicious/no_misleading_character_class.rs
  crates/biome_js_analyze/tests/specs/suspicious/noMisleadingCharacterClass/invalid.js
  crates/biome_js_analyze/tests/specs/suspicious/noMisleadingCharacterClass/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noMisleadingCharacterClass/valid.js
  crates/biome_js_analyze/tests/specs/suspicious/noMisleadingCharacterClass/valid.js.snap
Labels: A-Linter, L-JavaScript

#5235 feat(lsp)!: remove `--config-path` from lsp-proxy and daemon
  .changeset/chubby-cameras-argue.md
  crates/biome_cli/src/commands/daemon.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/src/service/unix.rs
  crates/biome_cli/src/service/windows.rs
  crates/biome_cli/tests/main.rs
  crates/biome_cli/tests/snapshots/main_commands_lsp_proxy/lsp_proxy_help.snap
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/server.tests.rs
  crates/biome_lsp/src/session.rs
Labels: A-CLI, A-LSP

#5273 fix(analyzer): top-level action with existing comments
  crates/biome_analyze/src/matcher.rs
  crates/biome_analyze/src/rule.rs
  crates/biome_analyze/src/suppression_action.rs
  crates/biome_analyze/src/syntax.rs
  crates/biome_css_analyze/src/suppression_action.rs
  crates/biome_css_analyze/tests/suppression/suspicious/noDuplicateFontNames/noDuplicateFontNames.css.snap
  crates/biome_css_analyze/tests/suppression/suspicious/noEmptyBlock/noEmptyBlock.css.snap
  crates/biome_graphql_analyze/src/suppression_action.rs
  crates/biome_graphql_analyze/tests/suppression/nursery/noDuplicatedFields/noDuplicatedFields.graphql.snap
  crates/biome_graphql_analyze/tests/suppression/nursery/useDeprecatedReason/useDeprecatedReason.graphql
  crates/biome_graphql_analyze/tests/suppression/nursery/useDeprecatedReason/useDeprecatedReason.graphql.snap
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_analyze/src/suppression_action.rs
  crates/biome_js_analyze/tests/suppression/a11y/useKeyWithClickEvents/invalid.jsx.snap
  crates/biome_js_analyze/tests/suppression/correctness/noUndeclaredVariables/noUndeclaredVariables.ts.snap
  crates/biome_js_analyze/tests/suppression/correctness/noUnusedVariables/simple.js.snap
  crates/biome_js_analyze/tests/suppression/suspicious/noArrayIndexKey/noArrayIndexKey.jsx.snap
  crates/biome_js_analyze/tests/suppression/suspicious/noAssignInExpressions/noAssignInExpressions.ts.snap
  crates/biome_js_analyze/tests/suppression/suspicious/noDoubleEquals/noDoubleEquals.js.snap
  crates/biome_js_analyze/tests/suppression/suspicious/noDoubleEquals/noDoubleEquals.jsx.snap
  crates/biome_js_analyze/tests/suppression/suspicious/noExplicitAny/noExplicitAny.ts.snap
  crates/biome_js_transform/src/lib.rs
  crates/biome_json_analyze/src/suppression_action.rs
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/src/server.tests.rs
  crates/biome_migrate/src/lib.rs
Labels: A-Linter, A-LSP, L-JavaScript, L-CSS, L-JSON

#5266 feat(format/html): normalize casing for directive
  Cargo.lock
  crates/biome_html_formatter/Cargo.toml
  crates/biome_html_formatter/src/html/auxiliary/directive.rs
  crates/biome_html_formatter/src/utils/formatters.rs
  crates/biome_html_formatter/src/utils/mod.rs
  crates/biome_html_formatter/tests/specs/html/directive/lowercase.html
  crates/biome_html_formatter/tests/specs/html/directive/lowercase.html.snap
  crates/biome_html_formatter/tests/specs/html/directive/uppercase.html
  crates/biome_html_formatter/tests/specs/html/directive/uppercase.html.snap
  crates/biome_html_formatter/tests/specs/html/directive/uppercase2.html
  crates/biome_html_formatter/tests/specs/html/directive/uppercase2.html.snap
  crates/biome_html_formatter/tests/specs/prettier/html/doctype_declarations/html4.01_frameset.html.snap
  crates/biome_html_formatter/tests/specs/prettier/html/doctype_declarations/html4.01_strict.html.snap
  crates/biome_html_formatter/tests/specs/prettier/html/doctype_declarations/html4.01_transitional.html.snap
Labels: A-Formatter, L-HTML

#5274 feat(linter): implement noBitwiseOperators rule
  .changeset/neat-glasses-wish.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_bitwise_operators.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noBitwiseOperators/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noBitwiseOperators/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noBitwiseOperators/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noBitwiseOperators/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noBitwiseOperators/validBitwiseAnd.js
  crates/biome_js_analyze/tests/specs/nursery/noBitwiseOperators/validBitwiseAnd.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noBitwiseOperators/validBitwiseAnd.options.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#5283 feat(core): watcher + LSP improvements
  Cargo.lock
  crates/biome_cli/src/commands/daemon.rs
  crates/biome_cli/src/service/unix.rs
  crates/biome_dependency_graph/src/dependency_graph.rs
  crates/biome_lsp/src/handlers/text_document.rs
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/server.tests.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/lib.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/document.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace/server.tests.rs
  crates/biome_service/src/workspace/watcher.rs
  crates/biome_service/src/workspace/watcher.tests.rs
  crates/biome_service/src/workspace_watcher.rs
Labels: A-CLI, A-Project, A-LSP

#5286 fix(core): fix workspace scanner in LSP
  crates/biome_cli/src/commands/mod.rs
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/server.tests.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace.tests.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace/server.tests.rs
  crates/biome_service/src/workspace/watcher.rs
Labels: A-CLI, A-Project, A-LSP

#5170 fix(lint): useArrowFunction should parenthesise the expr starting with `{`
  .changeset/dull-clocks-rescue.md
  crates/biome_js_analyze/src/lint/complexity/use_arrow_function.rs
  crates/biome_js_analyze/tests/specs/complexity/useArrowFunction/invalid.ts
  crates/biome_js_analyze/tests/specs/complexity/useArrowFunction/invalid.ts.snap
Labels: A-Linter, L-JavaScript

#5297 fix(parser): don't apply `jsxEverywhere` to `.ts` files
  .changeset/add_new_option_javascriptjsxeverywhere.md
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_configuration/src/javascript/mod.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/javascript.tests.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project

#5298 fix(lint): allow single spaces in useConsistentCurlyBraces rule
  .changeset/fancy-coins-cross.md
  crates/biome_js_analyze/src/lint/nursery/use_consistent_curly_braces.rs
  crates/biome_js_analyze/tests/specs/nursery/useConsistentCurlyBraces/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useConsistentCurlyBraces/valid.jsx.snap
Labels: A-Linter, L-JavaScript

#5306 fix(wasm): add missing `RuleDomain` and `RuleDomainValue` types to the generated declaration
  crates/biome_analyze/src/rule.rs
  crates/biome_configuration/src/analyzer/linter/mod.rs
  crates/biome_configuration/src/overrides.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace_types.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter

#5310 build(deps): update dependencies to fix cargo audit
  Cargo.lock
  xtask/bench/Cargo.toml
  xtask/codegen/Cargo.toml
Labels: A-Tooling

#5311 fix: use alphabetical order in Ord and PartialOrd impls on RuleDomain
  crates/biome_analyze/src/rule.rs
Labels: A-Linter

#5314 docs: fix documentation
  crates/biome_js_analyze/src/assist/source/use_sorted_attributes.rs
Labels: A-Linter, L-JavaScript

#5315 docs: copy docs of import sorting from website
  crates/biome_js_analyze/src/assist/source/organize_imports.rs
Labels: A-Linter, L-JavaScript

#5294 fix: propagate plugin load error LSP
  crates/biome_lsp/src/server.tests.rs
  crates/biome_lsp/src/session.rs
Labels: A-LSP

#5303 feat(format/html): normalize casing for tag names and attribute names
  crates/biome_html_formatter/src/html/auxiliary/attribute.rs
  crates/biome_html_formatter/src/html/auxiliary/attribute_name.rs
  crates/biome_html_formatter/src/html/auxiliary/opening_element.rs
  crates/biome_html_formatter/src/html/auxiliary/self_closing_element.rs
  crates/biome_html_formatter/src/html/auxiliary/tag_name.rs
  crates/biome_html_formatter/src/html/lists/attribute_list.rs
  crates/biome_html_formatter/src/lib.rs
  crates/biome_html_formatter/src/prelude.rs
  crates/biome_html_formatter/src/utils/metadata.rs
  crates/biome_html_formatter/tests/specs/html/attributes/normalize-attr-casing.html
  crates/biome_html_formatter/tests/specs/html/attributes/normalize-attr-casing.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/normalize-tag-casing.html
  crates/biome_html_formatter/tests/specs/html/elements/normalize-tag-casing.html.snap
  crates/biome_html_formatter/tests/specs/prettier/html/attributes/class-colon.html.snap
  crates/biome_html_formatter/tests/specs/prettier/html/attributes/class-leading-dashes.html.snap
  crates/biome_html_formatter/tests/specs/prettier/html/basics/with-colon.html
  crates/biome_html_formatter/tests/specs/prettier/html/basics/with-colon.html.prettier-snap
  crates/biome_html_formatter/tests/specs/prettier/html/basics/with-colon.html.snap
  crates/biome_html_formatter/tests/specs/prettier/html/case/case.html.snap
  crates/biome_html_formatter/tests/specs/prettier/html/tags/custom-element.html.snap
  crates/biome_html_formatter/tests/specs/prettier/html/tags/pre.html.snap
  crates/biome_html_formatter/tests/specs/prettier/html/tags/seach.html.snap
  crates/biome_html_formatter/tests/specs/prettier/html/tags/tags.html.snap
  crates/biome_html_formatter/tests/specs/prettier/html/text/tag-should-in-fill.html.snap
  crates/biome_html_formatter/tests/specs/prettier/html/whitespace/display-none.html.snap
  crates/biome_html_parser/src/lexer/mod.rs
Labels: A-Parser, A-Formatter, L-HTML

#5330 fix(core): force exit the daemon on shutdown
  crates/biome_cli/src/commands/daemon.rs
Labels: A-CLI

#5329 feat(core): add JSDoc comments to dependency graph
  crates/biome_dependency_graph/src/dependency_graph.rs
  crates/biome_dependency_graph/src/dependency_graph.tests.rs
  crates/biome_dependency_graph/src/import_visitor.rs
  crates/biome_dependency_graph/src/lib.rs
  crates/biome_dependency_graph/src/module_visitor.rs
  crates/biome_deserialize/src/impls.rs
  crates/biome_deserialize/src/json.rs
  crates/biome_deserialize/src/lib.rs
  crates/biome_js_analyze/src/lint/nursery/no_import_cycles.rs
  crates/biome_js_analyze/src/services/dependency_graph.rs
  crates/biome_js_syntax/src/export_ext.rs
  crates/biome_js_syntax/src/lib.rs
  crates/biome_js_syntax/src/unescape.rs
  crates/biome_rowan/src/green/node_cache.rs
  crates/biome_rowan/src/green/token.rs
  crates/biome_rowan/src/lib.rs
  crates/biome_rowan/src/text.rs
  crates/biome_rowan/src/token_text.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_test_utils/src/lib.rs
Labels: A-Core, A-Project, A-Linter, A-Parser, L-JavaScript

#5337 feat(cli): add `--threads` to `ci` command
  .changeset/pretty-boats-fix.md
  crates/biome_cli/src/cli_options.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/src/main.rs
  crates/biome_cli/tests/main.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/migrate_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/rage_help.snap
  crates/biome_lsp/src/server.rs
  crates/biome_service/src/lib.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace.tests.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace/server.tests.rs
  crates/biome_service/src/workspace/watcher.tests.rs
  crates/biome_wasm/src/lib.rs
Labels: A-CLI, A-Project, A-LSP

#5343 fix: add scanning time to traverse time
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/execute/mod.rs
Labels: A-CLI

#5335 chore(markdown): better grammar
  Cargo.lock
  crates/biome_markdown_factory/src/generated/node_factory.rs
  crates/biome_markdown_factory/src/generated/syntax_factory.rs
  crates/biome_markdown_syntax/src/generated/kind.rs
  crates/biome_markdown_syntax/src/generated/macros.rs
  crates/biome_markdown_syntax/src/generated/nodes.rs
  crates/biome_markdown_syntax/src/generated/nodes_mut.rs
  crates/biome_suppression/Cargo.toml
  xtask/codegen/markdown.ungram
  xtask/codegen/src/generate_nodes.rs
  xtask/codegen/src/markdown_kinds_src.rs
Labels: A-Core, A-Parser, A-Tooling

#5347 fix(formatter): hug the object type in the only function parameter
  .changeset/cyan-beans-yawn.md
  crates/biome_js_formatter/src/utils/object_like.rs
  crates/biome_js_formatter/tests/specs/ts/object/objects.ts
  crates/biome_js_formatter/tests/specs/ts/object/objects.ts.snap
Labels: A-Formatter, L-JavaScript

#5127 feat(biome_cli): enable .editorconfig by default
  .changeset/silent-otters-relax.md
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/tests/cases/editorconfig.rs
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_emit_diagnostics.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_not_use_editorconfig.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_not_use_higher_editorconfig_when_find_biome_conf.snap
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_configuration/src/formatter.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/src/configuration.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-LSP

#5351 refactor(linter): rename `noMultipleSpacesInRegularExpressionLiterals`
  .changeset/witty-plants-ring.md
  benchmark/biome.json
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_cli/tests/snapshots/main_commands_rage/with_linter_configuration.snap
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/complexity.rs
  crates/biome_js_analyze/src/lint/complexity/no_multiple_spaces_in_regex.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/complexity/noMultipleSpacesInRegex/invalid.jsonc
  crates/biome_js_analyze/tests/specs/complexity/noMultipleSpacesInRegex/invalid.jsonc.snap
  crates/biome_js_analyze/tests/specs/complexity/noMultipleSpacesInRegex/valid.jsonc
  crates/biome_js_analyze/tests/specs/complexity/noMultipleSpacesInRegex/valid.jsonc.snap
  crates/biome_migrate/src/analyzers.rs
  crates/biome_migrate/src/analyzers/no_multiple_spaces_in_regex.rs
  crates/biome_migrate/tests/specs/migrations/useMultipleSpacesInRegex/invalid.json
  crates/biome_migrate/tests/specs/migrations/useMultipleSpacesInRegex/invalid.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  packages/@biomejs/js-api/tests/lintContent.test.ts
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#5354 chore(html): remove feature flag, expose html formatter, disabled by default
  .github/workflows/repository_dispatch.yml
  Cargo.lock
  crates/biome_cli/Cargo.toml
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_check/html_enabled_by_arg_check.snap
  crates/biome_cli/tests/snapshots/main_commands_format/html_disabled_by_default.snap
  crates/biome_cli/tests/snapshots/main_commands_format/html_enabled_by_arg_format.snap
  crates/biome_configuration/src/html.rs
  crates/biome_html_formatter/Cargo.toml
  crates/biome_html_formatter/tests/spec_test.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_wasm/Cargo.toml
Labels: A-CLI, A-Project, A-Formatter, L-HTML

#5359 fix(cli): check `TERMINAL_EMULATOR` variable
  crates/biome_diagnostics/src/display.rs
Labels: A-Diagnostic

#5363 feat(core): allow plugins to control severity of diagnostics
  crates/biome_analyze/src/lib.rs
  crates/biome_analyze/src/rule.rs
  crates/biome_css_analyze/tests/plugin/useLowercaseColors.grit.snap
  crates/biome_js_analyze/tests/plugin/preferObjectSpread.grit.snap
  crates/biome_js_analyze/tests/plugin/preferObjectSpreadSuppression.grit.snap
  crates/biome_plugin_loader/src/analyzer_grit_plugin.rs
  crates/biome_service/src/snapshots/biome_service__workspace__tests__plugins_are_loaded_and_used_during_analysis.snap
  crates/biome_service/src/snapshots/biome_service__workspace__tests__plugins_can_use_custom_severity.snap
  crates/biome_service/src/workspace.tests.rs
Labels: A-Project, A-Linter, L-JavaScript, L-CSS

#5380 perf: read package.json only once in a run
  crates/biome_service/src/file_handlers/mod.rs
Labels: A-Project

#5348 feat: add option to skip arrow function
  .changeset/fair-months-report.md
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/nursery/use_explicit_type.rs
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/valid.ts.snap
  crates/biome_js_formatter/tests/quick_test.rs
Labels: A-Linter, A-Formatter, L-JavaScript

#5385 docs: update docs for website
  crates/biome_css_analyze/src/assist/source/use_sorted_properties.rs
  crates/biome_js_analyze/src/assist/source/organize_imports.rs
Labels: A-Linter, L-JavaScript, L-CSS

#5390 chore: remove detection of multiple config files
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/rage.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_fs/src/fs.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/src/configuration.rs
Labels: A-CLI, A-Core, A-Project, A-LSP

#5392 refactor: rename rule to `noAdjacentSpacesInRegex`
  .changeset/witty-plants-ring.md
  benchmark/biome.json
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_cli/tests/snapshots/main_commands_rage/with_linter_configuration.snap
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/complexity.rs
  crates/biome_js_analyze/src/lint/complexity/no_adjacent_spaces_in_regex.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/complexity/noAdjacentSpacesInRegex/invalid.jsonc
  crates/biome_js_analyze/tests/specs/complexity/noAdjacentSpacesInRegex/invalid.jsonc.snap
  crates/biome_js_analyze/tests/specs/complexity/noAdjacentSpacesInRegex/valid.jsonc
  crates/biome_js_analyze/tests/specs/complexity/noAdjacentSpacesInRegex/valid.jsonc.snap
  crates/biome_migrate/src/analyzers/no_multiple_spaces_in_regex.rs
  crates/biome_migrate/tests/specs/migrations/useMultipleSpacesInRegex/invalid.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  packages/@biomejs/js-api/tests/lintContent.test.ts
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#5157 feat(lint): `ignoreRestSiblings` option to `noUnusedVariables`
  .changeset/rude-pigs-bake.md
  crates/biome_js_analyze/src/lint/correctness/no_unused_variables.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidRestSiblings.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidRestSiblings.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validObjectDestructuring.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validObjectDestructuring.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validPrefixedRestSiblings.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validPrefixedRestSiblings.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validPrefixedRestSiblings.options.json
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validRestSiblings.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validRestSiblings.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/validRestSiblings.options.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript

#5079 feat(biome_js_analyze): add useSortedKeys assist rule
  .changeset/add_the_new_js_assist_rule_use_sorted_keys.md
  crates/biome_js_analyze/src/assist/source.rs
  crates/biome_js_analyze/src/assist/source/use_sorted_keys.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/source/useSortedKeys/sorted.js
  crates/biome_js_analyze/tests/specs/source/useSortedKeys/sorted.js.snap
  crates/biome_js_analyze/tests/specs/source/useSortedKeys/unsorted.js
  crates/biome_js_analyze/tests/specs/source/useSortedKeys/unsorted.js.snap
Labels: A-Linter, L-JavaScript

#5396 fix(lint): handle const + type bindings in useExportType
  .changeset/thirty-deer-hope.md
  crates/biome_js_analyze/src/lint/style/use_export_type.rs
  crates/biome_js_analyze/tests/specs/style/useExportType/issue5382.ts
  crates/biome_js_analyze/tests/specs/style/useExportType/issue5382.ts.snap
Labels: A-Linter, L-JavaScript

#5394 fix(diagnostics): correctly print emulator files
  crates/biome_diagnostics/src/display.rs
Labels: A-Diagnostic

#5403 chore: rename rules
  .changeset/six-friends-lick.md
  .changeset/wise-walls-work.md
  crates/biome_cli/tests/snapshots/main_configuration/incorrect_rule_name.snap
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics/src/display.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_graphql_analyze/src/lint/nursery.rs
  crates/biome_graphql_analyze/src/lint/nursery/no_duplicate_fields.rs
  crates/biome_graphql_analyze/src/options.rs
  crates/biome_graphql_analyze/tests/specs/nursery/noDuplicateFields/invalid.graphql
  crates/biome_graphql_analyze/tests/specs/nursery/noDuplicateFields/invalid.graphql.snap
  crates/biome_graphql_analyze/tests/suppression/nursery/noDuplicatedFields/noDuplicatedFields.graphql.snap
  crates/biome_js_analyze/src/lint/correctness.rs
  crates/biome_js_analyze/src/lint/correctness/no_useless_continue.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/correctness/noUselessContinue/invalid.js
  crates/biome_js_analyze/tests/specs/correctness/noUselessContinue/invalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUselessContinue/valid.js
  crates/biome_js_analyze/tests/specs/correctness/noUselessContinue/valid.js.snap
  crates/biome_migrate/src/analyzers.rs
  crates/biome_migrate/src/analyzers/no_unnecessary_continue.rs
  crates/biome_migrate/tests/specs/migrations/noUnnecessaryContinue/invalid.json
  crates/biome_migrate/tests/specs/migrations/noUnnecessaryContinue/invalid.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#5404 fix(linter): false positive for `noUnknownFunction`
  .changeset/rare-results-burn.md
  crates/biome_css_analyze/src/keywords.rs
  crates/biome_css_analyze/src/lint/correctness/no_unknown_function.rs
  crates/biome_css_analyze/tests/specs/correctness/noUnknownFunction/valid.css
  crates/biome_css_analyze/tests/specs/correctness/noUnknownFunction/valid.css.snap
Labels: A-Linter, L-CSS

#5388 feat(lint): implement `noPrivateImports`
  .changeset/renamed_useimportrestrictions_to_nopackageprivateimports.md
  .changeset/renamed_useimportrestrictions_to_noprivateimports.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_cli/tests/snapshots/main_configuration/incorrect_rule_name.snap
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_dependency_graph/src/dependency_graph.rs
  crates/biome_dependency_graph/src/lib.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/correctness.rs
  crates/biome_js_analyze/src/lint/correctness/no_private_imports.rs
  crates/biome_js_analyze/src/lint/correctness/use_import_extensions.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_import_cycles.rs
  crates/biome_js_analyze/src/lint/nursery/no_octal_escape.rs
  crates/biome_js_analyze/src/lint/nursery/no_package_private_imports.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/src/services/dependency_graph.rs
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/default_package.js
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/default_package.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/default_package.options.json
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/foo.js
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/foo.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/invalid.js
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/invalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/sub/foo.js
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/sub/foo.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/sub/importPrivate.js
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/sub/importPrivate.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/sub/index.js
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/sub/index.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/sub2/default_package_nested.js
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/sub2/default_package_nested.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/sub2/default_package_nested.options.json
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/valid.js
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noPackagePrivateImports/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noPackagePrivateImports/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noPackagePrivateImports/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noPackagePrivateImports/valid.js.snap
  crates/biome_rowan/src/text.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Core, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#5412 chore: `noPrivateImports` doc tweak
  crates/biome_js_analyze/src/lint/correctness/no_private_imports.rs
Labels: A-Linter, L-JavaScript

#5413 docs(assist/organizeImports): remove invalid trailing comma in config
  crates/biome_js_analyze/src/assist/source/organize_imports.rs
Labels: A-Linter, L-JavaScript

#5415 docs(assist/organizeImports): add missing comma in config
  crates/biome_js_analyze/src/assist/source/organize_imports.rs
Labels: A-Linter, L-JavaScript

#5414 refactor(noUndeclaredVariables): set checkTypes to false by default
  .changeset/itchy-bananas-travel.md
  crates/biome_js_analyze/src/lint/correctness/no_undeclared_variables.rs
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/infer_incorrect.options.json
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/invalidNamesapceReference.options.json
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/noUndeclaredVariables.options.json
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/noUndeclaredVariablesTypes.options.json
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/noUndeclaredVariablesTypes.ts
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredVariables/noUndeclaredVariablesTypes.ts.snap
  crates/biome_js_analyze/tests/suppression/correctness/noUndeclaredVariables/noUndeclaredVariables.ts.snap
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript

#5405 refactor(lint): a11y utils to reduce duplicate function definitions
  crates/biome_aria/src/roles.rs
  crates/biome_js_analyze/src/a11y.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/nursery/no_noninteractive_element_interactions.rs
  crates/biome_js_analyze/src/lint/nursery/no_static_element_interactions.rs
Labels: A-Linter, L-JavaScript

#5416 docs(assist/organizeImports): remove expect_diagnostic,use_options
  crates/biome_js_analyze/src/assist/source/organize_imports.rs
Labels: A-Linter, L-JavaScript

#5417 docs(assist/organizeImports): remove options marker and use ts where required
  crates/biome_js_analyze/src/assist/source/organize_imports.rs
Labels: A-Linter, L-JavaScript

#5418 refactor(assist/useSortedAttributes): natural sorting and avoid cloning
  crates/biome_js_analyze/src/assist/source/use_sorted_attributes.rs
  crates/biome_js_analyze/tests/specs/source/useSortedAttributes/unsorted.jsx
  crates/biome_js_analyze/tests/specs/source/useSortedAttributes/unsorted.jsx.snap
Labels: A-Linter, L-JavaScript

#5419 refactor(assist/useSortedKeys): use our own natural order impl
  Cargo.lock
  Cargo.toml
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_analyze/src/assist/source/use_sorted_keys.rs
  crates/biome_js_analyze/tests/specs/source/useSortedKeys/unsorted.js
  crates/biome_js_analyze/tests/specs/source/useSortedKeys/unsorted.js.snap
  crates/biome_json_analyze/Cargo.toml
  crates/biome_json_analyze/src/assist/source/use_sorted_keys.rs
Labels: A-Linter, L-JavaScript, L-JSON

#5431 fix(migrate): read `BIOME_VERSION` at compile time for schema migration
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_knip.snap
  crates/biome_migrate/src/analyzers/schema.rs
Labels: A-CLI

#5406 chore(lint): remove behaviour from `noUnusedVariable`
  .changeset/ninety-pans-win.md
  crates/biome_js_analyze/src/lint/complexity/no_for_each.rs
  crates/biome_js_analyze/src/lint/correctness/no_undeclared_dependencies.rs
  crates/biome_js_analyze/src/lint/correctness/no_undeclared_variables.rs
  crates/biome_js_analyze/src/lint/correctness/no_unused_variables.rs
  crates/biome_js_analyze/src/lint/nursery/no_restricted_imports.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes.rs
  crates/biome_js_analyze/src/lint/style/use_filenaming_convention.rs
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/src/lint/style/use_self_closing_elements.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidClass.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidClass.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidFunction.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidFunction.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidMethodParameters.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidMethodParameters.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidUsedBindingPattern.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidUsedBindingPattern.js.snap
Labels: A-Linter, L-JavaScript

#5461 feat(assist/organizeImports): allow predefined groups in lists
  crates/biome_glob/src/lib.rs
  crates/biome_js_analyze/src/assist/source/organize_imports/import_groups.rs
  crates/biome_js_analyze/tests/specs/source/organizeImports/custom-order-mixed-glob-groups.js
  crates/biome_js_analyze/tests/specs/source/organizeImports/custom-order-mixed-glob-groups.js.snap
  crates/biome_js_analyze/tests/specs/source/organizeImports/custom-order-mixed-glob-groups.options.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript

#5460 fix(parse/html): emit proper diagnostics when closing tag has extra literals
  crates/biome_html_parser/src/syntax/mod.rs
  crates/biome_html_parser/src/syntax/parse_error.rs
  crates/biome_html_parser/tests/html_specs/error/template-langs/django/issue-5450.html
  crates/biome_html_parser/tests/html_specs/error/template-langs/django/issue-5450.html.snap
Labels: A-Parser, L-HTML

#5459 fix: allow overriding rule group by each rule
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_configuration/src/analyzer/mod.rs
  crates/biome_service/src/settings.tests.rs
  xtask/codegen/src/generate_configuration.rs
Labels: A-Project, A-Tooling

#5468 fix(lint): keep comments in noUnusedImports
  .changeset/few-baboons-stop.md
  crates/biome_js_analyze/src/lint/correctness/no_unused_imports.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/issue_5407_lone_comment.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/issue_5407_lone_comment.js.snap
  crates/biome_rowan/src/ast/mod.rs
Labels: A-Core, A-Linter, L-JavaScript

#5467 fix(lint/noDestructuredProps): better check when inside a function
  crates/biome_js_analyze/src/lint/nursery/no_destructured_props.rs
  crates/biome_js_analyze/tests/specs/nursery/noDestructuredProps/issue_5449_valid.tsx
  crates/biome_js_analyze/tests/specs/nursery/noDestructuredProps/issue_5449_valid.tsx.snap
Labels: A-Linter, L-JavaScript

#5470 fix(migrate): push `noVar` member inside existing list
  crates/biome_cli/tests/cases/migrate_v2.rs
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_migrate_issue_5465.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_sentry.snap
  crates/biome_migrate/src/analyzers/no_var.rs
  crates/biome_migrate/tests/specs/migrations/noVar/invalid.json.snap
  crates/biome_migrate/tests/specs/migrations/noVar/invalid_with_group.json.snap
  crates/biome_migrate/tests/specs/migrations/noVar/issue_5470.json
  crates/biome_migrate/tests/specs/migrations/noVar/issue_5470.json.snap
Labels: A-CLI

#5482 fix(analyzer): suppression for assist actions
  crates/biome_analyze/src/categories.rs
  crates/biome_analyze/src/diagnostics.rs
  crates/biome_analyze/src/lib.rs
  crates/biome_analyze/src/rule.rs
  crates/biome_analyze/src/suppressions.rs
  crates/biome_css_analyze/tests/suppression/source/useSortedProperties/valid.css
  crates/biome_css_analyze/tests/suppression/source/useSortedProperties/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/assist/source/use_sorted_attributes.rs
  crates/biome_js_analyze/src/assist/source/use_sorted_keys.rs
  crates/biome_js_analyze/tests/specs/source/useSortedAttributes/unsorted.jsx
  crates/biome_js_analyze/tests/specs/source/useSortedAttributes/unsorted.jsx.snap
  crates/biome_js_analyze/tests/suppression/source/useSortedAttributes/valid.jsx
  crates/biome_js_analyze/tests/suppression/source/useSortedAttributes/valid.jsx.snap
  crates/biome_js_analyze/tests/suppression/source/useSortedKeys/unsorted.js
  crates/biome_js_analyze/tests/suppression/source/useSortedKeys/unsorted.js.snap
  crates/biome_json_analyze/src/assist/source/use_sorted_keys.rs
  crates/biome_json_analyze/tests/spec_tests.rs
  crates/biome_json_analyze/tests/suppression/source/useSortedKeys/unsorted.jsonc
  crates/biome_json_analyze/tests/suppression/source/useSortedKeys/unsorted.jsonc.snap
  crates/biome_json_syntax/src/file_source.rs
  crates/biome_lsp/src/server.tests.rs
  crates/biome_migrate/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-Linter, A-Parser, A-LSP, L-JavaScript, L-CSS, L-JSON, A-Diagnostic

#5479 fix(migrate): improve error messages when parsing Prettier configuration
  .changeset/fancy-animals-kiss.md
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/tests/commands/migrate_prettier.rs
  crates/biome_cli/tests/snapshots/main_commands_format/line_width_parse_errors_overflow.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_override_with_bad_print_width.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_with_bad_top_level_print_width.snap
  crates/biome_formatter/src/lib.rs
Labels: A-CLI, A-Formatter

#5492 fix(lsp): restore available code action
  crates/biome_lsp/src/capabilities.rs
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/src/session.rs
Labels: A-LSP

#5491 fix(migrate): style rules
  crates/biome_cli/tests/cases/migrate_v2.rs
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_migrate_aws_config.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_ariakit.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_knip.snap
  crates/biome_migrate/src/analyzers.rs
  crates/biome_migrate/src/analyzers/style_rules.rs
  crates/biome_migrate/src/rule_mover.rs
  crates/biome_migrate/tests/specs/migrations/styleRules/empty.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/realCase.json
  crates/biome_migrate/tests/specs/migrations/styleRules/realCase.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/valid.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/valid_existing_not_related_group.json
  crates/biome_migrate/tests/specs/migrations/styleRules/valid_existing_not_related_group.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_rules.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_style_rule.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_styles.json.snap
Labels: A-CLI

#5244 refactor(css_parser): implement error handling for the container at rule
  .changeset/ten-hands-open.md
  crates/biome_css_parser/src/syntax/at_rule/container.rs
  crates/biome_css_parser/src/syntax/at_rule/container/error.rs
  crates/biome_css_parser/src/syntax/at_rule/container/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/feature.rs
  crates/biome_css_parser/src/syntax/block/mod.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_container/at_rule_container_and_query_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_container/at_rule_container_and_query_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_container/at_rule_container_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_container/at_rule_container_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_container/at_rule_container_or_query_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_container/at_rule_container_or_query_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_container/at_rule_container_style_not_query.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_container/at_rule_container_style_not_query.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_container/at_rule_container_style_query_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_container/at_rule_container_style_query_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_container_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_keyframes/at_rule_keyframes_1.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/block/css_unfinished_block.css.snap
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_container.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_container.css.snap
  crates/biome_css_parser/tests/spec_test.rs
Labels: A-Parser, L-CSS

#5497 fix(core): enhance error message of incorrect suppressions
  .changeset/proud-keys-wash.md
  crates/biome_cli/tests/snapshots/main_commands_check/suppression_syntax_error.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/suppression_syntax_error.snap
  crates/biome_suppression/src/lib.rs
Labels: A-CLI, A-Core

#5485 fix: use await now warn function with decorator even if it has a call…
  .changeset/clear-ideas-dig.md
  crates/biome_js_analyze/src/lint/suspicious/use_await.rs
  crates/biome_js_analyze/tests/specs/suspicious/useAwait/invalid.js
  crates/biome_js_analyze/tests/specs/suspicious/useAwait/invalid.js.snap
Labels: A-Linter, L-JavaScript

#5522 fix(plugins): handle invalid spans
  Cargo.lock
  crates/biome_analyze/src/lib.rs
  crates/biome_analyze/src/rule.rs
  crates/biome_plugin_loader/src/analyzer_grit_plugin.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/snapshots/biome_service__workspace__tests__plugins_may_use_invalid_span.snap
  crates/biome_service/src/workspace.tests.rs
Labels: A-Project, A-Linter

#5524 chore: fix warning in WASM build
  crates/biome_service/src/workspace/server.rs
Labels: A-Project

#5529 feat(lint/useNamingConvention): ignore unused var prefixed with _
  .changeset/use-naming-convention-ignore-unused-variables-prefied-with-underscore.md
  crates/biome_js_analyze/src/lint/correctness/no_unused_variables.rs
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidFunctionParameter.js
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidFunctionParameter.js.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidInterface.ts.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidNamespace.ts.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidTypeAlias.ts.snap
Labels: A-Linter, L-JavaScript
