Repository biomejs/biome, pull requests merged in 2025-01, with the labels that each got.

#4803 refactor(formatter): no trailing commas in JSON files
  .changeset/no_more_trailing_commas_in_json_files.md
  Cargo.lock
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_format/format_json_trailing_commas_all.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_json_trailing_commas_overrides_all.snap
  crates/biome_cli/tests/snapshots/main_commands_format/treat_known_json_files_as_jsonc_files.snap
  crates/biome_formatter_test/src/spec.rs
  crates/biome_js_formatter/src/context.rs
  crates/biome_json_formatter/Cargo.toml
  crates/biome_json_formatter/src/context.rs
  crates/biome_json_formatter/src/json/lists/array_element_list.rs
  crates/biome_json_formatter/src/json/lists/member_list.rs
  crates/biome_json_formatter/tests/spec_test.rs
  crates/biome_json_formatter/tests/spec_tests.rs
  crates/biome_json_formatter/tests/specs/json/trailing_comma_never/classic.json
  crates/biome_json_formatter/tests/specs/json/trailing_comma_never/classic.json.snap
  crates/biome_json_formatter/tests/specs/json/trailing_comma_never/classic.jsonc
  crates/biome_json_formatter/tests/specs/json/trailing_comma_never/classic.jsonc.snap
  crates/biome_json_formatter/tests/specs/json/trailing_comma_never/options.json
  crates/biome_json_parser/src/parser.rs
  crates/biome_json_syntax/src/file_source.rs
  crates/biome_json_syntax/src/lib.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/settings.rs
  crates/biome_test_utils/Cargo.toml
  crates/biome_test_utils/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  xtask/rules_check/src/lib.rs
Labels: A-CLI, A-Project, A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-JSON

#4823 refactor: resolve paths and globs from the configuration path
  .changeset/biome_now_resolves_globs_and_paths_from_the_configuration_before_paths_and_globs_were_resolved_from_the_working_directory.md
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/reporter/summary.rs
  crates/biome_cli/src/reporter/terminal.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_check/maximum_diagnostics.snap
  crates/biome_cli/tests/snapshots/main_commands_format/max_diagnostics.snap
  crates/biome_cli/tests/snapshots/main_commands_format/max_diagnostics_default.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/maximum_diagnostics.snap
  crates/biome_lsp/src/session.rs
Labels: A-CLI, A-LSP

#4824 feat: add GritQL formatting options
  crates/biome_cli/tests/cases/assist.rs
  crates/biome_cli/tests/cases/biome_json_support.rs
  crates/biome_cli/tests/cases/config_extends.rs
  crates/biome_cli/tests/cases/cts_files.rs
  crates/biome_cli/tests/cases/diagnostics.rs
  crates/biome_cli/tests/cases/editorconfig.rs
  crates/biome_cli/tests/cases/graphql.rs
  crates/biome_cli/tests/cases/handle_astro_files.rs
  crates/biome_cli/tests/cases/handle_css_files.rs
  crates/biome_cli/tests/cases/handle_svelte_files.rs
  crates/biome_cli/tests/cases/handle_vue_files.rs
  crates/biome_cli/tests/cases/included_files.rs
  crates/biome_cli/tests/cases/linter_domains.rs
  crates/biome_cli/tests/cases/overrides_formatter.rs
  crates/biome_cli/tests/cases/overrides_linter.rs
  crates/biome_cli/tests/cases/overrides_organize_imports.rs
  crates/biome_cli/tests/cases/protected_files.rs
  crates/biome_cli/tests/cases/reporter_github.rs
  crates/biome_cli/tests/cases/reporter_gitlab.rs
  crates/biome_cli/tests/cases/reporter_junit.rs
  crates/biome_cli/tests/cases/reporter_summary.rs
  crates/biome_cli/tests/cases/rules_via_dependencies.rs
  crates/biome_cli/tests/cases/suppressions.rs
  crates/biome_cli/tests/cases/unknown_files.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/ci.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/commands/search.rs
  crates/biome_cli/tests/snapshots/main_cases_overrides_formatter/overrides_grit_formatting_options.snap
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_configuration/src/grit.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_configuration/src/overrides.rs
  crates/biome_configuration/tests/invalid/overrides/incorrect_key.json.snap
  crates/biome_configuration/tests/invalid/top_level_extraneous_field.json.snap
  crates/biome_diagnostics/src/adapters.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_migrate/src/rule_mover.rs
  crates/biome_service/src/settings.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#4358 feat(linter): add `noNoninteractiveElementInteractions` rule
  Cargo.lock
  crates/biome_aria/src/roles.rs
  crates/biome_aria_metadata/src/lib.rs
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_noninteractive_element_interactions.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noNoninteractiveElementInteractions/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noNoninteractiveElementInteractions/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noNoninteractiveElementInteractions/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noNoninteractiveElementInteractions/valid.jsx.snap
  crates/biome_js_syntax/Cargo.toml
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, A-Parser, L-JavaScript, A-Diagnostic

#4831 feat(html): set up HTML configuration
  Cargo.lock
  crates/biome_configuration/Cargo.toml
  crates/biome_configuration/src/html.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_configuration/tests/invalid/top_level_extraneous_field.json.snap
  crates/biome_grit_formatter/src/generated.rs
  crates/biome_html_formatter/Cargo.toml
  crates/biome_html_formatter/src/context.rs
  crates/biome_service/src/file_handlers/html.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Formatter, L-HTML, L-Grit

#4835 fix(formatter): refine the logic for identifying comments on the last attribute in JSX
  CHANGELOG.md
  crates/biome_js_formatter/src/jsx/tag/opening_element.rs
  crates/biome_js_formatter/tests/specs/jsx/bracket_same_line/bracket_same_line.jsx
  crates/biome_js_formatter/tests/specs/jsx/bracket_same_line/bracket_same_line.jsx.snap
Labels: A-Formatter, L-JavaScript, A-Changelog

#4818 feat(format/html): implement whitespace sensitivity
  crates/biome_html_formatter/src/context.rs
  crates/biome_html_formatter/src/html/auxiliary/closing_element.rs
  crates/biome_html_formatter/src/html/auxiliary/element.rs
  crates/biome_html_formatter/src/html/auxiliary/opening_element.rs
  crates/biome_html_formatter/src/html/lists/element_list.rs
  crates/biome_html_formatter/src/utils/metadata.rs
  crates/biome_html_formatter/src/utils/mod.rs
  crates/biome_html_formatter/tests/specs/html/elements/empty-extra-lines.html
  crates/biome_html_formatter/tests/specs/html/elements/empty-extra-lines.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/inline/tags-dont-hug-content-2.html
  crates/biome_html_formatter/tests/specs/html/elements/inline/tags-dont-hug-content-2.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/inline/tags-dont-hug-content.html
  crates/biome_html_formatter/tests/specs/html/elements/inline/tags-dont-hug-content.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/inline/tags-hug-content-longer-w-attr.html
  crates/biome_html_formatter/tests/specs/html/elements/inline/tags-hug-content-longer-w-attr.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/inline/tags-hug-content-w-attr.html
  crates/biome_html_formatter/tests/specs/html/elements/inline/tags-hug-content-w-attr.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/inline/tags-hug-content.html
  crates/biome_html_formatter/tests/specs/html/elements/inline/tags-hug-content.html.snap
  crates/biome_html_parser/src/lexer/mod.rs
  crates/biome_html_parser/src/lexer/tests.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Parser, A-Formatter, L-HTML

#4850 refactor(formatter): don't allocate strings, and use try operator early
  crates/biome_html_formatter/src/html/auxiliary/element.rs
Labels: A-Formatter, L-HTML

#4846 refactor: initial project layout
  Cargo.lock
  Cargo.toml
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/main.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/linter_finds_nested_package_json_for_no_undeclared_dependencies.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/linter_finds_nested_package_json_for_no_undeclared_dependencies_inversed.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/linter_finds_package_json_for_no_undeclared_dependencies.snap
  crates/biome_fs/src/interner.rs
  crates/biome_fs/src/lib.rs
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/services/manifest.rs
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/session.rs
  crates/biome_migrate/Cargo.toml
  crates/biome_migrate/src/version_services.rs
  crates/biome_package/Cargo.toml
  crates/biome_package/src/diagnostics.rs
  crates/biome_package/src/lib.rs
  crates/biome_package/src/license/generated.rs
  crates/biome_package/src/license/mod.rs
  crates/biome_package/src/node_js_package/mod.rs
  crates/biome_package/src/node_js_package/package_json.rs
  crates/biome_package/src/node_js_package/tsconfig_json.rs
  crates/biome_package/tests/manifest/invalid/license_invalid.json
  crates/biome_package/tests/manifest/invalid/license_invalid.json.snap
  crates/biome_package/tests/manifest/invalid/license_not_string.json
  crates/biome_package/tests/manifest/invalid/license_not_string.json.snap
  crates/biome_package/tests/manifest/invalid/name.json
  crates/biome_package/tests/manifest/invalid/name.json.snap
  crates/biome_package/tests/manifest/invalid/name.snap
  crates/biome_package/tests/manifest_spec_tests.rs
  crates/biome_package/tests/tsconfig/invalid/tsconfig.invalid.baseUrl.json
  crates/biome_package/tests/tsconfig/invalid/tsconfig.invalid.baseUrl.json.snap
  crates/biome_package/tests/tsconfig/valid/tsconfig.valid.baseUrl.json
  crates/biome_package/tests/tsconfig/valid/tsconfig.valid.baseUrl.json.snap
  crates/biome_package/tests/tsconfig/valid/tsconfig.valid.paths.json
  crates/biome_package/tests/tsconfig/valid/tsconfig.valid.paths.json.snap
  crates/biome_service/Cargo.toml
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/lib.rs
  crates/biome_service/src/project_layout.rs
  crates/biome_service/src/projects.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/client.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace_types.rs
  crates/biome_test_utils/Cargo.toml
  crates/biome_test_utils/src/lib.rs
  knope.toml
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  xtask/codegen/src/generate_license.rs
Labels: A-CLI, A-Core, A-Project, A-Linter, A-Tooling, A-LSP, L-JavaScript

#4851 refactor: expose ProjectLayout as service
  Cargo.lock
  Cargo.toml
  benchmark/package.json
  biome.json
  crates/biome_analyze/Cargo.toml
  crates/biome_analyze/src/analyzer_plugin.rs
  crates/biome_analyze/src/context.rs
  crates/biome_analyze/src/options.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snap_test.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/linter_finds_nested_package_json_for_no_undeclared_dependencies.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/linter_finds_package_json_for_no_undeclared_dependencies.snap
  crates/biome_css_analyze/Cargo.toml
  crates/biome_grit_patterns/src/grit_context.rs
  crates/biome_grit_patterns/src/grit_query.rs
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/correctness/no_undeclared_dependencies.rs
  crates/biome_js_analyze/src/lint/correctness/use_import_extensions.rs
  crates/biome_js_analyze/src/lint/nursery/no_common_js.rs
  crates/biome_js_analyze/src/lint/nursery/no_document_import_in_page.rs
  crates/biome_js_analyze/src/lint/nursery/no_head_import_in_document.rs
  crates/biome_js_analyze/src/lint/nursery/use_component_export_only_modules.rs
  crates/biome_js_analyze/src/lint/style/use_filenaming_convention.rs
  crates/biome_js_analyze/src/services/manifest.rs
  crates/biome_js_analyze/src/syntax/correctness/no_type_only_import_attributes.rs
  crates/biome_js_analyze/tests/quick_test.rs
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredDependencies/invalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredDependencies/invalid.test.js.snap
  crates/biome_package/src/lib.rs
  crates/biome_package/src/node_js_package/mod.rs
  crates/biome_package/tests/manifest_spec_tests.rs
  crates/biome_plugin_loader/src/analyzer_grit_plugin.rs
  crates/biome_project_layout/Cargo.toml
  crates/biome_project_layout/src/lib.rs
  crates/biome_project_layout/src/project_layout.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/lib.rs
  crates/biome_service/src/project_layout.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_test_utils/Cargo.toml
  crates/biome_test_utils/src/lib.rs
  knope.toml
  pnpm-lock.yaml
  xtask/bench/src/language.rs
  xtask/rules_check/src/lib.rs
Labels: A-CLI, A-Project, A-Linter, A-Tooling, L-JavaScript, L-CSS, L-Grit

#4857 fix(useSortedClasses): should suggest code fixes that match the JSX quote style of the formatter
  CHANGELOG.md
  crates/biome_analyze/src/context.rs
  crates/biome_analyze/src/options.rs
  crates/biome_analyze/src/registry.rs
  crates/biome_analyze/src/signals.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes.rs
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/issue_4855.jsx
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/issue_4855.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/issue_4855.options.json
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_test_utils/src/lib.rs
Labels: A-Project, A-Linter, L-JavaScript, A-Changelog

#4852 fix(parser/html): misc minor parsing fixes
  crates/biome_html_formatter/src/html/auxiliary/element.rs
  crates/biome_html_formatter/tests/specs/html/elements/pre.html.snap
  crates/biome_html_parser/src/lexer/mod.rs
  crates/biome_html_parser/src/syntax/mod.rs
  crates/biome_html_parser/tests/html_specs/error/element/child-no-tag-name.html
  crates/biome_html_parser/tests/html_specs/error/element/child-no-tag-name.html.snap
  crates/biome_html_parser/tests/html_specs/error/element/missing-close-tag-2.html
  crates/biome_html_parser/tests/html_specs/error/element/missing-close-tag-2.html.snap
  crates/biome_html_parser/tests/html_specs/error/element/solo-no-tag-name.html
  crates/biome_html_parser/tests/html_specs/error/element/solo-no-tag-name.html.snap
Labels: A-Parser, A-Formatter, L-HTML

#4860 fix(core): scan files in order
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace/server.tests.rs
Labels: A-Project

#4862 fix(css_parser): don't panic on unexpected EOF
  crates/biome_css_parser/src/syntax/selector/pseudo_class/function_selector.rs
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_class/pseudo_class_function_selector/disabled/pseudo_class_function_selector_disabled.css
  crates/biome_css_parser/tests/css_test_suite/error/selector/pseudo_class/pseudo_class_function_selector/disabled/pseudo_class_function_selector_disabled.css.snap
Labels: A-Parser, L-CSS

#4864 fix(lint): don't report missing dependency on incomplete statement
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/issue4567.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/issue4567.js.snap
Labels: A-Linter, L-JavaScript

#4811 fix(js_formatter): updated the is_test_call_expression function to match prettier
  CHANGELOG.md
  crates/biome_js_formatter/src/js/expressions/call_arguments.rs
  crates/biome_js_formatter/tests/specs/js/module/declarations/test_declaration.js
  crates/biome_js_formatter/tests/specs/js/module/declarations/test_declaration.js.snap
Labels: A-Formatter, L-JavaScript, A-Changelog

#4869 fix(parser/html): strictly detect tag starts, `<pre>` tag fixes
  crates/biome_html_formatter/src/html/auxiliary/element.rs
  crates/biome_html_formatter/tests/specs/html/elements/pre-with-brackets.html
  crates/biome_html_formatter/tests/specs/html/elements/pre-with-brackets.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/pre-with-braille.html
  crates/biome_html_formatter/tests/specs/html/elements/pre-with-braille.html.snap
  crates/biome_html_parser/src/lexer/mod.rs
  crates/biome_html_parser/src/lexer/tests.rs
  crates/biome_html_parser/src/syntax/mod.rs
  crates/biome_html_parser/src/token_source.rs
  crates/biome_html_parser/tests/html_specs/error/element/child-no-tag-name.html.snap
Labels: A-Parser, A-Formatter, L-HTML

#4867 feat(linter): assign severity to groups
  .changeset/better_control_over_linter_groups.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_cli/src/execute/migrate/eslint_to_biome.rs
  crates/biome_cli/tests/cases/linter_groups_plain.rs
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/snapshots/main_cases_linter_groups_plain/disable_all_rules_when_group_is_off.snap
  crates/biome_cli/tests/snapshots/main_cases_linter_groups_plain/enables_all_rules_when_group_is_error.snap
  crates/biome_cli/tests/snapshots/main_cases_linter_groups_plain/enables_all_rules_when_group_is_on_with_default_severity.snap
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_configuration/src/analyzer/mod.rs
  justfile
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  xtask/codegen/src/generate_configuration.rs
  xtask/codegen/src/generate_migrate_eslint.rs
Labels: A-CLI, A-Project, A-Tooling

#4882 fix(noUselessFragments): check Fragment when it under JSX Element or Condition Expr
  .changeset/fix_fragament_4751.md
  crates/biome_js_analyze/src/lint/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/tests/quick_test.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_4751.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_4751.jsx.snap
Labels: A-Linter, L-JavaScript

#4876 fix(biome_diagnostics): fix JetBrains relative file URLs should be clickable when given line and column numbers
  .changeset/_fix_4875httpsgithubcombiomejsbiomeissues4875_where_the_jetbrains_ide_terminal_would_output_unclickable_relative_file_path_links_to_files_this_does_not_fix_paths_without_line_and_column_numbers_contributed_by_andrew_chen_wang.md
  crates/biome_diagnostics/src/display.rs
Labels: A-Diagnostic

#4889 fix(js_parser): don't crash on malformed `for` statement
  crates/biome_js_parser/src/syntax/assignment.rs
  crates/biome_js_parser/src/syntax/expr.rs
  crates/biome_js_parser/src/syntax/stmt.rs
  crates/biome_js_parser/tests/js_test_suite/error/issue4617.js
  crates/biome_js_parser/tests/js_test_suite/error/issue4617.js.snap
Labels: A-Parser, L-JavaScript

#4894 refactor(editorconfig): remove support for `max_line_length`
  .changeset/remove_support_for_max_line_length_from_editorconfig_as_it_isnt_part_of_the_official_spec_anymore_.md
  crates/biome_cli/tests/cases/editorconfig.rs
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_have_biome_override_editorconfig.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_have_cli_override_editorconfig.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_use_editorconfig.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_use_editorconfig_check.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_use_editorconfig_check_enabled_from_biome_conf.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_use_editorconfig_ci.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_use_editorconfig_ci_enabled_from_biome_conf.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_use_editorconfig_enabled_from_biome_conf.snap
  crates/biome_configuration/src/editorconfig.rs
  crates/biome_diagnostics/src/display.rs
Labels: A-CLI, A-Project, A-Diagnostic

#4891 chore(core): better debug logging
  Cargo.lock
  Cargo.toml
  crates/biome_analyze/src/categories.rs
  crates/biome_analyze/src/lib.rs
  crates/biome_cli/Cargo.toml
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/process_file/format.rs
  crates/biome_cli/src/execute/process_file/lint.rs
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/src/metrics.rs
  crates/biome_configuration/src/analyzer/mod.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_diagnostics/src/display.rs
  crates/biome_fs/src/fs/os.rs
  crates/biome_fs/src/path.rs
  crates/biome_glob/src/lib.rs
  crates/biome_lsp/src/extension_settings.rs
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/src/handlers/rename.rs
  crates/biome_lsp/src/handlers/text_document.rs
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/session.rs
  crates/biome_rowan/Cargo.toml
  crates/biome_rowan/src/ast/batch.rs
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/file_handlers/astro.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/grit.rs
  crates/biome_service/src/file_handlers/html.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/svelte.rs
  crates/biome_service/src/file_handlers/vue.rs
  crates/biome_service/src/projects.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-CLI, A-Core, A-Project, A-Linter, A-LSP, A-Diagnostic

#4914 refactor: replace some lines for readability
  crates/biome_cli/src/service/unix.rs
  crates/biome_css_analyze/src/suppression_action.rs
  crates/biome_css_formatter/src/utils/string_utils.rs
  crates/biome_formatter_test/src/check_reformat.rs
  crates/biome_graphql_analyze/src/suppression_action.rs
  crates/biome_graphql_formatter/tests/quick_test.rs
  crates/biome_grit_patterns/src/grit_resolved_pattern.rs
  crates/biome_js_analyze/src/assists/source/organize_imports/util.rs
  crates/biome_js_analyze/src/lint/nursery/use_at_index.rs
  crates/biome_js_analyze/src/lint/nursery/use_trim_start_end.rs
  crates/biome_js_formatter/src/utils/string_utils.rs
Labels: A-CLI, A-Linter, A-Formatter, L-JavaScript, L-CSS, L-Grit

#4714 fix(analyzer): suppression comment fails with inner comments in functions
  .changeset/fixanalyzer_suppression_comment_fails_with_inner_comments_in_functions.md
  crates/biome_analyze/src/lib.rs
  crates/biome_js_analyze/src/lib.rs
Labels: A-Linter, L-JavaScript

#4903 fix(parser): export_named_type should parse default as normal
  .changeset/export_named_type_parser.md
  crates/biome_js_formatter/tests/specs/ts/module/export_clause.ts
  crates/biome_js_formatter/tests/specs/ts/module/export_clause.ts.snap
  crates/biome_js_parser/src/syntax/module.rs
  crates/biome_js_parser/tests/js_test_suite/ok/ts_export_named_from_specifier_with_type.ts
  crates/biome_js_parser/tests/js_test_suite/ok/ts_export_named_from_specifier_with_type.ts.snap
  crates/biome_js_parser/tests/spec_test.rs
Labels: A-Parser, A-Formatter, L-JavaScript

#4925 chore: update changelog
  CHANGELOG.md
Labels: A-Changelog

#4937 fix(grit): allow parsing alternative engine/language names
  crates/biome_grit_factory/src/generated/node_factory.rs
  crates/biome_grit_factory/src/generated/syntax_factory.rs
  crates/biome_grit_formatter/src/generated.rs
  crates/biome_grit_formatter/src/grit/any/language_name.rs
  crates/biome_grit_formatter/src/grit/any/mod.rs
  crates/biome_grit_formatter/src/grit/auxiliary/engine_name.rs
  crates/biome_grit_formatter/src/grit/auxiliary/mod.rs
  crates/biome_grit_formatter/src/grit/auxiliary/version.rs
  crates/biome_grit_formatter/src/grit/bogus/bogus_language_name.rs
  crates/biome_grit_formatter/src/grit/bogus/mod.rs
  crates/biome_grit_formatter/tests/specs/grit/marzano/engine.grit
  crates/biome_grit_formatter/tests/specs/grit/marzano/engine.grit.snap
  crates/biome_grit_formatter/tests/specs/grit/marzano/python.grit
  crates/biome_grit_formatter/tests/specs/grit/marzano/python.grit.snap
  crates/biome_grit_parser/src/constants.rs
  crates/biome_grit_parser/src/lexer/mod.rs
  crates/biome_grit_parser/src/parser/mod.rs
  crates/biome_grit_parser/tests/grit_test_suite/err/incorrect_engine.grit
  crates/biome_grit_parser/tests/grit_test_suite/err/incorrect_engine.grit.snap
  crates/biome_grit_parser/tests/grit_test_suite/err/incorrect_version.grit.snap
  crates/biome_grit_parser/tests/grit_test_suite/err/invalid_language.grit.snap
  crates/biome_grit_parser/tests/grit_test_suite/err/missing_version.grit.snap
  crates/biome_grit_parser/tests/grit_test_suite/err/python_language.grit
  crates/biome_grit_parser/tests/grit_test_suite/err/python_language.grit.snap
  crates/biome_grit_parser/tests/grit_test_suite/ok/marzano_pattern.grit
  crates/biome_grit_parser/tests/grit_test_suite/ok/marzano_pattern.grit.snap
  crates/biome_grit_parser/tests/grit_test_suite/ok/pattern_with_version.grit.snap
  crates/biome_grit_parser/tests/grit_test_suite/ok/rewrite_in_where.grit.snap
  crates/biome_grit_syntax/src/generated/kind.rs
  crates/biome_grit_syntax/src/generated/macros.rs
  crates/biome_grit_syntax/src/generated/nodes.rs
  crates/biome_grit_syntax/src/generated/nodes_mut.rs
  xtask/codegen/gritql.ungram
  xtask/codegen/src/grit_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-Grit

#4939 fix(lint): don't crash on malformed JSX
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/linter_doesnt_crash_on_malformed_code_from_issue_4623.snap
  crates/biome_js_analyze/src/lint/suspicious/no_comment_text.rs
  crates/biome_rowan/src/cursor/element.rs
  crates/biome_rowan/src/cursor/node.rs
Labels: A-CLI, A-Core, A-Linter, L-JavaScript

#4929 feat(core): implement `DependencyGraph`
  Cargo.lock
  Cargo.toml
  crates/biome_configuration/src/lib.rs
  crates/biome_dependency_graph/Cargo.toml
  crates/biome_dependency_graph/fixtures/frontend/node_modules/shared
  crates/biome_dependency_graph/fixtures/frontend/package.json
  crates/biome_dependency_graph/fixtures/frontend/src/bar.ts
  crates/biome_dependency_graph/fixtures/frontend/src/index.ts
  crates/biome_dependency_graph/fixtures/frontend/tsconfig.json
  crates/biome_dependency_graph/fixtures/shared/dist/index.js
  crates/biome_dependency_graph/fixtures/shared/package.json
  crates/biome_dependency_graph/src/dependency_graph.rs
  crates/biome_dependency_graph/src/dependency_graph.tests.rs
  crates/biome_dependency_graph/src/import_visitor.rs
  crates/biome_dependency_graph/src/lib.rs
  crates/biome_dependency_graph/src/resolver_cache.rs
  crates/biome_deserialize/src/impls.rs
  crates/biome_deserialize/src/json.rs
  crates/biome_deserialize_macros/src/deserializable_derive.rs
  crates/biome_deserialize_macros/src/deserializable_derive/struct_field_attrs.rs
  crates/biome_formatter/Cargo.toml
  crates/biome_fs/src/fs.rs
  crates/biome_fs/src/fs/memory.rs
  crates/biome_fs/src/fs/os.rs
  crates/biome_fs/src/lib.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/correctness/no_undeclared_dependencies.rs
  crates/biome_js_analyze/src/lint/nursery/use_strict_mode.rs
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_json_value/Cargo.toml
  crates/biome_json_value/src/json_value.rs
  crates/biome_json_value/src/json_value.tests.rs
  crates/biome_json_value/src/lib.rs
  crates/biome_package/Cargo.toml
  crates/biome_package/src/lib.rs
  crates/biome_package/src/node_js_package/mod.rs
  crates/biome_package/src/node_js_package/package_json.rs
  crates/biome_package/src/node_js_package/tsconfig_json.rs
  crates/biome_package/tests/tsconfig/invalid/tsconfig.invalid.baseUrl.json
  crates/biome_package/tests/tsconfig/invalid/tsconfig.invalid.baseUrl.json.snap
  crates/biome_package/tests/tsconfig/valid/tsconfig.valid.baseUrl.json
  crates/biome_package/tests/tsconfig/valid/tsconfig.valid.baseUrl.json.snap
  crates/biome_package/tests/tsconfig/valid/tsconfig.valid.paths.json
  crates/biome_package/tests/tsconfig/valid/tsconfig.valid.paths.json.snap
  crates/biome_plugin_loader/Cargo.toml
  crates/biome_project_layout/src/project_layout.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  justfile
  knope.toml
Labels: A-CLI, A-Core, A-Project, A-Linter, A-Formatter, L-JavaScript, L-JSON

#4945 refactor(js_analyze): turn on `requireAscii`
  .changeset/usefilenamingconvention_and_usenamingconvention_now_require_ascii_names_by_default.md
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintrcjson_rule_options.snap
  crates/biome_js_analyze/src/lint/style/use_filenaming_convention.rs
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/tests/specs/style/useFilenamingConvention/안녕하세요.options.json
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidNonAscii.options.json
Labels: A-CLI, A-Linter, L-JavaScript, L-JSON

#4911 feat(lint): implement `noFloatingPromises` rule for reguler `async` function
  .changeset/add_the_new_rule_nofloatingpromises.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_floating_promises.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/valid.ts.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#4948 feat(lint): new rule: `noImportCycles`
  .changeset/add_the_new_rule_noimportcycles.md
  Cargo.lock
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_console/src/markup.rs
  crates/biome_dependency_graph/src/dependency_graph.rs
  crates/biome_dependency_graph/src/lib.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_import_cycles.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/src/services/dependency_graph.rs
  crates/biome_js_analyze/src/services/mod.rs
  crates/biome_js_analyze/tests/quick_test.rs
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_js_analyze/tests/specs/nursery/noImportCycles/invalidBaz.js
  crates/biome_js_analyze/tests/specs/nursery/noImportCycles/invalidBaz.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noImportCycles/invalidFoobar.js
  crates/biome_js_analyze/tests/specs/nursery/noImportCycles/invalidFoobar.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noImportCycles/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noImportCycles/valid.js.snap
  crates/biome_js_parser/src/lib.rs
  crates/biome_js_parser/src/parse.rs
  crates/biome_js_syntax/src/file_source.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_test_utils/Cargo.toml
  crates/biome_test_utils/src/lib.rs
  crates/biome_unicode_table/src/tables.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  xtask/bench/src/language.rs
  xtask/rules_check/src/lib.rs
Labels: A-CLI, A-Project, A-Linter, A-Parser, A-Tooling, L-JavaScript, A-Diagnostic

#4958 feat(lint): support assigned functions in `noFloatingPromises`
  crates/biome_js_analyze/src/lint/nursery/no_floating_promises.rs
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts.snap
Labels: A-Linter, L-JavaScript

#4960 chore: update Just install link
  crates/biome_analyze/CONTRIBUTING.md
Labels: A-Linter

#4954 fix(core): fix symlink handling
  crates/biome_dependency_graph/src/dependency_graph.rs
  crates/biome_dependency_graph/src/dependency_graph.tests.rs
  crates/biome_dependency_graph/src/resolver_cache.rs
  crates/biome_fs/src/fs.rs
  crates/biome_fs/src/fs/memory.rs
  crates/biome_fs/src/fs/os.rs
  crates/biome_package/src/node_js_package/package_json.rs
Labels: A-CLI, A-Core

#4901 fix(useStrictMode): strict directive insertion logic
  .changeset/fix_the_use_strict_directive_insertion_logic_for_shebang_and_top_leading_comments.md
  crates/biome_js_analyze/src/lint/nursery/use_strict_mode.rs
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/invalid-with-comments.cjs
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/invalid-with-comments.cjs.snap
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/invalid-with-directive.cjs.snap
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/invalid-with-shebang-comments.cjs
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/invalid-with-shebang-comments.cjs.snap
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/invalid-with-shebang.cjs
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/invalid-with-shebang.cjs.snap
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/valid-with-comments.cjs
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/valid-with-comments.cjs.snap
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/valid-with-shebang-comments.cjs
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/valid-with-shebang-comments.cjs.snap
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/valid-with-shebang.cjs
  crates/biome_js_analyze/tests/specs/nursery/useStrictMode/valid-with-shebang.cjs.snap
Labels: A-Linter, L-JavaScript

#4963 fix(core): don't build control flow graph inside bogus nodes
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/linter_doesnt_crash_on_malformed_code_from_issue_4723.snap
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_formatter/src/diagnostics.rs
  crates/biome_graphql_syntax/src/generated/nodes.rs
  crates/biome_grit_patterns/src/errors.rs
  crates/biome_grit_syntax/src/generated/nodes.rs
  crates/biome_html_syntax/src/generated/nodes.rs
  crates/biome_js_analyze/src/services/control_flow/nodes.rs
  crates/biome_js_analyze/src/services/control_flow/nodes/bogus.rs
  crates/biome_js_analyze/src/services/control_flow/visitor.rs
  crates/biome_js_syntax/src/generated/nodes.rs
  crates/biome_json_syntax/src/generated/nodes.rs
  crates/biome_markdown_syntax/src/generated/nodes.rs
  crates/biome_rowan/src/ast/mod.rs
  crates/biome_yaml_syntax/src/generated/nodes.rs
  xtask/codegen/src/generate_nodes.rs
Labels: A-CLI, A-Core, A-Linter, A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-CSS, L-JSON, L-HTML, L-Grit

#4964 fix(lint): support some of wrapped hook calls in useExhaustiveDependencies
  .changeset/fix_1597_useexhaustivedependencies_now_consider_react_hooks_stable_within_parentheses_or_type_assertions.md
  crates/biome_js_analyze/src/react/hooks.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/valid.ts
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/valid.ts.snap
Labels: A-Linter, L-JavaScript

#4949 fix(core): raise an error when invalid config extension is passed
  .changeset/biome_logs_a_warning_in_case_a_folder_contains_biomejson_and_biomejsonc_and_it_will_use_biomejson_by_default.md
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/tests/cases/config_path.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_cases_config_path/raises_a_warning_for_double_configuration_found.snap
  crates/biome_cli/tests/snapshots/main_cases_config_path/raises_an_error_for_no_configuration_file_found.snap
  crates/biome_cli/tests/snapshots/main_commands_format/invalid_config_file_path.snap
  crates/biome_configuration/src/diagnostics.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_fs/src/fs.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/src/configuration.rs
Labels: A-CLI, A-Core, A-Project, A-LSP

#4970 refactor(noFloatingPromises): update functions to return Option
  crates/biome_js_analyze/src/lint/nursery/no_floating_promises.rs
Labels: A-Linter, L-JavaScript

#4973 refactor: enable `needless_lifetimes` clippy rule
  Cargo.toml
  crates/biome_analyze/src/syntax.rs
  crates/biome_formatter/src/lib.rs
  crates/biome_grit_patterns/src/pattern_compiler/compilation_context.rs
  crates/biome_yaml_parser/src/lexer/mod.rs
Labels: A-Linter, A-Parser, A-Formatter, L-Grit

#4974 feat(migrate): migrate to `includes`
  .changeset/introduce_includes.md
  Cargo.lock
  crates/biome_migrate/Cargo.toml
  crates/biome_migrate/src/analyzers.rs
  crates/biome_migrate/src/analyzers/includes.rs
  crates/biome_migrate/src/lib.rs
  crates/biome_migrate/tests/spec_tests.rs
  crates/biome_migrate/tests/specs/migrations/all/group_level.version.txt
  crates/biome_migrate/tests/specs/migrations/all/top_level.version.txt
  crates/biome_migrate/tests/specs/migrations/includes/invalid_globs.json
  crates/biome_migrate/tests/specs/migrations/includes/invalid_globs.json.snap
  crates/biome_migrate/tests/specs/migrations/includes/invalid_globs.version.txt
  crates/biome_migrate/tests/specs/migrations/includes/invalid_ignore.json
  crates/biome_migrate/tests/specs/migrations/includes/invalid_ignore.json.snap
  crates/biome_migrate/tests/specs/migrations/includes/invalid_ignore.version.txt
  crates/biome_migrate/tests/specs/migrations/includes/invalid_include.json
  crates/biome_migrate/tests/specs/migrations/includes/invalid_include.json.snap
  crates/biome_migrate/tests/specs/migrations/includes/invalid_include.version.txt
  crates/biome_migrate/tests/specs/migrations/includes/invalid_include_ignore-comments.jsonc
  crates/biome_migrate/tests/specs/migrations/includes/invalid_include_ignore-comments.jsonc.snap
  crates/biome_migrate/tests/specs/migrations/includes/invalid_include_ignore-comments.version.txt
  crates/biome_migrate/tests/specs/migrations/includes/invalid_include_ignore.json
  crates/biome_migrate/tests/specs/migrations/includes/invalid_include_ignore.json.snap
  crates/biome_migrate/tests/specs/migrations/includes/invalid_include_ignore.version.txt
  crates/biome_migrate/tests/specs/migrations/includes/invalid_include_ignore_comma.json
  crates/biome_migrate/tests/specs/migrations/includes/invalid_include_ignore_comma.json.snap
  crates/biome_migrate/tests/specs/migrations/includes/invalid_include_ignore_comma.version.txt
  crates/biome_migrate/tests/specs/migrations/includes/valid.json
  crates/biome_migrate/tests/specs/migrations/includes/valid.json.snap
  crates/biome_migrate/tests/specs/migrations/includes/valid.version.txt
  crates/biome_migrate/tests/specs/migrations/nurseryRules/complexCase.version.txt
  crates/biome_migrate/tests/specs/migrations/nurseryRules/existingGroupWithExistingRule.version.txt
  crates/biome_migrate/tests/specs/migrations/nurseryRules/firstToExistingGroup.version.txt
  crates/biome_migrate/tests/specs/migrations/nurseryRules/lastToExistingGroup.version.txt
  crates/biome_migrate/tests/specs/migrations/nurseryRules/middleToExistingGroup.version.txt
  crates/biome_migrate/tests/specs/migrations/nurseryRules/noNewGroup.version.txt
  crates/biome_migrate/tests/specs/migrations/nurseryRules/renamedRule.version.txt
  crates/biome_migrate/tests/specs/migrations/nurseryRules/renamedRuleAndNewRule.version.txt
  crates/biome_migrate/tests/specs/migrations/nurseryRules/singleToExistingGroup.version.txt
Labels: A-CLI

#4984 feat(format/html): apply line break with multiple attributes in multiline configuration
  crates/biome_html_formatter/src/html/lists/attribute_list.rs
  crates/biome_html_formatter/tests/specs/html/attributes/multiline/break.html
  crates/biome_html_formatter/tests/specs/html/attributes/multiline/break.html.snap
  crates/biome_html_formatter/tests/specs/html/attributes/multiline/no-break.html
  crates/biome_html_formatter/tests/specs/html/attributes/multiline/no-break.html.snap
  crates/biome_html_formatter/tests/specs/html/attributes/multiline/options.json
  crates/biome_service/src/file_handlers/html.rs
Labels: A-Project, A-Formatter, L-HTML

#4998 feat(lint): make useSelfClosingElements safe and improve error message
  .changeset/mark_useselfclosingelements_as_safe_and_improve_error_message.md
  crates/biome_js_analyze/src/lint/style/use_self_closing_elements.rs
  crates/biome_js_analyze/tests/specs/style/useSelfClosingElements/invalid.tsx.snap
  crates/biome_js_analyze/tests/specs/style/useSelfClosingElements/invalidCheckHtmlElementsFalse.tsx.snap
Labels: A-Linter, L-JavaScript

#4977 feat(lint): support promise expression in noFloatingPromises
  crates/biome_js_analyze/src/lint/nursery/no_floating_promises.rs
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/valid.ts.snap
Labels: A-Linter, L-JavaScript

#4063 feat(biome_css_analyze): add rule `useSortedProperties`
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_css_analyze/src/keywords.rs
  crates/biome_css_analyze/src/lib.rs
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/use_sorted_properties.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/src/order.rs
  crates/biome_css_analyze/src/utils.rs
  crates/biome_css_analyze/tests/specs/nursery/useSortedProperties/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/useSortedProperties/invalid.css.snap
  crates/biome_css_analyze/tests/specs/nursery/useSortedProperties/valid.css
  crates/biome_css_analyze/tests/specs/nursery/useSortedProperties/valid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, L-CSS, A-Diagnostic
