Repository biomejs/biome, pull requests merged in 2025-02, with the labels that each got.

#5011 fix(css): fix css codegen
  xtask/codegen/src/generate_nodes.rs
  xtask/codegen/src/generate_syntax_kinds.rs
Labels: A-Tooling

#5013 fix(css): fix css lint/assist registry codegen
  crates/biome_configuration/src/analyzer/assist/actions.rs
  crates/biome_css_analyze/src/registry.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  xtask/codegen/src/generate_analyzer.rs
Labels: A-Project, A-Linter, A-Tooling, L-CSS

#5008 fix(biome_css_analyze): false positive of container name in `noMissingVarFunction`
  .changeset/fix_nomissingvarfunction_false_positives_for_container_name.md
  crates/biome_css_analyze/src/lint/nursery/no_missing_var_function.rs
  crates/biome_css_analyze/tests/specs/nursery/noMissingVarFunction/valid.css
  crates/biome_css_analyze/tests/specs/nursery/noMissingVarFunction/valid.css.snap
Labels: A-Linter, L-CSS

#5012 refactor(migrate): use includes when migrating from eslint and prettier
  Cargo.lock
  crates/biome_cli/Cargo.toml
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/src/execute/migrate/eslint_eslint.rs
  crates/biome_cli/src/execute/migrate/eslint_to_biome.rs
  crates/biome_cli/src/execute/migrate/ignorefile.rs
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslint_config_packagejson.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintignore.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintignore_and_ignore_patterns.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintignore_negated_patterns.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintrc.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintrcjson.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintrcjson_empty.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintrcjson_exclude_inspired.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintrcjson_extended_rules.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintrcjson_fix.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintrcjson_include_inspired.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintrcjson_override_existing_config.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintrcjson_rule_options.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintrcjson_write.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_merge_with_overrides.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_overrides.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_with_ignore.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_write_with_ignore_file.snap
  crates/biome_glob/src/lib.rs
Labels: A-CLI

#4968 feat(format/html): implement bracketSameLine
  crates/biome_html_formatter/src/html/auxiliary/opening_element.rs
  crates/biome_html_formatter/src/html/auxiliary/self_closing_element.rs
  crates/biome_html_formatter/src/html/lists/attribute_list.rs
  crates/biome_html_formatter/tests/specs/html/elements/bracket-same-line/element.html
  crates/biome_html_formatter/tests/specs/html/elements/bracket-same-line/element.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/bracket-same-line/options.json
  crates/biome_html_formatter/tests/specs/html/elements/bracket-same-line/self-closing.html
  crates/biome_html_formatter/tests/specs/html/elements/bracket-same-line/self-closing.html.snap
Labels: A-Formatter, L-HTML

#5016 feat(format/html): add `css` option for whitespace sensitivity
  crates/biome_html_formatter/src/context.rs
  crates/biome_html_formatter/src/html/auxiliary/element.rs
  crates/biome_html_formatter/tests/specs/html/attributes/break.html.snap
  crates/biome_html_formatter/tests/specs/html/attributes/multiline/break.html.snap
  crates/biome_html_formatter/tests/specs/html/attributes/multiline/no-break.html.snap
  crates/biome_html_formatter/tests/specs/html/attributes/no-break.html.snap
  crates/biome_html_formatter/tests/specs/html/attributes/self-closing.html.snap
  crates/biome_html_formatter/tests/specs/html/attributes/single-quotes.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/bracket-same-line/element.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/bracket-same-line/self-closing.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/empty-extra-lines.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/inline/tags-dont-hug-content-2.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/inline/tags-dont-hug-content.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/inline/tags-hug-content-longer-w-attr.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/inline/tags-hug-content-w-attr.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/inline/tags-hug-content.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/pre-with-brackets.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/pre-with-braille.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/pre.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/spacing/case0.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/spacing/case1.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/spacing/case2.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/spacing/case3.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/spacing/case4.html.snap
  crates/biome_html_formatter/tests/specs/html/example.html.snap
  crates/biome_html_formatter/tests/specs/html/long-content.html.snap
  crates/biome_html_formatter/tests/specs/html/many-children.html.snap
  crates/biome_html_formatter/tests/specs/html/self-closing.html.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Formatter, L-HTML

#5025 fix(format/html): enforce whitespace sensitivity for siblings in HtmlElementList
  crates/biome_html_formatter/src/html/lists/element_list.rs
  crates/biome_html_formatter/src/utils/metadata.rs
  crates/biome_html_formatter/tests/specs/html/long-inline-elements.html
  crates/biome_html_formatter/tests/specs/html/long-inline-elements.html.snap
Labels: A-Formatter, L-HTML

#5009 chore: print diagnostics using relative paths
  biome.json
  crates/biome_cli/src/execute/process_file.rs
  crates/biome_cli/src/execute/process_file/format.rs
  crates/biome_cli/src/execute/process_file/lint.rs
  crates/biome_cli/src/execute/process_file/search.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/snapshots/main_commands_check/fs_error_dereferenced_symlink.snap
  crates/biome_cli/tests/snapshots/main_commands_check/fs_error_unknown.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/fs_error_dereferenced_symlink.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/fs_error_unknown.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/include_files_in_subdir.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/include_files_in_symlinked_subdir.snap
  crates/biome_diagnostics/src/display.rs
  crates/biome_fs/src/fs.rs
  crates/biome_fs/src/fs/memory.rs
  crates/biome_fs/src/fs/os.rs
  crates/biome_js_analyze/src/registry.rs
  crates/biome_json_analyze/src/registry.rs
  crates/biome_service/src/configuration.rs
  crates/biome_syntax_codegen/src/generate_syntax_kinds.rs
  packages/@biomejs/js-api/tests/formatContent.test.ts
  packages/@biomejs/js-api/tests/lintContent.test.ts
  packages/tailwindcss-config-analyzer/src/generate-tailwind-preset.ts
  packages/tailwindcss-config-analyzer/src/introspect.ts
  packages/tailwindcss-config-analyzer/tsconfig.json
  xtask/codegen/src/generate_analyzer.rs
Labels: A-CLI, A-Core, A-Project, A-Linter, A-Tooling, L-JavaScript, L-JSON, A-Diagnostic

#4978 fix(grit): broaden GritQL parser support
  crates/biome_grit_factory/src/generated/node_factory.rs
  crates/biome_grit_factory/src/generated/syntax_factory.rs
  crates/biome_grit_formatter/src/generated.rs
  crates/biome_grit_formatter/src/grit/any/definition.rs
  crates/biome_grit_formatter/src/grit/auxiliary/javascript_body_wrapper.rs
  crates/biome_grit_formatter/src/grit/auxiliary/mod.rs
  crates/biome_grit_formatter/src/grit/declarations/javascript_function_definition.rs
  crates/biome_grit_formatter/src/grit/declarations/mod.rs
  crates/biome_grit_formatter/tests/specs/grit/marzano/complex.grit
  crates/biome_grit_formatter/tests/specs/grit/marzano/complex.grit.snap
  crates/biome_grit_formatter/tests/specs/grit/marzano/go_code.grit
  crates/biome_grit_formatter/tests/specs/grit/marzano/go_code.grit.snap
  crates/biome_grit_formatter/tests/specs/grit/marzano/go_unknown.grit
  crates/biome_grit_formatter/tests/specs/grit/marzano/go_unknown.grit.snap
  crates/biome_grit_parser/src/lexer/mod.rs
  crates/biome_grit_parser/src/parser/definitions.rs
  crates/biome_grit_parser/src/parser/patterns.rs
  crates/biome_grit_parser/tests/grit_test_suite/ok/js_function.grit
  crates/biome_grit_parser/tests/grit_test_suite/ok/js_function.grit.snap
  crates/biome_grit_patterns/src/errors.rs
  crates/biome_grit_patterns/src/grit_definitions.rs
  crates/biome_grit_syntax/src/generated/kind.rs
  crates/biome_grit_syntax/src/generated/macros.rs
  crates/biome_grit_syntax/src/generated/nodes.rs
  crates/biome_grit_syntax/src/generated/nodes_mut.rs
  xtask/codegen/gritql.ungram
  xtask/codegen/src/grit_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-Grit

#5033 fix: repair explosive memory leak in GritQL parser
  crates/biome_grit_parser/src/lexer/mod.rs
  crates/biome_grit_parser/src/parser/mod.rs
  crates/biome_grit_parser/src/parser/tests.rs
Labels: A-Parser, L-Grit

#5037 fix(grit): patch more parser incompatibilities for complex patterns
  crates/biome_grit_formatter/tests/specs/grit/marzano/react_hooks.grit
  crates/biome_grit_formatter/tests/specs/grit/marzano/react_hooks.grit.snap
  crates/biome_grit_formatter/tests/specs/grit/marzano/shadow_scope.grit
  crates/biome_grit_formatter/tests/specs/grit/marzano/shadow_scope.grit.snap
  crates/biome_grit_parser/src/lexer/mod.rs
  crates/biome_grit_parser/src/parser/patterns.rs
  crates/biome_grit_parser/tests/grit_test_suite/ok/ast_node.grit
  crates/biome_grit_parser/tests/grit_test_suite/ok/ast_node.grit.snap
  crates/biome_grit_parser/tests/grit_test_suite/ok/bubble_brace.grit
  crates/biome_grit_parser/tests/grit_test_suite/ok/bubble_brace.grit.snap
Labels: A-Parser, A-Formatter, L-Grit

#5040 fix(js-api): fix type definition for IFileFeaturesResult
  .changeset/violet-dingos-shake.md
  Cargo.lock
  crates/biome_service/src/workspace_types.rs
  crates/biome_wasm/Cargo.toml
  crates/biome_wasm/build.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  xtask/codegen/src/generate_bindings.rs
Labels: A-Project, A-Tooling

#5038 ci: publish workflow via changesets
  .changeset/config.json
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .github/workflows/release_cli.yml
  CHANGELOG.md
  CHANGELOG_v1.md
  justfile
  package.json
  packages/@biomejs/biome/CHANGELOG.md
  packages/@biomejs/biome/scripts/generate-packages.mjs
Labels: A-Changelog

#5043 fix(lint): add react domain to `useJsxKeyInIterable`
  .changeset/dull-gorillas-juggle.md
  crates/biome_js_analyze/src/lint/correctness/use_jsx_key_in_iterable.rs
Labels: A-Linter, L-JavaScript

#5051 chore: fix windows specific script errors
  crates/biome_cli/src/service/windows.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/commands/lint.rs
  justfile
Labels: A-CLI

#5027 fix(format/html): make element children break if attributes break
  crates/biome_html_formatter/src/html/auxiliary/element.rs
  crates/biome_html_formatter/src/html/auxiliary/opening_element.rs
  crates/biome_html_formatter/tests/specs/html/content-breaks-when-attr-breaks.html
  crates/biome_html_formatter/tests/specs/html/content-breaks-when-attr-breaks.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/bracket-same-line/element.html.snap
Labels: A-Formatter, L-HTML

#5046 fix(lint): add missing domain to next.js rules
  crates/biome_cli/tests/cases/rules_via_dependencies.rs
  crates/biome_cli/tests/snapshots/main_cases_rules_via_dependencies/enables_next_rules_via_dependencies.snap
  crates/biome_cli/tests/snapshots/main_cases_rules_via_dependencies/enables_react_rules_via_dependencies.snap
  crates/biome_cli/tests/snapshots/main_cases_rules_via_dependencies/enables_rules_via_dependencies_but_disable_rule_from_config.snap
  crates/biome_cli/tests/snapshots/main_cases_rules_via_dependencies/enables_test_globals_via_dependencies.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_linter_configuration.snap
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_fs/src/fs.rs
  crates/biome_fs/src/fs/os.rs
  crates/biome_fs/src/lib.rs
  crates/biome_js_analyze/src/lint/nursery/no_document_import_in_page.rs
  crates/biome_js_analyze/src/lint/nursery/no_head_element.rs
  crates/biome_js_analyze/src/lint/nursery/no_head_import_in_document.rs
  crates/biome_js_analyze/src/lint/nursery/no_img_element.rs
  crates/biome_js_analyze/src/lint/nursery/no_unwanted_polyfillio.rs
  crates/biome_js_analyze/src/lint/nursery/use_google_font_display.rs
  crates/biome_js_analyze/src/lint/nursery/use_google_font_preconnect.rs
  crates/biome_service/src/file_handlers/mod.rs
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI, A-Core, A-Project, A-Linter, A-Tooling, L-JavaScript

#5052 fix(css_formatter): improve CSS numeric formatting
  .changeset/improve_formatting_of_numbers_in_css.md
  crates/biome_css_formatter/src/css/value/number.rs
  crates/biome_css_formatter/src/css/value/regular_dimension.rs
  crates/biome_css_formatter/tests/specs/css/color/functional_colors.css.snap
  crates/biome_css_formatter/tests/specs/css/nesting/nesting.css.snap
  crates/biome_css_formatter/tests/specs/css/number.css
  crates/biome_css_formatter/tests/specs/css/number.css.snap
  crates/biome_css_formatter/tests/specs/css/range/mid_value.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/case/case.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/color/functional-syntax.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/grid/grid.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/numbers/numbers.css.snap
  crates/biome_formatter/src/token/number.rs
  crates/biome_js_formatter/src/js/expressions/number_literal_expression.rs
  crates/biome_js_formatter/src/js/objects/literal_member_name.rs
  crates/biome_js_formatter/src/ts/types/number_literal_type.rs
  crates/biome_json_formatter/src/json/value/number_value.rs
Labels: A-Formatter, L-JavaScript, L-CSS, L-JSON

#5066 fix(linter): `noConsole` inside arrow function expressions
  .changeset/lemon-flies-jam.md
  crates/biome_js_analyze/src/lint/suspicious/no_console.rs
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_js_analyze/tests/specs/suspicious/noConsole/issue_5053.js
  crates/biome_js_analyze/tests/specs/suspicious/noConsole/issue_5053.js.snap
Labels: A-Linter, L-JavaScript

#5072 fix(formatter): handling of comments in js holes with newlines
  crates/biome_js_formatter/src/comments.rs
  crates/biome_js_formatter/tests/quick_test.rs
  crates/biome_js_formatter/tests/specs/js/module/array/holes_comments.js
  crates/biome_js_formatter/tests/specs/js/module/array/holes_comments.js.snap
Labels: A-Formatter, L-JavaScript

#5073 fix(lsp): better error message when editorconfig is broken
  crates/biome_lsp/src/session.rs
  crates/biome_service/src/diagnostics.rs
Labels: A-Project, A-LSP

#5067 fix(editorconfig): fix `insert_final_newline` being unable to parse value `unset`
  .changeset/wet-hornets-sparkle.md
  crates/biome_configuration/src/editorconfig.rs
Labels: A-Project

#5075 chore(format/js): fix missing snapshot update
  crates/biome_js_formatter/tests/specs/js/module/array/holes_comments.js.snap
Labels: A-Formatter, L-JavaScript

#5086 chore(lsp): add more logging when running the daemon
  crates/biome_cli/src/commands/daemon.rs
Labels: A-CLI

#5076 feat(lint): add noConstantBinaryExpression lint rule for JS
  .changeset/breezy-horses-fetch.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/ast_utils.rs
  crates/biome_js_analyze/src/lint/correctness/no_constant_condition.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_constant_binary_expression.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noConstantBinaryExpression/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noConstantBinaryExpression/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noConstantBinaryExpression/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noConstantBinaryExpression/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noConstantBinaryExpression/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noConstantBinaryExpression/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noConstantBinaryExpression/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noConstantBinaryExpression/valid.jsx.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#5098 test(lint): add test cases for unnamed class expression in noFloating…
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/valid.ts.snap
Labels: A-Linter, L-JavaScript

#5088 refactor(formatter): remove non-printing related options from `FormatOptions`
  crates/biome_css_formatter/src/context.rs
  crates/biome_formatter/src/format_element/document.rs
  crates/biome_formatter/src/lib.rs
  crates/biome_formatter/src/printer/printer_options/mod.rs
  crates/biome_graphql_formatter/src/context.rs
  crates/biome_graphql_formatter/src/graphql/value/object_value.rs
  crates/biome_grit_formatter/src/context.rs
  crates/biome_grit_formatter/src/grit/auxiliary/like.rs
  crates/biome_grit_formatter/src/grit/auxiliary/map.rs
  crates/biome_grit_formatter/src/grit/auxiliary/sequential.rs
  crates/biome_grit_formatter/src/grit/patterns/curly_pattern.rs
  crates/biome_grit_formatter/src/grit/patterns/pattern_any.rs
  crates/biome_grit_formatter/src/grit/patterns/pattern_or.rs
  crates/biome_grit_formatter/src/grit/patterns/pattern_or_else.rs
  crates/biome_grit_formatter/src/grit/predicates/predicate_and.rs
  crates/biome_grit_formatter/src/grit/predicates/predicate_any.rs
  crates/biome_grit_formatter/src/grit/predicates/predicate_curly.rs
  crates/biome_grit_formatter/src/grit/predicates/predicate_or.rs
  crates/biome_html_formatter/src/context.rs
  crates/biome_js_formatter/src/context.rs
  crates/biome_json_formatter/src/context.rs
  crates/biome_json_formatter/src/json/value/object_value.rs
Labels: A-Formatter, L-JavaScript, L-CSS, L-JSON, L-HTML, L-Grit

#5085 fix(lint): ignore multiline literals in useTemplate rule
  .changeset/orange-gifts-burn.md
  crates/biome_js_analyze/src/lint/style/use_template.rs
  crates/biome_js_analyze/tests/specs/style/useTemplate/invalid.js
  crates/biome_js_analyze/tests/specs/style/useTemplate/invalid.js.snap
  crates/biome_js_analyze/tests/specs/style/useTemplate/valid.js
  crates/biome_js_analyze/tests/specs/style/useTemplate/valid.js.snap
Labels: A-Linter, L-JavaScript

#5099 fix(parser): throw syntax error for import without arguments
  .changeset/gold-buses-tap.md
  crates/biome_js_parser/src/syntax/typescript/ts_parse_error.rs
  crates/biome_js_parser/src/syntax/typescript/types.rs
  crates/biome_js_parser/tests/js_test_suite/error/import_type_error.ts
  crates/biome_js_parser/tests/js_test_suite/error/import_type_error.ts.snap
  crates/biome_js_parser/tests/spec_test.rs
Labels: A-Parser, L-JavaScript

#5120 fix(js-api): fix the generated types for rule domains
  crates/biome_configuration/src/analyzer/linter/mod.rs
  crates/biome_service/src/workspace_types.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_bindings.rs
Labels: A-Project, A-Tooling

#5123 docs(html): fix docs for html's whitespace sensitivity option
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_configuration/src/html.rs
  crates/biome_html_formatter/src/context.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Formatter, L-HTML

#5132 feat(cli)!: rename `--javascript-attribute-position` to `--javascript-formatter-attribute-position`
  .changeset/hot-moons-kiss.md
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_configuration/src/javascript/formatter.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project

#5128 fix(format/html): fix extra characters getting added in attribute quotes
  crates/biome_html_formatter/src/html/auxiliary/string.rs
  crates/biome_html_formatter/tests/specs/html/attributes/single-quotes.html.snap
  crates/biome_html_formatter/tests/specs/prettier/html/attributes/attributes.html.snap
  crates/biome_html_formatter/tests/specs/prettier/html/attributes/boolean.html.snap
  crates/biome_html_formatter/tests/specs/prettier/html/whitespace/display-inline-block.html.snap
Labels: A-Formatter, L-HTML

#5130 fix(cli): fix CLI flag of `bracketSpacing` option for lang-specific override
  .changeset/funny-beans-vanish.md
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_configuration/src/javascript/formatter.rs
Labels: A-CLI, A-Project

#5129 feat(lint): add `noAwaitInLoop`
  .changeset/young-days-accept.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_await_in_loop.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noAwaitInLoop/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noAwaitInLoop/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noAwaitInLoop/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noAwaitInLoop/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#5149 fix(html): fix html configuration having no effect
  crates/biome_html_formatter/tests/language.rs
  crates/biome_html_formatter/tests/specs/html/elements/whitespace/ignore/long-content.html
  crates/biome_html_formatter/tests/specs/html/elements/whitespace/ignore/long-content.html.snap
  crates/biome_html_formatter/tests/specs/html/elements/whitespace/ignore/options.json
  crates/biome_service/src/file_handlers/html.rs
  crates/biome_service/src/settings.rs
Labels: A-Project, A-Formatter, L-HTML

#5161 chore: fix snaphots
  crates/biome_js_analyze/tests/specs/nursery/noAwaitInLoop/invalid.js.snap
Labels: A-Linter, L-JavaScript

#5160 feat(core): implement workspace plugin loading
  .github/workflows/benchmark.yml
  Cargo.lock
  crates/biome_analyze/src/analyzer_plugin.rs
  crates/biome_analyze/src/lib.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_configuration/src/plugins.rs
  crates/biome_css_analyze/src/lib.rs
  crates/biome_css_analyze/tests/spec_tests.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/tests/quick_test.rs
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_plugin_loader/Cargo.toml
  crates/biome_plugin_loader/src/analyzer_grit_plugin.rs
  crates/biome_plugin_loader/src/diagnostics.rs
  crates/biome_plugin_loader/src/lib.rs
  crates/biome_plugin_loader/src/plugin_cache.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/client.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/tests/snapshots/workspace__test__plugins_are_loaded_and_used_during_analysis.snap
  crates/biome_service/tests/workspace.rs
  crates/biome_wasm/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  xtask/bench/src/language.rs
  xtask/rules_check/src/lib.rs
Labels: A-CLI, A-Project, A-Linter, A-Tooling, L-JavaScript, L-CSS

#5158 feat(config): remove the `ignore` and `include` field
  .changeset/introduce_includes.md
  benchmark/biome.json
  biome.json
  crates/biome_cli/src/commands/rage.rs
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/tests/snapshots/main_commands_init/creates_config_file.snap
  crates/biome_cli/tests/snapshots/main_commands_init/creates_config_file_when_biome_installed_via_package_manager.snap
  crates/biome_cli/tests/snapshots/main_commands_init/creates_config_jsonc_file.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_formatter_configuration.snap
  crates/biome_configuration/src/analyzer/assist/mod.rs
  crates/biome_configuration/src/analyzer/assists/mod.rs
  crates/biome_configuration/src/analyzer/linter/mod.rs
  crates/biome_configuration/src/formatter.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_configuration/src/organize_imports.rs
  crates/biome_configuration/src/overrides.rs
  crates/biome_configuration/tests/invalid/files_extraneous_field.json.snap
  crates/biome_configuration/tests/invalid/files_ignore_incorrect_type.json
  crates/biome_configuration/tests/invalid/files_ignore_incorrect_type.json.snap
  crates/biome_configuration/tests/invalid/files_ignore_incorrect_value.json
  crates/biome_configuration/tests/invalid/files_ignore_incorrect_value.json.snap
  crates/biome_configuration/tests/invalid/files_include_incorrect_type.json
  crates/biome_configuration/tests/invalid/files_include_incorrect_type.json.snap
  crates/biome_configuration/tests/invalid/formatter_extraneous_field.json.snap
  crates/biome_configuration/tests/invalid/formatter_quote_style.json.snap
  crates/biome_configuration/tests/invalid/overrides/incorrect_key.json.snap
  crates/biome_configuration/tests/valid/overrides/top_level_keys.json
  crates/biome_migrate/src/analyzers/includes.rs
  crates/biome_migrate/tests/specs/migrations/includes/invalid_include_ignore.json
  crates/biome_migrate/tests/specs/migrations/includes/invalid_include_ignore.json.snap
  crates/biome_service/src/projects.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace/server.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project

#5166 fix(cli): rename `--javascript-object-wrap` to `--javascript-formatter-object-wrap`
  .changeset/gentle-spies-drum.md
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_configuration/src/javascript/formatter.rs
Labels: A-CLI, A-Project

#5169 chore: eliminate some warnings on release build
  crates/biome_formatter/src/comments/map.rs
  crates/biome_formatter/src/group_id.rs
  crates/biome_formatter/src/lib.rs
Labels: A-Formatter

#5118 feat(biome_css_analyzer): update known pseudo elements
  .changeset/smart-seals-collect.md
  crates/biome_css_analyze/src/keywords.rs
  crates/biome_css_analyze/tests/specs/nursery/noUnknownPseudoClass/invalid.css.snap
Labels: A-Linter, L-CSS

#5155 feat(html): set up html parser and formatter benchmarks
  Cargo.lock
  xtask/bench/Cargo.toml
  xtask/bench/benches/html_formatter.rs
  xtask/bench/benches/html_parser.rs
  xtask/bench/benches/libs-html.txt
  xtask/bench/src/language.rs
Labels: A-Tooling

#5174 fix(formatter): do not break properties of type annotation in function parameters
  .changeset/cyan-beans-yawn.md
  crates/biome_js_formatter/src/utils/object_like.rs
  crates/biome_js_formatter/tests/specs/ts/object/objects.ts
  crates/biome_js_formatter/tests/specs/ts/object/objects.ts.snap
Labels: A-Formatter, L-JavaScript

#5177 fix(linter): allow escaping at the start of a regex group
  .changeset/naming-conventions-regex-allow-char-escaping-at-start-of-regex-groups.md
  crates/biome_js_analyze/src/lint/style/use_filenaming_convention.rs
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/src/utils/restricted_regex.rs
Labels: A-Linter, L-JavaScript

#5176 refactor(config): remove `overrides.include`
  crates/biome_cli/src/execute/migrate/eslint_to_biome.rs
  crates/biome_cli/src/execute/migrate/prettier.rs
  crates/biome_cli/tests/commands/migrate_eslint.rs
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_merge_with_overrides.snap
  crates/biome_configuration/src/editorconfig.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_configuration/src/overrides.rs
  crates/biome_configuration/tests/invalid/overrides/incorrect_key.json.snap
  crates/biome_configuration/tests/valid/overrides/top_level_keys.json
  crates/biome_glob/src/editorconfig.rs
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/lib.rs
  crates/biome_service/src/matcher/LICENSE-APACHE
  crates/biome_service/src/matcher/LICENSE-MIT
  crates/biome_service/src/matcher/mod.rs
  crates/biome_service/src/matcher/pattern.rs
  crates/biome_service/src/settings.rs
  e2e-tests/relative-apth-ignore-file/test.sh
  e2e-tests/relative-path-ignore-file/biome.json
  e2e-tests/relative-path-ignore-file/file.js
  e2e-tests/relative-path-ignore-file/test.sh
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project

#5148 fix(format/html): resolve some edge cases with whitespace and how inline elements are treated
  crates/biome_html_formatter/src/html/auxiliary/closing_element.rs
  crates/biome_html_formatter/src/html/auxiliary/element.rs
  crates/biome_html_formatter/src/html/auxiliary/opening_element.rs
  crates/biome_html_formatter/src/html/lists/element_list.rs
  crates/biome_html_formatter/src/utils/metadata.rs
  crates/biome_html_formatter/tests/specs/html/elements/inline/mixed-block-inline.html
  crates/biome_html_formatter/tests/specs/html/elements/inline/mixed-block-inline.html.snap
  crates/biome_html_formatter/tests/specs/prettier/html/basics/with-colon.html.snap
  crates/biome_html_formatter/tests/specs/prettier/html/svg/svg.html.snap
  crates/biome_html_formatter/tests/specs/prettier/html/whitespace/inline-leading-trailing-spaces.html.snap
  crates/biome_html_formatter/tests/specs/prettier/html/whitespace/surrounding-linebreak.html.snap
Labels: A-Formatter, L-HTML

#5178 refactor(useNamingConvention): remove `enumMemberCase` option
  .changeset/remove-enum-member-case.md
  crates/biome_cli/src/execute/migrate/eslint_typescript.rs
  crates/biome_configuration/tests/invalid/naming_convention_incorrect_options.json.snap
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/malformedOptions.js.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validEnumMemberCamelCase.options.json
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validEnumMemberConstantCase.options.json
  crates/biome_migrate/src/analyzers.rs
  crates/biome_migrate/src/analyzers/use_naming_convention_enum_member_case.rs
  crates/biome_migrate/tests/specs/migrations/useNamingConventionEnumMemberCase/invalid.json
  crates/biome_migrate/tests/specs/migrations/useNamingConventionEnumMemberCase/invalid.json.snap
  crates/biome_migrate/tests/specs/migrations/useNamingConventionEnumMemberCase/invalid_with_conventions.json
  crates/biome_migrate/tests/specs/migrations/useNamingConventionEnumMemberCase/invalid_with_conventions.json.snap
  crates/biome_migrate/tests/specs/migrations/useNamingConventionEnumMemberCase/invalid_with_empty_conventions.json
  crates/biome_migrate/tests/specs/migrations/useNamingConventionEnumMemberCase/invalid_with_empty_conventions.json.snap
  crates/biome_migrate/tests/specs/migrations/useNamingConventionEnumMemberCase/valid.json
  crates/biome_migrate/tests/specs/migrations/useNamingConventionEnumMemberCase/valid.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript

#5139 feat: add plugin suppression
  crates/biome_analyze/src/diagnostics.rs
  crates/biome_analyze/src/lib.rs
  crates/biome_analyze/src/rule.rs
  crates/biome_analyze/src/suppressions.rs
  crates/biome_css_formatter/src/comments.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_graphql_formatter/src/comments.rs
  crates/biome_html_formatter/src/comments.rs
  crates/biome_js_analyze/tests/plugin/preferObjectSpreadSuppression.grit
  crates/biome_js_analyze/tests/plugin/preferObjectSpreadSuppression.grit.snap
  crates/biome_js_analyze/tests/plugin/preferObjectSpreadSuppression.js
  crates/biome_js_analyze/tests/plugin/preferObjectSpreadSuppressionAll.grit
  crates/biome_js_analyze/tests/plugin/preferObjectSpreadSuppressionAll.grit.snap
  crates/biome_js_analyze/tests/plugin/preferObjectSpreadSuppressionAll.js
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_js_formatter/src/comments.rs
  crates/biome_json_formatter/src/comments.rs
  crates/biome_plugin_loader/src/analyzer_grit_plugin.rs
  crates/biome_suppression/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-Core, A-Linter, A-Formatter, L-JavaScript, L-CSS, L-JSON, A-Diagnostic, L-HTML

#5187 chore: merge next to main
  crates/biome_analyze/src/diagnostics.rs
  crates/biome_analyze/src/lib.rs
  crates/biome_analyze/src/rule.rs
  crates/biome_analyze/src/suppressions.rs
  crates/biome_css_formatter/src/comments.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_graphql_formatter/src/comments.rs
  crates/biome_html_formatter/src/comments.rs
  crates/biome_js_analyze/tests/plugin/preferObjectSpreadSuppression.grit
  crates/biome_js_analyze/tests/plugin/preferObjectSpreadSuppression.grit.snap
  crates/biome_js_analyze/tests/plugin/preferObjectSpreadSuppression.js
  crates/biome_js_analyze/tests/plugin/preferObjectSpreadSuppressionAll.grit
  crates/biome_js_analyze/tests/plugin/preferObjectSpreadSuppressionAll.grit.snap
  crates/biome_js_analyze/tests/plugin/preferObjectSpreadSuppressionAll.js
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_js_formatter/src/comments.rs
  crates/biome_json_formatter/src/comments.rs
  crates/biome_plugin_loader/src/analyzer_grit_plugin.rs
  crates/biome_suppression/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-Core, A-Linter, A-Formatter, L-JavaScript, L-CSS, L-JSON, A-Diagnostic, L-HTML

#5189 test(lint): update snapshots for #5139
  crates/biome_js_analyze/tests/plugin/preferObjectSpreadSuppression.grit.snap
Labels: A-Linter, L-JavaScript

#5191 chore: workspace cleanups
  Cargo.lock
  Cargo.toml
  crates/biome_json_value/Cargo.toml
  crates/biome_package/Cargo.toml
  crates/biome_service/src/snapshots/biome_service__workspace__tests__plugins_are_loaded_and_used_during_analysis.snap
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace.tests.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/tests/workspace.rs
  crates/biome_text_size/Cargo.toml
Labels: A-Core, A-Project, L-JSON

#5103 feat(lint): support object method in noFloatingPromises
  crates/biome_js_analyze/src/lint/nursery/no_floating_promises.rs
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/valid.ts.snap
Labels: A-Linter, L-JavaScript

#5198 fix(parser): gracefully handle stalled parser in object patterns
  .changeset/gracefully-handle-stalled-parser.md
  crates/biome_js_parser/src/syntax/pattern.rs
  crates/biome_js_parser/tests/js_test_suite/error/issue4622.ts
  crates/biome_js_parser/tests/js_test_suite/error/issue4622.ts.snap
  crates/biome_parser/src/lib.rs
Labels: A-Parser, L-JavaScript

#4983 feat(lint): add `noDestructuredProps`
  .changeset/empty-tigers-develop.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_destructured_props.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noDestructuredProps/invalid.tsx
  crates/biome_js_analyze/tests/specs/nursery/noDestructuredProps/invalid.tsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noDestructuredProps/valid.tsx
  crates/biome_js_analyze/tests/specs/nursery/noDestructuredProps/valid.tsx.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#5042 feat(biome_js_analyze): implement `useConsistentObjectDefinition` rule
  .changeset/famous-ravens-cross.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_consistent_object_definition.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useConsistentObjectDefinition/invalidExplicit.js
  crates/biome_js_analyze/tests/specs/nursery/useConsistentObjectDefinition/invalidExplicit.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentObjectDefinition/invalidExplicit.options.json
  crates/biome_js_analyze/tests/specs/nursery/useConsistentObjectDefinition/invalidShorthand.js
  crates/biome_js_analyze/tests/specs/nursery/useConsistentObjectDefinition/invalidShorthand.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentObjectDefinition/invalidShorthand.options.json
  crates/biome_js_analyze/tests/specs/nursery/useConsistentObjectDefinition/validExplicit.js
  crates/biome_js_analyze/tests/specs/nursery/useConsistentObjectDefinition/validExplicit.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentObjectDefinition/validExplicit.options.json
  crates/biome_js_analyze/tests/specs/nursery/useConsistentObjectDefinition/validShorthand.js
  crates/biome_js_analyze/tests/specs/nursery/useConsistentObjectDefinition/validShorthand.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentObjectDefinition/validShorthand.options.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#4908 refactor(css_semantic): improve CSS semantic model structure and API
  Cargo.lock
  crates/biome_css_analyze/src/lint/nursery/no_descending_specificity.rs
  crates/biome_css_analyze/src/lint/nursery/no_duplicate_custom_properties.rs
  crates/biome_css_analyze/src/lint/nursery/no_duplicate_properties.rs
  crates/biome_css_analyze/src/lint/nursery/no_missing_var_function.rs
  crates/biome_css_semantic/Cargo.toml
  crates/biome_css_semantic/src/events.rs
  crates/biome_css_semantic/src/semantic_model/builder.rs
  crates/biome_css_semantic/src/semantic_model/mod.rs
  crates/biome_css_semantic/src/semantic_model/model.rs
Labels: A-Linter, L-CSS

#5199 test: update snapshots
  crates/biome_js_analyze/tests/specs/nursery/useConsistentObjectDefinition/invalidExplicit.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentObjectDefinition/invalidShorthand.js.snap
Labels: A-Linter, L-JavaScript

#5204 fix(lsp): fill in missing workspaceFolders capabilities
  crates/biome_lsp/src/capabilities.rs
Labels: A-LSP

#5195 feat: support for nested ignore files
  .changeset/fair-trains-protect.md
  biome.json
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/rage.rs
  crates/biome_cli/src/execute/process_file.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/cases/vcs_ignored_files.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/ci.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_cases_config_path/raises_a_warning_for_double_configuration_found.snap
  crates/biome_cli/tests/snapshots/main_cases_rules_via_dependencies/does_handle_only_included_files.snap
  crates/biome_cli/tests/snapshots/main_cases_vcs_ignored_files/ignore_vcs_ignored_file_via_cli.snap
  crates/biome_cli/tests/snapshots/main_cases_vcs_ignored_files/ignore_vcs_os_independent_parse.snap
  crates/biome_cli/tests/snapshots/main_cases_vcs_ignored_files/ignores_file_inside_directory.snap
  crates/biome_cli/tests/snapshots/main_cases_vcs_ignored_files/include_vcs_ignore_cascade.snap
  crates/biome_cli/tests/snapshots/main_commands_check/ignore_vcs_ignored_file.snap
  crates/biome_cli/tests/snapshots/main_commands_check/ignore_vcs_ignored_file_via_cli.snap
  crates/biome_cli/tests/snapshots/main_commands_check/ignore_vcs_os_independent_parse.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ignore_vcs_ignored_file.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ignore_vcs_ignored_file_via_cli.snap
  crates/biome_cli/tests/snapshots/main_commands_format/expands_package_json_fields_by_de.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_empty_svelte_ts_files_write.snap
  crates/biome_cli/tests/snapshots/main_commands_format/ignore_vcs_ignored_file_via_cli.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/fs_files_ignore_symlink.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/ignore_vcs_ignored_file.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/ignore_vcs_os_independent_parse.snap
  crates/biome_configuration/src/lib.rs
  crates/biome_configuration/src/vcs.rs
  crates/biome_css_formatter/tests/spec_test.rs
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_formatter_test/src/spec.rs
  crates/biome_fs/src/fs/os.rs
  crates/biome_fs/src/path.rs
  crates/biome_graphql_formatter/tests/spec_test.rs
  crates/biome_js_parser/tests/spec_test.rs
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/src/handlers/formatting.rs
  crates/biome_lsp/src/server.tests.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/file_handlers/ignore.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/file_handlers/svelte.rs
  crates/biome_service/src/projects.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace.tests.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_test_utils/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/js-api/src/index.ts
  xtask/rules_check/src/lib.rs
Labels: A-CLI, A-Core, A-Project, A-Parser, A-Formatter, A-Tooling, A-LSP, L-JavaScript, L-CSS

#5203 feat(lint): add useForComponent
  .changeset/twelve-plants-marry.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_for_component.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useForComponent/invalid.tsx
  crates/biome_js_analyze/tests/specs/nursery/useForComponent/invalid.tsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useForComponent/valid.tsx
  crates/biome_js_analyze/tests/specs/nursery/useForComponent/valid.tsx.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#5214 fix: explain command for rule
  crates/biome_analyze/src/rule.rs
  crates/biome_cli/tests/snapshots/main_commands_explain/explain_valid_rule.snap
Labels: A-CLI, A-Linter

#4796 feat(biome_cli): add schema version check to `check`,`lint`,`format` commands
  .changeset/great-planes-give.md
  Cargo.lock
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_check/should_report_when_schema_version_mismatch.snap
  crates/biome_cli/tests/snapshots/main_commands_check/should_show_formatter_diagnostics_for_files_ignored_by_linter.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_format_files_in_folders_ignored_by_linter.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_report_when_schema_version_mismatch.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_report_when_schema_version_mismatch.snap
  crates/biome_configuration/Cargo.toml
  crates/biome_configuration/src/lib.rs
  crates/biome_deserialize/src/lib.rs
  crates/biome_service/src/configuration.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project

#5206 feat(lint): support promise in function argument for `noFloatingPromises`
  crates/biome_js_analyze/src/lint/nursery/no_floating_promises.rs
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/valid.ts.snap
Labels: A-Linter, L-JavaScript

#5093 feat(lsp): allow overriding the configuration path from LSP workspaces
  .changeset/funny-planes-care.md
  crates/biome_lsp/src/extension_settings.rs
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/session.rs
Labels: A-LSP
