Repository biomejs/biome, pull requests merged in 2025-06, with the labels that each got.

#6192 fix(cli): prevent panic when searching across different file types
  .changeset/smart-zebras-shout.md
  crates/biome_cli/src/execute/process_file/search.rs
  crates/biome_cli/tests/commands/search.rs
  crates/biome_cli/tests/snapshots/main_commands_search/search_css_pattern_skips_js_files.snap
  crates/biome_cli/tests/snapshots/main_commands_search/search_js_pattern_skips_css_files.snap
Labels: A-CLI

#6203 feat(core): resolve React symbols
  crates/biome_js_analyze/src/lint/correctness/no_private_imports.rs
  crates/biome_js_type_info/src/helpers.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_module_graph/src/format_module_graph.rs
  crates/biome_module_graph/src/js_module_info.rs
  crates/biome_module_graph/src/js_module_info/binding.rs
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/src/js_module_info/scope.rs
  crates/biome_module_graph/src/js_module_info/scoped_resolver.rs
  crates/biome_module_graph/src/js_module_info/visitor.rs
  crates/biome_module_graph/src/module_graph.rs
  crates/biome_module_graph/tests/snap/mod.rs
  crates/biome_module_graph/tests/snapshots/test_export_const_type_declaration_with_namespace.snap
  crates/biome_module_graph/tests/snapshots/test_export_default_function_declaration.snap
  crates/biome_module_graph/tests/snapshots/test_export_referenced_function.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_export_type_referencing_imported_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_export_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_exports.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_merged_namespace_with_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_merged_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_export.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_imported_promise_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_reexported_promise_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_react_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_recursive_looking_country_info.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_recursive_looking_vfile.snap
  crates/biome_module_graph/tests/spec_tests.rs
Labels: A-Project, A-Linter, L-JavaScript

#6204 perf: function size optimisation
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_js_type_info/tests/type_info.rs
Labels: A-Project, A-Linter, L-JavaScript

#6208 feat(core): improved generic type handling
  crates/biome_js_type_info/src/flattening.rs
  crates/biome_js_type_info/src/format_type_info.rs
  crates/biome_js_type_info/src/globals.rs
  crates/biome_js_type_info/src/helpers.rs
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_js_type_info/src/resolver.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_js_type_info/tests/flattening.rs
  crates/biome_js_type_info/tests/local_inference.rs
  crates/biome_js_type_info/tests/resolver.rs
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_double_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_of_async_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_of_destructured_array_element.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_from_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_from_double_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_from_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_of_async_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_of_destructured_array_element.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_array.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_async_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_destructured_array_element.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_function_with_destructured_arguments.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_identifier.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_object_member_expression.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_typeof_expression.snap
  crates/biome_js_type_info/tests/type_info.rs
  crates/biome_module_graph/src/js_module_info/binding.rs
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/src/js_module_info/scoped_resolver.rs
  crates/biome_module_graph/src/js_module_info/visitor.rs
  crates/biome_module_graph/tests/snapshots/test_export_default_function_declaration.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_export_type_referencing_imported_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_exports.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_generic_return_value.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_generic_return_value_with_multiple_modules.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_imported_promise_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_reexported_promise_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_react_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_recursive_looking_country_info.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_recursive_looking_vfile.snap
  crates/biome_module_graph/tests/spec_tests.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/snapshots/biome_service__workspace__tests__debug_registered_types.snap
Labels: A-Project, L-JavaScript

#6223 fix(core): strip qualifiers in scoped resolver
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/linter_can_resolve_imported_symbols.snap
  crates/biome_js_type_info/CONTRIBUTING.md
  crates/biome_js_type_info/src/resolver.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_js_type_info_macros/src/resolvable_derive.rs
  crates/biome_module_graph/src/js_module_info/scoped_resolver.rs
  crates/biome_module_graph/tests/snapshots/test_resolve_react_types.snap
Labels: A-CLI, A-Project, L-JavaScript

#6232 fix(linter): exclude dependencies from `noPrivateImports`
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_analyze/src/lint/correctness/no_private_imports.rs
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/default_package.js
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/default_package.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/valid.js
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/valid.js.snap
  crates/biome_resolver/src/lib.rs
Labels: A-Linter, L-JavaScript

#6215 fix(organizeImports): emit correct code when merging imports
  .changeset/grumpy-eels-create.md
  crates/biome_js_analyze/src/assist/source/organize_imports.rs
  crates/biome_js_analyze/tests/specs/source/organizeImports/issue6211.js
  crates/biome_js_analyze/tests/specs/source/organizeImports/issue6211.js.snap
  crates/biome_js_analyze/tests/specs/source/organizeImports/mergeable-with_header.js
  crates/biome_js_analyze/tests/specs/source/organizeImports/mergeable-with_header.js.snap
  crates/biome_js_analyze/tests/specs/source/organizeImports/mergeable-with_leading_newline.js
  crates/biome_js_analyze/tests/specs/source/organizeImports/mergeable-with_leading_newline.js.snap
  crates/biome_js_analyze/tests/specs/source/organizeImports/mergeable_export.ts.snap
  crates/biome_js_analyze/tests/specs/source/organizeImports/mergeable_imports.ts.snap
  crates/biome_js_analyze/tests/specs/source/organizeImports/mergeable_unsorted_imports.ts.snap
Labels: A-Linter, L-JavaScript

#6249 fix(core): ignore matches in monorepo
  crates/biome_cli/tests/cases/monorepo.rs
  crates/biome_cli/tests/snapshots/main_cases_monorepo/should_ignore_files_in_nested_projects.snap
  crates/biome_service/src/projects.rs
Labels: A-CLI, A-Project

#6263 refactor: infer all expressions
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/nursery/no_floating_promises.rs
  crates/biome_js_analyze/src/services/typed.rs
  crates/biome_js_analyze/tests/quick_test.rs
  crates/biome_js_type_info/src/flattening.rs
  crates/biome_js_type_info/src/globals.rs
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_js_type_info/src/resolver.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_js_type_info/src/type_store.rs
  crates/biome_js_type_info/tests/flattening.rs
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_of_destructured_interface_field.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_of_typeof_expression.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_array.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_binary_expression_eq.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_binary_expression_ne.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_function_with_destructured_arguments.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_literal.snap
  crates/biome_js_type_info/tests/utils.rs
  crates/biome_module_graph/src/js_module_info.rs
  crates/biome_module_graph/src/js_module_info/binding.rs
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/src/js_module_info/scoped_resolver.rs
  crates/biome_module_graph/src/js_module_info/visitor.rs
  crates/biome_module_graph/tests/snapshots/test_export_const_type_declaration_with_namespace.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_export_type_referencing_imported_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_export_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_exports.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_generic_return_value.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_generic_return_value_with_multiple_modules.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_merged_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_nested_function_call_with_namespace_in_return_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_export.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_imported_promise_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_reexported_promise_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_react_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_recursive_looking_country_info.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_recursive_looking_vfile.snap
  crates/biome_module_graph/tests/spec_tests.rs
Labels: A-Project, A-Linter, L-JavaScript

#6251 fix(core): use rule categories when applying fixes
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/snapshots/main_commands_check/doesnt_check_file_when_assist_is_disabled.snap
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/server.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-CLI, A-Project, A-LSP

#6212 feat(biome_js_analyze): adds a new propertyAssignment option to the noParameterAssign rule.
  .changeset/curvy-ducks-judge.md
  crates/biome_js_analyze/src/lint/style/no_parameter_assign.rs
  crates/biome_js_analyze/tests/specs/style/noParameterAssign/invalid.jsonc.snap
  crates/biome_js_analyze/tests/specs/style/noParameterAssign/invalidFixUnsafe.js.snap
  crates/biome_js_analyze/tests/specs/style/noParameterAssign/parameterMutationDenyInvalid.js
  crates/biome_js_analyze/tests/specs/style/noParameterAssign/parameterMutationDenyInvalid.js.snap
  crates/biome_js_analyze/tests/specs/style/noParameterAssign/parameterMutationDenyInvalid.options.json
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript

#6267 fix(biome_js_analyze): useConsistentCurlyBraces prserve curly braces …
  .changeset/use_consistent_curly_braces_add_forbidden_chars_check.md
  crates/biome_js_analyze/src/lint/style/use_consistent_curly_braces.rs
  crates/biome_js_analyze/tests/specs/style/useConsistentCurlyBraces/valid.jsx
  crates/biome_js_analyze/tests/specs/style/useConsistentCurlyBraces/valid.jsx.snap
Labels: A-Linter, L-JavaScript

#6275 feat(linter): introduce `noMisusedPromises`
  .changeset/muddy-mules-meander.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/ast_utils.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_floating_promises.rs
  crates/biome_js_analyze/src/lint/nursery/no_misused_promises.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noMisusedPromises/checksConditionalsInvalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noMisusedPromises/checksConditionalsInvalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noMisusedPromises/checksConditionalsValid.ts
  crates/biome_js_analyze/tests/specs/nursery/noMisusedPromises/checksConditionalsValid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noMisusedPromises/checksSpreadsInvalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noMisusedPromises/checksSpreadsInvalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noMisusedPromises/checksSpreadsValid.ts
  crates/biome_js_analyze/tests/specs/nursery/noMisusedPromises/checksSpreadsValid.ts.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#6280 fix(core): remove `rev` when iterating over evaluated paths
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_migrate_nested_config.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/should_migrate_nested_files.snap
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-CLI, A-Project

#6274 fix(biome_js_analyze): added test for useJsxKeyInIterable for single …
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/valid.jsx
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/valid.jsx.snap
Labels: A-Linter, L-JavaScript

#6282 fix(lint): rule `noUnusedImports` use case
  .changeset/pink-sides-sit.md
  crates/biome_js_analyze/src/lint/correctness/no_unused_imports.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/invalid_issue_6229.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/invalid_issue_6229.ts.snap
Labels: A-Linter, L-JavaScript

#6283 perf(package): reduce string usage
  crates/biome_js_analyze/src/suppressions.tests.rs
  crates/biome_js_analyze/tests/quick_test.rs
  crates/biome_module_graph/tests/spec_tests.rs
  crates/biome_package/src/node_js_package/package_json.rs
  crates/biome_resolver/src/lib.rs
Labels: A-Project, A-Linter, L-JavaScript

#6284 refactor: invert expression inference order
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/nursery/no_floating_promises.rs
  crates/biome_js_analyze/src/lint/nursery/no_misused_promises.rs
  crates/biome_js_analyze/src/lint/nursery/use_exhaustive_switch_cases.rs
  crates/biome_js_analyze/src/services/typed.rs
  crates/biome_js_analyze/tests/quick_test.rs
  crates/biome_js_type_info/CONTRIBUTING.md
  crates/biome_js_type_info/src/flattening.rs
  crates/biome_js_type_info/src/format_type_info.rs
  crates/biome_js_type_info/src/globals.rs
  crates/biome_js_type_info/src/helpers.rs
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_js_type_info/src/resolver.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_double_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_static_promise_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_of_destructured_interface_field.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_of_typeof_expression.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_from_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_from_double_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_from_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/type_info.rs
  crates/biome_js_type_info/tests/utils.rs
  crates/biome_module_graph/src/js_module_info.rs
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/src/js_module_info/module_resolver.rs
  crates/biome_module_graph/src/js_module_info/scope.rs
  crates/biome_module_graph/src/lib.rs
  crates/biome_module_graph/src/module_graph.rs
  crates/biome_module_graph/tests/snap/mod.rs
  crates/biome_module_graph/tests/snapshots/test_resolve_export_type_referencing_imported_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_export_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_exports.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_generic_return_value.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_generic_return_value_with_multiple_modules.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_merged_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_nested_function_call_with_namespace_in_return_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_export.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_imported_promise_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_reexported_promise_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_react_types.snap
  crates/biome_module_graph/tests/spec_tests.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_test_utils/src/lib.rs
Labels: A-Project, A-Linter, L-JavaScript

#6293 fix(biome_parser): trivia placement for zero-width tokens
  crates/biome_parser/src/token_source.rs
  crates/biome_parser/src/tree_sink.rs
Labels: A-Parser

#6318 perf: use `TypeStore` in global resolver
  crates/biome_js_type_info/src/globals.rs
  crates/biome_js_type_info/src/type_store.rs
Labels: L-JavaScript

#6327 fix(linter): don't flag imports from dependencies
  crates/biome_js_analyze/src/lint/correctness/no_private_imports.rs
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/.gitignore
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/node_modules/external-package/index.js
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/node_modules/external-package/index.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/package.json
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/valid.js
  crates/biome_js_analyze/tests/specs/correctness/noPrivateImports/valid.js.snap
Labels: A-Linter, L-JavaScript

#6329 fix(migrate): double migration
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_migrate_nested_config.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/should_migrate_nested_files.snap
Labels: A-CLI

#6339 chore: add `swr` fixtures
  Cargo.lock
  Cargo.toml
  crates/biome_module_graph/Cargo.toml
  crates/biome_module_graph/tests/fixtures/frontend/src/index.ts
  crates/biome_module_graph/tests/fixtures/node_modules/swr/dist/_internal/constants.d.mts
  crates/biome_module_graph/tests/fixtures/node_modules/swr/dist/_internal/constants.d.ts
  crates/biome_module_graph/tests/fixtures/node_modules/swr/dist/_internal/constants.js
  crates/biome_module_graph/tests/fixtures/node_modules/swr/dist/_internal/constants.mjs
  crates/biome_module_graph/tests/fixtures/node_modules/swr/dist/_internal/events.d.mts
  crates/biome_module_graph/tests/fixtures/node_modules/swr/dist/_internal/events.d.ts
  crates/biome_module_graph/tests/fixtures/node_modules/swr/dist/_internal/events.js
  crates/biome_module_graph/tests/fixtures/node_modules/swr/dist/_internal/events.mjs
  crates/biome_module_graph/tests/fixtures/node_modules/swr/dist/_internal/index.d.ts
  crates/biome_module_graph/tests/fixtures/node_modules/swr/dist/_internal/index.js
  crates/biome_module_graph/tests/fixtures/node_modules/swr/dist/_internal/index.mjs
  crates/biome_module_graph/tests/fixtures/node_modules/swr/dist/_internal/types.d.mts
  crates/biome_module_graph/tests/fixtures/node_modules/swr/dist/_internal/types.d.ts
  crates/biome_module_graph/tests/fixtures/node_modules/swr/dist/_internal/types.js
  crates/biome_module_graph/tests/fixtures/node_modules/swr/dist/_internal/types.mjs
  crates/biome_module_graph/tests/fixtures/node_modules/swr/dist/index/index.d.mts
  crates/biome_module_graph/tests/fixtures/node_modules/swr/dist/index/index.d.ts
  crates/biome_module_graph/tests/fixtures/node_modules/swr/dist/index/index.js
  crates/biome_module_graph/tests/fixtures/node_modules/swr/dist/index/index.mjs
  crates/biome_module_graph/tests/fixtures/node_modules/swr/package.json
  crates/biome_module_graph/tests/snapshots/test_resolve_generic_return_value_with_multiple_modules.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_nested_function_call_with_namespace_in_return_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_imported_promise_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_reexported_promise_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_react_types.snap
  crates/biome_module_graph/tests/spec_tests.rs
  xtask/coverage/Cargo.toml
Labels: A-Project, A-Tooling

#6346 fix(lint/noUselessEscapeInRegex): don't report `\k` as useless
  .changeset/beige-otters-divide.md
  crates/biome_js_analyze/src/lint/complexity/no_useless_escape_in_regex.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessEscapeInRegex/invalid.js.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessEscapeInRegex/valid.js
  crates/biome_js_analyze/tests/specs/complexity/noUselessEscapeInRegex/valid.js.snap
Labels: A-Linter, L-JavaScript

#6364 docs: correct urls
  crates/biome_js_analyze/src/lint/nursery/no_shadow.rs
  crates/biome_js_analyze/src/lint/suspicious/no_shadow_restricted_names.rs
  packages/@biomejs/biome/CHANGELOG.md
Labels: A-Linter, L-JavaScript

#6363 ci: unify release and use changeset publish for tag creation
  .github/workflows/release.yml
  crates/biome_formatter_test/src/prettier/package.json
  package.json
  packages/@biomejs/cli-darwin-arm64/package.json
  packages/@biomejs/cli-darwin-x64/package.json
  packages/@biomejs/cli-linux-arm64-musl/package.json
  packages/@biomejs/cli-linux-arm64/package.json
  packages/@biomejs/cli-linux-x64-musl/package.json
  packages/@biomejs/cli-linux-x64/package.json
  packages/@biomejs/cli-win32-arm64/package.json
  packages/@biomejs/cli-win32-x64/package.json
  packages/@biomejs/js-api/package.json
  packages/@biomejs/wasm-bundler/package.json
  packages/@biomejs/wasm-nodejs/package.json
  packages/@biomejs/wasm-web/package.json
Labels: A-Formatter

#6362 fix(lint): add missing known pseudo classes and elements
  .changeset/common-melons-see.md
  crates/biome_css_analyze/src/keywords.rs
  crates/biome_css_analyze/tests/specs/correctness/noUnknownPseudoClass/valid.css
  crates/biome_css_analyze/tests/specs/correctness/noUnknownPseudoClass/valid.css.snap
  crates/biome_css_analyze/tests/specs/correctness/noUnknownPseudoElement/valid.css
  crates/biome_css_analyze/tests/specs/correctness/noUnknownPseudoElement/valid.css.snap
Labels: A-Linter, L-CSS

#6342 fix(lint): valid norwegian language tags
  .changeset/long-hairs-guess.md
  crates/biome_aria_metadata/build.rs
  crates/biome_aria_metadata/src/lib.rs
  crates/biome_js_analyze/tests/specs/a11y/useValidLang/valid.jsx
  crates/biome_js_analyze/tests/specs/a11y/useValidLang/valid.jsx.snap
Labels: A-Linter, L-JavaScript

#6323 fix(lint): deduplicate missing dependencies in useExhaustiveDependencies
  .changeset/shiny-groups-leave.md
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/checkHooksImportedFromReact.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/customHook.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/extraDependenciesInvalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/ignoredDependencies.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/issue1931.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/issue6278.js
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/issue6278.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/missingDependenciesInvalid.jsx.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/preactHooks.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useExhaustiveDependencies/stableResultInvalid.js.snap
Labels: A-Linter, L-JavaScript

#6378 fix(core): computed scan kind
  .changeset/few-points-drum.md
  .changeset/thirty-pandas-taste.md
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/scan_kind.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/tests/cases/monorepo.rs
  crates/biome_cli/tests/snapshots/main_cases_monorepo/should_not_lint_when_root_is_disabled_but_nested_is_enabled.snap
  crates/biome_configuration/src/bool.rs
  crates/biome_deserialize_macros/src/lib.rs
  crates/biome_deserialize_macros/src/partial_derive.rs
  crates/biome_deserialize_macros/src/partial_derive/attrs.rs
  crates/biome_lsp/src/handlers/text_document.rs
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  insta.yml
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-CLI, A-Project, A-LSP

#6404 feat(core): flatten intersections + call signatures
  crates/biome_js_type_info/src/flattening.rs
  crates/biome_js_type_info/src/flattening/expressions.rs
  crates/biome_js_type_info/src/flattening/intersections.rs
  crates/biome_js_type_info/src/resolver.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_js_type_info/tests/utils.rs
  crates/biome_module_graph/tests/snapshots/test_resolve_react_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_type_of_destructured_field_of_intersection_of_interfaces.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_type_of_destructured_field_of_union_between_interfaces.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_type_of_intersection_of_interfaces.snap
  crates/biome_module_graph/tests/spec_tests.rs
Labels: A-Project, L-JavaScript

#6422 fix(lsp): remove rename capability
  .changeset/wild-chefs-sit.md
  crates/biome_lsp/src/extension_settings.rs
  crates/biome_lsp/src/handlers.rs
  crates/biome_lsp/src/handlers/rename.rs
  crates/biome_lsp/src/server.rs
Labels: A-LSP

#6385 fix(lint): false positive on noSelfCompare for additional arguments
  .changeset/quick-nails-sniff.md
  crates/biome_js_analyze/src/utils.rs
  crates/biome_js_analyze/tests/specs/suspicious/noSelfCompare/issue6377.js
  crates/biome_js_analyze/tests/specs/suspicious/noSelfCompare/issue6377.js.snap
Labels: A-Linter, L-JavaScript

#6421 perf: preallocate type store
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_type_info/src/type_store.rs
  crates/biome_module_graph/src/js_module_info/module_resolver.rs
  crates/biome_module_graph/tests/spec_tests.rs
Labels: A-Project, A-Linter, L-JavaScript

#6425 fix(lint): noUselessFragments should ignore fragments with untrimmed whitespaces
  .changeset/chubby-carrots-divide.md
  crates/biome_js_analyze/src/lint/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_6391.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_6391.jsx.snap
Labels: A-Linter, L-JavaScript

#6480 fix(lint/useNamingConvention): check property shorthand
  .changeset/little-things-brush.md
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidLocalVariable.js.snap
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidPorpertyShorthyand.ts
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/invalidPorpertyShorthyand.ts.snap
  crates/biome_json_analyze/tests/specs/source/useSortedKeys/invalid.json.snap.new
  crates/biome_json_analyze/tests/specs/suspicious/noDuplicateObjectKeys/invalid.json.snap.new
  crates/biome_json_analyze/tests/specs/suspicious/noDuplicateObjectKeys/valid.json.snap.new
  crates/biome_json_analyze/tests/suppression/source/useSortedKeys/unsorted.jsonc.snap.new
Labels: A-Linter, L-JavaScript, L-JSON

#6166 feat(biome_js_analyze): implement noExcessiveLinesPerFunction
  .changeset/mighty-regions-begin.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_excessive_lines_per_function.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noExcessiveLinesPerFunction/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noExcessiveLinesPerFunction/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noExcessiveLinesPerFunction/invalid.options.json
  crates/biome_js_analyze/tests/specs/nursery/noExcessiveLinesPerFunction/invalidSkipBlankLines.js
  crates/biome_js_analyze/tests/specs/nursery/noExcessiveLinesPerFunction/invalidSkipBlankLines.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noExcessiveLinesPerFunction/invalidSkipBlankLines.options.json
  crates/biome_js_analyze/tests/specs/nursery/noExcessiveLinesPerFunction/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noExcessiveLinesPerFunction/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noExcessiveLinesPerFunction/valid.options.json
  crates/biome_js_analyze/tests/specs/nursery/noExcessiveLinesPerFunction/validSkipBlankLines.js
  crates/biome_js_analyze/tests/specs/nursery/noExcessiveLinesPerFunction/validSkipBlankLines.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noExcessiveLinesPerFunction/validSkipBlankLines.options.json
  crates/biome_js_analyze/tests/specs/nursery/noExcessiveLinesPerFunction/validSkipIiefs.options.json
  crates/biome_js_analyze/tests/specs/nursery/noExcessiveLinesPerFunction/validSkipIifes.js
  crates/biome_js_analyze/tests/specs/nursery/noExcessiveLinesPerFunction/validSkipIifes.js.snap
  crates/biome_js_syntax/src/function_ext.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, A-Parser, L-JavaScript, A-Diagnostic

#6520 fix(core): handle ternary in type alias
  .changeset/conditional-clauses-check.md
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/01_invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/01_invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/04_invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/04_invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts.snap
  crates/biome_js_type_info/src/local_inference.rs
Labels: A-Linter, L-JavaScript

#6219 feat(linter): implement noUnassignedVariables rule
  .changeset/silent-buckets-stop.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_unassigned_variables.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noUnassignedVariables/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUnassignedVariables/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUnassignedVariables/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noUnassignedVariables/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noUnassignedVariables/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUnassignedVariables/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUnassignedVariables/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noUnassignedVariables/valid.ts.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#6525 fix(core): infer method return types
  .changeset/funky-functions-follow.md
  crates/biome_js_analyze/src/lint/nursery/use_exhaustive_switch_cases.rs
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/09_invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/09_invalid.ts.snap
  crates/biome_js_type_info/src/flattening/expressions.rs
  crates/biome_js_type_info/src/flattening/intersections.rs
  crates/biome_js_type_info/src/format_type_info.rs
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_double_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_of_destructured_interface_field.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_from_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_from_double_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_function_with_destructured_arguments.snap
  crates/biome_module_graph/tests/snapshots/test_export_referenced_function.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_export_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_exports.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_export.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_recursive_looking_country_info.snap
  crates/biome_module_graph/tests/spec_tests.rs
Labels: A-Project, A-Linter, L-JavaScript, A-Type-Inference

#6355 feat(lint): no-alert rule
  .changeset/weak-kings-behave.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/suspicious.rs
  crates/biome_js_analyze/src/lint/suspicious/no_alert.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/suspicious/noAlert/invalid.js
  crates/biome_js_analyze/tests/specs/suspicious/noAlert/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noAlert/valid.js
  crates/biome_js_analyze/tests/specs/suspicious/noAlert/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#6395 feat(lint): implement `noImplicitCoercion` rule
  .changeset/six-hornets-do.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_implicit_coercion.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noImplicitCoercion/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noImplicitCoercion/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noImplicitCoercion/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noImplicitCoercion/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#6551 fix(js/useSortedKeys): don't compare named properties with nameless ones
  .changeset/khaki-pandas-sell.md
  crates/biome_js_analyze/src/assist/source/use_sorted_keys.rs
  crates/biome_js_analyze/tests/specs/source/useSortedKeys/issue6536.js
  crates/biome_js_analyze/tests/specs/source/useSortedKeys/issue6536.js.snap
  crates/biome_js_analyze/tests/specs/source/useSortedKeys/unsorted.js.snap
  crates/biome_js_analyze/tests/suppression/source/useSortedKeys/unsorted.js.snap
  crates/biome_json_analyze/src/assist/source/use_sorted_keys.rs
Labels: A-Linter, L-JavaScript, L-JSON

#6552 fix(js/useSortedKeys): add sources
  crates/biome_analyze/src/rule.rs
  crates/biome_js_analyze/src/assist/source/use_sorted_keys.rs
Labels: A-Linter, L-JavaScript

#6548 fix(lsp): fix all file features
  .changeset/wild-peaches-rescue.md
  crates/biome_lsp/src/handlers/analysis.rs
Labels: A-LSP

#6458 fix(linter): diagnostic range for `useAtlText`
  .changeset/nine-turkeys-stare.md
  .changeset/polite-monkeys-work.md
  crates/biome_js_analyze/src/lint/a11y/use_alt_text.rs
  crates/biome_js_analyze/src/lint/a11y/use_semantic_elements.rs
  crates/biome_js_analyze/tests/specs/a11y/useAltText/invalid_issue_6384.tsx
  crates/biome_js_analyze/tests/specs/a11y/useAltText/invalid_issue_6384.tsx.snap
  crates/biome_js_analyze/tests/specs/a11y/useAltText/valid_issue_6384.tsx
  crates/biome_js_analyze/tests/specs/a11y/useAltText/valid_issue_6384.tsx.snap
  crates/biome_js_analyze/tests/specs/a11y/useSemanticElements/valid_issue_6384.tsx
  crates/biome_js_analyze/tests/specs/a11y/useSemanticElements/valid_issue_6384.tsx.snap
Labels: A-Linter, L-JavaScript

#6545 fix(lsp): code action error
  .changeset/thick-moose-lead.md
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/src/handlers/formatting.rs
  crates/biome_lsp/src/handlers/text_document.rs
  crates/biome_lsp/src/server.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/client.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace_types.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-Project, A-LSP

#6560 fix(cli): replace `files.ignore` with `files.includes` in the error message
  .changeset/plenty-bananas-throw.md
  crates/biome_cli/tests/snapshots/main_cases_overrides_max_file_size/overrides_files_max_size_too_large_limit_check.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_max_file_size/overrides_files_max_size_too_large_limit_format.snap
  crates/biome_cli/tests/snapshots/main_commands_check/file_too_large.snap
  crates/biome_cli/tests/snapshots/main_commands_check/file_too_large_cli_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_check/file_too_large_config_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/file_too_large.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/file_too_large_cli_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/file_too_large_config_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_format/file_too_large.snap
  crates/biome_cli/tests/snapshots/main_commands_format/file_too_large_cli_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_format/file_too_large_config_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/file_too_large.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/file_too_large_cli_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/file_too_large_config_limit.snap
  crates/biome_service/src/diagnostics.rs
Labels: A-CLI, A-Project

#6518 fix(lint/complexity/noUselessFragments): fix Fragments containing HTML entities marked as unnecessary
  .changeset/proud-windows-tease.md
  crates/biome_js_analyze/src/lint/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_6508.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_6508.jsx.snap
Labels: A-Linter, L-JavaScript

#6544 fix(biome_js_analyze): produce diagnogstics for top-level useless fragment that is in a return statement
  .changeset/slick-toes-yawn.md
  crates/biome_js_analyze/src/lint/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/withJsxElementInvalid.jsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/withJsxElementInvalid.jsx.snap
Labels: A-Linter, L-JavaScript

#6557 fix(lsp): require config and code actions
  .changeset/busy-zebras-smash.md
  .changeset/hot-dragons-count.md
  crates/biome_lsp/src/capabilities.rs
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/server.tests.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/src/projects.rs
Labels: A-Project, A-LSP

#6553 fix(css_parser): use a conditional block for the @starting-style at-rule
  .changeset/moody-suns-exist.md
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/mod.rs
  crates/biome_css_formatter/src/css/any/starting_style_block.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_parser/src/syntax/at_rule/starting_style.rs
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_starting_style.css
  crates/biome_css_parser/tests/css_test_suite/ok/at_rule/at_rule_starting_style.css.snap
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/generated/nodes_mut.rs
  xtask/codegen/css.ungram
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS

#6565 fix(biome_js_analyze): add JsExport to be walked by JsDocTypeCollectorVisitior
  .changeset/large-showers-leave.md
  crates/biome_js_analyze/src/lint/correctness/no_unused_imports.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/issue_4677_jsdoc.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/issue_4677_jsdoc.js.snap
Labels: A-Linter, L-JavaScript

#6579 chore: remove disclaimer on `noFloatingPromises`
  crates/biome_js_analyze/src/lint/nursery/no_floating_promises.rs
Labels: A-Linter, L-JavaScript

#6600 fix(biome_js_analyze): fix JsDocTypeCollectorVisitior to also walk on JsStaticMemberAssignment
  .changeset/modern-turtles-exist.md
  crates/biome_js_analyze/src/lint/correctness/no_unused_imports.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/issue_4677_jsdoc.js
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/issue_4677_jsdoc.js.snap
Labels: A-Linter, L-JavaScript

#6598 chore(lint): fix document of the `noMagicNumbers` rule that produces invalid MDX
  crates/biome_js_analyze/src/lint/nursery/no_magic_numbers.rs
Labels: A-Linter, L-JavaScript

#6222 refactor: extract out a `biome_line_index` crate
  Cargo.lock
  Cargo.toml
  crates/biome_line_index/Cargo.toml
  crates/biome_line_index/src/lib.rs
  crates/biome_line_index/src/line_index.rs
  crates/biome_lsp/Cargo.toml
  crates/biome_lsp/src/capabilities.rs
  crates/biome_lsp/src/documents.rs
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/src/session.rs
  crates/biome_lsp/src/utils.rs
  crates/biome_lsp_converters/Cargo.toml
  crates/biome_lsp_converters/src/from_proto.rs
  crates/biome_lsp_converters/src/lib.rs
  crates/biome_lsp_converters/src/to_proto.rs
Labels: A-LSP

#6534 feat(core): port SyntaxNodePtr and AstPtr from rowan
  crates/biome_rowan/src/ast/mod.rs
Labels: A-Core

#6614 feat(core): targeted file scanner
  .changeset/targeted-tigers-tango.md
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/scan_kind.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/cases/monorepo.rs
  crates/biome_cli/tests/snapshots/main_cases_monorepo/should_find_root_when_run_from_nested_dir.snap
  crates/biome_cli/tests/snapshots/main_cases_monorepo/should_find_settings_when_run_from_nested_dir.snap
  crates/biome_cli/tests/snapshots/main_cases_monorepo/should_find_settings_when_targeting_file_in_nested_dir.snap
  crates/biome_cli/tests/snapshots/main_cases_monorepo/should_find_settings_when_targeting_nested_dir.snap
  crates/biome_cli/tests/snapshots/main_cases_monorepo/should_find_settings_when_targeting_parent_of_nested_dir.snap
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/diagnostics.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-CLI, A-Project

#6625 fix(core): fix extending configs with root field
  .changeset/rebellious-roots-respect.md
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/should_apply_root_settings_with_stdin_file_path.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_apply_root_settings_with_stdin_file_path_and_extended_broken_config.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_apply_root_settings_with_stdin_file_path_and_extended_config.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_apply_root_settings_with_stdin_file_path_and_extended_non_root_config.snap
  crates/biome_service/src/configuration.rs
Labels: A-CLI, A-Project

#6643 fix(lsp): add missing checks for capability dynamic registration support
  .changeset/fix_capabilities_dynamic_registration.md
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/session.rs
Labels: A-LSP
