Repository biomejs/biome, pull requests merged in 2025-04, with the labels that each got.

#5535 docs: minor typo
  crates/biome_analyze/CONTRIBUTING.md
Labels: A-Linter

#5532 feat(linter): make useImportExtensions check imports with sub extensions
  .changeset/olive-trains-buy.md
  crates/biome_js_analyze/src/lint/correctness/use_import_extensions.rs
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/invalid.ts
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/invalidWithForcedJsExtensions.ts
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/invalidWithForcedJsExtensions.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/sub/component.svg.svelte.ts
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/sub/component.svg.svelte.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/sub/styles.css.ts
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/sub/styles.css.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/valid.js
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/valid.js.snap
Labels: A-Linter, L-JavaScript

#5530 feat(linter): implement `noUnresolvedImports`
  .changeset/added_no_unresolved_imports.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_dependency_graph/src/dependency_graph.rs
  crates/biome_dependency_graph/src/lib.rs
  crates/biome_dependency_graph/src/module_visitor.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/correctness/no_private_imports.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_unresolved_imports.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_js_analyze/tests/specs/nursery/noUnresolvedImports/bar.ts
  crates/biome_js_analyze/tests/specs/nursery/noUnresolvedImports/bar.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noUnresolvedImports/foo.js
  crates/biome_js_analyze/tests/specs/nursery/noUnresolvedImports/foo.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUnresolvedImports/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUnresolvedImports/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUnresolvedImports/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUnresolvedImports/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#5504 fix(assist/organizeImports): allow suppression comments
  crates/biome_js_analyze/src/assist/source/organize_imports.rs
  crates/biome_js_analyze/tests/specs/source/organizeImports/suppressed-unsorted.js
  crates/biome_js_analyze/tests/specs/source/organizeImports/suppressed-unsorted.js.snap
  crates/biome_lsp/src/server.tests.rs
Labels: A-Linter, A-LSP, L-JavaScript

#5546 chore: add ignore entries to scanner
  crates/biome_service/src/lib.rs
Labels: A-Project

#5544 fix(cli): emit error when no extension exist
  .changeset/lucky-boats-rush.md
  crates/biome_cli/src/diagnostics.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/std_in.rs
  crates/biome_cli/src/lib.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_format/format_stdin_errors_with_no_file_extension.snap
Labels: A-CLI

#5548 fix(lint/noNoninteractiveElementToInteractiveRole): fix mistakenly flagging `<li role="treeitem">`
  .changeset/gorgeous-cooks-pump.md
  crates/biome_js_analyze/src/lint/a11y/no_noninteractive_element_to_interactive_role.rs
  crates/biome_js_analyze/tests/specs/a11y/noNoninteractiveElementToInteractiveRole/valid.jsx
  crates/biome_js_analyze/tests/specs/a11y/noNoninteractiveElementToInteractiveRole/valid.jsx.snap
Labels: A-Linter, L-JavaScript

#5558 chore: more ignore entries for the scanner
  crates/biome_service/src/lib.rs
Labels: A-Project

#5549 fix(lint/useRegexLiterals): correctly handle escaped anti-slashes
  .changeset/use-regex-literals-escaping-bug.md
  crates/biome_js_analyze/src/lint/complexity/use_regex_literals.rs
  crates/biome_js_analyze/tests/specs/complexity/useRegexLiterals/invalid.js
  crates/biome_js_analyze/tests/specs/complexity/useRegexLiterals/invalid.js.snap
Labels: A-Linter, L-JavaScript

#5334 fix(css): align CSS value list format with Prettier
  .changeset/tired-doors-win.md
  crates/biome_css_formatter/src/utils/component_value_list.rs
  crates/biome_css_formatter/tests/specs/css/atrule/font_face.css.snap
  crates/biome_css_formatter/tests/specs/css/properties/all.css.snap
  crates/biome_css_formatter/tests/specs/css/properties/border.css.snap
  crates/biome_css_formatter/tests/specs/css/properties/generic.css.snap
  crates/biome_css_formatter/tests/specs/css/value_one_group_per_line.css
  crates/biome_css_formatter/tests/specs/css/value_one_group_per_line.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/font-face.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/indent/indent.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/url/url.css.snap
Labels: A-Formatter, L-CSS

#5556 feat(core): add data structures for type info
  Cargo.lock
  Cargo.toml
  crates/biome_dependency_graph/Cargo.toml
  crates/biome_dependency_graph/src/dependency_graph.rs
  crates/biome_dependency_graph/src/dependency_graph.tests.rs
  crates/biome_dependency_graph/src/module_visitor.rs
  crates/biome_dependency_graph/src/resolver_cache.rs
  crates/biome_dependency_graph/src/snapshots/biome_dependency_graph__dependency_graph__tests__resolve_exports.snap
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_type_info/Cargo.toml
  crates/biome_js_type_info/src/inference.rs
  crates/biome_js_type_info/src/lib.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_js_type_info/src/type_info.tests.rs
  crates/biome_service/Cargo.toml
  crates/biome_service/src/workspace/server.rs
  crates/biome_test_utils/src/lib.rs
Labels: A-Project, A-Linter, L-JavaScript

#5559 fix(lint/noParameterAssign): handle unparenthesized arrow functions
  .changeset/no-paraemter-assign-unparenthesized-arrow-function.md
  crates/biome_js_analyze/src/lint/style/no_parameter_assign.rs
  crates/biome_js_analyze/tests/specs/style/noParameterAssign/invalid.jsonc
  crates/biome_js_analyze/tests/specs/style/noParameterAssign/invalid.jsonc.snap
Labels: A-Linter, L-JavaScript

#5561 chore: rename `DependencyGraph` to `ModuleGraph`
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  crates/biome_dependency_graph/src/lib.rs
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/correctness/no_private_imports.rs
  crates/biome_js_analyze/src/lint/correctness/use_import_extensions.rs
  crates/biome_js_analyze/src/lint/nursery/no_import_cycles.rs
  crates/biome_js_analyze/src/lint/nursery/no_unresolved_imports.rs
  crates/biome_js_analyze/src/services/mod.rs
  crates/biome_js_analyze/src/services/module_graph.rs
  crates/biome_js_analyze/tests/quick_test.rs
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_lsp/src/server.tests.rs
  crates/biome_module_graph/Cargo.toml
  crates/biome_module_graph/fixtures/.gitignore
  crates/biome_module_graph/fixtures/frontend/node_modules/shared
  crates/biome_module_graph/fixtures/frontend/package.json
  crates/biome_module_graph/fixtures/frontend/src/bar.ts
  crates/biome_module_graph/fixtures/frontend/src/index.ts
  crates/biome_module_graph/fixtures/frontend/tsconfig.json
  crates/biome_module_graph/fixtures/shared/dist/index.js
  crates/biome_module_graph/fixtures/shared/package.json
  crates/biome_module_graph/src/lib.rs
  crates/biome_module_graph/src/module_graph.rs
  crates/biome_module_graph/src/module_graph.tests.rs
  crates/biome_module_graph/src/module_visitor.rs
  crates/biome_module_graph/src/resolver_cache.rs
  crates/biome_module_graph/src/snapshots/biome_module_graph__module_graph__tests__resolve_exports.snap
  crates/biome_service/CONTRIBUTING.md
  crates/biome_service/Cargo.toml
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_test_utils/Cargo.toml
  crates/biome_test_utils/src/lib.rs
Labels: A-Project, A-Linter, A-LSP, L-JavaScript

#5566 fix(syntax/noTypeOnlyImportAttributes): ignore all commonjs files
  .changeset/no-type-only-import-attributes-ignore-commonjs-package.md
  crates/biome_js_analyze/src/syntax/correctness/no_type_only_import_attributes.rs
  crates/biome_js_analyze/tests/specs/correctness/noTypeOnlyImportAttributes/valid_cjs.ts
  crates/biome_js_analyze/tests/specs/correctness/noTypeOnlyImportAttributes/valid_cjs.ts.snap
Labels: A-Linter, L-JavaScript

#5555 feat(css): add rule `noImportantStyles`
  .changeset/gold-donkeys-eat.md
  Cargo.lock
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_css_analyze/Cargo.toml
  crates/biome_css_analyze/src/lint/nursery.rs
  crates/biome_css_analyze/src/lint/nursery/no_important_styles.rs
  crates/biome_css_analyze/src/options.rs
  crates/biome_css_analyze/tests/specs/nursery/noImportantStyles/invalid.css
  crates/biome_css_analyze/tests/specs/nursery/noImportantStyles/invalid.css.snap
  crates/biome_diagnostics_categories/src/categories.rs
  justfile
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-CSS, A-Diagnostic

#5550 fix(lint/noUselessFragments): fix case where code fix would remove more than just the fragment
  .changeset/hot-baboons-destroy.md
  crates/biome_js_analyze/src/lint/complexity/no_useless_fragments.rs
  crates/biome_js_analyze/src/utils/batch.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_4751.jsx.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_5484.tsx
  crates/biome_js_analyze/tests/specs/complexity/noUselessFragments/issue_5484.tsx.snap
Labels: A-Linter, L-JavaScript

#5507 feat(lint): improve useKeyWithClickEvents
  .changeset/spotty-weeks-destroy.md
  crates/biome_js_analyze/src/lint/a11y/use_key_with_click_events.rs
  crates/biome_js_analyze/tests/specs/a11y/useKeyWithClickEvents/invalid.jsx
  crates/biome_js_analyze/tests/specs/a11y/useKeyWithClickEvents/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/a11y/useKeyWithClickEvents/valid.jsx
  crates/biome_js_analyze/tests/specs/a11y/useKeyWithClickEvents/valid.jsx.snap
  crates/biome_js_analyze/tests/suppression/a11y/useKeyWithClickEvents/invalid.jsx
  crates/biome_js_analyze/tests/suppression/a11y/useKeyWithClickEvents/invalid.jsx.snap
Labels: A-Linter, L-JavaScript

#5599 feat(core): add light version of the semantic model to scanner
  Cargo.lock
  crates/biome_js_analyze/src/lint/correctness/no_private_imports.rs
  crates/biome_js_analyze/src/lint/correctness/use_import_extensions.rs
  crates/biome_js_analyze/src/lint/nursery/no_import_cycles.rs
  crates/biome_js_analyze/src/lint/nursery/no_unresolved_imports.rs
  crates/biome_js_analyze/src/services/module_graph.rs
  crates/biome_js_type_info/src/inference.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_module_graph/Cargo.toml
  crates/biome_module_graph/src/js_module_visitor.rs
  crates/biome_module_graph/src/js_semantic_model.rs
  crates/biome_module_graph/src/jsdoc_comment.rs
  crates/biome_module_graph/src/lib.rs
  crates/biome_module_graph/src/module_graph.rs
  crates/biome_module_graph/src/module_graph.tests.rs
  crates/biome_module_graph/src/module_info.rs
  crates/biome_module_graph/src/snapshots/biome_module_graph__module_graph__tests__resolve_exports.snap
Labels: A-Project, A-Linter, L-JavaScript

#5579 feat(assist/organizeImports): merge imports and exports
  crates/biome_js_analyze/src/assist/source/organize_imports.rs
  crates/biome_js_analyze/src/assist/source/organize_imports/import_key.rs
  crates/biome_js_analyze/src/assist/source/organize_imports/specifiers_attributes.rs
  crates/biome_js_analyze/tests/specs/source/organizeImports/mergeable_export.ts
  crates/biome_js_analyze/tests/specs/source/organizeImports/mergeable_export.ts.snap
  crates/biome_js_analyze/tests/specs/source/organizeImports/mergeable_imports.ts
  crates/biome_js_analyze/tests/specs/source/organizeImports/mergeable_imports.ts.snap
  crates/biome_js_analyze/tests/specs/source/organizeImports/mergeable_unsorted_imports.ts
  crates/biome_js_analyze/tests/specs/source/organizeImports/mergeable_unsorted_imports.ts.snap
  crates/biome_js_analyze/tests/specs/source/organizeImports/unsorted-same-source.ts.snap
Labels: A-Linter, L-JavaScript

#5582 feat(assist/organizeImports): add an option to separate types
  crates/biome_js_analyze/src/assist/source/organize_imports.rs
  crates/biome_js_analyze/src/assist/source/organize_imports/import_groups.rs
  crates/biome_js_analyze/src/assist/source/organize_imports/import_key.rs
  crates/biome_js_analyze/tests/specs/source/organizeImports/missing_blank_line_after_types.options.json
  crates/biome_js_analyze/tests/specs/source/organizeImports/missing_blank_line_after_types.ts
  crates/biome_js_analyze/tests/specs/source/organizeImports/missing_blank_line_after_types.ts.snap
  crates/biome_js_analyze/tests/specs/source/organizeImports/unseparated_types.options.json
  crates/biome_js_analyze/tests/specs/source/organizeImports/unseparated_types.ts
  crates/biome_js_analyze/tests/specs/source/organizeImports/unseparated_types.ts.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript

#5606 fix(assist/useSortedKeys): move comments with the associated key
  crates/biome_js_analyze/src/assist/source/use_sorted_keys.rs
  crates/biome_js_analyze/tests/specs/source/useSortedKeys/unsorted.js
  crates/biome_js_analyze/tests/specs/source/useSortedKeys/unsorted.js.snap
Labels: A-Linter, L-JavaScript

#5607 test(build): fix test build error
  crates/biome_configuration/Cargo.toml
Labels: A-Project

#5578 feat(linter): implement `noRestrictedElements`
  .changeset/wise-cobras-repeat.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_restricted_elements.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedElements/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedElements/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedElements/invalid.options.json
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedElements/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedElements/valid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noRestrictedElements/valid.options.json
  crates/biome_rowan/src/syntax_node_text.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Core, A-Project, A-Linter, L-JavaScript, L-JSON, A-Diagnostic

#5616 refactor: use `biome_js_semantic::SemanticEventExtractor` in `biome_module_graph`
  Cargo.lock
  Cargo.toml
  crates/biome_analyze/src/analyzer_plugin.rs
  crates/biome_analyze/src/options.rs
  crates/biome_grit_patterns/src/grit_context.rs
  crates/biome_grit_patterns/tests/quick_test.rs
  crates/biome_grit_patterns/tests/spec_tests.rs
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/correctness/no_private_imports.rs
  crates/biome_js_analyze/src/lint/correctness/use_import_extensions.rs
  crates/biome_js_analyze/src/lint/nursery/no_import_cycles.rs
  crates/biome_js_analyze/src/lint/nursery/no_unresolved_imports.rs
  crates/biome_js_analyze/src/services/module_graph.rs
  crates/biome_js_semantic/Cargo.toml
  crates/biome_js_semantic/src/semantic_model/binding.rs
  crates/biome_js_semantic/src/semantic_model/import.rs
  crates/biome_js_semantic/src/semantic_model/model.rs
  crates/biome_js_syntax/src/declaration_ext.rs
  crates/biome_js_type_info/src/inference.rs
  crates/biome_module_graph/Cargo.toml
  crates/biome_module_graph/src/js_module_info.rs
  crates/biome_module_graph/src/js_module_info/binding.rs
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/src/js_module_info/scope.rs
  crates/biome_module_graph/src/js_module_info/visitor.rs
  crates/biome_module_graph/src/js_module_visitor.rs
  crates/biome_module_graph/src/js_semantic_model.rs
  crates/biome_module_graph/src/lib.rs
  crates/biome_module_graph/src/module_graph.rs
  crates/biome_module_graph/src/module_graph.tests.rs
  crates/biome_module_graph/src/module_info.rs
  crates/biome_module_graph/src/snapshots/biome_module_graph__module_graph__tests__export_default_function_declaration.snap
  crates/biome_module_graph/src/snapshots/biome_module_graph__module_graph__tests__export_referenced_function.snap
  crates/biome_module_graph/src/snapshots/biome_module_graph__module_graph__tests__resolve_export_types.snap
  crates/biome_module_graph/src/snapshots/biome_module_graph__module_graph__tests__resolve_exports.snap
  crates/biome_plugin_loader/src/analyzer_grit_plugin.rs
  crates/biome_rowan/src/token_text.rs
  crates/biome_service/src/file_handlers/mod.rs
  xtask/bench/benches/gritql_search.rs
Labels: A-Core, A-Project, A-Linter, A-Parser, A-Tooling, L-JavaScript, L-Grit

#5621 fix(parser): allow excess tokens after expected EOF
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_graphql_syntax/src/generated/kind.rs
  crates/biome_grit_formatter/tests/specs/grit/function_definition.grit
  crates/biome_grit_formatter/tests/specs/grit/function_definition.grit.snap
  crates/biome_grit_parser/src/parser/definitions.rs
  crates/biome_grit_parser/tests/grit_test_suite/err/issue_5610.grit
  crates/biome_grit_parser/tests/grit_test_suite/err/issue_5610.grit.snap
  crates/biome_grit_syntax/src/generated/kind.rs
  crates/biome_html_syntax/src/generated/kind.rs
  crates/biome_js_syntax/src/generated/kind.rs
  crates/biome_json_syntax/src/generated/kind.rs
  crates/biome_markdown_syntax/src/generated/kind.rs
  crates/biome_parser/src/diagnostic.rs
  crates/biome_parser/src/lib.rs
  crates/biome_rowan/src/syntax.rs
  crates/biome_yaml_syntax/src/generated/kind.rs
  xtask/codegen/src/generate_syntax_kinds.rs
Labels: A-Core, A-Parser, A-Formatter, A-Tooling, L-JavaScript, L-CSS, L-JSON, L-HTML, L-Grit

#5625 fix(xtask/codegen): handle languages with no keywords
  xtask/codegen/src/generate_syntax_kinds.rs
Labels: A-Tooling

#5623 chore: add EOF token validator
  Cargo.lock
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_graphql_parser/Cargo.toml
  crates/biome_graphql_parser/tests/spec_test.rs
  crates/biome_grit_parser/Cargo.toml
  crates/biome_grit_parser/tests/spec_test.rs
  crates/biome_html_parser/Cargo.toml
  crates/biome_html_parser/tests/spec_test.rs
  crates/biome_js_parser/tests/spec_test.rs
  crates/biome_json_parser/Cargo.toml
  crates/biome_json_parser/tests/spec_test.rs
  crates/biome_markdown_parser/tests/spec_test.rs
  crates/biome_test_utils/src/lib.rs
Labels: A-Parser, L-JavaScript, L-CSS, L-JSON, L-HTML, L-Grit

#5626 perf(lint): remove allocation of strings
  crates/biome_css_analyze/src/lint/a11y/use_generic_font_names.rs
  crates/biome_css_analyze/src/lint/correctness/no_invalid_direction_in_linear_gradient.rs
  crates/biome_css_analyze/src/lint/correctness/no_unknown_property.rs
  crates/biome_css_analyze/src/lint/correctness/no_unmatchable_anb_selector.rs
  crates/biome_css_analyze/src/lint/nursery/no_duplicate_properties.rs
  crates/biome_css_analyze/src/lint/nursery/no_missing_var_function.rs
  crates/biome_css_analyze/src/lint/nursery/no_unknown_pseudo_class.rs
  crates/biome_css_analyze/src/lint/nursery/no_unknown_pseudo_element.rs
  crates/biome_css_analyze/src/lint/suspicious/no_duplicate_at_import_rules.rs
  crates/biome_css_analyze/src/lint/suspicious/no_duplicate_font_names.rs
  crates/biome_css_analyze/src/lint/suspicious/no_duplicate_selectors_keyframe_block.rs
  crates/biome_css_analyze/src/lint/suspicious/no_shorthand_property_overrides.rs
  crates/biome_css_analyze/tests/specs/nursery/noUnknownPseudoClass/invalid.css.snap
  crates/biome_css_formatter/src/utils/component_value_list.rs
  crates/biome_js_analyze/src/lint/a11y/no_aria_hidden_on_focusable.rs
  crates/biome_js_analyze/src/lint/a11y/use_focusable_interactive.rs
  crates/biome_js_analyze/src/lint/complexity/no_useless_string_concat.rs
  crates/biome_js_analyze/src/lint/complexity/use_optional_chain.rs
  crates/biome_js_analyze/src/lint/correctness/no_flat_map_identity.rs
  crates/biome_js_analyze/src/lint/correctness/use_jsx_key_in_iterable.rs
  crates/biome_js_analyze/src/lint/nursery/no_process_env.rs
  crates/biome_js_analyze/src/lint/nursery/use_at_index.rs
  crates/biome_js_analyze/src/lint/style/no_yoda_expression.rs
  crates/biome_js_analyze/src/lint/style/use_number_namespace.rs
  crates/biome_js_analyze/src/lint/suspicious/no_duplicate_jsx_props.rs
  crates/biome_js_analyze/src/lint/suspicious/no_redeclare.rs
  crates/biome_rowan/src/ast/mod.rs
  crates/biome_rowan/src/text.rs
Labels: A-Core, A-Linter, A-Formatter, L-JavaScript, L-CSS

#5628 chore: fix linting issues
  crates/biome_css_analyze/src/lint/nursery/no_unknown_pseudo_class.rs
  crates/biome_css_analyze/src/lint/nursery/no_unknown_pseudo_element.rs
  crates/biome_css_analyze/src/lint/suspicious/no_shorthand_property_overrides.rs
Labels: A-Linter, L-CSS

#5630 fix(core): handle `.mjs` extension in CommonJS packages
  .changeset/fix-mjs-in-commonjs-package.md
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/should_lint_module_in_commonjs_package.snap
  crates/biome_service/src/workspace/server.rs
Labels: A-CLI, A-Project

#5622 feat(core): skip non-root configuration files
  crates/biome_configuration/src/diagnostics.rs
  crates/biome_deserialize/src/lib.rs
  crates/biome_diagnostics/src/advice.rs
  crates/biome_diagnostics_macros/src/generate.rs
  crates/biome_diagnostics_macros/src/parse.rs
  crates/biome_fs/src/fs.rs
  crates/biome_service/src/configuration.rs
  crates/biome_service/src/settings.rs
Labels: A-CLI, A-Core, A-Project, A-Diagnostic

#5627 fix(editorconfig): parse char classes in globs
  .changeset/editorconfig-charclass-parsing.md
  Cargo.lock
  Cargo.toml
  crates/biome_cli/tests/cases/editorconfig.rs
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/end_of_line_parse_error.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/indent_size_parse_error.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/non_closed_section.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/root_parse_error.snap
  crates/biome_configuration/Cargo.toml
  crates/biome_configuration/src/diagnostics.rs
  crates/biome_configuration/src/editorconfig.rs
  crates/biome_diagnostics/Cargo.toml
  crates/biome_diagnostics/src/adapters.rs
  crates/biome_diagnostics/src/lib.rs
  crates/biome_diagnostics/src/location.rs
  crates/biome_service/src/configuration.rs
Labels: A-CLI, A-Project, A-Diagnostic

#5631 fix(analyzer): use binary search to find diagnostics
  crates/biome_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/complexity/use_arrow_function.rs
  crates/biome_js_analyze/src/suppressions.tests.rs
Labels: A-Linter, L-JavaScript

#5647 fix(linter): useImportExtensions should not error on valid imports with sub extensions
  crates/biome_js_analyze/src/lint/correctness/use_import_extensions.rs
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/valid.js
  crates/biome_js_analyze/tests/specs/correctness/useImportExtensions/valid.js.snap
Labels: A-Linter, L-JavaScript

#5648 fix(lint): `noConsole` rule now correctly handles indirect `console.log` calls and references
  .changeset/plenty-foxes-give.md
  crates/biome_js_analyze/src/lint/suspicious/no_console.rs
  crates/biome_js_analyze/tests/specs/suspicious/noConsole/allowlist.js
  crates/biome_js_analyze/tests/specs/suspicious/noConsole/allowlist.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noConsole/invalid.js
  crates/biome_js_analyze/tests/specs/suspicious/noConsole/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noConsole/issue_5053.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noConsole/issue_5620.js
  crates/biome_js_analyze/tests/specs/suspicious/noConsole/issue_5620.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noConsole/valid.js
  crates/biome_js_analyze/tests/specs/suspicious/noConsole/valid.js.snap
Labels: A-Linter, L-JavaScript

#5639 feat(organizeImports): add import matchers
  crates/biome_deserialize_macros/src/deserializable_derive.rs
  crates/biome_js_analyze/src/assist/source/organize_imports/import_groups.rs
  crates/biome_js_analyze/src/assist/source/organize_imports/import_key.rs
  crates/biome_js_analyze/tests/specs/source/organizeImports/type-first-groups.options.json
  crates/biome_js_analyze/tests/specs/source/organizeImports/type-first-groups.ts
  crates/biome_js_analyze/tests/specs/source/organizeImports/type-first-groups.ts.snap
  crates/biome_js_analyze/tests/specs/source/organizeImports/type-last-groups.options.json
  crates/biome_js_analyze/tests/specs/source/organizeImports/type-last-groups.ts
  crates/biome_js_analyze/tests/specs/source/organizeImports/type-last-groups.ts.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript

#5666 chore: use test for type size verification
  Cargo.lock
  crates/biome_js_type_info/Cargo.toml
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_js_type_info/src/type_info.tests.rs
Labels: L-JavaScript

#5671 chore: update `oxc_resolver`
  Cargo.lock
  Cargo.toml
  crates/biome_module_graph/src/resolver_cache.rs
Labels: A-Project

#5675 refactor(organizeImports): remove the typePlacement option
  crates/biome_js_analyze/src/assist/source/organize_imports.rs
  crates/biome_js_analyze/src/assist/source/organize_imports/import_key.rs
  crates/biome_js_analyze/tests/specs/source/organizeImports/missing_blank_line_after_types.options.json
  crates/biome_js_analyze/tests/specs/source/organizeImports/missing_blank_line_after_types.ts
  crates/biome_js_analyze/tests/specs/source/organizeImports/missing_blank_line_after_types.ts.snap
  crates/biome_js_analyze/tests/specs/source/organizeImports/unseparated_types.options.json
  crates/biome_js_analyze/tests/specs/source/organizeImports/unseparated_types.ts
  crates/biome_js_analyze/tests/specs/source/organizeImports/unseparated_types.ts.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript

#5615 feat(yaml): update yaml grammar
  crates/biome_yaml_factory/src/generated/node_factory.rs
  crates/biome_yaml_factory/src/generated/syntax_factory.rs
  crates/biome_yaml_parser/src/lexer/mod.rs
  crates/biome_yaml_parser/src/lexer/tests.rs
  crates/biome_yaml_syntax/src/generated/kind.rs
  crates/biome_yaml_syntax/src/generated/macros.rs
  crates/biome_yaml_syntax/src/generated/nodes.rs
  crates/biome_yaml_syntax/src/generated/nodes_mut.rs
  crates/biome_yaml_syntax/src/lib.rs
  crates/biome_yaml_syntax/src/syntax_node.rs
  xtask/codegen/src/generate_syntax_kinds.rs
  xtask/codegen/src/yaml_kinds_src.rs
  xtask/codegen/yaml.ungram
Labels: A-Parser, A-Tooling

#5676 fix(lint/noDuplicateObjectKeys): transfer comments
  .changeset/no-duplicate-object-keys-5617.md
  crates/biome_js_analyze/src/lint/suspicious/no_duplicate_object_keys.rs
  crates/biome_js_analyze/tests/specs/suspicious/noDuplicateObjectKeys/invalid.js
  crates/biome_js_analyze/tests/specs/suspicious/noDuplicateObjectKeys/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noDuplicateObjectKeys/invalid.jsonc
  crates/biome_js_analyze/tests/specs/suspicious/noDuplicateObjectKeys/invalid.jsonc.snap
  crates/biome_js_analyze/tests/specs/suspicious/noDuplicateObjectKeys/valid.jsonc
  crates/biome_js_analyze/tests/specs/suspicious/noDuplicateObjectKeys/valid.jsonc.snap
  crates/biome_js_syntax/src/expr_ext.rs
Labels: A-Linter, A-Parser, L-JavaScript

#5672 ci(benchmarks): add code and file to diagnostics
  xtask/bench/src/lib.rs
Labels: A-Tooling

#5680 fix(yaml): remaining issues with Yaml grammar
  crates/biome_yaml_factory/src/generated/node_factory.rs
  crates/biome_yaml_factory/src/generated/syntax_factory.rs
  crates/biome_yaml_syntax/src/generated/kind.rs
  crates/biome_yaml_syntax/src/generated/macros.rs
  crates/biome_yaml_syntax/src/generated/nodes.rs
  crates/biome_yaml_syntax/src/generated/nodes_mut.rs
  crates/biome_yaml_syntax/src/lib.rs
  crates/biome_yaml_syntax/src/syntax_node.rs
  xtask/codegen/src/yaml_kinds_src.rs
  xtask/codegen/yaml.ungram
Labels: A-Parser, A-Tooling

#5619 feat(suppression): syntax rules suppression
  .changeset/breezy-fans-push.md
  crates/biome_analyze/src/lib.rs
  crates/biome_analyze/src/matcher.rs
  crates/biome_analyze/src/suppressions.rs
  crates/biome_cli/tests/cases/suppressions.rs
  crates/biome_cli/tests/snapshots/main_cases_suppressions/err_when_missing_range_end.snap
  crates/biome_cli/tests/snapshots/main_cases_suppressions/syntax_rule_line_suppression.snap
  crates/biome_cli/tests/snapshots/main_cases_suppressions/syntax_rule_range_suppression.snap
  crates/biome_cli/tests/snapshots/main_cases_suppressions/syntax_rule_top_suppression.snap
  crates/biome_js_analyze/src/suppressions.tests.rs
  crates/biome_js_analyze/tests/specs/a11y/useValidAriaProps/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/source/useSortedAttributes/unsorted.jsx.snap
  crates/biome_js_analyze/tests/specs/suspicious/noExtraNonNullAssertion/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/suspicious/noFallthroughSwitchClause/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/useAwait/invalid.js.snap
  crates/biome_rowan/src/cursor.rs
  crates/biome_rowan/src/cursor/node.rs
  crates/biome_rowan/src/syntax/node.rs
Labels: A-CLI, A-Core, A-Linter, L-JavaScript

#5685 feat(core): add `Typed` service and update `noFloatingPromises`
  Cargo.lock
  crates/biome_js_analyze/src/lint/nursery/no_floating_promises.rs
  crates/biome_js_analyze/src/services/mod.rs
  crates/biome_js_analyze/src/services/typed.rs
  crates/biome_js_analyze/tests/quick_test.rs
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/valid.ts.snap
  crates/biome_js_syntax/src/union_ext.rs
  crates/biome_js_type_info/Cargo.toml
  crates/biome_js_type_info/src/flattening.rs
  crates/biome_js_type_info/src/flattening.tests.rs
  crates/biome_js_type_info/src/globals.rs
  crates/biome_js_type_info/src/lib.rs
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_js_type_info/src/resolver.rs
  crates/biome_js_type_info/src/snapshots/biome_js_type_info__flattening__tests__infer_flattened_type_from_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/src/snapshots/biome_js_type_info__flattening__tests__infer_flattened_type_from_direct_promise_instance.snap
  crates/biome_js_type_info/src/snapshots/biome_js_type_info__flattening__tests__infer_flattened_type_from_double_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/src/snapshots/biome_js_type_info__flattening__tests__infer_flattened_type_from_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/src/snapshots/biome_js_type_info__flattening__tests__infer_flattened_type_from_static_promise_function.snap
  crates/biome_js_type_info/src/snapshots/biome_js_type_info__flattening__tests__infer_flattened_type_of_async_function.snap
  crates/biome_js_type_info/src/snapshots/biome_js_type_info__flattening__tests__infer_flattened_type_of_promise_returning_function.snap
  crates/biome_js_type_info/src/snapshots/biome_js_type_info__type_info__tests__infer_type_of_async_function.snap
  crates/biome_js_type_info/src/snapshots/biome_js_type_info__type_info__tests__infer_type_of_promise_returning_function.snap
  crates/biome_js_type_info/src/test_util.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_js_type_info/src/type_info.tests.rs
  crates/biome_js_type_info_macros/src/resolvable_derive.rs
  crates/biome_module_graph/Cargo.toml
  crates/biome_module_graph/src/js_module_info.rs
  crates/biome_module_graph/src/js_module_info/ad_hoc_scope_resolver.rs
  crates/biome_module_graph/src/js_module_info/binding.rs
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/src/js_module_info/global_scope_resolver.rs
  crates/biome_module_graph/src/snapshots/biome_module_graph__module_graph__tests__resolve_export_types.snap
  crates/biome_module_graph/src/snapshots/biome_module_graph__module_graph__tests__resolve_exports.snap
  crates/biome_test_utils/src/lib.rs
Labels: A-Project, A-Linter, A-Parser, L-JavaScript

#5690 fix(lint): correct the source of the rule `noTsIgnore`
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_js_analyze/src/lint/nursery/no_ts_ignore.rs
Labels: A-CLI, A-Linter, L-JavaScript

#5689 chore: format module graph
  Cargo.lock
  crates/biome_formatter/src/formatter.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_module_graph/Cargo.toml
  crates/biome_module_graph/src/format_module_graph.rs
  crates/biome_module_graph/src/js_module_info.rs
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/src/lib.rs
  crates/biome_module_graph/src/module_graph.rs
  crates/biome_module_graph/src/snapshots/biome_module_graph__module_graph__tests__export_default_function_declaration.snap
  crates/biome_module_graph/src/snapshots/biome_module_graph__module_graph__tests__export_referenced_function.snap
  crates/biome_module_graph/src/snapshots/biome_module_graph__module_graph__tests__resolve_export_types.snap
  crates/biome_module_graph/src/snapshots/biome_module_graph__module_graph__tests__resolve_exports.snap
  crates/biome_module_graph/tests/fixtures/.gitignore
  crates/biome_module_graph/tests/fixtures/frontend/node_modules/shared
  crates/biome_module_graph/tests/fixtures/frontend/package.json
  crates/biome_module_graph/tests/fixtures/frontend/src/bar.ts
  crates/biome_module_graph/tests/fixtures/frontend/src/index.ts
  crates/biome_module_graph/tests/fixtures/frontend/tsconfig.json
  crates/biome_module_graph/tests/fixtures/shared/dist/index.js
  crates/biome_module_graph/tests/fixtures/shared/package.json
  crates/biome_module_graph/tests/module_graph.rs
  crates/biome_module_graph/tests/snap/mod.rs
  crates/biome_module_graph/tests/snapshots/test_export_default_function_declaration.snap
  crates/biome_module_graph/tests/snapshots/test_export_referenced_function.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_export_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_exports.snap
Labels: A-Project, A-Formatter, L-JavaScript

#5692 refactor: light scanner for formatter
  crates/biome_cli/examples/text_reporter.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/src/reporter/github.rs
  crates/biome_cli/src/reporter/gitlab.rs
  crates/biome_cli/src/reporter/json.rs
  crates/biome_cli/src/reporter/junit.rs
  crates/biome_cli/src/reporter/mod.rs
  crates/biome_cli/src/reporter/summary.rs
  crates/biome_cli/src/reporter/terminal.rs
  crates/biome_cli/tests/snapshots/main_cases_diagnostics/max_diagnostics_verbose.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_from_cli_verbose.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_linter_disabled_from_cli_verbose.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_ignored_file_from_cli_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_check/print_json.snap
  crates/biome_cli/tests/snapshots/main_commands_check/print_json_pretty.snap
  crates/biome_cli/tests/snapshots/main_commands_check/print_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_check/print_verbose_write.snap
  crates/biome_cli/tests/snapshots/main_commands_check/unsupported_file_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/print_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_format/print_json.snap
  crates/biome_cli/tests/snapshots/main_commands_format/print_json_pretty.snap
  crates/biome_cli/tests/snapshots/main_commands_format/print_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/print_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/unsupported_file_verbose.snap
  crates/biome_lsp/src/server.tests.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace.tests.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace/server.tests.rs
  crates/biome_service/src/workspace/watcher.rs
Labels: A-CLI, A-Project, A-LSP

#5694 feat: pretty print for type info
  Cargo.lock
  crates/biome_js_type_info/Cargo.toml
  crates/biome_js_type_info/src/flattening.rs
  crates/biome_js_type_info/src/format_type_info.rs
  crates/biome_js_type_info/src/lib.rs
  crates/biome_js_type_info/src/snapshots/biome_js_type_info__flattening__tests__infer_flattened_type_from_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/src/snapshots/biome_js_type_info__flattening__tests__infer_flattened_type_from_direct_promise_instance.snap
  crates/biome_js_type_info/src/snapshots/biome_js_type_info__flattening__tests__infer_flattened_type_from_double_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/src/snapshots/biome_js_type_info__flattening__tests__infer_flattened_type_from_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/src/snapshots/biome_js_type_info__flattening__tests__infer_flattened_type_from_static_promise_function.snap
  crates/biome_js_type_info/src/snapshots/biome_js_type_info__flattening__tests__infer_flattened_type_of_async_function.snap
  crates/biome_js_type_info/src/snapshots/biome_js_type_info__flattening__tests__infer_flattened_type_of_promise_returning_function.snap
  crates/biome_js_type_info/src/snapshots/biome_js_type_info__type_info__tests__infer_type_of_async_function.snap
  crates/biome_js_type_info/src/snapshots/biome_js_type_info__type_info__tests__infer_type_of_promise_returning_function.snap
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_js_type_info/tests/flattening.rs
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_direct_promise_instance.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_double_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_static_promise_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_of_async_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_async_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/type_info.rs
  crates/biome_js_type_info/tests/utils/mod.rs
  crates/biome_module_graph/src/format_module_graph.rs
  crates/biome_module_graph/src/js_module_info.rs
  crates/biome_module_graph/src/module_graph.rs
  crates/biome_module_graph/tests/snapshots/test_export_default_function_declaration.snap
  crates/biome_module_graph/tests/snapshots/test_export_referenced_function.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_export_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_exports.snap
  crates/biome_module_graph/tests/spec_test.rs
Labels: A-Project, L-JavaScript

#5695 fix(formatter): do not break properties in object patterns with nested assignment pattern
  .changeset/plenty-colts-lick.md
  crates/biome_js_formatter/src/utils/object_pattern_like.rs
  crates/biome_js_formatter/tests/specs/js/module/object/object.js
  crates/biome_js_formatter/tests/specs/js/module/object/object.js.snap
Labels: A-Formatter, L-JavaScript

#5711 fix(assist): skip sorting specifiers if it contains any bogus nodes
  crates/biome_js_analyze/src/assist/source/organize_imports.rs
  crates/biome_js_analyze/src/assist/source/organize_imports/specifiers_attributes.rs
  crates/biome_js_analyze/tests/specs/source/organizeImports/issue-5710.js
  crates/biome_js_analyze/tests/specs/source/organizeImports/issue-5710.js.snap
Labels: A-Linter, L-JavaScript

#5709 feat(yaml): initialize parser
  Cargo.lock
  crates/biome_yaml_parser/Cargo.toml
  crates/biome_yaml_parser/src/lexer/mod.rs
  crates/biome_yaml_parser/src/lexer/tests.rs
  crates/biome_yaml_parser/src/lib.rs
  crates/biome_yaml_parser/src/parser/block.rs
  crates/biome_yaml_parser/src/parser/document.rs
  crates/biome_yaml_parser/src/parser/mod.rs
  crates/biome_yaml_parser/src/token_source.rs
Labels: A-Parser

#5708 feat(cli): add advices to no files processed error
  crates/biome_cli/src/diagnostics.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/tests/snap_test.rs
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_from_cli.snap
  crates/biome_cli/tests/snapshots/main_cases_protected_files/not_process_file_from_cli_verbose.snap
  crates/biome_cli/tests/snapshots/main_cases_vcs_ignored_files/ignores_file_inside_directory.snap
  crates/biome_cli/tests/snapshots/main_commands_check/file_too_large.snap
  crates/biome_cli/tests/snapshots/main_commands_check/file_too_large_cli_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_check/file_too_large_config_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_check/fs_error_dereferenced_symlink.snap
  crates/biome_cli/tests/snapshots/main_commands_check/fs_error_infinite_symlink_expansion_to_dirs.snap
  crates/biome_cli/tests/snapshots/main_commands_check/fs_error_read_only.snap
  crates/biome_cli/tests/snapshots/main_commands_check/fs_error_unknown.snap
  crates/biome_cli/tests/snapshots/main_commands_check/no_supported_file_found.snap
  crates/biome_cli/tests/snapshots/main_commands_check/should_error_if_unchanged_files_only_with_changed_flag.snap
  crates/biome_cli/tests/snapshots/main_commands_check/should_error_if_unstaged_files_only_with_staged_flag.snap
  crates/biome_cli/tests/snapshots/main_commands_check/unsupported_file.snap
  crates/biome_cli/tests/snapshots/main_commands_check/unsupported_file_verbose.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/file_too_large.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/file_too_large_cli_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/file_too_large_config_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/should_error_if_unchanged_files_only_with_changed_flag.snap
  crates/biome_cli/tests/snapshots/main_commands_format/does_not_format_if_files_are_listed_in_ignore_option.snap
  crates/biome_cli/tests/snapshots/main_commands_format/does_not_format_ignored_files.snap
  crates/biome_cli/tests/snapshots/main_commands_format/file_too_large.snap
  crates/biome_cli/tests/snapshots/main_commands_format/file_too_large_cli_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_format/file_too_large_config_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_is_disabled.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_shows_parse_diagnostics.snap
  crates/biome_cli/tests/snapshots/main_commands_format/fs_error_read_only.snap
  crates/biome_cli/tests/snapshots/main_commands_format/html_disabled_by_default.snap
  crates/biome_cli/tests/snapshots/main_commands_format/no_supported_file_found.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_error_if_unchanged_files_only_with_changed_flag.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_error_if_unstaged_files_only_with_staged_flag.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/file_too_large.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/file_too_large_cli_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/file_too_large_config_limit.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/fs_error_dereferenced_symlink.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/fs_error_infinite_symlink_expansion_to_dirs.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/fs_error_read_only.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/fs_error_unknown.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_rule_with_linter_disabled.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/no_lint_if_files_are_listed_in_ignore_option.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/no_lint_if_linter_is_disabled.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/no_lint_if_linter_is_disabled_when_run_apply.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/no_lint_if_linter_is_disabled_when_run_apply_biome_jsonc.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/no_lint_when_file_is_ignored.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/no_supported_file_found.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_error_if_unchanged_files_only_with_changed_flag.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_error_if_unstaged_files_only_with_staged_flag.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_not_process_ignored_file_even_if_its_changed.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_not_process_ignored_file_even_if_its_staged.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_report_when_schema_version_mismatch.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/unsupported_file.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/unsupported_file_verbose.snap
  crates/biome_cli/tests/snapshots/main_configuration/correct_root.snap
Labels: A-CLI

#5712 feat(lint): implement code action for useConsistentObjectDefinition
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_js_analyze/src/lint/nursery/use_consistent_object_definition.rs
  crates/biome_js_analyze/tests/specs/nursery/useConsistentObjectDefinition/invalidExplicit.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentObjectDefinition/invalidShorthand.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript

#5705 feat(lint): project domain
  Cargo.lock
  crates/biome_analyze/src/context.rs
  crates/biome_analyze/src/lib.rs
  crates/biome_analyze/src/matcher.rs
  crates/biome_analyze/src/rule.rs
  crates/biome_analyze/src/services.rs
  crates/biome_cli/Cargo.toml
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/scan_kind.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_configuration/src/analyzer/linter/mod.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_configuration/tests/invalid/domains.json.snap
  crates/biome_css_analyze/src/services/semantic.rs
  crates/biome_js_analyze/src/lint/correctness/no_private_imports.rs
  crates/biome_js_analyze/src/lint/correctness/use_hook_at_top_level.rs
  crates/biome_js_analyze/src/lint/correctness/use_import_extensions.rs
  crates/biome_js_analyze/src/lint/nursery/no_floating_promises.rs
  crates/biome_js_analyze/src/lint/nursery/no_import_cycles.rs
  crates/biome_js_analyze/src/lint/nursery/no_unresolved_imports.rs
  crates/biome_js_analyze/src/services/aria.rs
  crates/biome_js_analyze/src/services/manifest.rs
  crates/biome_js_analyze/src/services/module_graph.rs
  crates/biome_js_analyze/src/services/semantic.rs
  crates/biome_js_analyze/src/services/typed.rs
  crates/biome_service/src/documentation/mod.rs
  crates/biome_service/src/workspace/scanner.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, L-CSS

#5713 fix(formatter): `indent_size` can set to tab in `.editorconfig`
  .changeset/social-wombats-brake.md
  crates/biome_cli/tests/cases/editorconfig.rs
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/indent_size_can_set_to_tab.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/indent_size_parse_error.snap
  crates/biome_configuration/src/editorconfig.rs
  crates/biome_formatter/src/lib.rs
Labels: A-CLI, A-Project, A-Formatter

#5727 feat(core): implement type inference for destructuring
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts.snap
  crates/biome_js_type_info/snapshots/infer_type_of_array_element.snap
  crates/biome_js_type_info/snapshots/infer_type_of_destructured_array_element.snap
  crates/biome_js_type_info/src/flattening.rs
  crates/biome_js_type_info/src/format_type_info.rs
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_js_type_info/src/resolver.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_js_type_info/tests/flattening.rs
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_of_destructured_array_element.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_array.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_async_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_destructured_array_element.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_function_with_destructured_arguments.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/type_info.rs
  crates/biome_js_type_info/tests/utils/mod.rs
  crates/biome_module_graph/src/format_module_graph.rs
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/src/js_module_info/global_scope_resolver.rs
  crates/biome_module_graph/tests/snapshots/test_resolve_exports.snap
  crates/biome_module_graph/tests/spec_test.rs
Labels: A-Project, A-Linter, L-JavaScript

#5733 revert: editorconfig not default
  .changeset/silent-otters-relax.md
  crates/biome_cli/tests/cases/editorconfig.rs
  crates/biome_configuration/src/diagnostics.rs
  crates/biome_configuration/src/editorconfig.rs
  crates/biome_configuration/src/formatter.rs
  crates/biome_service/src/configuration.rs
Labels: A-CLI, A-Project

#5714 feat(lint)!: support custom messages in noRestrictedGlobals rule
  .changeset/fancy-radios-thank.md
  crates/biome_cli/src/execute/migrate/eslint_eslint.rs
  crates/biome_cli/src/execute/migrate/eslint_to_biome.rs
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintrcjson_rule_options.snap
  crates/biome_js_analyze/src/lint/style/no_restricted_globals.rs
  crates/biome_js_analyze/tests/specs/style/noRestrictedGlobals/additionalGlobal.js.snap
  crates/biome_js_analyze/tests/specs/style/noRestrictedGlobals/additionalGlobal.options.json
  crates/biome_migrate/src/analyzers.rs
  crates/biome_migrate/src/analyzers/no_restriected_globals.rs
  crates/biome_migrate/tests/specs/migrations/noRestrictedGlobals/invalid.jsonc
  crates/biome_migrate/tests/specs/migrations/noRestrictedGlobals/invalid.jsonc.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Linter, L-JavaScript

#5735 chore: reduce duplication and add formating of object literals
  crates/biome_js_type_info/src/format_type_info.rs
  crates/biome_js_type_info/src/lib.rs
  crates/biome_module_graph/src/format_module_graph.rs
  crates/biome_module_graph/src/js_module_info.rs
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/tests/snap/mod.rs
  crates/biome_module_graph/tests/snapshots/test_export_default_function_declaration.snap
  crates/biome_module_graph/tests/snapshots/test_export_referenced_function.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_export_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_exports.snap
Labels: A-Project, L-JavaScript

#5716 fix(lint/useRegexLiterals): handle useless escapes
  .changeset/use-regex-literals-5693.md
  crates/biome_js_analyze/src/lint/complexity/use_regex_literals.rs
  crates/biome_js_analyze/tests/specs/complexity/useRegexLiterals/invalid.js
  crates/biome_js_analyze/tests/specs/complexity/useRegexLiterals/invalid.js.snap
  crates/biome_js_analyze/tests/specs/complexity/useRegexLiterals/invalid.jsonc.snap
Labels: A-Linter, L-JavaScript

#5741 fix(lint/useNamingConvention): ignore declarations in external modules
  .changeset/use-naming-convention-4545.md
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validExternalModule.ts
  crates/biome_js_analyze/tests/specs/style/useNamingConvention/validExternalModule.ts.snap
Labels: A-Linter, L-JavaScript

#5742 feat(biome_glob): add NormalizedGlob
  Cargo.lock
  crates/biome_cli/src/execute/migrate/eslint_to_biome.rs
  crates/biome_cli/src/execute/migrate/ignorefile.rs
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslint_config_packagejson.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintignore_and_ignore_patterns.snap
  crates/biome_configuration/src/analyzer/assist/mod.rs
  crates/biome_configuration/src/analyzer/assists/mod.rs
  crates/biome_configuration/src/analyzer/linter/mod.rs
  crates/biome_configuration/src/formatter.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_configuration/src/organize_imports.rs
  crates/biome_configuration/src/overrides.rs
  crates/biome_glob/Cargo.toml
  crates/biome_glob/src/lib.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/settings.tests.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project

#5748 chore: update panic error message
  crates/biome_cli/src/panic.rs
Labels: A-CLI

#5737 feat(type_info): parse literals to value for checking equality
  crates/biome_js_type_info/src/format_type_info.rs
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_js_type_info/src/resolver.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_js_type_info/src/type_info/literal.rs
  crates/biome_js_type_info/tests/snapshots/infer_type_of_binary_expression_eq.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_binary_expression_ne.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_literal.snap
  crates/biome_js_type_info/tests/type_info.rs
Labels: L-JavaScript

#5760 refactor(core): don't ignore `node_modules`
  .changeset/fluffy-hornets-follow.md
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_migrate_aws_config.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_ariakit.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_knip.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_sentry.snap
  crates/biome_fs/src/fs/os.rs
  crates/biome_fs/src/path.rs
  crates/biome_migrate/src/analyzers.rs
  crates/biome_migrate/src/analyzers/node_modules.rs
  crates/biome_migrate/tests/specs/migrations/nodeModules/invalid.json
  crates/biome_migrate/tests/specs/migrations/nodeModules/invalid.json.snap
  crates/biome_service/src/lib.rs
  crates/biome_service/src/workspace/scanner.rs
Labels: A-CLI, A-Core, A-Project

#5719 fix(cli): only format valid files and skip errors with `--skip-errors`
  .changeset/calm-ends-kneel.md
  crates/biome_cli/src/execute/diagnostics.rs
  crates/biome_cli/src/execute/process_file/format.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_format/format_skip_errors_continues_with_valid_files.snap
Labels: A-CLI

#5757 feat(useExplicitType): cover function parameters
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_js_analyze/src/lint/nursery/use_explicit_type.rs
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/invalidArguments.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/invalidArguments.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/invalidDeclarationStatements.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/namespace.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/valid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/validInferrable.ts
  crates/biome_js_analyze/tests/specs/nursery/useExplicitType/validInferrable.ts.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript

#5753 test(lint): auto enable module graph for rules in the project domain
  crates/biome_js_analyze/tests/spec_tests.rs
Labels: A-Linter, L-JavaScript

#5779 fix(lint): use correct `node:process` import
  crates/biome_js_analyze/src/lint/nursery/no_process_global.rs
  crates/biome_js_analyze/tests/specs/nursery/noProcessGlobal/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noProcessGlobal/invalid_with_import.js.snap
Labels: A-Linter, L-JavaScript

#5776 feat(core): suppression reason
  .changeset/busy-houses-add.md
  .changeset/quiet-animals-speak.md
  crates/biome_cli/tests/cases/suppressions.rs
  crates/biome_cli/tests/snapshots/main_cases_suppressions/should_emit_diagnostics_for_incorrect_reason.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_rule_ignore_suppression_comments.snap
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_formatter/tests/specs/js/module/statement/return_verbatim_argument.js
  crates/biome_js_formatter/tests/specs/js/module/statement/return_verbatim_argument.js.snap
  crates/biome_suppression/src/lib.rs
Labels: A-CLI, A-Core, A-Linter, A-Formatter, L-JavaScript

#5775 fix(core): use deterministic ordering
  crates/biome_js_analyze/src/assist/source/use_sorted_keys.rs
  crates/biome_js_analyze/tests/specs/source/useSortedKeys/unsorted.js.snap
  crates/biome_json_analyze/src/assist/source/use_sorted_keys.rs
  crates/biome_json_analyze/tests/specs/source/useSortedKeys/issue_5756.json
  crates/biome_json_analyze/tests/specs/source/useSortedKeys/issue_5756.json.snap
  crates/biome_string_case/src/lib.rs
Labels: A-Linter, L-JavaScript, L-JSON

#5787 fix(biome_string_case): don't compare numbers with non-numbers
  crates/biome_js_analyze/tests/specs/source/useSortedKeys/unsorted.js.snap
  crates/biome_json_analyze/tests/specs/source/useSortedKeys/issue_5756.json.snap
  crates/biome_string_case/src/lib.rs
Labels: A-Linter, L-JavaScript, L-JSON

#5602 docs(assist/organizeImports): update docs with last changes
  crates/biome_js_analyze/src/assist/source/organize_imports.rs
Labels: A-Linter, L-JavaScript

#5781 fix(lint): respect preferred JSX quote style and escape conflicting inner quotes in class attributes
  .changeset/major-apes-shout.md
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes.rs
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/issue_4855.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/issue_5601.jsx
  crates/biome_js_analyze/tests/specs/nursery/useSortedClasses/issue_5601.jsx.snap
Labels: A-Linter, L-JavaScript

#5786 feat(workspace): add `debug_type_info`
  crates/biome_js_type_info/src/format_type_info.rs
  crates/biome_js_type_info/tests/snapshots/infer_type_of_function_with_destructured_arguments.snap
  crates/biome_service/src/file_handlers/astro.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/grit.rs
  crates/biome_service/src/file_handlers/html.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/file_handlers/svelte.rs
  crates/biome_service/src/file_handlers/vue.rs
  crates/biome_service/src/snapshots/biome_service__workspace__tests__debug_type_info.snap
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace.tests.rs
  crates/biome_service/src/workspace/client.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-Project, L-JavaScript

#5793 fix(core): fix incorrect JSDoc detection
  crates/biome_module_graph/src/jsdoc_comment.rs
Labels: A-Project

#5769 fix(lsp): related diagnostics
  .changeset/chatty-memes-rule.md
  crates/biome_analyze/src/rule.rs
  crates/biome_cli/src/execute/process_file/format.rs
  crates/biome_cli/src/execute/process_file/lint_and_assist.rs
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/lint_vue_js_files.snap
  crates/biome_cli/tests/snapshots/main_cases_handle_vue_files/lint_vue_ts_files.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_github/reports_diagnostics_github_check_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_github/reports_diagnostics_github_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_github/reports_diagnostics_github_lint_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_gitlab/reports_diagnostics_gitlab_check_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_gitlab/reports_diagnostics_gitlab_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_gitlab/reports_diagnostics_gitlab_lint_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_junit/reports_diagnostics_junit_check_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_junit/reports_diagnostics_junit_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_junit/reports_diagnostics_junit_lint_command.snap
  crates/biome_js_analyze/src/lint/a11y/use_aria_props_for_role.rs
  crates/biome_js_analyze/src/lint/correctness/no_const_assign.rs
  crates/biome_js_analyze/src/lint/correctness/no_string_case_mismatch.rs
  crates/biome_js_analyze/src/lint/correctness/no_unreachable.rs
  crates/biome_js_analyze/src/lint/suspicious/no_double_equals.rs
  crates/biome_js_analyze/tests/specs/correctness/noConstAssign/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noDoubleEquals/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noDoubleEquals/invalid.jsonc.snap
  crates/biome_js_analyze/tests/specs/suspicious/noDoubleEquals/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/suspicious/noDoubleEquals/invalidNoNull.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noDoubleEquals/invalidNoNull.jsonc.snap
  crates/biome_js_analyze/tests/specs/suspicious/noDoubleEquals/invalidNoNull.jsx.snap
  crates/biome_js_analyze/tests/suppression/suspicious/noDoubleEquals/noDoubleEquals.js.snap
  crates/biome_js_analyze/tests/suppression/suspicious/noDoubleEquals/noDoubleEquals.jsx.snap
  crates/biome_lsp/src/server.tests.rs
  crates/biome_lsp/src/session.rs
  crates/biome_lsp/src/utils.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace.tests.rs
  crates/biome_service/src/workspace/server.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/js-api/src/index.ts
Labels: A-CLI, A-Project, A-Linter, A-LSP, L-JavaScript

#5800 chore: type formatting tweaks
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/promisedResult.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/promisedResult.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/returnPromiseResult.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/returnPromiseResult.ts.snap
  crates/biome_js_type_info/src/format_type_info.rs
  crates/biome_js_type_info/tests/snapshots/infer_type_of_function_with_destructured_arguments.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_export_type_referencing_imported_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_exports.snap
  crates/biome_module_graph/tests/spec_test.rs
Labels: A-Project, A-Linter, L-JavaScript

#5795 fix(biome_cli): use workspace API to update and format config files
  .changeset/some-bikes-worry.md
  crates/biome_cli/src/execute/migrate.rs
Labels: A-CLI

#5805 chore: rename `--skip-errors` to `--skip-parse-error`
  .changeset/swift-jokes-like.md
  crates/biome_cli/src/cli_options.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/tests/commands/format.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/biome_cli/tests/snapshots/main_commands_format/format_skip_parse_errors_continues_with_valid_files.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_help.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/migrate_help.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/rage_help.snap
Labels: A-CLI

#5794 fix(core): diagnostics and scan kind
  .changeset/loose-jeans-take.md
  .changeset/lovely-turkeys-camp.md
  crates/biome_cli/src/cli_options.rs
  crates/biome_cli/src/commands/scan_kind.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/process_file/format.rs
  crates/biome_cli/src/execute/process_file/lint_and_assist.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/src/reporter/mod.rs
  crates/biome_cli/src/reporter/summary.rs
  crates/biome_cli/tests/cases/diagnostics.rs
  crates/biome_cli/tests/snapshots/main_cases_diagnostics/should_fail_when_max_diagnostics_is_zero.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_migrate_aws_config.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_ariakit.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_knip.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_sentry.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_github/reports_diagnostics_github_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_gitlab/reports_diagnostics_gitlab_ci_command.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_junit/reports_diagnostics_junit_ci_command.snap
  crates/biome_cli/tests/snapshots/main_commands_check/maximum_diagnostics.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_multiple_rules.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_rule_and_group.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/maximum_diagnostics.snap
  crates/biome_configuration/src/lib.rs
  crates/biome_js_analyze/src/lint/correctness/no_undeclared_dependencies.rs
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredDependencies/valid.package.json
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.js.snap
  crates/biome_lsp/src/server.tests.rs
  crates/biome_lsp/src/session.rs
  crates/biome_migrate/src/analyzers/node_modules.rs
  crates/biome_migrate/src/analyzers/style_rules.rs
  crates/biome_migrate/tests/specs/migrations/nodeModules/invalid.json.snap
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace.tests.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/js-api/src/index.ts
Labels: A-CLI, A-Project, A-Linter, A-LSP, L-JavaScript

#5809 feat(core): add `ModuleId` to `ResolvedTypeId`
  Cargo.lock
  crates/biome_js_analyze/src/lint/correctness/no_private_imports.rs
  crates/biome_js_analyze/src/lint/correctness/use_import_extensions.rs
  crates/biome_js_analyze/src/lint/nursery/no_import_cycles.rs
  crates/biome_js_type_info/Cargo.toml
  crates/biome_js_type_info/src/flattening.rs
  crates/biome_js_type_info/src/format_type_info.rs
  crates/biome_js_type_info/src/globals.rs
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_js_type_info/src/resolver.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_js_type_info/tests/type_info.rs
  crates/biome_js_type_info/tests/utils.rs
  crates/biome_module_graph/src/format_module_graph.rs
  crates/biome_module_graph/src/js_module_info.rs
  crates/biome_module_graph/src/js_module_info/ad_hoc_scope_resolver.rs
  crates/biome_module_graph/src/js_module_info/binding.rs
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/src/js_module_info/scope.rs
  crates/biome_module_graph/src/js_module_info/visitor.rs
  crates/biome_module_graph/src/lib.rs
  crates/biome_module_graph/src/module_graph.rs
  crates/biome_module_graph/tests/snapshots/test_resolve_export_type_referencing_imported_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_exports.snap
  crates/biome_module_graph/tests/spec_test.rs
Labels: A-Project, A-Linter, L-JavaScript

#5815 feat(wasm): expose `getTypeInfo`
  crates/biome_lsp/src/server.rs
  crates/biome_service/src/workspace_types.rs
  crates/biome_wasm/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-Project, A-LSP

#5816 refactor(core): break down type info and registered types
  crates/biome_service/src/file_handlers/astro.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/grit.rs
  crates/biome_service/src/file_handlers/html.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/file_handlers/svelte.rs
  crates/biome_service/src/file_handlers/vue.rs
  crates/biome_service/src/snapshots/biome_service__workspace__tests__debug_registered_types.snap
  crates/biome_service/src/snapshots/biome_service__workspace__tests__debug_type_info.snap
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace.tests.rs
  crates/biome_service/src/workspace/client.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace_types.rs
  crates/biome_wasm/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-Project

#5818 fix(core): fix downgrading of project references
  crates/biome_js_type_info/src/flattening.rs
  crates/biome_js_type_info/src/format_type_info.rs
  crates/biome_js_type_info/src/globals.rs
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_js_type_info/src/resolver.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_js_type_info/tests/flattening.rs
  crates/biome_js_type_info/tests/resolver.rs
  crates/biome_js_type_info/tests/utils.rs
  crates/biome_js_type_info_macros/src/resolvable_derive.rs
  crates/biome_module_graph/src/format_module_graph.rs
  crates/biome_module_graph/src/js_module_info.rs
  crates/biome_module_graph/src/js_module_info/ad_hoc_scope_resolver.rs
  crates/biome_module_graph/src/js_module_info/binding.rs
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/tests/snapshots/test_export_default_function_declaration.snap
  crates/biome_module_graph/tests/snapshots/test_export_referenced_function.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_export_type_referencing_imported_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_export_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_exports.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_export.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_imported_promise_type.snap
  crates/biome_module_graph/tests/spec_test.rs
Labels: A-Project, L-JavaScript

#5824 chore: fix Windows CI
  crates/biome_lsp/src/server.tests.rs
Labels: A-LSP

#5825 fix(core): ignore node_modules during the traversal
  .changeset/fluffy-hornets-follow.md
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_migrate_aws_config.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_ariakit.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_knip.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_sentry.snap
  crates/biome_migrate/src/analyzers.rs
  crates/biome_migrate/src/analyzers/node_modules.rs
  crates/biome_migrate/tests/specs/migrations/nodeModules/invalid.json
  crates/biome_migrate/tests/specs/migrations/nodeModules/invalid.json.snap
  crates/biome_service/src/workspace/scanner.rs
  xtask/codegen/src/generate_schema.rs
Labels: A-CLI, A-Project, A-Tooling

#5821 feat(workspace): add semantic model debug printer
  Cargo.lock
  crates/biome_js_semantic/Cargo.toml
  crates/biome_js_semantic/src/format_semantic_model.rs
  crates/biome_js_semantic/src/lib.rs
  crates/biome_js_semantic/src/semantic_model/model.rs
  crates/biome_js_semantic/src/semantic_model/scope.rs
  crates/biome_service/src/file_handlers/astro.rs
  crates/biome_service/src/file_handlers/css.rs
  crates/biome_service/src/file_handlers/graphql.rs
  crates/biome_service/src/file_handlers/grit.rs
  crates/biome_service/src/file_handlers/html.rs
  crates/biome_service/src/file_handlers/javascript.rs
  crates/biome_service/src/file_handlers/json.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/file_handlers/svelte.rs
  crates/biome_service/src/file_handlers/vue.rs
  crates/biome_service/src/snapshots/biome_service__workspace__tests__debug_semantic_model.snap
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace.tests.rs
  crates/biome_service/src/workspace/client.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace_types.rs
  crates/biome_wasm/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
Labels: A-Project, L-JavaScript

#5829 fix(package_json): catch panic error when
  crates/biome_package/src/node_js_package/package_json.rs
Labels: A-Project

#5830 feat(core): implement full (project-level) inference
  crates/biome_js_type_info/src/flattening.rs
  crates/biome_js_type_info/src/format_type_info.rs
  crates/biome_js_type_info/src/resolver.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_js_type_info/tests/local_inference.rs
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_direct_promise_instance.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_double_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_static_promise_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_of_async_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_of_destructured_array_element.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_from_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_from_direct_promise_instance.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_from_double_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_from_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_from_static_promise_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_of_async_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_of_destructured_array_element.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_array.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_async_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_destructured_array_element.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_function_with_destructured_arguments.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/type_info.rs
  crates/biome_js_type_info/tests/utils.rs
  crates/biome_js_type_info_macros/src/resolvable_derive.rs
  crates/biome_module_graph/src/js_module_info.rs
  crates/biome_module_graph/src/js_module_info/ad_hoc_scope_resolver.rs
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/src/lib.rs
  crates/biome_module_graph/tests/snap/mod.rs
  crates/biome_module_graph/tests/snapshots/test_export_default_function_declaration.snap
  crates/biome_module_graph/tests/snapshots/test_export_referenced_function.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_export_type_referencing_imported_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_export_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_exports.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_export.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_imported_promise_type.snap
  crates/biome_module_graph/tests/spec_test.rs
  crates/biome_test_utils/src/lib.rs
Labels: A-Project, L-JavaScript
