Repository biomejs/biome, pull requests merged in 2025-05, with the labels that each got.

#5834 fix(lint/useNumericSeparators): avoid false positive on single-digit 0
  .changeset/tidy-llamas-glow.md
  crates/biome_js_analyze/src/lint/nursery/use_numeric_separators.rs
  crates/biome_js_analyze/tests/specs/nursery/useNumericSeparators/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useNumericSeparators/valid.js.snap
Labels: A-Linter, L-JavaScript

#5813 feat(lint/noUselessBackrefInRegex): add rule
  crates/biome_analyze/src/rule.rs
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_useless_backref_in_regex.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessBackrefInRegex/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessBackrefInRegex/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUselessBackrefInRegex/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessBackrefInRegex/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#5840 perf(scanner): update type info in worker threads
  crates/biome_module_graph/src/resolver_cache.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-Project

#5841 fix(core): printed directories
  .changeset/five-schools-shave.md
  .changeset/good-jeans-invite.md
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/rage.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/process_file/format.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/src/reporter/mod.rs
  crates/biome_cli/src/reporter/terminal.rs
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/cases/reporter_terminal.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_cases_reporter_terminal/reports_diagnostics_check_command_verbose.snap
  crates/biome_cli/tests/snapshots/main_cases_reporter_terminal/reports_diagnostics_check_write_command_verbose.snap
  crates/biome_cli/tests/snapshots/main_cases_rules_via_dependencies/enables_next_rules_via_dependencies.snap
  crates/biome_cli/tests/snapshots/main_cases_rules_via_dependencies/enables_react_rules_via_dependencies.snap
  crates/biome_cli/tests/snapshots/main_cases_rules_via_dependencies/enables_test_globals_via_dependencies.snap
  crates/biome_cli/tests/snapshots/main_cases_vcs_ignored_files/ignore_vcs_ignored_file_via_cli.snap
  crates/biome_cli/tests/snapshots/main_commands_check/should_show_formatter_diagnostics_for_files_ignored_by_linter.snap
  crates/biome_cli/tests/snapshots/main_commands_format/should_format_files_in_folders_ignored_by_linter.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/include_files_in_subdir.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/include_files_in_symlinked_subdir.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/should_report_when_schema_version_mismatch.snap
Labels: A-CLI

#5853 fix(core): scanner should not descend into symlinked directories
  crates/biome_fs/src/dir.rs
  crates/biome_fs/src/fs/os.rs
  crates/biome_fs/src/lib.rs
  crates/biome_fs/src/path.rs
  crates/biome_fs/src/utils.rs
  crates/biome_plugin_loader/src/lib.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/tests/fixtures/.gitignore
  crates/biome_service/tests/fixtures/biome.jsonc
  crates/biome_service/tests/fixtures/frontend/node_modules/shared
  crates/biome_service/tests/fixtures/frontend/package.json
  crates/biome_service/tests/fixtures/frontend/src/bar.ts
  crates/biome_service/tests/fixtures/frontend/src/index.ts
  crates/biome_service/tests/fixtures/frontend/tsconfig.json
  crates/biome_service/tests/fixtures/node_modules/common/node_modules/shared
  crates/biome_service/tests/fixtures/node_modules/shared/dist/index.d.mts
  crates/biome_service/tests/fixtures/node_modules/shared/dist/index.js
  crates/biome_service/tests/fixtures/node_modules/shared/dist/index.mjs
  crates/biome_service/tests/fixtures/node_modules/shared/node_modules/utils
  crates/biome_service/tests/fixtures/node_modules/shared/package.json
  crates/biome_service/tests/fixtures/node_modules/utils/node_modules/common
  crates/biome_service/tests/spec_test.rs
Labels: A-CLI, A-Core, A-Project

#5855 fix(core): fix incorrect module ID in reexport
  crates/biome_module_graph/src/js_module_info/ad_hoc_scope_resolver.rs
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_reexported_promise_type.snap
  crates/biome_module_graph/tests/spec_test.rs
Labels: A-Project

#5857 fix(core): don't load manifests inside `node_modules` for now
  crates/biome_js_analyze/src/lint/correctness/use_jsx_key_in_iterable.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/tests/spec_test.rs
Labels: A-Project, A-Linter, L-JavaScript

#5864 fix(yaml_parser): only allows maximum 2 properties per node
  crates/biome_yaml_factory/src/generated/node_factory.rs
  crates/biome_yaml_factory/src/generated/syntax_factory.rs
  crates/biome_yaml_syntax/src/generated/kind.rs
  crates/biome_yaml_syntax/src/generated/macros.rs
  crates/biome_yaml_syntax/src/generated/nodes.rs
  crates/biome_yaml_syntax/src/generated/nodes_mut.rs
  xtask/codegen/src/yaml_kinds_src.rs
  xtask/codegen/yaml.ungram
Labels: A-Parser, A-Tooling

#5866 fix(yaml_parser): add properties to yaml block scalars
  crates/biome_yaml_factory/src/generated/node_factory.rs
  crates/biome_yaml_factory/src/generated/syntax_factory.rs
  crates/biome_yaml_syntax/src/generated/kind.rs
  crates/biome_yaml_syntax/src/generated/macros.rs
  crates/biome_yaml_syntax/src/generated/nodes.rs
  crates/biome_yaml_syntax/src/generated/nodes_mut.rs
  xtask/codegen/src/yaml_kinds_src.rs
  xtask/codegen/yaml.ungram
Labels: A-Parser, A-Tooling

#5869 fix(schema): more precise type for organizeImports predfined groups
  crates/biome_js_analyze/src/assist/source/organize_imports/import_groups.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript

#5872 docs: add @vitest/eslint-plugin as rule source
  .changeset/floppy-beers-shave.md
  crates/biome_analyze/src/rule.rs
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_js_analyze/src/lint/complexity/no_excessive_nested_test_suites.rs
  crates/biome_js_analyze/src/lint/style/no_done_callback.rs
  crates/biome_js_analyze/src/lint/suspicious/no_duplicate_test_hooks.rs
  crates/biome_js_analyze/src/lint/suspicious/no_focused_tests.rs
  crates/biome_js_analyze/src/lint/suspicious/no_misplaced_assertion.rs
  crates/biome_js_analyze/src/lint/suspicious/no_skipped_tests.rs
Labels: A-CLI, A-Linter, L-JavaScript

#5878 fix(organizeImports): fix Display impl
  crates/biome_js_analyze/src/assist/source/organize_imports/import_groups.rs
Labels: A-Linter, L-JavaScript

#5880 perf(js_analyze): use Box<str> in more places to reduce memory
  crates/biome_js_analyze/src/lint/correctness/no_nonoctal_decimal_escape.rs
  crates/biome_js_analyze/src/lint/correctness/no_private_imports.rs
  crates/biome_js_analyze/src/lint/correctness/no_undeclared_dependencies.rs
  crates/biome_js_analyze/src/lint/correctness/no_undeclared_variables.rs
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/src/lint/nursery/no_import_cycles.rs
  crates/biome_js_analyze/src/lint/nursery/no_restricted_types.rs
  crates/biome_js_analyze/src/lint/nursery/no_unresolved_imports.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/class_info.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/class_lexer.rs
  crates/biome_js_analyze/src/lint/nursery/use_sorted_classes/sort.rs
  crates/biome_js_analyze/src/lint/style/use_numeric_literals.rs
  crates/biome_js_analyze/src/lint/suspicious/no_duplicate_class_members.rs
  crates/biome_js_analyze/src/lint/suspicious/no_prototype_builtins.rs
  crates/biome_js_analyze/src/lint/suspicious/no_shadow_restricted_names.rs
  crates/biome_js_analyze/src/react/hooks.rs
Labels: A-Linter, L-JavaScript

#5870 feat(yaml_parser): lex plain token
  crates/biome_yaml_parser/src/lexer/mod.rs
  crates/biome_yaml_parser/src/lexer/tests.rs
  crates/biome_yaml_parser/src/token_source.rs
Labels: A-Parser

#5895 feat(yaml): implement BumpWithContext for YamlTokenSource
  crates/biome_yaml_parser/src/token_source.rs
Labels: A-Parser

#5894 feat(yaml): implement rewind and checkpoint for yaml parser
  crates/biome_yaml_parser/src/parser/mod.rs
  crates/biome_yaml_parser/src/token_source.rs
Labels: A-Parser

#5905 fix(watcher): fix failing watcher tests on macOS
  crates/biome_lsp/src/server.tests.rs
  crates/biome_service/src/workspace_watcher.rs
Labels: A-Project, A-LSP

#5902 feat(cli): prettify ESLint config on loading for migration
  crates/biome_cli/src/execute/migrate/node.rs
Labels: A-CLI

#5904 feat(yaml): parse plain node
  Cargo.lock
  crates/biome_yaml_parser/Cargo.toml
  crates/biome_yaml_parser/src/parser/block.rs
  crates/biome_yaml_parser/src/parser/document.rs
  crates/biome_yaml_parser/src/parser/flow.rs
  crates/biome_yaml_parser/src/parser/mod.rs
  crates/biome_yaml_parser/src/parser/parse_error.rs
  crates/biome_yaml_parser/tests/spec_test.rs
  crates/biome_yaml_parser/tests/spec_tests.rs
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/flow/simple_plain.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/flow/simple_plain.yaml.snap
Labels: A-Parser

#5903 fix(cli): support nested `files` property in ESLint flat config
  .changeset/heavy-heads-slide.md
  crates/biome_cli/src/execute/migrate/eslint_eslint.rs
  crates/biome_cli/src/execute/migrate/eslint_to_biome.rs
Labels: A-CLI

#5911 fix(cli): format diagnostic location
  crates/biome_cli/src/execute/diagnostics.rs
  crates/biome_cli/src/execute/traverse.rs
Labels: A-CLI

#5844 feat(linter): useSingleJsDocAsterisk
  .changeset/honest-bikes-smell.md
  Cargo.lock
  Cargo.toml
  crates/biome_analyze/src/rule.rs
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/Cargo.toml
  crates/biome_js_analyze/src/lint/correctness/no_unused_imports.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_single_js_doc_asterisk.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useSingleJsDocAsterisk/invalid-crlf.js
  crates/biome_js_analyze/tests/specs/nursery/useSingleJsDocAsterisk/invalid-crlf.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useSingleJsDocAsterisk/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useSingleJsDocAsterisk/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useSingleJsDocAsterisk/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useSingleJsDocAsterisk/valid.js.snap
  crates/biome_jsdoc_comment/Cargo.toml
  crates/biome_jsdoc_comment/src/format_jsdoc_comment.rs
  crates/biome_jsdoc_comment/src/jsdoc_comment.rs
  crates/biome_jsdoc_comment/src/lib.rs
  crates/biome_module_graph/Cargo.toml
  crates/biome_module_graph/src/format_module_graph.rs
  crates/biome_module_graph/src/js_module_info.rs
  crates/biome_module_graph/src/js_module_info/binding.rs
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/src/js_module_info/visitor.rs
  crates/biome_module_graph/src/lib.rs
  crates/biome_module_graph/tests/spec_test.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#5780 fix(cli): apply `--skip-parse-errors` to lint, check and ci commands
  .changeset/fifty-tips-run.md
  crates/biome_cli/src/commands/check.rs
  crates/biome_cli/src/commands/ci.rs
  crates/biome_cli/src/commands/format.rs
  crates/biome_cli/src/commands/lint.rs
  crates/biome_cli/src/commands/scan_kind.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/execute/process_file/check.rs
  crates/biome_cli/src/execute/process_file/format.rs
  crates/biome_cli/src/execute/process_file/lint_and_assist.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/ci.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_skip_errors.snap
  crates/biome_cli/tests/snapshots/main_commands_check/check_skip_parse_errors.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_skip_errors.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_skip_parse_errors.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_skip_errors.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_skip_parse_errors.snap
Labels: A-CLI, L-JavaScript, L-JSON

#5909 fix(lint/useJsxKeyIterable): reports missing keys inside `if` and `switch`
  .changeset/funny-taxes-camp.md
  crates/biome_js_analyze/src/lint/correctness/use_jsx_key_in_iterable.rs
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/invalid.jsx
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/valid.jsx
  crates/biome_js_analyze/tests/specs/correctness/useJsxKeyInIterable/valid.jsx.snap
Labels: A-Linter, L-JavaScript

#5918 fix(core): track resolver data
  crates/biome_js_analyze/tests/quick_test.rs
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/panicBar.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/panicBar.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/panicFoo.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/panicFoo.ts.snap
  crates/biome_js_type_info/src/flattening.rs
  crates/biome_js_type_info/src/globals.rs
  crates/biome_js_type_info/src/helpers.rs
  crates/biome_js_type_info/src/lib.rs
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_js_type_info/src/resolver.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_static_promise_function.snap
  crates/biome_js_type_info/tests/utils.rs
  crates/biome_module_graph/src/js_module_info.rs
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/src/js_module_info/scoped_resolver.rs
  crates/biome_module_graph/tests/snap/mod.rs
  crates/biome_module_graph/tests/snapshots/test_module_id_handling.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_imported_promise_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_reexported_promise_type.snap
  crates/biome_module_graph/tests/spec_test.rs
Labels: A-Project, A-Linter, L-JavaScript

#5922 chore: upgrade to `oxc-resolver` 8
  Cargo.lock
  Cargo.toml
  crates/biome_module_graph/src/resolver_cache.rs
Labels: A-Project

#5921 fix(core): handle named reexports
  crates/biome_module_graph/src/js_module_info/scoped_resolver.rs
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_reexported_promise_type.snap
  crates/biome_module_graph/tests/spec_test.rs
Labels: A-Project

#5926 perf: faster manifest handling
  biome.json
  crates/biome_js_analyze/src/lib.rs
  crates/biome_js_analyze/src/lint/correctness/no_undeclared_dependencies.rs
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredDependencies/invalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUndeclaredDependencies/invalid.test.js.snap
  crates/biome_module_graph/src/resolver_cache.rs
  crates/biome_module_graph/tests/spec_test.rs
  crates/biome_package/src/lib.rs
  crates/biome_package/src/node_js_package/mod.rs
  crates/biome_package/src/node_js_package/package_json.rs
  crates/biome_package/tests/tsconfig/valid/tsconfig.valid.baseUrl.json.snap
  crates/biome_package/tests/tsconfig/valid/tsconfig.valid.paths.json.snap
  crates/biome_project_layout/src/project_layout.rs
  crates/biome_service/src/file_handlers/mod.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_test_utils/src/lib.rs
Labels: A-Project, A-Linter, L-JavaScript

#5923 fix(analyzer): placeholder shouldn't block signals
  crates/biome_analyze/src/lib.rs
  crates/biome_analyze/src/matcher.rs
  crates/biome_cli/tests/cases/suppressions.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_cases_suppressions/should_emit_diagnostics_for_incorrect_reason.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_rule_ignore_suppression_comments.snap
  crates/biome_suppression/src/lib.rs
Labels: A-CLI, A-Core, A-Linter

#5762 feat(lint): implement `useExhaustiveSwitchCases` - `typescript-eslint/switch-exhaustiveness-check`
  .changeset/strong-taxis-decide.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_exhaustive_switch_cases.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/src/services/typed.rs
  crates/biome_js_analyze/tests/specs/nursery/useExhaustiveSwitchCases/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/useExhaustiveSwitchCases/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useExhaustiveSwitchCases/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useExhaustiveSwitchCases/valid.ts.snap
  crates/biome_js_type_info/src/flattening.rs
  crates/biome_js_type_info/src/type_info.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#5933 fix(core): infer type of dynamic import
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts.snap
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_js_type_info/tests/local_inference.rs
  crates/biome_js_type_info/tests/snapshots/infer_type_of_dynamic_import.snap
Labels: A-Linter, L-JavaScript

#5934 fix(core): fix resolving of (relative) imports
  crates/biome_js_analyze/tests/quick_test.rs
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts.snap
  crates/biome_module_graph/src/js_module_info/scoped_resolver.rs
Labels: A-Project, A-Linter, L-JavaScript

#5930 refactor(lsp): use `tower-lsp-server`
  Cargo.lock
  Cargo.toml
  crates/biome_fs/src/path.rs
  crates/biome_lsp/Cargo.toml
  crates/biome_lsp/src/capabilities.rs
  crates/biome_lsp/src/diagnostics.rs
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/src/handlers/formatting.rs
  crates/biome_lsp/src/handlers/rename.rs
  crates/biome_lsp/src/handlers/text_document.rs
  crates/biome_lsp/src/requests/syntax_tree.rs
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/server.tests.rs
  crates/biome_lsp/src/session.rs
  crates/biome_lsp/src/utils.rs
  crates/biome_lsp_converters/Cargo.toml
  crates/biome_lsp_converters/src/from_proto.rs
  crates/biome_lsp_converters/src/lib.rs
  crates/biome_lsp_converters/src/to_proto.rs
  crates/biome_service/src/file_handlers/javascript.rs
Labels: A-CLI, A-Core, A-Project, A-LSP

#5937 docs(linter): add rule naming and severity choice guidelines
  .changeset/rule-severity-overhaul.md
  crates/biome_analyze/CONTRIBUTING.md
Labels: A-Linter

#5940 fix(core): fix flattening issues
  crates/biome_js_type_info/src/flattening.rs
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_js_type_info/src/resolver.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_module_graph/src/js_module_info/scoped_resolver.rs
Labels: A-Project, L-JavaScript

#5945 fix(core): add guard for flattening depth
  crates/biome_js_type_info/src/flattening.rs
Labels: L-JavaScript

#5951 fix(lint): ignore async and generator callbacks in useIterableCallbackReturn
  crates/biome_js_analyze/src/lint/nursery/use_iterable_callback_return.rs
  crates/biome_js_analyze/tests/specs/nursery/useIterableCallbackReturn/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useIterableCallbackReturn/valid.js.snap
Labels: A-Linter, L-JavaScript

#5912 chore(tests): add test utils for asserting valid snapshots did not generate diagnostics
  Cargo.lock
  crates/biome_css_analyze/tests/spec_tests.rs
  crates/biome_graphql_analyze/tests/spec_tests.rs
  crates/biome_graphql_analyze/tests/specs/nursery/useNamedOperation/valid.graphql
  crates/biome_graphql_analyze/tests/specs/nursery/useNamedOperation/valid.graphql.snap
  crates/biome_graphql_analyze/tests/specs/nursery/useNamingConvention/valid.graphql
  crates/biome_graphql_analyze/tests/specs/nursery/useNamingConvention/valid.graphql.snap
  crates/biome_graphql_analyze/tests/specs/style/useDeprecatedReason/valid.graphql
  crates/biome_graphql_analyze/tests/specs/style/useDeprecatedReason/valid.graphql.snap
  crates/biome_js_analyze/tests/spec_tests.rs
  crates/biome_js_analyze/tests/suppression/source/useSortedAttributes/valid.jsx
  crates/biome_js_analyze/tests/suppression/source/useSortedAttributes/valid.jsx.snap
  crates/biome_js_transform/tests/spec_tests.rs
  crates/biome_json_analyze/tests/spec_tests.rs
  crates/biome_migrate/tests/spec_tests.rs
  crates/biome_test_utils/Cargo.toml
  crates/biome_test_utils/src/lib.rs
Labels: A-Linter, L-JavaScript, L-CSS, L-JSON

#5956 fix(yaml): make indented block in mapping optional
  crates/biome_yaml_factory/src/generated/node_factory.rs
  crates/biome_yaml_factory/src/generated/syntax_factory.rs
  crates/biome_yaml_syntax/src/generated/nodes.rs
  crates/biome_yaml_syntax/src/generated/nodes_mut.rs
  xtask/codegen/yaml.ungram
Labels: A-Parser, A-Tooling

#5955 fix(js_analyze): suggest fix for unused `JsFunctionDeclaration`
  .changeset/afraid-vans-design.md
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_have_cli_override_editorconfig.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_use_editorconfig_check.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_use_editorconfig_check_enabled_from_biome_conf.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_use_editorconfig_ci.snap
  crates/biome_cli/tests/snapshots/main_cases_linter_groups_plain/enables_all_rules_when_group_is_error.snap
  crates/biome_cli/tests/snapshots/main_cases_linter_groups_plain/enables_all_rules_when_group_is_on_with_default_severity.snap
  crates/biome_cli/tests/snapshots/main_cases_rules_via_dependencies/enables_react_rules_via_dependencies.snap
  crates/biome_cli/tests/snapshots/main_cases_rules_via_dependencies/enables_rules_via_dependencies_but_disable_rule_from_config.snap
  crates/biome_cli/tests/snapshots/main_cases_suppressions/err_when_missing_range_end.snap
  crates/biome_cli/tests/snapshots/main_cases_suppressions/syntax_rule_line_suppression.snap
  crates/biome_cli/tests/snapshots/main_cases_suppressions/syntax_rule_range_suppression.snap
  crates/biome_cli/tests/snapshots/main_cases_suppressions/syntax_rule_top_suppression.snap
  crates/biome_cli/tests/snapshots/main_commands_check/apply_unsafe_with_error.snap
  crates/biome_cli/tests/snapshots/main_commands_check/fix_unsafe_with_error.snap
  crates/biome_cli/tests/snapshots/main_commands_check/write_unsafe_with_error.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/apply_unsafe_with_error.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/check_stdin_write_unsafe_successfully.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/fix_unsafe_with_error.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/group_level_recommended_false_enable_specific.snap
  crates/biome_js_analyze/src/lint/correctness/no_unused_variables.rs
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidFunction.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidRecursiveFunctions.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noUnusedVariables/invalidTypeValueSameNames.ts.snap
Labels: A-CLI, A-Linter, L-JavaScript

#5938 fix(parser): should parse Fragment syntax correct
  .changeset/warm-streets-think.md
  crates/biome_js_parser/src/syntax/expr.rs
  crates/biome_js_parser/tests/js_test_suite/ok/logical_expression_with_jsx.tsx
  crates/biome_js_parser/tests/js_test_suite/ok/logical_expression_with_jsx.tsx.snap
  crates/biome_parser/src/parse_lists.rs
Labels: A-Parser, L-JavaScript

#5952 fix(core): scanner tweak: mostly respect ignored dirs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_fs/src/fs.rs
  crates/biome_fs/src/fs/memory.rs
  crates/biome_fs/src/fs/os.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/tests/spec_test.rs
Labels: A-CLI, A-Core, A-Project

#5957 feat(yaml_parser): parse explicit mapping
  crates/biome_yaml_factory/src/generated/node_factory.rs
  crates/biome_yaml_factory/src/generated/syntax_factory.rs
  crates/biome_yaml_parser/src/lexer/mod.rs
  crates/biome_yaml_parser/src/parser/block.rs
  crates/biome_yaml_parser/src/parser/document.rs
  crates/biome_yaml_parser/src/parser/flow.rs
  crates/biome_yaml_parser/src/parser/parse_error.rs
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/explicit_block_mapping.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/explicit_block_mapping.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/flow/simple_plain.yaml.snap
  crates/biome_yaml_syntax/src/generated/kind.rs
  crates/biome_yaml_syntax/src/generated/macros.rs
  crates/biome_yaml_syntax/src/generated/nodes.rs
  crates/biome_yaml_syntax/src/generated/nodes_mut.rs
  crates/biome_yaml_syntax/src/lib.rs
  xtask/codegen/src/yaml_kinds_src.rs
  xtask/codegen/yaml.ungram
Labels: A-Parser, A-Tooling

#5962 refactor(migrate): improve organizeImports migration
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_ariakit.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_knip.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_sentry.snap
  crates/biome_json_syntax/src/object_ext.rs
  crates/biome_migrate/src/analyzers/organize_imports.rs
  crates/biome_migrate/src/analyzers/rule_mover.rs
  crates/biome_migrate/src/analyzers/style_rules.rs
  crates/biome_migrate/tests/specs/migrations/organizeImports/invalid.json.snap
  crates/biome_migrate/tests/specs/migrations/organizeImports/invalid2.json
  crates/biome_migrate/tests/specs/migrations/organizeImports/invalid2.json.snap
  crates/biome_rowan/src/syntax/token.rs
Labels: A-CLI, A-Core, A-Parser, L-JSON

#5920 fix(cli): normalise config-path path
  .changeset/icy-beds-build.md
  crates/biome_cli/src/cli_options.rs
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_check/fs_error_dereferenced_symlink.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/fs_error_dereferenced_symlink.snap
  crates/biome_service/src/workspace/server.rs
Labels: A-CLI, A-Project, L-JavaScript

#5974 fix(lint/useDateNow): add a missing space between words in diagnostic
  crates/biome_js_analyze/src/lint/complexity/use_date_now.rs
  crates/biome_js_analyze/tests/specs/complexity/useDateNow/invalid.js.snap
Labels: A-Linter, L-JavaScript

#5978 docs: type architecture
  crates/biome_js_type_info/CONTRIBUTING.md
Labels: L-JavaScript, A-Documentation

#5965 refactor(migrate): handle already migrated rules
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_migrate_aws_config.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_knip.snap
  crates/biome_migrate/src/analyzers/rule_mover.rs
  crates/biome_migrate/tests/specs/migrations/ruleMover/duplicated.json
  crates/biome_migrate/tests/specs/migrations/ruleMover/duplicated.json.snap
  crates/biome_migrate/tests/specs/migrations/ruleMover/renaming.json
  crates/biome_migrate/tests/specs/migrations/ruleMover/renaming.json.snap
  crates/biome_migrate/tests/specs/migrations/ruleMover/transformed.json.snap
  crates/biome_migrate/tests/specs/migrations/ruleMover/transformed_with_level.json.snap
Labels: A-CLI

#5992 fix(noUselessBackrefInRegex): avoid overflow
  .changeset/kind-colts-post.md
  crates/biome_js_analyze/src/lint/nursery/no_useless_backref_in_regex.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessBackrefInRegex/issue5989.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessBackrefInRegex/issue5989.js.snap
Labels: A-Linter, L-JavaScript

#5994 refactor(migrate): don't unpromote useNamingConvention
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_migrate_issue_5465.snap
  crates/biome_migrate/src/analyzers/rule_mover.rs
Labels: A-CLI

#5993 fix(organizeImports): merge default and named imports
  .changeset/rotten-llamas-hang.md
  crates/biome_js_analyze/src/assist/source/organize_imports.rs
  crates/biome_js_analyze/src/assist/source/organize_imports/import_key.rs
  crates/biome_js_analyze/tests/specs/source/organizeImports/issue5985.js
  crates/biome_js_analyze/tests/specs/source/organizeImports/issue5985.js.snap
Labels: A-Linter, L-JavaScript

#5986 feat(migrate): migrate nested configuration files
  .changeset/whole-clouds-lead.md
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/scan_kind.rs
  crates/biome_cli/src/execute/migrate.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/tests/commands/migrate.rs
  crates/biome_cli/tests/snap_test.rs
  crates/biome_cli/tests/snapshots/main_cases_config_path/set_config_path_to_directory.snap
  crates/biome_cli/tests/snapshots/main_cases_editorconfig/should_not_use_higher_editorconfig_when_find_biome_conf.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_migrate_aws_config.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_migrate_issue_5465.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_ariakit.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_knip.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_sentry.snap
  crates/biome_cli/tests/snapshots/main_commands_format/custom_config_file_path.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/should_migrate_nested_files.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintrcjson_exclude_inspired.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintrcjson_fix.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_eslint/migrate_eslintrcjson_write.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_fix.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_write.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_write_biome_jsonc.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_write_packagejson.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettier_migrate_write_with_ignore_file.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate_prettier/prettierjson_migrate_write.snap
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-CLI, A-Project

#5988 fix(lint): take css modules into consideration
  .changeset/curly-cases-lead.md
  crates/biome_analyze/src/context.rs
  crates/biome_analyze/src/options.rs
  crates/biome_analyze/src/registry.rs
  crates/biome_analyze/src/signals.rs
  crates/biome_css_analyze/src/lint/correctness/no_unknown_pseudo_class.rs
  crates/biome_css_analyze/tests/specs/correctness/noUnknownPseudoClass/invalid.css
  crates/biome_css_analyze/tests/specs/correctness/noUnknownPseudoClass/invalid.css.snap
  crates/biome_css_analyze/tests/specs/correctness/noUnknownPseudoClass/validGlobal.css
  crates/biome_css_analyze/tests/specs/correctness/noUnknownPseudoClass/validGlobal.css.snap
  crates/biome_css_analyze/tests/specs/correctness/noUnknownPseudoClass/validGlobal.options.json
  crates/biome_service/src/file_handlers/css.rs
Labels: A-Project, A-Linter, L-CSS

#5999 fix(lint): `noUnknownPseudoElement` selector check
  .changeset/dull-dogs-leave.md
  crates/biome_css_analyze/src/lint/correctness/no_unknown_pseudo_element.rs
  crates/biome_css_analyze/tests/specs/correctness/noUnknownPseudoElement/valid.css
  crates/biome_css_analyze/tests/specs/correctness/noUnknownPseudoElement/valid.css.snap
Labels: A-Linter, L-CSS

#6006 fix(lsp): compare only the formatted range on range formatting
  .changeset/eleven-feet-heal.md
  crates/biome_lsp/src/handlers/formatting.rs
  crates/biome_lsp/src/server.tests.rs
Labels: A-LSP

#5782 refactor(css_parser): improved error handling for the supports at rule
  .changeset/legal-dodos-train.md
  crates/biome_css_factory/src/generated/node_factory.rs
  crates/biome_css_factory/src/generated/syntax_factory.rs
  crates/biome_css_formatter/src/css/any/supports_condition.rs
  crates/biome_css_formatter/src/css/any/supports_in_parens.rs
  crates/biome_css_formatter/src/css/bogus/bogus_supports_condition.rs
  crates/biome_css_formatter/src/css/bogus/mod.rs
  crates/biome_css_formatter/src/generated.rs
  crates/biome_css_formatter/tests/specs/prettier/css/atrule/supports.css.snap
  crates/biome_css_formatter/tests/specs/prettier/css/postcss-plugins/postcss-nested-props.css.snap
  crates/biome_css_parser/src/syntax/at_rule/container/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/error.rs
  crates/biome_css_parser/src/syntax/at_rule/import.rs
  crates/biome_css_parser/src/syntax/at_rule/mod.rs
  crates/biome_css_parser/src/syntax/at_rule/supports.rs
  crates/biome_css_parser/src/syntax/at_rule/supports/error.rs
  crates/biome_css_parser/src/syntax/at_rule/supports/mod.rs
  crates/biome_css_parser/src/syntax/parse_error.rs
  crates/biome_css_parser/src/syntax/property/mod.rs
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_import/at_rule_import_support_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_import/at_rule_import_support_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_supports/at_rule_supports_and_condition_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_supports/at_rule_supports_and_condition_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_supports/at_rule_supports_invalid_after_support_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_supports/at_rule_supports_invalid_after_support_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_supports/at_rule_supports_not_condition_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_supports/at_rule_supports_not_condition_error.css.snap
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_supports/at_rule_supports_or_condition_error.css
  crates/biome_css_parser/tests/css_test_suite/error/at_rule/at_rule_supports/at_rule_supports_or_condition_error.css.snap
  crates/biome_css_parser/tests/spec_test.rs
  crates/biome_css_syntax/src/generated/kind.rs
  crates/biome_css_syntax/src/generated/macros.rs
  crates/biome_css_syntax/src/generated/nodes.rs
  crates/biome_css_syntax/src/lib.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Formatter, A-Tooling, L-CSS

#6002 fix(reporter): summary with diagnostics
  .changeset/chubby-dancers-design.md
  .changeset/twelve-streets-drop.md
  crates/biome_cli/src/cli_options.rs
  crates/biome_cli/src/execute/mod.rs
  crates/biome_cli/src/reporter/mod.rs
  crates/biome_cli/src/reporter/summary.rs
  crates/biome_cli/src/reporter/terminal.rs
  crates/biome_cli/tests/cases/reporter_summary.rs
  crates/biome_cli/tests/snapshots/main_cases_reporter_summary/reports_diagnostics_summary_check_verbose_command.snap
Labels: A-CLI

#6015 fix(reporter): fixed paths are relative
  crates/biome_cli/src/reporter/summary.rs
  crates/biome_cli/src/reporter/terminal.rs
  crates/biome_css_analyze/src/assist/source/use_sorted_properties.rs
  crates/biome_css_analyze/src/lint/nursery/no_important_styles.rs
  crates/biome_css_analyze/src/lint/nursery/no_unknown_at_rule.rs
  crates/biome_css_analyze/src/lint/nursery/no_useless_escape_in_string.rs
  crates/biome_graphql_analyze/src/lint/nursery/use_named_operation.rs
  crates/biome_graphql_analyze/src/lint/nursery/use_naming_convention.rs
  crates/biome_js_analyze/src/assist/source/use_sorted_keys.rs
  crates/biome_js_analyze/src/lint/correctness/no_private_imports.rs
  crates/biome_js_analyze/src/lint/nursery/no_await_in_loop.rs
  crates/biome_js_analyze/src/lint/nursery/no_bitwise_operators.rs
  crates/biome_js_analyze/src/lint/nursery/no_constant_binary_expression.rs
  crates/biome_js_analyze/src/lint/nursery/no_destructured_props.rs
  crates/biome_js_analyze/src/lint/nursery/no_floating_promises.rs
  crates/biome_js_analyze/src/lint/nursery/no_global_dirname_filename.rs
  crates/biome_js_analyze/src/lint/nursery/no_import_cycles.rs
  crates/biome_js_analyze/src/lint/nursery/no_noninteractive_element_interactions.rs
  crates/biome_js_analyze/src/lint/nursery/no_process_global.rs
  crates/biome_js_analyze/src/lint/nursery/no_restricted_elements.rs
  crates/biome_js_analyze/src/lint/nursery/no_shadow.rs
  crates/biome_js_analyze/src/lint/nursery/no_ts_ignore.rs
  crates/biome_js_analyze/src/lint/nursery/no_unresolved_imports.rs
  crates/biome_js_analyze/src/lint/nursery/no_unwanted_polyfillio.rs
  crates/biome_js_analyze/src/lint/nursery/no_useless_backref_in_regex.rs
  crates/biome_js_analyze/src/lint/nursery/no_useless_escape_in_string.rs
  crates/biome_js_analyze/src/lint/nursery/no_useless_undefined.rs
  crates/biome_js_analyze/src/lint/nursery/use_consistent_object_definition.rs
  crates/biome_js_analyze/src/lint/nursery/use_exhaustive_switch_cases.rs
  crates/biome_js_analyze/src/lint/nursery/use_exports_last.rs
  crates/biome_js_analyze/src/lint/nursery/use_for_component.rs
  crates/biome_js_analyze/src/lint/nursery/use_google_font_preconnect.rs
  crates/biome_js_analyze/src/lint/nursery/use_iterable_callback_return.rs
  crates/biome_js_analyze/src/lint/nursery/use_numeric_separators.rs
  crates/biome_js_analyze/src/lint/nursery/use_parse_int_radix.rs
  crates/biome_js_analyze/src/lint/nursery/use_single_js_doc_asterisk.rs
  crates/biome_js_analyze/src/lint/nursery/use_symbol_description.rs
Labels: A-CLI, A-Linter, L-JavaScript, L-CSS

#6004 feat(cli): support rule without group in `--only` and `--skip`
  .changeset/bright-teeth-like.md
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/lint_only_missing_group.snap
  crates/biome_configuration/src/analyzer/mod.rs
  crates/biome_migrate/src/analyzers/rule_mover.rs
Labels: A-CLI, A-Project

#6024 fix(noDuplicateProperties): don't track `@keyframes`
  .changeset/pretty-vans-appear.md
  crates/biome_css_analyze/src/lint/suspicious/no_duplicate_properties.rs
  crates/biome_css_analyze/tests/specs/suspicious/noDuplicateProperties/valid_6022.css
  crates/biome_css_analyze/tests/specs/suspicious/noDuplicateProperties/valid_6022.css.snap
  crates/biome_css_semantic/src/events.rs
  crates/biome_css_semantic/src/semantic_model/builder.rs
  crates/biome_css_semantic/src/semantic_model/model.rs
Labels: A-Linter, L-CSS

#6010 feat: added an option to files - maxSize see [#5295](https://github.c…
  .changeset/open-oranges-sell.md
  crates/biome_cli/tests/cases/mod.rs
  crates/biome_cli/tests/cases/overrides_max_file_size.rs
  crates/biome_cli/tests/snapshots/main_cases_overrides_max_file_size/overrides_files_max_size_ignored_includes_does_not_match_filename.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_max_file_size/overrides_files_max_size_ignored_includes_does_not_match_filename_invalid_format_check.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_max_file_size/overrides_files_max_size_ignored_includes_does_not_match_filename_invalid_format_format.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_max_file_size/overrides_files_max_size_option_invalid_value.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_max_file_size/overrides_files_max_size_option_pass.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_max_file_size/overrides_files_max_size_too_large_limit_check.snap
  crates/biome_cli/tests/snapshots/main_cases_overrides_max_file_size/overrides_files_max_size_too_large_limit_format.snap
  crates/biome_configuration/src/lib.rs
  crates/biome_configuration/src/overrides.rs
  crates/biome_configuration/tests/invalid/overrides/incorrect_key.json.snap
  crates/biome_service/src/projects.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/settings.tests.rs
  crates/biome_service/src/workspace/server.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project

#6032 fix(core): only trigger on ServiceDataNotification per scan
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace/watcher.rs
  crates/biome_service/src/workspace/watcher.tests.rs
  crates/biome_service/src/workspace_watcher.rs
Labels: A-Project

#6000 feat(yaml): parse implicit block mapping
  crates/biome_yaml_factory/src/generated/node_factory.rs
  crates/biome_yaml_factory/src/generated/syntax_factory.rs
  crates/biome_yaml_parser/src/parser/block.rs
  crates/biome_yaml_parser/src/parser/flow.rs
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/implicit_block_mapping_empty_value.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/implicit_block_mapping_empty_value.yaml.snap
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/simple_block_mapping.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/simple_block_mapping.yaml.snap
  crates/biome_yaml_syntax/src/generated/nodes.rs
  crates/biome_yaml_syntax/src/generated/nodes_mut.rs
  xtask/codegen/yaml.ungram
Labels: A-Parser, A-Tooling

#6035 fix(analyzer): fix plugin diagnostic suppression + resolve double diagnostics
  crates/biome_analyze/src/lib.rs
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/snapshots/main_commands_check/check_plugin_suppressions.snap
  crates/biome_grit_patterns/src/grit_context.rs
  crates/biome_service/src/snapshots/biome_service__workspace__tests__plugins_can_use_custom_severity.snap
  crates/biome_service/src/workspace/server.rs
Labels: A-CLI, A-Project, A-Linter, L-Grit

#6041 chore: remove log
  crates/biome_service/src/settings.rs
Labels: A-Project

#6042 fix(lint/noUselessEscapeInString): avoid false positive for `\${` escape in template literals
  .changeset/rotten-birds-greet.md
  crates/biome_js_analyze/src/lint/nursery/no_useless_escape_in_string.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInString/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInString/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInString/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInString/valid.js.snap
Labels: A-Linter, L-JavaScript

#5964 feat(lint): implement `useAdjacentGetterSetter` rule
  .changeset/chatty-schools-win.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_adjacent_getter_setter.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useAdjacentGetterSetter/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/useAdjacentGetterSetter/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/nursery/useAdjacentGetterSetter/valid.ts
  crates/biome_js_analyze/tests/specs/nursery/useAdjacentGetterSetter/valid.ts.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#6046 chore: change version of `useAdjacentGetterSetter`
  crates/biome_js_analyze/src/lint/nursery/use_adjacent_getter_setter.rs
Labels: A-Linter, L-JavaScript

#6047 fix(lsp): scope `workspace/configuration` request to workspace folder
  crates/biome_lsp/src/session.rs
Labels: A-LSP

#6044 fix(lint/noUselessEscapeInString): flag useless escapes after skipping \${ in template literals
  .changeset/petite-rats-sniff.md
  crates/biome_js_analyze/src/lint/nursery/no_useless_escape_in_string.rs
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInString/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInString/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInString/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noUselessEscapeInString/valid.js.snap
Labels: A-Linter, L-JavaScript

#6048 fix(formatter): keep newline before semicolon in the previous statement
  .changeset/strong-kids-retire.md
  crates/biome_js_formatter/src/js/statements/expression_statement.rs
  crates/biome_js_formatter/tests/specs/js/module/no-semi/issue6029.js
  crates/biome_js_formatter/tests/specs/js/module/no-semi/issue6029.js.snap
Labels: A-Formatter, L-JavaScript

#6054 feat(yaml): allows omitting value in explicit mapping
  crates/biome_yaml_parser/src/parser/block.rs
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/explicit_block_mapping_with_empty_value.yaml
  crates/biome_yaml_parser/tests/yaml_test_suite/ok/block/explicit_block_mapping_with_empty_value.yaml.snap
Labels: A-Parser

#6057 refactor(xtask): promote-rule to move-rule
  justfile
  xtask/codegen/src/lib.rs
  xtask/codegen/src/main.rs
  xtask/codegen/src/move_rule.rs
  xtask/codegen/src/promote_rule.rs
Labels: A-Tooling

#6059 refactor(lint): move noFlatMapIdentity, useArrayLiterals, noWith
  .changeset/rule-promotion.md
  benchmark/biome.json
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_cli/tests/snapshots/main_commands_lint/linter_shows_the_default_severity_of_rule_on.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_linter_configuration.snap
  crates/biome_cli/tests/snapshots/main_configuration/incorrect_rule_name.snap
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/complexity.rs
  crates/biome_js_analyze/src/lint/complexity/no_flat_map_identity.rs
  crates/biome_js_analyze/src/lint/correctness.rs
  crates/biome_js_analyze/src/lint/style.rs
  crates/biome_js_analyze/src/lint/style/use_array_literals.rs
  crates/biome_js_analyze/src/lint/suspicious.rs
  crates/biome_js_analyze/src/lint/suspicious/no_with.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/complexity/noFlatMapIdentity/invalid.js
  crates/biome_js_analyze/tests/specs/complexity/noFlatMapIdentity/invalid.js.snap
  crates/biome_js_analyze/tests/specs/complexity/noFlatMapIdentity/valid.js
  crates/biome_js_analyze/tests/specs/complexity/noFlatMapIdentity/valid.js.snap
  crates/biome_js_analyze/tests/specs/style/useArrayLiterals/invalid.js
  crates/biome_js_analyze/tests/specs/style/useArrayLiterals/invalid.js.snap
  crates/biome_js_analyze/tests/specs/style/useArrayLiterals/valid.js
  crates/biome_js_analyze/tests/specs/style/useArrayLiterals/valid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noWith/invalid.cjs
  crates/biome_js_analyze/tests/specs/suspicious/noWith/invalid.cjs.snap
  crates/biome_js_analyze/tests/specs/suspicious/noWith/invalid.js.snap
  crates/biome_js_analyze/tests/specs/suspicious/noWith/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#6061 refactor(lint): move useValidTypeof, noNamespaceImport, useNumericLit…
  .changeset/rule-promotion.md
  benchmark/biome.json
  benchmark/ts-biome.json
  biome.json
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_migrate_issue_5465.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/linter_shows_the_default_severity_of_rule_on.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_linter_configuration.snap
  crates/biome_cli/tests/snapshots/main_configuration/incorrect_rule_name.snap
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/complexity.rs
  crates/biome_js_analyze/src/lint/complexity/use_numeric_literals.rs
  crates/biome_js_analyze/src/lint/correctness.rs
  crates/biome_js_analyze/src/lint/correctness/use_valid_typeof.rs
  crates/biome_js_analyze/src/lint/performance.rs
  crates/biome_js_analyze/src/lint/performance/no_namespace_import.rs
  crates/biome_js_analyze/src/lint/style.rs
  crates/biome_js_analyze/src/lint/suspicious.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/complexity/useNumericLiterals/invalid.js
  crates/biome_js_analyze/tests/specs/complexity/useNumericLiterals/invalid.js.snap
  crates/biome_js_analyze/tests/specs/complexity/useNumericLiterals/overriden.js
  crates/biome_js_analyze/tests/specs/complexity/useNumericLiterals/overriden.js.snap
  crates/biome_js_analyze/tests/specs/complexity/useNumericLiterals/valid.js
  crates/biome_js_analyze/tests/specs/complexity/useNumericLiterals/valid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useValidTypeof/invalid.js
  crates/biome_js_analyze/tests/specs/correctness/useValidTypeof/invalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useValidTypeof/valid.js
  crates/biome_js_analyze/tests/specs/correctness/useValidTypeof/valid.js.snap
  crates/biome_js_analyze/tests/specs/performance/noNamespaceImport/invalid.js
  crates/biome_js_analyze/tests/specs/performance/noNamespaceImport/invalid.js.snap
  crates/biome_js_analyze/tests/specs/performance/noNamespaceImport/valid.ts
  crates/biome_js_analyze/tests/specs/performance/noNamespaceImport/valid.ts.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/valid_existing_not_related_group.json
  crates/biome_migrate/tests/specs/migrations/styleRules/valid_existing_not_related_group.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#6062 refactor(lint/useConst): recommend the rule
  .changeset/rule-promotion.md
  crates/biome_cli/tests/commands/check.rs
  crates/biome_cli/tests/commands/lint.rs
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_migrate_aws_config.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_migrate_issue_5465.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_ariakit.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_knip.snap
  crates/biome_cli/tests/snapshots/main_cases_suppressions/misplaced_top_level_suppression.snap
  crates/biome_cli/tests/snapshots/main_commands_check/apply_suggested.snap
  crates/biome_cli/tests/snapshots/main_commands_check/apply_suggested_error.snap
  crates/biome_cli/tests/snapshots/main_commands_check/apply_unsafe_with_error.snap
  crates/biome_cli/tests/snapshots/main_commands_check/fix_unsafe_with_error.snap
  crates/biome_cli/tests/snapshots/main_commands_check/print_json.snap
  crates/biome_cli/tests/snapshots/main_commands_check/print_json_pretty.snap
  crates/biome_cli/tests/snapshots/main_commands_check/write_unsafe_with_error.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/ci_runs_linter_not_formatter_issue_3495.snap
  crates/biome_cli/tests/snapshots/main_commands_ci/correctly_handles_ignored_and_not_ignored_files.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/apply_suggested.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/apply_suggested_error.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/apply_unsafe_with_error.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/fix_suggested.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/fix_unsafe_with_error.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/ignore_file_in_subdir_in_symlinked_dir.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/include_files_in_subdir.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/include_files_in_symlinked_subdir.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/migrate_config_up_to_date.snap
  crates/biome_cli/tests/snapshots/main_commands_migrate/should_migrate_nested_files.snap
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_js_analyze/src/lint/style/use_const.rs
  crates/biome_migrate/src/analyzers/style_rules.rs
  crates/biome_migrate/tests/specs/migrations/styleRules/empty.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/realCase.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/valid.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_linter.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_rules.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_style_rule.json.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_styles.json.snap
Labels: A-CLI, A-Project, A-Linter, L-JavaScript

#6063 refactor(lint): upgrade some unsafe fixes to safe fixes
  .changeset/rule-fix.md
  crates/biome_js_analyze/src/lint/complexity/no_extra_boolean_cast.rs
  crates/biome_js_analyze/src/lint/complexity/no_this_in_static.rs
  crates/biome_js_analyze/src/lint/complexity/no_useless_string_concat.rs
  crates/biome_js_analyze/src/lint/complexity/no_useless_string_raw.rs
  crates/biome_js_analyze/src/lint/complexity/use_numeric_literals.rs
  crates/biome_js_analyze/src/lint/complexity/use_simplified_logic_expression.rs
  crates/biome_js_analyze/src/lint/correctness/no_nonoctal_decimal_escape.rs
  crates/biome_js_analyze/src/lint/correctness/no_switch_declarations.rs
  crates/biome_js_analyze/src/lint/correctness/no_useless_continue.rs
  crates/biome_js_analyze/src/lint/style/no_unused_template_literal.rs
  crates/biome_js_analyze/src/lint/style/no_useless_else.rs
  crates/biome_js_analyze/src/lint/style/use_array_literals.rs
  crates/biome_js_analyze/src/lint/style/use_exponentiation_operator.rs
  crates/biome_js_analyze/src/lint/suspicious/use_number_to_fixed_digits_argument.rs
  crates/biome_js_analyze/tests/specs/complexity/noExtraBooleanCast/invalid.js.snap
  crates/biome_js_analyze/tests/specs/complexity/noThisInStatic/invalid.js.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessStringConcat/invalid.js
  crates/biome_js_analyze/tests/specs/complexity/noUselessStringConcat/invalid.js.snap
  crates/biome_js_analyze/tests/specs/complexity/useNumericLiterals/invalid.js.snap
  crates/biome_js_analyze/tests/specs/complexity/useSimplifiedLogicExpression/invalid.js
  crates/biome_js_analyze/tests/specs/complexity/useSimplifiedLogicExpression/invalid.js.snap
  crates/biome_js_analyze/tests/specs/complexity/useSimplifiedLogicExpression/invalid.jsonc
  crates/biome_js_analyze/tests/specs/complexity/useSimplifiedLogicExpression/invalid.jsonc.snap
  crates/biome_js_analyze/tests/specs/complexity/useSimplifiedLogicExpression/valid.js
  crates/biome_js_analyze/tests/specs/complexity/useSimplifiedLogicExpression/valid.js.snap
  crates/biome_js_analyze/tests/specs/complexity/useSimplifiedLogicExpression/valid.jsonc
  crates/biome_js_analyze/tests/specs/correctness/noNonoctalDecimalEscape/invalid.js.snap
  crates/biome_js_analyze/tests/specs/correctness/noSwitchDeclarations/invalid.jsonc.snap
  crates/biome_js_analyze/tests/specs/correctness/noSwitchDeclarations/invalid.ts.snap
  crates/biome_js_analyze/tests/specs/correctness/noUselessContinue/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useParseIntRadix/invalid.js.snap
  crates/biome_js_analyze/tests/specs/style/noUnusedTemplateLiteral/invalid.js
  crates/biome_js_analyze/tests/specs/style/noUnusedTemplateLiteral/invalid.js.snap
  crates/biome_js_analyze/tests/specs/style/noUselessElse/invalid.js.snap
  crates/biome_js_analyze/tests/specs/style/useArrayLiterals/invalid.js.snap
  crates/biome_js_analyze/tests/specs/style/useExponentiationOperator/invalid.js
  crates/biome_js_analyze/tests/specs/style/useExponentiationOperator/invalid.js.snap
  crates/biome_js_analyze/tests/specs/style/useExponentiationOperator/invalidAdjacentTokens.js.snap
  crates/biome_js_analyze/tests/specs/style/useExponentiationOperator/invalidBaseExpoentHigherPrecedence.js.snap
  crates/biome_js_analyze/tests/specs/style/useExponentiationOperator/invalidBaseExpoentLowerPrecedence.js.snap
  crates/biome_js_analyze/tests/specs/style/useExponentiationOperator/invalidClass.ts.snap
  crates/biome_js_analyze/tests/specs/style/useExponentiationOperator/invalidParentsWithHigherPrecedence.js.snap
  crates/biome_js_analyze/tests/specs/style/useExponentiationOperator/invalidParentsWithLowerPrecedence.js.snap
  crates/biome_js_analyze/tests/specs/style/useExponentiationOperator/invalidUnaryExpression.js.snap
  crates/biome_js_analyze/tests/specs/style/useExponentiationOperator/invalidWithComments.js.snap
Labels: A-Linter, L-JavaScript

#6068 refactor(lint/noUselessContinue): move rule to complexity
  .changeset/rule-promotion.md
  .changeset/six-friends-lick.md
  .changeset/witty-plants-ring.md
  crates/biome_cli/tests/snapshots/main_commands_rage/with_linter_configuration.snap
  crates/biome_cli/tests/snapshots/main_configuration/incorrect_rule_name.snap
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/complexity.rs
  crates/biome_js_analyze/src/lint/complexity/no_useless_continue.rs
  crates/biome_js_analyze/src/lint/correctness.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/complexity/noUselessContinue/invalid.js
  crates/biome_js_analyze/tests/specs/complexity/noUselessContinue/invalid.js.snap
  crates/biome_js_analyze/tests/specs/complexity/noUselessContinue/valid.js
  crates/biome_js_analyze/tests/specs/complexity/noUselessContinue/valid.js.snap
  crates/biome_migrate/tests/specs/migrations/ruleMover/duplicated.json
  crates/biome_migrate/tests/specs/migrations/ruleMover/duplicated.json.snap
  crates/biome_migrate/tests/specs/migrations/ruleMover/renaming.json
  crates/biome_migrate/tests/specs/migrations/ruleMover/renaming.json.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#6053 feat(lint): implement `noNestedComponentDefinitions` rule
  .changeset/eight-spies-double.md
  crates/biome_analyze/src/rule.rs
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_nested_component_definitions.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noNestedComponentDefinitions/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/noNestedComponentDefinitions/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noNestedComponentDefinitions/valid.js
  crates/biome_js_analyze/tests/specs/nursery/noNestedComponentDefinitions/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#6052 fix(core/lsp): correctly compute ignored files
  .changeset/smart-peas-lie.md
  crates/biome_cli/src/execute/traverse.rs
  crates/biome_fs/src/fs/os.rs
  crates/biome_fs/src/interner.rs
  crates/biome_fs/src/path.rs
  crates/biome_grit_parser/src/lib.rs
  crates/biome_js_parser/src/parse.rs
  crates/biome_json_parser/src/lib.rs
  crates/biome_lsp/src/handlers/analysis.rs
  crates/biome_lsp/src/handlers/formatting.rs
  crates/biome_lsp/src/handlers/rename.rs
  crates/biome_lsp/src/handlers/text_document.rs
  crates/biome_lsp/src/requests/syntax_tree.rs
  crates/biome_lsp/src/server.rs
  crates/biome_lsp/src/session.rs
  crates/biome_service/src/dome.rs
  crates/biome_service/src/lib.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/tests/fixtures/basic/.gitignore
  crates/biome_service/tests/fixtures/basic/biome.jsonc
  crates/biome_service/tests/fixtures/basic/frontend/node_modules/shared
  crates/biome_service/tests/fixtures/basic/frontend/package.json
  crates/biome_service/tests/fixtures/basic/frontend/src/bar.ts
  crates/biome_service/tests/fixtures/basic/frontend/src/index.ts
  crates/biome_service/tests/fixtures/basic/frontend/tsconfig.json
  crates/biome_service/tests/fixtures/basic/node_modules/common/node_modules/shared
  crates/biome_service/tests/fixtures/basic/node_modules/shared/dist/index.d.mts
  crates/biome_service/tests/fixtures/basic/node_modules/shared/dist/index.js
  crates/biome_service/tests/fixtures/basic/node_modules/shared/dist/index.mjs
  crates/biome_service/tests/fixtures/basic/node_modules/shared/node_modules/utils
  crates/biome_service/tests/fixtures/basic/node_modules/shared/package.json
  crates/biome_service/tests/fixtures/basic/node_modules/utils/node_modules/common
  crates/biome_service/tests/fixtures/dist/to_ignore.js
  crates/biome_service/tests/fixtures/with_ignores/.gitignore
  crates/biome_service/tests/fixtures/with_ignores/biome.jsonc
  crates/biome_service/tests/fixtures/with_ignores/file.js
  crates/biome_service/tests/fixtures/with_ignores/ignoredB/not_ignored.js
  crates/biome_service/tests/spec_test.rs
Labels: A-CLI, A-Core, A-Project, A-Parser, A-LSP, L-JavaScript, L-JSON, L-Grit

#6080 fix(linter): noFloatingPromises detects "maybe" Promises
  crates/biome_js_analyze/src/lint/nursery/no_floating_promises.rs
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts
  crates/biome_js_analyze/tests/specs/nursery/noFloatingPromises/invalid.ts.snap
  crates/biome_js_type_info/src/type_info.rs
Labels: A-Linter, L-JavaScript

#6087 docs: update contribution guides
  CONTRIBUTING.md
  crates/biome_analyze/CONTRIBUTING.md
Labels: A-Linter

#6090 refactor(lint): move noArguments and noCommaOperator to complexity
  .changeset/rule-promotion.md
  benchmark/biome.json
  benchmark/ts-biome.json
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_cli/tests/cases/linter_groups_plain.rs
  crates/biome_cli/tests/snapshots/main_cases_linter_groups_plain/enables_all_rules_when_group_is_error.snap
  crates/biome_cli/tests/snapshots/main_cases_linter_groups_plain/enables_all_rules_when_group_is_on_with_default_severity.snap
  crates/biome_cli/tests/snapshots/main_cases_migrate_v2/should_successfully_migrate_sentry.snap
  crates/biome_cli/tests/snapshots/main_commands_check/apply_unsafe_with_error.snap
  crates/biome_cli/tests/snapshots/main_commands_check/fix_unsafe_with_error.snap
  crates/biome_cli/tests/snapshots/main_commands_check/write_unsafe_with_error.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/apply_unsafe_with_error.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/fix_unsafe_with_error.snap
  crates/biome_cli/tests/snapshots/main_commands_lint/linter_shows_the_default_severity_of_rule_on.snap
  crates/biome_cli/tests/snapshots/main_commands_rage/with_linter_configuration.snap
  crates/biome_cli/tests/snapshots/main_configuration/incorrect_rule_name.snap
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/complexity.rs
  crates/biome_js_analyze/src/lint/complexity/no_arguments.rs
  crates/biome_js_analyze/src/lint/complexity/no_comma_operator.rs
  crates/biome_js_analyze/src/lint/style.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/complexity/noArguments/invalid.cjs
  crates/biome_js_analyze/tests/specs/complexity/noArguments/invalid.cjs.snap
  crates/biome_js_analyze/tests/specs/complexity/noCommaOperator/invalid.jsonc
  crates/biome_js_analyze/tests/specs/complexity/noCommaOperator/invalid.jsonc.snap
  crates/biome_js_analyze/tests/specs/complexity/noCommaOperator/valid.jsonc
  crates/biome_js_analyze/tests/specs/complexity/noCommaOperator/valid.jsonc.snap
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_style_rule.json
  crates/biome_migrate/tests/specs/migrations/styleRules/with_existing_style_rule.json.snap
  crates/biome_service/src/lib.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#6092 refactor(lint/useLiteralKeys): handle numeric keys
  .changeset/use-literal-keys-enhancements.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_js_analyze/src/lint/complexity/use_literal_keys.rs
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/invalid.js
  crates/biome_js_analyze/tests/specs/complexity/useLiteralKeys/invalid.js.snap
Labels: A-CLI, A-Linter, L-JavaScript

#6096 test: cover domains case
  crates/biome_cli/tests/cases/linter_domains.rs
  crates/biome_cli/tests/snapshots/main_cases_linter_domains/does_enable_test_rules_when_recommended_rules_are_disabled_but_domain_is_enabled.snap
Labels: A-CLI

#6098 fix(core): don't ignore required files
  crates/biome_fs/src/path.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/tests/fixtures/with_ignored_required_files/.gitignore
  crates/biome_service/tests/fixtures/with_ignored_required_files/biome.jsonc
  crates/biome_service/tests/fixtures/with_ignored_required_files/dist/package.json
  crates/biome_service/tests/fixtures/with_ignored_required_files/file.js
  crates/biome_service/tests/fixtures/with_ignored_required_files/package.json
  crates/biome_service/tests/spec_test.rs
Labels: A-CLI, A-Core, A-Project

#6103 refactor: module type and type member refactoring
  crates/biome_js_type_info/src/flattening.rs
  crates/biome_js_type_info/src/format_type_info.rs
  crates/biome_js_type_info/src/globals.rs
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_js_type_info/src/resolver.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_direct_promise_instance.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_double_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_from_static_promise_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_of_async_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_of_destructured_array_element.snap
  crates/biome_js_type_info/tests/snapshots/infer_flattened_type_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_from_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_from_direct_promise_instance.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_from_double_chained_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_from_invocation_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_from_static_promise_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_of_async_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_of_destructured_array_element.snap
  crates/biome_js_type_info/tests/snapshots/infer_resolved_type_of_promise_returning_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_array.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_async_function.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_destructured_array_element.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_function_with_destructured_arguments.snap
  crates/biome_js_type_info/tests/snapshots/infer_type_of_promise_returning_function.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_export_type_referencing_imported_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_export_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_exports.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_imported_promise_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_promise_from_imported_function_returning_reexported_promise_type.snap
  crates/biome_service/src/snapshots/biome_service__workspace__tests__debug_registered_types.snap
  crates/biome_service/src/snapshots/biome_service__workspace__tests__debug_type_info.snap
Labels: A-Project, L-JavaScript

#6109 fix(core): process root ignore first
  crates/biome_cli/tests/snapshots/main_commands_migrate/should_migrate_nested_files.snap
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace/scanner.rs
Labels: A-CLI, A-Project

#6113 fix(analyzer): provide syntax rule suppression actions
  .changeset/deep-showers-rush.md
  crates/biome_analyze/src/rule.rs
  crates/biome_js_analyze/src/syntax/correctness/no_super_without_extends.rs
  crates/biome_js_analyze/tests/suppression/correctness/noSuperWithoutExtends/invalid.js
  crates/biome_js_analyze/tests/suppression/correctness/noSuperWithoutExtends/invalid.js.snap
  crates/biome_js_analyze/tests/suppression/correctness/noUndeclaredVariables/noUndeclaredVariables.ts
  crates/biome_js_analyze/tests/suppression/correctness/noUndeclaredVariables/noUndeclaredVariables.ts.snap
Labels: A-Linter, L-JavaScript

#6115 feat(core): improve inference on `.d.ts` files
  crates/biome_js_analyze/src/lint/correctness/no_invalid_use_before_declaration.rs
  crates/biome_js_analyze/src/lint/correctness/no_unused_variables.rs
  crates/biome_js_analyze/src/lint/correctness/use_exhaustive_dependencies.rs
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
  crates/biome_js_semantic/src/events.rs
  crates/biome_js_syntax/src/binding_ext.rs
  crates/biome_js_type_info/src/flattening.rs
  crates/biome_js_type_info/src/local_inference.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_module_graph/src/js_module_info/binding.rs
  crates/biome_module_graph/src/js_module_info/visitor.rs
  crates/biome_module_graph/tests/snapshots/test_export_const_type_declaration_with_namespace.snap
  crates/biome_module_graph/tests/spec_tests.rs
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, A-Parser, L-JavaScript

#6082 feat(lint): implement useUniqueElementIds
  .changeset/famous-crabs-bathe.md
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_unique_element_ids.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useUniqueElementIds/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useUniqueElementIds/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/useUniqueElementIds/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/useUniqueElementIds/valid.jsx.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript, A-Diagnostic

#6120 feat(core): populate members of namespaces and modules
  crates/biome_js_type_info/src/helpers.rs
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/tests/snapshots/test_export_const_type_declaration_with_namespace.snap
Labels: A-Project, L-JavaScript

#6124 refactor: abstract/reuse react component detection logic
  crates/biome_js_analyze/src/lint/correctness/use_hook_at_top_level.rs
  crates/biome_js_analyze/src/lint/nursery/no_nested_component_definitions.rs
  crates/biome_js_analyze/src/lint/style/use_component_export_only_modules.rs
  crates/biome_js_analyze/src/react.rs
  crates/biome_js_analyze/src/react/components.rs
  crates/biome_js_analyze/src/react/hooks.rs
  crates/biome_js_analyze/tests/specs/nursery/noNestedComponentDefinitions/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/noNestedComponentDefinitions/invalidDefaultExpression.js
  crates/biome_js_analyze/tests/specs/nursery/noNestedComponentDefinitions/invalidDefaultExpression.js.snap
  crates/biome_js_analyze/tests/specs/style/useComponentExportOnlyModules/invalid_hooked_non_component.jsx
  crates/biome_js_analyze/tests/specs/style/useComponentExportOnlyModules/invalid_hooked_non_component.jsx.snap
  crates/biome_js_analyze/tests/specs/style/useComponentExportOnlyModules/valid_component_and_pascalcase_variable.jsx
  crates/biome_js_analyze/tests/specs/style/useComponentExportOnlyModules/valid_component_and_pascalcase_variable.jsx.snap
  crates/biome_js_analyze/tests/specs/style/useComponentExportOnlyModules/valid_default_component.jsx
  crates/biome_js_analyze/tests/specs/style/useComponentExportOnlyModules/valid_default_component.jsx.snap
  crates/biome_js_syntax/src/export_ext.rs
Labels: A-Linter, A-Parser, L-JavaScript

#5960 feat(linter): implement useConsistentResponse
  .changeset/chubby-carpets-wink.md
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_consistent_response.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useConsistentResponse/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useConsistentResponse/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useConsistentResponse/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useConsistentResponse/valid.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project, A-Linter, L-JavaScript, A-Diagnostic

#6123 docs(useNamingConvention): improve description of conventions
  crates/biome_js_analyze/src/lint/style/use_naming_convention.rs
Labels: A-Linter, L-JavaScript

#6127 fix(linter): change default syntax from explicit to shorthand for useConsistentObjectDefinition
  crates/biome_js_analyze/src/lint/nursery/use_consistent_object_definition.rs
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Linter, L-JavaScript

#6132 fix(analyzer): useSortedProperties should skip unknown properties
  .changeset/light-things-relate.md
  crates/biome_css_analyze/src/assist/source/use_sorted_properties.rs
  crates/biome_css_analyze/tests/quick_test.rs
  crates/biome_css_analyze/tests/specs/source/useSortedProperties/invalid.css.snap
  crates/biome_css_analyze/tests/specs/source/useSortedProperties/valid.css
  crates/biome_css_analyze/tests/specs/source/useSortedProperties/valid.css.snap
Labels: A-Linter, L-CSS

#6125 fix(lsp): custom configuration path should not override the working directory
  crates/biome_configuration/src/lib.rs
  crates/biome_lsp/src/extension_settings.rs
  crates/biome_lsp/src/session.rs
Labels: A-Project, A-LSP

#6155 refactor: avoid unnecessary document retrieval
  crates/biome_module_graph/src/module_graph.rs
  crates/biome_parser/src/lib.rs
  crates/biome_service/src/workspace/server.rs
  crates/biome_service/src/workspace/watcher.rs
  crates/biome_test_utils/src/lib.rs
Labels: A-Project, A-Parser

#6129 feat(lint): implement `useObjectSpread` rule
  .changeset/puny-lands-drop.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/use_object_spread.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/useObjectSpread/invalid.js
  crates/biome_js_analyze/tests/specs/nursery/useObjectSpread/invalid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useObjectSpread/valid.js
  crates/biome_js_analyze/tests/specs/nursery/useObjectSpread/valid.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useObjectSpread/validCustomObject.js
  crates/biome_js_analyze/tests/specs/nursery/useObjectSpread/validCustomObject.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useObjectSpread/validImportedObject.js
  crates/biome_js_analyze/tests/specs/nursery/useObjectSpread/validImportedObject.js.snap
  crates/biome_js_analyze/tests/specs/nursery/useObjectSpread/validRequiredObject.js
  crates/biome_js_analyze/tests/specs/nursery/useObjectSpread/validRequiredObject.js.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#6117 feat: add plugins to override config
  Cargo.lock
  crates/biome_configuration/src/overrides.rs
  crates/biome_configuration/src/plugins.rs
  crates/biome_configuration/tests/invalid/overrides/incorrect_key.json.snap
  crates/biome_plugin_loader/Cargo.toml
  crates/biome_plugin_loader/src/diagnostics.rs
  crates/biome_plugin_loader/src/plugin_cache.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/snapshots/biome_service__workspace__tests__diagnostics___project__a.ts.snap
  crates/biome_service/src/snapshots/biome_service__workspace__tests__diagnostics___project__lib__b.ts.snap
  crates/biome_service/src/workspace.tests.rs
  crates/biome_service/src/workspace/server.rs
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-Project

#6158 fix(js-semantic): don't bind the parameter to its parameter
  .changeset/moody-cobras-win.md
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/issue6144.ts
  crates/biome_js_analyze/tests/specs/correctness/noUnusedImports/issue6144.ts.snap
  crates/biome_js_semantic/src/events.rs
Labels: A-Linter, L-JavaScript

#6169 chore(format/html): remove dead code around comment formatting
  crates/biome_html_formatter/src/comments.rs
  crates/biome_html_formatter/src/context.rs
Labels: A-Formatter, L-HTML

#6174 fix(core): use single ignore list for scanner
  crates/biome_service/src/workspace/scanner.rs
Labels: A-Project

#6175 fix: resolve settings based on path
  benchmark/bench.js
  benchmark/biome.json
  benchmark/dprint.json
  benchmark/eslint.config.js
  benchmark/ts-eslint.config.js
  benchmark/tsconfig.json
  crates/biome_cli/tests/snapshots/main_cases_monorepo/should_format_nested_files_differently.snap
  crates/biome_configuration/src/extends.rs
  crates/biome_configuration/src/lib.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_plugin_loader/src/lib.rs
  crates/biome_plugin_loader/src/plugin_cache.rs
  crates/biome_service/src/projects.rs
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace/server.rs
  e2e-tests/relative-path-ignore-file/biome.json
  e2e-tests/relative-path/biome.json
  e2e-tests/relative-path/src/file.js
  e2e-tests/relative-path/test.sh
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, L-JavaScript

#6176 refactor(js_type_info): avoid allocating a String upon number parsing
  crates/biome_js_type_info/src/type_info/literal.rs
Labels: L-JavaScript

#6179 fix(core): fix extending nested configs
  biome.json
  crates/biome_cli/src/commands/mod.rs
  crates/biome_cli/src/commands/scan_kind.rs
  crates/biome_cli/tests/cases/monorepo.rs
  crates/biome_cli/tests/snapshots/main_cases_monorepo/should_extend_from_the_root_config.snap
  crates/biome_service/src/settings.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-CLI, A-Project

#6180 perf: perform fewer clones for ignore checks
  crates/biome_service/src/projects.rs
  crates/biome_service/src/workspace/scanner.rs
  crates/biome_service/src/workspace/server.rs
Labels: A-Project

#6173 feat(core): improved namespace merging
  crates/biome_js_type_info/src/flattening.rs
  crates/biome_js_type_info/src/format_type_info.rs
  crates/biome_js_type_info/src/type_info.rs
  crates/biome_module_graph/src/js_module_info/binding.rs
  crates/biome_module_graph/src/js_module_info/collector.rs
  crates/biome_module_graph/src/js_module_info/scope.rs
  crates/biome_module_graph/tests/snapshots/test_resolve_merged_namespace_with_type.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_merged_types.snap
  crates/biome_module_graph/tests/snapshots/test_resolve_recursive_looking_country_info.snap
  crates/biome_module_graph/tests/spec_tests.rs
Labels: A-Project, L-JavaScript

#6157 feat(biome_js_analyze): noReactPropAssign
  .changeset/modern-dots-jam.md
  crates/biome_cli/src/execute/migrate/eslint_any_rule_to_biome.rs
  crates/biome_configuration/src/analyzer/linter/rules.rs
  crates/biome_diagnostics_categories/src/categories.rs
  crates/biome_js_analyze/src/lint/nursery.rs
  crates/biome_js_analyze/src/lint/nursery/no_react_prop_assign.rs
  crates/biome_js_analyze/src/options.rs
  crates/biome_js_analyze/tests/specs/nursery/noReactPropAssign/invalid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noReactPropAssign/invalid.jsx.snap
  crates/biome_js_analyze/tests/specs/nursery/noReactPropAssign/valid.jsx
  crates/biome_js_analyze/tests/specs/nursery/noReactPropAssign/valid.jsx.snap
  packages/@biomejs/backend-jsonrpc/src/workspace.ts
  packages/@biomejs/biome/configuration_schema.json
Labels: A-CLI, A-Project, A-Linter, L-JavaScript, A-Diagnostic

#6185 fix: rule `useHookAtTopLevel` issues, improve react components detection
  .changeset/four-needles-bow.md
  crates/biome_js_analyze/src/lint/correctness/use_hook_at_top_level.rs
  crates/biome_js_analyze/src/react/components.rs
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/invalidWrapped.js
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/invalidWrapped.js.snap
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/validNestedObjectProp.js
  crates/biome_js_analyze/tests/specs/correctness/useHookAtTopLevel/validNestedObjectProp.js.snap
Labels: A-Linter, L-JavaScript
